<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><title>Koha &rsaquo;  Labels</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="menus.inc" -->
<!-- TMPL_INCLUDE NAME="menu-labels.inc" -->

<div id="main">
<!-- TMPL_INCLUDE NAME="label-status.inc" -->

<!-- TMPL_IF NAME="layout_loop" -->
<h2>Select a Current Layout</h2>
<form name="input" action="/cgi-bin/koha/labels/label-manager.pl" method="get">
<table>
<tr>
        <th>Layout</th>
        <th>Barcode Type</th>
        <th>Print Type</th>
        <th>Fields to Print</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Active</th>
</tr>
<!-- TMPL_LOOP NAME="layout_loop" -->
<tr>
          <td><!-- TMPL_VAR NAME="layoutname" -->  </td>
       <td>    <!-- TMPL_VAR NAME="barcodetype" -->    </td>
       <td>   <!-- TMPL_VAR NAME="printingtype" -->    </td>

       <td>
                <!-- TMPL_VAR NAME="fieldlist" -->
        </td>

       <td>
                <a href="/cgi-bin/koha/labels/label-edit-layout.pl?layout_id=<!-- TMPL_VAR NAME="id" -->">Edit</a>
        </td>
        <td>
                <a href="/cgi-bin/koha/label-home.pl?op=delete_layout&layout_id=<!-- TMPL_VAR NAME="id"-->">Delete</a>
        </td>
<td>
<input type="radio" name="layout_id" value="<!-- TMPL_VAR NAME="id" -->"  
                <!-- TMPL_IF NAME="active" -->
 checked
                <!-- /TMPL_IF -->
 >
        </td>
</tr>

<!-- /TMPL_LOOP -->
<tr><td colspan="7" align="right">
     <input type="submit" value="Set Active Layout">
        <input type="hidden" name=op value="set_active_layout">
</table>
</form>
<!-- /TMPL_IF -->
<p><a href="/cgi-bin/koha/labels/label-create-layout.pl">Create New Layout</a></p>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

