<!-- TMPL_INCLUDE NAME="head.inc" -->
<!-- TMPL_INCLUDE NAME="body-top.inc" -->
<!-- TMPL_INCLUDE NAME="body-top-catalog.inc" -->

<div id="subTab-1">
	<a href="/cgi-bin/koha/loadmodules.pl?module=search&type=intranet">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/subTab-catalog-search-unselected.png" border="0" />
	</a>
</div>

<div id="subTab-2">
	<a href="/cgi-bin/koha/loadmodules.pl?module=addbiblio&type=intranet">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/subTab-catalog-addBiblio-unselected.png" border="0" />
	</a>
</div>

<div id="subTab-3">
	<a href="/cgi-bin/koha/bull-home.pl">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/subTab-catalog-subscriptions-selected.png" border="0" />
	</a>
</div>

<div id="subTab-4">
	<a href="/cgi-bin/koha/bull/lateissues.pl">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/subTab-catalog-lateIssues-unselected.png" border="0" />
	</a>
</div>

<div id="subTab-5">
	<a href="/cgi-bin/koha/bookshelves/shelves.pl">
		<img src="<!-- TMPL_VAR NAME='themelang' -->/images/subTab-catalog-virtualShelves-unselected.png" border="0" />
	</a>
</div>

<dl>
<dt>Subscriptions: Serials Subscriptions</dt>
<dd>

<div id="main">
<form action="bull-home.pl" method="post">
	<table>
		<caption>Serials Subscriptions</caption>
		<tr>
			<th>Title</th>
			<th>ISSN</th>
			<th colspan="2">&nbsp;</th>
		</tr>
		<tr>
			<td>
				<input type="text" size="40" maxlength="40" name="title" value="<!-- TMPL_VAR name="title" -->">
			</td>
			<td>
				<input type="text" size="11" maxlength="11" name="ISSN" value="<!-- TMPL_VAR name="ISSN" -->">
			</td>
			<td colspan="2">
				<input type="submit" value="Search" class="submit">
			</td>
		</tr>
		<!-- TMPL_IF NAME="subscriptions" -->
		<!-- TMPL_LOOP name="subscriptions" -->
			<!-- TMPL_IF name="toggle" -->
					<tr class="highlight">
				<!-- TMPL_ELSE -->
					<tr>
				<!-- /TMPL_IF -->
				<td><!-- TMPL_IF name="title" --><!-- TMPL_VAR name="title" --><!-- TMPL_ELSE --> |
					<!-- /TMPL_IF --> <!-- TMPL_IF name="notes" -->(<!-- TMPL_VAR name="notes" -->)<!-- /TMPL_IF -->
				</td>
				<td>
					<!-- TMPL_VAR name="ISSN" -->
				</td>
				<td>
					<a href="bull/subscription-detail.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->">Detail</a></td><td><a href="bull/statecollection.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->">Receive</a></td>
			</tr>
		<!-- /TMPL_LOOP -->
		<!-- TMPL_ELSE -->
		<tr><td colspan="3">Enter search terms above to display subscriptions</td></tr>
		<!-- /TMPL_IF -->
	</table></form>
	<p><form action="/cgi-bin/koha/bull/subscription-add.pl" method="get"><input type="submit" class="submit" value="Add Subscription" /></form></p>
</div>


</dd>
</dl>
</body>
</html>

