<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; 
    <!-- TMPL_IF NAME="nopermission" -->Accès refusé<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="timed_out" -->La session a pris fin<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="different_ip" -->Changement d'adresse IP<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="invalid_username_or_password" -->Nom d'utilisateur ou mot de passe invalide<!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="loginprompt" -->Connectez-vous à Koha<!-- /TMPL_IF -->
</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<div id="doc" class="yui-t7">
   <div id="bd">

<div id="login">
<h1><a href="http://koha.org">Koha</a></h1>
<!-- TMPL_IF NAME="nopermission" -->
<div id="login_error"><strong>Erreur</strong>: Utilisateur non autorisé <a href="/cgi-bin/koha/mainpage.pl?logout.x=1">Cliquer pour vous déconnecter</a></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="timed_out" -->
<div id="login_error"><strong>Erreur</strong>: Désolé, votre session a pris fin.Reconnectez-vous</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="different_ip" -->
<div id="login_error"><strong>Erreur</strong>Désolé, votre adresse IP a changé, Reconnectez-vous </div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="invalid_username_or_password" -->
<div id="login_error"><strong>Erreur</strong>: Nom d'utilisateur ou mot de passe invalide</div>
<!-- /TMPL_IF -->

<!-- login prompt time-->
<form action="<!-- TMPL_VAR NAME="url" -->" method="post" name="loginform" id="loginform">
<!-- TMPL_LOOP NAME="INPUTS" -->
    <input type="hidden" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" />
<!-- /TMPL_LOOP -->
<p><label>Nom d'utilisateur : <br />
<input type="text" name="userid" id="userid" class="input focus" value="<!-- TMPL_VAR NAME="userid" -->" size="20" tabindex="1" /></label>
</p>
<p><label>Mot de passe : <br />
<input type="password" name="password" id="password" class="input" value="" size="20" tabindex="2" /></label>
</p>
<p><label for="branch">Site :<br />
<select name="branch" id="branch" class="input">
<!-- TMPL_LOOP NAME="branchloop" -->
<option value="<!-- TMPL_VAR NAME='branchcode' -->"><!-- TMPL_VAR NAME='branchname' --></option>
<!-- /TMPL_LOOP -->
</select></label>
</p>
<!-- <p><label><input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="3" />Remember me</label></p> -->

<p class="submit"><input id="submit" type="submit" value="Connexion &raquo;" tabindex="4"></p>
</form>
<!--<ul> -->
<!--	<li><a href="/cgi-bin/koha/lostpassword.pl" title="Password Lost and Found">Lost your password?</a></li> -->
<!-- </ul> -->

</div>
</div>

<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
