@import url("../../en/lib/yui/reset-fonts-grids.css");
@import url("../../en/lib/yui/skin.css");

a {
	font-weight : bold;
}

a, a:visited {
	color : #006699;
}

a:hover,input.editshelf:hover,a.editshelf:hover,input.deleteshelf:hover {
	color : #990033;
}

body {
	background-color : white;
	text-align : left;
	padding : 0 0 2.5em 0;
}

caption {
	font-size : 140%;
	text-align : left;
	font-weight : bold;
}

fieldset {
	background-color: #FFF;
	border : 2px solid #EEEEEE;
	margin : 1em 1em 1em 0;
	padding : 1em;
}

fieldset.rows {  
border-width : 1px;
border-bottom : 1px solid black;
float : left;
font-size : 90%;
clear : left;
margin: .9em 0 0 0;  
padding: 0;
width: 100%; 
}

fieldset.rows legend {  
	margin-left: 1em;
	font-weight: bold;
	font-size : 110%;
}

fieldset.rows label, fieldset.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 9em;  
	margin-right: 1em;  
	text-align: right;
}

fieldset.rows fieldset {
	border-width : 1px;
	margin : 0;
	padding : .3em;
}

fieldset.rows ol {  
padding: 1em 1em 0 1em;  
list-style-type: none;
}

fieldset.rows li {  
float : left;
clear : left;
padding-bottom: 1em;
list-style-type: none;
width: 100%; 
}

fieldset.rows.left li {
	padding-bottom : .4em;
}

fieldset.rows li.radio {
	padding-left: 9em;
	width : auto;
}

fieldset.rows li.radio label {
	float : none;
	width : auto;
	margin : 0 0 0 1em;
}

fieldset.rows ol.radio label {
	width : auto;
	float : none;
	margin-right : 0;
}

fieldset.rows ol.radio label.radio {
	float : left;
	width : 12em;
	margin-right : 1em;
}

fieldset.rows table {
	clear : both;
	margin-left : 1em;
}

fieldset.rows td label {
	float : none;
	font-weight : normal;
	width : auto;
}

fieldset.holds {
	background-color : #F3F3F3;
	border: 0;
	font-size : 110%;
	padding : 1px;
}

fieldset.holds ol {
	margin : 0;
	padding : 0;
}

fieldset.holds li {
	background-color : #FFF;
	border-bottom : 1px solid #F3F3F3;
	padding : .3em;
}

fieldset.holds label, fieldset.holds span.label {

}

fieldset.action {
	clear : both;
	float : none;
	border : none;
	margin : 0;
	padding : 1em 0 .3em 0;
	width : auto;
}

fieldset.action p {
	margin-bottom : 1em;
}

form {
	display : inline;
	margin : 0;
	padding : 0;
}

h1 {
	font-size : 138.5%;
}

h1#library {
	font-size : 100%;
	font-weight : normal;
	margin : .2em 0 .2em .5em;
} 


h1#libraryname {
	background:transparent url(../../images/koha-logo.gif) no-repeat scroll 0%;
	border: 0;
	float : left !important;
	margin:0;
	padding:0;
	width:120px;
}

h1#libraryname a {
	border:0;
	cursor:pointer;
	display:block;
	height:0px !important;
	margin:0;
	overflow:hidden;
	padding:40px 0 0;
	text-decoration:none;
	width:120px;
}

h1,h2,h3,h4,h5,h6 {
	font-weight : bold;
	margin : .5em 0;
}

h2 {
	font-size : 131%;
}

h2.author {
	text-indent : .5em;
}

h3 {
	font-size : 123.1%;
}

h4 {
	font-size : 116%;
}

h5 {
	font-size : 108%;
}

h6 {
	font-size : 100%;
}

input[type=submit], input[type=button], input[type=reset] {
	background : #b8d0e6 url(../../images/submit-bg.gif) repeat-x 0 0;
	background-color : #b8d0e6;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color : #333;
	font-size : 93%;
	font-weight : bold;
	padding : 4px;
}

input[type=submit]:active, input[type=button], input[type=reset] {
	border: 1px inset #666666;
}

td.resultscontrol {
	background-color : #EEE;
	vertical-align : middle;
	padding : 3px 3px 5px 5px;
}

table {
	background-color: #FFF;
	border-collapse : collapse;
	margin : 1em 0;
	border-right : 1px solid #dddddd;
	border-top : 1px solid #dddddd;
}

td,th {
	background-color: #FFF;
	border-left : 1px solid #dddddd;
	border-bottom : 1px solid #dddddd;
	padding : 3px 5px;
}

th {
	background-color:#EEE;
	font-weight : bold;
	padding : 2px 23px;
	text-align : center;
}

th.sum {
	text-align: right;
}

td.sum {
	background-color: #FFC;
	font-weight: bold;
}

th[scope=row] {
	text-align : right;
}

tr.highlight td, tr.highlight th, tr.odd td {
	background-color : #F3F3F3;
	border : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
}

tr.even td, tr.even.highlight td {
	background-color: #FFF;
}

tr.grouplabel td {
	background-color : #E8E8E8;
	border : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
	text-align : center;
	font-weight : bold;
    padding: 10px;
}

tr.reserved td {
	background-color : #eeffd4;
}
tr.transfered td {
	background-color : #e8f0f6;
}

#editions table, #editions td {
	border : 0;
}

.header {
	background-image:url("../../images/ascdesc.gif");
	background-position:right center;
	background-repeat:no-repeat;
	cursor:pointer;
}
.headerSortUp {
	background-image:url("../../images/asc.gif");
}
.headerSortDown {
	background-image:url("../../images/desc.gif");
}

ul {
	list-style : disc;
	padding-left : 1em;
}

li {
	list-style : disc;
}

p.availability {
	font-size : 87%;
}

.available {
	color : #006600;
}

.waiting,.intransit,.notforloan,.checkedout,.lost,.notonhold {
	display : block;
}
.notforloan {
	color : #900;
}
.lost {
	color : #666;
}
.waiting {
	
}



/* "problem" enhancement */
.problem {
	color : white;
	background-color : red;
}

/* style for search terms in catalogsearch */
.term {
	color : blue;
}

a .term {
	text-decoration : underline;
}

.transfered {
	background-color : #F9FF9A;
}

/* action buttons */
#action {
	margin-top : .5em;
	background-color : #F3F3F3;
	border : 1px solid #E8E8E8;
	padding-bottom : 3px;
}

#action li {
	list-style : none;
	margin : .2em;
	padding : .3em 0;
}

#action a, #toolbar a {
	background-position : 5px center;
	background-repeat : no-repeat;
	text-decoration : none;
	padding-left : 26px;
}

#toolbar ul {
	padding-left : 0;
}

#toolbar ul li {
	display : inline;
	list-style : none;
}

#toolbar ul li a {
	border-left : 1px solid #e8e8e8;
}

#toolbar ul li:first-child a {
	border-left : 0;
}

#action a.reserve, #toolbar a.reserve, .searchresults a.reserve {
	background-image:url(../../images/placereserve.gif);
}

#action a.addtoshelf, #toolbar a.addtoshelf {
	background-image:url(../../images/addtoshelf.gif);
}

#action a.addtocart, #toolbar a.addtocart {
	background-image:url(../../images/cart2.gif);
}

#action a.print, #toolbar a.print {
	background-image:url(../../images/print.gif);
}

#toolbar a.brief {
	background-image: url(../../images/brief.gif);
}

#toolbar  a.detail {
	background-image: url(../../images/detail.gif);
}

#toolbar a.print {
	background-image: url(../../images/print.gif);
}

#toolbar a.hide {
	background-image: url(../../images/close.gif);
}

#toolbar a.send {
	background-image: url(../../images/send.gif);
}
#toolbar a.empty {
	background-image: url(../../images/trash.gif);
}

/* the itemtype list in advanced search */
#advsearch-itemtype table {
	border-collapse : separate;
	border-spacing : 3px;
	border : 0px;
	margin : 0px;
	background-color : white;
	border : 0px solid #D8DEB8;
}

#advsearch-itemtype table tr td {
	background-color : #F8F8EB;
	border : 0px;
	margin : 0px;
	width : 700px;
}

#advsearch-itemtype td {
	font-size : 0.8em;
	background-color : #F8F8EB;
}

#auth {
	float : left;
}

#facets {
	
}

/* the footer */
#footer {
	margin-top : 30px;
	margin-left : 30%;
	margin-right : 20%;
	border-top : 1px solid #384b73;
	color : #384b73;
	font-size : 1em;
	text-align : center;
}

/* facets bloc */
/* the USER information block */
#librarian_information {
	float : right;
	font-size : 10pt;
}

#header-wrapper {
	background-color: #FFF;
}

#holds,#opac-auth {
	min-width : 750px;
	width : 57.69em;
	margin : auto;
}

#members {
	background-color: #fff;
	font-size : 85%;
	margin-left : -10px;
	margin-right : -10px;
	padding : 4px 0 4px 0;
	color : #000066;
}

#members a {
	text-decoration : none;
}

#members a.logout {
	color : #cc3333;
	font-weight : bold;
	padding : 0 .3em 0 .3em;
	text-decoration : none;
}

#members li:first-child {
	border-right : 1px solid black;
}

#members li {
	display : inline;
	list-style : none;
	margin : 0;
	padding : 0 .5em;
}

#members ul {
	margin : 0;
	padding : 0;
	text-align : right;
}

#opac-main-search {
	background-image : url( ../../images/menu-background.gif);
	background-repeat : repeat-x;
	background-color : #739ACF;
	background-position : -10px top;
	border-top : 1px solid #335599;
	border-bottom : 1px solid #335599;
	margin-left : -10px;
	margin-right : -10px;
	padding : .7em 0 .4em .5em;
	position : relative;
	font-size : 108%;
	line-height : 116%;
}

#opac-main-search form {
	display : inline;
	padding-right : 1em;
}

#opac-main-search label {
	color : #FFFFCC;
	font-weight : bold;
	margin : .2em .3em 0 0;
}


#search-facets ul {
	margin : 0;
	padding : .3em;
}

#search-facets {
	border : 1px solid #e8e8e8;
}

#search-facets h4 {
	background-color : #EEE;
	border-bottom : 1px solid #e8e8e8;
	font-size : 90%;
	margin : 0;
	padding : .7em .2em;
	text-align : center;
}

#search-facets ul li {
	font-weight : bold;
	list-style-type : none;
}

#search-facets li li {
	font-weight : normal;
	font-size : 85%;
	margin-bottom : 2px;
	padding : .1em .2em;
}

#search-facets li li a {
	font-weight : normal;
}

#search-facets li.showmore a {
	font-weight : bold;
	text-indent : 1em;
}

.suggestion {
	background-color : #EEEEEB;
	border : 1px solid #DDDED3;
	margin : 10px auto;
	padding : 4px;
	width : 35%;
}

#facets ul {
	margin : 0;
	padding : 0;
}

#facets ul li {
	font-weight : bold;
	text-align : left;
	list-style : none;
}

#facets ul ul li {
	border : 0;
	font-size : 85%;
	font-weight : normal;
	padding : 2px;
	text-align : left;
}

#facets ul ul li a {
	font-weight : normal;
	text-decoration : underline;
}

#facets h4 {
	font-size : 93%;
	padding:3px;
	text-align:center;
	background-color:#E7E7CA;
	line-height:1.8em;
	margin-left:-1px;
	margin-right:-1px;
	margin-top:-1px;
}

#breadcrumbs {
	padding : .7em;
}

p {
	margin: .7em 0;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}

#catalogue_detail_biblio p span.label {  
	font-weight : bold;
}

#catalogue_detail_biblio p, #catalogue_detail_biblio ul {  
	padding-bottom: .6em;
}

#basket {
	display : inline;
}

#bookcover {
	float : left;
	margin : 0;
	padding : 0;
}

#bookcover img {
	margin : 0 1em 1em 0;	
}

fieldset.brief {
	border : 1px solid #E8E8E8;
}

fieldset.brief legend {
	font-weight : bold;
	font-size : 100%;
}

fieldset.brief label {
	display : block;
	padding : .3em 0;
}

fieldset.brief input+input {
	margin-top : 3px;
}

fieldset.brief input, fieldset.brief textarea, fieldset.brief select {	
	background-color: #F3F3F3;
	border-top : 1px solid #979797;
	border-left : 1px solid #979797;
	border-right : 1px solid #DDDDDD;
	border-bottom : 1px solid #DDDDDD;
	font-size : 140%;
	padding : .2em;
	font-weight: normal;
}

fieldset.brief textarea {
	font-size: 105%;
}

fieldset.brief input:focus {
	background-color: #FFFFCC;
}

fieldset.brief ol, fieldset.brief li {
	list-style-type : none;
}

fieldset.brief div.hint, fieldset.rows div.hint {
	color : #666666;
	font-size : 100%;
	margin : .4em;
}

h2 span.hint {
	font-size: 76%;
	font-weight : normal;
}
.thumbnail {
	border : 0;
	float : left;
	margin : 0pt 5px 5px 0pt;
}
a.cancel {
	padding-left : 1em;
}

.resultscontrol, .resultscontrol select {
	font-size: 90%;
}

.cartlist {
	margin-top : 5px;
}

.cartlist input.submit {
	background-color : #d8deb8;
	background-image : none;
	border-color : #bebf84;
	color : #333;
	font-size : 87%;
	padding : 2px 0;
	margin : 0 0 0 0;
}

#CheckAll, #CheckNone {
	font-weight : normal;
	margin : 0 .5em;
}

.resultscontrol label {
	font-weight : bold;
	margin-left : .5em;
}

.resort {
	float : right;
	margin-top : 5px;
}

.searchresults p.details {
	color : #979797;
}

.searchresults p {
	margin: 0;
	padding: 0;
	padding-top : .6em;
}

td.resultscontrol img {
	vertical-align: middle;
}

.searchresults table td {
}

.searchresults table {
	margin : 0;
}

.searchresults td, .searchresults th, .searchresults table {
	border: 0;
}
.searchresults td {
	vertical-align: top;
}

.searchresults tr {
	border-bottom : 1px solid #f3f3f3;
}

.searchresults tr:first-child {
	border : 0;
}

.searchresults table {
	border-top : 0px solid #CCCCCC;
	width : 100%;
}

.searchresults a.reserve, .searchresults a.reserve:visited {
	background-position:left top;
	background-repeat:no-repeat;
	float:right;
	padding:2px 3px 2px 26px;
}

.searchresults a.reserve {
	background-color:transparent;
	color:#006699;
}

.unavailable {
	color: #990033;
}

#libraryname {
	float : left;
	line-height : 2em;
}

#corner {
	float : right;
	line-height : 2em;
}

.pages {
	line-height : 1.8em;
	text-align: center;
}
a:link.current {
	background-color: transparent;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}
a:visited.current {
	background-color: transparent;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:hover.current {
	background-color: #CCFF00;
	color: #CC3333;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:active.current {
	background-color: #99CC00;
	color: #FFFF99;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

.current {
	background-color: #FFFFFF;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:link.nav {
	background-color: #EEE;
	border: 1px solid #CCCC99;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:visited.nav {
	background-color: #EEE;
	border: 1px solid #CCCC99;
	color: #3366CC;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:hover.nav {
	background-color: #FFFFCC;
	border: 1px solid #CCCC99;
	color: #CC3333;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:active.nav {
	background-color: #FFFFCC;
	border: 1px solid #CCCC99;
	color: #D25500;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

/* Tabs */
ul.link-tabs {
	list-style-type: none;
	margin: 9px 0 -2px 5px;
	padding: 0;
}

ul.link-tabs li {
	display: inline;
	padding: 0px;
}

ul.link-tabs li a {
	font-weight: bold;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	border-top: 1px solid #DDDDDD;
	border-left : 1px solid #DDDDDD;
	border-right : 1px solid #666666;
}

ul.link-tabs li#power_formButton a, ul.link-tabs li#proximity_formButton a {
	padding: 2px 4px 3px 4px;
}

ul.link-tabs li.off a {
	background-color: #EEEEEB;
	border-bottom: 1px solid #DDDDDD;
}

ul.link-tabs li.off a:hover {
	padding: 2px 3px 2px 4px;
	background-color: #FFFFEC;
	border-top: 1px solid #BEBF84;
	border-left : 1px solid #BEBF84;
	border-right : 2px solid #333333;
}

ul.link-tabs li.on a {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

ul.link-tabs li a.debit {
	background-color : #FFFF99;
	color : #990033;
}

div.tab-container {
	border : 1px solid #DDDDDD;	
	margin-top : 4px;
	padding : .7em;
	width : 90%;
}

#catalogue_detail_biblio table, #catalogue_detail_biblio td, #catalogue_detail_biblio th {
	background-color : transparent;
	border : 0;
}

tr.overdue td {
	background-color : #ffcccc;
	border-bottom : 1px solid #ffaeae;
	border-right : 1px solid #ffaeae;
	font-weight : bold;
}

td.overdue {
	color : #cc3333;
}

.renewals {
	display:block;
	font-size:0.8em;
	padding:0.5em;
}

table#marc, table#marc td, table#marc th {
	border : 0;
}

table#marc th {
	background-color : transparent;
	text-align : left;
}

table#marc td:first-child {
	text-indent : 2em;
}
#masthead {
float: left;
width: 120px;
}

#fluid {
margin-left: 124px;
margin-top : .4em;
padding-left : 1em;
}

#fluid-offset {
float : right;
width: 100%;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.results_summary {
	display: block;
	font-size : 85%;
	color: #707070;
	padding : 0 0 .5em 0;
}

.results_summary .label {
	color: #202020;
}

.results_summary a {
	font-weight: normal;
}

.actions a {
	margin-left : 1em;
	text-decoration : none;
}

.actions a.hold {
	background : url("../../images/placehold-small.gif") center left no-repeat;
	padding-left : 16px;
}

.actions a.addtocart {
	background : url("../../images/cart-small.gif") center left no-repeat;
	padding-left : 13px;
}

.actions a.addtoshelf {
	background : url("../../images/addtolist-small.gif") center left no-repeat;
	padding-left : 13px;
}

#catalogue_detail_biblio div.results_summary {
	clear :  left;
}
#catalogue_detail_biblio div.results_summary ul {
	display : inline;
	float :  none;
	clear :  none;
	margin: 0;
	padding: 0;
	list-style : none;
}

#catalogue_detail_biblio div.results_summary ul li {
	display : inline;
}

.dialog {
  border: 1px solid #bcbcbc;
	padding : .5em;
	margin : 1em auto;
  width: 65%;
  }
  
.dialog  h2, .dialog h3, .dialog h4 {
  	margin : auto;
	text-align : center;
  }
 
div.alert {
  background : #FFC url(../../images/alert-bg.gif) repeat-x left 0;
  text-align : center;
}

div.alert strong {
	color : #900;
}

div.message {
	background : white url("../../images/message-bg.gif") repeat-x left 0;
   border : 1px solid #bcbcbc;
	width : 55%;
}

#moresearches {
	clear : left;
	color : #000099;
	font-size : 90%;
	line-height : 110%;
	margin : .6em 0 .3em 0;
}

#moresearches a:link, #moresearches a:visited {
	color : #e5ebff;
	font-weight : normal;
	text-decoration : none;
}

#news th {
	text-align : left;
	padding : 3px 5px;
}

#opac-main-search #listsmenu a, #opac-main-search #listsmenu h4 {
	color : #000;
	font-weight : normal;
}
 #opac-main-search #listsmenu h4 {
 	font-size : 90%;
	font-weight : bold;
	margin : 0 .2em; 
 }
 
#opac-main-search #listsmenu .yuimenuitemlabel {
	cursor : pointer;
}

#opac-main-search #listsmenu .bd {
	background-color : #f3f3f3;
	border : 1px solid #739acf;
	background-image : url("../../images/listmenu-container-bg.gif");
	background-position : top right;
	background-repeat : repeat-y;
	padding : .3em 1em 0 0;
}

#opac-main-search #listsmenu .yuimenuitemlabel.selected {
	background-color : #fff;
}

#opac-main-search #listsmenu ul {
	border-color : #b8d0e6;
}

.selectcol {
	vertical-align: top;
	width: 10px;
}
.itypecol {
	vertical-align: top;
	width: 10px;
}
#container {
	color : #000;
}


ul#i18nMenu {
 	margin : 0;
	padding : .2em 0;
 }
 
ul#i18nMenu li {
 	border-left : 1px solid #CCC;
 	display : inline;
	list-style : none;
	padding : 0 10px;
 }
 
ul#i18nMenu li a {
	text-decoration : none;
}
 
ul#i18nMenu li:first-child {
 	border-left : 0;
 }
 
ul#i18nMenu li ul li {
 	border : 0;
 	display : block;
 }
 
 		
ul#i18nMenu li.more a {
	background-image:url(../../images/more-up-arrow.gif);
	background-position:right center;
	background-repeat:no-repeat;
	padding-right:13px;
}
		
ul#i18nMenu li.more ul li a {
	background-image : none;
	padding-right : 20px;
}
 
 div#changelanguage{
	background-color: #fff;
	border-top: 1px solid #CCC;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 1.8em;
 }
 
 @media screen{
  body>div#changelanguage {
   position: fixed;
  }
 }
 
 * html body{
  overflow:hidden;
 } 
 
 * html div#doc1{
  height:100%;
  overflow:auto;
 }
  
 * html div#doc2{
  height:100%;
  overflow:auto;
 }
  
 * html div#doc3{
  height:100%;
  overflow:auto;
 }
 
div#changelanguage a.yuimenuitemlabel {
	color : #006699;
	font-weight : normal;
 }

#cartDetails,#cartUpdate {
	background-color : #FFF;
	border: 1px solid #739acf;
	color : black;
	padding : .3em;
	text-align : center;
}

.yui-panel .hd, .yui-panel .bd, .yui-panel .ft {
	background-color : transparent;
	border : 0;
	padding : inherit;
}

#login #userid, #login #password {
	width : 98%;	
}

#opac-main-search input.submit {
	background : #b8d0e6 url(../../images/submit-bg.gif) repeat-x 0 0;
	background-color : #b8d0e6;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color : #333;
	font-weight : normal;
	font-size : 80%;
	padding : 2px;
}

div#menu {
	border-right : 1px solid #979797;
	font-size : 94%;
	margin-right : .5em;
	padding-top : 1em;
	padding-bottom : 2em;
}

div#menu li a {
	text-decoration : none;
	display : block;
	background : #EEE url(../../images/side-tab-gradient.gif) repeat-y top right;
	border : 1px solid #979797;
	font-size : 111%;
	margin : .5em 0;
	padding : .4em .3em;
	margin-right : -1px;
}

div#menu li a:hover {
	background : #E8F0F6 url(../../images/side-tab-gradient-hover.gif) repeat-y top right;
}

div#menu li.active a:hover {
	background-color : #fff;
	color : #0000CC;
}

#menu ul li {
	list-style-type : none;
}

#menu ul li.active a {
	background-color : #FFF;
	background-image : none;
	border-right : 0;
	font-weight : bold;
}

.left {
	float : left;
}

.right {
	float : right;
}

#searchsubmit {
	cursor : default;
	font-size : 87%;
	font-weight :  normal;
	margin-top : 0;
	margin-left :  .2em;
	padding: 2px 2px 1px 2px;
}

#export,#further,#similars, .detailtagcell {
	margin-top : .5em;
	background-color : #F3F3F3;
	border : 1px solid #E8E8E8;
	font-size : 76%;
	padding : 3px;
	text-align : center;
}

#export label, .detailtagcell label {
	display : block;
	font-weight : bold;
	font-size : 110%;
	margin-bottom : 2px;
}

#export input, .detailtagcell input {
	padding : 2px;
}

#further {
	text-align : left;
	font-size : 95%;
	padding : 3px 3px .5em 1em;
}

#further ul li {
	list-style-image : url("../../images/further-bullet.gif");
}

#similars {
	background-color : #FFF;
    text-align : center;
    font-size : 95%;
    padding : 0 3px 3px 3px;
}

#similars ul {
	margin : 0;
	padding : 0;
}

#similars li {
	list-style : none;
	margin : 0;
	padding : 0;
}

#similars li a {
	display : block;
}

#amazonreviews h4 {
	font-size : 90%;
	margin : 0;
	padding : 0;
}
#amazonreviews h3 {
	font-size : 100%;
	margin : 0;
	padding : 0;
}
span.starFull {
	background: url(../../images/star-ratings.gif) top left no-repeat;
	display : block;
	height: 10px;
	margin: 0;
	padding: 0;
}

span.starMT {
	background: url(../../images/star-ratings-empty.gif) top left no-repeat;
	display : block;
	height: 10px;
	margin: 0 10px 0 10px;
	padding: 0;
	position: relative;
	width: 50px;
}

#cartmenulink, #listsmenulink {
	display : block;
	position : relative;
	background : #aaa;
	padding : 5px;
	float : left;
	color : #333;
	text-decoration : none;
	cursor : pointer;
}

 #cartmenulink *, #listsmenulink * {
	font-style : normal;
	background-image : url(../../images/button-background.png);
	background-repeat : no-repeat;
	display : block;
	position : relative;
}

 #cartmenulink i, #listsmenulink i {
	background-position : top left;
	position : absolute;
	margin-bottom : -5px;
	top : 0;
	left : 0;
	width : 5px;
	height : 5px;
}

 #cartmenulink span, #listsmenulink span {
	background-position : bottom left;
	left : -5px;
	padding : 0 0 5px 10px;
	margin-bottom : -5px;
}
/* For IE7 */
 *:first-child+html #cartmenulink span { padding-top : 3px; padding-bottom : 7px; }
 *:first-child+html #listsmenulink span { padding-top : 5px; }

 #cartmenulink span i, #listsmenulink span i {
	background-position : bottom right;
	margin-bottom : 0;
	position : absolute;
	left : 100%;
	width : 10px;
	height : 100%;
	top : 0;
}

 #cartmenulink span span, #listsmenulink span span {
	background-position : top right;
	position : absolute;
	right : -10px;
	margin-left : 10px;
	top : -5px;
	height : 0;
}

* html #cartmenulink span, * html #cartmenulink i, * html #listsmenulink span, * html #listsmenulink i {
	float : left;
	width : auto;
	background-image : none;
	cursor : pointer;
}
* html #cartmenulink span, * html #listsmenulink span {
	padding-top : 5px;
}
#listsmenulink {
	background : #9FBFFF;
}

#cartmenulink {
	background : #98CB58;
	color : #336600;
	font-size : 105%;
}

#cartmenulink[class], #listsmenulink[class] {
	background-image : url(../../images/button-background-gradient.png);
	background-position : left top;
}

#listsmenulink:hover {
	background-color : #b8d0e6;
}

#cartmenulink:hover {
	background-color : #BFDE96;
}

#cartmenulink img {
	background-image : none;
	display : inline;
	padding : 3px 3px 0 3px;
}

#cartmenulink span#basket {
	background-image : none;
	float : none;
	display : inline;
	height : auto;
	position : relative;
	margin : 0;
	padding : 0;
	left : auto;
	right : auto;
	top : auto;
}

#cartmenulink span#basket span {
	background-image : none;
	background-color : #E6FCB7;
	color : #000;
	display : inline;
	float : none;
	font-size : 80%;
	font-weight : normal;
	margin : 0 0 0 .9em;
	padding : 0 .3em 0 .3em;
	position : relative;
	left : auto;
	right : auto;
	top : auto;
}

a#listsmenulink, a#listsmenulink:hover {
	color : #006699;
	font-size : 105%;
	font-weight : bold;
	line-height : 185%;
	margin-left : 1.5em;
}

a#cartmenulink, a#cartmenulink:hover {
	color : #336600;
	font-size : 105%;
	font-weight : bold;
	line-height : 185%;
	margin-left : 1.5em;
}
* html a#cartmenulink {
	padding-top: 0;
}
 * html a#cartmenulink:hover {
	padding-top : 0;
}
/* For IE7 */
*:first-child+html a#listsmenulink { padding-top : 0; }
*:first-child+html a#listsmenulink:hover { padding-top : 0; }
*:first-child+html a#cartmenulink { padding-top : 0; }
*:first-child+html a#cartmenulink:hover { padding-top : 0; }
*:first-child+html #cartmenulink span i{ top : -4px; }
*:first-child+html #listsmenulink span i { top : -5px; }

#listsmenulink img {
	background-image : none;
	display : inline;
	padding : 0 0 2px 0;
}

* html #cartmenulink {
	border : 1px solid #336600;
}

* html #listsmenulink {
	border : 1px solid #006699;
}

ul.ui-tabs-nav li {
	margin-right : .5em;
}

ul.ui-tabs-nav li a, ul.ui-tabs-nav li span.a {
	background-color : #F3F3F3;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 0;
	padding : .2em 1em;
	text-align : center;
	text-decoration : none;
}

ul.ui-tabs-nav li.ui-tabs-selected a, ul.ui-tabs-nav li.ui-tabs-selected span.a {
	background-color : #FFF;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 1px solid #FFF;
	margin-bottom : -5px;
	text-align : center;
}

#views {
	border-bottom : 1px solid #E8E8E8;
}

#views h1 {
	display : inline;
	margin-right : .7em;
	margin-bottom : 1em;
}

.views {
	white-space : nowrap;
}

#bibliodescriptions {
	clear : left;
	margin-top : .5em;
}

a#MARCview, span#MARCview, a#MARCviewPop, a#ISBDview, span#ISBDview, a#Normalview, span#Normalview {
	background-position : 5px 3px;
	background-repeat : no-repeat;
	font-size : 87%;
	font-weight : normal;
	padding : .2em .5em;
	text-decoration: none;
}

a#MARCview, span#MARCview {
	background-image : url(../../images/marc.gif);
	padding-left : 17px;
}
a#MARCviewPop, span#MARCviewPop {
    background-image : url(../../images/marc.gif);
    padding-left : 17px;
}
a#ISBDview, span#ISBDview {
	background-image : url(../../images/isbd.gif);
	padding-left : 20px;
}
a#Normalview, span#Normalview {
	background-image : url(../../images/normal.gif);
	padding-left : 15px;
}

a#MARCview, a#ISBDview, a#Normalview {
	background-color : #F3F3F3;
	border-left : 1px solid #E8E8E8;
}

#shelfbrowser table {
	margin : 0 20px;
}
#shelfbrowser table, #shelfbrowser td, #shelfbrowser th {
	border : 0;
	font-size : 90%;
	text-align : center;
}
#shelfbrowser a {
	font-size : 110%;
}
#shelfbrowser td, #shelfbrowser th {
	vertical-align : bottom;
	width : 20%;
}
#shelfbrowser td.top {
	vertical-align : top;
}
#shelfbrowser a {
	display : block;
}
a.new {
	background : transparent url("../../images/new.gif") center left no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	margin:0pt 0.5em;
	padding-left : 15px;
	text-decoration : none;
}
input.editshelf,a.editshelf {
	background : transparent url("../../images/shelf-edit.gif") center left no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	margin:0pt 0.5em;
	padding-left : 15px;
	text-decoration : none;
}
input.newshelf,a.newshelf {
	background : transparent url("../../images/shelf-new.gif") center left no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	margin:0pt 0.5em;
	padding-left : 15px;
	text-decoration : none;
}
input.deleteshelf {
	background : transparent url("../../images/shelf-delete.gif") center left no-repeat;
	border : 0;
	color : #006699;
	cursor : pointer;
	font-size : 100%;
	margin:0pt 0.5em;
	padding-left : 13px;
}

input.editshelf:active,input.deleteshelf:active {
	border : 0;
}

#comments .commentline {
	border-bottom : 2px solid #eeeeeb;
	margin : 0 -.5em 0 -.5em;
	padding : 0 .5em .5em .5em;
}
#comments .yours {
	background-color : #effed5;
}
#comments #addcomment {
	margin : 0 -1em -1em -1em;
	padding : .3em 1em;
}
input.tagbutton {
	padding : 1px !important;
}
table#items th {
	padding : 2px;
}
#action {
	margin-top: 0;
}
