@import url("/opac-tmpl/prog/en/lib/yui/reset-fonts-grids.css");  

a {
	font-weight : bold;
}

a, a:visited {
	color : #006699;
}

a:hover {
	text-decoration : none;
	color : #990033;
}

body {
	background-color : white;
	text-align : left;
}

caption {
	font-size : 140%;
	text-align : left;
	font-weight : bold;
}

fieldset {
	border : 2px solid #EEEEEE;
	margin : 1em 1em 1em 0;
	padding : 1em;
}

fieldset.rows {  
border-width : 1px;
border-bottom : 1px solid black;
float : left;
font-size : 90%;
clear : left;
margin: .9em 0 0 0;  
padding: 0;
width: 100%; 
}

fieldset.rows legend {  
	margin-left: 1em;
	font-weight: bold;
	font-size : 110%;
}

fieldset.rows label, fieldset.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 9em;  
	margin-right: 1em;  
	text-align: right;
}

fieldset.rows fieldset {
	border-width : 1px;
	margin : 0;
	padding : .3em;
}

fieldset.rows ol {  
padding: 1em 1em 0 1em;  
list-style-type: none;
}

fieldset.rows li {  
float : left;
clear : left;
padding-bottom: 1em;
list-style-type: none;
width: 100%; 
}

fieldset.rows.left li {
	padding-bottom : .4em;
}

fieldset.rows li.radio {
	padding-left: 9em;
	width : auto;
}

fieldset.rows li.radio label {
	float : none;
	width : auto;
	margin : 0 0 0 1em;
}

fieldset.rows ol.radio label {
	width : auto;
	float : none;
	margin-right : 0;
}

fieldset.rows ol.radio label.radio {
	float : left;
	width : 12em;
	margin-right : 1em;
}

fieldset.rows table {
	clear : both;
	margin-left : 1em;
}

fieldset.rows td label {
	float : none;
	font-weight : normal;
	width : auto;
}

fieldset.action {
	clear : both;
	float : none;
	border : none;
	margin : 0;
	padding : 1em 0 .3em 0;
	width : auto;
}

h1 {
	font-size : 138.5%;
}

h1#libraryname {
	font-weight : normal;
	margin : .2em 0 .2em .5em;
}

h1#libraryname a {
	text-decoration : none;
}

h1#libraryname a:hover {
	color : #384B73;
}

h1,h2,h3,h4,h5,h6 {
	font-weight : bold;
	margin : .5em 0;
}

h2 {
	font-size : 131%;
}

h2.author {
	text-indent : .5em;
}

h3 {
	font-size : 123.1%;
}

h4 {
	font-size : 116%;
}

h5 {
	font-size : 108%;
}

h6 {
	font-size : 100%;
}

input[type=submit], input[type=button], input[type=reset] {
	background-color : #6BA037;
	color : #FFFFFF;
	font-weight : bold;
	padding : 2px;
}

p.searchresults {
	background-color : #EFF1DC;
}

table {
	border-collapse : collapse;
	margin : 1em 0;
	border-right : 1px solid #dddddd;
	border-top : 1px solid #dddddd;
}

td,th {
	border-left : 1px solid #dddddd;
	border-bottom : 1px solid #dddddd;
	padding : 3px 5px;
}

th {
	background-color:#EFF1DC;
	font-weight : bold;
	padding : 2px 4px;
}

th.sum {
	text-align: right;
}

td.sum {
	background-color: #FFC;
	font-weight: bold;
}

th[scope=row] {
	text-align : right;
}

tr.highlight td, tr.highlight th {
	background-color : #F3F3F3;
	border : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
}

ul {
	list-style : disc;
	padding-left : 1em;
}

li {
	list-style : disc;
}

.available {
	font-size : 0.75em;
}

.inwait {
	background-color : #33CC99;
}

/* css styles for reserves color alerts */
.onloan {
	background-color : #FFED3D;
}

.other {
	background-color : #FF0000;
}

/* "problem" enhancement */
.problem {
	color : white;
	background-color : red;
}

.reserved {
	background-color : #8EBAFF;
}

/* style for search terms in catalogsearch */
.term {
	background-color : #ffffe0;
	color : #990033;
}

a .term {
	text-decoration : underline;
}

.transfered {
	background-color : #F9FF9A;
}

.unavailable {
	background-color : #FFED3D;
}

/* action buttons */
#action {
	margin-top : .5em;
}

#action li {
	list-style : none;
}

#action a {
	background-color : #F3F3F3;
	border : 1px solid #E8E8E8;
	display : block;
	margin : .2em;
	padding : .5em;
	text-decoration : none;
}

/* the itemtype list in advanced search */
#advsearch-itemtype table {
	border-collapse : separate;
	border-spacing : 3px;
	border : 0px;
	margin : 0px;
	background-color : white;
	border : 0px solid #D8DEB8;
}

#advsearch-itemtype table tr td {
	background-color : #F8F8EB;
	border : 0px;
	margin : 0px;
	width : 700px;
}

#advsearch-itemtype td {
	font-size : 0.8em;
	background-color : #F8F8EB;
}

#auth {
	float : left;
}

#facets {
	
}

/* the footer */
#footer {
	margin-top : 30px;
	margin-left : 30%;
	margin-right : 20%;
	border-top : 1px solid #384b73;
	color : #384b73;
	font-size : 1em;
	text-align : center;
}

/* facets bloc */
/* the USER information block */
#librarian_information {
	float : right;
	font-size : 10pt;
}

#members {
	font-size : .8em;
	font-weight : bold;
	padding : 4px 0 4px 0;
	background-image : url(../../images/member-menu-background.gif);
	background-repeat : repeat-x;
	border-top : 1px solid #9999CC;
	border-bottom : 1px solid #9999CC;
	background-color : #AFBCCF;
	color : #000066;
}

#members a {
	text-decoration : none;
}

#members a.card {
	background-image : url(../images/card.gif);
	background-position : left;
	background-repeat : no-repeat;
	display : block;
	padding-left : 39px;
}

#members a.logout {
	font-weight : bold;
	padding : 0 .3em 0 .3em;
	text-decoration : none;
}

#members a.logout:link, #members a.logout:visited, #members a.logout:hover, #members a.logout:active {
	background-image : url(../images/member-menu-background-logout.gif);
	background-repeat : repeat-x;
	color : #000000;
}

#members a:hover.logout {
	background-image : url(../images/member-menu-background-logout-hover.gif);
	background-repeat : repeat-x;
	color : #000000;
}

#members li {
	display : inline;
	list-style : none;
	margin : 0;
}

#members ul {
	margin : 0;
	padding : 0;
	text-align : right;
}

#members ul li a:link, #members ul li a:visited, #members span.members {
	background-image : url(../images/member-menu-background-link.gif);
	background-repeat : repeat-x;
	border-left : 1px solid #9999CC;
	color : #006699;
}

#members ul li a:link, #members ul li a:visited, #members ul li a:hover, #members ul li a:active, #members span.members {
	padding : 4px;
}

#members ul li a:hover {
}

#members ul li a:hover, #members ul li a:active {
	background-image : url(../images/member-menu-background-hover.gif);
	background-repeat : repeat-x;
}

#members ul li:last-child {
}

#members ul li:last-child a {
	border-right : 1px solid #9999CC;
}

#opac-main-search {
	background-image : url( /opac-tmpl/prog/images/menu-background.gif);
	background-repeat : repeat-x;
	background-color : #6699CC;
	border-top : 1px solid #335599;
	border-bottom : 1px solid #335599;
	padding : 15px 0 15px 10px;
	color : #FFFFCC;
	font-size : 108%;
	line-height : 116%;
}

#opac-main-search a, #opac-main-search a, #opac-main-search a:visited {
	color : #FFFFCC;
}

#opac-main-search a:hover {
	color : #FFFFFF;
}

#opac-main-search form {
	display : inline;
}

#opac-main-search label {
	font-weight : bold;
}

/***********************************************************/
/* the user menu, for user option (and biblio detail view) */
/***********************************************************/

.suggestion {
	background-color : #EEEEEB;
	border : 1px solid #DDDED3;
	margin : 10px auto;
	padding : 4px;
	width : 35%;
}

#facets ul {
	margin : 0;
	padding : 0;
}

#facets ul li {
	font-weight : bold;
	text-align : left;
	list-style : none;
}

#facets ul ul li {
	border : 0;
	font-size : 85%;
	font-weight : normal;
	padding : 2px;
	text-align : left;
}

#facets ul ul li a {
	font-weight : normal;
	text-decoration : underline;
}

#facets h4 {
	font-size : 93%;
	padding:3px;
	text-align:center;
	background-color:#E7E7CA;
	line-height:1.8em;
	margin-left:-1px;
	margin-right:-1px;
	margin-top:-1px;
}

#breadcrumbs {
	padding : .7em;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}

#catalogue_detail_biblio {
	font-size : 90%;
	clear : left;
	margin: .9em 0 0 0;  
	padding: 0;
	width: 100%; 
}

#catalogue_detail_biblio p span.label {  
	float: left;  
	font-weight : bold;
	width: 11em;  
	margin-right: 1em;  
}

#catalogue_detail_biblio p {  
	float : left;
	clear : left;
	padding-bottom: .3em;
	list-style-type: none;
	width: 100%; 
}

#catalogue_detail_biblio p span.biblionotes {
	margin-left : 6em;
}

.toptabs {
	margin-top : 1em;
}

.toptabs .tabs-nav a, .toptabs .tabs-nav span.a {
    top: 0;
 }

.toptabs .tabs-nav li {
	margin-right : .5em;
}

.toptabs .tabs-nav li a, .toptabs .tabs-nav li span.a {
	background-color : #F3F3F3;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 0;
	text-align : center;
	text-decoration : none;
}

.toptabs .tabs-nav li.tabs-selected  {
	background-color : #FFF;
}

.toptabs .tabs-nav li.tabs-selected a, .toptabs .tabs-nav li.tabs-selected span.a {
	background-color : #FFF;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 1px solid #FFF;
	margin-bottom : -5px;
	padding-bottom : 5px;
	text-align : center;
}

.toptabs.numbered .tabs-nav li {
	min-width : 3em;
}

.toptabs .tabs-container {
	border : 1px solid #E8E8E8;
	padding : 1em;
}

.tabs-container {
    border-top: 0;
    padding : inherit;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

#bookcover {
	padding : 1em;
	margin : 0 1em 1em 0;
	float : left;
}

fieldset.brief {
	border : 1px solid #E8E8E8;
}

fieldset.brief label {
	display : block;
	font-weight : bold;
	padding : .3em 0;
}

fieldset.brief ol, fieldset.brief li {
	list-style-type : none;
}

fieldset.brief div.hint, fieldset.rows div.hint {
	color : #999999;
	font-size : 95%;
	margin-bottom : .4em;
}

#menu {
	margin-top: 1em;
}

h2 span.hint {
	font-size: 76%;
	font-weight : normal;
}
.thumbnail {
	border : 0;
	float : left;
	margin : 0pt 5px 5px 0pt;
}
a.cancel {
	padding-left : 1em;
}