a:link {
	color : #000066;
	text-decoration: none;
}

a:visited {
	color : #000066;
	text-decoration: none;
}

a:hover {
	color : #993300;
	text-decoration: none;
}

body {
	background-color : #FFF;
	color : #333333;
	font-family : arial, geneva, sans-serif;
	font-size : 14px;
	margin : 0px 0px 0px 0px;
}

caption {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-top : 5px;
	text-align : left;
}

div.table {
	width : 100%;
}

form {
	margin : 0px;
	padding : 0px;
}

h1
	{
	color : #000066;
	font-size : 22px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h2 {
	color : #000066;
	font-size : 20px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h3 {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h4 {
	color : #000066;
	font-size : 16px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h5 {
	color : #000066;
	font-size : 15px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

h6 {
	color : #000066;
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

p {
	margin-top : 0px;
}

table {
	background-color : #FFFFFF;
	border-bottom : 0px solid #CCCCCC;
	border-collapse : collapse;
	border-left : 0px solid #CCCCCC;
	margin : 3px 0px 5px 0px;
	padding : 0px;
	width : 99%;
}

td {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	padding : 5px 5px 5px 5px;
	vertical-align : top;
}

td:last-child {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0px solid #CCCCCC;
	padding : 5px 5px 5px 5px;
	vertical-align : top;
}

th {
	background-color : #E9E9E9;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

th:last-child {
	background-color : #E9E9E9;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0px solid #CCCCCC;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

tr.highlight {
	background-color: #e9e9e9;
}

body#basket tr.highlight {
	background-color : transparent;
}

body#basket a {
	font-weight : bold;
}

body#basket table, body#basket td, body#basket th {
	background-color : transparent;
	border : 0;
	padding : 2px;
}

body#basket th {
	text-align : right;
	vertical-align : top;
	width : 10%;
}

body#basket p {
	font-size : 85%;
	margin : .2em 0;
	text-indent : .5em;
}

.error {
	font-weight: bold;
}

.ex {
	font-family : "Courier New", Courier, monospace;
}
.inline {
	display : inline;
}

.screen {
	display : none;
}

#bookcover {
	float:left;
	margin:0pt;
	padding:0pt;
}

#members,#opac-main-search,#opac-user-views .ui-tabs-nav,input,div.yui-b,h2 span.hint,td.resultscontrol,.pages,.suggestion,.views,#action,#export,#bibliodescriptions .ui-tabs-nav,#addshelf,fieldset.action {
	display : none;
}
div#yui-main div.yui-b {
	display : block;
}

div#userupdate input,div#userupdate textarea {
	display : inline;
	border : 0;
}