/* Adjust text directions */
body,
body #doc,
#doc2,
#doc3,
#doc4,
.yui-t1,
.yui-t2,
.yui-t3,
.yui-t4,
.yui-t5,
.yui-t6,
.yui-t7
{
   text-align:right;
   direction: rtl;
}

caption,
table#marc th
{
   text-align: right;
}

/* Swap floats */


body#advsearch #cartmenulink,
body#advsearch #listsmenulink,
#renewcontrols,
.commentline .avatar,
.resort,
.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main
{
   float: left;
}
.ui-tabs .ui-tabs-nav li,
div.lang,
fieldset.rows label,
fieldset.rows span.label,
#auth,
#bookcover,
.left,
.nav_results ul.pg_menu li,
.ui-tabs-nav li,
.yui-g div.first,
.yui-gc div.first,
.yui-gc div.first div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first,
.yui-t1 .yui-b
{
   float: right;
}

h1#libraryname
{
   float: right !important;
}

#fluid-offset
{
   float: none;
}

/* Adjust margins, padding, alignment and table-element widths */

div#menu li a
{
   margin-left: -1px;
}

.yui-t1 #yui-main,
.yui-t1 #yui-main .yui-b,
.yui-t2 #yui-main,
.yui-t3 #yui-main
{
   margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
   margin-left: 0.5em;
}

.results_summary .label
{
   margin-left: 0.5em;
}


ul.pg_menu li,
.author,
.nav_results
{
   margin-right: 0.5em;
}

#usershowreviews
{
   margin-right: 15em;
}

#moresearches
{
   margin: .6em 10em .3em 0;
}

#menu ul
{
   padding-left:0;
}

#custom-doc,
#opac-main-search
{
   padding-right: 2em;
}

.nav_results .l_Results a
{
   padding: 8px 3px 8px 28px;
}

body#advsearch #moresearches
{
   clear:none;
}

span.koha_url
{
   left: 2em;
   right:auto;
}

.yui-u first
{
   right: 15em;
}

table#marc td:first-child
{
   width: 15em;
}

.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main {
   width: 80%;
}

/* Borders */

div#menu {
   border-right: 0;
   border-left: 1px solid #979797;
}

#menu ul li.active a {
   border-left: 0;
   border-right: 1px solid #979797;
}

/* flip over breadcrumb image */

h3 img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}


#moresearches {
    clear: right;
}

#cartmenulink, #listsmenulink {
    float: right;
    margin-right: 1em;
    margin-left: 0em;
}

#listsmenulink {

    background-image: url("../../images/sprite.png"), -moz-linear-gradient(center top , rgb(215, 229, 255) 0%, rgb(177, 203, 255) 50%, rgb(159, 191, 255) 100%);

    background-position: -5px -287px, left top;

    padding-left: 20px;
}
#listsmenulink:hover {
    background-position: -5px -287px, left top;
}

#cartmenulink {
    padding-right: 30px;
    background-position: 20px -256px, left top;
    padding-left: 13px;
}
#cartmenulink:hover {
    background-position: 20px -256px, left top;
}
.lang {
float:right;

}
.morelang,
li.more {
float:right;
}

ul#i18nMenu li {
    border-right: 1px solid rgb(204, 204, 204);
}
div.rating-cancel, div.star-rating {
    float: right;
}


#shelfbrowser #browser_previous {
    background-position: -9px -1051px;
}

#shelfbrowser #browser_next {
    background-position: -9px -1001px;
}
