@import url("../../en/lib/yui/reset-fonts-grids.css");
@import url("../../en/lib/yui/skin.css");

a {
	font-weight : bold;
}

a, a:visited {
	color : #006699;
}

a:hover,input.editshelf:hover,a.editshelf:hover,input.deleteshelf:hover {
	color : #990033;
}

body {
	background-color : white;
	text-align : left;
	padding : 0 0 2.5em 0;
}

caption {
	font-size : 110%;
	text-align : left;
	font-weight : bold;
}

fieldset {
	background-color: #FFF;
	border : 2px solid #EEEEEE;
	margin : 1em 1em 1em 0;
	padding : 1em;
}

h1,h2,h3,h4,h5,h6 {
	font-weight : bold;
	margin : .5em 0;
}

h1 {
	font-size : 138.5%;
}

h2 {
	font-size : 134%;
}

h3 {
	font-size : 123.1%;
}

h4 {
	font-size : 116%;
}

h5 {
	font-size : 108%;
}

h6 {
	font-size : 100%;
}

input[type=submit], input[type=button], input[type=reset] {
	background : #b8d0e6 url(../../images/submit-bg.gif) repeat-x 0 0;
	background-color : #b8d0e6;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color : #333;
	font-size : 93%;
	font-weight : bold;
	padding : 4px;
}

input[type=submit]:active, input[type=button], input[type=reset] {
	border: 1px inset #666666;
	float : none;
}
.dialog {
  border: 1px solid #bcbcbc;
	padding : .5em;
	margin : 1em auto;
  width: 65%;
  }
  
.dialog  h2, .dialog h3, .dialog h4 {
  	margin : auto;
	text-align : center;
  }
 
div.alert {
  background : #FFC url(../../images/alert-bg.gif) repeat-x left 0;
  text-align : center;
}

div.alert strong {
	color : #900;
}

.dialog input {
 	background : #FFF none;
 	border : 1px solid #bcbcbc;
	margin : .4em;
	padding : .4em;
 }

 
.dialog input.back {
 	background : #FFF url(../../famfamfam/silk/arrow_left.png) no-repeat 4px center;
	padding : .4em .4em .4em 25px;	
 }
 
.dialog input.return {
 	background : #FFF url(../../famfamfam/silk/book_previous.png) no-repeat 4px center;
	padding : .4em .4em .4em 25px;	
 }
 
.dialog input.renew {
 	background : #FFF url(../../famfamfam/silk/arrow_refresh.png) no-repeat 4px center;
	padding : .4em .4em .4em 25px;	
 }
 
.dialog input.cancel {
 	background : #FFF url(../../famfamfam/silk/cancel.png) no-repeat 4px center;
	padding : .4em .4em .4em 25px;	
 }

input.finish {
	background : #dbe7ff url(../../famfamfam/silk/stop.png) no-repeat 4px center;
	border : 1px outset #666;
	padding : .2em .2em .2em 25px;
}
 
table {
	background-color: #FFF;
	border-collapse : collapse;
	margin : 1em 0;
	border-right : 1px solid #dddddd;
	border-top : 1px solid #dddddd;
}

td,th {
	background-color: #FFF;
	border-left : 1px solid #dddddd;
	border-bottom : 1px solid #dddddd;
	padding : 3px 3px;
}

th {
	background-color:#EEE;
	font-weight : bold;
	padding : 2px 23px;
	text-align : center;
}

tr.highlight td, tr.highlight th, tr.odd td {
	background-color : #F3F3F3;
   border-top : 1px solid #DDDDDD;
   border-bottom : 1px solid #DDDDDD;
}

tr.even td, tr.even.highlight td {
	background-color: #FFF;
}

p {
	margin: .7em 0;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}
#borrowerdetails {
	margin-top : 1em;
}
#barcode,
#userid {
	font-size : 125%;
	padding-bottom : 3px;
}
input.focus {
	background-color : #FFC;
	border : 2px inset #336699;
}
#checkouthelp {
	background : #FFF url("../../famfamfam/silk/help.png") no-repeat 4px center;
	padding : 3px 3px 3px 26px;
	position : absolute;
	top : 0;
	right : 0;
}
div.button {
	float : left;
	margin-top : 2em;
	padding : .4em 0;	
}
div.button a:link,
div.button a:visited,
div.button a:hover,
div.button a:active {
 	background : #FFF url(../../famfamfam/silk/book_previous.png) no-repeat 4px center;
	border : 1px outset #666;
	color : #000;
	padding : .4em .4em .4em 25px;	
	text-decoration : none;
}
div.button a:active {
	border : 1px inset #666;
}