input.focus {
	background-color: #FFF;
	border-bottom: 2px dashed #993300;
}

input.unfocus {
	background-color : #FFF;
}

div.sco_head { 
  font-weight: bold;
  width: 75%;
  margin: 15px auto;
  padding-left: 10px;
}

div#sco_main {
	text-align: center;
	}
div#newcheckout {
/*	margin : 20px 30px;
/*  text-align: center;
*/  padding: 10px 10px 10px 40px;
/*  width: 80%;
/*  min-width: 300px;
*/  } 

div#checkout h3 {
/*  background: url(/opac-tmpl/npl/en/sco/images/checkout-top-right.gif) top right no-repeat;
/*  border : 1px solid yellow;*/
  font-size:1.3em;
  padding: 15px 15px 0px 15px;
  margin:0;
  }

div#borrowerdetails {
  margin: 10px 5px 5px 5px;
  }
  
div#borrowerdetails h2 {
  font-style: italic;
  border-bottom: 1px;
  border-color: red;
  margin: 5px;
  }

.submit {
 font-size: smaller;
 }

.sco_entry {
	background-color : #FFE;
	text-align: left;
	width : 75%;
	margin: 15px auto;!important
	padding: 10px;
	border : 2px solid #CC3333;	
}

p.checkout {
/*  background: url(/opac-tmpl/npl/en/sco/images/checkout-right.gif) top right repeat-y;
/*  border : 1px solid lime;*/
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  }

div#checkouthelp p {
  text-align: center;
 
}
div#checkoutfooter {
/*  background: url(/opac-tmpl/npl/en/sco/images/checkout-bottom-left.gif) bottom left no-repeat;
*/  border-top : 1px solid red;
  }
div#footerbody {
/*  background: url(/opac-tmpl/npl/en/sco/images/checkout-bottom-right.gif) bottom right no-repeat;
*/  padding:15px;
  display:block;
  margin: -1.1em 0 0 0;
  }
  
 input.confirm {
	background-color: #009900;
	color : #FFFFCC;
	font-weight: bold;
}

input.reject {
	background-color: #CC3333;
	color : #FFFFCC;
	font-weight: bold;
} 

div.sco_head p.alert {
	width: 50%;
	font-weight: bold;
	background-color : #FFFF99;
	font-size : 105%;
	margin: 5px auto;
	margin-bottom : 15px;
	padding: 5px;
	border :1px solid #CC3333;	
 }
p.alert a{
	font-weight: bold;
}
div.error {
	background-color : #FFFF99;
	font-size : 105%;
/*	width : 50%;
*/	margin: 5px auto;
	margin-bottom : 15px;
	padding: 5px;
	border : 2px dashed #CC3333;	
}

div.error h3 {
	color: #CC3333;
	font-size : 110%;
	padding-left : 63px;
	height : 46px;
}

div.error p {
	margin-top : 0px;
	margin-left : 10px;
}

div#footerbody p {
	background-color : #EFF1DC;
	font-size : 80%;
	width : 60%;
	margin: 5px auto;
	padding: 3px;
	border : 1px dashed #CCCC99;
	text-align: center;
}

div#complete {
	float : right;
	border : 0px solid lime;
}

div#complete input {
	background-color : #009900;
	color : #FEEDDB;
	font-family : verdana,arial,hevetica;
	font-size : small;
	font-weight : bold;
	margin: 0;
	padding : 2px 32px 2px 2px;	
}

div#abort {
	margin: 5px auto;
	border : 0;
	text-align : center;
}

div#abort input, .warning input {
	background-color : #993300;
	color : #FEEDDB;
	font-family : verdana,arial,hevetica;
	font-size : small;
	font-weight : bold;
	margin: 0;
	padding : 2px 32px 2px 2px;	
}

.warning-header {
	display : block;
	color: #CC3333;
	font-size : 110%;
}

input.back {
	background-color : #936;
	color : #ffffcc;
	font-family : verdana,arial,hevetica;
	font-size : small;
	font-weight : bold;
	margin: 0;
	padding : 2px 2px 2px 32px;	
}

p.checkout .warning {
	display : block;
	padding : 15px;
	margin : 10px;
	margin-bottom : 15px;
	background-color : #FFFFCC;
	border : 3px dashed #cc0000;
}
