Шановний <!-- TMPL_VAR NAME="LibraryName" --> відвідувач, Ви запропонували, щоб бібліотека придбала <!-- TMPL_VAR name="title" --><!-- TMPL_IF name="author" --> за <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->. Ми раді інформувати Вас, що одиниця - зараз вже є частиною бібліотечної колекції. Якщо Ви маєте будь-які питання, будь-ласка, вишліть їх електронічною поштою нам на <!-- TMPL_VAR name="libemail" -->. Спасибі, <!-- TMPL_VAR NAME="LibraryName" -->