body {
  background-color:#ffffff;
  font-family:verdana,arial,helvetica, san-serif;
  margin:0px;
  padding:0px;
  }


a {color:#BF470A ;
   font-weight: bold;
}


a:visited {color:#BF740A}

a:hover {
  color:#000000;
  background:#E3A46D;
  }

a.button:hover {
  background:transparent;
  }

h1 {font-family:verdana,arial,helvetica;font-size:180%;color:#A88050}

h2 {font-family:verdana,arial,helvetica;font-size:160%;color:#A88050;margin-bottom:0px;padding-bottom:0px}

h3 {font-family:verdana,arial,helvetica;font-size:130%;color:#614523;margin-bottom:0px;padding-bottom:0px}


.botnav a:link {
  font-family:verdana,arial,helvetica;
  font-size:10pt;
  color:#41622F;
  font-weight: normal;
  }

.botnav a:visited {
  color:#909E88;
  font-family:verdana,arial,helvetica;
  font-size:10pt;  
  font-weight: normal;
  }


.botnav a:hover {
  color:#000000;
  background:#E3A46D;
  }


p {font-family:verdana,arial,helvetica;font-size:small}
td {font-family:verdana,arial,helvetica;font-size:small}
ul {font-family:verdana,arial,helvetica;font-size:small}
ol {font-family:verdana,arial,helvetica;font-size:small}
li {font-family:verdana,arial,helvetica;font-size:small}
.main {font-family:verdana,arial,helvetica;font-size:small}
input {font-family:monospace;font-size:12px}
.navhead {font-weight:bold}


.sidenav a:link {
  font-size:9pt;
  color:#41622F;
  margin-bottom:3pt;
  font-weight: normal;
  }

.sidenav a:visited {
  font-size:9pt;
  color:#41622F;
  margin-bottom:3pt;
  font-weight: normal;
  }


.sidenav a:hover {
  color:#000000;
  background:#E3A46D;
  }


.crumb {
   color:#000000;
   font-weight: normal;
   }

.crumb a:link {
   color:#41622F;
   font-weight: normal;
   }

.crumb a:visited {
   color:#909E88; 
   font-weight: normal;
   }


.crumb a:hover {
  color:#000000;
  background:#E3A46D;
  }


.search {font-family:verdana,arial,hevetica;font-size:7.5pt;font-weight:bold}