body {
  background-color:#ffffff;
  font-family:verdana,arial,helvetica, san-serif;
  margin:0px;
  padding:0px;
 }


a {color:#BF470A ;
   font-weight: bold;
}

a:visited {color:#BF740A}

a:hover {
  color:#000000;
  }

a.button:hover {
  background:transparent;
  }

h1 {font-family:arial,helvetica;font-size:180%;color:#A88050}

.head1
{
font-family:arial,helvetica;
font-size:180%;
line-height:35px;
color:#A88050
}

.head1bold
{
font-family:arial,helvetica;
font-size:180%;
line-height:35px;
color:#A88050;
font-weight:bold;
color:#A88050
}

h2 {
font-family:arial,helvetica;
font-size:160%;
color:#A88050;
margin-bottom:0px;
padding-bottom:0px;
}
.head2{
font-family:arial,helvetica;
font-size:160%;
color:#A88050;
margin-bottom:0px;
padding-bottom:0px
}

.head2bold
{
font-family:arial,helvetica;
font-size:160%;
color:#A88050;
margin-bottom:0px;
padding-bottom:0px;
font-weight:bold;
}

h3 {font-family:arial,helvetica;font-size:130%;color:#614523;margin-bottom:0px;padding-bottom:0px}


.botnav a:link {
  font-family:verdana,arial,helvetica;
  font-size:10pt;
  color:#41622F;
  font-weight: normal;
  }

.botnav a:visited {
  color:#909E88;
  font-family:verdana,arial,helvetica;
  font-size:10pt;  
  font-weight: normal;
  }


.botnav a:hover {
  color:#000000;
  background:#E3A46D;
  }

td {
  font-family:verdana,arial,helvetica;
  font-size:12px;
}

p,ul,ol,li {
  font-family:verdana,arial,helvetica;
  font-size:12px;
  line-height: 20px;
}

.main {font-family:verdana,arial,helvetica;font-size:12px;}
input {font-family:monospace;font-size:12px}
.navhead {font-weight:bold}

.sidenav {
  font-size:9pt;
  line-height: 13px;
  color:#41622F;
  margin-bottom:3pt;
  font-weight: normal;
  }


.sidenav a:link {
  font-size:9pt;
  line-height: 13px;
  color:#41622F;
  margin-bottom:3pt;
  font-weight: normal;
  }

.sidenav a:visited {
  font-size:9pt;
  color:#41622F;
  margin-bottom:3pt;
  font-weight: normal;
  }


.sidenav a:hover {
  color:#000000;
  background:#E3A46D;
  }


.crumb {
   color:#000000;
   font-weight: normal;
   }

.crumb a:link {
   color:#41622F;
   font-weight: normal;
   }

.crumb a:visited {
   color:#909E88; 
   font-weight: normal;
   }


.crumb a:hover {
  color:#000000;
  background:#E3A46D;
  }


.search {font-family:verdana,arial,hevetica;font-size:7.5pt;font-weight:bold}

.heading4 {font-family:arial,helvetica;
font-size:110%;
color:#614523;
font-weight:bold;
margin-bottom:0px;
padding-bottom:0px}

 input.checkbox
{font-family:monospace;
font-size:25px;
size:25px;
height:25px;
width:25px;
}
.small {font-size:90%;
font-family: arial,helvetica;
margin-bottom:3pt;
}

.tiny {font-size:x-small;
font-family: arial,helvetica;
}


.pink{
background-color:#FEEDDB;
padding: 5px;
}

.plain{
padding: 5px;}

.tan{
background-color:#A88050;}

.selected{
color:#C96029;
font-weight:bold;
padding: 3px;
}

.selected-lge{
color:#C96029;
font-size:120%;
font-family: arial,helvetica;
font-weight:bold;
padding:3px;
}

.padded{
padding: 5px;
 font-size:12px;
}

.dk-brown{
background-color:#4E300C;}

.green{
background-color:#E0EBDD;}

.search-number {
    font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
text-decoration: none;
 width: 17px;
height: 17px;
line-height: 25px;
padding: 2px;
border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
  border-style: solid;
  border-color: #354E27;
    }
.selected-number {
    font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
text-decoration: none;
background-color:#FEEDDB;
 width: 17px;
height: 17px;
line-height: 25px;
padding: 2px;
border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
  border-style: solid;
  border-color: #354E27;
    }
.selected-box {
   background-color:#E3A46D;
padding:0px;
    }

.green-box {
background-color: #344E26;
  font-family:verdana,arial,hevetica;
font-size:small;
font-weight:bold;
color: #FEEDDB;
  border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 4px;
  border-style: solid;
  border-color: #667755;
    }

.brown-box {
background-color:#A88050;
color: #FEEDDB;
font-family:verdana,arial,hevetica;
font-size:small;
font-weight:bold;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
 border-top: 1px;
padding: 4px;
  border-style: solid;
  border-color: #817567;
    }
.table-heading {
background-color:#D7AB7A;
   font-family:verdana,arial,hevetica;
font-size:small;
font-weight:bold;
 padding: 5px;
       }
.white-box {
background-color:#ffffff;
    border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 0px;
  border-style: solid;
  border-color: #4E300E;
    }
.fines-box {
background-color:#E3A46D;
    border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 0px;
  border-style: solid;
  border-color: #4E300E;
    }