<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	<h1>Домівка надходжень</h1>
	<p>Ви на домашній сторінці надходжень. Все починається з книгопродавця. Якщо Ви хочете створити замовлення, або отримати книги, Ви повинні ввести ім'я постачальника або код. Якщо Ви хочете створити нового постачальника, введіть його ім'я так чи інакше і Ви зможете створити його на наступному екрані</p>
	<p>Ви також знайдете на цьому екрані:</p>
	<ul>
		<li>Обмінний курс для всіх валют. Ви можете змінити його, якщо потрібно. Пам'ятайте, що Коха не отримує їх автоматично</li>
		<li>У блоці пропозицій, Ви зможете подивитися, скільки пропозицій Вам доведеться перевірити (прийняти чи відхилити). Звичайно, якщо Ви не активізували пропозиції (у параметрах >> systempreferences (системні_налаштування)), Ви не матимете нічого у цьому блоці.</li>
		<li>Останій блок, що називається витрати та фонди показує Вам короткий звіт про витрати. Щоб з'явитися на цій сторінці входження повинно бути активним на сьогоднішню дату. Так, якщо книжковий фонд зникає, йдіть у параметри >> bookfunds (книжкові фонди) та перевірте, що Ваші витрати не закриті на дату</li>
	</ul>
	<h2>Визначення</h2>
	<ul>
		<li><b>Поличка замовлень</b> - група замовлень, які відправлені одночасно даному постачальникові. Поличка замовлень використовується при надходженні книги.</li>
		<li><b>Пакет</b> це група отриманих книжок, що є у тому ж пакеті. Пакет використовується при надходженні книжок.</li>
	</ul>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->