<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	<h1>Сторінка списку постачальників надходжень</h1>
	<p>Ця сторінка показує список постачальників. Для кожного постачальника Ви маєте: 
	<ul>
		<li>Ім'я постачальника. Ви можете бачити всі деталі, клацнувши на його імені<li>
		<li>Кнопка для створення нового замовлення</li>
		<li>Кнопка для перегляду всіх існуючих отриманих пакетів та створення нових.</li>
		<li>Список всієї полички замовлень, пов'язаної з цим постачальником. Ви можете розглядати або додавати рядки на кожній пличці замовлень в залежності від її статусу (закрито або ж ні). Поличка замовлень закривається як не показуватиметься більш ніж 6 місяців.</li>
	</ul>
	<p>В кінці сторінки є кнопка для створення нового постачальника</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->