<!-- TMPL_INCLUDE name="help-top.inc" -->
<h1>Надходження: деталі про пакет</h1>
<p>Сторінки показує вміст пакету</p>
<p>1-ий блок містить список вже отриманих одиниць</p>
<p>Друга коробка містить список замовлень від цього постачальника все ще неповністю отриманих. Ви можете додати елемент у пакет відбором у цьому списку, або шукати його за isbn/заголовком</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->
