<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Reports</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="header.inc" -->

<!-- TMPL_INCLUDE NAME="menu-reports.inc"-->

<!-- Additions to enable Calendar system -->
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-system.css" />
<!-- End of additions --><!-- Additions to enable Calendar system -->
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-en.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-setup.js"></script>
<!-- End of additions -->

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">

<!-- TMPL_IF NAME="do_it" -->
<script language="JavaScript" type="text/javascript">
function Dopop(link) {
	newin=window.open(link,'width=500,height=400,toolbar=false,scrollbars=yes');
}
</script>


	<!-- TMPL_LOOP NAME="mainloop" -->
		<h1>Top <!-- TMPL_VAR NAME="limit"--> List patrons for Checkouts</h1>
		<!-- TMPL_IF NAME="loopfilter"-->
			<p>Filtered on</p>
			<!-- TMPL_LOOP NAME="loopfilter" -->
					<p><!-- TMPL_IF NAME="err" -->  <!--/TMPL_IF --> <!-- TMPL_VAR NAME="crit"--> =<!-- TMPL_VAR NAME="filter"--><!-- TMPL_IF NAME="err" -->  <!--/TMPL_IF --></p>
			<!-- /TMPL_LOOP -->
		<!-- /TMPL_IF NAME="loopfilter"-->
		
		<table>
			<tr >
				<th>Rank/Patronss</th>
				<!-- TMPL_LOOP NAME="loopcol" -->
					<th colspan="2"><!-- TMPL_VAR NAME="coltitle" --></th>
				<!-- /TMPL_LOOP -->
			</tr>
			<tr >
				<th>&nbsp;</th>
				<!-- TMPL_LOOP NAME="loopcol" -->
					<th>Patron</th>
					<th>Issues count</th>
				<!-- /TMPL_LOOP -->
			</tr>
				<!-- TMPL_LOOP NAME="looprow" -->
					<tr>
						<!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td><!-- /TMPL_IF -->
						<!-- TMPL_VAR NAME="rowtitle" --></td>
						<!-- TMPL_LOOP NAME="loopcell" -->
							<!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td ><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="reference" --><a href="javascript:Dopop('../members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="reference" -->')" ><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="value" --><!-- TMPL_VAR NAME="value" --><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="reference" --></a><!-- /TMPL_IF -->
							</td>
							<!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td ><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="count" --><!-- TMPL_VAR NAME="count" --><!-- /TMPL_IF -->
							</td>
						<!-- /TMPL_LOOP -->
					</tr>
				<!-- /TMPL_LOOP NAME="looprow" -->
		</table>
	<!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->
	<h1>Patrons who checked out the most items</h1>
	<form method="post">
	
	<table>
		<thead>
			<tr>
			<th>Limit to </th>
			<th>By </th>
			<th colspan="2">Filters</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select name="Limit">
						<option value ="5" selected="selected"> 5</option>
						<option value ="10">10</option>
						<option value ="15">15</option>
						<option value ="20">20</option>
	<!--					<option value ="25">25</option>
						<option value ="40">40</option>
						<option value ="50">50</option>
						<option value ="100">100</option>-->
					</select>
				</td>
				<td>
					<select name="Criteria">
						<option value ="" selected="selected">None</option>
						<option value ="issuingbranch">Branch</option>
						<option value ="categorycode">Categorycode</option>
						<option value ="itemtype">Itemtype</option>
						<option value ="Day">Day</option>
						<option value ="Week">Week</option>
						<option value ="Month">Month</option>
						<option value ="Year">Year</option>
					</select>
				</td>
			</tr>
			
			<tr class="hilighted">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Issue date</td>
				<td> From <input type="text" readonly="readonly" size="10" id="from" name="Filter" />
							<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" border="0" id="openCalendarFrom" style="cursor: pointer;" valign="top" />
								<script language="JavaScript" type="text/javascript">
									function validate1(date) {
										var day = date.getDate();
										var month = date.getMonth() + 1;
										var year = date.getFullYear();
										var weekDay = date.getDay();
										var dayMonth = month + '-' + day;
										var dateString = year + '-' + month + '-' + day;
										var dateTo = document.getElementById('to').value.split("-");
										var limitDate = new Date(dateTo[0], (dateTo[1] - 1), dateTo[2]);
										if (date > limitDate) {
											return true;
										} else {
											return false;
										}
									}
					
									Calendar.setup(
										{
											inputField : "from",
											ifFormat : "%Y-%m-%d",
											button : "openCalendarFrom",
											disableFunc : validate1,
											dateStatusFunc : validate1
										}
									);
								</script>
					To <input readonly="readonly" size="10" id="to" name="Filter" value="" type="text" />
						<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="openCalendarTo" style="cursor: pointer;" alt="" border="0" />
							<script type="text/javascript">
								function validate2(date) {
									var day = date.getDate();
									var month = date.getMonth() + 1;
									var year = date.getFullYear();
									var weekDay = date.getDay();
									var dayMonth = month + '-' + day;
									var dateString = year + '-' + month + '-' + day;
									var dateFrom = document.getElementById('from').value.split("-");
									var limitDate = new Date(dateFrom[0], (dateFrom[1] - 1), dateFrom[2]);
									if (limitDate > date) {
										return true;
									} else {
										return false;
									}
								}
		
								Calendar.setup(
									{
										inputField : "to",
										ifFormat : "%Y-%m-%d",
										button : "openCalendarTo",
										disableFunc : validate2,
										dateStatusFunc : validate2
									}
								);
							</script>
				</td>
			</tr>
			<tr>
				<td> &nbsp;</td>
				<td> &nbsp;</td>
				<td>Returns</td>
				<td > From <input type="text" readonly="readonly" size="10" id="fromRO" name="Filter" />
							<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" border="0" id="openCalendarFromRO" style="cursor: pointer;" alt="" />
								<script language="JavaScript" type="text/javascript">
									function validate1(date) {
										var day = date.getDate();
										var month = date.getMonth() + 1;
										var year = date.getFullYear();
										var weekDay = date.getDay();
										var dayMonth = month + '-' + day;
										var dateString = year + '-' + month + '-' + day;
										var dateTo = document.getElementById('toRO').value.split("-");
										var limitDate = new Date(dateTo[0], (dateTo[1] - 1), dateTo[2]);
										if (date > limitDate) {
											return true;
										} else {
											return false;
										}
									}
					
									Calendar.setup(
										{
											inputField : "fromRO",
											ifFormat : "%Y-%m-%d",
											button : "openCalendarFromRO",
											disableFunc : validate1,
											dateStatusFunc : validate1
										}
									);
								</script>
					To <input type="text" readonly="readonly" size="10" id="toRO" name="Filter" value="" />
						<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="openCalendarToRO" style="cursor: pointer;" alt="" border="0" />
							<script type="text/javascript">
								function validate2(date) {
									var day = date.getDate();
									var month = date.getMonth() + 1;
									var year = date.getFullYear();
									var weekDay = date.getDay();
									var dayMonth = month + '-' + day;
									var dateString = year + '-' + month + '-' + day;
									var dateFrom = document.getElementById('fromRO').value.split("-");
									var limitDate = new Date(dateFrom[0], (dateFrom[1] - 1), dateFrom[2]);
									if (limitDate > date) {
										return true;
									} else {
										return false;
									}
								}
		
								Calendar.setup(
									{
										inputField : "toRO",
										ifFormat : "%Y-%m-%d",
										button : "openCalendarToRO",
										disableFunc : validate2,
										dateStatusFunc : validate2
									}
								);
							</script>
				</td>
			</tr>
			<tr class="hilighted">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Branch</td>
				<td><input type="text" name="Filter" value="" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Document Type</td>
				<td><input type="text" name="Filter" value="" /></td>
			</tr>
			<tr class="hilighted">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Patron Category</td>
				<td><input type="text" name="Filter" value="" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Day</td>
				<td><input type="text" name="Filter" value="" /></td>
			</tr>
			<tr class="hilighted">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Month</td>
				<td><input type="text" name="Filter" value="" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>Year</td>
				<td><input type="text" name="Filter" value="" /></td>
			</tr>
		</tbody>
	</table>
	
	
		<h3> Output </h3>
		<input type="radio" checked name="output" value="screen" /> To screen into the browser
		
		<input type="radio" name="output" value="file" /> To file <input type="text" name="basename" value="Export" /> into an application  
		<!-- TMPL_VAR NAME="CGIextChoice" -->
		<!-- TMPL_VAR NAME="CGIsepChoice" -->

	<input type="submit" value="OK" />
	<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
	<input type="hidden" name="do_it" value="1" />
	</form>
<!-- /TMPL_IF -->
</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="mainmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
