# koha-worker@.service
# /etc/systemd/system/koha-worker@.service
[Unit]
Description=Koha Task Queue Worker
After=syslog.target network.target

[Service]
User=%i-koha
Environment=PERL5LIB=/usr/share/koha/lib
Environment=KOHA_CONF=/etc/koha/sites/%i/koha-conf.xml
ExecStart=/usr/share/koha/bin/workers/background_jobs_worker.pl
Restart=on-failure
RestartSec=5s
StartLimitBurst=3
StartLimitInterval=60
SyslogIdentifier=%i-koha-worker

[Install]
WantedBy=multi-user.target
