.CodeMirror .CodeMirror-code pre {
    padding-bottom: 1px !important; 
    border-bottom: 1px solid black !important;
}

.pages .nav:before {
  display: inline;
}

.pages .nav:after {
  display: inline;
}

#holds-table tr td:last-child, #holds-table tr th:last-child {
  display:none !important;
}


/* remove item search link from top menu */

.container-fluid #toplevelmenu .dropdown ul.dropdown-menu li:last-child {
    display: none!important;
}

/* remove the item search link from the advanced search page*/
div#advanced-search p:first-of-type {
    visibility: hidden;
}

/* enhance 'suppressed in opac' */
.suppressed_opac {
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
}
/*KOHA-1092:*/
#catalog_results #selection_ops .btn-group {display:none;}
#catalog_advsearch #sortby {display:none;}
#catalog_advsearch #searchterms #scan {display:none;}
#catalog_advsearch #searchterms label[for='scan'] {display:none;}
#ser_subscription-detail #subscription_info ol li:nth-child(5) {display:none}
#acq_basket #addtoBasket ul li:nth-child(2) {display:none;}
#acq_basket #addtoBasket ul li:nth-child(3) {display:none;}
#acq_basket #addtoBasket ul li:nth-child(5) {display:none;}
#acq_basket #addtoBasket ul li:nth-child(7) {display:none;}
#pat_pay #paycollect  {display:none;}
#bd .patronlibrary  {display:none;}
#bd #changepassword  {display:none;}
#pat_moremember #patron-alternate-address {display:none;}
#pat_moremember #patron-alternate-address + div  {display:none;}
#pat_moremember #patron-alternative-contact {display:none;}
#pat_moremember #patron-alternative-contact + div  {display:none;}