[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Cataloging authority plugin</title>
[% INCLUDE 'doc-head-close.inc' %]
<style type="text/css">
#custom-doc { width:51.46em;*width:50.17em;min-width:675px; margin:auto; text-align:left; } 
</style>

</head>
<body id="auth_auth_finder" class="auth">
<div id="custom-doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">

<h1>Authority search</h1>
[% INCLUDE 'auth-finder-search.inc' %]

	</div>
	</div>
   </div>
</div>
</div>

[% MACRO jsinclude BLOCK %]
    <script type="text/javascript">
        var index = "[% index %]";
        var authtypecode = "[% authtypecode %]";
    </script>
    <script type="text/javascript" src="[% interface %]/[% theme %]/js/auth-finder-search.js"></script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' popup_window = 1 %]
