<!-- TMPL_INCLUDE NAME="cat-top.inc" -->
<center>
<!-- TMPL_IF name="BARCODE_EXISTS" -->
	<font color=red>條碼 <b><!-- TMPL_VAR name="barcode" --></b> 已在使用中。</font><p>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="ITEM_ERROR" -->
	<font color=red>錯誤：<!-- TMPL_VAR name="error" --></font><p>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="ITEM_CREATED" -->
	<table border=1 align=center cellpadding=10>
		<tr><td bgcolor=yellow>
			已新增條碼為 <!-- TMPL_VAR name="barcode" --> 的圖書資料
		</td></tr>
	</table>
<!-- /TMPL_IF -->
<h1>主清單</h1>
<ul>
<!-- FIXME - The "$ENV{SCRIPT_NAME}" is evidently left over from when this
     was in Perl.
  -->
<li><a href=$ENV{'SCRIPT_NAME'}?menu=z3950>Z39.50查詢</a>
<!-- FIXME - The "$ENV{SCRIPT_NAME}" is evidently left over from when this
     was in Perl.
  -->
<li><a href=$ENV{'SCRIPT_NAME'}?menu=uploadmarc>上載機讀格式記錄</a>
</ul>
<!-- TMPL_INCLUDE NAME="cat-bottom.inc" -->
