<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Adhérents Catalogue &rsaquo; <!-- TMPL_IF NAME="unknowuser" -->L'adhérent n'existe pas<!-- TMPL_ELSE -->Détail adhérent pour  <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="yui-toolbars.inc" -->
<script type="text/javascript">
//<![CDATA[
function confirm_deletion() {
    var is_confirmed = window.confirm('Click OK to confirm deletion');
    var borrowernumbervalue=document.form.borrowernumber.value; 
   
    if (is_confirmed) {
            window.location='/cgi-bin/koha/members/deletemem.pl?member='+borrowernumbervalue+'';
    }
}

function confirm_reregistration() {
    var is_confirmed = window.confirm('Click OK to confirm renewal');
    var borrowernumbervalue1=document.form.borrowernumber.value;
    if (is_confirmed) {
    window.location='/cgi-bin/koha/members/moremember.pl?reregistration=y&borrowernumber='+borrowernumbervalue1+'';
    }
}
//]]>
</script>
</head>
<body class="yui-skin-sam">
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="members-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl"> Accueil </a> &rsaquo;<a href="/cgi-bin/koha/members/members-home.pl">Adhérents</a> &rsaquo; <!-- TMPL_IF NAME="unknowuser" -->L'adhérent n'existe pas<!-- TMPL_ELSE -->Détail adhérent pour  <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)<!-- /TMPL_IF --> </div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
<!-- TMPL_INCLUDE NAME="circ-toolbar.inc" -->

<div class="yui-g" style="border : 1px solid #CCCCCC;">
<!-- TMPL_IF NAME="unknowuser" -->
    Cet adhérent n'existe plus.
<!-- TMPL_ELSE -->

<!-- TMPL_IF NAME="reregistration" --><div class="message">La carte a été renouvellée jusqu'au <!-- TMPL_VAR NAME="dateexpiry" -->déclarée perdue.</div><!-- /TMPL_IF -->
<form action="" name="form">
<input type="hidden" name="reregistration" value="<!-- TMPL_VAR NAME="reregistration"-->" /> 
<input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
</form>

<!-- TMPL_IF NAME="flagged" -->
    <ul>
        <!-- TMPL_IF NAME="debarred" -->
            <li>L'adhérent est suspendu
            <form class="inline compact" action="/cgi-bin/koha/members/setdebar.pl" method="post">
                <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
                <input type="hidden" name="status" value="0" />
                <input type="submit" value="Réactiver adhérent">
            </form>
            </li>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="gonenoaddress" --><li>L'adresse de l'adhérent semble erronée.</li><!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="lost" --><li>La carte a été déclarée perdue.</li><!-- /TMPL_IF -->
    </ul>

<!-- /TMPL_IF -->


 <div class="yui-u first" style="border-right : 1px solid #CCCCCC;">
<div id="patron-information" style="padding : .5em;">
<h3>
    <!-- TMPL_UNLESS NAME="I" -->
   <!-- TMPL_VAR NAME="title" --> <!-- TMPL_VAR NAME="firstname" --> <!-- /TMPL_UNLESS --> <!-- TMPL_VAR NAME="surname" --></h3> <!-- TMPL_UNLESS NAME="I" --><!-- TMPL_IF NAME="othernames" -->"<!-- TMPL_VAR NAME="othernames" -->"<!-- /TMPL_IF -->  <p><!-- TMPL_VAR NAME="streetnumber" -->
        <!--TMPL_IF NAME="roaddetails"-->
         <!-- TMPL_VAR NAME="roaddetails" -->,
        <!-- /TMPL_IF -->
        <!-- TMPL_VAR NAME="address" --><br />
        <!-- TMPL_IF NAME="address2" --><!-- TMPL_VAR NAME="address2"--><br /><!-- /TMPL_IF -->
    	<!-- TMPL_IF NAME="city" --><!-- TMPL_VAR NAME="city" --><!-- /TMPL_IF -->
    	<!-- TMPL_IF NAME="zipcode" --><!-- TMPL_VAR NAME="zipcode" --><!-- /TMPL_IF --></p>
		    
	<p><!-- TMPL_UNLESS NAME="I"-->
			<!-- TMPL_IF NAME="phone" --><strong>Accueil : </strong><!-- TMPL_VAR NAME="phone" --><br /><!-- /TMPL_IF -->
		    <!-- TMPL_IF NAME="mobile" --><strong>Mobile :  </strong><!-- TMPL_VAR NAME="mobile" --><br /><!-- /TMPL_IF -->
		    <!-- TMPL_IF NAME="phonepro" --><strong>Travail : </strong><!-- TMPL_VAR NAME="phonepro" --><br /><!-- /TMPL_IF -->
		<!-- /TMPL_UNLESS -->
		   <!-- TMPL_IF NAME="I" -->
  <!-- TMPL_IF NAME="phonepro" --><strong>Téléphone collectivité :  </strong><!-- TMPL_VAR NAME="phonepro" --><br /><!-- /TMPL_IF -->
  <!-- TMPL_IF NAME="emailpro" --><strong>Email de la collectivité :  </strong><!-- TMPL_VAR NAME="emailpro" --><br /><!-- /TMPL_IF -->
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="P"-->
   <!-- TMPL_IF NAME="phone" --> <strong>Téléphone professionnel :  </strong><!-- TMPL_VAR NAME="phone" --><br /><!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="mobile" --><strong>Portable professionnel :  </strong><!-- TMPL_VAR NAME="mobile" --><br /><!-- /TMPL_IF -->
    <!-- /TMPL_IF -->   	
	<!-- TMPL_IF NAME="fax" --><strong>Fax :  </strong><!-- TMPL_VAR NAME="fax" --><br><!-- /TMPL_IF -->
</p>    <!-- TMPL_UNLESS NAME="I"-->
    <p><a href="mailto:<!-- TMPL_VAR NAME="email" -->"><!-- TMPL_VAR NAME="email" --></a><!--TMPL_IF Name="emailpro"-->, <a href="mailto:<!-- TMPL_VAR NAME="emailpro" -->"><!-- TMPL_VAR NAME="emailpro" --></a><!--/TMPL_IF--></p>
    <!-- /TMPL_UNLESS -->
    <p><strong>Initiales :  </strong><!-- TMPL_VAR NAME="initials" --></p>
    <p><strong>Date de naissance</strong><!-- TMPL_VAR NAME="dateofbirth" --></p>
    <p><strong>Sexe : </strong><!-- TMPL_VAR NAME="sex" --></p><!-- /TMPL_UNLESS -->
    <!-- TMPL_IF NAME="printethnicityline" -->
    <p><strong>Ethnie : </strong><!-- TMPL_VAR NAME="ethnicity" --></p>
    <p><strong>Note sur l'ethnie :  </strong><!-- TMPL_VAR NAME="ethnotes" --></p>
    <!-- /TMPL_IF -->
   <!-- TMPL_IF name="isguarantee" -->
            <!-- TMPL_IF NAME="guaranteeloop" -->
                <p><strong>Cautions : </strong><ul><!-- tmpl_loop name="guaranteeloop" --><li><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="name" -->  </a></li><!-- /tmpl_loop --></ul></p>
            <!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_IF name="guarantorborrowernumber" -->
                <p><strong>Garant : </strong><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="guarantorborrowernumber" -->"><!-- TMPL_VAR NAME="guarantorsurname" --> <!-- TMPL_VAR NAME="guarantorfirstname" --></a></p>
            <!-- /TMPL_IF -->
     <!-- /TMPL_IF  -->
  
    
  
            <a class="member-edit" href="memberentry.pl?op=modify&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;step=1">Modifier</a>
</div>

<div id="patron-alternate-address" style="padding : .5em;">
    <h3>Autre adresse</h3>
    <!-- TMPL_UNLESS NAME="I"-->
      <!-- TMPL_UNLESS NAME="C"-->
  <p><strong>Autre adresse :  </strong><!-- TMPL_VAR NAME="B_address" --></p>
      <p><strong>Autre ville : </strong><!-- TMPL_VAR NAME="B_city" --></p>
      <p><strong>Autre code postal : </strong><!-- TMPL_VAR NAME="B_zipcode" --></p>
  <!-- /TMPL_UNLESS -->
    <!-- /TMPL_UNLESS -->
 
     <!-- TMPL_IF NAME="C" -->
    <p><strong>Nom :  </strong><!-- TMPL_VAR NAME="contactname" --></p>
    <p><strong>Prénom :  </strong><!-- TMPL_VAR NAME="firstname" --></p>    
    <p><strong>Téléphone :  </strong><!-- TMPL_VAR NAME="phone" --></p>
    <p><strong>Email :  </strong><!-- TMPL_VAR NAME="email" --></p>
    <p><strong>Relation :  </strong><!-- TMPL_VAR NAME="relationship" --></p>
   <!-- /TMPL_IF -->
       
    <a class="member-edit" href="memberentry.pl?op=modify&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;step=2">Modifier</a>
</div>


</div>
 <div class="yui-u"> 
 <div id="patron-library-details" style="padding : .5em;">
 <h3>Droit d'accès</h3>
 <ul>
    <li><strong>Numéro d'adhérent : </strong><!-- TMPL_VAR NAME="borrowernumber" --></li>
    <li><strong>Catégorie :  </strong><!-- TMPL_VAR NAME="description" --> (<!-- TMPL_VAR NAME="categorycode" -->)</li>
    <li><strong>Date d'inscription :  </strong><!-- TMPL_VAR NAME="dateenrolled" --></li>
    
    <li><strong>Date d'expiration </strong>
    <!-- TMPL_IF NAME="reregistration" -->
            <strong class="reregistrinfo"><!-- TMPL_VAR NAME="dateexpiry" --></strong>
    <!--TMPL_ELSE-->
            <!-- TMPL_VAR NAME="dateexpiry" -->
    <!-- /TMPL_IF -->
    </li>
    
    <li><strong>Site d'inscription :  </strong><!-- TMPL_VAR NAME="branchname" --></li>

    <!-- TMPL_IF NAME="sort1" --><li><strong>Champ de tri 1 :  </strong><!-- TMPL_VAR NAME="sort1" --></li><!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="sort2" --><li><strong>Champ de tri 2 : </strong><!-- TMPL_VAR NAME="sort2" --></li><!-- /TMPL_IF -->
    <li><strong>Identifiant OPAC :  </strong><!-- TMPL_VAR name="userid" --></li>
    <!-- TMPL_IF NAME="password" -->
  <li><strong>Mot de passe OPAC : </strong>*******</li>
   <!--TMPL_ELSE -->
  <li><strong>Mot de passe OPAC : </strong><span class="problem"><a href="/cgi-bin/koha/members/member-password.pl?member=<!-- TMPL_VAR NAME="borrowernumber" -->">Indéfini&nbsp;</a></span></li> 
   <!--/TMPL_IF --> 
  <!-- TMPL_IF NAME="borrowernotes" --><li><strong>Notes de circulation :  </strong><!-- TMPL_VAR name="borrowernotes" --></li><!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="opacnote" --><li><strong>Message adhérent :</strong><!-- TMPL_VAR NAME="opacnote" --></li><!-- /TMPL_IF -->
	</ul>
            <a class="member-edit" href="memberentry.pl?op=modify&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;step=3">Modifier</a>
 </div>
</div>
</div>
<div id="patrons-fines-and-charges" class="yui-g">
    <h2>Amendes & Frais</h2>
    <!-- TMPL_IF EXPR="totaldue eq 0.00" -->
        <p>Total dû : <!-- TMPL_VAR NAME="totaldue" --></p>
    <!-- TMPL_ELSE -->
        <p>Pas de charges à recouvrer</p>
    <!-- /TMPL_IF -->
</div>

<div id="patrons-items-on-loan" class="yui-g">
    <h2>Document(s) en prêt</h2>
    <!-- TMPL_IF NAME="issueloop" --><form action="/cgi-bin/koha/reserve/renewscript.pl" method="post">
        <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
	<input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
    <table>
        <tr>
            <th scope="col">Date de retour</th>
            <th scope="col">Titre</th>
            <th scope="col">Code à barres</th>
            <th scope="col">Type de document</th>
            <th scope="col">Frais</th>
            <th scope="col">Prix</th>
            <th scope="col">Renouvellement</th>
            <th scope="col">Retour</th>
        </tr>
    
        <!-- TMPL_LOOP name="issueloop" -->
          <!-- TMPL_IF name="overdue" -->
        <tr class="problem">
          <!-- TMPL_ELSE -->
            <!-- TMPL_IF name="toggle" -->
        <tr class="highlight">
            <!-- TMPL_ELSE -->
        <tr>
            <!-- /TMPL_IF -->
          <!-- /TMPL_IF -->
            <td><!-- TMPL_VAR NAME="date_due" --></td>
            <td>
                <p><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
                    <!-- TMPL_VAR NAME="title" -->
                </a></p>
                <p><!-- TMPL_VAR name="author" -->
                    <!-- TMPL_IF name="publishercode" --> - <!-- TMPL_VAR name="publishercode" --> <!-- /TMPL_IF -->
                    <!-- TMPL_IF name="publicationyear" -->- <!-- TMPL_VAR name="publicationyear" --><!-- /TMPL_IF -->
                </p>
            </td>
            <td><!-- TMPL_VAR NAME="barcode" --></td>
            <td>
                <!-- TMPL_VAR NAME="itemtype_description" -->
                <!-- TMPL_IF NAME="itemtype_image" -->
                <img src="<!-- TMPL_VAR NAME="itemtype_image" -->" alt="" />
                <!-- /TMPL_IF -->
            </td>
            <td><!-- TMPL_VAR NAME="charge" --></td>
            <td><!-- TMPL_VAR NAME="replacementprice" --></td>
            <td>
            <!-- TMPL_IF name="norenew" -->
                <a href="/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">Réservations</a>
            <!-- TMPL_ELSE -->
            <!-- TMPL_IF NAME="red" -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" />
            <!-- TMPL_ELSE -->
            <input type="checkbox" name="items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" />
            <!-- /TMPL_IF -->
            <input type="checkbox" name="all_items[]" value="<!-- TMPL_VAR NAME="itemnumber" -->" checked="checked" style="display: none;" />
            <!-- /TMPL_IF -->
            </td>
            <td><a href="/cgi-bin/koha/circ/returns.pl?barcode=<!-- TMPL_VAR NAME="barcode" -->">Retours</a></td>
        </tr>
        <!-- /tmpl_loop -->
        <tr>
            <td colspan="5">Coût total de remplacement :</td>
            <td><!-- TMPL_VAR NAME="totalprice" --></td>
            <td colspan="2">&nbsp;</td>
        </tr>
        </table>
        <div>
        <input type="submit" name="renew_checked" value="Renouveler le(s) document(s) coché(s)">
        <input type="submit" name="renew_all" value="Tout renouveler">
        </div>
    </form><!-- TMPL_ELSE --><p>Cet adhérent n'a pas de document en prêt.</p><!-- /TMPL_IF -->
	</div>
	
<div id="patrons-items-reserved" class="yui-g">
	<h2>Réservation(s) en cours de l'adhérent</h2>
<!-- TMPL_IF NAME="reservloop" -->
	<table>
		<tr>
			<th>Date de réservation</th>
			<th>Code à barres</th>
			<th>Titre</th>
			<th>Auteur</th>
			<th>Localisation</th>
			<th>Détails</th>
		</tr>
		<!-- TMPL_LOOP NAME="reservloop" -->
		<tr class="<!-- TMPL_VAR NAME="color" -->">
					<td>
						<!-- TMPL_VAR NAME="reservedate" -->
					</td>
					<td>
						<!-- TMPL_IF name="barcodereserv" -->
						<a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->" onclick="openWindow(this, 'Item', 480, 640); return false;"><!-- TMPL_VAR NAME="barcodereserv" --></a>
						<!-- /TMPL_IF -->
						<!-- TMPL_IF NAME="waitingposition" -->
					 Queue pour ce exemplaire : <b><!-- TMPL_VAR NAME="waitingposition" --></b>
						<!-- /TMPL_IF -->
					</td>
					<td>
						<!-- TMPL_VAR NAME="title" --> (<b><!-- TMPL_VAR NAME="itemtype" --></b>) 

						<!-- TMPL_IF name="waiting" -->
						<i>Ce document est disponible</i>
						<!-- /TMPL_IF -->
						<!-- TMPL_IF name="transfered" -->
						<i>Ce document a été transféré du site : <!-- TMPL_VAR NAME="frombranch" --> le : <!-- TMPL_VAR NAME="datesent" --> </i>
						<!-- /TMPL_IF -->

						<!-- TMPL_IF name="nottransfered" -->
						<i>Ce document n'a pas encore été transféré du site : <!-- TMPL_VAR NAME="nottransferedby" --></i>
						<!-- /TMPL_IF -->
				
					</td>
					<td><!-- TMPL_VAR NAME="author" --></td>
					<td><!-- TMPL_VAR NAME="itemcallnumber" --></td>
					<td>
					    <a href="/cgi-bin/koha/reserve/request.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">voir réservations </a>
					</td>
			</tr>
		<!-- /TMPL_LOOP -->
	</table>
	<!-- TMPL_ELSE -->
	<p>Cet adhérent n'a pas de réservation</p>
	<!-- /TMPL_IF -->
	</div>

<!-- /TMPL_IF --> <!-- unknowuser -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="members-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
