<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Imprimer un reçu pour <!-- TMPL_VAR NAME="cardnumber" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<div id="doc3">
   
   <div id="bd">

<h3>Site</h3>
<!-- TMPL_IF NAME="branchname" --><!-- TMPL_VAR NAME="branchname" --><br /><!-- /TMPL_IF -->
Prêté à <a href="/cgi-bin/koha/circ/circulation.pl?findborrower=<!-- TMPL_VAR NAME="cardnumber">"><!-- TMPL_VAR NAME="cardnumber" --></a><br />
<!-- TMPL_VAR NAME="todaysdate" --><br />
<table>
	<caption>Prêts</caption>
	<tr>
		<th>Date de retour</th>
		<th>Titre</th>
	</tr>

	<!-- TMPL_loop name="issueloop" -->
	<!-- TMPL_IF name="red" --><!-- TMPL_ELSE -->
		<tr>
		<td><!-- TMPL_VAR NAME="date_due" --></td>
		<td><a href="/cgi-bin/koha/catalogue/detail.pl?item=<!-- TMPL_VAR NAME="itemnumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->"><!-- TMPL_VAR NAME="title" --></a></td>
		</tr>
	<!-- /TMPL_IF -->
	<!-- /TMPL_LOOP -->
	</table>
	
	<table>
	<caption>Retards</caption>
	<tr>
	<th>Date de retour</th>
	<th>Titre</th>
	</tr>
	<!-- TMPL_LOOP NAME="issueloop" -->
	<!-- TMPL_IF NAME="red" --><tr>
	<td><!-- TMPL_VAR NAME="date_due" --></td>
	<td><a href="/cgi-bin/koha/catalogue/detail.pl?item=<!-- TMPL_VAR NAME="itemnumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->"><!-- TMPL_VAR NAME="title" --></a></td>
	</tr>
	<!-- /TMPL_IF -->
	<!-- /TMPL_LOOP -->
	</table>


<!-- endmenu -->

</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
