<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Online Help: System Preferences -- System preferences administration<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<div id="main-compact">
<h1>Управління системними налаштуваннями</h1>
<p>Ця сторінка дозволяє Вам встановлювати системні налаштування, які управляють багато чим з основної поведінки Коха. Ці параметри потрібно встановити перед будь-якими іншими параметрами.</p>
<ul>
<li><b>надходження --</b> Тут вибір може бути "нормальні" або "прості". У "нормальному" стані система встановлюється для відстежування замовлень, оновлення витрат та інформації про продавця оскільки Ви додаєте матеріали до своєї колекції. "Простий" варіант вказує Коха, що Ви збираєтеся додавати матеріали до колекцій без дослідження замовлень.</li>

<li><b>authoritysep --</b> The separator used in authority/thesaurus. Usually " -- ". Deprecated and useless in Koha 2.2</li>

<li><b>автоШтрихКод --</b> Номер штрих-коду, що всановлюється для одиниць, автоматично призначається (послідовно) Кохою, якщо це встановлено у "так/yes" ("1" = "так/yes").</li>

<li><b>автоматичний_номер_відвідувача --</b> Номер  відвідувача (номер картки відвідувача) призначається для нових користувачів бібліотеки автоматично у Коха, при умові, що цю змінну встановлено у "так" ("1" = "так").</li>

<li><b>контрольний_розряд --</b> Перевірка достовірності номера відвідувача (номер картки відвідувача): немає перевірки або перевірка "Katipo"-типу. В більшості випадків Ви виберете "ніяку", тому що Ви використовуватимете заздалегідь надруковані штрих-коди.</li>

<li><b>формат_дати --</b> Виберіть формат дати як "metric,"(метричний) "us"(США), чи "iso" (us = мм/дд/рррр, metric = дд/мм/ррр, ISO = рррр/мм/дд). Це визначає, як дати показаються, а не як вони запам'ятовуються у базі даних.</li>

<li><b>gist --</b> "gist" це норма "ПДВ" (законний податок з обороту). Якщо Ваші місцеві податкові закони вимагають, щоб Ви заплатили податки на закупівлях від Ваших постачальників, введіть податкову ставку тут. Встановіть у "0", якщо не потрібно, щоб Ви платили податок.</li>

<li><b>ненадійно --</b> Кращим вибором буде "ні". Якщо Ви виберете "так," користувачам не доведеться реєструватися і вся інформація відкрита для будь-кого. Будьте обережні, якщо Ви встановлюєте це у "так"!</li>

<li>
	<p><b>ISBD --</b> Коха може відображати записи у форматі Міжнародного Стандарту Бібліографічного  Опису (ISBD). Синтаксис цього поля - цілий комплекс:  </p>
	<p>він поділений на блоки, що можуть містити попередній текст, X полів, кожне містить -чи ні- стрічку опісля, і текст опісля: </p>
	<p><b>#995|&lt;br&gt;Одиниці: |{\\n995b}{ - 995j}{/995k}|</b></p>
	<p>означає, що "блок" 995 має &lt;br&gt;Одиниці: СПОЧАТКУ, тоді поля 995b, 995j та 995k, повторювані для кожної одиниці (995 - стандарт UNIMARC), потім нічого після блоку.</p>
	<p> Символ '#' означає "початок блоку", '|' - розділювач для кожної частини, дужки {} використовуються для кожного підполя. Підполе може мати аж до 3 цифр ПЕРЕД і аж до 3 цифр ПІСЛЯ кожного підполя</p>
	<p>Визначення UNIMARC (часткове) для ISBD є таким  </p><i>
	<p>#700|<label>Заголовок/автор</label>|{700a}{701a}{702a}| ; #200||{200a}{ [200b] }{. 200c}{ : 200e}{. 200h}{. 200i}{ / 200f}{ ; 200g}|<br/>
		#230||{ ; 230a}|<br/>
		#205||{ ; 205a}{ , 205b}{ = 205d}{ / 205f}{ ; 205g}|<br/>
		#210|&lt;br/&gt;&lt;label&gt;Редактор&lt;/label&gt;|{ ; 210a}{ (210b) }{ : 210c}{, 210d}|<br/>
		#210|(|{210e}{(210f)}{ : 210g}{, 210h}|)<br/>
		#215|&lt;br/&gt;&lt;label&gt;&nbsp;&lt;/label&gt;|{ ; 215a}{ : 215c}{ ; 215d}{ + 215e}|<br/>
		#225|&lt;br/&gt;&lt;label&gt;Опис&lt;/label&gt;|{ (225a}{ = 225d}{ : 225e}{. 225h}{. 225i}{ / 225f}{, I225x}{ ; 225v}|)<br/>
		#606|&lt;br/&gt;&lt;label&gt;Тематика&lt;/label&gt;|{ 606a - }|&lt;br/&gt;&lt;br/&gt;<br/>
		#995|&lt;br&gt;Одиниці збереження: |{\\n995b}{ - 995j}{/995k}|<br/>
	</i></p>
</li>

<li><b>електронічна_адреса_адміністратора_Коха --</b> Адреса електронної пошти, на яку приходять запити від позичальників щодо модифікації їх записів.</li>

<li><b>ldap_сервер та ldap_деталі --</b> Коха 2.0 може використовувати Perl LDAP (полегшений протокол доступу до каталогів, дивіться http://search.cpan.org/~gbarr/perl-ldap-0.3202/lib/Net/LDAP.pod) для управління доступом та привілеями користувача. Щоб уникати пакету Perl, непотрібного для бібліотек без ldap, все, що відноситься до LDAP було переміщено у KohaInstall/modules/C4/Auth_with_ldap.pm. Попросіть свого системного адміністратора встановити LDAP з Auth_with_ldap.pm (дивіться perldoc Auth_with_ldap.pm за допомогою). Оті 2 параметри непотрібні у 2.2 і не повиннні з'являтися у новій установці.</li>

<li><b>Бібліотечне_ім'я --</b> Ім'я бібліотеки або повідомлення, яке буде показане на головній сторінці електронічнго каталогу. Ви можете використовуєте теґи HTML для форматування імені. Приклад: Ласкаво просимо до <i>Коха<br/>Вільна інтегрована бібліотечна система (АБІС)</i></li>

<li><b>марк --</b> включення підтримки МАРКу. Встановіть до "ні", якщо Ви не маєте наміру використовувати МАРК-записи.</li>

<li><b>різновид_марку --</b> Ваш МАРК-різновид (УкрМарк, MARC21 або UNIMARC). Цей вибір говорить Коха, як інтерпретувати Ваші МАРК-записи.</li>

<li><b>maxoutstanding --</b> максимальна кількість заборгованих витрат, що позичальник може мати перед тим, як йому/їй буде заборонено створювати запити на резервування. Число представляє одиниці Вашої місцевої валюти (наприклад "5" означає $5.00, якщо долар - Ваша місцева валюта.)</li>

<li><b>максимум_резервувань --</b> Максимальна кількість резервувань, що позичальник може зробити.</li>

<li><b>noissuescharge --</b> максимальна кількість заборгованих витрат, що позичальник може мати перед тим, як йому/їй буде заборонено оформлювати отримання одиниць. Число представляє одиниці Вашої місцевої валюти (наприклад "5" означає $5.00, якщо долар - Ваша місцева валюта.)</li>

<li><b>мови_електронічного_каталогу --</b> Встановлення Вашої привілейованої мови. (Не дивлячись на ім'я, цей вибір управляє мовою, використовуваною для всіх екранів Коха, але не для електронічного каталогу). Мова зверху списку пробуватиметься спочатку.</li>

<li><b>теми_ЕК --</b> Встановлення переважного порядку для тем. Вища тема пробуватиметься спочатку.</li>

<li><b>друк_обігових_карток --</b> якщо встановлено до 1, обігові "картки" друкуватимуться на Вашій друкарці для отримань. Якщо встановлено до 0, ніякі картки не друкуватимуться.</li>

<li><b>пропозиції --</b> Якщо встановлено до 1, то можливість запропонування буде активована у електронічному каталозі. Ця можливість дозволяє користувачам ЕК запропонувати книжкові закупівлі. Коли пропозиція робиться у ЕК, то цьому призначається стан "ЗАПИТАНО." Бібліотекар потім займеться пропозицією і може встановити стан  "ВІДХИЛЕНО" або "ЗАМОВЛЕНО." Коли книга замовлена і прибула до бібліотеки, стан стає "ДОСТУПНО." Пропозиції що ще не "ДОСТУПНІ" видимі до всіх користувачів ЕК.</li>

<li><b>жупан --</b> Привілейований вибір екранного жупану. Коха встановлюється з декількома різними варіантами жупанів, що управляють виглядом та відгуком екранів у Коха, і Ви можете також написати свої власні жупани.</li>

<li><b>перерва --</b> Період перерви без діяльності (у секундах). Якщо комп'ютиризоване робоче місце простоюватиме довше, ніж цей період, користувачеві доведеться увійти знову.</li>

<li><b>віртуальні_полиці --</b> Включення або виключення ("1" or "0") можливості ведення віртуальних полиць. Користувачі можуть встановити та управляти їх власними "віртуальними книжковими полицями" улюблених бібліотечних одиниць, якщо ця особливість ввімкнена.</li></ul>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->
