a:link {
	color : #0000FF;
}

a:visited {
	color : #3366CC;
}

a:hover {
	color : #000066;
}

a:active {
	color : #CC3300;
}

a.white {
	font-weight : normal;
	text-decoration : none;
	cursor : hand;
	color : #FFFFFF;
	padding : 4px;
	font-weight : bold;
	}

body {
	background-color : #FFFFFF;
	color : #000000;
	margin : 0px;
	padding : 0px;
}}