<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Add MARC Record Help</h1><h2>How do I add the cataloging data?</h2>

<p>Depending on the chosen framework, the various MARC tags will appear on each tab. Use the tabs across the top of the page to enter record data.</p>

<h2>What is the z39.50 search?</h2>

<p>Koha has an built in z39.50 client that can be used to query any number of z39.50 servers. To use the z39.50 search enter at least the ISBN and Title. The search will give you results form&nbsp; the servers you query. Select the record you wish to use and the fields will be populated with cataloging information from that server.</p><p>To use this feature you will need to setup z39.50 servers to query under &quot;System Administration&quot;.</p>

<h2>What do the &quot;...&quot; mean?</h2>

<p>The ... to the right of the input field are used to indicate that this field uses a plugin. Various plugins have been created to help make it easier to catalog records more quickly.</p><p>If you click in the input field of any field that has a ..., the field will be populated with the default data for the plugin. This default data is set either by the plugin itself or system preferences.</p><p>Clicking on the ... for some plugins will bring up a pop up window where you can make various selections to populate the field. This is partiuclarly useful for Leaders and other data element fields.</p><p>Talk to your system administrator about loading additional plugins for use in this module.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->