<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Adding item details</h1>

<p>After saving a MARC record, you are presented with a screen to add item details (or, local holdings). This is where you define the location of the item (home branch), the cost of the item, the barcode, etc. </p>

<ul><li>Click 'Add Item' after entering the data for your item</li><li>A confirmation will appear with the item information</li><li>From here you can edit the item or add another item</li></ul>

<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
