#addbibliotabs {
	margin-top : 1em;
}

#addbibliotabs .ui-tabs-panel {
	float : left;
    width: 100%;
}

.buttonPlus {
	font-weight : bold;
	text-decoration : none;
}

.buttonMinus {
	font-weight : bold;
	text-decoration : none;
}

a.expandfield {
	text-decoration : none;
}

#authoritytabs {
	margin-top : 1em;
	margin-bottom : 1em;
}

.toptabs .ui-tabs-nav li a {
	padding : .2em 1.2em;
}

div.tag {
    clear: both;
}

div.subfield_line {
    padding-bottom: .3em;
    float: left;
    clear: left;
    width: 100%;
}

div.subfield_line label {
    font-size:89%;
    float: left;
	 padding-right : .4em;
    width: 16em;
    text-align: left;
    clear:left;
}

.subfieldcode img {
    cursor: pointer;
}

.tag_title {
	font-size : 90%;
	padding : .2em 0;
}

.tagnum {
	font-size : 110%;
	font-weight : bold;
	color : #000;
	padding : .1em .3em .1em 0;
}

a.tagnum {
	font-size : 110%;
	font-weight : bold;
	color : #000;
	padding : .1em .3em .1em 0;
	text-decoration : none;
}

.subfield {
	color : #00698a;
	width: 10em;
	text-align:right;
}

.subfieldcode {
	display: block;
	float: left;
}

.labelsubfield {
	float:left;
}

.input_marceditor {
	float:left;
    width: auto;
}

.indicator {
    width: 1em;
    box-sizing: content-box;
}

#cataloguing_additem_newitem fieldset.rows label, #cataloguing_additem_newitem fieldset.rows span.label {
	font-size : 100%;
	width : 25%;
}

#cataloguing_additem_newitem fieldset.rows li {
	padding-bottom : 3px;
}
#cataloguing_additem_newitem .input_marceditor {
	width : auto;
}

#cataloguing_additem_newitem textarea.input_marceditor {
     width : 31em;
}

.mandatory_marker {
	color: red;
}
.linktools { display: block; white-space: nowrap; }
.linktools a { font-size : 75%; display:block;text-decoration:none;}
.linktools a {margin:0 2px;padding:2px;background-color:#FFF;text-align:center; }
.linktools a:first-child { border-bottom: 1px solid #DDD; }
.linktools a:hover { background-color: #FFC; }
.subfield_controls { margin : 0 .5em; }
.readonly { border-width : 1px; border-style: inset; padding-left : 15px; background: #EEE url(../img/locked.png) center left no-repeat; width:29em; }

#cataloguing_additem_itemlist {
	margin-bottom : 1em;
}
.yui-gf div.first {
	width : 19%;
}

.yui-gf .yui-u {
	width: 79.2%;
}

tbody tr.active:nth-child(2n+1) td,
tbody tr.active td {
    background-color: #FFFFCC;
}

#loading {
    background-color: #FFF;
    cursor: wait;
    height: 100%;
    left: 0;
    opacity: .7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#loading div {
    background : transparent url(../img/loading.gif) top left no-repeat;
    font-size : 175%;
    font-weight: bold;
    height: 2em;
    left: 50%;
    margin: -1em 0 0 -2.5em;
    padding-left : 50px;
    position: absolute;
    top: 50%;
    width: 15em;
}


@media (min-width: 768px) {
    div.subfield_line label {
        width: 20em;
    }

    .input_marceditor {
        width: 50em;
    }

    .subfield {
        width: 14em;
    }
}

@media (min-width: 1200px) {
    div.subfield_line label {
        width: 25em;
    }

    .input_marceditor {
        width: 60em;
    }

    .subfield {
        width: 16em;
    }
}
