.hierarchies {
	background-color:#fff;
	color:#000000;
	padding:5px;
	margin-left:50px;
	-moz-border-radius:6px;
	display:block;
	font-size:10px;
}
.hierarchy {
	padding:5px;
	width:90%;
	-moz-border-radius:6px;
	display:block;
}
.child {
	display:none;
    margin-left : 50px;
    width:150%;
}
.child a:hover{
  background-color:#BFCFFF;
}
.parent {
	display:none;
    margin-left : -50px;
}
.parent a:hover{
  background-color:#BFCFFF;
}
.child0{
  width : 20%;
  text-align : left;
}
.child0 a:hover{
  background-color:#BFCFFF;
}
.child1{
  width : 20%;
  text-align : left;
  margin-left : 50px;
}
.child1 a:hover{
  background-color:#BFCFFF;
}
.child2{
  width : 20%;
  text-align : left;
  margin-left : 100px;
}
.child2 a:hover{
  background-color:#BFCFFF;
}
.child3{
  width : 20%;
  text-align : left;
  margin-left : 150px;
}
.child3 a:hover{
  background-color:#BFCFFF;
}
.child4{
  width : 20%;
  text-align : left;
  margin-left : 200px;
}
.child4 a:hover{
  background-color:#BFCFFF;
}
.child5{
  width : 20%;
  text-align : left;
  margin-left : 250px;
}
.child5 a:hover{
  background-color:#BFCFFF;
}
.child6{
  width : 20%;
  text-align : left;
  margin-left : 300px;
}
.child6 a:hover{
  background-color:#BFCFFF;
}
.child7{
  width : 20%;
  text-align : left;
  margin-left : 350px;
}
.child7 a:hover{
  background-color:#BFCFFF;
}
.child8{
  width : 10%;
  text-align : left;
  margin-left : 400px;
}
.child8 a:hover{
  background-color:#BFCFFF;
}
.parents{
  display:inline;
  cursor:crosshair;
}
