body {
    background-color: #EEE;
    text-align: left;
    font-family: arial, verdana, helvetica, sans-serif;
}

h1 {
    font-size: 161.6%;
    font-weight: bold;
}

h2 {
    background-color: #eee;
    border-radius: 4px;
    font-size: 146.5%;
    font-weight: bold;
    text-shadow: 1px 1px 0px #FFF;
    padding: .5em;
}

h3 {
    color: #003366;
    font-size: 131%;
    font-weight: bold;
}

hr {
    margin-top: .5em;
    margin-bottom: .5em;
}

.installer-main {
    background-color: #FFF;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 1em;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 2px 2px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 2px 2px 0px rgba(50, 50, 50, 0.5);
}

ul, ol { padding: 5px 5px 5px 20px; }

#logo {
    background: url(../img/koha-logo.gif) no-repeat top center;
    margin-top: 0;
    margin-bottom: .5em;
}

#logo a {
    display: block;
    text-indent: -1000px;
    height: 74px;
    border-bottom: none;
}

.bg-danger {
    padding: .2em .4em;
}

.step a, .step input { font-size: 2em; }

td input { font-size: 1.5em; }

.step, th { text-align: right; }

#bloc25, .bloc25 {
        float:left;
        border:1px solid #000000;
        margin:0px;
        padding:0px;

}

#footer {
        text-align: center;
        border-top: 1px solid #ccc;
        padding-top: 1em;
        font-style: italic;
}

.update_error {
        color: red;
        font-weight: bold;
}

.checkbox {
    margin-bottom: 1em;
}

fieldset.rows {
    border-width: 0;
    float: left;
    font-size: 90%;
    clear: left;
    margin: .9em 0 0 0;
    padding: 0;
    width: 100%;
}

fieldset.rows legend {
    border: 0;
    margin-left: 1em;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0;
}

fieldset.rows label,
fieldset.rows span.label {
    float: left;
    font-weight: bold;
    width: 9em;
    margin-right: 1em;
    text-align: right;
}

fieldset.rows span.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    text-align: right;
    white-space: normal;
    vertical-align: baseline;
    border-radius: 0;
}

fieldset.rows fieldset {
    background-color: transparent;
    font-size: 100%;
    margin: 1em;
    padding: .3em;
}

fieldset.rows ol {
    padding: 1em 1em 0 1em;
    list-style-type: none;
}

fieldset.rows li {
    float: left;
    clear: left;
    padding-bottom: 1em;
    list-style-type: none;
    width: 100%;
}

fieldset.rows .hint {
    margin-left: 10.5em;
    margin-right: 4em;
    margin-top: .5em;
    font-size: 96%;
    color: #666;
}

fieldset.rows label.error {
    color: #cc0000;
    float: none;
    margin-left: 1em;
    width: auto;
}

fieldset.rows ol {
    padding: 0 1em 0 1em;
}


label.required,
span.required {
    color : #C00;
}

span.required {
    font-style : italic;
    margin-left : .5em;
}

.breadcrumbs {
    background-color: #e6f0f2;
    margin: 1em 0;
    padding: .4em 2em;
}

/* Override core jQueryUI widgets */
.ui-widget-content { border: 1px solid #B9D8D9; background: #ffffff none; color: #222222; }
.ui-widget-header { border: 1px solid #B9D8D9; background: #E6F0F2 none; color: #222222; font-weight: bold; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #B9D8D9; background: #F4F8F9 none; font-weight: normal; color: #555555; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #B9D8D9; background: #E6F0F2 none; font-weight: normal; color: #212121; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff none; font-weight: normal; color: #212121; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #FED22F; background: #FFF4C6; color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec; color: #cd0a0a; }

.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family : inherit;
    font-size : inherit;
}

/* jQuery UI Datepicker */
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border : 0;
    border-collapse: collapse;
    margin:0 0 .4em;
}

.ui-datepicker th {
    background : transparent none;
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker-trigger {
    vertical-align: middle;
    margin : 0 3px;
}
.ui-datepicker {
    box-shadow: 1px 1px 3px 0 #666;
}

span.breadcrumbs {
    display: block;
}

.selectall,
.deselectall {
    display: inline-block;
}

.selectall.mandatory,
.deselectall.optional {
    display: none;
}
