.form-field {
  margin: 5px 0;
}

.form-field > * {
  vertical-align: middle;
}

.form-field-label {
  display: inline-block;
  text-align: right;
  width: 10em;
}

.form-field-conjunction[disabled] {
  visibility: hidden;
}

.form-field-radio > * {
  vertical-align: middle;
}

.form-actions {
  margin-top: 20px;
}

th.active {
  padding-right: 21px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

th.sort-asc {
  background-image: url('../img/asc.gif');
}

th.sort-desc {
  background-image: url('../img/desc.gif');
}

th select {
  width: 100%;
  font-weight: normal;
}
