.form-field {
    align-items: center;
    display: flex;
    gap: .5em;
    margin: 5px 0;
}

.form-field > * {
  vertical-align: middle;
}

#itemsearchform p {
    margin-left: 6em;
}

label {
    margin-bottom: 0;
}

.form-field-label {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 10em;
}

.form-field-conjunction[disabled] {
  visibility: hidden;
}

.form-field-radio > * {
  vertical-align: middle;
}

.form-actions {
  margin-top: 20px;
}

th.active {
  padding-right: 21px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

th select {
  width: 100%;
  font-weight: normal;
}

th#items_title {
  min-width: 12em;
}

#itemsearchform select,
input[type="text"] {
    background-color: #FFF;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    color: #495057;
    display: inline-block;
    height: calc( 1.5em + .75rem + 2px );
    line-height: 1.5;
    padding: .375rem .75rem;
}

#itemsearchform .flatpickr-input {
    padding-left: 1.5em;
}

