/*
 * This file contains CSS styles used only on the front page of Koha
 *
 * COLORS
 * Very light blue  Module links background                 : #f4f8f9
 * Light blue       Navbar, breadcrumb                      : #e6f0f2
 * Blue             Module links and breadcrumb border      : #b9d8d9
 * Dark blue        Links                                   : #004d99
 * Green            Links:hover                             : #538200
 * These colors are used in staff-global.css too
 *
 */


/* ==== NEWS - Start ==== */

#area-news {
    border: 1px solid #EEEEEE;
    margin: 0.2em;
}

#area-news h3 {
    /* Title section for the news block : transparency to let the koha logo appear */
    background-color: #EEEEEE;
    filter:alpha(opacity=70);   /* for IE */
    -moz-opacity: 0.7;          /* for Firefox before 0.9 */
    opacity: 0.7;
    padding : .3em; margin: 0;
}

.newsitem {
    /* Block for one News entry */
    padding: 3px;
    margin: .3em;
    border-bottom: 1px solid #EEE;
    background-color : #ffffff;
    border-radius: 6px;
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: .75;
    }

.newsfooter {
    /* Footer containing the publication date and edition links for an News entry */
    font-size: 80%;
    color: #808080;
}

/* ==== NEWS - End ==== */


/* ==== MODULE LINKS - Start ==== */

ul.biglinks-list {
    /* List containing the module links */
    padding: 0px;
}

ul.biglinks-list li {
    /* Standard attributes for the list elements */
    list-style-type:none;

    margin-bottom: 1em;
}

ul.biglinks-list li a.icon_general {
    /* Class used for each module link */
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    height: 50px;

    text-decoration: none;
    font-size: large;

    color: #000;
    background-color: #e0e0e0;
}

ul.biglinks-list li a:hover.icon_general {
    /* Class used for each module link hover state */
    color: white;
    background-color: #418940;
}

ul.biglinks-list li a.icon_general:hover img {
    filter: invert(100%);
}

ul.biglinks-list li a.icon_general .fa-fw {
    font-size: 1.5em;
    margin-right:.2em;
}

ul.biglinks-list li a.icon_general .fa-stack-2x {
    font-size: 1.3em;
}

ul.biglinks-list li a.icon_general .fa-stack-1x {
    color: #ccc;
    font-size: .9em;
    left: -5px;
    top: -1px;
}

/* CSS Font Awesome */
ul.biglinks-list img {
    max-height: 100%;
}

/* ==== MODULE LINKS - End ==== */

/* ==== PENDING - Start ==== */
#area-pending {
    /* Block containing links to pending tags, comments and suggestions */
    width: 100%;
    border: solid 1px #b9d8d9;
    border-radius: 6px;
    clear: left;
}

.pending-info {
    /* For the div containing a "pending" link (useful to preserve width of area-pending box width) */
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 8px;
}

.pending-number-link {
    /* Style for the "pending" links : the number of pending items appear bigger */
    font-weight: bold;
    font-size: 1.1em;
}
/* ==== PENDING - End ==== */


/* ==== USERBLOCK - Start ==== */
#area-userblock {
    /* Appears if the "IntranetmainUserblock" system preference is defined */
    margin-top: 10px;
    width: 100%;
    border: solid 1px #b9d8d9;
    border-radius: 6px;

}

.user-info {
    /* For the div containing the information (useful to preserve width of area-userblock box width) */
    margin: 8px;
}
/* ==== USERBLOCK - End ==== */

.intranet-main .row {
    margin-left: 0;
    margin-right: 0;
}
