.preference-email,
.preference-url,
.preference-multi,
.preference-long,
.preference-file,
.preference-modalselect,
.preference-modaljs {
    width: 20em;
}

.preference-short {
    width: 10em;
}

.preference-integer, .preference-percent, .preference-date, .preference-currency {
    width: 5em;
}

input[type="text"].modalselect,
input[type="text"].modaljs {
    cursor: pointer;
}

input[type="text"].modalselect:hover,
input[type="text"].modaljs:hover {
    background-color: #FFC;
}

textarea.preference {
    width: 35em;
	height: 20em;
	display: block;
}

textarea.preference-code, .preference-file {
	font-family: monospace;
}

a.expand-textarea {
    display: block;
}
dl {
	margin-left : 1em;
}
dt {
	padding : .1em;
}
h1 {
	font-size : 149%;
}
h2 {
	font-size : 134%;
}

table {
	width : 100%;
}

caption {
	color : #003399;
}

h3 {
	color : #003366;
	margin : .4em 0;
}

/* https://css-tricks.com/hash-tag-links-padding/#article-header-id-4 */
h3:target {
    margin-top: -12px;
    padding-top: 50px;
}

h3:target::before {
    padding: 0 5px;
    position: absolute;
    top: 25px;
}

h3 i {
    color: #336699;
}

h3.expanded,
h3.collapsed {
    cursor: pointer;
}

h3.expanded i.fa.fa-caret-down::before {
    content: "\f0d7";
}

h3.collapsed i.fa.fa-caret-down::before {
    content: "\f0da";
}

.humanMsg strong {
	display: block;
	font-weight: normal;
}

#toolbar.floating {
    border-radius: 0;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.4);
    margin-top: 0;
    z-index: 100;
}

.loading {
    display: inline-block;
    height : 16px;
    width: 16px;
    background: transparent url("../img/spinner-small.gif") top left no-repeat;
    padding : 0 4px;
    vertical-align: middle;
}

span.overridden {
    font-style: italic;
    font-weight: bold;
    color: red;
}

.sortable {
    margin-left: 0;
    max-width: 20em;
    padding: .5em 0;
}

.sortable label {
    font-weight: bold;
}

.sortable li {
    background: #FCFCFC url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMAQMAAABoTh6ZAAAABlBMVEVMaXHExMQ/ZYtiAAAAAXRSTlMAQObYZgAAABNJREFUeNpjYGBgMDYAIQjAxgYAKfECU0ml038AAAAASUVORK5CYII=") repeat-y;
    border:  1px solid #EEE;
    cursor: move;
    font-weight: bold;
    list-style-type: none;
    margin: .5em 0;
    padding: .1em .5em;
    padding-left:  20px;
}

.sortable li:hover {
    background-color: #FFC;
}

.sortable li li {
    background: transparent none;
    border: 0;
    font-weight: normal;
    padding-left: 0;
}

.sortable li li label {
    font-weight: normal;
}

.sortable li.ui-sortable-helper {
    background-color: #FFC;
}

.CodeMirror {
    border: 1px solid #EEE;
    margin: 1em 1em 1em 0;
    resize:  vertical;
}

#prefModal label {
    display: block;
    font-weight: bold;
    line-height: 1.5em;
}

.dbcolumn {
    font-weight: normal;
    font-family: monospace;
    color: #666;
}
#menu ul li.active a.pref_sublink {
    hyphens:  auto;
    margin: 0;
}

#menu ul ul {
    padding-left: 0;
}

#admin_preferences .ms-drop ul {
    padding: 5px 0;
}

#admin_preferences .ms-drop label span {
    margin-left: 5px;
}
