@media print {
    .pagebreak { break-after: page; }
    #cookieConsentBar_content { display: none; }
    .consentButtons   { display: none; }
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #993300;
    text-decoration: none;
}

body {
    background-color: #FFF;
    color: #000000;
    font-family: arial, geneva, sans-serif;
    font-size: 14px;
    margin: 0 0 0 0;
}

caption {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

form {
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

h1#logo {
    display: none;
}

h2 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

h3 {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

h4 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

h5 {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}

h6 {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 1px;
}

table {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    margin: 3px 0 5px 0;
    padding: 0;
    width: 99%;
}

table.list {
    background-color: #FFFFFF;
    border: 0;
    border-collapse: collapse;
    margin: 3px 0 5px 0;
    padding: 0;
    width: 99%;
}

td {
    background-color: #FFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 0;
    border-right: 1px solid #CCCCCC;
    border-top: 0;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
}

td:last-child {
    background-color: #FFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 0;
    border-right: 0 solid #CCCCCC;
    border-top: 0;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
}

table.list th {
    background-color: #FFFFFF;
    border-left: 0;
    border-top: 0;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    width: 25%;
}

th {
    background-color: #E9E9E9;
    border-bottom: 1px solid #CCCCCC;
    border-left: 0;
    border-right: 1px solid #CCCCCC;
    border-top: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    text-align: left;
}

td:first-child,
th:first-child {
    border-left: 0;
}

th:last-child {
    background-color: #E9E9E9;
    border-bottom: 1px solid #CCCCCC;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}

td.input,
div.form td,
div.details td {
    border-bottom: 1px solid #CCCCCC;
    border-left: 0;
    border-right: 0;
    color: #000000;
    line-height: 1.5em;
    padding: 4px;
    text-align: left;
}

td.label,
div.form th,
div.details th {
    background-color: #FFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 0;
    border-top: 0;
    color: #000088;
    font-weight: bold;
    line-height: 1.5em;
    padding: 4px;
    text-align: right;
    vertical-align: top;
}

tr.highlight {
    background-color: #CCCCCC;
}

.error {
    font-weight: bold;
}

.ex {
    font-family: "Courier New", Courier, monospace;
}

.inline {
    display: inline;
}

tr.overdue {
    font-weight: bold;
}

tfoot {
    font-weight: bold;
}

tfoot td,
tfoot td:last-child {
    background-color: #EEEEEE;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
}

td.credit,
td.debit,
td.sum {
    color: #000;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
}

td.debit {
    color: #990000;
}

#receipt {
    background-color: #FFFFFF;
    font-family: serif;
    font-size: .9em;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
}

#receipt a:link {
    color: #000000;
    text-decoration: none;
}

#receipt a:visited {
    color: #000000;
    text-decoration: none;
}

#receipt a:hover {
    color: #993300;
    text-decoration: none;
}

#receipt caption {
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
}

#receipt div.table {
    background-color: transparent;
    font-weight: normal;
}

#receipt h3,
#receipt caption,
#receipt h4 {
    background-color: transparent;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

#receipt table {
    background-color: transparent;
    border: 0;
    border-collapse: collapse;
    width: auto;
}

#receipt td,
#receipt th {
    background-color: transparent;
    border: 0;
    font-size: 1em;
    font-weight: normal;
    padding: 1px;
}

#receipt th {
    font-weight: bold;
    text-align: left;
}

#breadcrumbs,
#toplevelnav,
#login,
#header,
#header_search,
#toolbar,
#changelanguage,
#menu,
#limitselect,
#batchModify,
.sidebar_menu,
.gradient,
.noprint,
form#sortbyform,
#cartDetails,
fieldset.action,
.list-actions,
.print,
.browse-controls,
.cart-controls,
button.dt-button,
.navbar,
.nav-tabs,
#sub-header,
[class*="_table_controls"],
.pager,
aside {
    display: none !important;
}

.tab-content > .tab-pane {
    display: block !important;
}

fieldset {
    border: 0;
}

#cataloguing_additem_itemlist {
    overflow: visible !important;
}

#catalogue_detail_marc_preview,
p#upload_image {
    display: none;
}

#cart_basket .container,
#cart_basket table,
#cart_basket tr,
#cart_basket th,
#cart_basket td,
#cart_basket .sorting_asc,
#cart_basket .sorting,
#cart_basket .sorting_desc,
#cart_basket .sorting_disabled,
#cart_basket tbody tr:nth-child( 2n+1 ) td {
    background: transparent none;
    border: 0;
}

#cart_basket tr {
    border-bottom: 1px solid #DDD;
    border-collapse: collapse;
}

.container {
    width: 100%;
}

#catalog_detail .col-sm-push-2 {
    left: 0;
}