#sql {
    height: 9em;
    width: 90%;
}

#update_sql .modal-dialog {
    width: 80%;
}

ins {
    background-color: #e6ffe6;
}

del {
    background-color: #ffe6e6;
}

#col1,
#col2 {
    float: left;
    width: 45%;
}

#col1 ins,
#col2 del {
    display: none;
}

.show_sql {
    font-family: monospace;
}

.send_to_item_mod {
    background-color: #EBF3FF;
    border: 1px solid #88b0e8;
    border-radius: 5px;
    display: inline-block;
    font-size: 75%;
    margin: 3px 5px;
    padding: 3px 5px;
    white-space: nowrap;
}

.filter {
    background-color: #EBF3FF;
    border-radius: 5px;
    display: inline-block;
    font-size: 85%;
    margin: 3px;
    padding: 0 1em;
    white-space: nowrap;
}

.filter span,
.filter a {
    padding: .5em 0;
}

.filter span {
    border-right: 1px solid #A4BEDD;
    display: inline-block;
    margin-right: .5em;
    padding-right: .5em;
}

.clear_filter {
    display: inline-block;
    font-weight: bold;
    margin-left: .5em;
    padding-left: 1em;
}

.clear_filter i {
    color: #C00;
}