#sql {
    height: 9em;
    width: 90%;
}

#update_sql .modal-dialog {
    width: 80%;
}

#sql_output {
    border: 1px solid #ddd;
    margin-bottom: .5em;
    padding: .5em;
}

ins {
    background-color: #e6ffe6;
}

del {
    background-color: #ffe6e6;
}

#col1,
#col2 {
    float: left;
    width: 45%;
}

#col1 ins,
#col2 del {
    display: none;
}

.show_sql {
    font-family: monospace;
}

.filter {
    background-color: #EBF3FF;
    border-radius: 5px;
    display: inline-block;
    font-size: 85%;
    margin: 3px;
    padding: 0 1em;
    white-space: nowrap;
}

.filter span,
.filter a {
    padding: .5em 0;
}

.filter span {
    border-right: 1px solid #A4BEDD;
    display: inline-block;
    margin-right: .5em;
    padding-right: .5em;
}

.clear_filter {
    display: inline-block;
    font-weight: bold;
    margin-left: .5em;
    padding-left: 1em;
}

.clear_filter i {
    color: #C00;
}

fieldset.rows .column_config_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

fieldset.rows .chart-column-conf {
    padding: .7em;
    width: auto;
}

fieldset.rows .chart-column-conf label {
    display: block;
    float: none;
    margin: .4em 0;
    text-align: left;
    width: auto;
}

#makechart select {
    max-width: 12em;
}

.report_heading_id {
    background-color: #F3F3F3;
    border: 1px solid #DDD;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: normal;
    margin-left: .5em;
    white-space: nowrap;
}

.report_heading_id .report_label {
    display: inline-block;
    padding: .5em;
    padding-right: 0;
}

.report_heading_id .report_number {
    display: inline-block;
    font-weight: bold;
    padding: .5em;
    padding-left: 0;
}
