.select2-container.subfield_not_filled {
    background-color: initial;
}

.select2-container.subfield_not_filled .select2-choice {
    background: initial;
    background-color : #FFFF99;
}

.select2-container.missing .select2-choice {
    background: #ffc none;
}