.select2-container.subfield_not_filled {
    background-color: initial;
}

.select2-container.missing .select2-choice,
.select2-container .select2-selection--single.subfield_not_filled,
.select2-container .select2-selection--single.important_subfield_not_filled {
    background-color: #FFFF99;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    color: #888;
    font-size: 125%;
    padding: 0 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    border-left: 1px solid #EEE;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #666;
}

.select2-container--default .select2-selection--single .select2-selection__arrow:hover {
    background-color: #EEE;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #565656 transparent transparent transparent;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F7F7F7;
    margin-bottom: 2px;
    padding: 3px 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
    color: #888;
    font-size: 125%;
    margin-top: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    clear: none;
    width: auto;
}

.select2.select2-container.select2-container--default {
    flex-grow: 1;
    max-width: 60%;
}

fieldset.rows .select2 li {
    clear: none;
    width: unset;
}
