@CHARSET "UTF-8";

.pagenumber {
    margin: 0 10px;
}

.pagecontrol {
	position: relative;
    padding: 5px 0;
}

.pagecontrol label {
    margin: 0 10px;
}

.pagecontrol * {
    vertical-align: middle;
}

.priceinput, .jumptopage {
    max-width: 60px;
}

.msg{
	color: red;
	font-size: 110%;
}

.help, .msg{
	max-width:60%;
}
.branches {
	padding: 20px 0;
}