body {
	font-family: arial, geneva, sans-serif;
	font-size: 12px;
	margin: 0px 0px 0px 0px;
}

/* Line break after each field */
.field{
	display: block;
}

/* Line break after each space in the itemcallnumber field */
#itemcallnumber .space {
	display: block;
}

/* Put the copynumber on the bottom of the label */
#copynumber {
	position: absolute;
	top: 75px;
}

#print_button {
	position: absolute;
	top: 25px;
	left: 500px;
}