#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
    opacity: 1.0;
}
#progress_bar .percent {
    color: #E6F0F2;
    background-color: #004D99;
    height: auto;
    width: 0;
}
#server_response {
    background-color: white;
    background-image: url("../img/x_alt_16x16.png");
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: right top;
    border: 1px solid #DDDDDD;
    color: #999999;
    font-size: 14px;
    height: 30px;
    left: 50%;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 250px;
}
