.button {
        text-align: center;
        font: 1.2em sans-serif;
        padding: 10px 15px;
        border-style: solid;
        border-width: 3px;
	border-color: black;
        text-decoration: none;
        color: black;
        background-image:url("/intranet-tmpl/default/en/images/background-mem.gif");
}

