body {
	font-family:arial,helvetica;
	font-size:10pt;
	margin:0px;
	padding:0px;
	background-color:#99CC33;
}

input {
	display:inline;
}

ul {
	margin-top:0px;
	margin-bottom:0px;
}

p {
	margin-bottom:0px;
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	padding:0px;
	clear:left;
}

.center {
	text-align:center;
}

label {
	float:left;
	width: 6em;
	display:inline;
}
.label20 {
	float:left;
	width: 4em;
	display:inline;
}
.label100 {
	float:left;
	width: 12em;
	display:inline;
}


.button {
	text-align: center;
	font: 1.2em sans-serif;
	padding: 0px 5px 0px 5px;
	margin:2px;
	display:inline;
	position:static;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-decoration: none;
	color: black;
	border-radius: 6px;
	cursor:pointer;
	vertical-align:middle;
	-moz-border-radius: 6px;
	background-color:#FFFFFF;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
}

/* TABLES */
table {
	border:1px solid #000000;
	border-collapse:collapse;
	width:100%;
	font-size:10px;
}

table.noborder {
	border:0px;
	border-collapse:collapse;
	float:center;
}
table.small {
	width:auto;
}

/* header */
th {
	background-color: #99cccc;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	font-weight:bold;
	text-align:center;
	border:1px solid #000000;
	padding:3px 0px 3px 0px;
}
th.noborder {
	background-color: #FFFFFF;
	background-image:none;
	font-weight:bold;
	text-align:center;
	border:0px;
	border-bottom:1px solid #ad11ad;
	padding:3px 0px 3px 0px;
}

/* standard cell */
td {
	border-left:0px;
}
/* hilighted cell */
td.hilighted {
	border-left:0px;
	background-color:#ffffcc;
}
/* cells that are numbers => aligned right */
td.number {
	border-left:0px;
	text-align:right;
}
/* hilighted cell */
td.numberhilighted {
	border-left:0px;
	background-color:#ffffcc;
	text-align:right;
}

h1 {
	color:#000000;
	background-color:#DDDDDD;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	font-size: 150%;
	text-align:center;
	padding: 4px;
	border: 4px inset #666666;
}

h2 {
	margin-top:0px;
	margin-bottom:4px;
	text-align:center;
	padding:0px;
	font-size:125%;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	padding-top:3px;
}

h3 {
	margin-top:0px;
	margin-bottom:4px;
	padding:0px;
	font-size:100%;
	font-weight:bold;
}

#bloctitle, .bloctitle {
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	color:#000000;
	font-size: 125%;
	text-align:center;
	padding:5px;
	margin-bottom:10px;
	border-bottom: 1px solid #666666;
}
#problem {
	color: white;
	font-weight:bold;
	background-color:red;
}
.problem {
	color: white;
	font-weight:bold;
	background-color:red;
}

#mainbloc {
	float:left;
	width:90%;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:3px solid #000000;
	border-bottom:3px solid #000000;
	background-color:#FFFFFF;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:100px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
}
#main {
	position:absolute;
}

#bloc25 {
	float:left;
	width=30%;
	border:1px solid #000000;
	margin:10px;
	padding:0px;
}
#bloc100 {
	float:left;
	position:relative;
	width=100%;
	border:1px solid #000000;
	margin:10px;
}

#resultnumber {
	width=30%;
	margin-left:35%;
	margin:right:35%;
}
#resultlist {
	width=70%;
	margin-left:5%;
	margin:right:5%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.submenu {
	text-decoration: none;
	cursor: hand;
	color:#777777;
	background-color:#EEEEEE;
	font-weight: bold;
	margin:0;
}
a.submenu:hover {
	text-decoration: none;
	cursor: hand;
	color:#777777;
	background-color:#EEEEEE;
	font-weight: bold;
	margin:0;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
}

a.submenu2 {
	text-decoration: none;
	cursor: hand;
	color:#777777;
	background-color:#CCCCCC;
	font-weight: bold;
	margin:0;
}
a.submenu2:hover {
	text-decoration: none;
	cursor: hand;
	color:#777777;
	background-color:#CCCCCC;
	font-weight: bold;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	margin:0;
}

#menubar {
	border-top:1px solid #666666;
	font: 125% sans-serif;
	background-color:#DDDDDD;
	padding-bottom:5px;
	font-weight:bold;
}
#submenu {
	background-color:#EEEEEE;
	border-left:1px solid #000000;
	padding-bottom:5px;
	font-size:110%;
}

#menubar a {
	padding:5px;
}
#submenu a {
	padding:5px;
}

.koha {
	text-align:center;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	font-size:130%;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

.home {
	color:#777777;
	}
a.home:hover {
	background-color: #339933;
	color: #000000;
	}

.catalogue {
	color:#777777;
	}
a.catalogue:hover {
	background-color:#ad11ad;
	color:#FFFFFF;
	}

.members {
	color:#777777;
	}
a.members:hover {
	background-color: #86c268;
	color: #000000;
	}

.acquisition {
	color:#777777;
	}
a.acquisition:hover {
	background-color: #ffdf61;
	color: #000000;
	}

.authority {
	color:#777777;
	}
a.authority:hover {
	background-color: #6b7cbe;
	color: #000000;
	}

.reports {
	color:#777777;
	}
a.reports:hover {
	background-color: #6b7cbe;
	color: #000000;
	}

.circulation {
	color:#777777;
	}
a.circulation:hover {
	background-color: #be6170;
	color: #000000;
	}

.parameters {
	color:#777777;
	}
a.parameters:hover {
	background-color: #86c268;
	color: #000000;
	}
.bull {
	color:#777777;
	}
a.bull:hover {
	background-color: #803010;
	color: #000000;
	}
.about {
	color:#777777;
	}
a.about:hover {
	background-color: #86c268;
	color: #000000;
	}
.help {
	color:#777777;
	}
a.help:hover {
	color: #FFFFFF;
	}
