p,
div,
.doNotPrint
{
    /* Hides all the elements irrelevant for printing */
    display: none;
}

a, a.stub, a.new, a:link, a:visited {
    text-decoration: none;
    color: black;
}

table {
	border:1px solid #000000;
	border-collapse:collapse;
	width:100%;
}

th {
	font-weight:bold;
	text-align:center;
	border:1px solid #000000;
	padding:3px 3px 3px 3px;
}

tr {
	border:1px solid #000000;
}


div#mainbloc, 
div#bloc100
{
	display: block;
}