body {
	font-family:arial,helvetica,sans-serif;
	font-size:10pt;
	margin:0px;
	padding:0px;
	background-color:#99CC33;
}

input {
	display:inline;
}

textarea {
	font-size:10pt;
}
ul {
	margin-top:0px;
	margin-bottom:0px;
}

p {
	margin-bottom:0px;
	margin-top:0px;
	margin-left:10px;
	margin-right:10px;
	padding:0px;
	clear:left;
}

.center {
	text-align:center;
}

label {
	float:left;
	width: 6em;
	display:inline;
}
.label20 {
	float:left;
	width: 4em;
	display:inline;
}
.label100 {
	float:left;
	width: 12em;
	display:inline;
}


.button {
	text-align: center;
	font-family: Arial;
	font-size:12px;
	padding: 2px 5px 2px 5px;
	margin-top:5px;
	margin-bottom:5px;
	display:inline;
	position:static;
	border : 1px solid black;
	text-decoration: none;
	cursor:pointer;
	vertical-align:middle;
	background-color:#FFFFFF;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
}

.button:hover {
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
}

/* TABLES */
table {
	border:1px solid #000000;
	border-collapse:collapse;
	width:100%;
}

table.noborder {
	border:0px;
	border-collapse:collapse;
	font-size:10pt;
	margin : auto;
}
table.small {
	width:auto;
}

/* header */
th {
	background-color: #99cccc;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	font-weight:bold;
	text-align:center;
	border:1px solid #000000;
	padding:3px 0px 3px 0px;
}
th.noborder {
	background-color: #FFFFFF;
	background-image:none;
	font-weight:bold;
	text-align:center;
	border:1px solid #ad11ad;
/* 	border-left:1px solid #ad11ad; */
	padding:3px 0px 3px 0px;
}

/* standard cell */
td {
	border-left:0px;
}
/* hilighted cell */
td.hilighted, tr.hilighted {
	border-left:0px;
	background-color:#ffffcc;
}
/* cells that are numbers => aligned right */
td.number {
	border-left:0px;
	text-align:right;
}
/* hilighted cell */
td.numberhilighted {
	border-left:0px;
	background-color:#ffffcc;
	text-align:right;
}

#resultlist table {
	margin : auto;
}

#resultlist table td {
	border-right : 1px solid #CCCCCC;
}

#resultlist table td:last-child {
	border-right : 1px solid Black;
}


h1 {
	color:#000000;
	background-color:#DDDDDD;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	font-size: 150%;
	text-align:center;
	padding: 4px;
/* 	border: 1px solid #666666; */
}

h2 {
	margin-top:0px;
	margin-bottom:4px;
	text-align:center;
	padding:0px;
	font-size:125%;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:3px;
	padding-top:3px;
}

h2.help {
	text-align : left;
	margin-top : 10px;
	}

h3 {
	margin-top:0px;
	margin-bottom:4px;
	padding:0px;
	font-size:100%;
	font-weight:bold;
}

#bloctitle, .bloctitle {
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	color:#000000;
	font-size: 125%;
	text-align:center;
	padding:5px;
	margin-bottom:10px;
	border-bottom: 1px solid #666666;
}
#problem {
	color: white;
	font-weight:bold;
	background-color:red;
}
.problem {
	color: white;
	font-weight:bold;
	background-color:red;
}

tr.hilighted td.problem {
	background-color : #ff9999;
}

#mainbloc {
	float:left;
	width:90%;
	border-top:1px solid #000000;
	border-left:1px solid #000000;
	border-right:3px solid #000000;
	border-bottom:3px solid #000000;
	background-color:#FFFFFF;
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:100px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
}
#main {
	position:absolute;
}

#bloc25, .bloc25 {
	float:left;
	border:1px solid #000000;
	margin:10px;
	padding:0px;
}
#bloc100, .bloc100 {
	float:left;
	position:relative;
	width:100%;
	border:1px solid #000000;
	margin:10px;
}

#resultnumber {
	margin-top : 5px;
	text-align : center;
}

a.resultnumber {
	margin-bottom : 5px;
	padding : 2px 4px;
	background-color : White;
	border : 1px solid #339900;
	font-weight : bold;
}

#resultnumber .highlight {
	margin-bottom : 5px;
	padding : 2px 4px;
	background-color : #EEEEEE;
	border : 1px solid Black;
	font-weight : bold;
}

a.resultnumber:hover {
	background-color : #ffffcc;
}

.resultcount {
	border-top : 1px solid white;
	font-weight : bold;
	padding : 3px;
}

#resultlist {
	width:95%;
	margin : auto;
/*	margin-left:5%;
	margin-right:5%;*/
}

#resultlist p {
	font-size : .8em;
}

a.resultlist {
	font-weight : bold;
/*	display : block;*/
	padding-left : 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#menubar {
	z-index:2;
	position:absolute;
	top:0px;
	left:0px;
	border-top:1px solid #666666;
	font-size: 14px;
	background-color:#DDDDDD;
	padding-bottom:5px;
}
html>body #menubar {
position: fixed;
}

#menubar a {
	padding:5px;
}

a.submenu {
	padding:0px 10px 0px 10px;
	display:block;
	background-color:#FFFFFF;
	color:#000000;
}
a.submenu:hover {
	padding:0px 10px 0px 10px;
	display:block;
	background-color:#DDDDDD;
	color:#000000;
}
#Subm1 {
	z-index: 11; left: 75px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm1 {
position: fixed;
}
#Subm2 {
	z-index: 12; left: 150px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm2 {
position: fixed;
}
#Subm3 {
	z-index: 12; left: 250px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm3 {
position: fixed;
}
#Subm4 {
	z-index: 12; left: 320px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm4 {
position: fixed;
}
#Subm5 {
	z-index: 12; left: 400px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm5 {
position: fixed;
}
#Subm6 {
	z-index: 12; left: 480px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm6 {
position: fixed;
}

#Subm7 {
	z-index: 12; left: 550px; visibility: hidden; position: absolute; top: 24px; background-color:white; border:1px solid black;
}
html>body #Subm7 {
position: fixed;
}

.user {
	padding-top: 30px;
	padding-bottom:0px;
	text-align:right;
}

.koha {
	text-align:center;
	background-image:url("/intranet-tmpl/default/images/background-mem.gif");
	font-size:130%;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

.home {
	color:#777777;
	}
a.home:hover {
	background-color: #339933;
	color: #000000;
	}

.catalogue {
	color:#777777;
	}
a.catalogue:hover {
	background-color:#ad11ad;
	color:#FFFFFF;
	}

.members {
	color:#777777;
	}
a.members:hover {
	background-color: #86c268;
	color: #000000;
	}

.acquisition {
	color:#777777;
	}
a.acquisition:hover {
	background-color: #ffdf61;
	color: #000000;
	}

.authority {
	color:#777777;
	}
a.authority:hover {
	background-color: #6b7cbe;
	color: #000000;
	}

.reports {
	color:#777777;
	}
a.reports:hover {
	background-color: #6b7cbe;
	color: #000000;
	}

.circulation {
	color:#777777;
	}
a.circulation:hover {
	background-color: #be6170;
	color: #000000;
	}

.parameters {
	color:#777777;
	}
a.parameters:hover {
	background-color: #86c268;
	color: #000000;
	}
.bull {
	color:#777777;
	}
a.bull:hover {
	background-color: #803010;
	color: #000000;
	}
.about {
	color:#777777;
	}
a.about:hover {
	background-color: #86c268;
	color: #000000;
	}
.help {
	color:#777777;
	}
a.help:hover {
	color: #FFFFFF;
	}
