#hierarchies {
	background-color:#FFF;
	color:#000000;
	border:2px solid #000000;
	padding:5px;
	width:90%;
	-moz-border-radius:6px;
	position:relative;
	display:block;
}
#hierarchy {
	border:1px solid #000000;
	padding:5px;
	width:90%;
	-moz-border-radius:6px;
	position:relative;
	display:block;
}
.child {
	display:none;
    margin-left : 50%;
    width:150%;
}
.child a:hover{
  background-color:#BFCFFF;
}
.parent {
	display:none;
    margin-left : -50%;
}
.parent a:hover{
  background-color:#BFCFFF;
}
.child0{
  width : 10%;
  text-align : left;
}
.child0 a:hover{
  background-color:#BFCFFF;
}
.child1{
  width : 10%;
  text-align : left;
  margin-left : 11%;
}
.child1 a:hover{
  background-color:#BFCFFF;
}
.child2{
  width : 10%;
  text-align : left;
  margin-left : 22%;
}
.child2 a:hover{
  background-color:#BFCFFF;
}
.child3{
  width : 10%;
  text-align : left;
  margin-left : 33%;
}
.child3 a:hover{
  background-color:#BFCFFF;
}
.child4{
  width : 10%;
  text-align : left;
  margin-left : 44%;
}
.child4 a:hover{
  background-color:#BFCFFF;
}
.child5{
  width : 10%;
  text-align : left;
  margin-left : 55%;
}
.child5 a:hover{
  background-color:#BFCFFF;
}
.child6{
  width : 10%;
  text-align : left;
  margin-left : 66%;
}
.child6 a:hover{
  background-color:#BFCFFF;
}
.child7{
  width : 10%;
  text-align : left;
  margin-left : 77%;
}
.child7 a:hover{
  background-color:#BFCFFF;
}
.child8{
  width : 10%;
  text-align : left;
  margin-left : 88%;
}
.child8 a:hover{
  background-color:#BFCFFF;
}
.parents{
  display:inline;
  cursor:crosshair;
}