body {
	font-family:verdana,arial,helvetica;
	font-size:12pt;
	margin:0px;
	padding:0px;
	background-color:#99CC33;
	color:#000000;
}

.mainbloc {
/* 	margin:5% 5% 5% 5%; */
	margin:2%;
}
.hint {
	background-color:#FFF;
	color:#000000;
	border:1px solid #000000;
	padding:5px;
	margin-left:40%;
	margin-right:5%;
	width:40%;
	height:90%;
	-moz-border-radius:6px;
	position:absolute;
}

.image {
	float:left;
	background-image:url("/intranet-tmpl/default/images/koha-logo.gif");
	background-repeat:no-repeat;
	width:300px;
	height:426px;
	padding-top:90px;
	text-align:center;
	vertical-align:middle;
/* 	background-image:url("/intranet-tmpl/default/en/images/background-mem.gif"); */
}
a {
	text-decoration: none;
	font-size:24pt;
	padding:3px 50px 3px 3px;
	line-height:200%;
}
.koha {
	text-align:center;
	background-image:url("/intranet-tmpl/default/en/images/background-mem.gif");
}


h1.catalogue{
	text-align:center;
	background-color:#ad11ad;
	color: #FFFFFF;
	text-decoration: normal;
	font-weight: bold;
}

h1.members{
	text-align:center;
	background-color: #86c268;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
}

h1.acquisition{
	text-align:center;
	background-color: #ffdf61;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
}

h1.reports{
	text-align:center;
	background-color: #6b7cbe;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
}

h1.circulation{
	text-align:center;
	background-color: #be6170;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
}

h1.parameters{
	text-align:center;
	background-color: #86c268;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
}


a.catalogue {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.catalogue:hover {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	background-color:#ad11ad;
	color:#FFFFFF;
	font-weight: bold;
	border:1px solid #000000;
	line-height:200%;
	}

a.members {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.members:hover {
	background-color: #86c268;
	border:1px solid #000000;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	line-height:200%;
	}

a.acquisition {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.acquisition:hover {
	background-color: #ffdf61;
	border:1px solid #000000;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	line-height:200%;
	}

a.reports {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.reports:hover {
	background-color: #6b7cbe;
	border:1px solid #000000;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	line-height:200%;
	}

a.circulation {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.circulation:hover {
	background-color: #be6170;
	border:1px solid #000000;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	line-height:200%;
	}

a.parameters {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.parameters:hover {
	background-color: #86c268;
	border:1px solid #000000;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	line-height:200%;
	}
a.about {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	line-height:200%;
	}
a.about:hover {
	background-color: #86c268;
	border:1px solid #000000;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	line-height:200%;
	}
