body {
	font-family:verdana,arial,helvetica;
	font-size:10pt;
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
}

div.tabbed {
	position: absolute;
	margin-left:5%;
	width:90%;
	display:block;
}

div.tabs {
	width:10px;
	position:absolute;
	margin-left:50px;
	margin-top:110px;
}

div.tabs a {
	display:block;
	font-size: small;
	background-color: #ad11ad;
	color: #FFFFFF;
	border: thin solid black;
	margin-right: 2px;
	padding: 10px 10px;
	-moz-border-radius: 5px 0px 0px 5px;
}

div.tab {
	width:90%;
	display: block;
	visibility:hidden;
	position:absolute;
	margin-left:70px;
	margin-top:110px;
}

.MARCtag { /* style for tag definition (700 - Statement of responsability) */
	font-weight:bold;
	color:#ad11ad;
	background-color:FFFFFF;
	background-image:url('');
	border-bottom: thin solid #ad11ad;
	margin-right:30%;
}

.labelsubfield { /* style for each subfield (like : a Publication year), just before the biblio subfield */
	float:left;
	width: 12em;
	margin-left:30px;
	display:inline;
}
