body {
	font-family:verdana,arial,helvetica;
	font-size:10pt;
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
}

div.tabbed {
	position: absolute;
	margin-left:5%;
	width:90%;
}

div.tabs {
	width:10px;
	position:absolute;
	margin-left:50px;
	margin-top:100px;
}

div.tabs a {
	display:block;
	font-size: small;
	background-color: #ad11ad;
	color: #FFFFFF;
	border: thin solid black;
	margin-right: 2px;
	padding: 10px 10px;
	-moz-border-radius: 5px 0px 0px 5px;
}

div.tab {
	width:90%;
	text-align: center;
	display: block;
	visibility:hidden;
	position:absolute;
	margin-left:70px;
	margin-top:100px;
}
