<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Statistiques Outils &rAdhérents empruntant le plussaquo; Documents perdus</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl"> Accueil </a> &rsaquo;<a href="/cgi-bin/koha/reports/reports-home.pl">Statistiques</a> &rsaquo; Adhérents empruntant le plus</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="do_it" -->
<script language="JavaScript" type="text/javascript">
function Dopop(link) {
	newin=window.open(link,'width=500,height=400,toolbar=false,scrollbars=yes');
}
</script>


	<!-- TMPL_LOOP NAME="mainloop" -->
		<h1>Le palmarès des <!-- TMPL_VAR NAME="limit"--> plus gros emprunteurs</h1>
		<!-- TMPL_IF NAME="loopfilter"-->
			<p>Sélectionné sur</p>
			<!-- TMPL_LOOP NAME="loopfilter" -->
					<p><!-- TMPL_IF NAME="err" -->  <!--/TMPL_IF --> <!-- TMPL_VAR NAME="crit"-->=<!-- TMPL_VAR NAME="filter"--><!-- TMPL_IF NAME="err" -->  <!--/TMPL_IF --></p>
			<!-- /TMPL_LOOP -->
		<!-- /TMPL_IF -->
		
		<table>
			<tr >
				<th>Lecteur</th>
				<!-- TMPL_LOOP NAME="loopcol" -->
					<th colspan="2"><!-- TMPL_VAR NAME="coltitle" --></th>
				<!-- /TMPL_LOOP -->
			</tr>
			<tr >
				<th>&nbsp;</th>
				<!-- TMPL_LOOP NAME="loopcol" -->
					<th>Adhérent</th>
					<th>Décompte des prêts</th>
				<!-- /TMPL_LOOP -->
			</tr>
				<!-- TMPL_LOOP NAME="looprow" -->
					<tr>
						<!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td><!-- /TMPL_IF -->
						<!-- TMPL_VAR NAME="rowtitle" --></td>
						<!-- TMPL_LOOP NAME="loopcell" -->
							<!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td ><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="reference" --><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="reference" -->"><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="value" --><!-- TMPL_VAR NAME="value" --><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="reference" --></a><!-- /TMPL_IF -->
							</td>
							<!-- TMPL_IF NAME="hilighted" --><td class="hilighted"><!-- TMPL_ELSE --><td ><!-- /TMPL_IF -->
								<!-- TMPL_IF NAME="count" --><!-- TMPL_VAR NAME="count" --><!-- /TMPL_IF -->
							</td>
						<!-- /TMPL_LOOP -->
					</tr>
				<!-- /TMPL_LOOP -->
		</table>
	<!-- /TMPL_LOOP -->
<!-- TMPL_ELSE -->
	<h1>Adhérents ayant emprunté le plus de documents</h1>
	<form method="post" action="/cgi-bin/koha/reports/bor_issues_top.pl">
	
	<table>
		<thead>
			<tr>
			<th>Limiter à </th>
			<th>Par </th>
			<th colspan="2">Critères de sélection</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<select name="Limit">
						<option value ="5" selected="selected"> 5</option>
						<option value ="10">10</option>
						<option value ="15">15</option>
						<option value ="20">20</option>
	<!--					<option value ="25">25</option>
						<option value ="40">40</option>
						<option value ="50">50</option>
						<option value ="100">100</option>-->
					</select>
				</td>
				<td>
					<select name="Criteria">
						<option value ="" selected="selected">Aucun</option>
						<option value ="issuingbranch">Site</option>
						<option value ="categorycode">Code catégorie</option>
						<option value ="itemtype">Type de document</option>
						<option value ="Day">Jour</option>
						<option value ="Week">Semaine</option>
						<option value ="Month">Mois</option>
						<option value ="Year">Année</option>
					</select>
				</td>
				<td colspan="2">&nbsp;</td>
			</tr>
			
			<tr class="hilighted">
				<td colspan="2">&nbsp;</td>
				<td>Date du prêt</td>
				<td> <label for="from">De</label> <input type="text" readonly="readonly" size="10" id="from" name="Filter" />
							<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Voir calendrier" border="0" id="openCalendarFrom" style="cursor: pointer;">
								<script language="JavaScript" type="text/javascript">
									function validate1(date) {
										var day = date.getDate();
										var month = date.getMonth() + 1;
										var year = date.getFullYear();
										var weekDay = date.getDay();
										var dayMonth = month + '-' + day;
										var dateString = year + '-' + month + '-' + day;
										var dateTo = document.getElementById('to').value.split("-");
										var limitDate = new Date(dateTo[0], (dateTo[1] - 1), dateTo[2]);
										if (date > limitDate) {
											return true;
										} else {
											return false;
										}
									}
					
									Calendar.setup(
										{
											inputField : "from",
											ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
											button : "openCalendarFrom",
											disableFunc : validate1,
											dateStatusFunc : validate1
										}
									);
								</script>
					<label for="to">à</label> <input readonly="readonly" size="10" id="to" name="Filter" value="" type="text" />
						<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="Voir calendrier" id="openCalendarTo" style="cursor: pointer;" border="0">
							<script type="text/javascript">
								function validate2(date) {
									var day = date.getDate();
									var month = date.getMonth() + 1;
									var year = date.getFullYear();
									var weekDay = date.getDay();
									var dayMonth = month + '-' + day;
									var dateString = year + '-' + month + '-' + day;
									var dateFrom = document.getElementById('from').value.split("-");
									var limitDate = new Date(dateFrom[0], (dateFrom[1] - 1), dateFrom[2]);
									if (limitDate > date) {
										return true;
									} else {
										return false;
									}
								}
		
								Calendar.setup(
									{
										inputField : "to",
										ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
										button : "openCalendarTo",
										disableFunc : validate2,
										dateStatusFunc : validate2
									}
								);
							</script>
				</td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
				<td>Retours</td>
				<td > <label for="fromRO">De</label> <input type="text" readonly="readonly" size="10" id="fromRO" name="Filter" />
							<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" border="0" id="openCalendarFromRO" style="cursor: pointer;" alt="Voir calendrier">
								<script language="JavaScript" type="text/javascript">
									function validate1(date) {
										var day = date.getDate();
										var month = date.getMonth() + 1;
										var year = date.getFullYear();
										var weekDay = date.getDay();
										var dayMonth = month + '-' + day;
										var dateString = year + '-' + month + '-' + day;
										var dateTo = document.getElementById('toRO').value.split("-");
										var limitDate = new Date(dateTo[0], (dateTo[1] - 1), dateTo[2]);
										if (date > limitDate) {
											return true;
										} else {
											return false;
										}
									}
					
									Calendar.setup(
										{
											inputField : "fromRO",
											ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
											button : "openCalendarFromRO",
											disableFunc : validate1,
											dateStatusFunc : validate1
										}
									);
								</script>
					<label for="toRO">à</label> <input type="text" readonly="readonly" size="10" id="toRO" name="Filter" value="" />
						<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" id="openCalendarToRO" style="cursor: pointer;" alt="Voir calendrier" border="0">
							<script type="text/javascript">
								function validate2(date) {
									var day = date.getDate();
									var month = date.getMonth() + 1;
									var year = date.getFullYear();
									var weekDay = date.getDay();
									var dayMonth = month + '-' + day;
									var dateString = year + '-' + month + '-' + day;
									var dateFrom = document.getElementById('fromRO').value.split("-");
									var limitDate = new Date(dateFrom[0], (dateFrom[1] - 1), dateFrom[2]);
									if (limitDate > date) {
										return true;
									} else {
										return false;
									}
								}
		
								Calendar.setup(
									{
										inputField : "toRO",
										ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
										button : "openCalendarToRO",
										disableFunc : validate2,
										dateStatusFunc : validate2
									}
								);
							</script>
				</td>
			</tr>
			<tr class="hilighted">
				<td colspan="2">&nbsp;</td>
				<td><label for="branch">Site</label></td>
				<td><input type="text" name="Filter" id="branch" value="" /></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
				<td><label for="documenttype">Type de document</label></td>
				<td><input type="text" name="Filter" id="documenttype" value="" /></td>
			</tr>
			<tr class="hilighted">
				<td colspan="2">&nbsp;</td>
				<td><label for="patroncategory">Catégorie adhérent</label></td>
				<td><input type="text" name="Filter" id="patroncategory" value="" /></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
				<td><label for="day">Jour</label></td>
				<td><input type="text" name="Filter" id="day" value="" /></td>
			</tr>
			<tr class="hilighted">
				<td colspan="2">&nbsp;</td>
				<td><label for="month">Mois</label></td>
				<td><input type="text" name="Filter" id="month" value="" /></td>
			</tr>
			<tr>
				<td colspan="2">&nbsp;</td>
				<td><label for="year">Année</label></td>
				<td><input type="text" name="Filter" id="year" value="" /></td>
			</tr>
		</tbody>
	</table>
	
	
		<h3> Affichage </h3>
		<input type="radio" checked="checked" name="output" id="outputscreen" value="screen" /> <label for="outputscreen">A afficher dans le navigateur</label>
		
		<input type="radio" name="output" value="file" id="outputfile" /> <label for="outputfile">Enregistrer</label> <input type="text" name="basename" value="Export" /> dans un logiciel  <!-- TMPL_VAR NAME="CGIextChoice" --> <!-- TMPL_VAR NAME="CGIsepChoice" -->

	<p><input type="submit" value="OK" />
	<input type="hidden" name="report_name" value="<!--TMPL_VAR NAME="report_name" -->" />
	<input type="hidden" name="do_it" value="1" /></p>
	</form>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="reports-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->