# Packages #
############
oplib_patches
misc/translator/po
*fi-FI*
*sv-SE*
*de-DE*
*es-ES*
*fr-FR*
*it-IT*
koha-tmpl/opac-tmpl/prog/ku/*
misc/translator/po/ku*
koha-tmpl/opac-tmpl/bootstrap/ku/*
koha-tmpl/opac-tmpl/ccsr/ku/*
koha-tmpl/intranet-tmpl/prog/ku/*
*pl-PL*
*pt-PT*
*ru-RU*
*tr-TR*
*vi-VN*
*th-TH*
installer/data/mysql/atomicupdate/_updateorder
