# This file maintains name/email mappings for git-shortlog use
# For more information on the use of this file see '$ git shortlog -h'
# Name to mail mapping: the name in the right column will be mapped to the email addy in the left

James Mason                     <mason@kohaaloha.com>
Henri-Damien Laurent            <henridamien.laurent@biblibre.com>
Alex Arnaud                     <alex.arnaud@biblibre.com>
Chris Cormack                   <chrisc@catalyst.net.nz>
Chris Nighswonger               <cnighswonger@foundations.edu>
Colin Campbell                  <colin.campbell@ptfs-europe.com>
D Ruth Bavousett                <ruth@bywatersolutions.com>
Frédéric Demians                <f.demians@tamil.fr>
Frédérick Capovilla             <frederick.capovilla@libeo.com>
Galen Charlton                  <gmc@esilibrary.com>
Greg Barniskis                  <gbarniskis@gmail.com>
Ian Walls                       <ian.walls@bywatersolutions.com>
Janusz Kaczmarek                <januszop@gmail.com>
Jared Camins-Esakov             <jcamins@cpbibliography.com>
Jonathan Druart                 <jonathan.druart@biblibre.com>
Joy Nelson                      <joy@bywatersolutions.com>
Juan Sieira                     <juan.sieira@xercode.es>
Katrin Fischer                  <katrin.fischer@bsz-bw.de>
Larry Baerveldt                 <larry@bywatersolutions.com>
Liz Rea                         <lrea@nekls.org>
MJ Ray                          <mjr@phonecoop.coop>
Magnus Enger                    <magnus@enger.priv.no>
Marcel de Rooy                  <m.de.rooy@rijksmuseum.nl>
Marcel de Rooy                  <marcel@libdevelop.rijksmuseum.nl>
Mason James                     <mtj@kohaaloha.com>
Matthias Meusburger             <matthias.meusburger@biblibre.com>
Maxime Pelletier                <maxime.pelletier@libeo.com>
Meenakshi R                     <meenakshi.r@osslabs.biz>
Nicole Engard                   <nengard@bywatersolutions.com>
Owen Leonard                    <oleonard@myacpl.org>
Paul Poulain                    <paul.poulain@biblibre.com>
Robin Sheat                     <robin@catalyst.net.nz>
Srdjan Jankovic                 <srdjan@catalyst.net.nz>
David Cook                      <dcook@prosentient.com.au>

# Name to name mapping: the name in the right column will be mapped to the name in the left

Chris Nighswonger               Chris R. Nighswonger
Jared Camins-Esakov             Jared CAMINS-ESAKOV

# Mail to mail mapping: the email addy in the right column will be mapped to the email addy in the left

<cnighswonger@foundations.edu>  <chris.nighswonger@gmail.com>
<frederick.capovilla@libeo.com> <fredericiapovilla@sys-tech.net>
<katrin.fischer@bsz-bw.de>      <Katrin.Fischer.83@web.de>
<jcamins@cpbibliography.com>    <jcamins@bywatersolutions.com>
<jcamins@cpbibliography.com>    <camins@numismatics.org>
<jcamins@cpbibliography.com>    <koha@cpbibliography.com>
