<TMPL_INCLUDE NAME="acquisitions-top.inc">

<font size="5"><em>MARC import and BIBLIO management</em></font>
<TMPL_IF name="noitemsfound">
	<p />
	<font color="red" size="4">No items found</font>
</TMPL_IF>
<TMPL_IF name="websiteadded">
	<p />
	<font color="red" size="4">Website Biblioitem Added</font>
</TMPL_IF>

<p />
<table bgcolor="#ffcc00" width="80%" cellpadding="3">
	<tr valign="center">
	<td><font size="4">To add a new biblio/item, scan or type the ISBN/ISSN number:</font></td>
	</tr>
</table>
<table cellpadding="3" border=0 width="100%">
	<tr valign="top">
	<form action="isbnsearch.pl">
		<td width="5%">ISBN:</td>
		<td width="20%"><input type="text" name="isbn" /></td>
		<td width="10%"><input type="submit" value="Go" /></td>
		<td>If the ISBN is found into the biblio table, it will be retrieved and can be modified.<br/>
				If the ISBN is found into the breeding farm, it will be retrieved. and a biblio added.<br/>
				Otherwise, a biblio can be added from scratch.</td>
	</form>
	</tr>
	<tr><td>&nbsp;</td>
		<td colspan=2><a href=addbiblio.pl>Add biblio without ISBN/ISSN</a></td></tr>
</table>

<p />
<p />
<table bgcolor="#ffcc00" width="80%" cellpadding="3">
	<tr valign="center">
		<td><font size="4">Tools for importing MARC records into breeding farm</font></td>
	</tr>
</table>
<table cellpadding="3" border=0 width="100%">
	<tr valign="top">
		<td width="5%">&nbsp;</td>
		<td width="20%"><li><a href=marcimport.pl>Upload MARC records</a></li></td>
		<td width="10%">&nbsp;</td>
		<td>The breeding farm is a table where are stored imported MARC records.<br/>
			A MARC record is stored in the breeding farm as long as you've no item. When you type the ISBN of a biblio, it's searched in the breeding farm.
			If found, the biblio is added to koha active table, and removed from breeding farm.
		</td>


<table bgcolor="#ffcc00" width="80%" cellpadding"5">
	<tr>
		<td><font size="4">Tools for importing MARC from a z3950 server</font></td>
	</tr>
</table>
<table cellpadding="3" border=0 width="100%">
	<tr valign="top">
		<td width="5%">&nbsp;</td>
		<td width="20%"><li><a href=marcimport.pl?menu=z3950>Z39.50 Search Tool</a></li></td>
		<td width="10%">&nbsp;</td>
		<td>does not work</td>
	</tr>
</table>

<table bgcolor="#ffcc00" width="80%" cellpadding="3">
	<tr valign="center">
		<td><FONT SIZE=4>Add New Website</font></td>
	</tr>
</table>
<form action="websitesearch.pl" method="post">
	<table>
	<tr>
		<td>Keyword:</td>
		<td><input type="text" name="keyword" /></td>
		<td><input type="submit" value="Go" /></td>
	</tr>
	</table>
</FORM>

<p />
<table bgcolor="#ffcc00" width="80%" cellpadding="3">
	<tr valign="center">
		<td><FONT SIZE=4>Help</font></td>
	</tr>
</table>
<FONT SIZE=5>Koha stores data in three sections</font>
<p />
<h2>Biblio</h2>
The first section records bibliographic data such as title, author and copyright for a particular work.
<p />
<h2>Group</h2>
The second records bibliographic data for a particular publication of that work, such as ISBN number, physical description, publisher information, etc
<p />
<h2>Item</h2>
The third section holds specific item information, such as the bar code number
<p />
<TMPL_INCLUDE NAME="acquisitions-bottom.inc">
