<!-- TMPL_INCLUDE NAME="cat-top.inc" -->

<div id="mainbloc">
	<h1 class="catalogue">Adding a new Biblio</h1>
	
	<div id="bloc60">
		<h2 class="catalogue">Section One: Copyright Information </h2>
	
		<!-- TMPL_IF NAME="ERROR" -->
			<p class="problem">Please Specify a Title</p>
		<!-- /TMPL_IF -->
		
		<form action="savebiblio.pl" method="post">
		<p><label class="label100">Title: *</label><input name="title" size="40" /></p>
		<p><label class="label100">Subtitle:</label><input name="subtitle" size="40" /></p>
		<p><label class="label100">Author:</label><input name="author" size="40" /></p>
		<p>Additional Authors: <i>One Author per line</i></p>
		<p><label class="label100">&nbsp;</label>
			<textarea class="form-box-textarea2" name="additionalauthors" cols="30" rows="6"></textarea>
		</p>
		</p>
		<p>Series Title: <i>(if applicable)</i></p>
		<p><label class="label100">&nbsp;</label><input name="seriestitle" size="40" /></p>
		<p>Subject Headings: <i>One Subject per line</i></p>
		<p><label class="label100">&nbsp;</label>
			<textarea class="form-box-textarea2" name="subjectheadings" cols="30" rows="6"></textarea>
		</p>
		<label class="label100">Copyright Date:</label><input name="copyrightdate" size="40" /></p>
		<label class="label100">Abstract:</label><textarea cols="30" rows="6" name="abstract"></textarea></p>
		<label class="label100">Notes:</label><textarea cols="30" rows="6" name="notes"></textarea></p>
		<p><input type="submit" value="Submit" class="button catalogue"></p>
		</form>
		* Required
	</div>
</div>
<!-- TMPL_INCLUDE NAME="acquisitions-bottom.inc" -->
