<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Subscription Renewal for <!-- TMPL_VAR name="bibliotitle" --><!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<div id="main-compact">

<h1>Subscription Renewal for <!-- TMPL_VAR name="bibliotitle" --></h1>

<form name="f" method="post" action="subscription-renew.pl">
	<div class="data">
		<table><tr><th><label>Start Date: </label></th><td><input type="text" name="startdate" value="<!-- TMPL_VAR name="startdate" -->" /><input type="hidden" name="op" value="renew" /><input type="hidden" name="subscriptionid" value="<!-- TMPL_VAR name="subscriptionid" -->" /></td></tr></table>	
		
	<table><caption>Subscription Length:</caption>
	<tr><th><label for="numberlength">Number of Issues: </label></th><td><input type="text" name="numberlength" id="numberlength" value="<!-- TMPL_VAR name="numberlength" -->"></td></tr>
	<tr><th><label for="weeklength">Number of Weeks: </label></th><td><input type="text" name="weeklength" id="weeklength" value="<!-- TMPL_VAR name="weeklength" -->"></td></tr>
	<tr><th><label for="monthlength">Number of Months: </label></th><td><input type="text" name="monthlength" id="monthlength" value="<!-- TMPL_VAR name="monthlength" -->"></td></tr>
	<tr><th><label for="note">Comments for the librarian that will manage your renewal request:</label></th><td><textarea name="note" id="note" rows="3" cols="30"></textarea></td></tr>
	</table>
	<p><input type="submit" value="Request a renewal" class="submit" /></p>
</div>
</form>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

