<!-- kohaerror, translation by dnmeid, based on 1.2 -->
<TMPL_INCLUDE NAME="opac-top.inc">


<center>
<table border=1 cellspacing=5 bgcolor=red>
<tr><td>
<table border=0 bgcolor=#dddddd>
<tr><th>Ein Fehler ist aufgetreten!</th></tr>
<tr><td><TMPL_VAR NAME=errormessage></td></tr>
</table>
</td></tr>
</table>
</center>


<TMPL_INCLUDE NAME="opac-bottom.inc">

