a:hover {
	color : #009933;
}

a.delete {
	background-color : #CC3300;
	color : #CCCCCC;
}

a.delete:hover {
	background-color : #999999;
	color : #CCCCCC;
}

a.edit {
	background-color : Gray;
	color : #330099;
}

a.edit:hover {
	background-color : #CCCCCC;
	color : #444444;
}

a:link, a:visited {
	color : #330099;
}

a.current:link {
	background-color : transparent;
	color : #330099;
}

a.nav:link, a.nav:visited {
	background-color : #FAFAFA;
	color : #3366CC;
}

a.pages:link, a.pages:visited {
	background-color : #E6E6E6;
	color : #330099;
}

a.current:visited, a.current:link, a.current:visited {
	background-color : transparent;
	color : #330099;
}

a.current:hover, a.nav:hover, a.pages:hover {
	background-color : #CCFF00;
}

a.nav:active, a.current:active {
	background-color : #99CC00;
	color : #FFFF99;
}

a:active.pages {
	background-color : #99CC00;
	color : #FFFF99;
}

body {
	background-color : #FFFFFF;
	color : #000000;
}

div#help .loggedin a {
	background-color : transparent;
	color : #6666CC;
	text-decoration : underline;
}

div#help .loggedin, #topmenu {
	color : #666699;
}

div#help .loggedinusername {
	color : #7EABD6;
}

div#help a {
	background-color : transparent;
	color : #6666CC;
}

div.compact th {
	border-bottom : 1px solid #666666;
	border-left : 1px solid #D9D9D9;
	border-right : 1px solid #666666;
	border-top : 0px;
}

div.data table col, div.data-main table col {
	background-color : #CCCCCC;
}

div.data table td, div.data-main table td {
	background-color : #E6E6E6;
	border-bottom : 1px solid #B2B2B2;
	border-right : 1px solid #B2B2B2;
}

div.data table th, div.data-main table th {
	background-color : #D9D9D9;
	border-bottom : 1px solid #B2B2B2;
	border-left : 1px solid #666666;
	border-right : 1px solid #B2B2B2;
}

div.data table, div.data-main table, div.tabitem li a.here, #submenu {
	background-color : #CBCBCB;
}

div.data-main table td, div.data {
	background-color : #F0F0F0;
}

table tr.highlight td {
	background-color : #FAFAFA;
}

div.data-main table th, td.onissue, table.editing tr:hover td {
	background-color : #E4E4E4;
}

div.details {
	border-bottom : 1px solid #666666;
}

div.details dt {
	border-bottom : 1px solid #CBCBCB;
}

div.details td, div.form td, div.compact td {
	border-bottom : 1px solid #D9D9D9;
	border-left : 1px solid #D9D9D9;
}

div.error .cancel {
	background-color : #CC3300;
}

div.error h3 {
	color : #990000;
}

div.error, div.notice {
	background-color : #FFFF99;
	border : 1px dashed #CC3300;
}

div.help {
	background-color : #D9D9D9;
	border : 0;
}

div.help h3 {
	background-color : #E6E6E6;
	border-bottom : #B2B2B2;
}

div.items td {
	border-bottom : 1px solid #D9D9D9;
	border-left : 1px solid #D9D9D9;
	border-right : 1px solid #D9D9D9;
	border-top : 1px solid #D9D9D9;
}

div.items th {
	background-color : #E6E6E6;
	border-bottom : 1px solid #D9D9D9;
	border-left : 1px solid #D9D9D9;
	border-right : 0px;
	border-top : 1px solid #D9D9D9;
	color : #444444;
}

div.members th {
	background-color : #E6E6E6;
	border-bottom : 1px solid #D9D9D9;
	border-right : 1px solid #D9D9D9;
}

div.menu th {
	background-color : #E6E6E6;
	border-bottom : 1px solid #D9D9D9;
	border-left : 1px solid #D9D9D9;
}

div.tabitem ul li {
	border-right : 1px solid #4C4C4C;
}

form.compact input {
	color : #FFFFFF;
}

h3.alert {
	background-color : #FFFF99;
	color : #CC3300;
}

h3.title {
	background-color : #E6E6E6;
}

input.focus {
	background-color : #FFFFFF;
	border-bottom : 2px dashed #33cc00;
}

input.unfocus {
	background-color : #FFFFFF;
}

label.required:after, sup, div.members label.focus {
	color : #666666;
}

table {
	background-color : #E6E6E6;
	border-bottom : 0px solid #000000;
	border-left : 0px solid #000000;
}

table.marc td.label {
	color : #000000;
}

table.marc th, #submenu dl, tfoot, div.tabitem li a, tr.highlight td.onissue {
	background-color : #D9D9D9;
}

td {
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
}

td fieldset {
	border : 1px solid #CCCCCC;
}

td input.delete {
	background-color : #cc3300;
	border : 1px outset #B2B2B2;
	color : #E6E6E6;
}

td input.submit {
	border : 1px outset #B2B2B2;
	color : #E6E6E6;
}

td input.submit:active, td input.delete:active {
	border : 1px inset #B2B2B2;
}

td.debit {
	color : #4C4C4C;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #D9D9D9;
	border-left : 0px;
	border-right : 0px;
	color : #000000;
}

td.label, .form dt {
	border-bottom : 1px solid #D9D9D9;
	border-left : 1px solid #D9D9D9;
	color : #444444;
}

td.label, div.form th, div.details th {
	background-color : #E6E6E6;
	border-bottom : 1px solid #D9D9D9;
	border-left : 1px solid #D9D9D9;
	border-right : 0px;
	border-top : 0px;
	color : #444444;
}

td:last-child {
	border-bottom : 1px solid #D9D9D9;
	border-right : 0px solid #D9D9D9;
}

tfoot td, tfoot td:last-child {
	border-bottom : 1px solid #4C4C4C;
	border-right : 1px solid #4C4C4C;
}

th {
	background-color : #CCCCCC;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
}

th:last-child {
	border-right : 0;
}

tr.highlight, td.highlight, table.marc td.data {
	background-color : #FFFFFF;
}

.cancel {
	background-color : #CC3300;
	color : #FFFFCC;
}

.current {
	background-color : #FFFFFF;
	color : Gray;
}

.error {
	color : #CC3300;
}

.form dd {
	border-bottom : 1px solid #D9D9D9;
	color : #000000;
}

.submit {
	background-color : #6699CC;
	color : White;
}

#auth table td, #auth table th {
	background-color : #D9D9D9;
	border-bottom : 0px solid #666666;
	border-left : 0px solid #FFFFFF;
	border-right : 0px solid #666666;
	border-top : 0px solid #FFFFFF;
}

#auth table td {
	background-color: #E4E4E4;
}

#main, #main-compact {
	background-color : #FFFFFF;
	border-left : 1px solid #E6E6E6;
}

#menu dd {
	border-bottom : 1px dashed #CBCBCB;
	border-left : 1px dashed #CBCBCB;
	border-right : 0px solid #000000;
	border-top : 0px solid #000000;
}

#menu dt {
	background-color : #FFFFFF;
	border-bottom : 1px solid #CBCBCB;
	border-left : 0px solid #CBCBCB;
	border-right : 0px solid #000000;
	border-top : 0px solid #000000;
	color : #333333;
}

#menu, div#controls form, div.form, div.details, div.items, div.tabitem li a:hover, table.marc {
	background-color : #F0F0F0;
}

#nav {
	background-color : #B2B2B2;
}

#nav ul li {
	background-color : #CBCBCB;
	border-bottom : 1px solid #E6E6E6;
	border-left : 0px solid #E6E6E6;
	border-right : 0px solid #4C4C4C;
	border-top : 0px solid #E6E6E6;
}

#nav ul li a:hover {
	color : #009933;
}

#nav ul li+li {
	border-bottom : 1px solid #E6E6E6;
	border-left : 0px solid #E6E6E6;
	border-right : 0px solid #4C4C4C;
}

#nav ul ul li {
	background-color : #E4E4E4;
	border-bottom : 1px solid #B2B2B2;
	border-left : 0px solid #E6E6E6;
	border-right : 0px solid #4C4C4C;
	border-top : 0px solid #E6E6E6;
}

#nav ul ul li+li {
	border-bottom : 1px solid #B2B2B2;
	border-left : 0px solid #E6E6E6;
	border-right : 0px solid #4C4C4C;
}

#nav #circ {
	background-color : #C8EEF7;
}

#nav #patrons {
	background-color : #D1ECE5;
}

#nav #catalog {
	background-color : #E6FBF3;
}

#nav #cataloging {
	background-color : #E4F3FB;
}

#nav #admin {
	background-color : #C8EEF7;
}

#notes img {
	border: 1px solid #CCCCCC;
}


#results, .results, caption, h1, h2, h3, h4, h5, h6 {
	color : #000066;
}

#topmenu .submit, #nav .submit {
	background-color : #7EABD6;
}
