a:link {
	color : #0066CC;
}

a:visited {
	color : #0066CC;
}

a:hover {
	color : #993300;
}

a.delete {
	background-color : #CC3333;
	color : #FFFF99;
}

a.delete:hover {
	background-color : #FF3333;
	color : #FFFF99;
}

a.edit {
	background-color : #CCFF00;
	color : #3366CC;
}

a.edit:hover {
	background-color : #CCFF99;
	color : #000088;
}

a:link.current {
	background-color : transparent;
	color : #3366CC;
}

a:link.current {
	background-color : transparent;
	color : #3366CC;
}

a:link.nav {
	background-color : #D8DEB8;
	color : #3366CC;
}

a:link.pages {
	background-color : #FFFFCC;
	color : #3366CC;
}

a:visited.current {
	background-color : transparent;
	color : #3366CC;
}

a:visited.current {
	background-color : transparent;
	color : #3366CC;
}

a:visited.nav {
	background-color : #D8DEB8;
	color : #3366CC;
}

a:visited.pages {
	background-color : #FFFFCC;
	color : #3366CC;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
}

a:hover.nav {
	background-color : #CCFF00;
	color : #CC3333;
}

a:hover.pages {
	background-color : #CCFF00;
	color : #CC3333;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
}

a:active.nav {
	background-color : #99CC00;
	color : #FFFF99;
}

a:active.pages {
	background-color : #99CC00;
	color : #FFFF99;
}

body {
	background-color : #009999;
	color : #333333;
}

caption {
	color : #000066;
}

div.form, div.details {
	background-color : #FFFFCC;
}

div.details dt {
	border-bottom : 1px solid #D8DEB8;
}

div#help a {
	background-color : #3FB2B3;
}

div#help .loggedin {
	color : #cccc99;
}

div#help .loggedinusername {
	color : #D8DEB8;
}

div#help .loggedin a {
	background-color : transparent;
	color : #CCFF66;
}

div.items {
	background-color : #FFFFCC;
}

div.items td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
	border-top : 1px solid #E7E7CA;
}

div.items th {
	background-color : #FFC;
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 1px solid #E7E7CA;
	color : #000088;
}

div.details td, div.form td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
}

div.compact td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
}

div.compact th {
	border-bottom : 1px solid #999933;
	border-left : 1px solid #E7E7CA;
	border-right : 1px solid #999933;
	border-top : 0px;
}

div.error {
	background-color : #FFFF99;
	border : 1px dashed #990000;
}

div.error .submit {
	background-color : #669999;
}

div.error .cancel {
	background-color : #993300;
}

div.error h3 {
	color : #990033;
}

div.notice {
	background-color : #FFFF99;
	border : 1px dashed #990000;
}

div.help {
		border : 0;
		background-color : #E7E7CA;
	}
	
	div.help h3 {
		background-color : #FFFFCC;
		border-bottom : #CCCC99;
	}

div.menu {
	background-color : #FFFFCC;
}

div.menu dt {
	border-bottom : 1px dashed #E7E7CA;
}

div.tabitem ul li {
	border-right: 1px solid #999900;
	}

div.tabitem li a {
	background-color : #E7E7CA;
}

div.tabitem li a.here {
	background-color : #D8DEB8;
}

div.tabitem li a:hover {
	background-color : #FFFFCC;
}

form.compact input {
}

h1
	{
	color : #000066;
}

h2 {
	color : #000066;
}

h3 {
	color : #000066;
}

h3.alert {
	background-color: #FFCC33;
	color: #CC0000;
}

h3.title {
	background-color: #EEF0DB;
}

h4 {
	color : #000066;
}

h5 {
	color : #000066;
}

h6 {
	color : #000066;
}

sup {
	color : #cc0000;
}

table {
	background-color : #FFFFCC;
	border-bottom : 0px solid #000000;
	border-left : 0px solid #000000;
}

td {
	border-bottom : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
}

td:last-child {
	border-bottom : 1px solid #E7E7CA;
	border-right : 0px solid #E7E7CA;
}

th {
	background-color : #D8DEB8;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
}

th:last-child {
	background-color : #D8DEB8;
	border-bottom : 1px solid #000000;
	border-right : 0px solid #000000;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 0px;
	border-right : 0px;
	color : #000000;
}

td.label, div.form th, div.details th {
	background-color : #FFC;
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
	color : #000088;
}

td.label {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	color : #000088;
}

tr.highlight, td.highlight {
	background-color : #FFFFFF;
}

td.onissue {
	background-color : #EFF1D8;
}

tr.highlight td.onissue {
	background-color : #E7E7CA;
}

table.marc {
	background-color : #FFFFCC;
}

table.marc th {
	background-color: #E7E7CA;
	border : 0px;
}

table.marc td.label {
	color : #000000;
}

table.marc td.data {
	background-color : #FFFFFF;
}

.cancel {
	background-color : #993300;
	color : #FFFFCC;
}

td.debit {
	color : #990000;
}

.current {
	background-color : #FFFFFF;
	color : #3366CC;
}

.error, .overdue {
	color : #CC0033;
}

.form dd {
	border-bottom : 1px solid #E7E7CA;
	color : #000000;
}

.form dt {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	color : #000088;
}

input.focus {
	background-color: #FFF;
	border-bottom: 2px dashed #993300;
}

input.unfocus {
	background-color : #FFF;
}

.submit {
	background-color : #669999;
	color : #EEF0DB;
}

td input.submit {
	border : 1px outset #CCCC99;
	color : #FFFFCC;
}

td input.submit:active {
	border : 1px inset #cccc99;
}

td input.delete {
	border : 1px outset #CCCC99;
	color : #FFFFCC;
	background-color : #993300;
}

td input.delete:active {
	border : 1px inset #cccc99;
}

.thumbnail {
	border : 0px solid #E7E7CA;
}

#auth {
	background-color : transparent;
}

#auth table td {
	background-color : #E7E7CA;
	border-bottom : 1px solid #999933;
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #999933;
	border-top : 1px solid #FFFFFF;
}

#auth table th{
	background-color : #E7E7CA;
	border-bottom : 1px solid #999933;
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #999933;
	border-top : 1px solid #FFFFFF;
}

#main {
	background-color : #CCCC99;
	border-left : 1px solid #CCCC99;
}

#main-compact {
	background-color : #CCCC99;
	border-left : 1px solid #CCCC99;
}

#menu {
	background-color : #FFFFCC;
}

#menu dd {
	border-bottom : 1px dashed #D8DEB8;
	border-left : 1px dashed #D8DEB8;
	border-right : 0px solid #000000;
	border-top : 0px solid #000000;
}

#menu dt {
	background-color : #FFFFFF;
	border-bottom : 1px solid #D8DEB8;
	border-left : 0px solid #D8DEB8;
	border-right : 0px solid #000000;
	border-top : 0px solid #000000;
	color : #000066;
}

#nav {
	background-color : #CCCC99;
}

#nav ul li {
	background-color : #D8DEB8;
	border-bottom : 1px solid #FFFFCC;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
	border-top : 0px solid #FFFFCC;
}

#nav ul li+li {
	border-bottom : 1px solid #FFFFCC;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
}

#nav ul ul li {
	background-color : #EFF1D8;
	border-bottom : 1px solid #CCCC99;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
	border-top : 0px solid #FFFFCC;
}

#nav ul ul li+li {
	border-bottom : 1px solid #CCCC99;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
}

#notes img {
	border: 1px solid #CCCC99;
}

#results, .results {
	color : #000066;
}

#submenu {
	background-color: #D8DEB8;
}

#submenu dl {
	background-color : #E7E7CA;
}

#topmenu {
	color : #CCCC99;
}

#topmenu .submit {
	background-color : #999933;
	color : #FFFFCC;
}

#topmenu a:link {
	color : #CCFF66;
}

#topmenu a:visited {
	color : #CCFF66;
}

#topmenu a:hover {
	color : #FFFFCC;
}

#topmenu a:active {
	color : #FFFFCC;
}


div.members th {
	background-color : #FFFFCC;
	border-bottom : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
}

div.members label.focus {
	color : #cc0000;
}

td fieldset {
	border : 1px solid #CCCCCC;
}

table.editing tr:hover td {
	background-color: #EFF1D8;
}

tfoot {
	background-color : #E7E7CA;
}

tfoot td, tfoot td:last-child {
	border-right : 1px solid #999900;
	border-bottom : 1px solid #999900;
}

div.data table, div.data-main table {
	background-color: #D8DeB8;
}

div.data table td, div.data-main table td {
	border-right : 1px solid #CCCC99;
	border-bottom : 1px solid #CCCC99;
	background-color: #FFFFCC;
}

div.data-main table td {
	background-color : #FFFFE1;
}

div.data table th, div.data-main table th  {
	border-left : 1px solid #999933;
	border-right : 1px solid #CCCC99;
	border-bottom : 1px solid #CCCC99;
	background-color: #E7E7CA;
}

div.data-main table th {
	background-color : #EFF1D8;
}

div.data table tr.highlight td {
	background-color: #FFFFE1;
}

div.data table tr.highlight th {
	background-color : #EEF0DB;
}

div.data table col, div.data-main table col {
	background-color : #CCCCCC;
}

div#controls form {
	background-color : #FFFFCC;
}

label.required:after {
	color : #cc0000;
}

p.date-select input, p.date-select select {
		background-color : #EFF1D8;
}