a:link {
	color : #0066CC;
}

a:visited {
	color : #0066CC;
}

a:hover {
	color : #993300;
}

a.delete {
	background-color : #CC3333;
	color : #FFFF99;
	display : block;
	font-weight : bold;
	margin : 2px;
	padding : 1px;
	text-align : center;
	text-decoration : none;
}

a.delete:hover {
	background-color : #FF3333;
	color : #FFFF99;
}

a.edit {
	background-color : #CCFF00;
	color : #3366CC;
	display : block;
	font-weight : bold;
	margin : 2px;
	padding : 1px;
	text-align : center;
	text-decoration : none;
}

a.edit:hover {
	background-color : #CCFF99;
	color : #000088;
}

a:link.current {
	background-color : transparent;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:link.current {
	background-color : transparent;
	color : #3366CC;
}

a:link.nav {
	background-color : #D8DEB8;
	color : #3366CC;
}

a:link.pages {
	background-color : #FFFFCC;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:visited.current {
	background-color : transparent;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:visited.current {
	background-color : transparent;
	color : #3366CC;
}

a:visited.nav {
	background-color : #D8DEB8;
	color : #3366CC;
}

a:visited.pages {
	background-color : #FFFFCC;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
}

a:hover.nav {
	background-color : #CCFF00;
	color : #CC3333;
}

a:hover.pages {
	background-color : #CCFF00;
	color : #CC3333;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
}

a:active.nav {
	background-color : #99CC00;
	color : #FFFF99;
}

a:active.pages {
	background-color : #99CC00;
	color : #FFFF99;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

body {
	background-color : #009999;
	color : #333333;
	font-family : arial, geneva, sans-serif;
	font-size : 16px;
	margin : 3px 0px 0px 5px;
}

caption {
	color : #000066;
	font-size : 20px;
	font-weight : bold;
	margin-top : 5px;
	text-align : left;
}

div.form, div.details {
	background-color : #FFFFCC;
	border : 0px;
	margin : 0px auto;
	padding : 5px;
}

div.details {
	margin-bottom: 5px;
}

div.details dl {
	margin : 0px;
	padding : 0px;
}

div.details dt {
	font-weight: bold;
	font-size: 12px;
	border-bottom : 1px solid #D8DEB8;
	padding : 2px;
}

div.details dd {
	font-size: 12px;
}

div.details ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top : 0px;
	padding-bottom : 3px;
	font-size : 12px;
}

div#help {
	position : absolute;
	top : 3px;
	right : 3px;
	font-weight : bold;
}

div#help a {
	background-color : #3FB2B3;
	padding : 1px 2px;
	text-decoration : none;
}

div#help .loggedin {
	color : #cccc99;
	font-size : 80%;
}

div#help .loggedinusername {
	color : #D8DEB8;
}

div#help .loggedin a {
	background-color : transparent;
	text-decoration : underline;
	color : #CCFF66;
}

div.items {
	background-color : #FFFFCC;
	border : 0px;
	margin : 0px auto;
	padding : 5px;
	width : 100%;
}

div.items td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
	border-top : 1px solid #E7E7CA;
	font-size : .75em;
	padding: 2px;
}

div.items th {
	background-color : #FFC;
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 1px solid #E7E7CA;
	color : #000088;
	font-size: .75em;
	font-weight : bold;
	padding : 2px;
	text-align : left;
	vertical-align : top;
}

div.details td, div.form td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
}

div.details td:first-child, div.form td:first-child {
	font-weight : bold;
	text-align : right;
	width : 25%;
}

div.details td+td, div.form td+td {
	font-weight : normal;
	text-align : left;
	width : 75%;
}

div.compact td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
	font-weight : normal;
	font-size : 13px;
	padding : 1px 1px 1px 10px;
}

div.compact th {
	border-bottom : 1px solid #999933;
	border-left : 1px solid #E7E7CA;
	border-right : 1px solid #999933;
	border-top : 0px;
	padding : 1px 10px 1px 1px;
	font-weight : normal;
	font-size : 13px;
	text-align : right;
	width : 20%;
	vertical-align: top;
}

div.error {
	background-color : #FFFF99;
	border : 1px dashed #990000;
	font-size : 16px;
	line-height : 18px;
	margin : 10px auto;
	padding : 5px;
	width : 65%;
}

div.error .submit {
	background-color : #993300;
	font-size: 14px;
	color: #E7E7CA;
	padding : 2px 15px 2px 15px;
}

div.error h3 {
	color : #990033;
}

div.error p {
	margin : 0px;
	padding : 0px 0px 0px 20px;
}

div.notice {
	background-color : #FFFF99;
	border : 1px dashed #990000;
	font-size : 16px;
	line-height : 18px;
	margin : 10px auto;
	padding : 5px;	
}

div.flags li {
	list-style : circle;
}

div.flags ul {
	margin : 0px;
	padding : 0px;
}

div.form {
	background-color : #FFFFCC;
	border : 0px dotted #333333;
	margin : 0px auto;
	padding : 5px;
	position : relative;
}

	div.help {
		border : 0;
		background-color : #E7E7CA;
		font-size : 90%;
		margin-bottom : 5px;
	}
	
	div.help h3 {
		cursor : pointer;
		font-size : 100%;
		background-color : #FFFFCC;
		border-bottom : #CCCC99;
		margin : 0;
		padding : 5px;
	}
	
	div.help p {
		margin : 0;
		padding : 2px 5px;
	}
	
	div.help .ex {
		font-weight : bold;
	}

div.menu {
	width : 100%;
}

div.menu th {
	background-color : #FFFFCC;
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
	font-size : 101%;
	font-weight : bold;
	text-align : right;
	}

div.menu td+td {
	font-size : 90%;
	font-weight : normal;
	text-align : left;
}

div.tabitem {
	display : inline;
}

div.tabitem form {
	display : inline;
	white-space : nowrap;
}

div.tabitem ul li {
	margin-left: 0;
	margin-bottom: 0;
	padding: 2px 15px 5px;
	border: 1px solid #000;
	list-style: none;
	display: inline;
	}
	
		
div.tabitem ul li.here {
	border-bottom: 1px solid #ffc;
	list-style: none;
	display: inline;
	}

fieldset {
	border : 0;
	padding : 0;
	white-space : nowrap;
}

fieldset.list {
	white-space : normal;
}

form {
	margin : 0px;
	padding : 0px;
}

form.compact input {
	color : #ffffff;
	font-size : 80%;
	font-weight : normal;
	padding : 0 6px;
}

h1
	{
	color : #000066;
	font-size : 20px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h2 {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h3 {
	color : #000066;
	font-size : 16px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h3.alert {
	background-color: #FFCC33;
	color: #CC0000;
	padding: 3px;
}

h3.title {
	background-color: #EEF0DB;
	font-size : 18px;
	display : block;
	padding : 5px;
	margin: 0px auto;
}

h4 {
	color : #000066;
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h5 {
	color : #000066;
	font-size : 13px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

h6 {
	color : #000066;
	font-size : 12px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

label {
	font-weight : bold;
	padding : 0px 5px 0px 5px;
}

sup {
	font-size : .7em;
	color : #cc0000;
	font-weight : bold;
	font-family : "courier new", courier, monospace;
}

table {
	background-color : #FFFFCC;
	border-bottom : 0px solid #000000;
	border-collapse : collapse;
	border-left : 0px solid #000000;
	margin : 3px 0px 5px 0px;
	padding : 0px;
	width : 99%;
}

td {
	border-bottom : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
}

td:last-child {
	border-bottom : 1px solid #E7E7CA;
	border-right : 0px solid #E7E7CA;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
}

td+ul {
	margin-top : 0px;
	margin-bottom : 0px;
}

th {
	background-color : #D8DEB8;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

th:last-child {
	background-color : #D8DEB8;
	border-bottom : 1px solid #000000;
	border-right : 0px solid #000000;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 0px;
	border-right : 0px;
	color : #000000;
	line-height : 1.5em;
	padding : 4px;
	text-align : right;
}

td.label, div.form th, div.details th {
	background-color : #FFC;
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0px;
	border-top : 0px;
	color : #000088;
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
	text-align : left;
	vertical-align : top;
}

td.label {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	color : #000088;
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
}

tr.highlight, td.highlight {
	background-color : #FFFFFF;
}

td.onissue {
	background-color : #EFF1D8;
}

tr.highlight td.onissue {
	background-color : #E7E7CA;
}

table.marc {
	background-color : #FFFFCC;
	border-collapse : collapse;
	margin : 3px 0px 5px 0px;
	padding : 0px;
	width : 95%;
}

table.marc th {
	background-color: #E7E7CA;
	border : 0px;
	text-align : left;
	font-weight : normal;
}

table.marc td.label {
	color : #000000;
	font-weight : bold;
	width : 25%;
}

table.marc td.data {
	background-color : #FFFFFF;
}

/*.barcode {
	display : block;
	text-align : right;
	font-style: italic;
	font-size : .95em;
	color: #666633;
}*/

.cancel {
	background-color : #993300;
	color : #FFFFCC;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
}

.current {
	background-color : #FFFFFF;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

.error {
	color : #CC0033;
	font-weight : bold;
}

.ex {
	font-family : "Courier New", Courier, monospace;
}

.form dd {
	border-bottom : 1px solid #E7E7CA;
	color : #000000;
	display : block;
	line-height : 1.5em;
	padding : 4px;
	text-align : right;
}

.form dl {
	margin : 0px 0px 0px 0px;
	padding : 3px;
	width : 80%;
}

.form dt {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	color : #000088;
	float : left;
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
}

.help {
		cursor: help;
}

.inline {
	display : inline;
}

.menu input {
	font-size : 80%;
}

input.focus {
	background-color: #FFF;
	border-bottom: 2px dashed #993300;
}

input.unfocus {
	background-color : #FFF;
}

.nav {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

.print {
	font-size: 10px;
}

.submit {
	background-color : #669999;
	color : #EEF0DB;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
}

.yes {
	float: left;
	padding : 0px 15px 0px 15px;
	width : 33%;
	margin : 0px 2px 0px 2px;
	text-align: center;
}

.no {
	float: right;
	padding : 0px 15px 0px 15px;
	width : 33%;
	margin : 0px 2px 0px 2px;
	text-align: center;
}

#auth {
	background-color : transparent;
	margin : 0 30% 0 30%;
	padding : 5px;
}

#auth table {
	border-collapse : separate;
}

#auth table td {
	background-color : #E7E7CA;
	border-bottom : 1px solid #999933;
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #999933;
	border-top : 1px solid #FFFFFF;
	text-align : left;
}

#auth table th{
	background-color : #E7E7CA;
	border-bottom : 1px solid #999933;
	border-left : 1px solid #FFFFFF;
	border-right : 1px solid #999933;
	border-top : 1px solid #FFFFFF;
	width : 50%;
	text-align : right;			
}

#auth p {
	width : 25%;
	margin : 0 auto;
	text-align : center;
	padding : 0;
}

#main {
	background-color : #CCCC99;
	border-left : 1px solid #CCCC99;
	margin-left : 20%;
	margin-right : 2%;
	margin-top : 2%;
	padding : 10px;
}

#main-compact {
	background-color : #CCCC99;
	border-left : 1px solid #CCCC99;
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 2%;
	padding : 10px;	
}

#menu {
	background-color : #FFFFCC;
}

#menu dd {
	border-bottom : 1px dashed #D8DEB8;
	border-left : 1px dashed #D8DEB8;
	border-right : 0px solid #000000;
	border-top : 0px solid #000000;
	padding : 3px 45px 3px 10px;
}

#menu dd a {
	font-size : 1.05em;
	font-weight : bold;
	text-decoration : none;
}

#menu dd li {
	display : inline;
	white-space : nowrap;
}

#menu dd li:before {
	content : "\00BB \0020";
}

#menu dd ul {
	display : inline;
	list-style : disc;
}

#menu dl {
	margin : 0px;
	padding : 0px; /*width : 80%;*/
}

#menu dt {
	background-color : #FFFFFF;
	border-bottom : 1px solid #D8DEB8;
	border-left : 0px solid #D8DEB8;
	border-right : 0px solid #000000;
	border-top : 0px solid #000000;
	color : #000066;
	font-size : 1.2em;
	font-weight : bold;
	padding : 2px 2px 2px 5px;
}

#menu dt a {
	text-decoration : none;
}

#nav {
	background-color : #CCCC99;
	position : absolute;
	left : 1px;
	margin : 2% 0% 0% 1%;
	padding : 0px;
	width : 17%;
}

#nav .submit {
	font-size : 9px;
}

#nav a {
	font-family : Tahoma, arial, geneva, sans-serif;
	font-weight : bold;
	text-decoration : none;
}

#nav h4 {
	font-size : 12px;
	font-weight : bold;
	margin : 0px;
	padding : 0px;
	text-align : left;
}

#nav input {
	font-size : .8em;
}

#nav label {
	font-size : 10px;
}

#nav ul {
	margin : 0px;
	padding : 0px;
}

#nav ul li {
	background-color : #D8DEB8;
	border-bottom : 1px solid #FFFFCC;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
	border-top : 0px solid #FFFFCC;
	font-size : .8em;
	list-style : none;
	padding : 3px;
	text-align : right;
	width : 100%;
}

#nav ul li+li {
	border-bottom : 1px solid #FFFFCC;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
}

#nav ul ul {
	margin : 0px 0px 0px 5px;
}

#nav ul ul li {
	background-color : #EFF1D8;
	border-bottom : 1px solid #CCCC99;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
	border-top : 0px solid #FFFFCC;
	font-size : .9em;
	list-style : none;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	text-align : right;
	width : 100%;
}

#nav ul ul li+li {
	border-bottom : 1px solid #CCCC99;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
	padding : 0px 0px 0px 0px;
}

#notes {
	float : right;
	margin : 0px;
	font-size : 12px;
}

#notes ul {
	margin : 0px;
	padding : 0px;
}

#results, .results {
	color : #000066;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : .8em;
	margin : 0px;
	padding : 3px 0px 15px 0px;
}

#submenu {
	background-color: #D8DEB8;
}

#submenu dl {
	background-color : #E7E7CA;
	float: left;
	font-size : 90%;
	margin: 10px 10px;
	padding: 2px 2px 2px 7px;
	width : 27%;
}

#submenu dt {
	font-size: 100%;
	font-weight : bold;
}

#submenu dd {
	margin-left: 2%;
}

#submenu dd ul {
	margin-left : 0;
	padding-left : 7%;
}

#topmenu {
	color : #CCCC99;
	margin-bottom : 5px;
	margin-left : 20px;
	margin-right : 10px;
}

#topmenu .submit {
	background-color : #999933;
	color : #FFFFCC;
	font-size : .7em;
	padding : 2px;
}

#topmenu a:link {
	color : #CCFF66;
	font-weight : bold;
	padding : 2px;
}

#topmenu a:visited {
	color : #CCFF66;
	font-weight : bold;
	padding : 2px;
}

#topmenu a:hover {
	color : #FFFFCC;
	font-weight : bold;
	padding : 2px;
}

#topmenu a:active {
	color : #FFFFCC;
	font-weight : bold;
	padding : 2px;
}

#topmenu form {
	display : inline;
}

#topmenu label {
	font-weight : bold;
}

.searchresults p {
	margin : .2em;
}

.searchresults p+p {
	text-indent : 1em;
}

.searchresults strong a {
	font-weight : bold;
	font-size : 14px;
}

div.members th {
	background-color : #FFFFCC;
	border-bottom : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
	font-size : 12px;
	padding : 3px 5px;
	width : 25%;
	font-weight : bold;
	text-align : left;
	vertical-align : top;
}

div.members th label {
	display : block;
	margin : 0;
	padding : 0;
}

div.members label.focus {
	color : #cc0000;
}

div.members th p, div.compact th p {
	font-weight : normal;
	padding : 0;
	margin : 0;
	text-indent : 1em;
}

td fieldset {
	border : 1px solid #CCCCCC;
	margin : 0 0 3px 0;
	padding : 0 0 3px 0;
}

fieldset label {
	float : left;
	margin-left : 3px;
	width : 25%;
}

td legend {
	margin : 0;
	padding : 4px;
}

table.editing tr:hover td {
	background-color: #EFF1D8;
}

tfoot {
	background-color : #E7E7CA;
	font-weight : bold;
}

tfoot td, tfoot td:last-child {
	border-right : 1px solid #999900;
	border-bottom : 1px solid #999900;
}

div.data table, div.data-main table {
	background-color: #D8DeB8;
	border-collapse: collapse;
	margin : auto;
	margin : 0 0 5px 0;
}

div.data table caption {
	font-size : 1em;
}

div.data-main table caption {
	font-size : 1.1em;
}

div.data table td, div.data-main table td {
	border-right : 1px solid #CCCC99;
	border-bottom : 1px solid #CCCC99;
	background-color: #FFFFCC;
	font-size: 12px;
	padding : 2px;
	padding-left : .7em;
	margin : 0 0 0 0;
}

div.data-main table td {
	background-color : #FFFFE1;
}

div.data table th, div.data-main table th  {
	border-left : 1px solid #999933;
	border-right : 1px solid #CCCC99;
	border-bottom : 1px solid #CCCC99;
	font-size : 12px;
	font-weight: bold;
	text-align : right;
	padding : 2px;
	padding-right : 1em;
	background-color: #E7E7CA;
	width : 17%;
}

div.data-main table th {
	background-color : #EFF1D8;
}

div.data table th[scope=col], div.data-main table th[scope=col] {
	text-align: center;
	border-left : 0;
}

div.data table col, div.data-main table col {
	background-color : #CCCCCC;
}

.accesskey {
	text-decoration : underline;
}