a.delete {
	display: block;
	font-weight: bold;
	margin: 2px;
	padding: 1px;
	text-align: center;
	text-decoration: none;
}

a.edit {
	display: block;
	font-weight: bold;
	margin: 2px;
	padding: 1px;
	text-align: center;
	text-decoration: none;
}

a:link.current {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:link.pages {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:visited.current {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:visited.pages {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:hover.current {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:hover.pages {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:active.current {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

a:active.pages {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

body {
	font-family: arial, geneva, sans-serif;
	font-size: 16px;
	margin: 3px 0px 0px 5px;
}

caption {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
	text-align: left;
}

div#controls {
	float: right;
	margin-left: .7em;
	width: 15%;
}

div#controls form {
	font-size: 80%;
	margin: .3em 0;
	padding: .3em;
}

div#help {
	font-weight: bold;
	position: absolute;
	right: 3px;
	top: 3px;
}

div#help .loggedin, .menu input {
	font-size: 80%;
}

div#help .loggedin a {
	text-decoration: underline;
}

div#help a {
	padding: 1px 2px;
	text-decoration: none;
}

div.compact td {
	border-right: 0px;
	border-top: 0px;
	font-size: 13px;
	font-weight: normal;
	padding: 1px 1px 1px 10px;
}

div.compact th {
	border-top: 0px;
	padding: 1px 10px 1px 1px;
	font-weight: normal;
	font-size: 13px;
	text-align: right;
	width: 20%;
	vertical-align: top;
}

div.data p {
	margin: .5em 0;
}

div.data table caption {
	font-size: 1em;
}

div.data table td, div.data-main table td {
	font-size: 12px;
	margin: 0 0 0 0;
	padding: 2px;
	padding-left: .7em;
}

div.data table th, div.data-main table th {
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
	padding-right: 1em;
	text-align: right;
	width: 17%;
}

div.data table th[scope=col], div.data-main table th[scope=col] {
	border-left: 0;
}

div.data table tr.highlight th {
	font-size: 70%;
	font-weight: bold;
	padding-right: 1em;
}

div.data table, div.data-main table {
	border-collapse: collapse;
	margin: auto;
	margin: 0 0 5px 0;
}

div.data-main table caption {
	font-size: 1.1em;
}

div.details {
	margin-bottom: 5px;
}

div.details dd {
	font-size: 12px;
}

div.details dl {
	margin: 0px;
	padding: 0px;
}

div.details dt {
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
}

div.details td, div.form td {
	border-right: 0px;
	border-top: 0px;
}

div.details td:first-child, div.form td:first-child {
	font-weight: bold;
	text-align: right;
	width: 25%;
}

div.details td+td, div.form td+td {
	font-weight: normal;
	text-align: left;
	width: 75%;
}

div.details ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 3px;
	font-size: 12px;
}

div.error {
	font-size: 16px;
	line-height: 18px;
	margin: 10px auto;
	padding: 5px;
	width: 65%;
}

div.error .cancel {
	font-size: 14px;
	margin-left: 5%;
	padding: 2px 15px 2px 15px;
}

div.error .submit {
	font-size: 14px;
	margin-left: 5%;
	padding: 2px 15px 2px 15px;
}

div.error p {
	margin: 0px;
	padding: 0px 0px 0px 20px;
}

div.flags li {
	list-style: circle;
}

div.flags ul {
	margin: 0px;
	padding: 0px;
}

div.form, div.details {
	border: 0px;
	margin: 0px auto;
	padding: 5px;
}

div.help {
	border: 0;
	font-size: 90%;
	margin-bottom: 5px;
}

div.help .ex {
	font-weight: bold;
}

div.help h3 {
	font-size: 100%;
	margin: 0;
	padding: 5px;
}

div.help p {
	margin: 0;
	padding: 2px 5px;
}

div.items {
	border: 0px;
	margin: 0px auto;
	padding: 5px;
	width: 98%;
}

div.items td {
	font-size: .75em;
	padding: 2px;
}

div.items th {
	font-size: .75em;
	font-weight: bold;
	padding: 2px;
	text-align: left;
	vertical-align: top;
}

div.members th {
	font-size: 12px;
	padding: 3px 5px;
	width: 25%;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

div.members th label {
	display: block;
	margin: 0;
	padding: 0;
}

div.members th p, div.compact th p {
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-indent: 1em;
}

div.menu {
	margin-bottom : 5px;
	padding: 5px;
	width: 98%;
}

div.menu dl {
	padding: 0;
	margin : 0;
}

div.menu dt {
	font-size : 80%;
	font-weight: bold;
	padding: 2px;
	margin : .3em;
}

div.menu dd {
	font-size: 75%;
	margin-left: 1em;	
}
div.notice {
	font-size: 16px;
	line-height: 18px;
	margin: 10px auto;
	padding: 5px;
}

div.tabitem {
	display: inline;
}

div.tabitem form {
	display: inline;
	white-space: nowrap;
}

div.tabitem li a {
	font-weight: bold;
	padding: 3px 3px;
	text-decoration: none;
}

div.tabitem ul {
	margin: 0;
	padding: 0;
}

div.tabitem ul li {
	font-size: 80%;
	margin: 0 2px 0 0;
	padding: 3px 0;
	list-style: none;
	display: inline;
}

fieldset {
	border: 0;
	padding: 0;
	white-space: nowrap;
}

fieldset label {
	float: left;
	margin-left: 3px;
	width: 25%;
}

fieldset.list {
	white-space: normal;
}

form {
	margin: 0px;
	padding: 0px;
}

form.compact input {
	font-size: 80%;
	font-weight: normal;
	padding: 0 6px;
}

h1	{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
}

h3.alert {
	padding: 3px;
}

h3.title {
	font-size: 18px;
	display: block;
	padding: 5px;
	margin: 0px auto;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
	margin-top: 3px;
}

h5 {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 1px;
	margin-top: 1px;
}

h6 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 1px;
	margin-top: 1px;
}

label {
	font-weight: bold;
	padding: 0px 5px 0px 5px;
}

label.required:after {
	content: "*";
	font-family: "Courier New", Courier, monospace;
	font-size: 150%;
	padding-left: 3px;
}

p.date-select {
		font-size: 80%;
	margin-top: 2px;
	margin-bottom: 2px;
}

p.date-select input, p.date-select select {
	font-size: 70%;
}

sup {
	font-family: "courier new", courier, monospace;
	font-size: .7em;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin: 3px 0px 5px 0px;
	padding: 0px;
	width: 99%;
}

table.marc {
	border-collapse: collapse;
	margin: 3px 0px 5px 0px;
	padding: 0px;
	width: auto;
}

table.marc td.label {
	font-weight: bold;
	width: 25%;
}

table.marc th {
	border: 0px;
	text-align: left;
	font-weight: normal;
}

td {
	font-size: 12px;
	padding: 5px 5px 5px 5px;
}

td fieldset {
	margin: 0 0 3px 0;
	padding: 0 0 3px 0;
}

td form {
	margin: 0;
}

td input.delete {
	font-size: 12px;
	font-weight: bold;
	padding: 0 5px 0 5px;
	margin: 0 5px 0 0;
}

td input.submit {
	margin: 0 5px 0 0;
	padding: 0 5px 0 5px;
}

td legend {
	margin: 0;
	padding: 4px;
}

td.credit, td.debit, td.sum {
	font-family: "Courier New", Courier, monospace;
	text-align: right;
}

td.input, div.form td, div.details td {
	line-height: 1.5em;
	padding: 4px;
	text-align: right;
}

td.label {
	font-weight: bold;
	line-height: 1.5em;
	padding: 4px;
}

td.label, div.form th, div.details th {
	font-weight: bold;
	line-height: 1.5em;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

td:last-child {
	font-size: 12px;
	padding: 5px 5px 5px 5px;
}

td+ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

tfoot {
	font-weight: bold;
}

th {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}

th:last-child {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
}

tr th[scope=row], tr.highlight th[scope=row]{
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	padding: 0;
}

.accesskey {
	text-decoration: underline;
}

.cancel {
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
}

.current {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

.error {
	font-weight: bold;
}

.ex {
	font-family: "Courier New", Courier, monospace;
}

.form dd {
	display: block;
	line-height: 1.5em;
	padding: 4px;
	text-align: right;
}

.form dl {
	margin: 0px 0px 0px 0px;
	padding: 3px;
	width: 80%;
}

.form dt {
	float: left;
	font-weight: bold;
	line-height: 1.5em;
	padding: 4px;
}

.form-help {
	font-size: 95%;
	padding-left: 15px;
}

.inline {
	display: inline;
}

.menu input {
	font-size: 80%;
}

.nav {
	font-size: 12px;
	font-weight: bold;
	padding: 1px 5px 1px 5px;
	text-decoration: none;
}

.no {
	float: right;
	padding: 0px 15px 0px 15px;
	width: 33%;
	margin: 0px 2px 0px 2px;
	text-align: center;
}

.print {
	font-size: 10px;
}

.searchresults p {
	font-size: 1.2em;
	font-weight: bold;
	margin: .2em;
}

.searchresults p+p {
	font-size: 1em;
	font-weight: normal;
	text-indent: 1em;
}

.searchresults strong a {
	font-weight: bold;
	font-size: 14px;
}

.searchresults td {
	padding: 2px 2px 2px 5px;
}

.submit, div.details dt, .cancel {
	font-size: 12px;
	font-weight: bold;
	padding: 2px;
}

.thumbnail {
	float: left;
	margin: 0 5px 10px 0;
}

.yes {
	float: left;
	padding: 0px 15px 0px 15px;
	width: 33%;
	margin: 0px 2px 0px 2px;
	text-align: center;
}

#auth {
	margin: 0 30% 0 30%;
	padding: 5px;
}

#auth p {
	width: 25%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

#auth table {
	border-collapse: separate;
}

#auth table td {
	text-align: left;
}

#auth table th{
	text-align: right;
	width: 25%;
}

#main {
	margin-left: 18%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 10px;
}

#main-compact {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	padding: 10px;
}

#menu dd {
	padding: 3px 45px 3px 10px;
}

#menu dd a {
	font-size: 1.05em;
	font-weight: bold;
	text-decoration: none;
}

#menu dd li {
	display: inline;
	white-space: nowrap;
}

#menu dd li:before {
	content: "\00BB \0020";
}

#menu dd ul {
	display: inline;
	list-style: disc;
}

#menu dl {
	margin: 0px;
	padding: 0px; /*width : 80%;*/
}

#menu dt {
	font-size: 1.2em;
	font-weight: bold;
	padding: 2px 2px 2px 5px;
}

#menu dt a {
	text-decoration: none;
}

#nav {
	position: absolute;
	left: 1px;
	margin: 2% 0% 0% 5px;
	padding: 0px;
	width: 16%;
}

#nav .submit {
	font-size: 9px;
}

#nav a {
	font-family: Tahoma, arial, geneva, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

#nav h4 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: left;
}

#nav input {
	font-size: .8em;
}

#nav label {
	font-size: 10px;
}

#nav ul {
	margin: 0px;
	padding: 0px;
}

#nav ul li {
	font-size: .8em;
	list-style: none;
	padding: 3px 3px 10px 3px;
	text-align: right;
	width: 100%;
}

#nav ul ul {
	margin: 0px 0px 0px 5px;
}

#nav ul ul li {
	font-size: .9em;
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: right;
	width: 100%;
}

#nav ul ul li+li {
	padding: 0px 0px 0px 0px;
}

#notes {
	float: right;
	margin: 0px;
	padding: 0px;
}

#notes {
	float: right;
	font-size: 12px;
	margin: 0px;
}

#results, .results {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	margin: 0px;
	padding: 3px 0px 15px 0px;
}

#submenu dd {
	margin-left: 2%;
}

#submenu dd ul {
	margin-left: 0;
	padding-left: 7%;
}

#submenu dl {
	float: left;
	font-size: 90%;
	margin: 10px 10px;
	padding: 2px 2px 2px 7px;
	width: 27%;
}

#submenu dt {
	font-size: 100%;
	font-weight: bold;
}

#topmenu {
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 10px;
}

#topmenu .submit {
	font-size: .7em;
	padding: 2px;
}

#topmenu a:link {
	font-weight: bold;
	padding: 2px;
}

#topmenu a:visited {
	font-weight: bold;
	padding: 2px;
}

#topmenu a:hover {
	font-weight: bold;
	padding: 2px;
}

#topmenu a:active {
	font-weight: bold;
	padding: 2px;
}

#topmenu form {
	display: inline;
}

#topmenu label {
	font-weight: bold;
}
