

.contentholder {
	position: relative;
	padding-top: 10px;
	padding-right: 10px;	
	padding-bottom: 10px;	
	padding-left: 10px;	
}

.tabholder {
	margin-top : 5px;
	padding: 0;
	position: relative;
	z-index: 2;
}
.tab {
	border: 2px;
	border-color: #999999;
	border-bottom-style: none;
	line-height: 150%;
	text-align: center;
	padding: 4px 10px 4px 10px;
	margin: 0;
	cursor: pointer;
	cursor: hand;
	font-family: Arial, Helvetica,  sans-serif; 
	font-size: 12px;
	font-weight: bold;
	background-color: #D8DEB8;
	color: #000066;				 
}

.panelholder {
	position: relative;
	top: 3px;
	z-index: 1;
	width: 100%;
	visibility: visible;
	display: block;
}

.panel {
	position: relative;
	color: #000000;
	background-color: #FFFFCC;
	border: 2px;
	border-color: #999999;
	top: 0;
	left: 0;
	padding: 10px;
	display: none;
}