[% INCLUDE 'help-top.inc' %]

<h1>Receiving Serials</h1>

<p>Issues can be marked as received from several locations. To find a subscription, use the search box at the top of the Serials page to search for the serial you'd like to receive issues for</p>

<p>From the search results you can click the 'Serial Receive' link or you can click on the subscription title and then click the 'Receive' button.</p>

<p>The final way to receive serials is from the 'Serial Collection' page. To the left of the Subscription summary page there is a menu with a link to 'Serial Collection'</p>

<p>From the page that opens up you can click 'Edit Serial' with the issue you want to receive checked.</p>

<p>All three of these options will open up the issue receive form:</p>

<ul>
	<li>Choose 'Arrived' from the status pull down to mark a serial as received.</li>
	<li>If you have decided to have an item record created for each issue an item add form will appear</li>
	<li>If your issue has a supplemental issue with it, fill in the Supplemental Issue information.</li>
	<li>If you have decided to have an item record created for each issue an item add form will appear for your supplement and for the issue itself</li>
	<li>Once you have entered your info you can click 'Save'</li>
</ul>

<p>If you are receiving multiple issues at once, or have marked an issue as 'Late' or 'Missing' there you can click the 'Generate Next' button below the list of issues.</p>

<p>Clicking this button will generate the next issue for you and mark the previously expected issue as 'Late' automatically. You can then check the 'Edit' box to the right of each issue and edit the status on multiple issues at once.</p>

<p><strong>See the full documentation for Receiving a Serial in the <a href="http://koha-community.org/manual/[% helpVersion %]/en/html/serials.html#receive-issues">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
