<!-- TMPL_INCLUDE name="doc-head-open.inc" -->
Catalogue <!-- TMPL_VAR NAME="LibraryNameTitle" --> -- Accueil bibliothèque de
<!-- TMPL_LOOP name="BORROWER_INFO" -->
    <!-- TMPL_VAR name="firstname" --><!-- TMPL_VAR name="surname" -->
<!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE name="doc-head-close.inc" -->
<!-- TMPL_INCLUDE name="masthead.inc" -->
<!-- TMPL_INCLUDE name="navigation.inc" -->

<!-- TMPL_INCLUDE name="usermenu.inc" -->
<!-- CONTENT -->
    <!-- TMPL_LOOP NAME="BORROWER_INFO" -->
        <br />
        <h2>
            Bonjour <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --> 
        </h2>
        (<a href="/cgi-bin/koha/opac-logout.pl">Cliquer ici</a> si vous n'êtes pas <!-- TMPL_VAR NAME="title" --> <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" -->)
        <!-- TMPL_IF name="textmessaging"-->
            <h3>Message de la bibliothèque</h3>
            <p><!-- TMPL_VAR name="textmessaging" --></p>
        <!-- /TMPL_IF -->
        <!-- TMPL_IF NAME="flagged" -->
        <ul>
            <!-- TMPL_IF NAME="debarred" -->
                <li><strong>Merci de noter :</strong> Votre compte a été bloqué. Habituellement, la suspension est due à des anciensretards  ou à des pénalités pour détérioration. Si <a href="/cgi-bin/koha/opac-user.pl">votre page personnelle</a> montre que votre compte est à jour, contactez un bibliothécaire.</li>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="gonenoaddress" -->
                <li><strong>Merci de noter :</strong>  D'après nos fichiers<a href="/cgi-bin/koha/opac-userdetails.pl">vos coordonnées</a> ne sont plus à jour. Merci de nous contacter ou d'utiliser <a href="/cgi-bin/koha/opac-userupdate.pl">la mise à jour en ligne</a> pour nous transmettre vos nouvelles coordonnées (<em>Notez </em> qu'il y aura un délai pour réactiver votre compte si vous le faîtes par la mise à jour en ligne)</li>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="lost" -->
                <li><strong>Merci de noter : </strong> Votre carte de bibliothèque a été signalée comme perdue ou volée. Si c'est une erreur, prière d'apporter votre carte à la banque de prêt de votre bibliothèque et l'erreur sera corrigée.</li>
            <!-- /TMPL_IF -->
        </ul>
        <!-- /TMPL_IF -->
        <!-- FINES BOX -->
        <!-- TMPL_IF NAME="amountoverfive" -->
            <h3>Amendes et frais</h3>
            <table>
                <tr><th colspan="2">Montant</th></tr>
                <tr>
                    <td>Vous avez des dettes pour amendes et frais  pour un montant de :</td>
                    <td><a href="/cgi-bin/koha/opac-account.pl"><!-- TMPL_VAR NAME="amountoutstanding" --></a></td>
                </tr>
            </table>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME="amountoverzero" -->
            <h3>Amendes et frais</h3>
            <table>
                <tr><th colspan="2">Montant</th></tr>
                <tr><td>Vous avez des dettes pour amendes et frais  pour un montant de :</td>
                <td><a href="/cgi-bin/koha/opac-account.pl"><!-- TMPL_VAR NAME="amountoutstanding" --></a></td></tr>
            </table>
        <!-- /TMPL_IF -->

        <!-- TMPL_IF NAME"amountlessthanzero" -->
            <h3>Crédits</h3>
            <table>
            <tr><th colspan="2">Montant</th></tr>
            <tr><td>Vous avez un crédit de:</td><td><a href="/cgi-bin/koha/opac-account.pl"><!-- TMPL_VAR NAME="amountoutstanding" --></a></td></tr>
            </table>
        <!-- /TMPL_IF -->
	
    <!-- /TMPL_LOOP -->

    <!-- TMPL_IF NAME="waiting_count" -->
    <!-- TMPL_IF NAME="atdestination" -->
    <h3>Documents réservés en attente</h3>
        <table>
            <tr>
                <th colspan="2">Titre</th>
                <th>Date de réservation</th>
                <th>Site de retrait</th>
            </tr>
            <!-- TMPL_LOOP NAME="WAITING" -->
                <tr>
                    <td>
                        <img src="<!-- TMPL_VAR NAME="themelang" -->/images/<!-- TMPL_VAR NAME="itemtype" -->.gif" alt="<!-- TMPL_VAR NAME="itemtype" -->" title="<!-- TMPL_VAR NAME="itemtype" -->" />
                    </td>
                    <td>
                        <a href="opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->">
                            <!-- TMPL_VAR NAME="waiting_title" -->
                        </a>
                        <span class="item-details">
                            <!-- TMPL_VAR NAME="author" -->
                        </span>
                    </td>
                    <td>
                        <!-- TMPL_VAR NAME="reservedate" -->
                    </td>
                    <td>
                        <!-- TMPL_IF NAME="atdestination" -->
                        <strong>En attente</strong> à <!-- TMPL_VAR Name="branch" -->
                        <!-- TMPL_ELSE -->
                        En transit de <!-- TMPL_VAR NAME="holdingbranch" --> vers <!-- TMPL_VAR Name="branch" -->
                        <!-- /TMPL_IF -->
                    </td>
                </tr>
            <!-- /TMPL_LOOP -->
        </table>
        <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="issues_count" -->
        <h3>En prêt (<!-- TMPL_VAR NAME="issues_count" --> en tout)</h3>
        <table>
        <!-- ISSUES TABLE ROWS --><tr>
        <th colspan="2">Titre</th>
        <th>Cote</th>
        <th>Retour le</th>
        <!-- TMPL_UNLESS name="patron_flagged" --><th>Renouveller</th><!-- /TMPL_UNLESS -->
        <th>Amendes</th>
        </tr>
        <!-- TMPL_LOOP NAME="ISSUES" -->
            <!-- TMPL_IF NAME="overdue" -->
                <tr class="overdue">
            <!-- TMPL_ELSE -->
                <tr>
            <!-- /TMPL_IF -->
                <td>
                    <!-- TMPL_IF name="imageurl" -->
                        <img src="<!-- TMPL_VAR name="imageurl" -->" title="<!-- TMPL_VAR name="description" -->"/>
                    <!-- TMPL_ELSE -->
                        <!-- TMPL_VAR name="description" -->
                    <!-- /TMPL_IF -->
                </td>
                <td>
                    <a href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" --></a>
                    <span class="item-details">
                        <!-- TMPL_VAR NAME="author" -->
                    </span>
                </td>
                <td><!-- TMPL_VAR NAME="classification" --></td>
                <!-- TMPL_IF NAME="overdue" -->
                    <td class="overdue"><!-- TMPL_VAR NAME="date_due" --></td>
                <!-- TMPL_ELSE -->
                    <td><!-- TMPL_VAR NAME="date_due" --></td>
                <!-- /TMPL_IF -->
                <!-- TMPL_UNLESS name="patron_flagged" -->
                <td>
                    <!-- TMPL_IF NAME="status" -->
                        <a href="/cgi-bin/koha/opac-renew.pl?from=opac_user&amp;item=<!-- TMPL_VAR NAME="itemnumber" -->&amp;borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">Renouveller</a>
                    <!-- TMPL_ELSE -->
                        Pas renouvelable
                    <!-- /TMPL_IF -->
                </td>
                <!-- /TMPL_UNLESS -->
                <td><!-- TMPL_IF NAME="charges" -->Oui<!-- TMPL_ELSE -->Non<!-- /TMPL_IF --></td>
            </tr>
        <!-- /TMPL_LOOP -->
        </table>
    <!-- TMPL_ELSE -->
        <table>
            <caption>Prêts</caption>
            <tr><td>Vous n'avez pas de prêt en cours</td></tr>
        </table>
    <!-- /TMPL_IF -->

    <!-- TMPL_IF NAME="reserves_count" -->
        <h3>Réservation(s) (<!-- TMPL_VAR NAME="reserves_count" --> en tout)</h3>
        <table>
            <!-- RESERVES TABLE ROWS -->
            <tr>
                <th>Titre</th>
                <th>Faite le</th>
                <th>Lieu de retrait</th>
                <th>Situation</th>
            </tr>
            <!-- TMPL_LOOP NAME="RESERVES" -->
            <tr>
                <td>
                    <a href="/cgi-bin/koha/opac-detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="reserves_title" --></a>
                    <!-- TMPL_VAR NAME="author" -->
                </td>
                <td><!-- TMPL_VAR NAME="reservedate" --></td>
                <td><!-- TMPL_VAR Name="branch" --></td>
                <td>
                    <!-- TMPL_IF Name="wait" -->
                        <!-- TMPL_IF NAME="atdestination" -->
                            <!-- TMPL_IF name="found" -->
                            Document en attente à <b> <!-- TMPL_VAR NAME="wbrname" --> </b>
                            <input type="hidden" name="pickup" value=<!-- TMPL_VAR NAME="wbrcd" --> />
                        <!-- TMPL_ELSE -->
                            En attente de retrait
                        <!-- /TMPL_IF -->
                        <!-- TMPL_ELSE -->
                        Document en cours de transfert vers <b><!-- TMPL_VAR NAME="wbrname" --></b> <input type="hidden" name="pickup" value=<!-- TMPL_VAR NAME="wbrcd" -->>
                        <!-- /TMPL_IF -->
                    <!-- TMPL_ELSE -->
                        Pas disponible
                    <!-- /TMPL_IF -->
                </td>
            </tr>
            <!-- /TMPL_LOOP -->
        </table>
        <p>Si vous ne voulez plus d'une réservation, merci de nous envoyer un mail, ou passez à la banque de prêt de votre bibliothèque pour l'annuler.</p>
    <!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
