<!-- TMPL_INCLUDE name="doc-head-open.inc" --><!-- TMPL_VAR NAME="LibraryNameTitle" --> Catalogue -- Compte de <!-- TMPL_LOOP name="BORROWER_INFO" --><!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --><!-- /TMPL_LOOP -->
<!-- TMPL_INCLUDE name="doc-head-close.inc" -->
<!-- TMPL_INCLUDE name="masthead.inc" -->
<!-- TMPL_INCLUDE name="navigation.inc" -->

<!--CONTENT-->
    <!-- TMPL_INCLUDE name="usermenu.inc" -->

    <!-- TMPL_IF NAME= "Error_messages" -->
        <h3>Il y a eu un problème avec votre demande</h3>
        <p class="error">
            <!-- TMPL_IF NAME= "PassMismatch" -->
            Les mots de passe ne correspondent pas.Prière de retaper votre nouveau mot de passe.
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME= "ShortPass" -->
            Le nouveau mot de passe doit avoir au moins 6 caractères
            <!-- /TMPL_IF -->
            <!-- TMPL_IF NAME= "WrongPass" -->
            Votre mot de passe actuel a été mal saisi. Si le problème persiste, contactez un bibliothécaire, qui modifiera votre mot de passe à votre place.	
            <!-- /TMPL_IF -->
        </p>
    <!-- /TMPL_IF -->
    
    <!-- TMPL_IF NAME= "Ask_data" -->
        <!-- TMPL_IF NAME="OpacPasswordChange" -->
        <h1>Modifiez votre mot de passe</h1>
        <form action="/cgi-bin/koha/opac-passwd.pl" name="mainform" id="mainform" method="get">
            <p><label for="password">Mot de passe actuel :</label><input type="password" id="Oldkey" size="25"  name="Oldkey" /></p>
            <p><label for="Newkey">Nouveau mot de passe :</label><input type="password" id="Newkey"  size="25"  name="Newkey" /></p>
            <p><label for="Confirm">Confirmez votre nouveau mot de passe :</label><input type="password"  id="Confirm" size="25" name="Confirm" /></p>
            <p><input type="submit" value="Proposer les modifications à la bibliothèque" class="submit"></p>
        <!-- TMPL_ELSE -->
            <div class="error">Vous ne pouvez pas changer votre mot de passe.</div>
        <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
    
    <!-- TMPL_IF NAME= "password_updated" -->
        <h1>Mot de passe mis à jour</h1>
        Votre mot de passe a été modifié
        <form action="/cgi-bin/koha/opac-user.pl" method="post">
            <input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
            <p><input type="submit" class="icon back" value="Retour à vos informations"></p>
        </form>
    <!-- /TMPL_IF -->
    </form>

<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
