<!-- TMPL_INCLUDE NAME="cat-top.inc" -->
<h1>Main Menu</h1>
<ul>
<li><a href=<!-- TMPL_VAR name="SCRIPT_NAME" -->?menu=z3950>Z39.50 Search</a>
<li><a href=<!-- TMPL_VAR name="SCRIPT_NAME" -->?menu=uploadmarc>Upload MARC Records</a>
</ul>
<center>
<p>
<!-- FIXME - The "$ENV{SCRIPT_NAME}" is evidently left over from when this
     was in Perl.
  -->
<a href=$ENV{'SCRIPT_NAME'}?menu=$menu>Select a New File</a>
<p>
<!-- TMPL_IF name="IS_MARC" -->
	<table border=0 cellpadding=10 cellspacing=0>
	<tr>
		<th background=/images/background-acq.gif>
		 	Select a Record to Import from <!-- TMPL_VAR name="recordsource" -->
		</th>
	</tr>
	<tr>
		<td bgcolor=#dddddd>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="IS_Z3950" -->
<table border=0 cellpadding=10 cellspacing=0>
<tr>
		<td bgcolor=#dddddd>
		<!-- TMPL_IF name="HAS_NUMRECORDS" -->
	            <a name=SERVER-<!-- TMPL_VAR name="srvid" -->></a> " <!-- TMPL_VAR name="srvname" -->
		<font size=-1>[Viewing <!-- TMPL_VAR name="startrecord" --> to <!-- TMPL_VAR name="highest" --> of <!-- TMPL_VAR name="numrecords" --> records]  <!-- TMPL_VAR name="previous" --> | <!-- TMPL_VAR name="next" --> </font><br>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="PENDING" -->
			<font color=red>Search still pending...</font>
		<!-- TMPL_ELSE -->
			<font color=red>processing... <!-- TMPL_VAR name="elapsedtime" --></font>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="NO_RECORDS" -->
			<b>No results found for query <!-- TMPL_VAR name="id" --></b>
		<!-- /TMPL_IF -->
<!-- /TMPL_IF -->
	<!-- TMPL_LOOP name="LINES" -->
<!--		<a href=<!-- TMPL_VAR name="SCRIPT_NAME" -->?file=<!-- TMPL_VAR name="file" -->&resultsid=<!-- TMPL_VAR name="resultsid" -->&<!-- TMPL_VAR name="searchfield" -->=<!-- TMPL_VAR name="searchvalue" -->&searchfield=<!-- TMPL_VAR name="searchfield" -->&searchvalue=<!-- TMPL_VAR name="searchvalue" -->> -->
		<a href=<!-- TMPL_VAR name="SCRIPT_NAME" -->?file=<!-- TMPL_VAR name="file" -->&numrecord=<!-- TMPL_VAR name="numrecord" -->>
				<!-- TMPL_VAR name="title" -->
				<!-- TMPL_VAR name="author" -->
		</a>
		<!-- TMPL_VAR name="donetext" --><br>
	<!-- /TMPL_LOOP -->
</td>
</tr>
</table>

<!-- TMPL_INCLUDE NAME="cat-bottom.inc" -->
