<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Koha -- Catalog: Advanced MARC Search<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="masthead.inc" -->


<!-- TMPL_IF NAME="refresh" -->
		<meta http-equiv="refresh" content="2; url=<!-- TMPL_VAR NAME="refresh" -->" />
	<!-- /TMPL_IF -->

<div id="main-compact">
<table>
<!-- TMPL_IF name="opsearch" -->
<h3>Select Search Libraries</h3>


<form method="post" action="search.pl" name="f">

<input type="hidden" name="op" id="op" value="do_search" />
<input type="hidden" name="title" value=<!-- TMPL_VAR NAME="title" --> />
<input type="hidden" name="author" value=<!-- TMPL_VAR NAME="author" --> />
<input type="hidden" name="isbn" value=<!-- TMPL_VAR NAME="isbn" --> />
<input type="hidden" name="issn" value=<!-- TMPL_VAR NAME="issn" --> />
<input type="hidden" name="oldbiblionumber" value="<!-- TMPL_VAR NAME="oldbiblionumber" -->" />

<tr>
		<th>Library</th>
		<th>Select</th>
</tr>
<!-- TMPL_LOOP name="serverloop" -->
		<tr bgcolor="<!-- TMPL_VAR NAME="toggle" -->">
			<td><!-- TMPL_VAR NAME="server" --></td>
			
			<td> <input type="checkbox" name="id" value=<!-- TMPL_VAR NAME="id" --> <!-- TMPL_IF name="checked" -->checked="1"<!-- /TMPL_IF --> ></td>
	</tr>
	<!-- /TMPL_LOOP -->
	<tr><td><input type="submit"  class="submit" value="Search internet" onclick="cursor :'wait'";
	 /></td></tr></form>
<!-- TMPL_ELSE -->

<caption>Bibliographic Records Found</caption>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>coming from</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	<!-- TMPL_IF name="breeding_loop" -->
	<!-- TMPL_LOOP name="breeding_loop" -->
		<tr bgcolor="<!-- TMPL_VAR NAME="toggle" -->">
			<td><!-- TMPL_VAR NAME="title" --></a>
			<td><!-- TMPL_VAR NAME="author" --></td>
			<td><!-- TMPL_VAR NAME="isbn" --></td>
			<td><!-- TMPL_VAR NAME="server" --></td>
			<td><a href="javascript:Import(<!-- TMPL_VAR NAME="id" -->,<!-- TMPL_VAR NAME="oldbiblionumber" -->)">Import</a></td> 
		
		</tr>
	<!-- /TMPL_LOOP -->
	<!-- TMPL_ELSE -->
		<tr><td colspan="6">Nothing found</td></tr>
	<!-- /TMPL_IF -->
</table>
<!-- /TMPL_IF -->

</div>
<!-- TMPL_IF name="numberpending" --><h3 align="center">Still <!-- TMPL_VAR NAME="numberpending" --> requests to go</h3><!-- /TMPL_IF -->
<script language="JavaScript" type="text/javascript">
	function Import(GetThisOne,biblionumber) {
		opener.document.location= "../cataloguing/addbiblio.pl?oldbiblionumber="+biblionumber+"&z3950=1&breedingid="+GetThisOne;
		self.close();
		return false;
	}
</script>
</div>
<!-- TMPL_INCLUDE name="acquisitions-bottom.inc" -->

