/*Search form */
form#searchform select {
    display:none;
    right: -9999em;
    position: absolute;
}
div#menu {
    border-left: 1px solid rgb(151, 151, 151);
    font-size: 94%;
    margin-left: 0.5em;

}
/*text alignment */
body,
#doc,
#doc2,
#doc3,
#doc4,
.yui-t1,
.yui-t2,
.yui-t3,
.yui-t4,
.yui-t5,
.yui-t6,
.yui-t7,
table#marc th,
caption
{
    text-align: right;
   direction: rtl;
}
h4
{
    text-align: right !important;
}

/*floats*/
.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf, .yui-gc .yui-u, .yui-gd .yui-g, .yui-g .yui-gc .yui-u, .yui-ge .yui-u, .yui-ge .yui-g, .yui-gf .yui-g, .yui-gf .yui-u {
    float: left;
}
.yui-g div.first, .yui-g div.first, .yui-gc div.first, .yui-gc div.first div.first, .yui-gd div.first, .yui-ge div.first, .yui-gf div.first {
    float: right;
}
fieldset.rows label, fieldset.rows span.label {
    float: right;
    margin-right: 1em;
    text-align: right;
}
.yui-t1 .yui-b {
    float: right;
    width: 12.3207em;
}


#opacmainuserblock, #news {
    margin-right: 7em;
}
ul#menu-left {
    margin: 0px 30px 0px 0px ;
    float: right;
}
#members {
    background: none repeat scroll 0% 0% transparent;
    margin: 0px;
    padding: 0px;
    float: left;
}
#members li {
    float: right;
    border-left: medium none;
}
.ui-tabs .ui-tabs-nav li {
    float: right;
}
div.rating-cancel, div.star-rating {
    float: right;
}
.left {
    float: right;
}
input#searchsubmit.left {
 float:right;
}

#fluid-offset {
    float: left;
    width: 100%;
}

#moresearches a:link, #moresearches a:visited {
    background: url("../../images/arrow-left-grey-11x6.png") no-repeat scroll right center transparent;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 12px;
}

form.single-library .input-wrapper {
    margin: 0px 0px 0px 237px;
}

form.single-library #filters .jqTransformSelectWrapper, form.multi-libraries #libraries .jqTransformSelectWrapper {
    left: 50px;
    right: auto;
}
form#searchform input[type="submit"] {
    margin-right: 4px;
    position: absolute;
    left: 10px;
    right: auto;
}
ul#i18nMenu li {
float:right !important;
}
div.lang {
float:right !important;
}

#main_footer .colright {
    float: left;
}
#main_footer .colright .koha {
    background: url("../../images/img_logo_koha.jpg") no-repeat scroll left bottom transparent;
}
.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main
{
   float: left;
}
.yui-t1 #yui-main .yui-b {
    margin-right: 13.3207em;
}
.yui-t1 #yui-main, .yui-t2 #yui-main, .yui-t3 #yui-main {
    margin-right: -25em;
    margin-left: auto;
}
.yui-t1 #yui-main .yui-b {
    margin-left: auto;
}
body#results div#userresults {
    border-right: 1px solid rgb(200, 200, 196);
}

form#searchform .input-wrapper {
    right: -39px;
    left: auto;
}
.statictabs ul li {
    float: right;
}
#auth {
    float: right;
}

.jqTransformSelectWrapper div a {
    left: 3px;
    right: auto;
}
.jqTransformSelectWrapper div span {
    float: right;
}
.resort {
    float: left;
}

ul#menu-left li a#cartmenulink {
    padding: 0px 30px 0px 0px ;
    background: url("../../images/img_toolbar-button-cart.png") no-repeat scroll right center transparent;
}
ul#menu-left li {
    float: right;
}
div#cartDetails {
    margin-left: -9.5em;
}
div#listsmenu {
    margin-left: -125px;
}
ul#menu-left li#listsmenulink a {
    padding: 0px 20px 0px 0px;
    background: url("../../images/img_toolbar-button-lists.png") no-repeat scroll right center transparent;
}
div.rating-cancel, div.star-rating {
    float: right !important;
}
.actions a.addtocart {
    background-position: 49px -572px;
    padding-right: 15px;
    padding-left: 0px;
}

.actions a.addtoshelf {

    background-position: 45px -27px;
    padding-right: 13px;
    padding-left: 0px;
}

#social_networks span {
    float: right;
    margin: 0.5em 0.5em 0px !important;
}
#social_networks div {
    float: right !important;
    margin: 0.5em 0.2em 0.5em 0px !important;
}
#action a.addtocart, #toolbar a.addtocart {
    background-position: 60px -265px;
}
#action a.print {
    background-position: 16px -186px;
}
#action a {
    padding-right: 35px;
    padding-left: 0px !important;
}



div#menu li a {
    background: -moz-linear-gradient(right center , rgb(238, 238, 238) 0%, rgb(238, 238, 238) 96%, rgb(230, 230, 230) 97%, rgb(204, 204, 204) 99%, rgb(193, 193, 193) 100%) repeat scroll 0% 0% transparent;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(151, 151, 151);
    font-size: 111%;
    margin: 0.5em -1px 0.5em 0px;
    padding: 0.4em 0.3em;
}

#action a.addtoshelf, #toolbar a.addtoshelf {
    background-image: url("../../images/sprite.png");
    background-position: 68px -225px;
    background-repeat: no-repeat;
}
