
body #main {
  margin-left : 2%;
      background-color: #eeeeee;

}

/* TWO COLUMNS, RIGHT SIDEBAR */


body#withsidebar #main	{
     float: left;
   margin-left: 1%;
       width: 58%;
    }

html body#withsidebar #main	{
       margin-left: .5%;
      }

body#withsidebar #sidebar
   {
      float: left;
   margin-top : 2.4em;
    width: 39%;
}

/* THREE COLUMNS */

body#tricolumn #main_wrapper {
             float: left;
   width: 100%;
}

body#tricolumn #main
   {
              margin: 0 150px 0 175px;
       }

body#tricolumn #nav
 {
      float: left;
   margin-left: -100%;
    width: 175px;
  }
body#tricolumn #sidebar
      {
      float: left;
   margin-left: -150px;
   width: 150px;
  }

/* TWO COLUMNS LEFT NAVIGATION */

body#withnav #main_wrapper
       {
      float: left;
   width: 100%;
   }

body#withnav #main
  {
      margin: 0 0 0 175px;
   }

body#withnav #nav
   {
      float: left;
   margin-left: -100%;
    width: 175px;
  }

body#withnav #main .content-block {
 padding-left : 10px;
}

/* END TWO COLUMNS RIGHT NAVIGATION */

a {
    font-weight: bold;
}

a:link, a:visited, a:active {
        text-decoration : underline;
        color :navy;
}

a:link.current {
      font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

a:link.nav {
 font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;

}

a:visited.current {
 font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

a:visited.nav {
      font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

a:hover.current {
    font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

a:hover.nav {
        font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;

}

a:active.current {
  font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

a:active.nav {
       font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

a.help {
     padding: 3px;
  text-decoration: none;
}

a.title {
    font-size: 1.2em;
      font-style: normal;
    font-weight: bold;
}

body {
   font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: 73%;
        margin: 0;
     padding: 0;
    background-color : #eeeeee;
}

input, select, th, td {
 font-size:1em
}

caption {
     font-family: Arial, Geneva, Helvetica, sans-serif;
     font-size : 1.3em;
     font-weight: bold;
     margin: 0;
     padding: 5px 0 3px 0;
  text-align: left;
}

div.bookcover {
   float: right;
}

div.details td.details {
      text-align: left;
}

div.details ul {
  list-style-type: circle;
       margin-left: 0;
        text-align: left;
}

div.error {
       padding: 3px 10px 3px 10px;
    width: 75%;
}

div.error li {
  margin-bottom: .5em;
}

div.form, div.details {
        margin: 0 auto;
        padding: 0 0 0 6px;
}

div.notes {
     text-align: left;
}

div.sidebar-box+div.sidebar-box {
 margin-top: 5px;
}

div.tab {
  display: block;
        margin-right: 0px;
     width: 100%;
}

div.tab p {
    margin: 0;
     padding: 3px 0;
}

div.tab p.MARCtag {
 clear: both;
   font-weight: bold; /* style for tag definition (700 - Statement of responsability) */
  margin: 0;
     padding: 2px;
}

div.tab table {
}

div.tabbloc {
      font-family: Arial, Helvetica, sans-serif;
}

div.table {
      width: 95%;
}

dl.details dt {
 font-weight: bold;
     margin: .5em 0;
}

dl.details dd {
     margin-left: 1em;
}

dl.details ul {
   padding: 0;
    margin-left: 1em;
}

dl.details ul p {
 margin-left : 0;
}

em.new {
   font-style: normal;
    font-weight: bold;
}

form {
   display: inline;
       margin: 0;
     padding: 0;
}

h1 {
    font-size: 1.8em;
      padding: 5px 0 3px 0;
}

h1,h2,h3,h4,h5,h6 {
   font-family: arial, geneva, helvetica, sans-serif;
     margin: 0;
}

h1.logo {
        display: inline;
       margin: 10px 0 0 10px;

}

h1.title {
  font-style: italic;
    padding: 5px 0 3px 0;
  color: navy;
}

h2 {
   font-size: 1.6em;
      padding: 5px 0 3px 0;

}

h2#libraryname {
     padding-left : 5px;
}

h3 {
    font-size: 1.4em;
      padding: 5px 0 3px 0;
}

h3.author {
   padding: 0 0 3px 15px;
}

h3+p {
       margin: .4em 0 .4em 0;
}

h4 {
 font-size: 1.3em;
      padding: 5px 0 3px 0;
}

h5 {
  font-size: 1.2em;
      margin: 0;
     padding: 10px 0 2px 0;
}

h5+p {
       margin-top: 0;
 padding-top: 0;
}

h6 {
        font-size: 1.1em;
}

input.add, a.add {
        background-image: url(../images/add.gif);
}

input.addchecked, a.addchecked {
  background-image: url(../images/addtobasket.gif);
}

input.back, a.back {
      background-image: url(../images/back.gif);
}

input.brief, a.brief {
   background-image: url(../images/brief.gif);
}

input.cancel {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size : .9em;
      font-weight: bold;
     padding: 2px;
}

input.cart, a.cart {
  background-image: url(../images/cart.gif);
}

input.clearall, a.clearall {
     background-image: url(../images/clearbasket.gif);
}

input.close, a.close {
    background-image: url(../images/close.gif);
}

input.delete, a.delete {
        background-image: url(../images/delete.gif);
}

input.detail, a.detail {
       background-image: url(../images/detail.gif);
}

input.edit, a.edit {
   background-image: url(../images/edit.gif);
}

input.icon {
     background-position: left;
     background-repeat: no-repeat;
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size : .9em;
      font-weight: bold;
     padding: 2px 2px 2px 22px;
}

input.isbd, a.isbd {
     background-image: url(../images/isbd.gif);
}

input.print, a.print {
   background-image: url(../images/print2.gif);
}

input.remove, a.remove {
       background-image: url(../images/remove.gif);
}

input.reserve, a.reserve {
     background-image: url(../images/placereserve.gif);
}

input.send, a.send {
     background-image: url(../images/send.gif);
}

input.shelf, a.shelf {
   background-image: url(../images/addtoshelf.gif);
}

input.trash, a.trash {
     background-image: url(../images/trash.gif);
}

p {
     padding: 0 10px 0 10px;
}

p.error, div.error {
        font-weight: normal;
   margin: auto;
  padding: 5px 20px 5px 20px;
}

p.error+p.error, div.error+div.error {
  margin-top: 5px;
}

p+h3 {
     margin-top: .6em;
}

p+h5 {
    margin: 0;
     padding: 3px 0 2px 0;
}

span.itemicon {
       float : left;
  font-size: .9em;
       margin: 2px;
   white-space: nowrap;
}

span.print {
   font-size: .7em;
       font-weight: normal;
   padding-left: .7em;
}

table {
 border-collapse: collapse;
     margin: 5px 0 5px 0;
   padding: 0;
}

*html td, *html th {
    font-size : .8em;
}

td {
      padding: 3px;
}

td.input, div.form td, div.details td {
       border-left: 0;
        border-right: 0;
       padding: 2px 2px 2px 4px;
      text-align: right;
}

td.credit {
      text-align: right;
}

td.debit {
       text-align: right;
}

td.sum, th.sum {
 text-align: right;
}

td.sum {
 font-weight: bold;
}

td.label {
       font-weight: bold;
     line-height: 1.5em;
    padding: 4px;
}

td.label, div.form th, div.details th {
       border-right: 0;
       border-top: 0;
 font-weight: bold;
     padding: 2px 2px 2px 4px;
      text-align: left;
      vertical-align: top;
}

td.search-options select {
}

td:last-child {
  padding: 3px;
}

th {
  font-weight: bold;
     padding: 2px;
}

th a {
        font-weight: bold;
     text-decoration: none;
}

th:last-child {
      font-weight: bold;
     padding: 2px;
}

th[scope="row"] {
     font-weight: normal;
   text-align: right;
}

ul#facets {
      margin: 3px;
}

#nav ul#facets {
       margin : 0;
    padding : 0;
}

#nav ul#facets li {
    font-weight: bold;
     text-align: left;
}

#nav ul#facets li#branch_facet, #nav ul#facets li#subject_facet, #nav ul#facets li#series_facet, #nav ul#facets li#author_facet {
}

#nav ul#facets ul li {
       border: 0;
     font-size: .95em;
      font-weight: normal;
   padding: 2px;
  text-align: left;
}

#nav ul#facets ul li a {
  font-weight: normal;
   text-decoration: underline;
}

#nav ul#facets ul li.showmore {
 text-align: center;
}

#nav ul#facets ul li.showmore a {
       font-weight: bold;
     text-decoration: none;
}

/* Tabs */
ul.link-tabs {
    list-style-type: none;
 margin: 9px 0 -2px 5px;
        padding: 0;
}

ul.link-tabs li {
       display: inline;
       padding: 0px;
}

ul.link-tabs li a {
   font-weight: bold;
     padding: 2px 4px 2px 4px;
      text-decoration: none;
}

ul.link-tabs li#power_formButton a, ul.link-tabs li#proximity_formButton a {
 padding: 2px 4px 3px 4px;
}

ul.link-tabs li.off a {
}

ul.link-tabs li.off a:hover {
  padding: 2px 3px 2px 4px;
}

ul.link-tabs li.on a {
}

.clear {
        clear: both;
   line-height: .1em;
}

.content-block {
 padding: 5px;
}

#home {
       text-align : center;
}

#home #searchform input.submit {
       font-size : 1.3em;
}

div#advanced-search p {
  margin: .4em;

}

div#advanced-search fieldset {
       /*margin-left : -1em;*/
	margin-bottom: .3em;
  background-color : #eeeeee;

}

div#advanced-search fieldset p {
       margin-left : 1em;
	white-space: nowrap;


}

table.itemtypes {
        border-collapse: separate;
     border-spacing: 3px;
   display: block;
        padding: 0;
    margin: 0;
}

div#advanced-search legend, div#sidebar legend {
 font-weight: bold;
}

div#advanced-search label {

}

.count {
 font-weight: normal;
}

.current {
     font-weight: bold;
     padding: 1px 5px 1px 5px;
      text-decoration: none;
}

.detail-sidebar {
    float: right;
  padding: 5px;
  margin-left : 15px;
    margin-right : 5px;
    text-align: center;
    width : 25%;
}

.detail-sidebar .further {
     float: none;
   text-align: left;
      width : 90%;
}

.further {
     margin: 5px;
   text-align: left;
      width : 90%;
}

.ex {
  font-family: "Courier New", Courier, monospace;
}

.further h4 {
       padding: 2px;
}

.further li {
 padding: 2px 0;
}

.further ul, .further li {
  list-style: none;
      margin: .5em 0 .7em .4em;
      padding: 0;
}

.inline {
       display: inline;
}

.item-datedue {
    font-style: italic;
}

.item-details {
 display: block;
        margin: 0 0 0 25px;
}

.item-reserved, .item-notforloan, .item-lost, .item-cancelled, .item-damaged, .item-reserved {
  display: block;
}

.labelsubfield {
    clear: both; /* style for each subfield (like : a Publication year), just before the biblio subfield */
        float: left;
   font-weight: bold;
     margin-left: 30px;
     width: 12em;
}

.left {
        float: left;
}

.loggedin {
    font-weight: bold;
}

.login-note {
    width: 35%;
}

.menu {
 line-height: 3em;
      font-size: 1.2em;
      margin: 0;
     padding: 5px;
}

.menu a.logout {
      font-weight: bold;
     padding: 3px 15px 3px 15px;
    text-decoration: none;
}

.menu a:link, #members a:link {
      padding: 2px;
}

.menu a:visited, #members a:visited {
 padding: 2px;
}

.menu a:hover, #members a:hover {
     padding: 2px;
}

.menu a:active, #members a:active {
   padding: 2px;
}

.menu input {
}

.menu label {
        font-weight: bold;
}

.menu p {
        margin: 0;
     padding: 0;
}

.menu p+p {
     margin-top: 5px;
}

.note {
    margin: 10px auto;
     padding: 4px 4px 4px 4px;
      width: 35%;
}

.opac-detail {
  padding: 4px;
}

.opac-detail dd {
     display: block;
        line-height: 1.5em;
    padding: 4px;
  text-align: right;
}

.operations {
    margin-top: 7px;
       padding: 0 10px;
       text-align: center;
    width: 100%;
}

.operations img {
      padding: 5px;
}

.operations li {
      list-style-type: none;
 margin: 0;
     padding-bottom: 2px;
}

.operations li a, .operations li a:visited {
   background-position: top left;
 background-repeat: no-repeat;
  border-style: outset;
  display: block;
        padding: 3px 3px 3px 26px;
     text-decoration: none;
}

.searchresults a.reserve, .searchresults a.reserve:visited {
 background-position: top left;
 background-repeat: no-repeat;/*
        border-style: outset;*/
        float: right;
  padding: 2px 3px 2px 26px;
     /*text-decoration: none;*/
}

.operations li a:active {
        border-style: inset;
}

.operations ul {
       margin: 0;
     padding: 0;
    width: 90%;
}

.overdue {
      font-weight: bold;
}

.pages {
 line-height : 1.8em;
   text-align: center;
}

.rejected {
     text-decoration: line-through;
}

.right {
     float: right;
}

.search-main {
        float: left;
   width: 65%;
}

.searchresults input, .searchresults label, .searchresults select {
     font-size: .8em;
}

.searchresults p {
 margin: 0;
     padding: 0;
    padding-top : .6em;
}

.searchresults p img {
  vertical-align: middle;
}

.searchresults table td {
   vertical-align: top;
}

p.searchresults {
      margin-top : -5px;
     text-align : right;
    vertical-align : middle;
       padding-bottom : 3px;
}

.selected {
   text-decoration: none;
}

.sidebar-box {
       margin-bottom: 0;
}

.sidebar-box h3, .sidebar-box h4 {
        margin-left: 10px;
}

.sidebar-box p {
 margin: 3px 10px;
      padding: 0;
}

.submit {
       font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size : .9em;
      font-weight: bold;
     padding: 2px;
}

.term {
       font-weight: bold;
}

.thumbnail {
     border: 0;
     float: left;
   margin: 0 5px 5px 0;
}

.title {
       font-style: italic;
    font-weight: bold;
}

#sidebar .content-block {
        margin : 0 10px 0 0;
}

form#auth h3 {
 font-size : 1.1em;
}

#footer {
        clear: both;
   padding: 10px;
 text-align: center;
}

#corner {
       position: absolute;
    top: 10px;
     right: 5px;
}

#corner a.cart {
        background-image : url(../images/cart-small.gif);
      background-position: left;
     background-repeat : no-repeat;
 padding: 0 15px;
       text-decoration: none;
}

#languages {
 display: inline;
}

#languages ul {
    display : inline;
      list-style: none;
      margin: 0;
     padding : 0;
}

#languages ul li {
     display: inline;
       font-family: Arial, Helvetica, sans-serif;
     font-size: .9em;
}

#languages ul li a {
       font-weight: normal;
   padding: 0 3px;
        text-decoration: none;
}

#loose_form label, #keyword_form label, #precise_form label, #cql_form label, #advanced label, #cql label, #power label, #proximity label {
  font-weight: bold;
     text-align: right;
}

#loose_form, #keyword_form, #precise_form, #cql_form, #advanced, #cql, #power, #proximity {
      margin: 5px;
   width: 96%;
}

/*#main {
       margin-left: 20%;
      margin-right: 0;
       padding: 0;
    position: relative;
}*/

#masthead {
   margin: 0;
     margin-bottom : 1em;
   padding: 0;
    text-align:center;

}

#members {
      font-size: .8em;
       font-weight: bold;
     padding: 4px 0 4px 0;
}

#members a.card {
     background-image: url(../images/card.gif);
     background-position: left;
     background-repeat: no-repeat;
  display: block;
        padding-left: 39px;
}

#members a.logout {
     font-weight: bold;
     padding: 0 .3em 0 .3em;
        text-decoration: none;
}

#members li {
        display: inline;
       list-style: none;
      margin: 0;
}

#members ul li a:link, #members ul li a:visited, #members ul li a:hover, #members ul li a:active, #members span.members {
        padding : 4px;
}

#members ul li:last-child {
}

#members ul li a:hover {
}

#members ul {
     margin: 0;
     padding: 0;
    text-align: right;
}

/*#nav {
 float: left;
   margin: 0;
     padding: 0;
    width: 20%;
}*/

#nav a {
      font-family: Arial, Geneva, Helvetica, sans-serif;
     font-weight: bold;
     text-decoration: none;
}

#nav h6 {
    padding: 3px;
  text-align: center;
}

#nav li ul li {
 font-family: Arial, Geneva, Helvetica, sans-serif;
     list-style: none;
      margin: 0;
     padding: 5px 3px 5px 3px;
      text-align: right;
}

#nav li ul li a {
        font-family: Arial, Geneva, Helvetica, sans-serif;
     font-weight: bold;
     text-decoration: none;
}

#nav ul {
    margin: 0;
     padding: 0;
}

#nav ul li {
    font-family: Arial, Geneva, Helvetica, sans-serif;
     list-style: none;
      margin: 0;
     padding: 3px 8px 3px 3px;
      text-align: right;
}

#nav ul li+li {
  margin: 0;
}

#power_formButton, #proximity_formButton {
}

#results, .results {
       font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    margin: 0;
     padding: 7px 0 10px 0;
}

#search-footer {
     margin: auto;
  text-align: center;
}

#search-footer a {
      margin: 3px 5px 3px 5px;
       padding: 2px 5px;
      text-decoration: none;
}

#searchform input.submit {
   font-size: .8em;
}

#search-sidebar {
  float: right;
  margin: 10px;
  padding: 3px;
  width: 30%;
}

#search-sidebar .sidebar-box label {
    display: block;
        text-align: left;
}

/*#sidebar {
      float: right;
  margin: 20px;
  padding: 5px;
  width: 20%;
}*/

#sidebar .submit {
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-weight: bold;
     padding: 2px;
  font-size: 1em;
}

#sidebar h3 {
       font-family: Arial, Geneva, Helvetica, sans-serif;
     margin: 0;
     padding: 5px 0 1px 0;
}

#sort {
       margin: .3em;
}

#sort, #sort select, #sort input {
}

#starFull {
     background: url(../images/bluestars.png) top left no-repeat;
   height: 25px;
  margin: 0;
     padding: 0;
}

#starMT {
       background: url(../images/emptystars.png) top left no-repeat;
  height: 25px;
  margin: 0 3px 0 30px;
  padding: 0;
    position: relative;
    width: 100px;
}

#window {
     margin-left: 2%;
       margin-right: 2%;
      margin-top: 2%;
        padding: 10px;
}

#window .class {
     display: block;
        font-weight: bold;
     padding: 0 0 5px 3px;
}

#window div.menu {
    margin: 0;

}

div#item-details {
      margin-bottom : 1.5em;
}

div#item-details img {
       float : left;
  padding : 1em;
}

div#item-details p {
 margin : .1em 0;
       line-height : 1.6em;
}

div#holdings table {
   width : 100%;
}

div#holdings td, div#holdings th {
    padding : 5px;
}

div#holdings, div#descriptions, div#reviews, div#serials, div#publicshelves, div#privateshelves, div#fines, div#waiting, div#overdues, div#issues, div#reserves {
    margin-top : 4px;
      padding : .7em;
        width : 90%;
}

#usermenu {
    font-size: .9em;
       font-weight: bold;
     margin-top : -1.1em;
   margin-bottom : 1em;
   padding: 4px 0 4px 0;


}

#usermenu li {
      display: inline;
       list-style: none;
      margin: 0;
}

#usermenu ul li a:link, #usermenu ul li a:visited, #usermenu ul li a:hover, #usermenu ul li a:active, #usermenu span.members {
   padding : 4px;
}

#usermenu ul li:last-child {
}

#usermenu ul li a:hover {
}

#usermenu ul {
  margin: 0;
     padding: 0;
    text-align: right;
}

table.featured-item {
    border-collapse : separate;
    border-spacing: 9px;
   margin : 5px;
  text-align : center;
}

table.featured-item td {
       vertical-align : top;
}

table.featured-item a img {
   margin : auto;
}

table.featured-item a.title {
        display : block;
       font-size : 1em;
       margin-bottom : .4em;
}

table.featured-item .author {
 display : block;
       font-size : .95em;
     margin-bottom : .2em;
}

table.featured-item .publisher {
      display : block;
       font-size : .8em;
}

/* COLORS, BACKGROUNDS, AND BORDERS */

a {
       color: #006699;
}

a:link.current {
    background-color: transparent;
 color: #3366CC;
}

a:link.nav {
        background-color: #EFF1DC;
     border: 1px solid #CCCC99;
     color: #3366CC;
}

a:visited {
 color: #006699;
}

a:visited.current {
 background-color: transparent;
 color: #3366CC;
}

a:visited.nav {
     background-color: #EFF1DC;
     border: 1px solid #CCCC99;
     color: #3366CC;
}

a:hover {
   color: orange;
}

a:hover.current {
    background-color: #CCFF00;
     color: #CC3333;
}

a:hover.nav {
       background-color: #FFFFCC;
     border: 1px solid #CCCC99;
     color: #CC3333;
}

a:active {
  color: #990033;
}

a:active.current {
  background-color: #99CC00;
     color: #FFFF99;
}

a:active.nav {
      background-color: #FFFFCC;
     border: 1px solid #CCCC99;
     color: #D25500;
}

a.reserve {
 background-color: #006699;
     color: White;
}

body {
        background-color: #eeeeee;
}

body#withsidebar #main	{
 border: 0;

}
ul {
background-color:#eeeeee;
text-align: left;
}

caption {
    color: #000066;
}

div.error h3 {
      color: #990000;
}

div.form, div.details {
     background-color: #ffffff;
}

div.tab {
        background-color: transparent;
}

div.tab p {
  border-bottom: 1px solid #FFFFFF;
      border-top: 1px solid #D8DEB8;
}

div.tabbloc {
        background-color: transparent;
}

div#advanced-search fieldset {
	border-right : 1px none #999999;
	border-top : 1px none #999999;
	border-bottom : 1px none #999999;
	border-left : 1px none #999999;
}

div#advanced-search legend {
 color : #003366;
}

dl.details dt {
    color: #000066;
}

em.new {
    color: #CC3333;
}

h1,h2,h3,h4,h5,h6 {
 color: navy;
   background-color:navy;
 color:white;
}

h1.logo {
      color: #D3DFAD;

}

h1#libraryname a {
 color: #000066;
        margin-left: .3em;
     text-decoration: none;
}

input.icon {
 background-color: #6699CC;
     border: 1px outset #666666;
    color: #FFFFCC;
}

p.availability {
    color: #666666;
        font-size: .9em;
}

p.error, div.error {
       background-color: #FFFFCC;
     border: 1px dashed #CC6600;
}

span.itemicon {
 background-color : #F8F8EB;
    border: 1px solid #D8DEB8;
}

table {
  background-color: #FFFFFF;
}

table.itemtypes td {
     background-color: #F8F8EB;
     border: 1px solid #D8DEB8;
}

td {
     background-color: #FFFFFF;
     border-bottom: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;
}

td.input, div.form td, div.details td {
    border-bottom: 1px solid #CCCCCC;
      border-left: 0;
        border-right: 0;
       color: #000000;
}

td.credit {
 color: #000066;
}

td.debit {
  color: #990000;
}

td.sum, th.sum {
}

td.sum {
        background-color : #FFFFCC;
}

td.label {
      border-bottom: 1px solid #CCCCCC;
      border-left: 1px solid #CCCCCC;
        color: #000088;
}

td.label, div.form th, div.details th {
     background-color: #FFFFFF;
     border-bottom: 1px solid #CCCCCC;
      border-left: 1px solid #CCCCCC;
        border-right: 0;
       border-top: 0;
 color: #000088;
}

div.details {
       padding: 5px;

}

div.details table, div.details td, div.details th {
  border: 0;
     border-bottom: 1px solid #DDDDDD;
}

td.overdue {
      color: #CC0000;
}

td:last-child {
     border-bottom: 1px solid #CCCCCC;
      border-right: 0 solid #CCCCCC;
}

th {
 background-color: #EFF1DC;
     border-bottom: 1px solid #CCCCCC;
      border-right: 1px solid #CCCCCC;
}

th:last-child {
    background-color: #EFF1DC;
     border-bottom: 1px solid #CCCCCC;
      border-right: 0 solid #CCCCCC;
}

th[scope="row"] {
    background-color: #E7E7CA;
}

tr.highlight {
   background-color: #F8F8EB;
}

tr.highlight th[scope="row"] {
   background-color: #EEEEEE;
}

tr.overdue td {
  background-color: #FFDDDD;
}

input.cancel {
   background-color: #990033;
     border: 1px outset #666666;
    color: #FFFFCC;
}

.available {
        color : #006600;
}

.content-block {
   background-color: #FFFFFF;
}

.current {
       background-color: #FFFFFF;
     color: #3366CC;
}

.detail-sidebar {
   background-color: #EEEEEB;
}

.further {
       background-color: #EEEEEB;
     border: 2px solid #DDDED3;
     color: #CCCC99;
}

.further h4 {
       background-color: #D8DEB8;
}

.further li {
}

.issued {
       color: #999999;
}

.labelsubfield {
}

.loggedin {
     color: #D8DEB8;
}

.loggedinusername {
 color: #666666;
}

.marcsubfieldletter {
       background-color: #EFF1DC;
}

.marcsubfieldname {
      background-color: #EFF1DC;
}

.MARCtag {
       background-color: #EEEEEE;
     color: #000066; /* style for tag definition (700 - Statement of responsability) */
}

.menu {
  background-image : url(../images/menu-background.gif);
 background-repeat: repeat-x;
   background-color: #6699CC;
     border-top: 1px solid #335599;
 border-bottom: 1px solid #335599;
      color: #FFFFFF;

}

.menu a:link {
     color : #FFFFCC;
}

.menu a:visited {
  color : #FFFFCC;
}

.menu a:hover {
    color : #FFFFFF;
}

.menu a:active {
   color : #FFFF99;
}

#members a:link {
  color: #0099CC;
}

#members a:visited {
        color: #0099CC;
}

#members a:hover {
  color: #990000;
}

#members a:active {
 color: #990000;
}

.menu input.submit {
        background-color : #6BA037;
    color: #FFFFFF;
}

.note {
     background-color: #EEEEEB;
     border-bottom: 1px solid #DDDED3;
      border-left: 1px solid #DDDED3;
        border-right: 1px solid #DDDED3;
       border-top: 1px solid #DDDED3;
}

.opac-detail {
       background-color: #FFFFCC;
}

.opac-detail dd {
        border-bottom: 1px solid #E7E7CA;
      color: #000000;
}

.operations li a, .operations li a:visited {
        background-color: #6699CC;
     border: 2px solid #D8DEB8;
     color: #FFFFCC;
}

.operations li a:hover {
    background-color: #0099FF;
     color: #FFFF99;
}

.operations li a:active {
   background-color: #0099FF;
     color: #FFFF99;
}


.item-reserved {
   color : #009933;
}

.item-datedue {
    color: #999999;
}

.item-notforloan, .item-lost, .item-cancelled, .item-damaged, .item-reserved {
}

.searchresults td, .searchresults th, .searchresults table {
      border: 0;
}

.searchresults tr {
      border-bottom : 1px solid #CCCCCC;
}

.searchresults table {
   border-top : 0px solid #CCCCCC;
}

p.searchresults {
   background-color : #EFF1DC;
}

.searchresults a.reserve {
      background-color : transparent;
        color : #006699;/*
     background-color : #6699CC;
    border: 1px outset #666666;
    color : White;*/
}

.sidebar-box {
     border: 1px dashed #CCCCCC;
}

.subfield {
     background-color: #EFF1DC;
}

.subfieldvalue {
 background-color: #FFFFFF;
}

.submit {
        background-color: #EEC95A;
     border: 3px outset #666666;
    color: #FFFFFF;
}

.term {
     background-color: #FFFFCC;
     color: #990000;
}

.unavailable {
      color: #990033;
}

#footer {
   border-top: 1px solid #EEEEEE;
}

#languages ul li a {
 border: 1px solid #D8DEB8;
}

#languages ul li a:hover {
       background-color: #FFFFCC;
}

#main {
  background-color: transparent;/*
       border-top: 1px solid #EEEEEE;*/
}

#masthead {
        background-color: #FFFFFF;/*
   border-bottom: 1px solid #EEEEEE;*/
}

#members {
      background-image : url(../images/member-menu-background.gif);
  background-repeat: repeat-x;
   border-top: 1px solid #9999CC;
 border-bottom : 1px solid #9999CC;
     background-color: #AFBCCF;
     color: #000066;
}

#members ul li a:link, #members ul li a:visited, #members span.members {
    background-image : url(../images/member-menu-background-link.gif);
     background-repeat: repeat-x;
   border-left: 1px solid #9999CC;
        color: #006699;
}

#members ul li:last-child a {
       border-right : 1px solid #9999CC;
}

#members ul li a:hover, #members ul li a:active {
 background-image : url(../images/member-menu-background-hover.gif);
    background-repeat: repeat-x;
}

#members a {
   text-decoration: none;
}

#members a.logout:link, #members a.logout:visited, #members a.logout:hover, #members a.logout:active {
       background-image : url(../images/member-menu-background-logout.gif);
   background-repeat: repeat-x;
   color: #000000;
}

#members a:hover.logout {
   background-image : url(../images/member-menu-background-logout-hover.gif);
     background-repeat: repeat-x;
   color: #000000;
}

#nav {
      /*background-color: #EFF1DC;*/
 border : 1px solid #EFF1DC;

}

#nav h6 {
      background-color: #E7E7CA;
     line-height : 1.8em;
   margin-left: -1px;
     margin-top : -1px;
     margin-right : -1px;
}

#nav li ul li {/*
      background-color: #E7E7CA;*/
   border-bottom: 0 solid #D8DEB8;
        border-left: 0 solid #FFFFCC;
  border-right: 0 solid #006699;
 border-top: 0 solid #FFFFCC;
}

#nav li ul li a {
      color: #0000FF;
}

#nav li ul li a:link {
      color: #335599;
}

#nav li ul li a:visited {
   color: #335599;
}

#nav li ul li a:hover {
     color: #CC3333;
}

#nav ul li {
        /* background-color: #EFF1DC; */
       border-bottom: 0px solid #CCCC99;
      border-left: 0 solid #FFFFCC;
  border-right: 0 solid #006699;
 border-top: 0 solid #FFFFCC;
}

#nav ul li+li {
        border-bottom: 0px solid #CCCC99;
      border-left: 0 solid #FFFFCC;
  border-right: 0 solid #006699;
}

#results, .results {
 color: #000066;
}

#search-sidebar {
   background-color: #F8F8EB;
}

#sidebar {
       /*background-color: #F8F8EB;
   border: 1px dashed #666666;*/
}

#sidebar .content-block {
     background-color : #EEEEEE;
}

#sidebar fieldset {
     background-color: #F9F9FF;
}

#sidebar legend {
        color : #003366;
}

#sidebar .submit {
/* 	background-color: #EEC95A; */
       color: #FFFFFF;
}

#sidebar h3 {
       color: #000066;
}

#window {
   background-color: #E7E7CA;
     border-left: 1px solid #CCCC99;
}
ul.link-tabs {
}

ul.link-tabs li {
}

ul.link-tabs li a {
   border-top: 1px solid #DDDDDD;
 border-left : 1px solid #DDDDDD;
       border-right : 1px solid #666666;
}

ul.link-tabs li.on a {
    background-color: #FFFFFF;
     border-bottom: 1px solid #FFFFFF;
}

ul.link-tabs li.off a {
   background-color: #EEEEEB;
     border-bottom: 1px solid #DDDDDD;
}

ul.link-tabs li.off a:hover {
     background-color: #FFFFEC;
     border-top: 1px solid #BEBF84;
 border-left : 1px solid #BEBF84;
       border-right : 2px solid #333333;
}

ul.link-tabs li a.debit {
 background-color : #FFFF99;
    color : #990033;
}

div#holdings, div#descriptions, div#reviews, div#serials, div#publicshelves, div#privateshelves, div#fines, div#waiting, div#overdues, div#issues, div#reserves {
  border : 1px solid #DDDDDD;
}

div#holdings table {
    border-top : 1px solid #DDDDDD;
        border-right : 1px solid #DDDDDD;
}

div#holdings td, div#holdings th {
        border-left : 1px solid #DDDDDD;
       border-bottom : 1px solid #DDDDDD;
}

#usermenu {
      background-image : url(../images/usermenu-background.gif);
     background-repeat: repeat-x;
   background-color: #EEEEEB;
     border-top: 1px solid #EEEEEE;
 border-bottom: 1px solid #335599;
      color: #000000;
}

#usermenu ul li a:link, #usermenu ul li a:visited {
 background-image : url(../images/usermenu-background.gif);
     background-repeat: repeat-x;
   border-left: 1px solid #9999CC;
        color: #006699;
}

#usermenu ul li:last-child a {
      border-right : 1px solid #9999CC;
}

#usermenu ul li a:hover, #usermenu ul li a:active {
       background-image : url(../images/usermenu-background-hover.gif);
       background-repeat: repeat-x;
}

#usermenu a {
  text-decoration: none;
}

table.featured-item {
        border : 0;
}

table.featured-item td {
        border : 1px solid #CCCCCC;
}

table.featured-item a img {
}

table.featured-item a.title {
}

table.featured-item .author {
}

table.featured-item .publisher {
}
h1{
background-color: #eeeeee;
color: navy;
background-image: url(./acceuil.jpg);
background-repeat:no-repeat;
}
h1.authority
{
background-image:none;

}