#addbibliotabs {
	margin-top : 1em;
}

#addbibliotabs .ui-tabs-panel {
	float : left;
}

a.buttonPlus {
	font-weight : bold;
	text-decoration : none;
}

a.expandfield {
	color : #000;
	text-decoration : none;
}

#yui-cms-loading {
	background : #FFFFFF;
	color : #333333;
	display : none;
}

#yui-cms-loading #yui-cms-float {
	text-align : center;
	font-size : 175%;
	background-image : url(../../img/loading.gif);
	background-repeat : no-repeat;
	background-position : top;
	padding-top : 50px;
}

	 
#authoritytabs {
	margin-top : 1em;
	margin-bottom : 1em;
}

.toptabs .ui-tabs-nav li a {
	padding : .2em 1.2em;
}

div.tag {
    clear: both;
}

div.subfield_line {
	padding-bottom : .3em;
    clear: both;
}

div.subfield_line label {
    font-size:89%;
    float: left;
	 padding-right : .4em;
    width: 16em;
    text-align: left;
    clear:left;
}

.tag_title {
	font-size : 90%;
	padding : .2em 0;
}

.tagnum {
	font-size : 110%;
	font-weight : bold;
	color : #000;
	padding : .1em .3em .1em 0;
}

.subfield {
	color : #00698a;
	float: left;
	width: 10em;
	text-align:right;
}

.subfieldcode {
	display: block;
	float: left;
}

.labelsubfield {
	float:left;
}

.input_marceditor {
	float:left;
	width:30em;
}

*html .input_marceditor {
	width : 15em;
}