body {
    text-align : left;
    background-color:#EDF5FA;
    color:#494949;
}

a, a:link, a:visited, a:active {
    text-decoration:none;
    color:#027ac6;
}

a:hover {
    text-decoration:underline;
    color:#0072b9;
    }

h1 {
    margin-top:0.5em;
    margin-bottom:0.5em;
    font-size : 182%;
    font-weight : bold;
}
h2 {
    margin-top:0.3em;
    margin-bottom:0.3em;
    font-size : 150%;
    font-weight : bold;
}
h3 {
    font-size : 125%;
    font-weight : bold;
}

h4 {
    font-size : 110%;	
    font-weight : bold;
}

h5 {
    font-size : 100%;	
    font-weight : bold;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    background-repeat:repeat-x;
    color:white;}

h6 {
    font-size : 93%;
    font-weight : bold;
}

#navigation {
	border-right : 1px solid #BCBCBC;
}

th {
    color:white;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    background-repeat:repeat-x;
    border-bottom : 1px solid #BCBCBC;
    border-left : 1px solid #BCBCBC;
    padding : .5em;
}

.yui-u {
border: 1px solid #bbbbbb;
}

input[type=submit], input[type=button], input[type=reset] {
    background: url( /intranet-tmpl/prog/img/css_header.png );
    color:white;
    border:1px inset;
    margin-top:10px;
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover {
    border:1px outset;
}

.labelsubfield {
}

div.tag_title {
    text-align: left;
    clear:left;
}

div.subfield_line {
    padding-right : .4em;
    text-align: left;
    clear:left;
    margin-left:10px;
    margin-right:-10px;
}

.dialog input.approve {
color:#027ac6;
}

.dialog input.deny {
 	color:red;
 }
 th.header {
    color:#0072b9;
 }
