body {
    font-family : Verdana, Geneva, Arial, sans-serif;
    font-size : .9em;
}

table {
    border-collapse : inherit;
    border : 1px solid #CCCCCC;
    margin : 1em 0;
}

caption {
    font-size : 140%;
    text-align : left;
    font-weight : bold;
}

td,th {
    /*border-left : 1px solid #CCCCCC;
    border-bottom : 1px solid #CCCCCC;*/
    border : 1px solid #CCCCCC;
    padding : 5px;
}

th {
    background-color : #CCCCCC;
    border-left : 1px solid #999999;
    border-bottom : 1px solid #999999;
}

th[scope=row] {
    background-color : #EEEEEE;
    text-align : right;
}

input {
    font-size:0.9em;
}

select {
    font-size:0.9em;
}

input[type=submit], input[type=button], input[type=reset] {
    background-color : #6699CC;
    color : #FFFFFF;
    font-size : 1em;
    font-weight : bold;
}

.searchresults table tr:hover{
    background-color: #CCFFFF;
}

tr.highlight td, tr.highlight th {
    background-color : #EEEEEE;
}

.here {
    color: black;
    text-decoration:none;
}

#problem {
    color: red;
    background-color:white;
    font-weight : bold;
}

#admin_stopwords_select UL {
   width: 600px;
}

#admin_stopwords_select UL LI {
   white-space: nowrap;
}

legend {
    font-size:120%;
    font-weight:bold;
}

.problem {
    color: white;
    background-color:red;
    font-weight : bold;
}

/* css styles for reserves color alerts */
.onloan {
    background-color: #FFED3D;
}

.reserved {
    background-color: #8EBAFF;
}

.transfered {
    background-color: #F9FF9A;
}

.inwait {
    background-color: #33CC99;
}

.other {
    background-color: #FF0000;
}

.available {
    background-color: white;
}

.unavailable {
    background-color: #FFED3D;
}

.hasexpirated {
    text-decoration: line-through;
}

/* style for search terms in catalogsearch */
.term {
    background-color:yellow;
}

/* end of css styles for reserves color alerts */

/* MAIN MENU STYLES */
#mainmenu {
display:none;
}

/* submenus styles */
#submenu {
    display:none;
}
/*Action button*/
#action {
    display:none;
}

/* Main body style */
#main {
    margin-left:0%;
}

/* facets bloc */
#facets {
    display:none;
}

/* the USER information block */
#librarian_information {
    display:none;
}

/* css style for reregistration alert */

.reregistrinfo {
    color: #6699cc;
    font-weight : bold;
    background-color : #eeeeee;
}
/* MARC editor */

/* styles for the 11 buttons that the user can click on */
/* the design of the active tab button (only 1 at a given time)*/
.tab_active {
    color: #6699CC;
    background-color : #CCCCCC;
    font-size : 1em;
    border: 2px inset;
    font-weight : bold;
    text-decoration:none;
    display: inline;
    text-decoration:none;
    margin-left:10px;
}

#onlinehelp {
    display:none;
}

/* the design of the INactives tab buttons (all other tabs) */
.tab_inactive {
    background-color : #6699CC;
    color : #FFFFFF;
    font-size : 1em;
    font-weight : bold;
    display:inline;
    border: 2px outset;
    text-decoration:none;
    margin-left:10px;
}

/* the button of INactive tabs : we need this one to have white color on links, otherwise, default a look will be choosen */
#tabs a {
    color:white;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
}

/* specify that we to do when the mouse is on 1 button */
#tabs a:hover {
    border: 2px inset;
}

#tabs {
    margin-top:45px;
    margin-bottom:5px;
}

/* styles for the 11 content blocks */
/* the property for hidden tabs */
.content_hidden {
    height:0px; /* you propably don't need to change this one */
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    height:0px; /* you propably don't need to change this one */
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}

.lineSelected {
    background-color:yellow;
}
.DoNotPrint {
    display:none;
}