div.homeimage {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url(../../img/label-creator-image.png);
    background-position: top right;
    background-repeat: no-repeat;
    min-width: 800px;
}

div.lci_01 {
    float: right;
    clear: right;
    height: 90px;
    width: 280px;
    margin: 2px;
    padding: 2px;
}

div.lci_02 {
    float: right;
    clear: right;
    height: 165px;
    width: 582px;
    margin: 2px;
    padding: 2px;
}

div.lci_03 {
    float: right;
    clear: right;
    height: 55px;
    width: 305px;
    margin: 2px;
    padding: 2px;
}


