a.edit, a.delete, a.edit:hover, a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

a.edit:hover {
	background: #ccc;
	color: #036;
}

a:visited {
	color: #006;
}

a:hover {
/*	border-bottom: 1px solid #3a75ae;*/
	color: #069;
}

body	{
	background: #f9fcfe;
	color: #000;
	margin: 0;
	padding: 0;
}

body, td {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana;
}

form, label input {
	margin: 0;
	padding: 0;
}

input:focus, textarea:focus, label:focus {
	background: #fff;
	border: 1px solid #686868;
}

label {
	cursor: pointer;
}

#logo { margin-bottom: 2em; }

#login {
	background: #fff;
	border: 1px solid #a2a2a2;
	margin: 5em auto;
	padding: 1.5em;
	position : relative;
	top : auto;
	right : auto;
	width: 25em;
}

#login #login_error {
	background: #c00;
	border: 1px solid #a40000;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: .5em;
	text-align: center;
}

#login h1 {
	background: url(../../img/koha-logo.gif) no-repeat top left;
	margin-top: 0;
}

#login h1 a {
	display: block;
	text-indent: -1000px;
	height: 66px;
	border-bottom: none;
}

#login input {
	padding: 3px;
}

#login ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#login ul li {
	display: inline;
	margin-left: 1.4em;
	text-align: center;
}

#login #userid, #password {
	font-size: 1.7em;
	width: 97%;
}

#login #branch {
	width : 97%;
}

#login #submit {
	font-size: 1.4em;
	padding : .3em .6em;
}


#footer {
        text-align: center;
        border-top: 1px solid #ccc;
        padding-top: 1em;
        font-style: italic;
}

.submit input, .submit input:focus, .button {
	background: url(../../img/fade-butt.png );
	border: 3px double #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	padding: 0.25em;
}

.submit input:active, .button:active {
	background: #f4f4f4;
	border: 3px double #ccc;
	border-left-color: #999;
	border-top-color: #999;
}

.submit, .editform th, #postcustomsubmit {
	text-align: right;
}

textarea, input, select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font:  13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}
