a:link {
	color : #000066;
	text-decoration: none;
}

a:visited {
	color : #000066;
	text-decoration: none;
}

a:hover {
	color : #993300;
	text-decoration: none;
}

body {
	background-color : #FFF;
	color : #333333;
	font-family : arial, geneva, sans-serif;
	font-size : 14px;
	margin : 0px 0px 0px 0px;
}

caption {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-top : 5px;
	text-align : left;
}

form {
	margin : 0px;
	padding : 0px;
}

h1
	{
	color : #000066;
	font-size : 22px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h2 {
	color : #000066;
	font-size : 20px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h3 {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h4 {
	color : #000066;
	font-size : 16px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h5 {
	color : #000066;
	font-size : 15px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

h6 {
	color : #000066;
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

table {
	background-color : #FFFFFF;
	border-bottom : 1px solid #CCCCCC;
	border-collapse : collapse;
	border-left : 1px solid #CCCCCC;
	margin : 3px 0px 5px 0px;
	padding : 0px;
	width : 99%;
}

table.list {
	background-color : #FFFFFF;
	border : 0;
	border-collapse : collapse;
	margin : 3px 0px 5px 0px;
	padding : 0px;
	width : 99%;
}

td {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-top : 0;
	border-left : 0;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
}

td:last-child {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0px solid #CCCCCC;
	border-top : 0;
	border-left : 0;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
}

table.list th {
	background-color : #FFFFFF;
	border-top : 0;
	border-left : 0;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	width : 25%;
}

th {
	background-color : #E9E9E9;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	border-top : 0;
	border-left : 0;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

th:last-child {
	background-color : #E9E9E9;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0px solid #CCCCCC;
	border-top : 0;
	border-left : 0;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #CCCCCC;
	border-left : 0px;
	border-right : 0px;
	color : #000000;
	line-height : 1.5em;
	padding : 4px;
	text-align : left;
}

td.label, div.form th, div.details th {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-right : 0px;
	border-top : 0px;
	color : #000088;
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
	text-align : right;
	vertical-align : top;
}

tr.highlight {
	background-color: #CCCCCC;
}

.cancel {
	background-color : #993300;
	color : #FFFFCC;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
}

.error {
	font-weight: bold;
}

.ex {
	font-family : "Courier New", Courier, monospace;
}
.inline {
	display : inline;
}

.print {
	display : none;
}

.submit {
	background-color : #669999;
	color : #FFFFCC;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
}

#main {
	background-color : #FFF;
	border-left : 0px solid #CCCC99;
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 1%;
	padding : 5px;
	position : relative;
}

tr.overdue {
	font-weight : bold;
}

tfoot {
	font-weight : bold;
}

tfoot td, tfoot td:last-child {
	background-color : #EEEEEE;	
	border-right : 1px solid #666666;
	border-bottom : 1px solid #666666;
}

td.credit, td.debit, td.sum {
	font-family : "Courier New", Courier, monospace;
	text-align : right;
}

td.debit {
	color : #990000;
}

#receipt {
	background-color : #FFFFFF;
	font-family : serif;
	font-size : .9em;
	margin : 0 0px 0px 0;
	padding : 0px;
	position : relative;
}

#receipt a:link {
	color : #000066;
	text-decoration: none;
}

#receipt a:visited {
	color : #000066;
	text-decoration: none;
}

#receipt a:hover {
	color : #993300;
	text-decoration: none;
}

#receipt caption {
	color : #000000;
	font-weight : bold;
	margin-top : 5px;
	text-align : left;
}

#receipt div.table {
	background-color : transparent;
	font-weight: normal;
}

#receipt h3, #receipt caption {
	background-color : transparent;
	color : #000000;
	font-size : 1em;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

#receipt table {
	background-color : transparent;
	border : 0;
	border-collapse : collapse;
	width : auto;
}

#receipt td, #receipt th {
	background-color : transparent;
	border : 0;
	font-size : 1em;
	font-weight : normal;
	padding : 1px;
	}
	
#receipt th {
	font-weight : bold;
	text-align : left;
	}

div#breadcrumbs,
div#toplevelnav,
div#login,
div#header_search,
div#toolbar,
div#changelanguage,
div#menu,
div.yui-b,
.noprint,
form#sortbyform {
    display:none;
}

div#yui-main div.yui-b {
	display : block;
}

.yui-t1 #yui-main div.yui-b,
.yui-t2 #yui-main div.yui-b,
.yui-t7 #yui-main div.yui-b {
	margin-left : 0;
}