#quotes_editor_wrapper {
    position    : relative;
    top         : 15px;
}

#footer {
    position    : relative;
    top         : 10px;
    height      : 25px;
}

#instructions li {
    list-style-type : disc;
}

#instructions div {
    margin-left : 10px;
}

#file_editor_inst {
    visibility  : hidden;
    position    : absolute;
}

#file_uploader {
    visibility  :visible;
    position    :relative;
}

#file_upload {
    position    : relative;
    top         : -1px;
    margin-left : 10px;
}

#quotes_editor {
    width       : 100%;
}
