fieldset.rows ol.radio label, fieldset.rows li.radio label { float: right; margin: 0 1em 0 0.3em; }


/* Adjust text directions */

a.yuimenuitemlabel,
body,
caption,
div#toolbar,
div.rows span.label,
div.subfield_line label,
fieldset.rows.left label,
fieldset.rows.left span.label,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
th,
odoc,
p,
ul li,
ul.toolbar,
#doc2,
#doc3,
#doc4,
.autocomplete .sample-result,
.ui-tabs-panel,
.yui-t1,
.yui-t2,
.yui-t3,
.yui-t4
.yui-t5,
.yui-t6,
.yui-t7
{
   text-align: right;
}

#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 {
    text-align: right;
}

#issuest th,
.column-tool
{
   text-align: center;
}

/* Swap floats */

div.lang,
div.rows span.label,
div.subfield_line label,
div#header_search,
fieldset.action,
fieldset.rows,
fieldset.rows input,
fieldset.rows div.hint,
fieldset.rows img,
fieldset.rows label,
fieldset.rows li,
fieldset.rows ol.radio label.radio,
fieldset.rows select,
fieldset.rows span.label,
fieldset.rows textarea,
ol.bibliodetails,
ol.bibliodetails span.label,
span.required,
#marcDocsSelect,
#toplevelnav,
.treeview .hitarea,
.ui-tabs-nav li,
.yui-g div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gc div.first div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first,
.yui-t1 .yui-b,
.yui-t2 .yui-b,
.yui-t3 .yui-b
{
   float: right;
}

a.buttondot
{
   float: left;
}

ul li,
input,
.input_marceditor
{
   float: none;
}

div.sysprefs div.hint,
.yui-g .yui-u,
.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main,

{
   float: right ;
}
.yui-t1 {
float:right
}

/* Adjust margins, padding, alignment and table-element widths */

.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main
{
   margin-left: 0;
}

.yui-t1 #yui-main .yui-b,
.yui-t2 #yui-main .yui-b
{
   margin-left: 0;
   /* karam margin-right: 13em; */
}

.treeview .hitarea
{
   margin-left: 0;
   margin-right: -16px;
}

div#menu li a
{
   margin-left: -1px;
}

div#menu,
div.patroninfo ul,
div.patroninfo h5,
#guarantorsearch,
.yui-g input
{
   margin-left: 0.5em;
}
fieldset.rows img,
span.required
{
   margin-right: 0.5em;
}

fieldset.rows div.hint
{
   margin-right:1em;
   margin-left:0;
}

div#header_search
{
   margin-right:200px;
}

.yui-g .yui-u
{
   padding-right: 0;
}

body
{
   padding-right: 1.5em;
}

.yui-u
{
   padding-right: 0.5em;
}

ul
{
   padding-left: 0;
   padding-right: 1.1em;
}

.yui-b
{
   padding-bottom: 5em;
}

.treeview li {
   padding: 3px 16px 3px 16px;
}

#login
{
   left: 0.5em;
}

#koha_url
{
   left: 2em;
}

#login,
#koha_url
{
   right:auto;
}

div.listgroup,
.yui-g p
{
   clear:right;
}

.yui-t2 #yui-main
{
   width: 75%;
}

.yui-t3 #yui-main
{
   width: 70%;
}

#borrowerautocomplete
{
   width: auto;
}

.holdcount
{
   line-height: 150%;
}


/* Borders */

div#menu,
div.patroninfo ul,
div.patroninfo h5
{
   border-left: 1px solid #000;
   border-right: none;
}

#menu ul li.active a
{
   border-right: 1px solid #000;
   border-left: 0;
}

/* flip over images */

.treeview li,
.treeview li.last
{
   background-position-x: right !important;
}
/* TODO - Can we find ways to avoid this? */

h1#logo,
#koha_url,
#login,
.yui-t1 .yui-b
{
   position: absolute;
}

/*
###############
new added for good rtl :
*/
.statictabs ul li {
    background: none repeat scroll 0px 0px rgb(230, 240, 242);
    border-top: 1px solid rgb(185, 216, 217);
    border-right: 1px solid rgb(185, 216, 217);
    border-left: 1px solid rgb(185, 216, 217);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-bottom: 0px none !important;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    float: right;
    list-style: none outside none;
    margin-bottom: 0px;
    margin-right: 0.4em;
    padding: 0px;
    position: relative;
    white-space: nowrap;
    top: 1px;
}

div.sysprefs div.hint {
    width: 25%;
    float: left;
    padding: 0.5em;
    margin: 0.7em;
}
div.subfield_line label {
    font-size: 89%;
    float: right;
    width: 16em;
    text-align: right;
    clear: right;
}
.yui-t3 #yui-main .yui-b {
    margin-left: -0.0759em;
}

#doc3 {
    background-position: right top;
}

.yui-gb{
    /* use this will break the tools page "" width: 30%;""*/
    float: right;
}



ul#toplevelmenu {
    padding: 0px;
    float: right;
}
.navbar .nav.pull-right {
    float: left;
    margin-right: 0px;
}

.navbar .nav > li {
    float: right;
}
#cartmenulink {
    background: url("../../img/cart-small.gif") no-repeat scroll right center transparent;
    padding-right: 15px;
}



.yui-g .yui-u, .yui-g .yui-g, .yui-g .yui-gb, .yui-g .yui-gc, .yui-g .yui-gd, .yui-g .yui-ge, .yui-g .yui-gf, .yui-gc .yui-u, .yui-gd .yui-g, .yui-g .yui-gc .yui-u, .yui-ge .yui-u, .yui-ge .yui-g, .yui-gf .yui-g, .yui-gf .yui-u {
    display: inline;

}



fieldset.action {
    float: right;

}
#yui-main .yui-b {

    width: auto;
}

/*Lable */
div.homeimage {
    background-attachment: scroll;
    background-color: transparent;
    background-image: url("../../img/label-creator-image.png");
    background-position: left top;
    background-repeat: no-repeat;
    min-width: 800px;
}
div.lci_01 {
    float: left;
    clear: left;
}

div.lci_02 {
    float: left;
    clear: left;
}
div.lci_03 {
    float: left;
    clear: left;
}


/***********************************************************/


#addbibliotabs .ui-tabs-panel {
    float: right;
}

/*for the tools main page */
.yui-gb .yui-u {
    float: left;
    margin-right: 2%;
    margin-left: 0%;
    width: 25%;
}

/*NEWS*/
div.yui-b {
    position: absolute;
}
div#yui-main{
float:left;
}
/*floating taps for marceditor and other taps plases */
.ui-tabs .ui-tabs-nav li {
    float: right;
}
/*this is about the shadow image in the pref sidbar */
div#menu li a {
    background: -moz-linear-gradient(right center , rgb(232, 240, 246) 0%, rgb(232, 240, 246) 96%, rgb(193, 193, 193) 100%) repeat scroll 0% 0% transparent; /*firefox 6*/
background: -webkit-gradient(linear, right top, right top, color-stop(0%,#e8f0f6), color-stop(96%,#e8f0f6), color-stop(100%,#c1c1c1)); /* Chrome,Safari4 */
    background: -webkit-linear-gradient(right, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* Chrome10,Safari5.1 */
     background: -o-linear-gradient(right, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* Opera11.10 */
   background: -ms-linear-gradient(right, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* IE10 */
       background: linear-gradient(right, #e8f0f6 0%,#e8f0f6 96%,#c1c1c1 100%); /* W3C */
}
/*Z39 search botton */

#searchheader form.fz3950bigrpad {
    float: left;
}
/*check bocks*/
p label, {
    float: left;
}

/*the arrwos in pref.*/
h3.expanded {
    background: url("../../img/collapse.gif") no-repeat scroll right 6px transparent;
    cursor: pointer;
    padding-right: 12px;
}
h3.collapsed {
    background: url("../../img/expand.gif") no-repeat scroll right 6px transparent;
    cursor: pointer;
    padding-right: 12px;

}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -25px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: none outside none;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
}


/* */

div#yui-main {

    margin-right: 22em;
}

/* */

div#yui-main.sysprefs {
    margin-right: 0em;
    float: right;
}
