@import url( /intranet-tmpl/prog/en/lib/yui/reset-fonts-grids.css) all;

a, a:link, a:visited, a:active {
	color : #316494;
}

a:hover {
	color : #669ACC;
}

body {
	text-align : left;
}

h1 {
	font-size : 182%;
	font-weight : bold;
}

h2 {
	font-size : 167%;
	font-weight : bold;
}

h3 {
	font-size : 153.9%;
	font-weight : bold;
}

h4 {
	font-size : 138.5%;	
	font-weight : bold;
}

h5 {
	font-size : 123.1%;	
	font-weight : bold;
}

h6 {
	font-size : 93%;
	font-weight : bold;
}

#hd {
}

#navigation {
	border-right : 1px solid #BCBCBC;
}

#navigation li {
	font-weight : bold;
}

#navigation li li {
	font-weight : normal;
}

#navigation input {
	font-size : 85%;
}

#ft {
}

.yui-u {
}

#doc3 {
	padding-top : 1em;
}

#login	 {
	position : absolute;
	top : 3px;
	right : 40px;
}

#login a {

}

ul {
	padding-left : 1.1em;
}

li {
	
	list-style-type : disc;
}

#header {
	border-bottom : 1px solid #E8E8E8;
}

#header:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

#sitetitle {
	background-image : url("../../img/koha-logo-black.png");
	background-position : 5px 2px;
	background-repeat : no-repeat;
	float : left;
	height : 54px;
	padding-left : 50px;
}

#sitetitle h1 {
	display : inline;
	line-height : 54px;
}

#sitetitle h1 a {
	text-decoration : none;
}

#toplevelnav {
	float : left;
	line-height : 54px;
	margin-left : 1em;
}

#submenu {
	margin : .5em 0;
}

#toplevelnav li, #submenu li {
	display : inline;
	border-right : 1px solid #E8E8E8;
	padding : 0 .5em;
	white-space : nowrap;
}

#toplevelnav li:last-child, #submenu li:last-child {
	border : 0;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #BCBCBC;
	border-right : 1px solid #BCBCBC;
}

td, th {
	border-bottom : 1px solid #BCBCBC;
	border-left : 1px solid #BCBCBC;
	padding : .5em;
}

td {
	background-color : White;
}

th {
	background-color : #E8E8E8;
	font-weight : bold;
}

td.highlight {
	background-color : #F3F3F3;
}

caption {
	font-size : 153.9%;
	font-weight : bold;
}

span.problem {
	background-color : #FFFFCC;
	color : #990000;
	font-weight : bold;
	line-height : 1.7em;
}

fieldset {
	border : 2px solid #EEEEEE;
	margin : 1em;
	padding : 1em;
}

legend {
	font-size : 138.5%;
	font-weight : bold;
	margin : 0 0 0 -1em;
	padding : 0;
}


