@import url("/intranet-tmpl/prog/en/lib/yui/reset-fonts-grids.css");

a, a:link, a:visited, a:active {
	color : #0000CC;
}

a:hover {
	color : #669ACC;
}

body {
	text-align : left;
}

br.clear {
	clear : both;
	line-height : 1px;
}

form {
	display : inline;
}

h1 {
	font-size : 161.6%;
	font-weight : bold;
}

h2 {
	font-size : 146.5%;
	font-weight : bold;
}

h3 {
	font-size : 131%;
	font-weight : bold;
}

h4 {
	font-size : 116%;	
	font-weight : bold;
}

h5 {
	font-size : 100%;	
	font-weight : bold;
}

h6 {
	font-size : 93%;
	font-weight : bold;
}

h1,h2,h3,h4,h5,h6 {
	margin : .3em 0;
}

p {
	margin: .5em 0 .5em 0;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}

.subfield-label {
    font-style : italic;
}

#hd {
}

#navigation {
	border-right : 1px solid #BCBCBC;
}

#navigation li {
	font-weight : bold;
}

#navigation li li {
	font-weight : normal;
}

#navigation input {
	font-size : 85%;
}

#ft {
}

.yui-u {
}

#doc, #doc1, #doc2, #doc3 {
	padding-top : 1em;
}

#login	 {
	position : absolute;
	top : 3px;
	right : .5em;
}

#login a {

}

ul {
	padding-left : 1.1em;
}

li {
	
	list-style-type : disc;
}

li li {
	list-style-type : circle;
}

#header {
	background-color : #F3F3F3;
	border-bottom : 1px solid #E8E8E8;
}

#header:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

#sitetitle {
/*	background-image : url("../../img/koha-logo-black.png");
	background-position : 5px 2px;
	background-repeat : no-repeat;
	float : left;
	height : 54px;
	padding-left : 50px;*/
	border-bottom : 1px solid #E8E8E8;
}

#sitetitle h1 {
	display : inline;
	line-height : 54px;
}

#sitetitle h1 a {
	text-decoration : none;
}

#toplevelnav {
	float : left;
	line-height : 2em;
}

#submenu {
	margin : 0 0 .5em 0;
	padding : 0;
}

#submenu ul {
	margin : 0;
	padding : 0;	
}

#submenu ul li {
	padding-left : 0;
}

/*#toplevelnav ul {
	margin : 0;
	padding : 0;
}

#toplevelnav li, #submenu li {
	display : inline;
	border-right : 1px solid #E8E8E8;
	padding : 0 .5em;
	white-space : nowrap;
}

#toplevelnav li:last-child, #submenu li:last-child {
	border : 0;
}*/

table {
	border-collapse : collapse;
	border-top : 1px solid #BCBCBC;
	border-right : 1px solid #BCBCBC;
}

td, th {
	border-bottom : 1px solid #BCBCBC;
	border-left : 1px solid #BCBCBC;
	padding : .2em .3em;
}

td {
	background-color : White;
}

th {
	background-color : #E8E8E8;
	font-weight : bold;
}

tr.highlight td, td.highlight {
	background-color : #F3F3F3;
}

td.od {
	color : #cc0000;
	font-weight : bold;
}

tr.warn td {
	background-color: #FF9090;
}

tr.onissue td {
	background-color: #FFFFCC;
}

tr.highlight.onissue td {
	background-color: #FFFFE1;
}

caption {
	font-size : 153.9%;
	font-weight : bold;
}

span.problem {
	background-color : #FFFFCC;
	color : #990000;
	font-weight : bold;
	line-height : 1.7em;
}

fieldset {
	border : 2px solid #EEEEEE;
	margin : 1em 1em 1em 0;
	padding : 1em;
}

legend {
	font-size : 123.1%;
	font-weight : bold;
	margin : 0 0 0 -1em;
	padding : 0;
}

#breadcrumbs {
	background-color : #F3F3F3;
	border-bottom : 1px solid #E8E8E8;
	clear : both;
	font-size : 90%;
	padding :.2em .5em .4em 10px;
}

#header+#breadcrumbs {
	margin-top : 1em;
}

#commonsearch {
	display : inline;
}


div#header_search {
	background-image : url("../../img/koha-logo-medium.gif");
	background-position : .5em .5em;
	background-repeat : no-repeat;
	float: left;
	padding-left : 14.2em;
	margin: .3em 0 .5em 0;
	min-height : 52px;
}

div#header_search input {
	font-size : 1.3em;
}

div#header_search ul.link-tabs {
	font-family : Arial, Geneva, sans-serif;
	margin-bottom : -4px;
}

div#header_search ul.link-tabs li.on a,
div#header_search ul.link-tabs li a,
div#header_search ul.link-tabs li.off a {
	padding : 0.1em .5em .2em .5em;
}

div#header_search div.residentsearch {
	border : 0;
	border-bottom : 1px solid #FF9900;
	padding : 0 0 .2em 0;
}

div#reserves,div#checkouts {
	border : 1px solid #E8E8E8;
	padding : 1em;
}

div#header_search .tip {
	font-size: 93%;
	color : Gray;
}

.ex {
	font-family : "Courier New", Courier, fixed-width;
	font-weight : bold;
}

/* ClickMenu Overrides */

ul#toplevelmenu li {
	display : inline;
	list-style: none;
}

ul#toplevelmenu li ul {
}

div.cmDiv
{
	border: 0;
	background-color: #F3F3F3;
}

.clickMenu li.more a {
	background-image: url("../../img/more-arrow.gif");
	background-position: right;
	background-repeat: no-repeat;
	padding-right : 13px;
}

.clickMenu li.more li a {
	background-image : none;
	padding-right : 0;
	white-space : nowrap;
}

.clickMenu
{
	margin: 0;
	padding: 0;
	cursor: default;
}
.clickMenu, .clickMenu ul
{
	list-style: none;
}
.clickMenu ul
{
	margin: 0;
	padding: 2px;
	border: 0;
	background-color: #F3F3F3;
	min-width: 100px; /* ie doesnt know this :/ */
	//float: left;/*ie again*/
	//width: 100%;/*and again*/
}
.clickMenu div.outerbox
{
	display: none;
	min-width: 106px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
	//top: 20px; /* for ie */
	left: 0;
	margin: 0;
}
.clickMenu div.inner div.outerbox
{
	margin: 0;
	left: 98px;
	//left: 90px; /* for ie */
	top: -3px;
}
.clickMenu li
{
	list-style-type : none;
	position: relative;
	padding: 0 20px 0 2px;
	/*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
	float: left;
	padding: 0 10px;
	background-color: #F3F3F3;
	//height: 20px; /* for ie */
}
.clickMenu li.main li
{
	z-index: 2;
	min-width: 78px;
}
.clickMenu li.hover
{
	z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
	background-color : transparent;
}
.clickMenu img.liArrow
{
	position: absolute;
	right: 5px;
	top: 0.41em;
}
.clickMenu ul a {
	cursor: default;
}

ul.innerBox a {
	cursor : pointer;
}

ul.innerBox {
	border: 1px solid #E8E8E8;
}

div.yui-b h5 {
	font-size : 100%;
	margin : .5em 0;
}

dt {
	font-size : 110%;
	font-weight : bold;
}

dd {
	padding : .2em;
	text-indent : 1.5em;
}

div#toolbar {
	background-color : #F3F3F3;
	margin-bottom : .7em;
}

ul.toolbar {
	padding-left : 0;
}

.yui-menu-button  {
	
}

ul.toolbar li {
	display : inline;
	list-style : none;
}

div.message {
   border : 1px solid #6699CC;
	width : 75%;
	margin : 1em auto;
	padding : .5em;
}

div.patroninfo {
	margin-top : -.5em;
}

div.patroninfo h5 {
	background-color : #FCFAF3;
	/*border-top :  1px solid #CCCC99;
	border-left :  1px solid #CCCC99;*/
	border-right :  1px solid #CCCC99;
	margin-bottom : 0;
	padding-left : .5em;
	padding-top : .3em;
	padding-bottom : .5em;
}

div.patroninfo ul {
	/*border : 1px solid #CCCC99;*/
	border-right : 1px solid #CCCC99;
	border-bottom : 0;
	border-top : 0;
	background-color : #FCFAF3;
	padding-bottom : .5em;
}

div.patroninfo ul li, div.patronviews ul li {
	list-style-type : none;
}

div.patronviews {
	background-color : #FDFCF7;
	/*border-left : 1px solid #CCCC99;
	border-bottom : 1px solid #CCCC99;*/
	border-right :  1px solid #CCCC99;
	border-top : 1px solid #CCCC99;
	margin-bottom : .5em;
	padding : .5em 0 .5em 0;
}

a.member-edit {
	float : right;
	background-color : #DBECC8;
	margin-top : .5em;
	padding : .3em;
	text-align : right;
	text-decoration : none;
}

fieldset.brief {
	border : 1px solid #E8E8E8;
}

fieldset.brief label {
	display : block;
	font-weight : bold;
	padding : .3em 0;
}

fieldset.brief ol, fieldset.brief li {
	list-style-type : none;
}

fieldset.brief div.hint, fieldset.rows div.hint {
	color : #999999;
	font-size : 95%;
	margin-bottom : .4em;
}

fieldset.rows {  
border-width : 1px;
border-bottom : 1px solid black;
float : left;
font-size : 90%;
clear : left;
margin: .9em 0 0 0;  
padding: 0;
width: 100%; 
}

fieldset.rows legend {  
	margin-left: 1em;
	font-weight: bold;
	font-size : 110%;
}

fieldset.rows label, fieldset.rows span.label {  
	float: left;  
	font-weight : bold;
	width: 6em;  
	margin-right: 1em;  
	text-align: right;
}

fieldset.rows fieldset {
	border-width : 1px;
	margin : 0;
	padding : .3em;
}

.yui-b fieldset.rows label, .yui-b fieldset.rows span.label {  
	width: 9em;  
}

.yui-b fieldset.rows div.hint {
	margin-left : 10.5em;
}

.yui-u fieldset.rows label, .yui-u fieldset.rows span.label {  
	width: 6em;  
}

.yui-u fieldset.rows div.hint {
	margin-left : 7.5em;
}

fieldset.rows.left label, fieldset.rows.left span.label {
	width : 8em;
	text-align : left;	
}

fieldset.rows ol {  
padding: 1em 1em 0 1em;  
list-style-type: none;
}

fieldset.rows li {  
float : left;
clear : left;
padding-bottom: 1em;
list-style-type: none;
width: 100%; 
}

fieldset.rows.left li {
	padding-bottom : .4em;
}

fieldset.rows li.radio {
	padding-left: 9em;
	width : auto;
}

fieldset.rows li.radio label {
	float : none;
	width : auto;
	margin : 0 0 0 1em;
}

fieldset.rows ol.radio label {
	width : auto;
	float : none;
	margin-right : 0;
}

fieldset.rows ol.radio label.radio {
	float : left;
	width : 12em;
	margin-right : 1em;
}

fieldset.rows table {
	clear : both;
	margin : 1em 0 0 1em;
}

fieldset.rows td label {
	float : none;
	font-weight : normal;
	width : auto;
}

fieldset.rows label.yesno {
	float : none;
	width : auto;
}

fieldset.action {
	clear : both;
	float : none;
	border : none;
	margin : 0;
	padding : 1em 0 .3em 0;
	width : auto;
}

a.cancel {
	padding-left : 1em;
}

fieldset.rows fieldset.action {
	padding : 1em;
}

fieldset.rows .inputnote {
	float : left;
	margin : .5em 0 0 10em;
}

.tabs-nav li {
	list-style : none;
}

.tabs-nav a, .tabs-nav a span, .tabs-nav span.a {
   background : none;
	display : block;
	padding: .2em .5em .25em .5em;
}

.tabs-nav a, .tabs-nav span.a {
    z-index : auto;
}

.tabs-nav .tabs-selected a, .tabs-nav .tabs-selected span.a {
	background-color : #FFFFCC;
	border-top: 1px solid #FFFFCC;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FFCC66;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	top : -1px;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active, .tabs-nav span.a {
    background-position : inherit;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active, .tabs-nav span.a {
    background-position: inherit;
}

.tabs-nav .tabs-selected a:hover {
	color : #0000CC;
}

.tabs-nav li.tabs-selected {
	background-color : #FFFFCC;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active, .tabs-nav span.a {
	 background : none;
    outline: 0; /* prevent dotted border in Firefox */
}

.tabs-container {
    border-top: 0;
    padding : inherit;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: inherit;
    background: none;
}
.toptabs {
	margin-top : 1em;
}

.toptabs .tabs-nav a, .toptabs .tabs-nav span.a {
    top: 0;
 }

.toptabs .tabs-nav li {
	margin-right : .5em;
}

.toptabs .tabs-nav li a, .toptabs .tabs-nav li span.a {
	background-color : #F3F3F3;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 0;
	text-align : center;
	text-decoration : none;
}

.toptabs .tabs-nav li.tabs-selected  {
	background-color : #FFF;
}

.toptabs .tabs-nav li.tabs-selected a, .toptabs .tabs-nav li.tabs-selected span.a {
	background-color : #FFF;
	border-top : 1px solid #E8E8E8;
	border-left : 1px solid #E8E8E8;
	border-right : 1px solid #E8E8E8;
	border-bottom : 1px solid #FFF;
	margin-bottom : -5px;
	text-align : center;
}

.toptabs.numbered .tabs-nav li {
	min-width : 3em;
}

.toptabs .tabs-container {
	border : 1px solid #E8E8E8;
	padding : 1em;
}

.checkedout {
	color : #999999;
	font-style : italic;
}

.subfield_not_filled {
	background-color : #FFFF99;
}
.content_hidden {
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}
#addbiblio a, #addchild a, #newentry a {
	padding-left : 34px;
	background-image: url("/intranet-tmpl/prog/img/toolbar-new.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#deletebiblio button, #deletebiblio a, #deletepatron a {
	padding-left : 34px;
	background-image: url("/intranet-tmpl/prog/img/toolbar-delete.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#printbiblio button, #printbiblio a {
	padding-left : 34px;
	background-image: url("/intranet-tmpl/prog/img/toolbar-print.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#addtoshelf button, #addtoshelf a {
	padding-left : 34px;
	background-image: url("/intranet-tmpl/prog/img/toolbar-add-to-shelf.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

#placehold a {
	padding-left : 34px;
	background-image: url("/intranet-tmpl/prog/img/toolbar-hold.gif");
	background-position : center left;
	background-repeat : no-repeat;
}

div.error {
	border : 2px dashed #990000;
	background-color : #FFFF99;
	padding : .5em;
	margin : 1em;
}

ol.bibliodetails {
	float: left;
	margin : 0 0 1em 1em;
}

ol.bibliodetails li {
	border-bottom: 1px solid #E8E8E8;
	list-style-type : none;
	padding : .1em;
}

ol.bibliodetails span.label {
	border-right : 1px solid #E8E8E8;
	float : left;
	font-weight: bold;
	width: 12em;  
	margin-right: 1em;  
}

div.sysprefs h3 {
	margin : .2em 0 .2em .4em;
}

div.sysprefs dl {
	margin-left : 1.5em;
}

div.sysprefs div.hint {
	width : 25%;
	float : right;
	padding : .5em;
	margin : .7em;
}

tr.highlight td {
	background-color : #F6F6F6;
}

tr.highlight th {
	background-color : #DDDDDD;
}

#circ_circulation_issue label {
	font-size: 105%;
	font-weight : bold;
}

#circ_circulation_issue div.hint {
	color : #666666;
	margin: .2em 0;
}

tr.expired td {
	color : #999999;
}

span.expired {
	color : #990000;
	font-style : italic;
}

div.subfield_line label {
    font-size:75%;
    float: left;
    width: 200px;
    text-align: left;
    clear:left;
}

div.help {
	margin: .9em 0 0 0;  
}

.blocker {
	color : #990000;
}

.circmessage li {
	list-style : url(../../img/arrow-bullet.gif);
	margin-bottom : .2em;
}

div.circmessage:first-child {
	margin-top : 1em;
}

div.circmessage {
	border: 1px solid #CCC;
	padding: .4em;
	margin-bottom : .3em;
}

span.circ-hlt {
	color : #cc0000;
	font-weight : bold;
}

div.first fieldset {
	margin-right : 0;
}

.dialog {
  width: 50%;
  float:left;
  background: url(../../img/dropshadow-alpha.png) no-repeat bottom right !important;
  background: url(../../img/dropshadow.gif) no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
  }

.dialog div {
  background: none !important;
  background: url(../../img/dropshadow-mask.gif) no-repeat left top;
  padding: 0 !important;
  padding: 0 6px 6px 0;
  }

.dialog div.confirm {
  background-color: #ffc;
 // background : url(../../img/dialog-bg.gif) repeat-x left 0 !important;
  font: 1em sans-serif;
  border: 1px solid #bcbcbc;
  padding: 4px !important;
  margin: -6px 6px 6px -6px !important;
  margin: 0;
  }
  
  .dialog div.confirm h2, .dialog div.confirm h3, .dialog div.confirm h4 {
  	margin : auto;
	text-align : center;
  }
  
 div.confirm input {
 	background-color : #FFF;
 	border : 1px solid #bcbcbc;
	margin : .4em;
	padding : .4em .4em .4em 25px;
 }
 
 div.confirm input.approve {
 	background : #FFF url(../../img/approve.gif) no-repeat 4px center;
 }

 div.confirm input.deny {
 	background : #FFF url(../../img/deny.gif) no-repeat 4px center;
 }
 
 div.confirm input:hover {
 	background-color : #ffc;
 }
 
 div.results {
 	padding : .7em 0;
 }
 
 .accesskey {
 	text-decoration : underline;
 }
 
 #changelanguage {
	background-color : #F3F3F3;
 	border-top : 1px solid #E8E8E8;
	font-size : 93%;
	margin-top : 2em;
	padding : .3em .5em .5em .5em;
 }
 
 #changelanguage ul {
 	margin : 0;
	padding : 0;
 }
 
 #changelanguage li {
 	border-left : 1px solid #CCC;
 	display : inline;
	list-style : none;
	padding : 0 .5em;
 }
 
 #changelanguage li:first-child {
 	border-left : 0;
 }
 
.required {
    color : #C00;
}

span.required {
	font-style : italic;
}

.term {
    background-color: #FFC;
	 color : #990000;
	 text-decoration : underline;
}

.term {
    background-color:yellow;
}

div#menu {
	border-right: 1px solid #000;
	margin-right: .5em;
	padding-top: 1em;
	padding-bottom: 2em;
}

div#menu li a {
	text-decoration: none;
	display: block;
	background : #EEE url(../../img/side-tab-gradient.gif) repeat-y top right;
	border: 1px solid #000;
	font-size: 111%;
	margin: .5em 0;
	padding: .4em .3em;
	margin-right :  -1px;
}

div#menu li a:hover {
	background : #E8F0F6 url(../../img/side-tab-gradient-hover.gif) repeat-y top right;
}

div#menu li.active a:hover {
	background-color: #fff;
	color :  #0000CC;
}

#menu ul li {
	list-style-type: none;
}

#menu ul li.active a {
	background-color: #FFF;
	background-image : none;
	border-right: 0;
	font-weight: bold;
}