@import url( /intranet-tmpl/prog/en/lib/yui/reset-fonts-grids.css) all;

body {
	text-align : left;
}

h1 {
	font-size : 182%;
	font-weight : bold;
}

h2 {
	font-size : 167%;
	font-weight : bold;
}

h3 {
	font-size : 153.9%;
	font-weight : bold;
}

h4 {
	font-size : 138.5%;	
	font-weight : bold;
}

h5 {
	font-size : 123.1%;	
	font-weight : bold;
}

h6 {
	font-size : 93%;
	font-weight : bold;
}

#hd {
}

#navigation {
	border-right : 1px solid #BCBCBC;
}

#navigation li {
	font-weight : bold;
}

#navigation li li {
	font-weight : normal;
}

#navigation input {
	font-size : 85%;
}

#ft {
}

.yui-u {
}

#onlinehelp {
	position : absolute;
	top : 3px;
	right : 10px;
}

ul {
	padding-left : 1.1em;
}

li {
	
	list-style-type : disc;
}

#header {
	background-image : url("../../img/koha-logo-black.png");
	background-position : left;
	background-repeat : no-repeat;
	height : 54px;
	padding-left : 45px;
}

#header h1 {
	height : 54px;
	vertical-align : middle;
}

#header h1 a {
	text-decoration : none;
}

#submenu {
	margin : .5em 0;
}

#submenu li {
	display : inline;
	border-right : 1px solid #E8E8E8;
	padding : 0 .5em;
	white-space : nowrap;
}

#submenu li:last-child {
	border : 0;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #BCBCBC;
	border-right : 1px solid #BCBCBC;
}

td, th {
	border-bottom : 1px solid #BCBCBC;
	border-left : 1px solid #BCBCBC;
	padding : .5em;
}

td {
	background-color : White;
}

th {
	background-color : #E8E8E8;
	font-weight : bold;
}

td.highlight {
	background-color : #F3F3F3;
}

caption {
	font-size : 153.9%;
	font-weight : bold;
}

span.problem {
	background-color : #FFFFCC;
	color : #990000;
	font-weight : bold;
	line-height : 1.7em;
}

fieldset {
	border : 2px solid #EEEEEE;
	margin : 1em;
	padding : 1em;
}

legend {
	font-size : 138.5%;
	font-weight : bold;
	margin : 0 0 0 -1em;
	padding : 0;
}

/* MARC editor */

/* styles for the 11 buttons that the user can click on */
/* the design of the active tab button (only 1 at a given time)*/
.tab_active {
    color: #6699CC;
    background-color : #CCCCCC;
    font-size : 1em;
    border: 2px inset;
    font-weight : bold;
    text-decoration:none;
    display: inline;
    text-decoration:none;
    margin-left:10px;
}

#onlinehelp {
    float:right;
}

/* the design of the INactives tab buttons (all other tabs) */
.tab_inactive {
    background-color : #6699CC;
    color : #FFFFFF;
    font-size : 1em;
    font-weight : bold;
    display:inline;
    border: 2px outset;
    text-decoration:none;
    margin-left:10px;
}

/* the button of INactive tabs : we need this one to have white color on links, otherwise, default a look will be choosen */
#tabs a {
    color:white;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
}

/* specify that we to do when the mouse is on 1 button */
#tabs a:hover {
    border: 2px inset;
}

#tabs {
    margin-top:45px;
    margin-bottom:5px;
}

/* styles for the 11 content blocks */
/* the property for hidden tabs */
.content_hidden {
    height:0px; /* you propably don't need to change this one */
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    height:0px; /* you propably don't need to change this one */
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}

/* the style of tag description */
p.tag {
    font-weight:bold;
}
/* the style of subfield paragraph */
p.subfield {
    
}
