Dear <!-- TMPL_VAR NAME="LibraryName" --> user,

You have suggested that the library acquire <!-- TMPL_VAR name="title" --><!-- TMPL_IF name="author" --> by <!-- TMPL_VAR name="author" --><!-- /TMPL_IF -->.

We are pleased to inform you that the item you requested is now part of the collection of the <!-- TMPL_VAR NAME="LibraryName" -->.

If you have any questions, please email us at <!-- TMPL_VAR name="libemail" -->.

Thank you,

<!-- TMPL_VAR NAME="LibraryName" -->
