[% INCLUDE 'help-top.inc' %]

<h1>Record detail</h1>

<p>In Koha the bibliographic record contains the main information related to the material. This includes things like the title, author, ISBN, etc. This information is stored in Koha in Marc (different flavors of Marc are supported in Koha). Once this information is saved, items or holdings can be attached.</p>

<p><strong>See the full documentation for Cataloging in the <a href="http://koha-community.org/manual/[% helpVersion %]/html/cataloging.html#bibliographic-records">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
