[% INCLUDE 'help-top.inc' %]

<h1>Item Search</h1>

<p>If you are looking for specific items you can use the item search engine in the staff client to find them.</p>

<p>At the top of the advanced search page in the staff client you will see a link to 'Go to item search'</p>

<p>Clicking that link will open up a item specific search engine.</p>

<p>Using the search form that is presented you can find a list of specific items that can be output to the screen or to a CSV file. If your results are printed to the screen you will have the option to narrow your search further using filters at the top.</p>

<p><strong>See the full documentation for Searching in the <a href="http://koha-community.org/manual/[% helpVersion %]/html/searching.html#item-searching">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
