<!-- TMPL_INCLUDE NAME="members-top.inc" -->

<!-- TMPL_IF NAME="loggedinuser" -->
	<p align=left>Registrado como: <!-- TMPL_VAR NAME="loggedinuser" --> [<a href="/cgi-bin/koha/logout.pl">Salir</a>]</p>
	<p>
	<center>
	<h3>Esta p&aacute;gina es s&oacute;lo una prueba</h3>

	<table border=0 cellspacing=15>
	<tr><td valign=top>

	<table border=1 cellpadding=10>
	<tr><th bgcolor="#99cccc" background="/images/background-opac.gif"><font size="+2">Reservas</font></th></tr>
	<tr><td>
	<b>Los siguientes libros est&aacute;n esperando a ser retirados:</b>
	<ul>
	<li>The Great Mom Swap by Betsy Hanes at Main Library
	<li>Between Brothers by Irene Morck at Main Library
	</ul>
	<p>
	<b>Tiene las siguientes solicitudes de art&iacute;culos prestados:</b>
	<ul>
	<li>The Amazing Apple Book by Paulette Bourgeois
	<li>Tracey the Great by Alan Cliburn
	<li>The biography of a grizzly by Ernest Thompson Seton
	</ul>
	</td></tr>
	</table>

	</td><td valign=top>

		<form method="post">
		<table border=1 cellpadding=10>
		<tr><th bgcolor="#99cccc" background="/images/background-opac.gif"><font size="+2">Preferencias del usuario</font></th></tr>
		<tr><td align ="center">
		<table border=0 cellpadding=5>
			<tr><td>Idioma</td><td>
			<select name=language>
			<option value=english>Ingl&eacute;s
			<option value=english>Franc&eacute;s
			<option value=english>Alem&aacute;n
			<option value=english>Polaco
			</select>
			</td></tr>
			<tr><td>Direcci&oacute;n de Correo electr&oacute;nico</td><td><input type= name=email size=30 value="<!-- TMPL_VAR NAME=loggedinuser -->@mibiblioteca.com"></td></tr>
			<tr><td>Sede Preferida<br>para las recolecciones de reservas</td><td>
			<select name=pickupbranch>
			<option value=MAIN>Biblioteca Central
			<option value=SEDGE>Biblioteca Sedgewick
			<option value=HANSEN selected>Biblioteca Rick Hansen
			<option value=CAT>Cataline Library
			</select>
			</td></tr>
			<tr><td colspan=2>
			<input name="specialeventsbyemail" type="checkbox" checked> Notificarme de Eventos Especiales por email<br>
			<input name="overduesbyemail" type="checkbox" checked> Notificarme acerca de retrasos por email<br>
			<input name="recordreadingrecord" type="checkbox"> Mantenga un registro de los libros que he leido<br>
			<input name="recordreadingrecord" type="checkbox"> Permitir al personal de la biblioteca ver mi registro de lectura<br>
			</td></tr>
			<tr><td align=center colspan=2>
			<input type=submit value="Establecer Preferencias">
			</td>
			</tr>
		</table>
		</td></tr>
	</table>
	</form>

	</td></tr>
	</table>

	</center>
<!-- TMPL_ELSE -->
	<center>
	<form method=post>
		<table border=1 cellpadding=10>
		<tr><th bgcolor="#99cccc" background="/images/background-opac.gif" colspan=2><font size=+2>Preferencias del usuario</font></th></tr>
		<tr><td>Nombre:</td><td><input name="userid"></td></tr>
		<tr><td>Clave:</td><td><input type="password" name="password"></td></tr>
		<tr><td align="center" colspan=2>
		    <input type="submit" value="Entrar">
		</td>
		</tr>
	    </table>
	</form>
	</center>
<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="members-bottom.inc" -->
