<HTML>

<TMPL_INCLUDE NAME="members-top.inc">

<TMPL_IF NAME=newpassword>
Cliquer <a href="/cgi-bin/koha/moremember.pl?bornum=<TMPL_VAR NAME=member>">Ici</a> Pour voir la fiche

<TMPL_ELSE>
	<h2><TMPL_VAR NAME="title"> <TMPL_VAR NAME="othernames"> <TMPL_VAR NAME="surname">, <TMPL_VAR NAME="firstname"></h2>
	<form method=post>
	<input type=hidden name=member value=<TMPL_VAR NAME=member>>
	<TMPL_IF NAME="warn">
		Cet identifiant existe d&eacute;ja. Entrez en un autre.<br>
	</TMPL_IF>
	Identifiant utilisateur : <input name=newuserid size=20 value=<TMPL_VAR NAME=userid>> <br>
	Nouveau mot de passe : <input name=newpassword size=20 value=<TMPL_VAR NAME=defaultnewpassword>>
	<p>
	<input type=submit value="Confirm Password">
	</form>
</TMPL_IF>


<TMPL_INCLUDE NAME="members-bottom.inc">
