<!-- TMPL_INCLUDE Name="members-top.inc" -->
<div id="mainbloc">
	<!-- TMPL_IF Name="NOK" -->
	<h3>Les champs suivants sont incorrects. Cliquez sur "retour" et corrigez les.</h3>
	<ul>
		<!-- TMPL_IF NAME="cardnumber_missing" --><li>Merci d'entrer le numéro de carte lecteur</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="firstname_missing" --><li>Merci d'entrer le nom du lecteur</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="surname_missing" --><li>Merci d'entrer le prénom du lecteur.</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="dob_missing" --><li>Merci de saisir la date de naissance du lecteur</li><!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="gender_missing" --><li>Merci d'entrer le sexe du lecteur.</li><!-- /TMPL_IF -->
	</ul>
	<!-- TMPL_ELSE -->
		<h1> Confirmer l'enregistrement </h1>
		<!-- TMPL_LOOP Name="identsloop" -->
			<!-- TMPL_IF Name="cardchild" -->
				<table border="0" cellspacing="0" cellpadding="5">
					<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
						<td background="<!-- TMPL_VAR NAME="image" -->">
						<b> NOUVEAU LECTEUR </b>
						</td>
						<td>
						&nbsp;
						</td>
					</tr>
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Nom</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="name" -->
						</td>
					</tr>
					<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
						<td background="<!-- TMPL_VAR NAME="image" -->">
						<b> DETAILS DES INSCRITS </b>
						</td>
						<td>
						&nbsp;
						</td>
					</tr>
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Numéro d'inscription</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="bornum" -->
						</td>
					</tr>
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Code à barres</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="cardchild" -->
						</td>
					</tr>					
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Date de naissance</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="dob" -->
						</td>
					</tr>
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Sexe</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="sex" -->
						</td>
					</tr>
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Ecole</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="school" -->
						</td>
					</tr>
					<tr valign="top" bgcolor="white" >
						<td>
						<b>Remarques Générales</b>
						</td>
						<td>
						<!-- TMPL_VAR NAME="notes" -->
						</td>
					</tr>
				</table><p>
			<!-- /TMPL_IF -->
	<!-- /TMPL_LOOP -->
		<form action="/cgi-bin/koha/members/insertjdata.pl" method="post">
			<!-- TMPL_LOOP NAME="inputsloop" -->
				<input type="hidden" name="<!-- TMPL_VAR NAME="key" -->" value="<!-- TMPL_VAR NAME="value" -->">
			<!-- /TMPL_LOOP -->
			<input type="submit" name="submit" value="valider" class="button members">
		</form>
	<!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE Name="members-bottom.inc" -->
