<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administrationsystème</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Accueil</a> &rsquo; Administration système</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main" class="sysprefs">
	<div class="yui-g"><h1>Préférences système</h1>

<dl>
	<dt><a href="/cgi-bin/koha/admin/systempreferences.pl">Préférences système</a></dt>
	<dd>Change les préférences systèmes principales comme le format MARC, le format de la date, le gestionaire de mails, et les templates.</dd>
</dl>


<div class="hint"><h4>Truc :</h4><p>Configurer ces paramètres dans leur ordre d'apparition</p></div>
<h3>Paramètres de base</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/branches.pl">Sites de la bibliothèque</a></dt>
	<dd>Définir les sites.</dd>
	<dt><a href="/cgi-bin/koha/admin/aqbookfund.pl">Postes et budgets</a></dt>
	<dd>Postes et budgets pour les acquisitions</dd>
	<dt><a href="/cgi-bin/koha/admin/currency.pl">Devises et taux de change</a></dt>
	<dd>Définit des monnaies et taux de change utilisés dans les acquisitions.</dd>
	<dt><a href="/cgi-bin/koha/admin/itemtypes.pl">Types de documents et règles de prêt.</a></dt>
	<dd>Définir les types de documents utilisés pour les règles de prêt.</dd>
</dl>

<h3>Adhérents et circulation</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/categorie.pl">Catégories adhérent</a></dt>
	<dd>Catégories d'adhérent</dd>
	<dt><a href="/cgi-bin/koha/admin/cities.pl">Gestion des communes</a></dt>
	<dd>Définit les villes dans lesquelles vos lecteurs habitent habituellement.</dd>
	<dt><a href="/cgi-bin/koha/admin/roadtype.pl" >Types de voie</a>
	</dt>
	<dd>Définit des types de voies : remplir cette table pour avoir une liste de types de voie (cela vous aidera pour les statistiques géographiques)</dd>
	<dt><a href="/cgi-bin/koha/admin/issuingrules.pl">Règles de circulation</a></dt>
	<dd>Définit les règles de prêt par site/type d'adhérent/de document (nombre de prêts, durée, coût...)</dd>
	<dt><a href="/cgi-bin/koha/admin/finesrules.pl">Règles de retard</a></dt>
	<dd>Définit les règles de retard par site/type d'adhérent/de document (coût, période de grâce...)</dd>
</dl>

<h3>Catalogue</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/authorised_values.pl">Valeurs autorisées</a></dt>
	<dd>Définit des catégories et les valeurs autorisées pour eux.</dd>
	<dt><a href="/cgi-bin/koha/admin/biblio_framework.pl">Grille de catalogage MARC</a></dt>
	<dd>Créer et gérer les grilles de catalogage (champ et sous champs) qui définissent les caractéristiques de vos notices MARC (champs et sous champs), ainsi que l'organisation de la grille.</dd>
	<dt><a href="/cgi-bin/koha/admin/koha2marclinks.pl">Liens Koha => MARC</a></dt>
	<dd>Définit les liens entre la base de données Koha et la base MARC.Noter que ces liens peuvent être définis dans la structure MARC.Cet outil est juste un raccourci pour activer les liens.</dd>
	<dt><a href="/cgi-bin/koha/admin/checkmarc.pl">Validation grilles de catalogage</a></dt>
	<dd>Vérifie la structure MARC. Si vous avez modifié les grille de catalogage MARC, il est recommandé de lancer ce script pour vérifier qu'il n'y a pas d'erreurs dans vos grilles</dd>
    <dt><a href="/cgi-bin/koha/admin/authtypes.pl">Grille d'autorité Marc</a></dt>
    <dd>Créer et gérer les autorités (champs et sous champs)</dd>
</dl>

<h3>Paramètres divers</h3>
<dl>
	<dt><a href="/cgi-bin/koha/admin/stopwords.pl">Mots vides</a></dt>
	<dd>Mots ignorés dans la recherche</dd>
	<dt><a href="/cgi-bin/koha/admin/printers.pl">Imprimantes</a></dt>
	<dd>Imprimantes (chemin UNIX)</dd>
	<dt><a href="/cgi-bin/koha/admin/z3950servers.pl">Serveurs Z39.50</a></dt>
	<dd>Définir les serveurs z3950 à utiliser pour le catalogage rapide.</dd>
</dl>


</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
