<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo;système<!-- TMPL_IF name="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" --><!-- TMPL_IF NAME="heading-edit-subfields-p" --> Gestion de la structure des sous-champs &rsaquo; Modifier les restrictions des sous-champs MARC<!-- /TMPL_IF --><!-- TMPL_ELSE --> Gestion de la structure des sous-champs &rsaquo; <!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> Gestion de la structure des sous-champs &rsaquo; Confirmer la suppression du sous-champ <!-- TMPL_VAR NAME="tagsubfield" --> ?<!-- /TMPL_IF --><!-- TMPL_IF name="delete_confirmed" --> Gestion de la structure des sous-champs &rsaquo; Sous-champ supprimé<!-- /TMPL_IF --><!-- TMPL_IF name="else" -->Structure des sosu-champs MARC<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

function active(numlayer){
    var contentdiv   = document.getElementById("content");
    var subfields    = contentdiv.getElementsByTagName("div");
    var numSubfield  = subfields.length;
    var tabs = document.getElementById("tabs").getElementsByTagName('a');

    // all others must be hidden
    for (i=0; i < numSubfield ; i++ ) {
        if (subfields[i].getAttribute('id') == "content_"+numlayer) {
        
            // display this subfield
            subfields[i].removeAttribute("class");
            subfields[i].setAttribute("class","content_visible");
            
            // change css class
            tabs[i].removeAttribute('class');
            tabs[i].setAttribute('class',"tab_active");
            
        } else {
            tabs[i].removeAttribute('class');
            tabs[i].setAttribute('class',"tab_inactive");
            subfields[i].removeAttribute("class");
            subfields[i].setAttribute("class","content_hidden");
        }
    }
}


function displayMoreConstraint(numlayer){
    var thisdiv = document.getElementById(numlayer);
    if(thisdiv.getAttribute("class") == "content_hidden"){
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_visible");
    } else {
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_hidden");
    }
}

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl"> Accueil </a> &rsaquo;<a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <!-- TMPL_IF name="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" --><!-- TMPL_IF NAME="heading-edit-subfields-p" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl">Structure MARC</a> &rsaquo; Edition des contraintes de sous-champs MARC<!-- /TMPL_IF --><!-- TMPL_ELSE --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl">Structure MARC</a> &rsaquo; <!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl">Structure MARC</a> &rsaquo; Confirmez la suppression du sous-champ <!-- TMPL_VAR NAME="tagsubfield" --><!-- /TMPL_IF --><!-- TMPL_IF name="delete_confirmed" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl">Structure MARC</a> &rsaquo; Sous-champ supprimé<!-- /TMPL_IF --><!-- TMPL_IF name="else" -->Structure des sosu-champs MARC<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->
    <h1>
        <!-- TMPL_IF NAME="use-heading-flags-p" -->
            <!-- TMPL_IF NAME="heading-edit-subfields-p" -->Modifier les restrictions des sous-champs MARC<!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="action" -->
        <!-- /TMPL_IF -->
    </h1>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
    <input type="hidden" name="op" value="add_validate" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
    <input type="submit" value="Valider les modifications">
    
    <h2>Champ : <!-- TMPL_VAR NAME="tagfield" --></h2>
    <div id="tabs">
     <p>Modifier les sous-champs
        <!-- TMPL_LOOP NAME="loop" -->
               <a 
                    href="javascript:active('sub<!-- TMPL_VAR NAME='subfieldcode' -->');"
                    class="tab_inactive"
                    id="sub<!-- TMPL_VAR NAME="subfieldcode" -->"
                    title="<!-- TMPL_VAR NAME="liblibrarian" -->"
                >
                    <!-- TMPL_VAR NAME="subfieldcode" -->
               </a>
        <!-- /TMPL_LOOP -->
    </p>
    </div>
    
    <div id="content" style="display:block">
        <!-- TMPL_LOOP NAME="loop" --> 
        <div id="content_sub<!-- TMPL_VAR NAME="subfieldcode" -->" class="content_hidden">
        
        <h3>Éditeur des restrictions</h3>
                <!-- TMPL_IF name="subfieldcode" -->
                    <p>Sous-champ <!-- TMPL_VAR NAME="subfieldcode" --> <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></p>
                <!-- TMPL_ELSE -->
                    <p>Sous-champ <input type="text" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></p>
            <!-- /TMPL_IF -->
            <p><label for="liblibrarian<!-- TMPL_VAR NAME="row" -->">Texte pour le bibliothécaire</label><input id="liblibrarian<!-- TMPL_VAR NAME="row" -->" type="text" name="liblibrarian" value="<!-- TMPL_VAR NAME="liblibrarian" -->" size="40" maxlength="80" /></p>
            <p><label for="libopac<!-- TMPL_VAR NAME="row" -->">Texte pour l'OPAC</label><input type="text" id="libopac<!-- TMPL_VAR NAME="row" -->" name="libopac" value="<!-- TMPL_VAR NAME="libopac" -->" size="40" maxlength="80" /></p>
            <p><label for="repeatable<!-- TMPL_VAR NAME="row" -->">Répétable</label><!-- TMPL_VAR NAME="repeatable" -->&nbsp;</p>
            <p><label for="mandatory<!-- TMPL_VAR NAME="row" -->">Obligatoire</label><!-- TMPL_VAR NAME="mandatory" -->&nbsp;</p>
            <p><label for="tab<!-- TMPL_VAR NAME="row" -->">Géré dans l'onglet</label><!-- TMPL_VAR NAME="tab" --> (ignore signifie que le sous-champ n'est PAS géré par Koha)</p>
            
            <a href="javascript:displayMoreConstraint('more<!-- TMPL_VAR NAME="subfieldcode" -->')">Éditeur des restrictions</a>
            <div id="more<!-- TMPL_VAR NAME="subfieldcode" -->" class="content_hidden">
                <h3>Restrictions MARC</h3>
                <p>
                    <label for="defaultvalue">Valeurs par défaut</label>
                    <input type="text" name="defaultvalue" id="defaultvalue" value="<!-- TMPL_VAR NAME="defaultvalue" -->" />
                </p>
                <p><label for="hidden">caché</label><input type="text" id="hidden<!-- TMPL_VAR NAME="row" -->" name="hidden" value="<!-- TMPL_VAR name="hidden" -->" size="2" /> (voir aide en ligne)</p>
                <p><label for="isurl<!-- TMPL_VAR NAME="row" -->">Est une URL</label> <!-- TMPL_VAR NAME="isurl" --> (coché, indique que le sous-champ est une URL valide et peut être cliqué</p>
                <p><label>Lien</label><input type="text" name="link" value="<!-- TMPL_VAR NAME="link" -->" size="10" maxlength="5" /> (exemple : 200b)</p>
                <p><label>Autres options : </label> (en choisir un)</p>
                    <p><label>Valeur autorisée</label><!-- TMPL_VAR NAME="authorised_value" --></p>
                    <p><label>Thésaurus</label><!-- TMPL_VAR NAME="authtypes" --></p>
                    <p><label>Plugin</label><!-- TMPL_VAR NAME="value_builder" --></p>
                </p>
                <p><label for="kohafield<!-- TMPL_VAR NAME="row" -->">Lien Koha</label><!-- TMPL_VAR NAME="kohafield" --></p>
            </div>
        </div>
        <!-- /TMPL_LOOP -->
    </div>
    </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->

<h3>Confirmer la suppression du sous-champ <!-- TMPL_VAR NAME="tagsubfield" --> ?</h3>
    <p>Sous-champ : <!-- TMPL_VAR NAME="tagsubfield" --></p>
    <p>Description <!-- TMPL_VAR NAME="liblibrarian" --></p>

            <form action="<!-- TMPL_VAR NAME="delete_link" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" />
                <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
                <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
				<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
				<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
				<input type="submit" value="Oui, supprimer ce sous-champ">
            </form>
			
			<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
			<input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
			<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
			<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
			<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
			<input type="submit" value="Non, ne pas supprimer">
            </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->

    <h3>Donnée supprimée</h3>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="submit" value="OK" />
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="else" -->
<h1>Gestion de la structure des sous-champs MARC pour <!-- TMPL_VAR NAME="tagfield" --> (Grille <!--TMPL_VAR NAME="frameworkcode" -->)</h1>
<p>Cette page montre les sous-champs associés au champ sélectionné.Vous pouvez modifier les sous-champs ou en ajouter de nouveaux en cliquant sur "Modifier les sous-champs". </p>
<p>La colonne <b>Champ Koha</b> montre que le sous-champ est lié à un champ Koha. Koha peut présenter une interface MARC ou une interface Koha. Ce lien assure la synchronisation des deux modes (dans la base de données), de cette façon vous pouvez passer du mode MARC au mode non-MARC facilement.</p>

<table>
<tr>
    <th>Sous-champ</th>
    <th>Texte</th>
    <th>Restricteurs</th>
    <th>Supprimer</th>
</tr>
<!-- TMPL_LOOP NAME="loop" -->
<!-- TMPL_IF NAME="toggle" --><tr class="highlighted"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
    <td><!-- TMPL_VAR NAME="tagsubfield" --></td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i><!-- TMPL_VAR NAME="liblibrarian" --></i>
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="liblibrarian" -->
        <!-- /TMPL_IF -->
    </td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i>sous-champ ignoré</i>
        <!-- TMPL_ELSE -->
            Onglet : <!-- TMPL_VAR NAME="tab" -->,
            <!-- TMPL_IF NAME="kohafield" --> | Champ Koha : <!-- TMPL_VAR NAME="kohafield" -->, <!--/TMPL_IF -->
            <!-- TMPL_IF NAME="repeatable" -->Répétable, <!-- TMPL_ELSE -->Non répétable<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="mandatory" -->Obligatoire, <!-- TMPL_ELSE -->Facultatif,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="seealso" --> | Voir aussi : <!-- TMPL_VAR NAME="seealso" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="hidden" -->caché<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="isurl" -->est une URL<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authorised_value" --> | Valeur autorisée : <!-- TMPL_VAR NAME="authorised_value" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authtypecode" --> | Autorité : <!-- TMPL_VAR NAME="authtypecode" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="value_builder" --> | Plugin : <!-- TMPL_VAR NAME="value_builder" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="link" --> | Lien : <!-- TMPL_VAR NAME="link" -->,<!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
    </td>
    <td><a href="<!-- TMPL_VAR NAME="delete" -->">Supprimer</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>
<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
    <input type="hidden" name="op" value="add_form" />
    <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="edit_tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="edit_frameworkcode" -->" />
    <input type="submit" value="Modifier les sous-champs">
</form>
<form action="marctagstructure.pl" method="get">
    <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
    <input type="submit" value="Retour structure MARC">
</form>
<!-- TMPL_IF NAME="previous" -->
    <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1leftarrow.png" title="précédent" alt="précédent" border="0">
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="next" -->
    <!-- TMPL_VAR NAME="next" -->
        <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1rightarrow.png" title="suivant" alt="suivant" border="0">
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->



</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
