    <!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
    <title>Koha &rsaquo; Tools &rsaquo; Labels &rsaquo; Label Printing/Exporting</title>
    <!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
    <script type="text/JavaScript" language="JavaScript">
        //<![CDATA[
            function Done() {
                window.location = "<!-- TMPL_VAR NAME="referer" -->";
            };
        //]]>
    </script>
    <style type="text/css">#custom-doc {width:47.23em; *width:46.04em; min-width:610px; margin:auto; margin-top:0.4em;}</style>
</head>
<body>
    <div id="custom-doc" class="yui-t2">
        <div id="bd">
            <!-- TMPL_IF NAME="batches" -->
            <form>
                <div align="center">
                    <div class="message">
                        <b>Click on the following link(s) to download the exported batch(es).</b>
                    </div>
                </div>
                <fieldset class="rows">
                    <table class="borderless">
                        <!-- TMPL_LOOP NAME="batches" -->
                        <tr>
                            <!-- TMPL_IF NAME="label_ids" -->
                            <td class="borderless">
                                <!-- TMPL_VAR NAME="label_count" --> Single Labels
                            </td>
                            <td class="borderless">
                                <h1 id="pdf">
                                    <a href="/cgi-bin/koha/labels/<!-- TMPL_VAR NAME="create_script" -->?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" -->&amp;start_label=<!-- TMPL_VAR NAME="start_label" --><!-- TMPL_VAR NAME="label_ids" -->">label_single_<!-- TMPL_VAR NAME="label_count" -->.pdf</a>
                                </h1>
                            </td>
                            <td class="borderless">
                                <h1 id="csv">
                                    <a href="/cgi-bin/koha/labels/label-create-csv.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" --><!-- TMPL_VAR NAME="label_ids" -->">label_single_<!-- TMPL_VAR NAME="label_count" -->.csv</a>
                                </h1>
                            </td>
                            <td class="borderless">
                                <h1 id="xml">
                                    <a href="/cgi-bin/koha/labels/label-create-xml.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" --><!-- TMPL_VAR NAME="label_ids" -->">label_single_<!-- TMPL_VAR NAME="label_count" -->.xml</a>
                                </h1>
                            </td>
                            <!-- TMPL_ELSIF NAME="item_numbers" -->
                            <td class="borderless">
                                <!-- TMPL_VAR NAME="label_count" --> Single Labels
                            </td>
                            <td class="borderless">
                                <h1 id="pdf">
                                    <a href="/cgi-bin/koha/labels/<!-- TMPL_VAR NAME="create_script" -->?template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" -->&amp;start_label=<!-- TMPL_VAR NAME="start_label" --><!-- TMPL_VAR NAME="item_numbers" -->">label_single_<!-- TMPL_VAR NAME="label_count" -->.pdf</a>
                                </h1>
                            </td>
                            <td class="borderless">
                                <h1 id="csv">
                                    <a href="/cgi-bin/koha/labels/label-create-csv.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" --><!-- TMPL_VAR NAME="item_numbers" -->">label_single_<!-- TMPL_VAR NAME="label_count" -->.csv</a>
                                </h1>
                            </td>
                            <td class="borderless">
                                <h1 id="xml">
                                    <a href="/cgi-bin/koha/labels/label-create-xml.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" --><!-- TMPL_VAR NAME="item_numbers" -->">label_single_<!-- TMPL_VAR NAME="label_count" -->.xml</a>
                                </h1>
                            </td>
                            <!-- TMPL_ELSE -->
                            <td class="borderless">
                                Label Batch Number <!-- TMPL_VAR NAME="batch_id" -->
                            </td>
                            <td class="borderless">
                                <h1 id="pdf">
                                    <a href="/cgi-bin/koha/labels/label-create-pdf.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" -->&amp;start_label=<!-- TMPL_VAR NAME="start_label" -->">label_batch_<!-- TMPL_VAR NAME="batch_id" -->.pdf</a>
                                </h1>
                            </td>
                            <td class="borderless">
                                <h1 id="csv">
                                    <a href="/cgi-bin/koha/labels/label-create-csv.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" -->">label_batch_<!-- TMPL_VAR NAME="batch_id" -->.csv</a>
                                </h1>
                            </td>
                            <td class="borderless">
                                <h1 id="xml">
                                    <a href="/cgi-bin/koha/labels/label-create-xml.pl?batch_id=<!-- TMPL_VAR NAME="batch_id" -->&amp;template_id=<!-- TMPL_VAR NAME="template_id" -->&amp;layout_id=<!-- TMPL_VAR NAME="layout_id" -->">label_batch_<!-- TMPL_VAR NAME="batch_id" -->.xml</a>
                                </h1>
                            </td>
                            <!-- /TMPL_IF -->
                        </tr>
                        <!-- /TMPL_LOOP -->
                    </table>
                </fieldset>
                <fieldset class="action">
                    <div style="margin: 10px 10px 10px 0px;">
                        <span class="yui-button yui-link-button"><span class="first-child"><input type="button" id="done" onclick="parent.parent.GB_hide();" value="Done"></span></span>
                    </div>
                </fieldset>
            </form>
            <!-- TMPL_ELSE -->
            <div align="center">
                <div class="message">
                    <!-- TMPL_IF NAME="label_ids" -->
                    <b>Exporting <!-- TMPL_VAR NAME="label_count" --> label(s).</b>
                    <!-- TMPL_ELSIF NAME="item_numbers"-->
                    <b>Exporting <!-- TMPL_VAR NAME="item_count" --> label(s).</b>
                    <!-- TMPL_ELSE -->
                    <b><!-- TMPL_VAR NAME="multi_batch_count" --> batch(es) to export.</b>
                    <!-- /TMPL_IF -->
                </div>
            </div>
            <form name="exporting" method="post" action="/cgi-bin/koha/labels/label-print.pl">
                <input type="hidden" name="op" value="export" />
                <input type="hidden" name="referer" value="<!-- TMPL_VAR NAME="referer" -->" />
                <!-- TMPL_LOOP NAME="batch_ids" -->
                    <input type="hidden" name="batch_id" value="<!-- TMPL_VAR NAME="batch_id" -->" />
                <!-- /TMPL_LOOP -->
                <!-- TMPL_LOOP NAME="label_ids" -->
                    <input type="hidden" name="label_id" value="<!-- TMPL_VAR NAME="label_id" -->" />
                <!-- /TMPL_LOOP -->
                <!-- TMPL_LOOP NAME="item_numbers" -->
                    <input type="hidden" name="item_number" value="<!-- TMPL_VAR NAME="item_number" -->" />
                <!-- /TMPL_LOOP -->
                <fieldset class="rows">
                    <table class="borderless">
                        <tr>
                            <td class="borderless">
                                <label for="template">Select a template to be applied: </label>
                            </td>
                            <td class="borderless">
                                <select name="template_id">
                                    <!-- TMPL_LOOP NAME="templates" -->
                                    <option value="<!-- TMPL_VAR NAME="template_id" -->"><!-- TMPL_VAR NAME="template_code"  --></option>
                                    <!-- /TMPL_LOOP -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="borderless">
                                <label for="layout">Select a layout to be applied: </label>
                            </td>
                            <td class="borderless">
                                <select name="layout_id">
                                    <!-- TMPL_LOOP NAME="layouts" -->
                                    <option value="<!-- TMPL_VAR NAME="layout_id" -->"><!-- TMPL_VAR NAME="layout_name"  --></option>
                                    <!-- /TMPL_LOOP -->
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="borderless">
                                <label for="start_label">Enter starting label number: </label>
                            </td>
                            <td class="borderless">
                                <input type="text" size="5" id="start_label" name="start_label" class="focus" title="Starting label number" value="1"/>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset class="action">
                    <div style="margin: 10px 10px 10px 0px;">
                        <span class="yui-button yui-link-button"><span class="first-child"><input type="submit" value="Export" /></span></span>
                        <span class="yui-button yui-link-button"><span class="first-child"><input type="button" id="done" onclick="parent.parent.GB_hide();" value="Cancel"></span></span>
                    </div>
                </fieldset>
            </form>
            <!-- /TMPL_IF -->
        </div>
    <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
