    <!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
    <title>Koha &rsaquo; Tools &rsaquo; Labels</title>
    <!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
    <script type="text/JavaScript" language="JavaScript">
        //<![CDATA[
            $(document).ready(function() {
                $("input[@name='layout_choice']").change( function() { layout_method() } );
                layout_method();
            });
            function layout_method() {
                if( $("input[@name='layout_choice']:checked").val() == 'layout_string' ) {
                    $('#layout_table').hide();
                    $('#layout_string').show();
                } else {
                    $('#layout_table').show();
                    $('#layout_string').hide();
                }
            }
        //]]>
    </script>
</head>
<body>
    <!-- TMPL_INCLUDE NAME="header.inc" -->
    <!-- TMPL_INCLUDE NAME="cat-search.inc" -->
    <div id="breadcrumbs">
        <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;
        <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo;
        <a href="/cgi-bin/koha/labels/label-home.pl">Labels</a> &rsaquo;
        <!-- TMPL_IF NAME="layout_id" -->Edit<!-- TMPL_ELSE -->Create<!-- /TMPL_IF --> Label Layout
    </div>
    <div id="doc3" class="yui-t2">
        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                    <!-- TMPL_INCLUDE NAME="tools-labels-toolbar.inc" -->
                    <form name="input" action="/cgi-bin/koha/labels/label-edit-layout.pl" method="get">
                        <fieldset class="rows">
                            <legend><!-- TMPL_IF NAME="layout_id" -->Edit<!-- TMPL_ELSE -->Create<!-- /TMPL_IF --> Label Layout</legend>
                            <ol>
                                <li>
                                    <label for="layout_name">Layout Name</label>
                                    <input type="text" name="layout_name" id="layout_name" size="20" value="<!-- TMPL_VAR NAME="layout_name" -->" />
                                </li>
                                <li>
                                    <label for="barcode_type">Choose Barcode Type (encoding)</label>
                                    <select name="barcode_type" id="barcode_type">
                                    <!-- TMPL_LOOP NAME="barcode_types" -->
                                    <!-- TMPL_IF NAME="selected" -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->" selected="selected"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- TMPL_ELSE -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- /TMPL_IF -->
                                    <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <label for="printing_type">Choose Layout Type</label>
                                    <select name="printing_type" id="printing_type">
                                    <!-- TMPL_LOOP NAME="label_types" -->
                                    <!-- TMPL_IF NAME="selected" -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->" selected="selected"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- TMPL_ELSE -->
                                    <option value="<!-- TMPL_VAR NAME="type" -->"><!-- TMPL_VAR NAME="name" --></option>
                                    <!-- /TMPL_IF -->
                                    <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li> 
                                    <fieldset class="rows">
                                        <legend>Bibliographic Data to Print</legend>
                                        <input type="radio" name="layout_choice" value="layout_table" <!-- TMPL_UNLESS NAME="layout_string" -->checked="checked"<!-- /TMPL_UNLESS -->" >Choose Order Of Text Fields to Print</input>
                                        <br />
                                            <fieldset id="layout_table">
                                                <table summary="fields to print">
                                                    <!-- TMPL_LOOP NAME="field_table" -->
                                                    <tr>
                                                        <!-- TMPL_LOOP NAME="text_fields" -->
                                                        <!-- TMPL_IF NAME="field_empty" -->
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <!-- TMPL_ELSE -->
                                                        <td>
                                                            <select name="<!-- TMPL_VAR NAME="field_name" -->" id="<!-- TMPL_VAR NAME="field_name" -->">
                                                                <!-- TMPL_LOOP NAME="order" -->
                                                                <!-- TMPL_IF Name="selected" -->
                                                                <option value="<!-- TMPL_VAR Name="num" -->" selected="selected"><!-- TMPL_VAR Name="num" --></option>
                                                                <!-- TMPL_ELSE -->
                                                                <option value="<!-- TMPL_VAR Name="num" -->"><!-- TMPL_VAR Name="num" --></option>
                                                                <!-- /TMPL_IF -->
                                                                <!-- /TMPL_LOOP -->
                                                            </select>
                                                            <label for="<!-- TMPL_VAR NAME="field_name" -->"><!-- TMPL_VAR NAME="field_label" --></label>
                                                        </td>
                                                        <!-- /TMPL_IF -->
                                                        <!-- /TMPL_LOOP -->
                                                    </tr>
                                                    <!-- /TMPL_LOOP -->
                                                </table>
                                                <br />
                                            </fieldset>
                                            <br />
                                            <input type="radio" name="layout_choice" value="layout_string" <!-- TMPL_IF NAME="layout_string" -->checked="checked"<!-- /TMPL_IF -->"> List Fields </input>
                                            <fieldset id="layout_string" class="brief">
                                                <label for="format_string">Data Fields</label>
                                                <input type="text" name="format_string" id="format_string" size="80" value="<!-- TMPL_VAR ESCAPE='HTML' NAME="format_string" -->" />
                                                <div class="help">
                                                    <p>Enter a comma separated list of fields to print.  You may include any <em>Koha field</em> or MARC subfield.</p>
                                                    <p>See online help for advanced options</p>
                                                    <p>ex: barcode, itemcallnumber, title, "050a 050b", 300a </p>
                                                </div>
                                            </fieldset>
                                    </fieldset>   
                                </li>
                                <li>
                                    <label for="guidebox">Draw Guide Boxes</label>
                                    <!-- TMPL_IF NAME="guidebox"-->
                                    <input type="checkbox" name="guidebox" id="guidebox" value="1"  checked="checked" />
                                    <!-- TMPL_ELSE -->
                                    <input type="checkbox" name="guidebox" id="guidebox" value="1" />
                                    <!-- /TMPL_IF -->
                                </li>
                                <li>
                                    <label for="callnum_split">Split Call Numbers</label>
                                    <!-- TMPL_IF NAME="callnum_split"-->
                                    <input type="checkbox" name="callnum_split" id="callnum_split" value="1"  checked="checked" />
                                    <!-- TMPL_ELSE -->
                                    <input type="checkbox" name="callnum_split" id="callnum_split" value="1" />
                                    <!-- /TMPL_IF -->
                                </li>
                                <li>
                                    <label for="text_justify">Text Justification</label>
                                    <select name="text_justify" id="text_justify">
                                        <!-- TMPL_LOOP Name="text_justification_types" -->
                                        <!-- TMPL_IF Name="selected" -->
                                        <option value="<!-- TMPL_VAR Name="type" -->" selected="selected"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- TMPL_ELSE -->
                                        <option value="<!-- TMPL_VAR Name="type" -->"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <label for="font">Font</label>
                                    <select name="font" id="font">
                                        <!-- TMPL_LOOP Name="font_types" -->
                                        <!-- TMPL_IF Name="selected" -->
                                        <option value="<!-- TMPL_VAR Name="type" -->" selected="selected"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- TMPL_ELSE -->
                                        <option value="<!-- TMPL_VAR Name="type" -->"><!-- TMPL_VAR Name="name" --></option>
                                        <!-- /TMPL_IF -->
                                        <!-- /TMPL_LOOP -->
                                    </select>
                                </li>
                                <li>
                                    <label for="font_size">Font Size</label>
                                    <input type="text" name="font_size" id="font_size" size="2" value="<!-- TMPL_VAR ESCAPE='HTML' NAME="font_size" -->" />
                                </li>
                            </ol>
                        </fieldset>
                        <fieldset class="action">
                            <input type="submit" value="Submit" /><a class="cancel" href="/cgi-bin/koha/labels/label-layout.pl">Cancel</a>
                            <input type="hidden" name="op" value="save" />
                            <input type="hidden" name="layout_id" value="<!-- TMPL_VAR NAME="layout_id" -->" />
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="yui-b">
                <!-- TMPL_INCLUDE NAME="labels-menu.inc" -->
            </div>
        </div>
        <!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
