<TMPL_INCLUDE NAME="parameters-top.inc">
<center>
<FONT SIZE=6><em>Koha admin page</em></FONT><br><br><br>
<table width=100% cellspacing=0 cellpadding=5 border=1>
<tr background="/images/background-mem.gif">
	<th>Parámetros de la Biblio </th>
</tr>
</table>
<table cellspacing=0 cellpadding=3 width=80%>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/itemtypes.pl>Tipos de Artículos</a></td>
	<td>the supports of an item.</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/aqbudget.pl>presupuestos</a></td>
	<td>the budgets allowed to differents book funds.</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/aqbookfund.pl>book funds</a></td>
	<td>the differents book funds.</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/authorised_values.pl>valores autorizados</a></td>
	<td>Define here categories and authorised values for them.
			Authorised values are used in MARC form to limit/help editing MARC biblios</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/thesaurus.pl>Thesaurus</a></td>
	<td>Thesaurus management. You can define as many thesaurus as needed, through definiitions of thesaurus "category"</td>
</tr>

<table width=100% cellspacing=0 cellpadding=5 border=1>
<tr background="/images/background-mem.gif">
	<th>parámetros MARC</th>
</tr>
</table>
<table cellspacing=0 cellpadding=3 width=80%>
<tr><td valign="top" width="25%"><a href=/cgi-bin/koha/admin/marctagstructure.pl>MARC tag structure</a></td><td>MARC structure : tag then subfields</td></tr>
<tr><td valign="top" width="25%"><a href=/cgi-bin/koha/admin/koha2marclinks.pl>Links koha - MARC DB</a></td><td>Define links between the koha standard DB and the MARC one. Note those links can be defined through MARC structure. This tool is just a shortcut to speed up linkage</td></tr>
</table>
<table width=100% cellspacing=0 cellpadding=5 border=1>
<tr background="/images/background-mem.gif">
	<th>Various datas : </th>
</tr>
</table>
<table cellspacing=0 cellpadding=3 width="80%">
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/branches.pl>libraries branches</a></td>
	<td>the differents branches you manage with this koha server</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/categorie.pl>categorías</a></td>
	<td>diferentes tipos de prestatarios.</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/currency.pl>Currencies</a></td>
	<td>Currencies of booksellers.</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/printers.pl>Impresoras</a></td>
	<td>Impresoras (rutas UNIX).</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/stopwords.pl>stopwords</a></td>
	<td>Palabras eliminadas durante las búsquedas</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/z3950servers.pl>Servers Z39.50</a></td>
	<td>Servidores para solicitar información MARC</td>
</tr>
<tr>
	<td valign="top" width="25%"><a href=/cgi-bin/koha/admin/systempreferences.pl>Preferencias del Sistema</a></td>
	<td>Preferencias del Sistema</td>
</tr>
</table>

</center>
<TMPL_INCLUDE NAME="cat-bottom.inc">
