<!-- TMPL_INCLUDE name="help-top.inc" -->
<h1>Aide stats catalogue</h1>
<p>Cette page est un assistant pour composer un tableau à 2 entrées pour obtenir des statistiques sur le catalogue.</p>
<p>Vous devez vous souvenir que le tableau ressemblera à :</p>
<p>	<table>
	<tr> <td> ligne/colonne </td> <td> Colonne critère1 </td> <td> Colonne critère2 </td> <td> total ligne</td> </tr>
	<tr> <td> ligne critère1</td> <td> tot11 </td> <td> tot12 </td> <td>total ligne1 </td> </tr>
	<tr> <td> ligne critère2</td> <td> tot21 </td> <td> tot22  </td> <td>total ligne2 </td> </tr>
	<tr> <td> Total colonnes</td> <td> total col1</td> <td> total col2</td> <td> Total général</td> </tr>
	</table></p>
<p>	Par exemple, si vous choisissez type de document en ligne, et site en colonne, vous aurez un tableau avec les différents types de document en ligne et les différents sites en colonne, comme ceci :
</p><p>	<table>
	<tr> <td> Code Site </td> <td> SiteA</td> <td> SiteB</td> <td> Total </td> </tr>
	<tr> <td> Documents</td> <td> 12 </td> <td> 22 </td> <td>34</td> </tr>
	<tr> <td> PRETS</td> <td> 11</td> <td> 12 </td> <td>23</td> </tr>
	<tr> <td> Total </td> <td> 33</td> <td> 34</td> <td> 57</td> </tr>
	</table>
</p><p>	Vous pouvez choisir d'afficher les résultats sur l'écran ou dans votre suite bureautique (gnucalc, oocalc ou un autre) avec le bouton radio correspondant. Vous pouvez saisir le nom du fichier généré dans la zone correspondante.
</p>
<p>
 <h2> Critère sur ligne/colonne</h2>
 <ul> <li>Classification Dewey. Vous pouvez grouper les résultats sur les N premiers digits</li>
 <li>Cote. Vous pouvez grouper les résultats sur les N premiers caractères.</li>
 <li>Type document</li>
 <li>Année de Publication</li>
 <li>Site d'affectation</li>
 <li>Localisation</li>
 </ul>
 
</p>
<p>
 <h2> Sélectionner </h2>
 <ul> <li>La cote, la classification Dewey peuvent être filtrées entre 2 valeurs. Vous pouvez utiliser les jokers.</li>
 <li>Vous pouvez sélectionner un seul type de document.</li>
 <li>Année de Publication</li>
 <li>Vous pouvez sélectionner un site comme site propriétaire</li>
 <li>Localisation</li>
 </ul>
</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->
