<TMPL_INCLUDE NAME="reports-top.inc">

<CENTER>
	<table border=0 cellspacing=0 cellpadding=5>
		<tr bgcolor='#99cc33'>
			<td background='/images/background-mem.gif'><b>Nombre</b></td>
			<td background='/images/background-mem.gif'><b>Tipo</b></td>
			<td background='/images/background-mem.gif'><b>Fecha/Hora</b></td>
			<td background='/images/background-mem.gif'><b>Monto</b></td>
			<td background='/images/background-mem.gif'><b>Biblioteca</b></td>
		<tr>
		<TMPL_LOOP name=loop1>
		<tr>
			<td><TMPL_VAR NAME=name></td>
			<td><TMPL_VAR NAME=type></td>
			<td><TMPL_VAR NAME=time></td>
			<td><TMPL_VAR NAME=amount></td>
			<td><TMPL_VAR NAME=branch></td>
		</tr>
		</TMPL_LOOP>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</CENTER>


<p>
	<b>Total ingresado: <TMPL_VAR NAME=total></b>
	<br>
	<b>Total egresado: <TMPL_VAR NAME=totalw></b>
</p>

<TMPL_INCLUDE NAME="reports-bottom.inc">
</BODY>
</HTML>
