body {background-color:#ffffff;
font-family:verdana,arial,helvetica;
margin:0px;
padding:0px}

a {color:#41622F;
}

a:visited {color:#4D300D;
}
/*
blue
a:visited {color:#10496E}
*/
h1 {font-family:verdana,arial,helvetica;
font-size:180%;
color:#A88050}

h2 {font-family:verdana,arial,helvetica;
font-size:160%;
color:#A88050;
margin-bottom:0px;
padding-bottom:0px}

h3 {font-family:verdana,arial,helvetica;
font-size:130%;
color:#614523;
margin-bottom:0px;
padding-bottom:0px}

.botnav {font-family:verdana,arial,helvetica;
font-size:10pt;
color:#41622F;
}

.botnav a {font-family:verdana,arial,helvetica;
font-size:10pt;
color:#41622F;
}

p {font-family:verdana,arial,helvetica;
font-size:10pt;
}

td {font-family:verdana,arial,helvetica;
font-size:10pt;
}

ul {font-family:verdana,arial,helvetica;
font-size:10pt;
}

ol {font-family:verdana,arial,helvetica;
font-size:10pt;
}

li {font-family:verdana,arial,helvetica;
font-size:10pt;
}

.main {font-family:verdana,arial,helvetica;
font-size:10pt;
}

input {font-family:monospace;
font-size:12px}

.navhead {font-weight:bold}

.sidenav {font-size:9pt;color:#41622F;
font-family: arial,helvetica;
margin-bottom:3pt;
}
.small {font-size:9pt;
font-family: arial,helvetica;
margin-bottom:3pt;
}

.tiny {font-size:7pt;
font-family: arial,helvetica;
}

.crumb {color:#41622F;
}

.crumb a:visited {color:#41622F;
}

.pink{
background-color:#FEEDDB;
padding: 5px;
}

.plain{
padding: 5px;}

.tan{
background-color:#A88050;}

.selected{
color:#C96029;
font-weight:bold;
}

.selected-lge{
color:#C96029;
font-size:120%;
font-family: arial,helvetica;
font-weight:bold;
}

.padded{
padding: 2px;}

.dk-brown{
background-color:#4E300C;}

.search {font-family:verdana,arial,hevetica;
font-size:7.5pt;
font-weight:bold}

.search-number {
    font-family: verdana,arial,hevetica;
  font-size: 8pt;
  font-weight: bold;
text-decoration: none;
 width: 17px;
height: 17px;
padding: 2px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
border-top: 1px;
  border-style: solid;
  border-color: #354E27;
    }
.selected-number {
    font-family: verdana,arial,hevetica;
  font-size: 8pt;
  font-weight: bold;
text-decoration: none;
background-color:#FEEDDB;
 width: 17px;
height: 17px;
padding: 2px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
border-top: 1px;
  border-style: solid;
  border-color: #354E27;
    }
.selected-box {
   background-color:#E3A46D;
padding:0px;
    }

.green-box {
background-color: #344E26;
  font-family:verdana,arial,hevetica;
font-size:8pt;
font-weight:bold;
color: #FEEDDB;
   border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 4px;
  border-style: solid;
  border-color: #667755;
    }

.brown-box {
background-color:#A88050;
   font-family:verdana,arial,hevetica;
font-size:8pt;
font-weight:bold;
color: #FEEDDB;
 border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 4px;
  border-style: solid;
  border-color: #817567;
    }
.table-heading {
background-color:#D7AB7A;
   font-family:verdana,arial,hevetica;
font-size:12pt;
font-weight:bold;
 border-top: 2px;
border-right: 0px;
border-bottom: 2px;
border-left: 0px;
padding: 5px;
  border-style: solid;
  border-color: #4E300C;
    }
.white-box {
background-color:#ffffff;
    border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 2px;
  border-style: solid;
  border-color: #4E300E;
    }
.fines-box {
background-color:#E3A46D;
    border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 0px;
  border-style: solid;
  border-color: #4E300E;
    }
checkbox{
 font-size:160%;
}