<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<!--

design and HTML by rachel@katipo.co.nz, 
templating by finlay@katipo.co.nz

SEARCH

This is the part of the "vanilla" theme put together by Katipo Communications for general distribution with Koha. 

Add links to other searches etc to this page.

If you don't wish people to search by these fields, or want to add others then this is the place to do it.

If you see strange tags and comments you don't understand they may be out of Kea our content management system. If you'd like to use Kea to change your template & website text please contact Katipo.

Cheers
R

12/1/03

-->
<html>
<head>
<title>About the UNIDO Library</title>
<link rel="stylesheet" href="includes/vanilla-main.css" type="text/css" />


</head>
<body marginheight="0" marginwidth="0">

<!--START TOP TABLE-->
<TMPL_INCLUDE name="vanilla-about-menu.inc">


<!--START MAIN TABLE AND LEFT NAVIGATION-->
<TMPL_INCLUDE name="includes/vanilla-left-nav.inc">

<!--SEARCH FORM-->
<TMPL_INCLUDE name="includes/vanilla-cat-search.inc">
<!--END LEFT NAV, START CRUMBS-->
<TMPL_INCLUDE name="includes/vanilla-crumb-start.inc">	
<a href="/">Home</a> &gt;<a href='/about.html'>About</a>
<!--END CRUMBS-->
<TMPL_INCLUDE name="includes/vanilla-crumb-end.inc">
<!--CONTENT-->

<h1>About the UNIDO Library</h1>
<h3>Where is the library?</h3>
The main library  is at the UNIDO headquaters, Vienna International Centre, Vienna, Austria, located in room D1042 and is open around the clock. 
<ul>
<li> <a href="http://www.unido.org/doc/3355">More about UNIDO</a> (United Nations Industrial Development Organisation)
</ul>

<h3>Who can use the library?</h3>
Anyone with access to the VIC campus can come to the library -ie.
<ul>
<li> UNIDO Staff
<li> Consultants
<li> Interns
<li> Other visitors
<li> Staff from other UN Organisations on campus
</ul>

<h3>Who can borrow from the library?</h3>
<ul>
<li>All UNIDO staff and interns
<li> Other registered patrons
</ul>

If you are not a UNIDO staff memeber, but would like to become a registered patron please contact 
<a href="mailto:Library@unido.org ?subject=Membership Enquiry">Library@unido.org </a>.  

<h3>The Library Software</h3>
The UNIDO library is running the <a href="http://www.koha.org">Koha open source library system</a>




<!--BOTTOM NAVIGATION - ALL-->
<TMPL_INCLUDE name="includes/vanilla-botnav-all.inc">

<!--END MAIN TABLE-->
<TMPL_INCLUDE name="includes/vanilla-end-main.inc">
</body>
</html>