/*
What is
*.search-number

*/

*.search-number {
  border-bottom: 1px;
  border-color: #354E27;

  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  display: inline;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  height: 17px;
  padding: 2px;
  text-decoration: none;
  width: 17px;
}

*.selected-number {
  background-color: #FEEDDB;
  border-bottom: 1px;
  border-color: #354E27;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  height: 17px;
  padding: 2px;
  text-decoration: none;
  width: 17px;
}

a {
  color: #CC6600;
  font-weight: bold;
  
}

a:visited {
  color: #3333CC;
}

a:hover {
  color: #000000;
  background-color: D6F96A;
  
  
}

a.button:hover {
  background: transparent;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: verdana,arial,helvetica, san-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 180%;
}

.logo h1 {
  margin-left: 20px;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #D3DFAD;}



h2 {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 160%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h3 {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 130%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h4 {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 110%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

input {
  font-family: monospace;
  font-size: 12px;
}

input.checkbox {
  font-family: monospace;
  font-size: 25px;
  height: 25px;
  size: 25px;
  width: 25px;
}





p,ul,ol,li {
  font-family: verdana,arial,helvetica;
  font-size: 12px;
  line-height: 20px;
}

td {
  font-family: verdana,arial,helvetica;
  font-size: 12px;
}

.botnav a:link {
  color: #41622F;
  font-family: verdana,arial,helvetica;
  font-size: 10pt;
  font-weight: normal;
}

.botnav a:visited {
  color: #909E88;
  font-family: verdana,arial,helvetica;
  font-size: 10pt;
  font-weight: normal;
}

.botnav a:hover {
  background-color: #D7E8A5;
  color: #000000;
}

.brown-box {
  background-color: #A88050;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  color: #FEEDDB;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}

.crumb {
  color: #000000;
  font-weight: normal;
}

.crumb a:link {
  color: #CC9966;
  font-weight: normal;
}

.crumb a:visited {
  color: #666666;
  font-weight: normal;
}

.crumb a:hover {
  background-color: #D6F96A;
  color: #000000;
}

.dk-brown{
  background-color: #A2BB64; D7E8A5; 4E300C;
}

.fines-box {
  background-color: #E3A46D;
  border: 1px;
  border-style: solid;
  border-color: #4E300E;
  
  padding: 0px;
}

.green{
  background-color: #E3A46D;
}

.green-box {
  color: #FEEDDB;
  background-color: #C57619;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}

.head1 {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 180%;
}

.head1bold {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 180%;
  font-weight: bold;
}

.head2{
  color: #663366;
  font-family: arial,helvetica;
  font-size: 160%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.head2bold {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 160%;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.heading4 {
  color: #663366;
  font-family: arial,helvetica;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.label {
  padding-right: 12px;
  padding-bottom: 6px;

}




.line {
  background-color: #663366; A2BB64; D7E8A5;
}


.opac-menu {
  background-color: #663366;
border-top: 0px;
border-left: 0px;
border-right: 0px;
  border-bottom: 1px;
  border-color: #000000;
  border-style: solid;
  margin: 0px;  
}



.main {
  font-family: verdana,arial,helvetica;
  font-size: 12px;
}

.menu {
  margin-right: 10px;
  color: #CCCC99;
}


.menu a:link {
  color: #CCFF66;
}

.menu a:visited {
  color: #E6E6CD;
}

.menu a:hover {
  color: #000000;
  background: EDF8CD;
}


.navhead {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}

.navhead a:hover {
  color: #000000;
  background: ffffff;
}


.padded{
  font-size: 12px;
  line-height: 20px;
  padding: 5px;

}

.pink{
  background-color: #EDF8CD;
  line-height: 20px;
  margin-left: 5px;

}

.plain{
  line-height: 20px;
  margin-left: 5px;
}

.reset {
  background-color: #A88050;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  color: #FEEDDB;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}


.search {
  font-family: verdana,arial,hevetica;
  font-size: 7.5pt;
  font-weight: bold;
}

.selected{
  color: #C96029;
  font-weight: bold;
  padding: 3px;
}

.selected-box {
  background-color: #E3A46D;
  padding: 0px;
}

.selected-lge{
  color: #C96029;
  font-family: arial,helvetica;
  font-size: 120%;
  font-weight: bold;
  padding: 3px;
}

.shade{
  background-color: #DCCAB4;
  padding: 5px;
}


.shaded{
  background-color: #EDF8CD;
  padding: 5px;
}



.sidenav-box {
  background-color: #C3DC76;
  padding-left: 20px;  
  padding-right: 4px;  
  border-bottom: 1px;
  border-top: 1px;
  border-left: 0px;
  border-right: 1px;
  border-color: #A2BB64; 
  border-style: solid;
  
  
}

.sidenav ul {
  list-style-image: url(/images/styles/nav-dot.gif);
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 16px;
  margin-top: 2px;
  padding-left: 0px;
  padding-top: 2px;

  font-size: 9pt;
  font-weight: normal;
  line-height: 13px;
  margin-bottom: 3pt;
}


.sidenav a:hover {
  background: #ffffff;
  color: #000000;
}

.small {
  font-family: arial,helvetica;
  font-size: 90%;
  margin-bottom: 3pt;
}

.submit {
  color: #FEEDDB;
  background-color: #C57619;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}

submit {
  color: #FEEDDB;
  background-color: #C57619;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}




.table-heading {
  background-color: #D7E8A5;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 5px;
}

.tan{
  background-color: #A2BB64; D7E8A5;
}

.tiny {
  font-family: arial,helvetica;
  font-size: x-small;
}

.white-box {
  background-color: #FFFFFF;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-top: 1px;
  border-style: solid;
border-color: #4E300E;
  
  padding: 0px;
}
