<!-- TMPL_INCLUDE NAME="popup-top.inc" -->
<div id="mainbloc">
<h1>Member Quick Search</h1>

<div id="bloc25">
<form action="/cgi-bin/koha/members/member.pl" method="post">
	<label for="member">Member name: </label>	<input type="text" size="50" name="member" id="member"><input type="hidden" name="quicksearch" value="1"> 	<input type="submit" class="button" value="OK">
	</div>
<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
