.clear{
    clear:both;
}

.reporting-main-body{
    width: 100% !important;
    max-width: 75em;
    min-width: 820px;
}

.reporting-chooser-container{
    float:left;
    display:block;
    clear:both;
    width:100%;
}

.reporting-chooser{
    float:left;
    display:block;
    min-height:100px;
}

.report-selector{
    width:40%;
}

.report-selector-heading{
    clear:both;
    display:block;
    float:left;
}

.reporting-chooser h3{
    display:block;
    float:left;
    font-size:14px;
    margin:0;
}

.report-selector-report-type{
    display:block;
    float:left;
    font-size:12px;
    margin: 0px 15px 0px 15px;
}

.report-selector-report-type input{
    display:block;
}

.report-selector-selector{
    margin-left:15px;
}

.grouping-selector-groups{
   float:left;
   clear:both;
   max-width:400px;
}

.filter-selector-filter{
   float:left;
   min-width:10%;
   margin:20px;
}

.filter-selector-filter select{
   width:100%;
}

.grouping-selector-groups > span{
    float:left;
    padding:12px;
}

.filter-selector{
   width:100%;
   margin-right: 15px;
}

#reporting-main-form{
    width:100%;
    margin-right:-15px;
}

.reporting-time-selector{
    margin-top:27px;
    min-height:86px;
    width:51%;
}

.reporting-time-selector-selector{
   float:left;
   margin-right: 15px;
}

.reporting-time-selector-precision{
   margin-top:15px;
   float:left;
   clear:both;
}

.dropdown-menu{
    padding:0;
    max-height:500px !important;
}

.dropdown-menu.inner{
    position: relative;

}

.dropdown-menu li.selected{
    background: #b9d8d9;
}

.dropdown-toggle{
    overflow:hidden;
    background-image: linear-gradient(to bottom, #ffffff, #b9d8d8);
}

.bs-placeholder{
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

.isselect .dropdown-toggle{
    overflow:hidden;
    background-image: linear-gradient(to bottom, #ffffff, #b9d8d8);
}

/*.btn:hover {
    background: #e6e6e6;
}*/

.dropdown-toggle .filter-option{
    max-width:232px;
    word-wrap:break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grouping-selector-groups input{
    margin-left: 5px;
}

.reporting-report-submit{
    margin-bottom:30px;
}

.reporting-report-submit button {
    background:#d5e4eb;
    padding: 7px 10px 7px 10px;
    margin-right: 12px;
    border-radius: 3px;
    font-size:14px;
    border: 1px solid #b9d8d9;
}

.reporting-report-rendered{
    overflow-y:hidden;
    overflow-x:auto;
}

.reporting-report-rendered .last-col{
    background:#f4f8f9;
}

.reporting-report-rendered .last-row{
    background:#f4f8f9;
}

.reporting-report-rendered th{
    background:#ccdada;
}

.reporting-report-rendered .first-col{
    background:#d9e8e8;
}

.reporting-report-submit i {
    margin-left:5px;
}

.filter-selector-filter input{
    max-width:135px;
}

.dropup .dropdown-menu{
    bottom: initial;
}

.grouping-selector-options{
    font-size:12px;
}

.grouping-selector-group-container{
    max-height:15px;
}

.reporting-header-container {
    position:relative;
}

.btn-settings {
    position:absolute;
    right:0;
    top:0;
}
