body {
    font-family : Verdana, Geneva, Arial, sans-serif;
    font-size : .9em;
    background-color:white;
}

h2 {
    display:block;
    clear:left;
/*     float:none; */
}
table {
    border-collapse : inherit;
    border : 1px solid #CCCCCC;
    margin : 1em 0;
    border-collapse:collapse;
}

caption {
    font-size : 140%;
    text-align : left;
    font-weight : bold;
}

td,th {
    /*border-left : 1px solid #CCCCCC;
    border-bottom : 1px solid #CCCCCC;*/
    border : 1px solid #CCCCCC;
    padding : 5px;
}

th {
    background-color : #CCCCCC;
    border-left : 1px solid #999999;
    border-bottom : 1px solid #999999;
}

th[scope=row] {
    background-color : #EEEEEE;
    text-align : right;
}

p {
    margin:0px 0px 0px 0px;
}
input {
    font-size:0.9em;
}

select {
    font-size:0.9em;
}

input[type=submit], input[type=button], input[type=reset] {
    background: url( /intranet-tmpl/prog/img/fade-butt.png );
    border: 3px double #999;
    border-left-color: #ccc;
    border-top-color: #ccc;
    color: #333;
    padding: 0.25em;
}

label {
    font-style:italic;
    vertical-align:top;
    display:block;
    float:left;
/*     text-align:right; */
    width:10em;
    margin-right:0.2em;
}

p {
clear:left;
}
.searchresults table tr:hover{
    background-color: #CCFFFF;
}

tr.highlight td, tr.highlight th {
    background-color : #EEEEEE;
}

.here {
    color: black;
    text-decoration:none;
}

#problem {
    color: red;
    background-color:white;
    font-weight : bold;
    margin:10px;
}

#admin_stopwords_select UL {
   width: 600px;
}

#admin_stopwords_select UL LI {
   white-space: nowrap;
}

legend {
    font-size:120%;
    font-weight:bold;
}

.problem {
    color: white;
    background-color:red;
    font-weight : bold;
    margin:10px;
}

/* css styles for reserves color alerts */
.onloan {
    background-color: #FFED3D;
}

.reserved {
    background-color: #8EBAFF;
}

.transfered {
    background-color: #F9FF9A;
}

.inwait {
    background-color: #33CC99;
}

.other {
    background-color: #FF0000;
}

.available {
    background-color: white;
}

.unavailable {
    background-color: #FFED3D;
}

.hasexpirated {
    text-decoration: line-through;
}

/* style for search terms in catalogsearch */
.term {
    background-color:yellow;
}

/* end of css styles for reserves color alerts */

/* the Koha logo (top left) */
#kohalogo {
    position:absolute;
    left:20px;
    top:20px;
}

/* MAIN MENU STYLES */
#mainmenu {
    display:block;
    position:fixed;
/*     float:left; */
    font-weight : normal;
    margin-right: 5px;
    padding-right: 5px;
    border-right:1px solid black;
    font-size:0.9em;
}

#mainmenu a {
    display:block;
    margin-bottom:0px;
    padding-left :5px;
    text-decoration:none;
    font-weight:bold;
    color:black;
}


#mainmenu a:hover {
    display:block;
    margin-bottom:0px;
    padding-left :5px;
    text-decoration:none;
    font-weight:bold;
    background-color:#6699CC;
    color:white;
}

#mainmenu ul a {
    display:block;
    margin-bottom:5px;
    padding-left :5px;
    text-decoration:none;
    font-weight:normal;
    color:black;
}

#mainmenu ul a:hover {
    display:block;
    margin-bottom:5px;
    padding-left :5px;
    text-decoration:none;
    font-weight:normal;
    background-color:#6699CC;
    color:white;
}

#mainmenu ul {
    list-style-type: none;
    padding-left:20px;
    margin-bottom:0px;
    margin-top:0px;
}

#mainmenu li {
    list-style-type: none;
    padding-left:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-top:0px;
}

#mainmenu label {
    width:4em;
}

/* submenus styles */
#submenu {
    margin-left:25%;
}

#submenu a {
    margin:5px;
    text-decoration:none;
    color:#6699CC;
}

#submenu a:hover {
    margin:5px;
    background-color:#6699CC;
    color:white;
}

/*Action button*/
#action {
    /*float:right;*/
}

#action a {
    background-color: #6699CC;
    color:white;
    font-size : 0.8em;
    border: 2px outset;
    font-weight : bold;
    margin:5px 0px 0px 0px;
    padding:3px;
    text-decoration:none;
    display:inline;
}

#action a:hover {
    border: 2px inset;
    color: #6699CC;
    background-color:white;
}

/*edit action*/
#action .edit {
	display:inline;
	margin-right:5px;
}

#action .edit a {
    background-color : #6699CC;
    color : white;
    margin-top: 1px;
}

#action .edit a:hover {
    border: 2px inset;
    color: #6699CC;
    background-color:white;
}

#action .view {
	display:inline;
	margin-right:5px;
}

#action .view a {
    background-color : #CECEFF;
    color : white;
    margin-top: 1px;
}

#action .view a:hover {
    border: 2px inset;
    color: #CECEFF;
    background-color:white;
}

#action .others {
	display:inline;
	margin-right:5px;
}

#action .others a {
    background-color : #6699AA;
    color : white;
    margin-top: 1px;
}

#action .others a:hover {
    border: 2px inset;
    color: #6699AA;
    background-color:white;
}

/* Main body style */
#main {
    margin-left:25%;
}

/* facets bloc */
#facets {
    position:absolute;
    right:1em;
}

#facets dl {
    background-color:white;
    margin:0px;
}

#facets dt {
    text-align:right;
    font-weight:bold;
}

#facets dd {
    border:1px solid #CCCCCC;
}
/* bulkedit bloc */
/*#bulkedit {
    margin-top: 15px;
    margin-left: 15px;
    border:1px solid #CCCCCC;
}

#bulkedit h2 {
    background-color:#CCCCCC;
    margin:0px;
    padding:0px;
    font-size:1.1em;
}*/

/* the USER information block */
#librarian_information {
/*     position:absolute; */
    float:right;
    font-size:10pt;
}

/* css style for reregistration alert */

.reregistrinfo {
    color: #6699cc;
    font-weight : bold;
    background-color : #eeeeee;
}
/* MARC editor */

/* styles for the 11 buttons that the user can click on */
/* the design of the active tab button (only 1 at a given time)*/
.tab_active {
    color: #6699CC;
    background-color : #CCCCCC;
    font-size : 1em;
    border: 2px inset;
    font-weight : bold;
    text-decoration:none;
    display: inline;
    text-decoration:none;
    margin-left:10px;
}

#onlinehelp {
    float:right;
}

/* the design of the INactives tab buttons (all other tabs) */
.tab_inactive {
    background-color : #6699CC;
    color : #FFFFFF;
    font-size : 1em;
    font-weight : bold;
    display:inline;
    border: 2px outset;
    text-decoration:none;
    margin-left:10px;
}

/* the button of INactive tabs : we need this one to have white color on links, otherwise, default a look will be choosen */
#tabs a {
    color:white;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
}

/* specify that we to do when the mouse is on 1 button */
#tabs a:hover {
    border: 2px inset;
}

#tabs {
    margin-top:45px;
    margin-bottom:5px;
}

/* styles for the 11 content blocks */
/* the property for hidden tabs */
.content_hidden {
    height:0px; /* you propably don't need to change this one */
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    height:0px; /* you propably don't need to change this one */
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}

/* the style of tag description */
p.tag {
    font-weight:bold;
}
/* the style of subfield paragraph */
p.subfield {
    
}



.lineSelected {
    background-color:yellow;
}


/* display more informations with css layer */
a.info {
    position: relative;
    text-decoration: none;
    color: black;
    border-bottom: 1px gray dotted;
}

a.info span {
    display: none;
    width:300px;
}

a.info:hover {
    background: none; /* correcting IE bug*/
    z-index: 500;
}
a.info:hover span {
    display: inline;
    position: absolute;
    top: 2em;
    right: 1em;
    background: orange;
    text-align: center;
    color: white;
    padding: 2px;
}

fieldset {
        border : 1px solid #374b73;
        display: inline;
        float:left;
        vertical-align:top;
}