/*
	blue/green : # 009999
	light-blue/green : #ACE6E6
	orange : #FFB380
	light orange : #FFD9BF
*/
body {
	background-color:#006b6b;
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:12pt;
	margin:0px;
	padding:0px
}

/* base tags */
a {
	background-color: #FFD9BF;
	text-decoration:none;
/* 	padding:2px 2px; */
	color:#000000;
}

a.transparent {
	background-color: transparent;
	text-decoration:none;
	color:#000000;
}

a:hover {
	background-color: #FFB380;
}

/* the page result number */
a.results {
	background-color : #FFD9BF;
	padding : 0px 2px 0px 2px;
	margin : 2px 1px 2px 0px;
}

a.results:hover {
	background-color: #FFB380;
	padding : 0px 2px 0px 2px;
	margin : 2px 1px 2px 0px;
}

/* label size & look just before input fields */
label {
	float:left;
	width: 10em;
}

/* images */
img {
	border-width:0px;
	text-align:left;
	display:inline;
	float:left;
	padding-left:10px;
	padding-right:10px;
}

.relative { /* for images in relative position */
	border-width:5px;
	text-align:left;
	position:relative;
}

/* main title */
h1 {
	color:#FFD9BF;
	background-color:#006b6b;
	font-weight:bold;
	font-size: 150%;
	text-align:center;
	padding: 5px;
	margin:0px 25% 10px 25%;
	border: 1px solid black;
	width:50%;
}

/* style for library name, on top of menu (defined in LibraryName systempref) */
/* in opac-main page */
.LibraryName {
	color:#000000;
	background-color:#FFD9BF;
	font-weight:bold;
	font-size: 150%;
	text-align:center;
	padding: 2px;
	border: 1px solid #000000;
	width:75%;
}

/* in all other pages */
.SmallLibraryName {
	color:#FFD9BF;
	background-color:transparent;
	font-weight:bold;
	font-size: 115%;
	vertical-align:top;
	padding: 2px;
	width:100%;
}

/* subtitles. headers of blocks */
h2 {
	color:#000000;
	background-color:#009999;
	font-weight:bold;
	font-size: 125%;
	width:100%;
	margin: 0px 0px 10px 0px;
}

/* probably useless */
h3 {
	color:#000000;
	font-weight:bold;
	font-size: 125%;
	margin: 5px 0px 0px 0px;
}

/* paragraphs */
p {
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0pt;
	margin:0pt;
	clear:left;
}

/* centered paragraphs */
p.center {
	padding-left:10pt;
	padding-bottom:0pt;
	margin:0pt;
	text-align:center;
}

/* the copyright (at the end of the main page */
p.copyright {
	border-top: 1px solid #000000;
	margin-top:10px;
	text-align:center;
}

/* TABLES */
table {
	border:1px solid #000000;
	margin:10px;
/* 	margin-right:10px; */
	border-collapse:collapse;
	position:static;
}
/* header */
th {
	background-color: #99cccc;
	font-weight:bold;
	text-align:center;
	font-size:10pt;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}
/* standard cell */

tr {
	display:table-row;
	position:static;
}

td {
	font-size:10pt;
	border-left:1px solid #000000;
	vertical-align:top;
	position:static;
	display:table-cell;
}

/* hilighted cell */
td.hilighted {
	font-size:10pt;
	border-left:1px solid #000000;
	background-color:#ffffcc;
	vertical-align:top;
}

/* FORMS */
/* class used in form buttons */
.button {
	text-align: center;
	padding: 2px 2px;
	border:1px solid #888888;
	text-decoration: none;
	color: black;
	line-height:175%;
	background-color:#FFD9BF;
	margin : 3px 3px 3px 0px;
}

.button:hover {
	text-align: center;
	padding: 2px 2px;
	border:1px solid black;
	text-decoration: none;
	color: black;
	line-height:175%;
	background-color:#FFB380;
	margin : 3px 3px 3px 0px;
}

/* standard input field */
input {
	border:1px solid #888888;
	margin-bottom:2px;
	background-color:#FFFFFF;
}
input:hover {
	border:1px solid #000000;
}

/* textarea input field */
textarea {
	border:0px;
	border:1px solid #888888;
	background-color:#FFFFFF;
}

textarea:hover {
	border:1px solid #000000;
}
/* select input field */
select {
	border:0px;
	border:1px solid #888888;
	background-color:#FFFFFF;
}

/* span classes */
/* used to show small 1,2,3, to reach other pages when too much results */
.smallnumber {
	background-color:#99cccc;
	font-family:Times,serif;
	font-size:small;
	border:1px solid #000000;
	padding:1pt;
	vertical-align:top;
}

.smallnumberactive {
	background-color:#FFB380;
	font-family:Times,serif;
	font-size:small;
	border:1px solid #000000;
	padding:1pt;
	vertical-align:top;
}

/* BLOCS */

#problem {
	color: white;
	font-weight:bold;
	background-color:red;
}
.problem {
	color: white;
	font-weight:bold;
	background-color:red;
}

/* the mainbloc : everything is in mainbloc, except menu */
#mainbloc {
	float:left;
	width:90%;
	background-color:#ACE6E6;
	border:1px solid #000000;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:100px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
}

#homebloc {
	float:right;
	width:65%;
	margin-right:10px;
	border:0;
}

#leftbloc {
	float:left;
	width:30%;
	border:0;
}

#bottombloc {
	width:100%;
	height:200%;
	margin-top:10px;
	vertical-align:top;
	text-align:center;
	float:left;
}

/* used in members */
#bloc20, .bloc20 {
	float:left;
	border:1px solid #000000;
	margin-left:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}
#bloc60, .bloc60 {
	float:left;
	border:1px solid #000000;
	margin-left:10px;
	padding-bottom:10px;
	margin-bottom:10px;
}

/* used in biblio detail */

#bibliobloc {
	float:left;
	width:40%;
	border:0;
}

#itembloc {
	float:left;
	padding-left:10px;
/* 	width:50%; */
	border:0;
}

/* menu styles */
.menu {
	border:1px solid #000000;
	padding-left:10pt;
	padding-right:10pt;
	margin-bottom:10px;
	display:inline;
}

#title {
	display:block;
	margin-left:0px;
}

#menuline {
	display:block;
	margin-left:100px;
	margin-bottom:20px;
}

#bibliomenu {
	position: relative;
	float:left;
	display:block;
	margin-left:10%;
	width:100%;
}

/* a little spacer. should not be used */
.basketspacer {
	padding-left:8pt;
	float:left;
}

/* for SubscritptionHistory view  */
div.tabsubs {
	margin-left:150px;
	position:inline;
}

div.tabsubs a {
	font-size: small;
	border: thin solid black;
	margin-right: 2px;
	padding: 10px 10px;
	-moz-border-radius: 5px 5px 0px 0px;
}

div.tabsub {
	background-color: #ACE6E6;
	position:absolute;
	visibility:hidden;
	margin-left:150px;
	margin-top:0px;
border:4px;
}

/* for MARC view  */
div.tabs {
	width:15px;
	display:block;
	margin-top:70px;
	margin-left:40px;
}

div.tabs a {
	display:block;
	font-size: small;
	border: thin solid black;
	margin-right: 2px;
	padding: 10px 10px;
	-moz-border-radius: 5px 0px 0px 5px;
}

div.tabbloc {
	position:absolute;
	display:block;
	top:140px;
	left:62px;
	margin-right:0px;
	border: 1px solid black;
	background-color:none;
}

div.tab {
	background-color: #ACE6E6;
	display: block;
	visibility:hidden;
	position:absolute;
	float:left;
	margin-right:0px;
	background-color:none;
}

.MARCtag { /* style for tag definition (700 - Statement of responsability) */
	font-weight:bold;
	color:#FFB380;
	background-color:#FFFFFF;
	background-image:none;
	border-bottom: thin solid #FFB380;
	margin-right:30%;
}

.labelsubfield { /* style for each subfield (like : a Publication year), just before the biblio subfield */
	float:left;
	width: 12em;
	margin-left:30px;
}
