.heading1
{font-family:arial,helvetica;font-size:180%;color:#A88050}

.heading1bold
{font-family:arial,helvetica;font-size:180%;
font-weight:bold;
color:#A88050}


.heading4 {font-family:arial,helvetica;
font-size:110%;
color:#614523;
font-weight:bold;
margin-bottom:0px;
padding-bottom:0px}

 input.checkbox
{font-family:monospace;
font-size:25px;
size:25px;
height:25px;
width:25px;
}
.small {font-size:90%;
font-family: arial,helvetica;
margin-bottom:3pt;
}

.tiny {font-size:x-small;
font-family: arial,helvetica;
}


.pink{
background-color:#FEEDDB;
padding: 5px;
}

.plain{
padding: 5px;}

.tan{
background-color:#A88050;}

.selected{
color:#C96029;
font-weight:bold;
padding: 3px;
}

.selected-lge{
color:#C96029;
font-size:120%;
font-family: arial,helvetica;
font-weight:bold;
padding:3px;
}

.padded{
padding: 5px;
font-size:small;
}

.dk-brown{
background-color:#4E300C;}

.green{
background-color:#E0EBDD;}

.search-number {
    font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
text-decoration: none;
 width: 17px;
height: 17px;
padding: 2px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
border-top: 1px;
  border-style: solid;
  border-color: #354E27;
    }
.selected-number {
    font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
text-decoration: none;
background-color:#FEEDDB;
 width: 17px;
height: 17px;
padding: 2px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
border-top: 1px;
  border-style: solid;
  border-color: #354E27;
    }
.selected-box {
   background-color:#E3A46D;
padding:0px;
    }

.green-box {
background-color: #344E26;
  font-family:verdana,arial,hevetica;
font-size:small;
font-weight:bold;
color: #FEEDDB;
   border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 4px;
  border-style: solid;
  border-color: #667755;
    }

.brown-box {
background-color:#A88050;
   font-family:verdana,arial,hevetica;
font-size:small;
font-weight:bold;
color: #FEEDDB;
 border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 4px;
  border-style: solid;
  border-color: #817567;
    }
.table-heading {
background-color:#D7AB7A;
   font-family:verdana,arial,hevetica;
font-size:small;
font-weight:bold;
 padding: 5px;
       }
.white-box {
background-color:#ffffff;
    border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 0px;
  border-style: solid;
  border-color: #4E300E;
    }
.fines-box {
background-color:#E3A46D;
    border-top: 1px;
border-right: 1px;
border-bottom: 1px;
border-left: 1px;
padding: 0px;
  border-style: solid;
  border-color: #4E300E;
    }