/*
What is
*.search-number

*/

*.search-number {
  border-bottom: 1px;
  border-color: #354E27;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  display: inline;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  height: 17px;
  padding: 2px;
  text-decoration: none;
  width: 17px;
}

*.selected-number {
  background-color: #FEEDDB;
  border-bottom: 1px;
  border-color: #354E27;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  height: 17px;
  padding: 2px;
  text-decoration: none;
  width: 17px;
}

a {
  color: #BF470A;
  font-weight: bold;
}

a:visited {
  color: #BF740A;
}

a:hover {
  color: #000000;
}

a.button:hover {
  background: transparent;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  font-family: verdana,arial,helvetica, san-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #A88050;
  font-family: arial,helvetica;
  font-size: 180%;
}

h2 {
  color: #A88050;
  font-family: arial,helvetica;
  font-size: 160%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h3 {
  color: #614523;
  font-family: arial,helvetica;
  font-size: 130%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h4 {
  color: #614523;
  font-family: arial,helvetica;
  font-size: 110%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

input {
  font-family: monospace;
  font-size: 12px;
}

input.checkbox {
  font-family: monospace;
  font-size: 25px;
  height: 25px;
  size: 25px;
  width: 25px;
}

p,ul,ol,li {
  font-family: verdana,arial,helvetica;
  font-size: 12px;
  line-height: 20px;
}

td {
  font-family: verdana,arial,helvetica;
  font-size: 12px;
}

.botnav a:link {
  color: #41622F;
  font-family: verdana,arial,helvetica;
  font-size: 10pt;
  font-weight: normal;
}

.botnav a:visited {
  color: #909E88;
  font-family: verdana,arial,helvetica;
  font-size: 10pt;
  font-weight: normal;
}

.botnav a:hover {
  background: #E3A46D;
  color: #000000;
}

.brown-box {
  background-color: #A88050;
  border-bottom: 1px;
  border-color: #817567;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  color: #FEEDDB;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}

.crumb {
  color: #000000;
  font-weight: normal;
}

.crumb a:link {
  color: #41622F;
  font-weight: normal;
}

.crumb a:visited {
  color: #909E88;
  font-weight: normal;
}

.crumb a:hover {
  background: #E3A46D;
  color: #000000;
}

.dk-brown{
  background-color: #4E300C;
}

.fines-box {
  background-color: #E3A46D;
  border-bottom: 1px;
  border-color: #4E300E;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  padding: 0px;
}

.green{
  background-color: #E0EBDD;
}

.green-box {
  background-color: #344E26;
  border-bottom: 1px;
  border-color: #667755;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  color: #FEEDDB;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 4px;
}

.head1 {
  color: #A88050;
  font-family: arial,helvetica;
  font-size: 180%;
}

.head1bold {
  color: #A88050;
  color: #A88050;
  font-family: arial,helvetica;
  font-size: 180%;
  font-weight: bold;
}

.head2{
  color: #A88050;
  font-family: arial,helvetica;
  font-size: 160%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.head2bold {
  color: #A88050;
  font-family: arial,helvetica;
  font-size: 160%;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.heading4 {
  color: #614523;
  font-family: arial,helvetica;
  font-size: 110%;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.main {
  font-family: verdana,arial,helvetica;
  font-size: 12px;
}

.navhead {
  font-weight: bold;
}

.padded{
  font-size: 12px;
  padding: 5px;
}

.pink{
  background-color: #FEEDDB;
  padding: 5px;
}

.plain{
  padding: 5px;
}

.search {
  font-family: verdana,arial,hevetica;
  font-size: 7.5pt;
  font-weight: bold;
}

.selected{
  color: #C96029;
  font-weight: bold;
  padding: 3px;
}

.selected-box {
  background-color: #E3A46D;
  padding: 0px;
}

.selected-lge{
  color: #C96029;
  font-family: arial,helvetica;
  font-size: 120%;
  font-weight: bold;
  padding: 3px;
}

.shade{
  background-color: #DCCAB4;
  padding: 5px;
}

.sidenav {
  color: #41622F;
  font-size: 9pt;
  font-weight: normal;
  line-height: 13px;
  margin-bottom: 3pt;
}

.sidenav a:link {
  color: #41622F;
  font-size: 9pt;
  font-weight: normal;
  line-height: 13px;
  margin-bottom: 3pt;
}

.sidenav a:visited {
  color: #41622F;
  font-size: 9pt;
  font-weight: normal;
  margin-bottom: 3pt;
}

.sidenav a:hover {
  background: #E3A46D;
  color: #000000;
}

.small {
  font-family: arial,helvetica;
  font-size: 90%;
  margin-bottom: 3pt;
}

.table-heading {
  background-color: #D7AB7A;
  font-family: verdana,arial,hevetica;
  font-size: small;
  font-weight: bold;
  padding: 5px;
}

.tan{
  background-color: #A88050;
}

.tiny {
  font-family: arial,helvetica;
  font-size: x-small;
}

.white-box {
  background-color: #FFFFFF;
  border-bottom: 1px;
  border-color: #4E300E;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-top: 1px;
  padding: 0px;
}
