[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
    [% INCLUDE 'doc-head-open.inc' %]
    <title>[% IF (template_id) %]Edit ([% template_id | html %])[% ELSE %]New[% END %] &rsaquo; Templates &rsaquo; Patron card creator &rsaquo; Tools &rsaquo; Koha</title>
    [% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="pcard_edit-template" class="tools pcard">
    [% INCLUDE 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]

    <nav id="breadcrumbs" aria-label="Breadcrumb" class="breadcrumb">
        <ol>
            <li>
                <a href="/cgi-bin/koha/mainpage.pl">Home</a>
            </li>
            <li>
                <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a>
            </li>
            <li>
                <a href="/cgi-bin/koha/patroncards/home.pl">Patron card creator</a>
            </li>
            <li>
                <a href="/cgi-bin/koha/patroncards/manage.pl?card_element=template">Templates</a>
            </li>
            <li>
                <a href="#" aria-current="page">
                    [% IF (template_id) %]
                        Edit ([% template_id | html %])
                    [% ELSE %]
                        New
                    [% END %]
                </a>
            </li>
        </ol>
    </nav>

    <div class="main container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-push-2">
                <main>

                    [% INCLUDE 'patroncards-toolbar.inc' %]
                    <form name="input" action="/cgi-bin/koha/patroncards/edit-template.pl" method="get">
                        <h3>[% IF (template_id) %]Edit[% ELSE %]Create[% END %] patron card template[% IF (template_id) %] ([% template_id | html %])[% END %]</h3>
                        <div class="row">
                        <div class="col-sm-6">
                            <fieldset class="rows">
                                <ol>
                                    <li>
                                        <span class="label">Template ID:</span>[% IF ( template_id ) %][% template_id | html %][% ELSE %]N/A[% END %]
                                    </li>
                                    <li>
                                        <label for="template_code">Template code:</label>
                                        <input type="text" size="30" maxlength="43" name="template_code" id="template_code" value="[% template_code | html %]" />
                                    </li>
                                    <li>
                                        <label for="template_desc">Template description:</label>
                                        <textarea cols="30" rows="3" id="template_desc" name="template_desc">[% template_desc | html %]</textarea>
                                    </li>
                                    <li>
                                        <label for="units">Units:</label>
                                        <select id="units" name="units">
                                        [% FOREACH unit IN units %]

                                            [% IF ( unit.selected ) %]
                                            <option value="[% unit.type | html %]" selected="selected">
                                            [% ELSE %]
                                            <option value="[% unit.type | html %]">
                                            [% END %]

                                            [% SWITCH unit.type %]
                                            [%   CASE 'POINT' %]
                                            <span>PostScript points</span>
                                            [%   CASE 'AGATE' %]
                                            <span>Agates</span>
                                            [%   CASE 'INCH' %]
                                            <span>US Inches</span>
                                            [%   CASE 'MM' %]
                                            <span>SI Millimeters</span>
                                            [%   CASE 'CM' %]
                                            <span>SI Centimeters</span>
                                            [% END %]

                                            </option>
                                        [% END %]
                                        </select>
                                    </li>
                                    <li>
                                        <label for="page_height">Page height:</label>
                                        <input type="text" size="4" name="page_height" id="page_height" value="[% page_height | html %]" />
                                    </li>
                                    <li>
                                        <label for="page_width">Page width:</label>
                                        <input type="text" size="4" name="page_width" id="page_width" value="[% page_width | html %]" />
                                    </li>
                                    <li>
                                        <label for="card_height">Card height:</label>
                                        <input type="text" size="4" name="card_height" id="card_height" value="[% card_height | html %]" />
                                    </li>
                                    <li>
                                        <label for="card_width">Card width:</label>
                                        <input type="text" size="4" name="card_width" id="card_width" value="[% card_width | html %]" />
                                    </li>


                                </ol>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset class="rows">
                                <ol><li>
                                    <label for="top_margin">Top page margin:</label>
                                    <input type="text" size="4" name="top_margin" id="top_margin" value="[% top_margin | html %]" />
                                </li>
                                <li>
                                    <label for="left_margin">Left page margin:</label>
                                    <input type="text" size="4" name="left_margin" id="left_margin" value="[% left_margin | html %]" />
                                </li>
                                    <li>
                                        <label for="cols">Number of columns:</label>
                                        <input type="text" size="4" name="cols" id="cols" value="[% cols | html %]" />
                                    </li>
                                    <li>
                                        <label for="rows">Number of rows:</label>
                                        <input type="text" size="4" name="rows" id="rows" value="[% rows | html %]" />
                                    </li>
                                    <li>
                                        <label for="col_gap">Gap between columns:</label>
                                        <input type="text" size="4" name="col_gap" id="col_gap" value="[% col_gap | html %]" />
                                    </li>
                                    <li>
                                        <label for="row_gap">Gap between rows:</label>
                                        <input type="text" size="4" name="row_gap" id="row_gap" value="[% row_gap | html %]" />
                                    </li>

                                    <li>
                                        <label for="profile_id">Profile:</label>
                                        [% IF ( profile_list ) %]
                                        <select id="profile_id" name="profile_id">
                                        [% FOREACH profile_lis IN profile_list %]
                                        [% IF ( profile_lis.selected ) %]
                                        <option value="[% profile_lis.profile_id | html %]" selected="selected">
                                        [% ELSE %]
                                        <option value="[% profile_lis.profile_id | html %]">
                                        [% END %]
                                        [% profile_lis.printer_name | html %]/[% profile_lis.paper_bin | html %]
                                        </option>
                                        [% END %]
                                        </select>
                                        [% ELSE %]
                                        <a href="/cgi-bin/koha/patroncards/edit-profile.pl?op=new">Define a printer profile.</a>
                                        [% END %]
                                    </li>
                                </ol>
                            </fieldset>
                        </div>
                    </div>

                    <fieldset class="action">
                        <input type="submit" class="submit" value="Save" />
                        <a class="cancel" href="/cgi-bin/koha/patroncards/manage.pl?card_element=template">Cancel</a>
                        <input type="hidden" name="op" value="save" />
                        [% IF ( template_id ) %]
                        <input type="hidden" name="template_id" value="[% template_id | html %]" />
                        [% END %]
                    </fieldset>
                </form>

            </main>
        </div> <!-- /.col-sm-10.col-sm-push-2 -->

        <div class="col-sm-2 col-sm-pull-10">
            <aside>
                [% INCLUDE 'tools-menu.inc' %]
            </aside>
        </div> <!-- /.col-sm-2.col-sm-pull-10 -->
     </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/tools-menu.js") | $raw %]
    <script>
        $(document).ready(function(){
            var selectedUnit = $("#units option:selected").val();
            var unitfields = $("#page_height,#page_width,#card_width,#card_height,#top_margin,#left_margin,#col_gap,#row_gap");
            $(unitfields).after("<span class=\"unit\">"+getUnit(selectedUnit)+"</span>");
            $("#units").change(function(){
                $(".unit").html(getUnit($(this).val()));
            });
        function getUnit(unit){
            switch(unit){
                case "POINT":
                    var unit = " pt";
                    break;
                case "AGATE":
                    var unit = " ag";
                    break;
                case "INCH":
                    var unit = " in";
                    break;
                case "MM":
                    var unit = " mm";
                    break;
                case "CM":
                    var unit = " cm";
                    break;
                default:
                    var unit = "";
            }
            return unit;
        }
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
