[Unit]
Description=Koha Zebra indexer daemon for %i
PartOf=koha@%i.target
After=koha@%i.target koha-zebra@%i.service

[Service]
Type=simple
User=%i-koha
Group=%i-koha
WorkingDirectory=/var/lib/koha/%i
Environment=KOHA_CONF=/etc/koha/sites/%i/koha-conf.xml
Environment=KOHA_HOME=/usr/share/koha
Environment=PERL5LIB=/usr/share/koha/lib
ExecStartPre=+/usr/sbin/koha-create-dirs %i
ExecStart=/usr/share/koha/bin/migration_tools/rebuild_zebra.pl -daemon -sleep 5
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=koha@%i.target
