[Unit]
Description=Koha ILS instance %i
After=network.target memcached.service mysql.service
PartOf=koha.target
StopWhenUnneeded=yes

[Install]
WantedBy=koha.target
