[Unit]
Description=Koha ILS - All instances (compat)
Documentation=man:koha-common(8)
BindsTo=koha.target
After=koha.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=+/bin/sh -c 'for i in $(koha-list --enabled --elasticsearch 2>/dev/null); do systemctl enable --now "koha-es-indexer@$i.service" 2>/dev/null || true; done'
ExecStart=/bin/systemctl start koha.target
ExecStop=/bin/systemctl stop koha.target

[Install]
WantedBy=multi-user.target
