[Unit]
Description=Koha Plack server for %i
PartOf=koha@%i.target
Requires=koha-create-dirs@%i.service
After=koha@%i.target

[Service]
Type=forking
User=%i-koha
Group=%i-koha
WorkingDirectory=/var/lib/koha/%i
Environment=KOHA_CONF=/etc/koha/sites/%i/koha-conf.xml
Environment=KOHA_HOME=/usr/share/koha
Environment=PERL5LIB=/usr/share/koha/lib
PIDFile=/var/run/koha/%i/plack.pid
ExecStartPre=+/usr/sbin/koha-generate-env plack %i
EnvironmentFile=-/run/koha/%i/plack.env
ExecStart=/usr/bin/starman \
    -M FindBin \
    --max-requests ${PLACK_MAX_REQUESTS} \
    --workers ${PLACK_WORKERS} \
    --user %i-koha --group %i-koha \
    --pid /var/run/koha/%i/plack.pid \
    --daemonize \
    --access-log /var/log/koha/%i/plack.log \
    --error-log /var/log/koha/%i/plack-error.log \
    -E ${PLACK_ENVIRONMENT} \
    --listen /var/run/koha/%i/plack.sock \
    ${PLACK_PSGIFILE}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=koha@%i.target
