[Unit]
Description=Koha ILS - All instances (compat)
Documentation=man:koha-common(8)
BindsTo=koha.target
After=koha.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/systemctl start koha.target
ExecStop=/bin/systemctl stop koha.target

[Install]
WantedBy=multi-user.target
