# koha-worker.service
[Unit]
Description=Koha Task Queue Worker
After=syslog.target network.target

[Service]
Environment=PERL5LIB=__PERL5LIB_DIRS__
Environment=KOHA_CONF=__KOHA_CONF_DIR__/koha-conf.xml
ExecStart=__SCRIPT_DIR__/workers/background_jobs_worker.pl
Restart=on-failure
RestartSec=5s
StartLimitBurst=3
StartLimitInterval=60
SyslogIdentifier=__DB_NAME__-koha-worker

[Install]
WantedBy=multi-user.target
