RELEASE NOTES FOR KOHA <<version>>
<<date>>
========================================================================

Koha is the first free and open source software library automation package 
(ILS). Development is sponsored by libraries of varying types and sizes, 
volunteers, and support companies from around the world.  
The website for the Koha project is 

    http://koha-community.org/

Koha <<version>> can be downloaded from:

    http://download.koha-community.org/koha-<<expanded_version>>.tar.gz

Installation instructions can be found:

   in the INSTALL files that come in the tarball

Koha <<version>> is a bugfix/maintenance release.

Highlights of <<version>>
======================

<<highlights>>

Bugs fixed in <<version>>
======================

<<bugfixes>>

New system preferences in <<version>>
=================================

<<sysprefs>>

System requirements
======================

    Changes since 3.6:
    
    * No new system requirements


Documentation
======================

As of Koha 3.2, the Koha manual is now maintained in DocBook.  The
home page for Koha documentation is 

    http://koha-community.org/documentation/

As of the date of these release notes, only the English version of the
Koha manual is available:

    http://manual.koha-community.org/3.8/en/

The Git repository for the Koha manual can be found at

    http://git.koha-community.org/gitweb/?p=kohadocs.git;a=summary

Translations
======================

Complete or near-complete translations of the OPAC and staff
interface are available in this release for the following languages:

the following languages:
  * Chinese -Taiwan- (100%, OPAC 100%)
  * German (100%, OPAC 100%)
  * Italian (100%, OPAC 100%)
  * French (99%, OPAC 100%)
  * Portuguese (Brazil) (90%, OPAC 100%)
  * Spanish (87%, OPAC 100%)
  * English -nz- (78%, OPAC 100%)
  * Arabic (76%, OPAC 100%)
  * Danish (75%, OPAC 100%)
  * Greek (69%, OPAC 100%)
  * French -canada- (68%, OPAC 70%)
  * Armenian (68%, OPAC 100%)  
  * Norwegian (67%, OPAC 100%)

Partial translations are available for various other languages.

The Koha team welcomes additional translations; please see

    http://wiki.koha-community.org/wiki/Translating_Koha

for information about translating Koha, and join the koha-translate 
list to volunteer:

    http://lists.koha-community.org/cgi-bin/mailman/listinfo/koha-translate

The most up-to-date translations can be found at:

    http://translate.koha-community.org/

Release Team
======================

The release team for Koha 3.8 is

  Release Manager:       Paul Poulain <paul.poulain@biblibre.com>
  Documentation Manager: Nicole C Engard <nengard@gmail.com>
  Translation Manager:   Frédéric Demians <frederic@tamil.fr>
  QA Manager:            Ian Walls <koha.sekjal@gmail.com>
  QA team:               Marcel de Rooy <M.de.Rooy@rijksmuseum.nl>,
  Jonathan Druart <jonathan.druart@biblibre.com>
  Bug Wranglers:         Katrin Fischer, Magnus Enger

  Release Maintainer (3.4.x): Chris Nighswonger <cnighswonger@foundations.edu>
  Release Maintainer (3.6.x): Jared Camins-Esakov <jcamins@cpbibliography.com>
  Release Maintainer (3.8.x): Chris Cormack <chrisc@catalyst.net.nz>


Credits
======================

We thank the following individuals who contributed patches to
Koha <<version>>. 

<<contributors>>

We regret any omissions.  If a contributor has been inadvertantly missed,
please send a patch against these release notes to 
koha-patches@lists.koha-community.org.

Revision control notes
======================

The Koha project uses Git for version control.  The current development 
version of Koha can be retrieved by checking out the master branch of 

    git://git.koha-community.org/koha.git

The branch for Koha 3.8.x (i.e., this version of Koha and future bugfix
releases) is 3.8.x.

The next major feature release of Koha will be Koha 3.10.0.

Bugs and feature requests
======================

Bug reports and feature requests can be filed at the Koha bug
tracker at

    http://bugs.koha-community.org/


Ehara taku toa i te toa takitahi, engari he toa takitini 
