<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Online Help: System Preferences -- MARC Check<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<div id="main-compact">
<h1>MARC Check</h1>
<p>Once you have completed the process of setting up your MARC tag structure (MarcTagstruct) and checked your MARC to Koha mapping (Koha2MarcLinks), click on this link to activate a small program that checks for major errors in your MARC setup.</p>

<p>This MARC check does not guarantee that you will like the first results of your efforts to set up your MARC displays, etc. -- it simply checks for major errors. You will probably revise your MARC setup several times before you are completely pleased with it. Be sure to run checkmarc after every revision.</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->
