<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Circulation Statistics for <!-- TMPL_VAR Name="title" --><!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<h1>
<!-- TMPL_VAR Name="title" --> <!-- TMPL_IF NAME="author" -->(<!-- TMPL_VAR Name="author" -->)<!-- /TMPL_IF --></a></h1>

<h2>Barcode <!-- TMPL_VAR Name="barcode" --></h2>
<ul>
	<li><form action="/cgi-bin/koha/detail.pl" method="get"><input type="hidden" name="bib" value="<!-- TMPL_VAR Name="bib" -->"><input type="hidden" name="type" value="intra"><input type="submit" value="Brief Display"></form></li>
	<li><form action="/cgi-bin/koha/moredetail.pl" method="get"><input type="hidden" name="type" value="<!-- TMPL_VAR NAME="type" -->"><input type="hidden" name="item" value="<!-- TMPL_VAR NAME="itemnumber" -->"><input type="hidden" name="bib" value="<!-- TMPL_VAR NAME="bib" -->"><input type="hidden" name="bi" value="<!-- TMPL_VAR NAME="biblioitemnumber" -->"> <input type="submit" value="Item Details"></form></li>
	<!-- TMPL_IF NAME="norequests" --><!-- TMPL_ELSE --> <li><form action="request.pl" method="get"><input type="hidden" value="<!-- TMPL_VAR name="bib" -->" name="bib"> <input type="submit" value="Place Reserve"></form></li><!-- /TMPL_IF -->
</ul>

<table>
		<tr><th scope="row">Home Branch: </th><td> <!-- TMPL_VAR Name="homebranch" --> </td></tr>
		<tr><th scope="row">Current Branch: </th><td> <!-- TMPL_VAR Name="holdingbranch" --></td></tr>
		<tr><th scope="row">Date arrived at current branch: </th><td> <!-- TMPL_VAR Name="lastdate" --> </td></tr>
		<tr><th scope="row">Number of issues since since the above date :</th><td> <!-- TMPL_VAR Name="count" --> </td></tr>
</table>

		<table>
			<tr>
				<th> Branch</th>
				<th> No. of Issues</th>
				<th> Last seen at branch</th>
			</tr>
			<!-- TMPL_LOOP Name="branchloop" -->
				<tr>
					<td><!-- TMPL_VAR Name="branchname" --> </td>
					<td><!-- TMPL_VAR Name="issues" --> </td>
					<td><!-- TMPL_VAR Name="seen" --> </td>
				</tr>
			<!-- /TMPL_LOOP -->
		</table>


<!-- TMPL_INCLUDE Name="intranet-bottom.inc" -->
