<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Koha -- Cataloging: MARC Import<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="masthead.inc" -->
<!-- TMPL_INCLUDE NAME="acqui-topmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-nav.inc" -->

<div id="main">
<h1>MARC acquisition system</h1>
<h4>Import into the reservoir</h4>

<!-- TMPL_IF name="uploadmarc" -->
<p>Import results :</p>
<ul>
	<li><!-- TMPL_VAR name="imported" --> imported records</li>
	<li><!-- TMPL_VAR name="alreadyindb" --> not imported because already in catalog</li>
	<li><!-- TMPL_VAR name="alreadyinfarm" --> not imported because already in the reservoir</li>
	<li><!-- TMPL_VAR name="notmarcrecord" --> not imported because they seem not to be in MARC format (or ISBN/ISSN missing) !</li>
	<li><!-- TMPL_VAR name="total" -->  records parsed</li>
	<li><a href="/cgi-bin/koha/admin-home.pl">Back</a></li>
</ul>
<!-- TMPL_ELSE -->
<ul>
	<li>Select a file to import into the reservoir. It will be parsed, and for each ISBN found, a new baby will be created in the reservoir.</li>
	<li>If an ISBN already exists in the reservoir, you can choose whether to ignore the new one or overwrite the old one.</li>
	<li>You can enter a name for this import. It may be useful, when creating a biblio, to remember where the suggested MARC data comes from!</li>
	<li>Of course, if the ISBN already exists in the active DB, the biblio will be ignored.</li>
</ul>
<form method="post" action="<!-- TMPL_VAR name="SCRIPT_NAME" -->" enctype="multipart/form-data">
<div class="data"><table>
	<tr>
		<th><label for="uploadmarc">Select the file to import: </label></th>
		<td>
			<input type="file" id="uploadmarc" name="uploadmarc" /><br />
		</td>
	</tr>
	<tr>
		<th><label for="filename">Name of this import: </label></th>
		<td>
			<input type="text" id="filename" name="filename" />
		</td>
	</tr>
	<tr>
		<th><label for="syntax">Character encoding: </label></th>
		<td>
			<select name="syntax" id="syntax"><option value="MARC21">MARC21</option><option value="UNIMARC">UNIMARC</option></select>
		</td>
	</tr>
	<tr>
		<th rowspan="2">If ISBNi is already in the reservoir: </th>
		<td><input type="radio" name="overwrite_biblio" value="0" checked="checked" />Ignore this one, keep the existing one</td></tr>
<tr><td>
			<input type="radio" name="overwrite_biblio" value="1" />Overwrite the existing one with this</td>
	</tr>
</table></div><input type="submit" value="Import" class="submit" />
</form>
<!-- /TMPL_IF -->

</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
