<!-- TMPL_INCLUDE NAME="cat-top.inc" -->
<center>
<!-- FIXME - The "$ENV{SCRIPT_NAME}" is evidently left over from when this
     was in Perl.
  -->
<a href=$ENV{'SCRIPT_NAME'}?file=$file>Nouvelle notice</a> | <a href=marcimport.pl>Nouveau fichier</a><br>
<!-- TMPL_IF name="BIBLIO_EXISTS" -->
	<table border=0 width=50% cellpadding=10 cellspacing=0>
		<tr>
			<th background=/images/background-acq.gif>Notice déjà existante
			</th>
		</tr>
		<tr>
			<td bgcolor="#dddddd">
				<!-- TMPL_VAR name="title" --> is already in the database with 
				biblionumber <!-- TMPL_VAR name="biblionumber" --> et biblioitemnumber <!-- TMPL_VAR name="biblioitemnumber" -->
			  </td>
		</tr>
	</table>
	<p>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="BIBLIO_CREATE" -->
    <table cellpadding=10 cellspacing=0 border=0 width=50%>
		<tr>
			<th background=/images/background-acq.gif>Notice enregistrée</th>
		</tr>
		<tr>
			<td bgcolor=#dddddd>
				<!-- TMPL_VAR name="title" -->has been entered into the database with biblionumber
				<!-- TMPL_VAR name="biblionumber" --> et biblioitemnumber <!-- TMPL_VAR name="biblioitemnumber" --></td>
		</tr>
	  </table>
<!-- /TMPL_IF -->
    <table border=0 cellpadding=10 cellspacing=0>
      <tr><th background=/images/background-acq.gif>
	Ajouter un nouvel ouvrage pour <!-- TMPL_VAR name="title" -->
      </th></tr>
      <tr><td bgcolor=#dddddd>
      <form>
        <input type=hidden name=newitem value=1>
        <input type=hidden name=biblionumber value="<!-- TMPL_VAR name="biblionumber" -->">
        <input type=hidden name=biblioitemnumber value="<!-- TMPL_VAR name="biblioitemnumber" -->">
        <input type=hidden name=file value="<!-- TMPL_VAR name="file" -->">
        <table border=0>
          <tr><td>CODE BARRE</td><td><input name=barcode size=10 value="<!-- TMPL_VAR name="barcode" -->">
          Annexe propriétaire: <select name=homebranch><!-- TMPL_VAR name="branchselect" --></select>
	  </td></tr>
          <tr><td>Prix Remplacement:</td>
	  <td><input name=replacementprice size=10></td></tr>
          <tr><td>Notes</td>
	  <td><textarea name=notes rows=4 cols=40 wrap=physical></textarea>
	  </td></tr>
        </table>
        <p>
        <input type=submit value="Ajouter un ouvrage">
      </form>
      </td></tr>
    </table>
<!-- TMPL_INCLUDE NAME="cat-bottom.inc" -->
