<!-- TMPL_INCLUDE Name="circulation-top.inc" -->

<div id="mainbloc">
<h1>Circulation: Select Printer and Branch Settings</h1>

<form method="post" action="/cgi-bin/koha/circ/circulation.pl">
<p>
<!--branchselection-->
<!-- TMPL_IF Name="onebranch" -->
<b>Branch:</b> <!-- TMPL_VAR NAME="branchname" -->
<!-- TMPL_ELSE -->
<b>Please Set Branch:</b>
	<select name="branch">
	<!-- TMPL_LOOP Name="branchloop" -->
		<option value="<!-- TMPL_VAR NAME="value" -->"<!-- TMPL_IF Name="selected" --> selected="selected"<!-- /TMPL_IF -->><!-- TMPL_VAR NAME="name" --></option>
	<!-- /TMPL_LOOP -->
	</select>
<!-- /TMPL_IF --></p>

<p><!-- printerselection -->
<!-- TMPL_IF Name="oneprinter" -->
<b>Printer:</b> <!-- TMPL_VAR NAME="printername" -->
<!-- TMPL_ELSE -->
<b>Please Set Printer:</b>
	<select name="printer">
	<!-- TMPL_LOOP Name="printerloop" -->
		<option value="<!-- TMPL_VAR NAME="value" -->"<!-- TMPL_IF Name="selected" --> selected="selected"<!-- /TMPL_IF -->><!-- TMPL_VAR NAME="name" --></option>
	<!-- /TMPL_LOOP -->
	</select>
<!-- /TMPL_IF --></p>
<p><input type="hidden" name="setcookies" value="1">
<input type="submit" value="Submit" type="changesettings" class="button"></p>
</form>

</div>
<!-- TMPL_INCLUDE Name="circulation-bottom.inc" -->

