<!-- TMPL_INCLUDE NAME="reports-top.inc" -->
<!--------------------------MAIN BODY OF PAGE-------------------------->

<h1>報表</h1><br/>
<ul>
	<li><a href="/cgi-bin/koha/stats.pl?time=yesterday">Till Reconciliation:</a> Daily Report (yesterday)</li>
	<li><a href="/cgi-bin/koha/stats.pl?time=today">Till Reconciliation:</a> Daily Report (today)</li>
	<li><a href="/cgi-bin/koha/overdue.pl">過期圖書資料</a></li>
	<li><a href="/cgi-bin/koha/reports/inventory.pl">Inventory/Stocktaking</a></li>
</ul>
<!-- TMPL_INCLUDE NAME="reports-bottom.inc" -->

