<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Koha -- Circulation<!-- TMPL_IF Name="borrowernumber" -->: Issuing to <!-- TMPL_VAR name="surname" -->, <!-- TMPL_VAR name="firstname" -->  (<!-- TMPL_VAR NAME="cardnumber" -->)<!-- /TMPL_IF --><!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="menus.inc" -->
<!-- TMPL_INCLUDE NAME="menu-circ.inc" -->
<h1>Circulation: Issues  <!-- TMPL_VAR NAME="today" --></h1>


	
<!--  INITIAL BLOC : PARAMETERS & BORROWER INFO -->
	
	
	<!-- RESULT OF ISSUING REQUEST -->
	
		<!-- TMPL_IF NAME="IMPOSSIBLE" -->
		<div class="error">
		<h3>Error Issuing:</h3>
			<ul>
			<!-- TMPL_IF NAME="INVALID_DATE" -->
				<li>Invalid date</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="TOO_EARLY" -->
				
				<li>Too early to renew. <!-- TMPL_VAR NAME="barcode" --> </li>				
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="UNKNOWN_BARCODE" -->
				
				<li>Barcode Unkown</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="NOT_FOR_LOAN" -->
				
				<li>NOT FOR LOAN</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="WTHDRAWN" -->
				<li>Item is cancelled</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="GNA" -->
				<li>Patron's address is in doubt</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="CARD_LOST" -->
				<li>Patron's card is lost</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="DEBARRED" -->
				<li>Patron is debarred</li>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="NO_MORE_RENEWALS" -->
				<li>No more renewals possible</li>
			<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="EXPIRED" -->
				<li>Borrower card expired</li>
			<!-- /TMPL_IF -->
		<!-- TMPL_IF NAME="IN_RESERVE" -->
				<li>This is a Reserve Section book. Use Reserve issue</li>
			<!-- /TMPL_IF -->
			</ul>
		</div>
		<!-- TMPL_ELSE -->
		
		<!-- TMPL_IF NAME="NEEDSCONFIRMATION" -->
		
		<div class="error">
		<h3>Please Confirm Issue:</h3>
		
			<!-- TMPL_IF NAME="DEBT" -->
				<p>The patron has a debt of <!-- TMPL_VAR name="DEBT" --> YTL</p>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="RENEW_ISSUE" -->
				<p>You are trying RE-ISSUE.  USE RENEW</p>
			<!-- /TMPL_IF -->	
			<!-- TMPL_IF NAME="SUCCESFUL_RENEW" -->
				<p>Succesfully renewd items</p>
			<!-- /TMPL_IF -->	
			<!-- TMPL_IF NAME="RESERVE_WAITING" -->
				<p>Item is consigned for <!-- TMPL_VAR NAME="RESERVE_WAITING" --></p>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="RESERVED" -->
				<p>Item is on reserve for <!-- TMPL_VAR NAME="RESERVED" --></p>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="ISSUED_TO_ANOTHER" -->
				<p>Item issued to <!-- TMPL_VAR NAME="ISSUED_TO_ANOTHER" -->. Return and issue?</p>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF NAME="TOO_MANY" -->
				<p>Too many issues (already issued / max : <!-- TMPL_VAR name="TOO_MANY" -->)</p>
			<!-- /TMPL_IF -->
			<!-- TMPL_UNLESS name="IMPOSSIBLE" -->
			<div class="action"><form class="inline" method="post" action="/cgi-bin/koha/circ/circulation.pl">
				<!-- TMPL_IF NAME="RESERVED" -->
					<p><input type="checkbox" id="cancelreserve" name="cancelreserve" value="1" /><label for="cancelreserve">Cancel Reserve</label></p>
				<!-- /TMPL_IF -->
				
			
				
				<!-- TMPL_IF NAME="RESERVE_WAITING" -->
					<p><input type="checkbox" id="cancelreserve" name="cancelreserve" value="1" /><label for="cancelreserve">Cancel Reserve</label></p>
				<!-- /TMPL_IF -->
				<input type="hidden" name="barcode" value="<!-- TMPL_VAR NAME="barcode" -->" />
				
		
				<input type="hidden" name="borrnumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
				<input type="hidden" name="issueconfirmed" value="1" />
				<input type="hidden" name="day" value="<!-- TMPL_VAR name="day" -->" />
				<input type="hidden" name="month" value="<!-- TMPL_VAR name="month" -->" />
				<input type="hidden" name="year" value="<!-- TMPL_VAR name="year" -->" />
			 	<!-- TMPL_UNLESS name="RENEW_ISSUE" --><input type="submit" value="Confirm Issue" class="submit" accesskey="y" /></form><form class="inline" method="get" action="/cgi-bin/koha/circ/circulation.pl"><input type="hidden" name="borrnumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" /><input type="submit" class="cancel" value="Don't Issue" accesskey="n" /><!--/TMPL_UNLESS--></form></div>
			</div>
			<!-- /TMPL_UNLESS -->
		<!-- /TMPL_IF -->
		<!-- /TMPL_IF -->
		
		<!-- TMPL_IF NAME="issued" -->
			<div class="error"><p>Item issued</p></div>
		<!-- /TMPL_IF -->
	
	<div class="details">
	<!-- TMPL_IF NAME="message" -->
	<div class="details">
	No patron matched <span class="ex"><!-- TMPL_VAR name="message" --></span> <a href="/cgi-bin/koha/members/memberentry.pl?actionType=Add">Add a new patron</a>
	</div>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF NAME="CGIselectborrower" -->
	<form method="post" action="/cgi-bin/koha/circ/circulation.pl" id="mainform" name="mainform">
		<input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
		<input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
	<label for="borrnumber">Select a borrower: </label>
		<style type="text/css">
		option:hover {
			background-color : #f0f0f0;
			color : #000099;
		}
	</style>
	<p><!-- TMPL_VAR name="CGIselectborrower" --></p>
	<p><input type="submit" class="submit" value="Select" /></p>
	<p>Patron not found? <a href="/cgi-bin/koha/members/memberentry.pl?actionType=Add">Add a new patron</a></p>
	</form>
	<!-- TMPL_ELSE -->
		<!-- TMPL_IF NAME="borrowernumber" -->
	<div id="notes">                                							
	<ul>
	<li><!-- TMPL_VAR NAME="streetaddress" -->, <!-- TMPL_VAR NAME="city" --></li>
	<!-- TMPL_IF NAME="phone" --><li><!-- TMPL_VAR NAME="phone" --></li><!--/TMPL_IF-->
	<!-- TMPL_IF NAME="emailaddress" --><li><a href="mailto:<!-- TMPL_VAR NAME="emailaddress" -->"><!-- TMPL_VAR NAME="emailaddress" --></a></li><!-- /TMPL_IF -->
	<li>Category: <!-- TMPL_VAR name="categorycode" --></li>
	<li>(<a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR name="borrowernumber" -->">details</a> / <a href="/cgi-bin/koha/members/memberentry.pl?borrowernumber=<!-- TMPL_VAR name="borrowernumber" -->&amp;modify=edit&amp;destination=circ">edit</a>)</li>
	</ul>
	</div><table width= "70%"><tr><td>

	<h3><!-- TMPL_VAR name="firstname" --> <!-- TMPL_VAR name="surname" --> (<!-- TMPL_VAR NAME="cardnumber" -->)</h3>
	<h4> &nbsp; &nbsp; <!-- TMPL_VAR NAME="issuecount" --> out<!-- TMPL_IF NAME="overduecount" -->, <span class="error"><!-- TMPL_VAR name="overduecount" --> overdue</span><!-- /TMPL_IF --></h4><br clear="right" />
	</td><td><img src="<!-- TMPL_VAR NAME="borrowerphoto" -->" alt="Photo" hspace="0" vspace="0" border="0" width="100px" heigth="100px" style="clear:both;float:right;position:relative;">
	</td></tr></table>
									
						


<!-- TMPL_IF NAME="flagged" -->
</div><div class="details">
<ul>
<!-- TMPL_IF NAME="gna" -->
<li><span class="error">Address:</span> Patron's address in doubt</li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="lost" -->
<li><span class="error">Lost:</span> Patron's card is lost</li>
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="dbarred" -->
<li><span class="error">Debarred:</span> Patron is debarred <form class="inline compact" action="/cgi-bin/koha/members/setdebar.pl" method="post"><input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" /><input type="hidden" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" /><input type="hidden" value="circ" name="destination" /><input type="hidden" name="status" value="0" /><input type="submit" class="submit" value="Lift Debarment" /></form></li>
<!-- /TMPL_IF -->
<!-- TMPL_IF name="odues" -->	<li><!-- TMPL_IF name="nonreturns" -->
					<span class="error">Overdues:</span> Patron has <span class="error">ITEMS OVERDUE</span> See highlighted items <a href="#previous">below</a>
				<!-- /TMPL_IF --></li><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="noissues" -->
<!-- TMPL_IF NAME="charges" --><li><span class="error">Fines:</span> Patron has <a href="/cgi-bin/koha/members/boraccount.pl?bornum=<!-- TMPL_VAR name="borrowernumber" -->">outstanding fines</a>. Make <a href="/cgi-bin/koha/members/pay.pl?bornum=<!-- TMPL_VAR name="borrowernumber" -->">Payment</a></li><!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
	<!-- TMPL_IF name="charges" --><li>Fines: Patron has <a href="/cgi-bin/koha/members/boraccount.pl?bornum=<!-- TMPL_VAR name="borrowernumber" -->">outstanding fines</a>. Make <a href="/cgi-bin/koha/members/pay.pl?bornum=<!-- TMPL_VAR name="borrowernumber" -->">Payment</a></li><!-- /TMPL_IF -->
<!-- /TMPL_IF -->
</ul>

<dl>
		
<!-- TMPL_IF name="waiting" -->
		<dt>Reserves waiting:</dt>
			<dd><ul><!-- TMPL_LOOP name="itemswaiting" -->
				<li><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR name="biblionumber" -->&amp;type=intra"><!-- TMPL_VAR name="title" --></a> (<!-- TMPL_VAR name="barcode" --> -- <!-- TMPL_VAR name="branchname" -->)</li>
			<!-- /TMPL_LOOP -->
			</ul></dd>
		<!-- /TMPL_IF -->

		<!-- TMPL_IF name="notes" -->
					<dt>Notes:</dt> <dd class="error"><!-- TMPL_VAR name="notesmsg" --></dd>
				<!-- /TMPL_IF -->
</dl>
<!-- /TMPL_IF -->
	<!-- TMPL_ELSE -->
	<!-- No card entered yet -->
	<form method="post" action="/cgi-bin/koha/circ/circulation.pl" name="mainform" id="mainform">
<label for="findborrower">Enter borrower card number or partial last name: </label>
				<input name="findborrower" type="text" size="40" />
					<input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
					<input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
				<input type="submit" class="submit" value="Submit" />
				</form>
		<!-- /TMPL_IF -->
	<!-- /TMPL_IF -->
	</div>

<!-- BARCODE ENTRY -->

<!-- TMPL_IF NAME="borrowernumber" -->
	<div class="details">
	<form method="post" action="/cgi-bin/koha/circ/circulation.pl" name="mainform">
<label for="barcode">Enter Item Barcode: </label><input name="barcode" size="14" maxlength="14"class="unfocus" onfocus="this.className='focus'" onblur="this.className='unfocus'" /> <input type="submit" value="Issue" class="submit" /><!-- Display for NPL <input type="hidden" name="day" value="0" /><input type="hidden" name="month" value="0" /><input type="hidden" name="year" value="0" /> /Display for NPL -->
	<p><input type="hidden" name="day" value="0" /><input type="hidden" name="month" value="0" /><input type="hidden" name="year" value="0" />
	<!--/TMPL_IF-->		
		<input type="hidden" name="borrnumber" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
		<input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
		<input type="hidden" name="printer" value="<!-- TMPL_VAR NAME="printer" -->" />
		<input type="hidden" name="print" value="maybe" />
		<!-- TMPL_IF NAME="CHARGES" -->
			<input type="hidden" name="charges" value="yes" />
			<input type="hidden" name="oldamount" value="<!-- TMPL_VAR NAME="amountold" -->" />
		<!-- /TMPL_IF -->
		</p>
	</form>
	</div>






<!-- SUMMARY : TODAY & PREVIOUS ISSUES -->
<!-- TMPL_IF NAME="borrowernumber" -->
<div class="table"><form class="inline" action="/cgi-bin/koha/circ/renewscript.pl" method="post"><input type="hidden" value="circ" name="destination" /><input type="hidden" name="cardnumber" value="<!-- TMPL_VAR NAME="cardnumber" -->" /><input type="hidden" name="bornum" value="<!-- TMPL_VAR NAME="borrowernumber" -->" />
	<table>
		<caption>Issues <span class="print"><a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;print=page">(Print Page)</a> <a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR NAME="borrowernumber" -->&amp;print=slip">(Print Slip)</a></span></caption>
		<tr><th>Format</th>
			<th>Due Date</th>
			<th>Title</th>
			<th>Author</th>
			<th>Call No</th>
			<th>Barcode</th>
			<th>Renew?</th>
		</tr>
	<!-- TMPL_IF NAME="todayissues" -->
		<!-- TMPL_LOOP NAME="todayissues" -->
		<!-- TMPL_IF NAME="tcolor" --><tr><!-- TMPL_ELSE --><tr class="highlight"><!-- /TMPL_IF -->
			
			<td><!-- TMPL_VAR NAME="itemtype" --></td>
			<td><!-- TMPL_VAR NAME="dd" --></td>
			<td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;type=intra"><!-- TMPL_VAR NAME="title" --></a><br/><i><!-- TMPL_VAR name="itemnotes" --></i></td>
			<td><!-- TMPL_IF NAME="author" --><!-- TMPL_VAR NAME="author" --><!-- TMPL_ELSE --><!-- TMPL_VAR NAME="additionalauthor" --><!-- /TMPL_IF --></td>
			<td><!-- TMPL_VAR NAME="classification" --></td>
			<td><!-- TMPL_VAR NAME="barcode" --></td>
		</tr>
		<!-- /TMPL_LOOP -->
	
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="previssues" -->
		<tr><th colspan="7"><a name="previous" id="previous">Previous Issues</a></th></tr>
		<!-- TMPL_LOOP NAME="previssues" -->
			<!-- TMPL_IF NAME="tcolor" --><tr><!-- TMPL_ELSE --><tr class="highlight"><!-- /TMPL_IF -->
			
			<td><!-- TMPL_VAR NAME="itemtype" --></td>
			<td><!-- TMPL_IF NAME="od" --><span class="error"><!-- /TMPL_IF --><!-- TMPL_VAR NAME="dd" --><!-- TMPL_IF NAME="od" --></span><!-- /TMPL_IF --></td>
			<td><a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;type=intra"><!-- TMPL_VAR NAME="title" --></a><br/><i><!-- TMPL_VAR name="itemnotes" --></i></td>
			<td><!-- TMPL_VAR NAME="author" --></td>
			<td><!-- TMPL_VAR NAME="classification" --></td>
			<td><!-- TMPL_VAR NAME="barcode" --></td>
			<td><input type="checkbox" name="renew_item_<!-- TMPL_VAR NAME="itemnumber" -->" value="y"<!-- TMPL_IF NAME="od" --> checked="checked"<!-- /TMPL_IF --> /></td></tr>
		<!-- /TMPL_LOOP -->
	</table>
	
	<p><input type="submit" class="submit" value="Renew Checked Items" /></p>
<!-- /TMPL_IF -->
</form>

	
</div>

<!-- /TMPL_IF -->


<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->

