<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Catalogue &rsaquo; Checkout History for <!-- TMPL_VAR NAME="title" --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>

<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalogue</a>  &rsaquo; Checkout History for <i><!-- TMPL_VAR NAME="title" --></i></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Checkout history for <!-- TMPL_VAR NAME="title" --> <!-- TMPL_IF NAME="author" -->(<!-- TMPL_VAR NAME="author" -->)<!-- /TMPL_IF --> </h1>

<div class="searchresults">
    <!-- TMPL_IF NAME="issues" -->
        <p><b>Has been checked out <!-- TMPL_VAR NAME="total" --> times</b></p>
        <table>
            <tr><th>Date</th>
            <th>Surname</th>
            <th>Firstname</th>
            <th>Barcode</th>
            <th>Library</th>
            <th>Issuing Library</th>
            <th>Renew</th>
            <th>Date due</th>
            <th>Return date</th></tr>
        <!-- TMPL_LOOP NAME="issues" -->
            <tr>
                <td><!-- TMPL_IF NAME="issuedate" -->
                        <!-- TMPL_VAR NAME="issuedate" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="surname" -->
                        <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!-- TMPL_VAR NAME="borrowernumber" -->">
                            <!-- TMPL_VAR NAME="surname" -->
                        </a>
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="firstname" -->
                        <!-- TMPL_VAR NAME="firstname" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="barcode" -->
                        <!-- TMPL_VAR NAME="barcode" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="branchcode" -->
                        <!-- TMPL_VAR NAME="branchcode" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="issuingbranch" -->
                        <!-- TMPL_VAR NAME="issuingbranch" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="renewals"-->
                        YES<br />
                        <small>
                            <!-- TMPL_IF NAME="lastreneweddate" -->
                                last on: <!-- TMPL_VAR NAME="lastreneweddate" -->
                            <!-- /TMPL_IF -->
                        </small>
                    <!-- TMPL_ELSE -->
                        NO
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="date_due" -->
                        <!-- TMPL_VAR NAME="date_due" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
                <td><!-- TMPL_IF NAME="returndate" -->
                        <!-- TMPL_VAR NAME="returndate" -->
                    <!-- TMPL_ELSE -->
                        &nbsp;
                    <!-- /TMPL_IF --></td>
           </tr>
        <!-- /TMPL_LOOP -->
		</table>
    <!-- TMPL_ELSE -->
        <p>
        <b><!-- TMPL_VAR NAME="title" -->(<!-- TMPL_VAR NAME="author" -->)</b> <span class="problem">has never been checked out.</span></p>
        
    <!-- /TMPL_IF -->
</div>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="biblio-view-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
