[%- USE CGI -%]
{
  "sEcho": [% CGI.param('sEcho') %],
  "iTotalRecords": [% total_rows %],
  "iTotalDisplayRecords": [% total_rows %],
  "aaData": [
  [%- FOREACH item IN results -%]
    [%- INCLUDE 'catalogue/itemsearch_item.json.inc' item = item -%]
    [%- UNLESS loop.last %],[% END -%]
  [%- END -%]
  ]
}
