[% USE CGI %]
[% USE JSON.Escape %]

[% BLOCK form_label %]
  [% SWITCH label %]
    [% CASE 'barcode' %]<span>Barcode</span>
    [% CASE 'itemcallnumber' %]<span>Call number</span>
    [% CASE 'stocknumber' %]<span>Inventory number</span>
    [% CASE 'title' %]<span>Title</span>
    [% CASE 'author' %]<span>Author</span>
    [% CASE 'publishercode' %]<span>Publisher</span>
    [% CASE 'publicationyear' %]<span>Publication date</span>
    [% CASE 'collectiontitle' %]<span>Collection</span>
    [% CASE 'isbn' %]<span>ISBN</span>
    [% CASE 'issn' %]<span>ISSN</span>
    [% CASE 'homebranch' %]<span>Home library</span>
    [% CASE 'All libraries' %]<span>All libraries</span>
    [% CASE 'location' %]<span>Shelving location</span>
    [% CASE 'All locations' %]<span>All locations</span>
    [% CASE 'itype' %]<span>Item type</span>
    [% CASE 'All item types' %]<span>All item types</span>
    [% CASE 'ccode' %]<span>Collection code</span>
    [% CASE 'All collection codes' %]<span>All collection codes</span>
    [% CASE 'notforloan' %]<span>Status</span>
    [% CASE 'All statuses' %]<span>All statuses</span>
    [% CASE 'damaged' %]<span>Damaged</span>
    [% CASE 'itemlost' %]<span>Lost</span>
  [% END %]
[% END %]

[% BLOCK form_field_select %]
  <div class="form-field form-field-select">
    <label class="form-field-label" for="[% name %]">[% INCLUDE form_label label=name %]</label>
    <select id="[% name %]_op" name="[% name %]_op">
      <option value="=">is</option>
      [% IF CGI.param(name _ '_op') == '!=' %]
        <option value="!=" selected="selected">is not</option>
      [% ELSE %]
        <option value="!=" >is not</option>
      [% END %]
    </select>
    [% values = CGI.param(name) %]
    <select id="[% name %]" name="[% name %]" multiple="multiple" size="[% options.size < 4 ? options.size + 1 : 4 %]">
      [% IF (values == '') %]
        <option value="" selected="selected">
      [% ELSE %]
        <option value="">
      [% END %]
        [% IF (empty_option) %][% INCLUDE form_label label=empty_option %][% ELSE %]<span>All</span>[% END %]
      </option>
      [% FOREACH option IN options %]
        [% IF values != '' && values.grep(option.value).size %]
          <option value="[% option.value %]" selected="selected">[% option.label %]</option>
        [% ELSE %]
          <option value="[% option.value %]">[% option.label %]</option>
        [% END %]
      [% END %]
    </select>
  </div>
[% END %]

[% BLOCK form_field_select_option %]
  [% IF params.f == value %]
    <option value="[% value %]" selected="selected">[% INCLUDE form_label label=value %]</option>
  [% ELSE %]
    <option value="[% value %]">[% INCLUDE form_label label=value %]</option>
  [% END %]
[% END %]

[% BLOCK form_field_select_text %]
  <div class="form-field form-field-select-text">
    [% IF params.exists('c') %]
      <select name="c" class="form-field-conjunction">
        <option value="and">AND</option>
        [% IF params.c == 'or' %]
          <option value="or" selected="selected">OR</option>
        [% ELSE %]
          <option value="or">OR</option>
        [% END %]
      </select>
    [% ELSE %]
      <select name="c" class="form-field-conjunction" disabled="disabled">
        <option value="and">AND</option>
        <option value="or">OR</option>
      </select>
    [% END %]
    <select name="f" class="form-field-column">
      [% INCLUDE form_field_select_option value='barcode' %]
      [% INCLUDE form_field_select_option value='itemcallnumber' %]
      [% INCLUDE form_field_select_option value='stocknumber' %]
      [% INCLUDE form_field_select_option value='title' %]
      [% INCLUDE form_field_select_option value='author' %]
      [% INCLUDE form_field_select_option value='publishercode' %]
      [% INCLUDE form_field_select_option value='publicationyear' %]
      [% INCLUDE form_field_select_option value='collectiontitle' %]
      [% INCLUDE form_field_select_option value='isbn' %]
      [% INCLUDE form_field_select_option value='issn' %]
      [% IF items_search_fields.size %]
        <optgroup label="Custom search fields">
          [% FOREACH field IN items_search_fields %]
            [% marcfield = field.tagfield %]
            [% IF field.tagsubfield %]
              [% marcfield = marcfield _ '$' _ field.tagsubfield %]
            [% END %]
            [% IF params.f == "marc:$marcfield" %]
              <option value="marc:[% marcfield %]" data-authorised-values-category="[% field.authorised_values_category %]" selected="selected">[% field.label %] ([% marcfield %])</option>
            [% ELSE %]
              <option value="marc:[% marcfield %]" data-authorised-values-category="[% field.authorised_values_category %]">[% field.label %] ([% marcfield %])</option>
            [% END %]
          [% END %]
        </optgroup>
      [% END %]
    </select>
    <input type="text" name="q" class="form-field-value" value="[% params.q %]" />
    <input type="hidden" name="op" value="like" />
  </div>
[% END %]

[% BLOCK form_field_select_text_block %]
  [% c = CGI.param('c').list %]
  [% f = CGI.param('f').list %]
  [% q = CGI.param('q').list %]
  [% op = CGI.param('op').list %]
  [% IF q.size %]
    [% size = q.size - 1 %]
    [% FOREACH i IN [0 .. size] %]
      [%
        params = {
          f => f.$i
          q = q.$i
          op = op.$i
        }
      %]
      [% IF i > 0 %]
        [% j = i - 1 %]
        [% params.c = c.$j %]
      [% END %]
      [% INCLUDE form_field_select_text params=params %]
    [% END %]
  [% ELSE %]
    [% INCLUDE form_field_select_text %]
  [% END %]
[% END %]

[% BLOCK form_field_radio_yes_no %]
  <div class="form-field">
    <label class="form-field-label">[% INCLUDE form_label label=name %]:</label>
    <input type="radio" name="[% name %]" id="[% name %]_indifferent" value="" checked="checked"/>
    <label for="[% name %]_indifferent">Ignore</label>
    <input type="radio" name="[% name %]" id="[% name %]_yes" value="yes" />
    <label for="[% name %]_yes">Yes</label>
    <input type="radio" name="[% name %]" id="[% name %]_no" value="no" />
    <label for="[% name %]_no">No</label>
  </div>
[% END %]

[%# Page starts here %]

[% INCLUDE 'doc-head-open.inc' %]
  <title>Koha &rsaquo; Catalog &rsaquo; Item search</title>
  [% INCLUDE 'doc-head-close.inc' %]
  <link rel="stylesheet" type="text/css" href="[% themelang %]/css/datatables.css" />
  [% INCLUDE 'datatables.inc' %]
  <script type="text/javascript" src="[% interface %]/lib/jquery/plugins/jquery.dataTables.columnFilter.js"></script>
  <link rel="stylesheet" type="text/css" href="[% themelang %]/css/itemsearchform.css" />
  <script type="text/javascript">
    //<![CDATA[
    var authorised_values = [% authorised_values_json %];

    function loadAuthorisedValuesSelect(select) {
      var selected = select.find('option:selected');
      var category = selected.data('authorised-values-category');
      var form_field_value = select.siblings('.form-field-value');
      if (category && category in authorised_values) {
        var values = authorised_values[category];
        var html = '<select name="q" class="form-field-value">\n';
        for (i in values) {
          var value = values[i];
          html += '<option value="' + value.authorised_value + '">' + value.lib + '</option>\n';
        }
        html += '</select>\n';
        var new_form_field_value = $(html);
        new_form_field_value.val(form_field_value.val());
        form_field_value.replaceWith(new_form_field_value);
      } else {
        if (form_field_value.prop('tagName').toLowerCase() == 'select') {
          html = '<input name="q" type="text" class="form-field-value" />';
          var new_form_field_value = $(html);
          form_field_value.replaceWith(new_form_field_value);
        }
      }
    }

    function addNewField() {
      var form_field = $('div.form-field-select-text').last();
      var copy = form_field.clone(true);
      copy.find('input,select').not('[type="hidden"]').each(function() {
        $(this).val('');
      });
      copy.find('.form-field-conjunction').removeAttr('disabled');
      form_field.after(copy);
      copy.find('select.form-field-column').change();
    }

    function submitForm($form) {
      var tr = ''
        + '    <tr>'
        + '      <th>' + _("Title") + '</th>'
        + '      <th>' + _("Publication date") + '</th>'
        + '      <th>' + _("Publisher") + '</th>'
        + '      <th>' + _("Collection") + '</th>'
        + '      <th>' + _("Barcode") + '</th>'
        + '      <th>' + _("Call number") + '</th>'
        + '      <th>' + _("Home library") + '</th>'
        + '      <th>' + _("Current location") + '</th>'
        + '      <th>' + _("Shelving location") + '</th>'
        + '      <th>' + _("Inventory number") + '</th>'
        + '      <th>' + _("Status") + '</th>'
        + '      <th>' + _("Checkouts") + '</th>'
        + '      <th></th>'
        + '    </tr>'
      var table = ''
        + '<table id="results">'
        + '  <thead>' + tr + tr + '</thead>'
        + '  <tbody></tbody>'
        + '</table>';
      var results_heading = "<h1>" + _("Item search results") + "</h1>";
      results_heading += "<p><a href=\"/cgi-bin/koha/catalogue/search.pl\">" + _("Go to advanced search") + "</a></p>";
      results_heading += "<p><a class=\"editsearchlink\" href=\"#\">" + _("Edit search") + "</a></p>";
      $('#results-wrapper').empty().html(results_heading + table);

      var params = [];
      $form.find('select').not('[disabled]').find('option:selected').each(function () {
        var name = $(this).parent('select').attr('name');
        var value = $(this).val();
        params.push({ 'name': name, 'value': value });
      });
      $form.find('input[type="text"],input[type="hidden"]').not('[disabled]').each(function () {
        params.push({ 'name': $(this).attr('name'), 'value': $(this).val() });
      });
      $form.find('input[type="radio"]:checked').each(function() {
        params.push({ 'name': $(this).attr('name'), 'value': $(this).val() });
      });

      $('#results').dataTable($.extend(true, {}, dataTablesDefaults, {
        'bDestroy': true,
        'bServerSide': true,
        'bProcessing': true,
        'sAjaxSource': '/cgi-bin/koha/catalogue/itemsearch.pl',
        'fnServerData': function(sSource, aoData, fnCallback) {
          aoData.push( { 'name': 'format', 'value': 'json' } );
          for (i in params) {
            aoData.push(params[i]);
          }
          $.ajax({
              'dataType': 'json',
              'type': 'POST',
              'url': sSource,
              'data': aoData,
              'success': function(json){
                  fnCallback(json);
              }
          });
        },
        'sDom': '<"top pager"ilp>t<"bottom pager"ip>r',
        'aoColumns': [
          { 'sName': 'title' },
          { 'sName': 'publicationyear' },
          { 'sName': 'publishercode' },
          { 'sName': 'collectiontitle' },
          { 'sName': 'barcode' },
          { 'sName': 'itemcallnumber' },
          { 'sName': 'homebranch' },
          { 'sName': 'holdingbranch' },
          { 'sName': 'location' },
          { 'sName': 'stocknumber' },
          { 'sName': 'notforloan' },
          { 'sName': 'issues' },
          { 'sName': 'checkbox', 'bSortable': false }
        ],
        "sPaginationType": "full_numbers"
      })).columnFilter({
        'sPlaceHolder': 'head:after',
        'aoColumns': [
          { 'type': 'text' },
          { 'type': 'text' },
          { 'type': 'text' },
          { 'type': 'text' },
          { 'type': 'text' },
          { 'type': 'text' },
          { 'type': 'select', 'values': [% branches.json %] },
          { 'type': 'select', 'values': [% branches.json %] },
          { 'type': 'select', 'values': [% locations.json %] },
          { 'type': 'text' },
          { 'type': 'select', 'values': [% notforloans.json %] },
          { 'type': 'text' },
          null
        ]
      });
    }

    function hideForm() {
      $("#item-search-block").hide();
      $('.editsearchlink').show();
    }

    $(document).ready(function () {
      // Add the "New field" link.
      var form_field = $('div.form-field-select-text').last()
      var NEW_FIELD = _("New field");
      var button_field_new = $('<a href="#" class="button-field-new" title="Add a new field">' + NEW_FIELD + '</a>');
      button_field_new.click(function() {
        addNewField();
        return false;
      });
      form_field.after(button_field_new);

      // If a field is linked to an authorised values list, display the list.
      $('div.form-field-select-text select').change(function() {
        loadAuthorisedValuesSelect($(this));
      }).change();

      // Prevent user to select the 'All ...' option with other options.
      $('div.form-field-select').each(function() {
        $(this).find('select').filter(':last').change(function() {
          values = $(this).val();
          if (values.length > 1) {
            var idx = $.inArray('', values);
            if (idx != -1) {
              values.splice(idx, 1);
              $(this).val(values);
            }
          }
        });
      });

      $('#itemsearchform').submit(function() {
        var searchform = $(this);
        var format = searchform.find('input[name="format"]:checked').val();
        if (format == 'html') {
          submitForm(searchform);
          hideForm();
          return false;
        }
      });

      $("body").on("click",".editsearchlink",function(e) {
        e.preventDefault();
        $('#item-search-block').show();
        $(this).hide();
        return false;
      });
    });
    //]]>
  </script>
</head>
<body id="catalog_itemsearch" class="catalog">
  [% INCLUDE 'header.inc' %]
  <div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a> &rsaquo; Item search
  </div>

  <div id="doc" class="yui-t7">
    <div id="item-search-block">
      <h1>Item search</h1>
      <p><a href="/cgi-bin/koha/catalogue/search.pl">Go to advanced search</a></p>
      <form action="/cgi-bin/koha/catalogue/itemsearch.pl" method="get" id="itemsearchform">
          <fieldset>
            [% INCLUDE form_field_select
              name="homebranch"
              options = branches
              empty_option = "All libraries"
            %]
            [% INCLUDE form_field_select
              name="location"
              options = locations
              empty_option = "All locations"
            %]
          </fieldset>
          <fieldset>
            [% INCLUDE form_field_select
              name="itype"
              options = itemtypes
              empty_option = "All item types"
            %]
            [% INCLUDE form_field_select
              name="ccode"
              options = ccodes
              empty_option = "All collection codes"
            %]
            [% INCLUDE form_field_select
              name="notforloan"
              options = notforloans
              empty_option = "All statuses"
            %]
          </fieldset>
          <fieldset>
            [% INCLUDE form_field_select_text_block %]
            <p class="hint">You can use the following wildcard characters: % _</p>
            <p class="hint">% matches any number of characters</p>
            <p class="hint">_ matches only a single character</p>
          </fieldset>
          <fieldset>
            <div class="form-field">
              <label class="form-field-label" for="itemcallnumber_from">From call number:</label>
              [% value = CGI.param('itemcallnumber_from') %]
              <input type="text" id="itemcallnumber_from" name="itemcallnumber_from" value="[% value %]" />
              <span class="hint">(inclusive)</span>
            </div>
            <div class="form-field">
              [% value = CGI.param('itemcallnumber_to') %]
              <label class="form-field-label" for="itemcallnumber_to">To call number:</label>
              <input type="text" id="itemcallnumber_to" name="itemcallnumber_to" value="[% value %]" />
              <span class="hint">(inclusive)</span>
            </div>
            [% INCLUDE form_field_radio_yes_no name="damaged" %]
            [% INCLUDE form_field_radio_yes_no name="itemlost" %]
            <div class="form-field">
              <label class="form-field-label" for="issues_op">Checkout count:</label>
              <select id="issues_op" name="issues_op">
                <option value=">">&gt;</option>
                <option value="<">&lt;</option>
                <option value="=">=</option>
                <option value="!=">!=</option>
              </select>
              <input type="text" name="issues" />
            </div>
            <div class="form-field">
              <label class="form-field-label" for="datelastborrowed_op">Last checkout date:</label>
              <select id="datelastborrowed_op" name="datelastborrowed_op">
                <option value=">">After</option>
                <option value="<">Before</option>
                <option value="=">On</option>
              </select>
              <input type="text" name="datelastborrowed" />
              <span class="hint">ISO Format (YYYY-MM-DD)</span>
            </div>
          </fieldset>
          <fieldset>
            <div class="form-field-radio">
              <label>Output:</label>
              <input type="radio" id="format-html" name="format" value="html" checked="checked" /> <label for="format-html">Screen</label>
              <input type="radio" id="format-csv" name="format" value="csv" /> <label for="format-csv">CSV</label>
            </div>
            <div class="form-actions">
              <input type="submit" value="Search" />
            </div>
          </fieldset>
      </form>

      <p><a id="editsearchlink" href="#" style="display:none">Edit search</a></p>
    </div>
  </div>
  <div id="doc3" class="yui-t7">
      <div id="results-wrapper">
        [% IF search_done %]
          [% IF total_rows > 0 %]
            <p>Found [% total_rows %] results.</p>
          [% ELSE %]
            <p>No results found.</p>
          [% END %]

          [% IF results %]
            [% INCLUDE 'catalogue/itemsearch_items.inc' items = results %]
          [% END %]

          <div class="pages">
            [% pagination_bar %]
          </div>

        [% END %]
      </div>

    [% INCLUDE 'intranet-bottom.inc' %]
