[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]

<title>Koha &rsaquo; Catalog &rsaquo;
  [% IF ( unknownbiblionumber ) %]
    Unknown record
  [% ELSE %]
    Labeled MARC details for [% bibliotitle | html %]
  [% END %]
</title>

	[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="catlaog_labeledMARCdetail" class="catalog">
	[% INCLUDE 'header.inc' %]
	[% INCLUDE 'cat-search.inc' %]

	<div id="breadcrumbs">
		<a href="/cgi-bin/koha/mainpage.pl">Home</a>
		&rsaquo; <a href="/cgi-bin/koha/catalogue/search.pl">Catalog</a> &rsaquo;
		[% IF ( unknownbiblionumber ) %]
		  Unknown record
		[% ELSE %]
            MARC details for <i>[% bibliotitle | html %]</i>
		[% END %]
	</div>

	<div id="doc3" class="yui-t2">

	[% IF ( unknownbiblionumber ) %]
	  <div class="dialog message">The record you requested does not exist ([% biblionumber | html %]).</div>
	[% ELSE %]

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					[% INCLUDE 'cat-toolbar.inc' %]

					[% UNLESS ( popup ) %]
                        <h1>Labeled MARC biblio : [% biblionumber | html %]  ( [% bibliotitle | html %] )</h1>
					[% END %]
                    <p><b>With framework:
                    <select name="Frameworks" id="Frameworks" size="1" onchange="Changefwk(this);">
                        <option value="">Default</option>
                        [% FOREACH framework IN frameworks %]
                        [% IF framework.frameworkcode == frameworkcode %]
                            <option value="[% framework.frameworkcode | html %]" selected="selected">[% framework.frameworktext | html %]</option>
                        [% ELSE %]
                            <option value="[% framework.frameworkcode | html %]">[% framework.frameworktext | html %]</option>
                        [% END %]
                        [% END %]
                    </select>
                    </b></p>
					<!-- div id="bibliotabs" class="toptabs numbered" -->
					<div>
						<table class="labeledmarc-table">
							[% FOREACH marc_dat IN marc_data %]
								<tr>
									<td class="labeledmarc-label">[% marc_dat.label | html %]</td>
									<td class="labeledmarc-value">[% marc_dat.value | html %]</td>
								</tr>
							[% END %]
						</table>
					</div>
				</div>
			</div>
			<div class="yui-b">

				[% INCLUDE 'biblio-view-menu.inc' %]

		</div>
	[% END %]
	</div>

[% MACRO jsinclude BLOCK %]
    [% INCLUDE 'catalog-strings.inc' %]
    [% Asset.js("js/catalog.js") | $raw %]
    [% INCLUDE 'browser-strings.inc' %]
    [% Asset.js("js/browser.js") | $raw %]
    <script type="text/javascript">
    //<![CDATA[
        var browser = KOHA.browser('[% searchid | html %]', parseInt('[% biblionumber | html %]', 10));
        browser.show();
        $(document).ready(function() {
            $("#Frameworks").on("change",function(){
                Changefwk(this);
            });
        });
        function Changefwk(FwkList)
        {
            var fwk = FwkList.options[FwkList.selectedIndex].value;
            window.location = "labeledMARCdetail.pl?biblionumber=[% biblionumber | html %]&frameworkcode="+fwk;
        }
    //]]>
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
