<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Acquisitions &rsaquo; Résumé de réception pour : <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->Facture,  <!-- TMPL_VAR NAME="invoice" --><!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="acquisitions-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Accueil</a> &rsaquo; <a href="/cgi-bin/koha/acqui/acqui-home.pl">Acquisitions</a> &rsaquo; Réception de commande pour <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->Colis <!-- TMPL_VAR NAME="invoice" --><!-- /TMPL_IF --> (Commande N°<!-- TMPL_VAR NAME="ordernumber" -->)</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Récapitulatif de réception pour : <!-- TMPL_VAR NAME="name" --> <!-- TMPL_IF NAME="invoice" -->Colis <!-- TMPL_VAR NAME="invoice" --><!-- /TMPL_IF --> (Commande N°<!-- TMPL_VAR NAME="ordernumber" -->)</h1>

<!-- TMPL_IF name="count" -->
<div id="acqui_acquire_neworder">
    
    <form action="/cgi-bin/koha/acqui/finishreceive.pl" method="post">
    <fieldset>
    <legend>Détails du catalogue</legend>
    <p>Titre <!-- TMPL_VAR NAME="title" --></p>
    <p> Auteur <!-- TMPL_VAR NAME="author" --></p>
    <p> Date de copyright <!-- TMPL_VAR NAME="copyrightdate" --></p>
    
    <p> ISBN <!-- TMPL_VAR NAME="isbn" --></p>
    <p> Collections <!-- TMPL_VAR NAME="seriestitle" --></p>
    <p> <label>Code à barres de l'exemplaire</label>
        <input type="text" size="20" name="barcode" value="<!-- TMPL_VAR NAME="barcode" -->" /></p>
    <p> <label>Infos sur le volume (pour les périodiques)</label>
        <input type="text" size="20" name="volinf" /></p>
    <input type="hidden" name="biblionumber" value="<!-- TMPL_VAR NAME="biblionumber" -->" />
    <input type="hidden" name="ordnum" value="<!-- TMPL_VAR NAME="ordernumber" -->" />
    <input type="hidden" name="biblioitemnumber" value="<!-- TMPL_VAR NAME="biblioitemnumber" -->" />
    <input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->" />
    <input type="hidden" name="daterecieved" value="<!-- TMPL_VAR NAME="daterecieved" -->" />
    <input type="hidden" name="freight" value="<!-- TMPL_VAR NAME="freight" -->" />
    <input type="hidden" name="gst" value="<!-- TMPL_VAR NAME="gst" -->" />
    </fieldset>
    <fieldset>
    <legend>Détails de comptabilité</legend>
        <p><label>Quantité commandée</label><input type="text" size="20" name="quantity" value="<!-- TMPL_VAR NAME="quantity" -->" /></p>
        <p><label>Quantité reçue</label><input type="text" size="20" name="quantityrec" value="<!-- TMPL_VAR NAME="quantityreceived" -->" /></p>
        <p><label>Coût de remplacement</label><input type="text" size="20" name="rrp" value="<!-- TMPL_VAR NAME="rrp" -->" /></p>
        <p><label>Coût budgété </label><input type="text" size="20" name="ecost" value="<!-- TMPL_VAR NAME="ecost" -->" /></p>
        <p><label>Coût réel</label>
        <!-- TMPL_IF name="unitprice"-->
         <input type="text" size="20" name="cost" value="<!-- TMPL_VAR NAME="unitprice" -->" />
        <!-- TMPL_ELSE -->
            <input type="text" size="20" name="cost" value="<!-- TMPL_VAR name="ecost" -->" />
        <!-- /TMPL_IF --></p>
        <input type="hidden" name="invoice" value="<!-- TMPL_VAR NAME="invoice" -->" />
    <!-- TMPL_IF name="catview" -->
        <input type="submit" name="submit" value="Valider">
    <!-- TMPL_ELSE -->
        <a href="/cgi-bin/koha/acqui/neworderempty.pl?ordnum=<!-- TMPL_VAR NAME="ordernumber" -->&amp;id=<!-- TMPL_VAR NAME="booksellerid" -->">Modifier</a>
    <!-- /TMPL_IF -->
    </fieldset>
    </form>
</div>
<!-- TMPL_ELSE -->
<div id="acqui_acquire_orderlist">
    <table>
    <tr>
        <th>Panier</th>
        <th>ISBN</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>QTé</th>
        <th>Reçu</th>
    </tr>
    <!-- TMPL_LOOP name="loop" -->
        <tr>
            <td><!-- TMPL_VAR NAME="basketno" --></td>
            <td><!-- TMPL_VAR NAME="isbn" --></td>
         <td><a href="orderreceive.pl?daterecieved=<!-- TMPL_VAR NAME="daterecieved" -->&amp;recieve=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblio=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->&amp;gst=<!-- TMPL_VAR NAME="gst" -->&amp;id=<!-- TMPL_VAR NAME="id" -->"><!-- TMPL_VAR NAME="title" --></a></td>
            <td><!-- TMPL_VAR NAME="author" --></td>
            <td><!-- TMPL_VAR NAME="quantity" --></td>
            <td><!-- TMPL_VAR NAME="quantityrecieved" --></td>
        </tr>
    <!-- /TMPL_LOOP -->
    </table>
</div>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="acquisitions-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->