<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Circulation &rsaquo; Transfers to your library</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="circ-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/circ/circulation-home.pl">Circulation</a>  &rsaquo; Transfers to your library</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">


	<h1>Transfers made TO your library on : <!-- TMPL_VAR NAME="show_date" --></h1>
	<!-- TMPL_IF name="branchesloop" -->
            <p>Your library is the destination for the following transfer(s)</p>
            <div id="resultlist">
            <!-- TMPL_LOOP NAME="branchesloop" -->
                <!-- TMPL_IF NAME="branchcode" -->
                <table style="width: 100%">
				<caption>Coming from <!-- TMPL_VAR NAME="branchname" --></caption>
                <tr>
                    <th>Date of transfer</th>
                    <th>Title</th>
                    <th>Reserved by </th>
                    <th>Localisation</th>
                    <th>Action</th>
                </tr>
                <!-- TMPL_LOOP NAME="reserv" -->
                    <tr <!-- TMPL_IF NAME="messcompa" --> class="problem" <!-- /TMPL_IF -->>
                        <td><p><!-- TMPL_VAR NAME="datetransfer" --></p> <!-- TMPL_IF NAME="messcompa" --> check this transfer<!-- /TMPL_IF --></td>
                        <td>
                            <p>
                                <a href="/cgi-bin/koha/catalogue/MARCdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" --></a>
                                &nbsp; (<b><!-- TMPL_VAR NAME="itemtype" --> </b>)
                                <br />Barcode : <!-- TMPL_VAR NAME="barcode" -->
                            </p>
                        </td>
                        <td>
                        <!-- TMPL_IF NAME="borrowername" -->
                            <p>
                                <a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=<!--TMPL_VAR Name="borrowernum"-->">
                                    <!-- TMPL_VAR NAME="borrowername" --> &nbsp; <!-- TMPL_VAR NAME="borrowerfirstname" -->
                                </a>
                                <br /><!-- TMPL_VAR NAME="borrowerphone" --><br />
                                <!-- TMPL_IF NAME="borrowermail" -->
                                    <a href="mailto:<!-- TMPL_VAR NAME="email" -->?subject=Reservation: <!-- TMPL_VAR NAME="title" -->">
                                        <!-- TMPL_VAR NAME="borrowermail" -->
                                    </a>
                                <!--/TMPL_IF-->
                            </p>
                        <!-- TMPL_ELSE -->
                            <p>
                            None
                            </p>
                        <!-- /TMPL_IF -->
                        </td>
                        <td><p><!-- TMPL_VAR NAME="homebranch" --> <!-- TMPL_VAR NAME="itemcallnumber" --></p></td>
                        <td>
                        <!--<form name="dotransfer" action="currenttransfers.pl" method="post">
                                        <input type="hidden" name="itemnumber" value="<!-- TMPL_VAR NAME="itemnumber" -->">
                        <input type="submit" value="Cancel this transfer">
                        </form>-->
                        </td>	
                    </tr>
                <!-- /TMPL_LOOP -->	
                </table>
                <!-- /TMPL_IF -->
            <!-- /TMPL_LOOP -->
            </div>
        <!-- TMPL_ELSE -->
            <p>No transfers to receive</p>
        <!-- /TMPL_IF -->

</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
