[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Circulation &rsaquo; Transfers</title>
[% INCLUDE 'doc-head-close-receipt.inc' %]
<script type="text/javascript">
function printandclose()
{
window.print();
window.close();
}
</script>
</head>
<body id="circ_transfer-slip" class="circ" onload="printandclose();">
<div id="main">

<h5>Date: [% pulldate %]</h5>
<h3>Transfer to [% branchname %]</h3>

<h3>ITEM</h3>
 <h4>[% biblio.title |html %]</h4>
 <h5>[% biblio.author %] </h5>
 <ul>
    [% IF ( item.barcode ) %]<li>[% item.barcode %]</li>[% END %]
    [% IF ( item.itemcallnumber ) %]<li>[% item.itemcallnumber %]</li>[% END %]
 </ul>
[% INCLUDE 'intranet-bottom.inc' %]
