<TMPL_INCLUDE NAME="cat-top.inc">
<center>
<FONT SIZE=6><em>Koha admin page</em></FONT><br><br><br>
<table cellspacing=0 cellpadding=3 width=60%>
<th width="30%" background="/images/background-mem.gif">Table</th><th width="70%" background="/images/background-mem.gif">Meaning</th>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/branches.pl>libraries branches</a></td><td>the differents branches you manage with this koha server</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/aqbudget.pl>budget</a></td><td>the budgets allowed to differents book funds.</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/aqbookfund.pl>book funds</a></td><td>the differents book funds.</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/categorie.pl>categories</a></td><td>the differents types of borrowers.</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/itemtypes.pl>Item types</a></td><td>the supports of an item.</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/currency.pl>Currencies</a></td><td>Currencies of booksellers.</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/printers.pl>Printers</a></td><td>Printers (UNIX paths).</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/stopwords.pl>stopwords</a></td><td>Words deleted during searches</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/z3950servers.pl>Z39.50 Servers</a></td><td>Servers used to download MARC records to Koha</td></tr>
<tr><td valign="top"><a href=/cgi-bin/koha/admin/systempreferences.pl>systempreferences</a></td><td>System preferences</td></tr>



</table>
</center>
<TMPL_INCLUDE NAME="cat-bottom.inc">
