<TMPL_INCLUDE NAME="parameters-top.inc">

<TMPL_IF name="add">
<form action='<TMPL_VAR name=action>' name=Aform method=post>
<input type=hidden name=op value='add_validate'>
<table>
<tr>
	<td>Branch code</td>
	<td>
		<TMPL_IF name="branchcode">
			<input type=hidden name=branchcode value='<TMPL_VAR name=branchcode escape="HTML">'>
			<TMPL_VAR name="branchcode">
		<TMPL_ELSE>
			<input type=text name=branchcode size=5 maxlength=5 value='<TMPL_VAR name=branchcode escape="HTML">'>
		</TMPL_IF>
	</td>
</tr>
<tr>
	<td>Name</td>
	<td><input type=text name=branchname size=40 maxlength=80 value="<TMPL_VAR name=branchname escape="HTML">">&nbsp;</td>
</tr>

<FONT SIZE=6><em><TMPL_VAR name=head></em></FONT><br>

<tr>
	<td><TMPL_VAR name=categoryname></td>
	<td><INPUT TYPE="checkbox" NAME="<TMPL_VAR name=categorycode>" VALUE="1" ><TMPL_VAR name=codedescription></td>
</tr>
<tr>
	<td>Address</td>
	<td><input type=text name=branchaddress1 value='<TMPL_VAR name=branchaddress1 escape="HTML">'></td>
</tr>
<tr><td>&nbsp;</td><td><input type=text name=branchaddress2 value='<TMPL_VAR name=branchaddress2 escape="HTML">'></td></tr>
<tr><td>&nbsp;</td><td><input type=text name=branchaddress3 value='<TMPL_VAR name=branchaddress3 escape="HTML">'></td></tr>
<tr><td>Phone</td><td><input type=text name=branchphone value='<TMPL_VAR name=branchphone escape="HTML">'></td></tr>
<tr><td>Fax</td><td><input type=text name=branchfax value='<TMPL_VAR name=branchfax escape="HTML">'></td></tr>
<tr><td>E-mail</td><td><input type=text name=branchemail value='<TMPL_VAR name=branchemail escape="HTML">'></td></tr>
<tr><td>&nbsp;</td><td><input type=submit value='Submit'></td></tr>
</table>
</form>
</TMPL_IF>

<TMPL_IF name="delete_confirm">
Confirm delete:
<form action='<TMPL_VAR name=action>' method=post><input type='hidden' name='op' value='delete_confirmed'>
<input type='hidden' name='branchcode' value=<TMPL_VAR name=branchcode escape="HTML">>
<input type=submit value=YES></form>
<form action='<TMPL_VAR name=action>' method=post><input type='hidden' name='op' value=''>
<input type=submit value=NO></form>
</TMPL_IF>

<TMPL_IF name="else">
<FONT SIZE=6><em><TMPL_VAR name=head></em></FONT><br>
<font color='red'><TMPL_VAR name="message"></font>
<form action=<TMPL_VAR name=action> method=post><input type='hidden' name='op' value='add'><input type=submit value='Add New Branch'></form>
<table border='1' cellpadding='5' cellspacing='0' width='550'>
<tr> <th colspan='5' align='left' bgcolor='#99cc33'>
<font size='5'><b>Branches</b></font></th> </tr>
<tr bgcolor='#889999'>
<td width='175'><b>Name</b></td>
<td width='25'><b>Code</b></td>
<td width='175'><b>Address</b></td>
<td width='175'><b>Categories</b></td>
<td width='50'><b>&nbsp;</b></td>
</tr>
<TMPL_LOOP name="branches">
<tr bgcolor='<TMPL_VAR name=color>'>
    <td align='left' valign='top'><TMPL_VAR name=branch_name escape="HTML"></td>
    <td align='left' valign='top'><TMPL_VAR name=branch_code escape="HTML"></td>
    <td align='left' valign='top'>
<TMPL_IF name=address-empty-p>
(nothing entered)
<TMPL_ELSE>
<TMPL_IF name=branchaddress1>
<TMPL_VAR name=branchaddress1 escape="HTML"></TMPL_IF>
<TMPL_IF name=branchaddress2>
<br><TMPL_VAR name=branchaddress2 escape="HTML"></TMPL_IF>
<TMPL_IF name=branchaddress3>
<br><TMPL_VAR name=branchaddress3 escape="HTML"></TMPL_IF>
<TMPL_IF name=branchphone>
<br>Ph: <TMPL_VAR name=branchphone escape="HTML"></TMPL_IF>
<TMPL_IF name=branchfax>
<br>Fax: <TMPL_VAR name=branchfax escape="HTML"></TMPL_IF>
<TMPL_IF name=branchemail>
<br>Email: <TMPL_VAR name=branchemail escape="HTML"></TMPL_IF>
</TMPL_IF>
    </td>
    <td align='left' valign='top'>
<TMPL_IF name=no-categories-p>
(no categories set)
<TMPL_ELSE>
<TMPL_LOOP name=category_list>
<TMPL_VAR name=categoryname><br>
</TMPL_LOOP>
</TMPL_IF>
    </td>
    <td align='left' valign='top'>
<form action='<TMPL_VAR name=action>' method=post>
<input type='hidden' name='op' value='edit'>
<input type='hidden' name='branchcode' value='<TMPL_VAR name=value escape="HTML">'>
<input type=submit value=Edit>
</form>
<form action='<TMPL_VAR name=action>' method=post>
<input type='hidden' name='branchcode' value='<TMPL_VAR name=value escape="HTML">'>
<input type='hidden' name='op' value='delete'><input type=submit value=Delete>
</form></td>
</tr>
</TMPL_LOOP>
</table>
<br>
<table border='1' cellpadding='5' cellspacing='0'>
<tr> <th colspan='5' align='left' bgcolor='#99cc33'>
<font size='5'><b>Branches Categories</b></font></th> </tr> 
<tr bgcolor='#889999'> 
<td width='175'><b>Name</b></td> 
<td width='25'><b>Code</b></td> 
<td width='200'><b>Description</b></td>
</tr>
<tr bgcolor='<TMPL_VAR name="color">'>
    <td align='left' valign='top'><TMPL_VAR name=categoryname></td>
    <td align='left' valign='top'><TMPL_VAR name=categorycode></td>
    <td align='left' valign='top'><TMPL_VAR name=codedescription></td>
</tr>
</table>
</TMPL_IF>

<TMPL_INCLUDE NAME="parameters-bottom.inc">
