<!-- TMPL_INCLUDE NAME="parameters-top.inc" -->
<div id="mainbloc">
	<script language="JavaScript" type="text/javascript">
		function _(s) { return s } // dummy function for gettext
		//
		function isNotNull(f,noalert) {
			if (f.value.length ==0) {
	return false;
			}
			return true;
		}
		//
		function toUC(f) {
			var x=f.value.toUpperCase();
			f.value=x;
			return true;
		}
		//
		function isNum(v,maybenull) {
		var n = new Number(v.value);
		if (isNaN(n)) {
			return false;
			}
		if (maybenull==0 && v.value=='') {
			return false;
		}
		return true;
		}
		//
		function isDate(f) {
			var t = Date.parse(f.value);
			if (isNaN(t)) {
				return false;
			}
		}
		//
		function Check(f) {
			var ok=1;
			var _alertString="";
			var alertString2;
			if (f.variable.value.length==0) {
				_alertString += "\n- " + _("variable missing");
			}
			if (f.value.value.length==0) {
				_alertString += "\n- " + _("value missing");
			}
			if (_alertString.length==0) {
				document.Aform.submit();
			} else {
				alertString2  = _("Form not submitted because of the following problem(s)");
				alertString2 += "\n------------------------------------------------------------------------------------\n";
				alertString2 += _alertString;
				alert(alertString2);
			}
		}
		</script>
	
	<!-- TMPL_IF name="add_form" -->
	
		<!-- TMPL_IF NAME=modify -->
			<h1>Modify a system preference</h1>
		<!-- TMPL_ELSE -->
			<h1>Add a system preference</h1>
		<!-- /TMPL_IF -->
		<form action="<!-- TMPL_VAR name="script_name" -->" name="Aform" method="post">
		<div id="bloc25">
			<h2 class="parameters"><input type="text" name="explanation" size="60" value="<!-- TMPL_VAR name="explanation" escape="HTML" -->"></h2>
			<input type="hidden" name="op" value="add_validate">
			<p>
			<!-- TMPL_IF NAME="searchfield" -->
				<label>Variable</label><!-- TMPL_VAR name="searchfield" --><input type="hidden" name="variable" value="<!-- TMPL_VAR NAME="searchfield" -->">
			<!-- TMPL_ELSE -->
				<label>Variable</label><input type="text" name="variable" size="60">
			<!-- /TMPL_IF -->
			</p>
			<p><label>Value</label>
				<!-- TMPL_IF name="type-free" -->
					<input type="text" name="value" value="<!-- TMPL_VAR name="value" escape="HTML" -->" size="<!-- TMPL_VAR name="fieldlength" -->">
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="type-textarea" -->
					<textarea name="value" rows="<!--TMPL_VAR name="rows" -->" cols="<!-- TMPL_VAR name="cols" -->"><!-- TMPL_VAR name="value" escape="HTML" --></textarea>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="type-choice" -->
					<select name="value">
						<!-- TMPL_LOOP name="options" -->
							<option value="<!-- TMPL_VAR name="option" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name="option" --></option>
						<!-- /TMPL_LOOP -->
					</select>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="type-yesno" -->
					<input type="radio" name="value" value="1" <!-- TMPL_IF name="value-yes" -->checked<!-- /TMPL_IF -->>Yes
					<input type="radio" name="value" value="0" <!-- TMPL_IF name="value-no" -->checked<!-- /TMPL_IF -->>No
				<!-- /TMPL_IF -->
	
			</p>
			<p><label>&nbsp;</label><input type="submit" value="OK" class="button"></p>
		</div>
		<div id="bloc25">
			<h2 class="parameters">Koha internal (you should have no reasons to modify the following default values)</h2>
			<p>Variable type: <input type="text" name="preftype" value="<!--TMPL_VAR name="preftype" -->" size=40 maxlength=40> (Choice, YesNo,Integer,Textarea,Float,Themes,Languages)</p>
			Variable options :<input type="text" name="prefoptions" value="<!-- TMPL_VAR name="prefoptions" -->" size=80 maxlength=80> (choice list for Choice (separated by |) and cols|rows for Texarea)
		</div>
		</form>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF name="add_validate" -->
	
		Data recorded
		<form action="<!-- TMPL_VAR name="script_name" -->" method="post">
		<input type="submit" value="OK">
		</form>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF name="delete_confirm" -->
	
	<table border="0" cellspacing="0" cellpadding="2">
		<tr valign="top" bgcolor="#99cc33">
			<td background="<!-- TMPL_VAR NAME='themelang' -->/images/background-mem.gif"><b>Variable</b></td>
			<td background="<!-- TMPL_VAR NAME='themelang' -->/images/background-mem.gif"><b><!-- TMPL_VAR name="searchfield" --></b></td>
		</tr>
		<tr><td>Value</td><td><!-- TMPL_VAR name="Tvalue" --></td></tr>
		<form action="<!-- TMPL_VAR name="script_name" -->" method="post"><input type="hidden" name="op" value="delete_confirmed"><input type="hidden" name="searchfield" value="<!-- TMPL_VAR name="searchfield" -->">
		<tr><td colspan="2" align="center">CONFIRM DELETION</td></tr>
		<tr><td><input type="submit" value="YES"></form></td><td><form action="<!-- TMPL_VAR name="script_name" -->" method="post"><input type="submit" value="NO"></form></td></tr>
	</table>
	
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF name="delete_confirmed" -->
	
		Data deleted
		<form action="<!-- TMPL_VAR name="script_name" -->" method="post">
		<input type="submit" value="OK">
		</form>
	<!-- /TMPL_IF -->
	
	<!-- TMPL_IF name="else" -->
	<h1>System preferences admin</h1>
	<form action="/cgi-bin/koha/admin/systempreferences.pl" method="post">
		<input type="text" name="searchfield" value="">
		<input type="reset" name="reset" value="clr">
	</form>
	<!-- TMPL_VAR name="searchfield" -->
	<table border="0" cellspacing="0" cellpadding="2">
	<tr valign="top" bgcolor="#99cc33">
		<th>Variable</th>
		<th>Value</th>
		<th colspan=3>Explanation</th>
	</tr>
	<!-- TMPL_LOOP name="loop" -->
	<tr valign="top" bgcolor="<!-- TMPL_VAR name="bgcolor" -->">
		<td><!-- TMPL_VAR name="variable" --></td>
		<td><!-- TMPL_VAR name="value" --></td>
		<td><!-- TMPL_VAR name="explanation" --></td>
		<td><a href="<!-- TMPL_VAR name="edit" -->"><img src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR name="theme" -->/images/fileopen.png"  width="32" hspace="0" vspace="0" border="0"><br>Edit</a></td>
		<td><a href="<!-- TMPL_VAR name="delete" -->"><img src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR name="theme" -->/images/edittrash.png" width="32" hspace="0" vspace="0" border="0"><br>Delete</a></td>
	</tr>
	<!-- /TMPL_LOOP -->
	<form action="<!-- TMPL_VAR name="script_name" -->" method="post">
	<input type="hidden" name="op" value="add_form">
	</table>
	<table width="40%">
		<tr>
			<td width="50%"><!-- TMPL_VAR name="previous" --></td>
			<td width="50%"><!-- TMPL_VAR name="next" --></td>
		</tr>
	</table>
	</form>
	
	<form action="<!-- TMPL_VAR name="script_name" -->" method="post">
		<input type="hidden" name="op" value="add_form">
		<input type="submit" class="button" value="Add System preference">
	</form>
	
	<!-- /TMPL_IF -->
</div>

<!-- TMPL_INCLUDE NAME="parameters-bottom.inc" -->
