<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
    <title>Print Notices for <!-- TMPL_VAR NAME="today" --></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css">
        <!-- 
        .message { page-break-after: always }
        pre { font-family: monospace }
        -->
    </style>
    <!-- TMPL_IF NAME="stylesheet" -->
    <style type="text/css">
        <!--
        <!-- TMPL_VAR NAME="stylesheet" -->
        -->
    </style>
    <!-- /TMPL_IF -->
</head>
<body>
    <!-- TMPL_LOOP NAME="messages" -->
    <div class="message">
        <pre><!-- TMPL_VAR NAME="content" --></pre>
    </div>
    <!--/TMPL_LOOP -->
</body>
</html>
