<!-- TMPL_INCLUDE NAME="main-top.inc" -->
<!-- TMPL_INCLUDE NAME="masthead.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-nav.inc" -->

<div id="main"><h2>Biblio Search Results for <span class="ex"><!-- TMPL_IF name="isbn" -->ISBN <!-- TMPL_VAR name="isbn" --><!-- /TMPL_IF --><!-- TMPL_IF name="title" -->title <!-- TMPL_VAR name="title" --><!-- /TMPL_IF --></span></h2>

<!-- TMPL_IF name="total" --><div id="results">
<!-- TMPL_VAR NAME=total --> results found<br />
Results <!-- TMPL_VAR name="showoffset" --> to <!-- TMPL_VAR name="total" --> displayed
</div><!-- /TMPL_IF -->

<!-- TMPL_IF name="total" -->
<div id="pages"><!-- TMPL_IF NAME=displayprev -->
	<a class="pages" href="isbnsearch.pl?offset=<!-- TMPL_VAR NAME="prevstartfrom" -->&amp;<!-- TMPL_VAR NAME="term" -->=<!-- TMPL_VAR name="value" ESCAPE="URL" -->">&lt;&lt; Prev</a>
<!-- /TMPL_IF -->
<!-- TMPL_LOOP NAME="numbers" -->
	<!-- TMPL_IF NAME="highlight" -->
	<span class="current"><!-- TMPL_VAR NAME=number --></span>
	<!-- TMPL_ELSE -->
	<a class="pages" href="isbnsearch.pl?offset=<!-- TMPL_VAR NAME="startfrom" -->&amp;<!-- TMPL_VAR NAME="term" -->=<!-- TMPL_VAR name="value" ESCAPE="URL" -->"><!-- TMPL_VAR NAME=number --></a>
	<!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->
<!-- TMPL_IF NAME=displaynext -->
	<a class="pages" href="isbnsearch.pl?offset=<!-- TMPL_VAR NAME="nextstartfrom" -->&amp;<!-- TMPL_VAR NAME="term" -->=<!-- TMPL_VAR name="value" ESCAPE="URL" -->">Next &gt;&gt;</a>
<!-- /TMPL_IF --></div><!-- /TMPL_IF -->

<table>
	<caption>Existing Bibliographic Records</caption>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>&copy;</th>
		<th>Call Number</th>
		<th colspan="2">&nbsp;</th>
	</tr>
	<!-- TMPL_IF name="loop" -->
	<!-- TMPL_LOOP name="loop" -->
		<tr>
			<td><a href="addbiblio.pl?oldbiblionumber=<!-- TMPL_VAR name="biblionumber" -->"><!-- TMPL_VAR name="title" --></a>
			<td><!-- TMPL_VAR name="author" --></td>
			<td><!-- TMPL_IF name="copytrightdate" --><!-- TMPL_VAR name="copyrightdate" --><!-- TMPL_ELSE -->&nbsp;<!-- /TMPL_IF --></td>
			<td><!-- TMPL_IF NAME="class" --><!-- TMPL_VAR NAME="class" --><!-- /TMPL_IF --></td>
			<td><a href="addbiblio.pl?oldbiblionumber=<!-- TMPL_VAR name="biblionumber" -->">Edit Biblio</a></td><td><a href="/cgi-bin/koha/acqui.simple/additem.pl?bibid=<!-- TMPL_VAR name="biblionumber" -->">Edit Items</a></td>
		</tr>
	<!-- /TMPL_LOOP -->
	<!-- TMPL_ELSE -->
	<tr><td colspan="5">Nothing found</td></tr>
	<!-- /TMPL_IF -->
</table>

<table>
	<caption>Bibliographic Records in the Breeding Farm</caption>
		<tr>
		<th>Title</th>
		<th>Author</th>
		<th>ISBN</th>
		<th>coming from</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
<!-- TMPL_IF name="breeding_loop" -->
	<!-- TMPL_LOOP name="breeding_loop" -->
		<tr>
			<td><!-- TMPL_VAR name="title" --></a>
			<td><!-- TMPL_VAR name="author" --></td>
			<td><!-- TMPL_VAR name="isbn" --></td>
			<td><!-- TMPL_VAR name="file" --></td>
			<td><a href="addbiblio.pl?breedingid=<!-- TMPL_VAR name="id" -->">Add biblio</a></td>
		</tr>
	<!-- /TMPL_LOOP -->
	<!-- TMPL_ELSE -->
	<tr><td colspan="5">Nothing found</td></tr>
	<!-- /TMPL_IF -->
</table>
<div class="tabitem"><form action="addbiblio.pl" method="get"><input type="hidden" value="<!-- TMPL_VAR name="isbn" -->" name="isbn" /><input type="submit" class="submit" value="Add Full MARC Record" /></form>
<form action="addbiblio-simple.pl" method="get"><input type="submit" class="submit" value="Add Brief Record" /></form></div>
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
