<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Tools &rsaquo; MARC Export</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-system.css" />
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-en.js"></script>
<script type="text/javascript" src="<!-- TMPL_VAR name="themelang" -->/lib/calendar/calendar-setup.js"></script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; MARC Export</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<p>
    <b>Note : The items are exported by this tool unless specified.</b>
</p>

<form method="post" action="/cgi-bin/koha/tools/export.pl">
    <fieldset class="rows">
    <legend> Select Records to Export </legend>
        <ol><li>
            <label for="start">From biblio number: </label>
            <input id="start" type="text" name="StartingBiblionumber" size="5" />
        </li>
        <li>
            <label for="end">To biblio number: </label>
            <input id="end" type="text" name="EndingBiblionumber" size="5" />
        </li>
        
        <li>
            <label for="itemtype">Item type: </label>
            <select name="itemtype" id="itemtype">
                <option value="">-- All --</option>
                <!-- TMPL_LOOP NAME="itemtypeloop" -->
				<!-- TMPL_IF name="selected" -->
                <option value="<!-- TMPL_VAR name="value" -->" selected="selected"><!-- TMPL_VAR name="description" --></option>
<!-- TMPL_ELSE -->
                <option value="<!-- TMPL_VAR name="value" -->"><!-- TMPL_VAR name="description" --></option>
<!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </select>
        </li>
        
        <li>
            <label for="branch">Library: </label>
            <select id="branch" name="branch">
            <option value="">-- All --</option>
                <!-- TMPL_LOOP name="branchloop" -->
                    <!-- TMPL_IF NAME="selected" --><option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option>
				<!-- TMPL_ELSE -->
				<option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
				<!-- /TMPL_IF -->
                    <!-- /TMPL_LOOP -->
                </select>
        </li>
        <li>
            <label for="startcn">From itemcallnumber: </label>
            <input id="startcn" type="text" name="start_callnumber" size="5" />
        </li>
        <li>
            <label for="endcn">To itemcallnumber: </label>
            <input id="endcn" type="text" name="end_callnumber" size="5" />
        </li>
	<li>Accession date (inclusive):
		<ul><li>
		<label for="start_accession">Start date:</label>
		<input type="text" size="10" id="start_accession" name="start_accession" value="<!-- TMPL_VAR NAME="from" -->" />
		<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif"  border="0" id="openCalendarFrom" style="cursor: pointer;" alt="" />
			<script language="JavaScript" type="text/javascript">
Calendar.setup(
        {
        inputField : "start_accession",
        ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
        button : "openCalendarFrom"
        }
);
</script></li>
<li><label for="end_accession">
    End date:
</label>
<input size="10" id="end_accession" name="end_accession" value="<!-- TMPL_VAR NAME="end_accession" -->" type="text" />
<img src="<!-- TMPL_VAR Name="themelang" -->/lib/calendar/cal.gif" alt="" id="openCalendarTo" style="cursor: pointer;" border="0" />
<script type="text/javascript">

        Calendar.setup(
                {
                    inputField : "end_accession",
                    ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                    button : "openCalendarTo"
                }
        );
</script></li>
</ul></li>
    </fieldset>
    <fieldset class="rows">
    <legend> Options</legend>
<ol>        <li>
        <label for="dont_export_item">Don't export items</label>
        <input id="dont_export_item" type="checkbox" name="dont_export_item" />
        </li>
        <li>
        <label for="strip_nonlocal_items">Remove non-local items</label>
        <input id="strip_nonlocal_items" type="checkbox" name="strip_nonlocal_items" />
        </li>
        <li>
        <label for="dont_export_fields">Don't export fields</label>
        <input id="dont_export_fields" type="text" name="dont_export_fields" />
        separate by a blank. (e.g., 100a 200 606)
        </li></ol>
    </fieldset>
    <fieldset class="rows">
    <legend>
        Output format
    </legend>
        <ol><li>
            <label for="output_format">File format: </label>
            <select id="output_format" name="output_format">
                <option value="marc">marc</option>
                <option value="xml">xml</option>
            </select>
            
        </li>
        <li>
        <label for="filename">File name:</label><input id="filename" type="text" name="filename" value="koha.mrc" />
        </li></ol>
    </fieldset>
    <input type="hidden" name="op" value="export" />
	
    <fieldset class="action"><input type="submit" value="Export" class="button" /></fieldset>
</form>

</div>
</div>
<div class="yui-b noprint">
<!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
