<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Cataloging &rsaquo; Import Patrons <!-- TMPL_IF NAME="uploadborrowers" -->&rsaquo; Results<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<style type="text/css">
    .yui-u fieldset.rows label.widelabel { width: 12em; }
    .line_error { width: 100%; }
    code { background-color: yellow; }
</style>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patron-search.inc"-->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/tools/tools-home.pl">Tools</a> &rsaquo; <a href="/cgi-bin/koha/tools/import_borrowers.pl">Import Patrons</a><!-- TMPL_IF name="uploadborrowers" --> &rsaquo; Results<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
 <div id="bd">
  <div id="yui-main">
   <div class="yui-b">
    <div class="yui-g">
     <div class="yui-u first">
<h1>Import Patrons</h1>
<!-- TMPL_IF name="uploadborrowers" -->
<h5>Import results :</h5>
<ul>
	<li><!-- TMPL_VAR name="imported" --> imported records <!-- TMPL_IF name="lastimported" -->(last was <!-- TMPL_VAR name="lastimported" -->)<!-- /TMPL_IF --></li>
	<li><!-- TMPL_VAR name="overwritten" --> overwritten <!-- TMPL_IF name="lastoverwritten" -->(last was <!-- TMPL_VAR name="lastoverwritten" -->)<!-- /TMPL_IF --></li>
	<li><!-- TMPL_VAR name="alreadyindb" --> not imported because already in borrowers table and overwrite disabled <!-- TMPL_IF name="lastalreadyindb" -->(last was <!-- TMPL_VAR name="lastalreadyindb" -->)<!-- /TMPL_IF --></li>
	<li><!-- TMPL_VAR name="invalid" --> not imported because they are not in the expected format <!-- TMPL_IF name="lastinvalid" -->(last was <!-- TMPL_VAR name="lastinvalid" -->)<!-- /TMPL_IF --></li>
	<li><!-- TMPL_VAR name="total" --> records parsed</li>
	<li><a href="/cgi-bin/koha/tools/tools-home.pl">Back to Tools</a></li>
</ul>
  <!-- TMPL_IF NAME="FEEDBACK" -->
  <br /><br />
    <div>
    <h5>Feedback:</h5>
    <ul class="feedback">
    <!-- TMPL_LOOP NAME="FEEDBACK" -->
    <li>
        <!-- TMPL_IF NAME="filename" -->Parsing upload file <span class="filename"><!-- TMPL_VAR NAME="filename" --></span>
        <!-- TMPL_ELSIF NAME="backend" -->Upload parsed using <!-- TMPL_VAR NAME="backend" -->
        <!-- TMPL_ELSIF NAME="headerrow" -->These fields found: <!-- TMPL_VAR NAME="value" -->
        <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="name" --> : <!-- TMPL_VAR NAME="value" -->
        <!-- /TMPL_IF -->
    </li>
    <!-- /TMPL_LOOP -->
    </ul>
    </div>
  <!-- /TMPL_IF -->
  <!-- TMPL_IF NAME="ERRORS" -->
  <br /><br />
    <div>
    <h5>Error analysis:</h5>
    <ul>
    <!-- TMPL_LOOP NAME="ERRORS" -->
        <!-- TMPL_IF NAME="badheader" --><li>Header row could not be parsed</li><!-- /TMPL_IF -->
        <!-- TMPL_LOOP NAME="missing_criticals" -->
        <li class="line_error">
            Line <span class="linenumber"><!-- TMPL_VAR NAME="line" --></span>
            <!-- TMPL_IF NAME="badparse" -->
                could not be parsed!
            <!-- TMPL_ELSIF NAME="bad_date" -->
                has &quot;<!-- TMPL_VAR NAME="key" -->&quot; in unrecognized format: &quot;<!-- TMPL_VAR NAME="value" -->&quot;
            <!-- TMPL_ELSE -->
                Critical field &quot;<!-- TMPL_VAR NAME="key" -->&quot;
                <!-- TMPL_IF NAME="branch_map" -->has unrecognized value &quot;<!-- TMPL_VAR NAME="value" -->&quot;
                <!-- TMPL_ELSIF NAME="category_map" -->has unrecognized value &quot;<!-- TMPL_VAR NAME="value" -->&quot;
                <!-- TMPL_ELSE -->missing
                <!-- /TMPL_IF -->
                (borrowernumber: <!-- TMPL_VAR NAME="borrowernumber" -->; surname: <!-- TMPL_VAR NAME="surname" -->).
            <!-- /TMPL_IF -->
            <br /><code><!-- TMPL_VAR NAME="lineraw" --></code>
        </li>
        <!-- /TMPL_LOOP -->
    <!-- /TMPL_LOOP -->
    </ul>
    </div>
  <!-- /TMPL_IF -->
<!-- TMPL_ELSE -->
<ul>
	<li>Select a file to import into the borrowers table</li>
	<li>If a cardnumber exists in the table, you can choose whether to ignore the new one or overwrite the old one.</li>
</ul>
<form method="post" action="<!-- TMPL_VAR name="SCRIPT_NAME" -->" enctype="multipart/form-data">
<fieldset class="rows">
<legend>Import into the borrowers table</legend>
<ol>
	<li>
		<label for="uploadborrowers">Select the file to import: </label>
		<input type="file" id="uploadborrowers" name="uploadborrowers" />
	</li>
</ol></fieldset>
    <fieldset class="rows">
        <legend>Field to use for record matching</legend>
        <ol>
            <li class="radio">
                <select name="matchpoint" id="matchpoint">
                    <option value="cardnumber">Cardnumber</option>
                    <!-- TMPL_LOOP NAME="matchpoints" -->
                        <option value="<!-- TMPL_VAR NAME="code" -->"><!-- TMPL_VAR NAME="description" --></option>
                    <!-- /TMPL_LOOP -->
                </select>
            </li>
        </ol>
    </fieldset>
<fieldset class="rows">
<legend>Default values</legend>
<ol>
    <!-- TMPL_LOOP NAME="columnkeys" -->
	<li>
		<label class="widelabel" for="<!-- TMPL_VAR NAME="key" -->"><!-- TMPL_VAR NAME="key" --></label>
		<input id="<!-- TMPL_VAR NAME="key" -->" name="<!-- TMPL_VAR NAME="key" -->" />
	</li>
    <!-- /TMPL_LOOP -->
</ol></fieldset>
	<fieldset class="rows">
	<legend>If matching record is already in the borrowers table:</legend>
    <ol><li class="radio">
        <input type="radio" id="overwrite_cardnumberno" name="overwrite_cardnumber" value="0" checked="checked" /><label for="overwrite_cardnumberno">Ignore this one, keep the existing one</label>
        </li>
        <li class="radio">
		<input type="radio" id="overwrite_cardnumberyes" name="overwrite_cardnumber" value="1" /><label for="overwrite_cardnumberyes">Overwrite the existing one with this</label>
        </li>
    </ol>
    </fieldset>
    <!-- TMPL_IF NAME="ExtendedPatronAttributes" -->
	<fieldset class="rows">
	<legend>Extended Attributes</legend>
    <ol><li class="radio">
        <input type="radio" id="ext_preserve_0" name="ext_preserve" value="0" checked="checked" /><label for="ext_preserve_0">Replace all Extended Attributes</label>
        </li>
        <li class="radio">
        <input type="radio" id="ext_preserve_1" name="ext_preserve" value="1" /><label for="ext_preserve_1">Replace only included Extended Attributes</label>
        </li>
    </ol>
    </fieldset>
    <!-- /TMPL_IF -->
	<fieldset class="action"><input type="submit" value="Import" /></fieldset>
</form>
<!-- /TMPL_IF -->
</div>
<div class="yui-u">
<h2>Notes:</h2>
<ul>
<li><b>Download a starter CSV file with all the columns <a href="?sample=1">here</a>.</b>  Values are comma-separated.</li>
<li>OR format your file in CSV format with the following fields:</li>
<li><ul><li>
    <!-- TMPL_LOOP name="columnkeys" -->'<!-- TMPL_VAR name="key" -->', <!-- /TMPL_LOOP -->
</li></ul>
</li>
<!-- TMPL_IF NAME="ExtendedPatronAttributes" -->
<li>If loading patron attributes, the 'patron_attributes' field should contain a comma-separated list of attribute types 
and values.  The attribute type code and a ':' should precede each value. For example: &quot;INSTID:12345,LANG:fr&quot;.  This
means that if an input record has more than one attribute, the 'patron_attributes' field must be wrapped in double quotation marks.
<li>
<!-- /TMPL_IF -->
<li>The fields 'branchcode' and 'categorycode' are <b>required</b> and <b>must match</b> valid entries in your database.</li>
<li>'password' should be stored in plaintext, and will be converted to a md5 hash (if your passwords are already encrypted, talk to your systems administrator about options).</li>
<li>Date formats should match your system preference, and <b>must</b> be zero-padded, e.g. '01/02/2008'.</li>
<li>You may optionally include a header row, defining which columns you are supplying in the import file.</li>
</ul>

     </div>
    </div>
   </div>
  </div>
  <div class="yui-b noprint">
<!-- TMPL_INCLUDE NAME="tools-menu.inc" -->
  </div>
 </div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
