body {
    font-family : Verdana, Geneva, Arial, sans-serif;
    font-size : 1.0em;
    background-color : #eeeeee;
	text-align: left;
}

h1 {
        font-size: 1.9em;
        background-color : #384b73;
        color : white;
        text-align: center;
        padding-bottom : 6px;
        display:block;
}

h2 {
        color : #384b73;
        text-align: left;
        padding-bottom : 6px;
        display:block;
        font-size:110%;
}
h3 {
        color : #384b73;
        text-align: left;
        padding-bottom : 6px;
        display:inline;
        font-size:100%;
        font-weight:normal;
}

label {
    font-style:italic;
    vertical-align:top;
/*    display:block;
    float:left;
    text-align:right;
    width:8em;
    margin-right:0.2em;*/
}

p {
    margin-bottom:0px;
    margin-top:0px;
    margin-left:10px;
    margin-right:10px;
    padding:0px;
}

/* Alternate css proposal : uncomment this (and comment #action a below), and action menu will appear on the right, vertically */
/* 
#action {
float:right;
}
#action a {
    background-color : #eec95a;
    color : #FFFFFF;
    font-size : 1em;
    border: 3px;
    font-weight : bold;
    margin-right:5px;
    margin-bottom:5px;
    text-decoration:none;
    display: block;
}
*/

#action {
    margin-top:5px;
    margin-bottom:20px;
}
#action a {
    background-color : #eec95a;
    color : #FFFFFF;
    font-size : 1em;
    border: 2px outset;
    font-weight : bold;
    margin:0px 5px 0px 0px;
    padding-right:5px;
    padding-left:5px;
    text-decoration:none;
    display: inline;
}
#action a:hover {
    border: 2px inset;
    background-color:#384b73;
}

a:link, a:visited, a:active {
        text-decoration : underline;
        color :navy;
}
a:hover {
        text-decoration : none;
        color : orange;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	margin : 1em 0;
}

caption {
	font-size : 140%;
	text-align : left;
	font-weight : bold;
}

td,th {
	border-left : 1px solid #CCCCCC;
	border-bottom : 1px solid #CCCCCC;
	padding : 5px;
}

th {
    background-color : #384b73;
    color : white;
    border-left : 1px solid #999999;
    border-bottom : 1px solid #999999;
}

th[scope=row] {
    background-color : #EEEEEE;
    color:black;
    text-align : right;
}

input {
    font-size:0.8em;
}

select {
    font-size:0.8em;
    border : 1px solid black;
    padding : 1px;
}

li {
margin : 0px 0px 0px 10px;
}

input[type=submit], input[type=button], input[type=reset] {
    font-size:0.8em;
    background-color : #eec95a;
    color : #FFFFFF;
    font-size : 1em;
    border-width:2px;
    font-weight : bold;
}
input:hover[type=submit], input:hover[type=button], input:hover[type=reset] {
    border:2px inset;
}

input[type=text] {
    font-size : 0.8em;
    font-weight : bold;
    border : 1px solid black;
    margin : 0px 2px 0px 0px;
    padding : 2px;
}

tr.highlight td, tr.highlight th {
	background-color : #FFF;
}

#problem {
	color: red;
	background-color: #eee;
	font-weight : bold;
}

legend {
	font-size: 1.3em;
	font-weight:bold;
        background-color : #384b73;
        color : white;
        padding : 0px 5px 0px 5px; 
}
fieldset {
        border : 1px solid #374b73;
        display: inline;
        vertical-align:top;
}

.problem {
	color: white;
	background-color:red;
}

/* css styles for reserves color alerts */
.onloan {
	background-color: #FFED3D;
}

.reserved {
	background-color: #8EBAFF;
}

.transfered {
	background-color: #F9FF9A;
}

.inwait {
	background-color: #33CC99;
}

.other {
	background-color: #FF0000;
}

/* end of css styles for reserves color alerts */

/* MAIN MENU STYLES */
#mainmenu {
    display:block;
    float:left;
    font-weight : normal;
    background-color : #eee;
    margin-right: 5px;
    padding-right: 5px;
    border-right:1px solid black;
    font-size:0.8em;
}

#mainmenu a {
    display:block;
    margin-bottom:0px;
    padding-left :5px;
    text-decoration:none;
    font-weight:bold;
    color:black;
}


#mainmenu a:hover {
    display:block;
    margin-bottom:0px;
    padding-left :5px;
    text-decoration:none;
    font-weight:bold;
    background-color:#6699cc;
    color:white;
}

#mainmenu ul a {
    display:block;
    margin-bottom:5px;
    padding-left :5px;
    text-decoration:none;
    font-weight:normal;
    color:black;
}
#mainmenu ul a:hover {
    display:block;
    margin-bottom:5px;
    padding-left :5px;
    text-decoration:none;
    font-weight:normal;
    background-color:#6699cc;
    color:white;
}

#mainmenu ul {
    list-style-type: none;
    padding-left:20px;
    margin-bottom:0px;
    margin-top:0px;
}

#mainmenu li {
    list-style-type: none;
    padding-left:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-top:0px;
}

#mainmenu label {
    width:4em;
}
/* submenus styles */
#submenu {
    margin-left:0%;
    font-weight : normal;
    /*display:left;*/
}

#submenu a {
    margin:5px;
    padding : 0px 0px 4px 0px;
    text-decoration:none;
    color:black;
    padding-right:15px;
    font-size:1em;
}

#submenu a:hover {
    margin:5px;
    padding : 0px 0px 4px 0px;
    background-color:#6699cc;
    color:white;
    padding-right:15px;
    font-size:1em;
}

/* Main body style */
#main {
    margin-left:20%;
    margin-bottom:0px;
    padding-bottom:0px;
}

/* facets bloc */
#facets {
    float:left;
/*     background-color:#CCCCCC; */
    margin-right:20px;
    border:1px solid black;
    font-size:75%;
}

#facets ul {
    list-style-type: none;
    padding-left:0px;
    margin-bottom:0px;
    margin-top:0px;
}

/* the USER information block */
#librarian_information {
/*     position:absolute; */
    float:right;
    font-size:10pt;
}
/* css style for reregistration alert */

.reregistrinfo {
	color: #6699cc;
	font-weight : bold;
	background-color : #eeeeee;
}

/* MARC editor */

/* styles for the 11 buttons that the user can click on */
/* the design of the active tab button (only 1 at a given time)*/
.tab_active {
    background-color : #eec95a;
    font-size : 1em;
    border: 2px inset;
    font-weight : bold;
    text-decoration:none;
    display: inline;
    color:white;
    text-decoration:none;
    margin-left:10px;
}
/* the design of the INactives tab buttons (all other tabs) */
.tab_inactive {
    background-color:#384b73;
    font-size : 1em;
    border: 2px outset;
    font-weight : bold;
    display: inline;
    color:white;
    text-decoration:none;
    margin-left:10px;
}

/* the button of INactive tabs : we need this one to have white color on links, otherwise, default a look will be choosen */
#tabs a {
    color:white;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
}

/* specify that we to do when the mouse is on 1 button */
#tabs a:hover {
    border: 2px inset;
}

#tabs {
    margin-top:45px;
    margin-bottom:5px;
}

/* styles for the 11 content blocks */
/* the property for hidden tabs */
.content_hidden {
    height:0px; /* you propably don't need to change this one */
    visibility:hidden; /* you propably don't need to change this one */
}
/* the property for the displayed tab */
.content_visible {
    height:0px; /* you propably don't need to change this one */
    visibility:visible; /* you propably don't need to change this one */
}

#onlinehelp {
    float:right;
}

.term {
    background-color:yellow;
}

.searchresults table tr:hover{
    background-color:#ffffde
   
}
