<html><TMPL_INCLUDE NAME="members-top.inc">

<h1>Dodaj nowego czytelnika juniora </h1><br>
<form action=/cgi-bin/koha/newjmember.pl method=post>
  <!--<input type=hidden name=joining value="">
  <input type=hidden name=expiry value="">
  <input type=hidden name=type value="borrowers">-->
  <input type=hidden name=borrowernumber value="<TMPL_VAR NAME=member>">
  <input type=hidden name=updtype value=I>
  <input type=hidden name=area value="<TMPL_VAR NAME=area>">
  <input type=hidden name=city value="<TMPL_VAR NAME=city>">
	<input type=hidden name=physstreet value="<TMPL_VAR NAME=physstreet>">
  <input type=hidden name=streetaddress value="<TMPL_VAR NAME=streetaddress>">
  <input type=hidden name=streetcity value="<TMPL_VAR NAME=streetcity>">
  <input type=hidden name=phone value="<TMPL_VAR NAME=phone>">
  <input type=hidden name=phoneday value="<TMPL_VAR NAME=phoneday>">
  <input type=hidden name=faxnumber value="<TMPL_VAR NAME=faxnumber>">
  <input type=hidden name=emailaddress value="<TMPL_VAR NAME=emailaddress>">
  <input type=hidden name=contactname value="<TMPL_VAR NAME=contactname>">
  <input type=hidden name=altphone value"<TMPL_VAR NAME=altphone>">

  <table border=0 cellspacing=0 cellpadding=5 >
	<tr valign=top bgcolor="99cc33" >
		<td  COLSPAN=5 background="<TMPL_VAR name="themelang">/images/background-mem.gif">
			<B>RODZIC LUB WYCHOWAWCA </b>
		</td>
	</tr>
    <tr valign=top bgcolor=white>
      <td>
        <SELECT NAME="title" SIZE="1">
			<OPTION value=" ">Bez tytu³u
          <TMPL_LOOP NAME=titleloop>
            <OPTION value="<TMPL_VAR NAME=title>"<TMPL_VAR NAME=selected>><TMPL_VAR NAME=title>
          </TMPL_LOOP>
        </SELECT>
      </td>
      <td><input type=text name=firstname_guardian size=20 value="<TMPL_VAR NAME=firstname>"></td>
      <td colspan=2><input type=text name=surname_guardian size=20 value="<TMPL_VAR NAME=surname>"></td>
      <td><input type=text name=guardian_number size=20 value="<TMPL_VAR NAME=cardnumber>"></td>
    </tr>
    <tr valign=top bgcolor=white>
		<td><FONT SIZE=2>Tytu³</FONT></td>
		<td><FONT SIZE=2>Imiona*</FONT></td>
		<td colspan=2><FONT SIZE=2>Nazwisko*</FONT></td>
		<td><FONT SIZE=2>Numer cz³onkowstwa.</FONT></td>
    </tr>
    <TMPL_LOOP NAME=cmemloop>
      <tr valign=top bgcolor="99cc33">
		<td COLSPAN=5 background="<TMPL_VAR name="themelang">/images/background-mem.gif">
			<B>DZIECKO <TMPL_VAR NAME=count></b>
        </td>
      </TR>
      <TR>
        <td  COLSPAN=4   ALIGN=RIGHT ><font size=3 face='arial,helvetica'>
			<STRONG>Czytelnik# <TMPL_VAR NAME=cmember></STRONG>, <b>Numer karty*</b></STRONG>
        </TD>
        <TD>
			<input type=text name=cardnumber_child_<TMPL_VAR NAME=i> size=20 value="<TMPL_VAR NAME=jcardnumber>"><br>
          <input type=hidden name=bornumber_child_<TMPL_VAR NAME=i> value="<TMPL_VAR NAME=cmember>">
        </td>
      </TR>
      <tr bgcolor=white>
        <td><input type=text name=firstname_child_<TMPL_VAR NAME=i> size=20 value=""></td>
        <td><input type=text name=surname_child_<TMPL_VAR NAME=i> size=20 value=""></td>
        <td><input type=text name=dateofbirth_child_<TMPL_VAR NAME=i> size=10 value=""></TD>
        <TD>
			<input type="radio" name="sex_child_<TMPL_VAR NAME=i>" value="F"><b>F</b>
			<input type="radio" name="sex_child_<TMPL_VAR NAME=i>" value="M"><b>M*</b>
        </td>
        <TD align=right><input type=text name=school_child_<TMPL_VAR NAME=i> size=20 value=""></TD>
      </tr>
      <tr valign=top bgcolor=white>
		<td><FONT SIZE=2><b>Imiê*</b></FONT></td>
		<td><FONT SIZE=2><b>Nazwisko*</b></FONT></td>
		<td><FONT SIZE=2><b>Data urodzenia<BR>(<TMPL_VAR NAME=dateformat>)*</b></FONT></td>
        <td><FONT SIZE=2>&nbsp;</FONT></td>
		<td><FONT SIZE=2>Szko³a</FONT></td>
      </tr>
      <tr valign=top bgcolor=white>
        <td  COLSPAN=5><textarea name=altnotes_child_<TMPL_VAR NAME=i> wrap=physical cols=70 rows=3></textarea></td>
      </tr>
      <tr valign=top bgcolor=white>
		<td><FONT SIZE=2>Uwagi</font></td>
      </tr>
    </TMPL_LOOP>
    <tr valign=top bgcolor=white>
		<td colspan=2 align="center"><input type=reset value="Wyczy¶æ pola"></td>
		<td  COLSPAN=3 align="center">
			<input type=image src="<TMPL_VAR name="interface">/<TMPL_VAR name="theme">/images/2rightarrow.png" ALT="Add New Member" border=0>
      </td>
    </tr>

  </TABLE>
</form>
   

<TMPL_INCLUDE NAME="members-bottom.inc">
