<!-- TMPL_INCLUDE NAME="members-top.inc" -->

<!-- TMPL_IF NAME="missingloop" -->
	<!-- TMPL_VAR NAME="string" -->
<!-- TMPL_ELSE -->
	<!-- TMPL_IF NAME="invalid" -->
		Niewłaściwy numer karty.<p>
	<!-- TMPL_ELSE -->
	<h1> Potwierdź Wpis </h1>
	<table border="0" cellspacing="0" cellpadding="5">
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b> NOWY CZYTELNIK </b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Nazwa</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="institution_name" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b> DANE CZŁONKOWSKIE </b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Numer Członkowski</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="bornum" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Numer karty</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="cardnumber_institution" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Oddział Zapisu</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="branchcode" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>ADRES CZYTELNIKA</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Adres Pocztowy</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="postal" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Adres Domowy</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="home" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>SZCZEGÓŁY DANYCH KONTAKTOWYCH</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Telefon (Dom)</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="phone" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Telefon (Praca)</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="phoneday" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Fax</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="faxnumber" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>E-mail</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="emailaddress" -->
			</td>
		</tr>
                <tr valign="top" bgcolor="white" >
                        <td>
                                <b>Komunikatory</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="textmessaging" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>POŚREDNI RODZAJ KONTAKTU</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Nazwa</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="contactname" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Telefon</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="altphone" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Relacja</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="altrelationship" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Uwagi</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="altnotes" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>UWAGI</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Uwagi Ogólne</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="bornotes" -->
			</td>
		</tr>
		</table><p>
		Prawidłowe wartości. Naciśnij OK by potwierdzić tego nowego czytelnika
		<form action="/cgi-bin/koha/members/insertidata.pl" method="post">
			<!-- TMPL_LOOP NAME="inputsloop" -->
				<input type="hidden" name="<!-- TMPL_VAR NAME="key" -->" value="<!-- TMPL_VAR NAME="value" -->">
			<!-- /TMPL_LOOP -->
			<input type="submit" name="submit" value="OK">
		</form>
	<!-- /TMPL_IF -->
<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="members-bottom.inc" -->
