<!-- TMPL_INCLUDE NAME="members-top.inc" -->
<div id="mainbloc">
<h1>Member Search</h1>

<div class="bloc100">
	<div class="bloctitle">Search on</div>
	<form action="/cgi-bin/koha/members/member.pl" method="post">
		<input type="text" name="member" value="<!-- TMPL_VAR NAME="member" -->">
		<input type="submit" class="button" value="OK">
	</form>
</div>

<div class="bloc100">
	<div class="bloctitle">You Searched for <!-- TMPL_VAR NAME="member" --></div>
	<table>
		<tr>
			<th>Card</th>
			<th>Surname</th>
			<th>Firstname</th>
			<th>Category</th>
			<th>Address</th>
			<th>OD/Issues</th>
			<th>Charges</th>
			<th>Notes</th>
		</tr>
		<!-- TMPL_LOOP NAME="resultsloop" -->
			<!-- TMPL_IF NAME="background" -->
				<tr bgcolor="#ffffcc">
			<!-- TMPL_ELSE -->
				<tr bgcolor="white">
			<!-- /TMPL_IF -->
				<td><!-- TMPL_VAR NAME="cardnumber" --></td>
				<td><a href="/cgi-bin/koha/members/moremember.pl?bornum=<!-- TMPL_VAR NAME="borrowernumber" -->"><!-- TMPL_VAR NAME="surname" --></a></td>
				<td><!-- TMPL_VAR NAME="firstname" --></a></td>
				<td><!-- TMPL_VAR NAME="categorycode" --></td>
				<td><!-- TMPL_VAR NAME="streetaddress" --> <!-- TMPL_VAR NAME="city" --></td>
				<td><!-- TMPL_VAR NAME="odissue" --></td>
				<td><!-- TMPL_VAR NAME="fines" --></td>
				<td><!-- TMPL_VAR NAME="borrowernotes" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
	</table>
	<form action="/cgi-bin/koha/members/memberentry.pl" method="post">
	<input type="submit" class="button" value="Add member" title="Add member" alt="Add member">
	<input type="radio" name="categorycode" value="" checked>Adult
	<input type="radio" name="categorycode" value="I" >Organisation
	<input type="hidden" name="actionType" value="Add">
	</form>
</div>
</div>
<!-- TMPL_INCLUDE NAME="members-bottom.inc" -->
