<!-- TMPL_INCLUDE Name="members-top.inc" -->

<!-- TMPL_IF Name="OK" -->
	<h1> Confirm Record </h1>
	<table border="0" cellspacing="0" cellpadding="5">
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b> NEW MEMBER </b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Name</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="name" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b> MEMBERSHIP DETAILS </b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Membership Number</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="bornum" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Card number</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="cardnum" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Membership Category</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="memcat" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Fee</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="fee" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Joining Date</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="joindate" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Expiry Date</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="expdate" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Joining Branch</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="branchcode" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>PERSONAL DETAILS</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Date of birth</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="dob" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Sex</b>
			</td>
			<td>
				<!-- TMPL_IF Name="sex" -->
					Male
				<!-- TMPL_ELSE -->
					Female
				<!-- /TMPL_IF -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>MEMBER ADDRESS</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Postal Address</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="postal" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Home Address</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="home" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>MEMBER CONTACT DETAIL</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Phone home</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="phone" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Phone daytime</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="phoneday" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Fax</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="faxnumber" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>E-mail</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="emailaddress" -->
			</td>
		</tr>
                <tr valign="top" bgcolor="white" >
                        <td>
                                <b>Text messaging</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="textmessaging" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>ALTERNATIVE CONTACT DETAIL</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Name</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="contactname" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Phone</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="altphone" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Relationship</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="altrelationship" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>Notes</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="altnotes" -->
			</td>
		</tr>
		<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="main" -->" >
			<td colspan="2" background="<!-- TMPL_VAR NAME="themelang" -->/images/background-mem.gif">
				<b>NOTES</b>
			</td>
		</tr>
		<tr valign="top" bgcolor="white" >
			<td>
				<b>General Notes</b>
			</td>
			<td>
				<!-- TMPL_VAR NAME="bornotes" -->
			</td>
		</tr>
		</table><p>
		<form action="/cgi-bin/koha/members/insertdata.pl" method="post">
			<!-- TMPL_LOOP NAME="inputsloop" -->
				<input type="hidden" name="<!-- TMPL_VAR NAME="key" -->" value="<!-- TMPL_VAR NAME="value" -->">
			<!-- /TMPL_LOOP -->
			<input type="submit" name="submit" value="Submit">
		</form>
<!-- TMPL_ELSE -->
	<h1>ERROR</h1>
	<p>The following fields have a forbidden value. Please push the back button and try again : </p>
	<!-- TMPL_IF NAME="cardnumber" -->
		Card number<br/>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="invalid_cardnumber" -->
		Invalid cardnumber<br/>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="gender" -->
		Gender<br/>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="firstname" -->
		Given Names<br/>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="surname" -->
		Surname<br/>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="address" -->
		Postal Street Address<br/>
	<!-- /TMPL_IF -->
	<!-- TMPL_IF NAME="city" -->
		Postal city<br/>
	<!-- /TMPL_IF -->
<!-- /TMPL_IF -->


<!-- TMPL_INCLUDE Name="members-bottom.inc" -->
