<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Koha -- System Administration: 
<!-- TMPL_IF NAME=add_form --><!-- TMPL_IF NAME="searchfield" -->Modify printer '<!-- TMPL_VAR NAME="searchfield" -->'<!-- TMPL_ELSE -->Add printer<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" -->Printer Added<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" -->Confirm Deletion of Printer '<!-- TMPL_VAR NAME="searchfield" -->'<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" -->Printer Deleted<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="else" -->Printers<!-- /TMPL_IF -->
<!-- TMPL_INCLUDE NAME="doc-head-close-addbiblio.inc" -->
<!-- TMPL_INCLUDE NAME="masthead.inc" -->
<!-- TMPL_INCLUDE NAME="admin-topmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-nav.inc" -->

<div id="main"><!-- TMPL_IF NAME=add_form -->
        <script language="JavaScript" type="text/javascript">
        //
        function isNotNull(f,noalert) {
                if (f.value.length ==0) {
   return false;
                }
                return true;
        }
        //
        function toUC(f) {
                var x=f.value.toUpperCase();
                f.value=x;
                return true;
        }
        //
        function isNum(v,maybenull) {
        var n = new Number(v.value);
        if (isNaN(n)) {
                return false;
                }
        if (maybenull==0 && v.value=="") {
                return false;
        }
        return true;
        }
        //
        function isDate(f) {
                var t = Date.parse(f.value);
                if (isNaN(t)) {
                        return false;
                }
        }
        //
        function Check(f) {
                var ok=1;
                var _alertString="";
                var alertString2;
                if (f.printername.value.length==0) {
                        _alertString += "- printer name missing\n";
                }
                if (f.printqueue.value.length==0) {
                        _alertString += "- Queue missing\n";
                }
                if (_alertString.length==0) {
                        document.Aform.submit();
                } else {
                        alertString2 = "Form not submitted because of the following problem(s)\n";
                        alertString2 += "------------------------------------------------------------------------------------\n\n";
                        alertString2 += _alertString;
                        alert(alertString2);
                }
        }
        </script>


        
<!-- TMPL_IF NAME="searchfield" -->
		<h1>Modify printer</h1>
	<!-- TMPL_ELSE -->
		<h1>Add printer</h1>
	<!-- /TMPL_IF -->
        <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
        <input type="hidden" name="op" value="add_validate" />
	<table>
	<!-- TMPL_IF NAME="searchfield" -->
		<tr>
			<td>Printer Name</td>
			<td>
				<input type="hidden" name="printername" value="<!-- TMPL_VAR NAME=searchfield -->" /><!-- TMPL_VAR NAME="searchfield" -->
			</td>
		</tr>
	<!-- TMPL_ELSE -->
		<tr>
			<td>Printer Name</td>
			<td>
				<input type="text" name="printername" size="50" maxlength="50" />
			</td>
		</tr>
	<!-- /TMPL_IF -->

        	<tr>
			<td>Queue</td>
			<td><input type="text" name="printqueue" size="50" maxlength="50" value="<!-- TMPL_VAR NAME="printqueue" -->" /> </td>
		</tr>
        	<tr>
			<td>Type</td>
			<td><input type="text" name="printtype" size="50" maxlength="50" value="<!-- TMPL_VAR NAME="printtype" -->" /> </td>
		</tr>
        </table><p><input type="button" value="OK" onclick="Check(this.form);" class="submit" /> <input type="button" class="cancel" value="Cancel" onclick="location.href='<!-- TMPL_VAR NAME="script_name" -->';" /></p>
        </form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="add_validate" -->
<h3>Printer Added</h3>
<div id="form"><form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="submit" value="OK" class="submit" />
</form></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
<h3>Confirm Deletion of Printer <em><!-- TMPL_VAR NAME="searchfield" --></em></h3>
<table>
		<tr>
			<td>Printer</td>
			<td><!-- TMPL_VAR NAME="searchfield" --></td>
		</tr>
		<tr>
			<td>Queue</td>
			<td><!-- TMPL_VAR NAME="printqueue" --></td>
		</tr>
        	<tr>
			<td>Type</td>
			<td><!-- TMPL_VAR NAME="printtype" --></td>
		</tr>
        	<tr>
			<td>

			</td>
			<td>

			</td>
		</tr>
	</table>
<div class="tabitem">    	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
			<input type="hidden" name="op" value="delete_confirmed" />
			<input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
			<input type="submit" value="Delete this Printer" class="cancel" />
			</form> <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
				<input type="submit" value="Do not Delete" class="submit" />
			</form></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->
<h3>Printer Deleted</h3>
<div class="form"><form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
		<input type="submit" value="Ok" class="submit" />
</form></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->
<h2>Printer Admin</h2>
	<!-- TMPL_IF NAME=searchfield -->
		<div id="results">You searched for <span class="ex"><!-- TMPL_VAR NAME="searchfield" --></span></div>
	<!-- /TMPL_IF -->
<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
                <input type="text" name="description" value="<!-- TMPL_VAR NAME="searchfield" -->" />
                <input type="submit" name="submit" value="Search" class="submit" />
        </form>
<table>
		<tr>
			<th>Name</th>
			<th>Queue</th>
			<th>Type</th>
			<th>&nbsp;</th>
		</tr>
		<!-- TMPL_LOOP NAME=loop -->
		<tr>
			<td><!-- TMPL_VAR NAME="printername" --></td>
			<td><!-- TMPL_VAR NAME="printqueue" --></td>
			<td><!-- TMPL_VAR NAME="printtype" --></td>
			<td><a class="edit" href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;searchfield=<!-- TMPL_VAR NAME="printername" -->">Edit</a> <a class="delete" href="<!-- TMPL_VAR NAME="script_name" -->?op=delete_confirm&amp;searchfield=<!-- TMPL_VAR NAME="printername" -->">Delete</a></td>
		</tr>
		<!-- /TMPL_LOOP -->
	</table>
<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
       <p> <input type="hidden" name="op" value="add_form" /><input type="submit" value="Add Printer" class="submit" /></p></form>
	<!-- TMPL_IF NAME="offsetgtzero" -->
		<a href="<!-- TMPL_VAR NAME="script_name" -->?offset=<!-- TMPL_VAR NAME="prevpage" -->">&lt;&lt; Prev</a>
	<!-- /TMPL_IF -->

	<!-- TMPL_IF NAME="ltcount" -->
		<a href="<!-- TMPL_VAR NAME="script_name" -->?offset=<!-- TMPL_VAR NAME="nextpage" -->">Next &gt;&gt;</a>	
	<!-- /TMPL_iF -->
<!-- /TMPL_IF -->
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
