/* LiveSearch */

#keyword {
	margin: 0 25px 5px 0;
	padding:0px;
	width: 600px;
	display: block;
	border:1px solid #99b58d;
}


#LSResult {
	position: absolute;
	background-color: #aaa;
	width: 600px;
	margin: 1px 0px 2px 0px;
      	padding: 0px;
}

#LSResult li {
	padding-bottom: 2px;
    	padding-top: 2px;
	line-height:normal;
	margin-bottom: 0px;
}


ul#LSShadow {
      	position: relative;
	right: 1px;
	margin: 0px;
	padding: 0px;
	background-color: #666; /*shadow color*/
	color: inherit;
}
#LSResult ul {
	list-style-position:outside;
	margin-bottom: -5px;
	margin-top: 0px;
	padding-top: 0px;
	margin: 0px;
	padding: 0px;
}

#LSResult ul li {
	text-indent: -20px;
	padding: 0px 15px 0 20px;
	margin-top:0;
	line-height:1em;
	list-style-type:none;
}

.LSRes {
	position: relative;
	bottom: 1px;
	right: 1px;
	background-color: white;
	border:  1px solid #AAA;
    }
#LSHighlight {
	color: #564b47;
	background-color: #ccc;
}
.LSRes li a {
	text-decoration: none;
	color:black;
	cursor:default;
	font-size:80%
}
.LSResRight {
	position:absolute;
	right:1px;
	display:inline;
	padding:0;margin:0;
	width:100%;
	color:green;
	text-align:right;
	font-size:80%;
}

