a {
	color : #006699;
	font-weight : bold;
}

a:active {
	color : #990033;
}

a:visited {
	color : #006699;
}

a:hover {
	color : #990033;
}

a:link.current {
	background-color : transparent;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:visited.current {
	background-color : transparent;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:link.nav {
	background-color : #FFFFCC;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:hover.nav {
	background-color : #CCFF00;
	color : #CC3333;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:active.nav {
	background-color : #99CC00;
	color : #FFFF99;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:visited.nav {
	background-color : #FFFFCC;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

.menu a:link.logout {
	background-color : #FFDD75;
	color : Black;
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}

.menu a:active.logout {
	background-color : #FFDD75;
	color : Black;	
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}


.menu a:visited.logout {
	background-color : #FFDD75;
	color : Black;	
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}

.menu a:hover.logout {
	background-color : #FFCC33;
	color : Black;	
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}

body {
	background-color : #339999;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0;
	padding : 0;
}

caption {
	color : #000066;
	font-family : arial,helvetica;
	font-size : 140%;
	font-weight : bold;
	margin : 0;
	padding : 5px 0 3px 0;
	text-align : left;
}

div.form, div.details {
	background-color : #FFFFCC;
	border : 0px dotted #333333;
	margin : 0 auto;
	padding : 5px;
	width : 95%;
}

div.details {
	width : 95%;
}

div.details ul {
	margin-left : 0;
	text-align : left;
	list-style-type: circle;
}

div.table {
	width : 95%;
}

fieldset {
	border : 0;
	padding : 2px;
	margin : 2px;
}

form {
	display : inline;
	margin : 0;
	padding : 0;
}

h1,h2,h3,h4,h5,h6 {
	color : #000066;
	font-family : arial, geneva, helvetica, sans-serif;
	margin : 0;
}

h1 {
	font-size : 150%;
	padding : 5px 0 3px 0;
}

h1.logo {
	color : #D3DFAD;
	display : inline;
	margin : 10px 0 0 10px;
}

h1.title {
	font-style : italic;
	padding : 5px 0 3px 0;
}

h2 {
	font-size : 130%;
	padding : 5px 0 3px 0;
}

h3 {
	font-size : 120%;
	padding : 5px 0 3px 0;
}

h3.author {
	padding : 0 0 3px 15px;
}

h4 {
	padding : 5px 0 3px 0;
}

.inline {
	display : inline;
}

p {
	padding : 0 10px 0 10px;
}

p.error {
	color : #990000;
	font-size : 1.05em;
	font-weight : normal;
	padding : 5px 20px 5px 20px;
}

table {
	background-color : #FFFFCC;
	border-bottom : 0 solid #000000;
	border-collapse : collapse;
	border-left : 0 solid #000000;
	margin : 5px 0 5px 0;
	padding : 0;
	width : 100%; w\idth:auto; 
}

td {
	border-bottom : 1px solid #E7E7CA;
	border-right : 1px solid #E7E7CA;
	font-size : .90em;
	padding : 5px 5px 5px 5px;
}

th {
	background-color : #D8DEB8;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
	font-size : 12px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

th:last-child {
	background-color : #D8DEB8;
	border-bottom : 1px solid #000000;
	border-right : 0 solid #000000;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #E7E7CA;
	border-left : 0;
	border-right : 0;
	color : #000000;
	padding : 2px 2px 2px 4px;
	text-align : right;
}

td.label, div.form th, div.details th {
	background-color : #FFC;
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	border-right : 0;
	border-top : 0;
	color : #000088;
	font-weight : bold;
	padding : 2px 2px 2px 4px;
	text-align : left;
	vertical-align : top;
}

div.details td.details {
	text-align : left;
}

td.label {
	border-bottom : 1px solid #E7E7CA;
	border-left : 1px solid #E7E7CA;
	color : #000088;
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
}

td:last-child {
	border-bottom : 1px solid #E7E7CA;
	border-right : 0 solid #E7E7CA;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
}

tr.highlight {
	background-color : #FFFFFF;
}

.rejected {
	text-decoration: line-through;
}

.selected {
	text-decoration: none;
}

.content-block {
	background-color : #FFFFCC;
	margin : 15px;
	padding : 5px;
	width : 90%;
}

.count {
	font-size : .7em;
	font-weight : normal;
}

.current {
	background-color : #FFFFFF;
	color : #3366CC;
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

.ex {
	font-family : "Courier New", Courier, monospace;
}

div.bookcover {
	float: right;
}

.item-details {
	display : block;
	margin : 0 0 0 25px;
}

.loggedin {
	color : #D8DEB8;
	font-weight : bold;
}

.marctag {
	font-family : Arial, Geneva, sans-serif;
	color : #000000;
	background-color : #E7E7CA;
	margin : 1px;
	padding : 3px;
}

.marcsubfieldletter {
	font-family : Arial, Geneva, sans-serif;
	background-color: #EFF1DC;
	padding : 3px;
}

.marcsubfieldname {
	font-family : Arial, Geneva, sans-serif;
	background-color: #FFFFCC;
	padding : 3px;
}

.subfield {
	font-family : Arial, Geneva, sans-serif;
	background-color: #FFFFCC;
	padding : 3px;
}

.subfieldvalue {
	font-family : Arial, Geneva, sans-serif;
	font-weight : bold;
	background-color : #FFFFFF;
	padding : 3px;
}

.menu {
	color : #CCCC99;
	margin-bottom : 5px;
	margin-left : 15px;
	margin-right : 10px;
}

.menu a:link {
	color : #CCFF66;
	padding : 2px;
}

.menu a:visited {
	color : #CCFF66;
	padding : 2px;
}

.menu a:hover {
	color : #FFFFCC;
	padding : 2px;
}

.menu a:active {
	color : #FFFFCC;
	padding : 2px;
}

.menu input {
	font-size : 80%;
}

.menu label {
	font-weight : bold;
}

.opac-detail {
	background-color : #FFFFCC;
	padding : 4px;
}

em.new {
	color : #CC3333;
	font-weight : bold;
	font-style : normal;
}

.note {
	background-color : #FFFFCC;
	border-right : 1px solid #000000;
	border-bottom : 1px solid #000000;
	font-size : 12px;
	margin : 10px auto;
	padding : 4px 4px 4px 4px;
	width : 35%;
}

.print {
	font-size: 10px;
}


div.notes {
	text-align: left;
}

.opac-detail dd {
	border-bottom : 1px solid #E7E7CA;
	color : #000000;
	display : block;
	line-height : 1.5em;
	padding : 4px;
	text-align : right;
}

.submit {
	background-color : #CC6600;
	color : #FEEDDB;
	font-family : verdana,arial,hevetica;
	font-size : small;
	font-weight : bold;
	padding : 2px;
}

input.icon {
	background-position: left;
	background-repeat: no-repeat;
	background-color : #CC6600;
	color : #FEEDDB;
	font-family : verdana,arial,hevetica;
	font-size : small;
	font-weight : bold;
	padding : 2px 2px 2px 22px;	
}

input.cart {
	background-image: url(../images/basket.gif);
}

input.print {
	background-image: url(../images/print2.gif);
}

input.detail {
	background-image: url(../images/detail.gif);
}

input.brief {
	background-image: url(../images/brief.gif);
}

input.send {
	background-image: url(../images/send.gif);
}

input.trash {
	background-image: url(../images/trash.gif);
}

input.close {
	background-image: url(../images/close.gif);
}

input.addchecked {
	background-image: url(../images/addtobasket.gif);
}

input.clearall {
	background-image: url(../images/clearbasket.gif);
}

.title {
	font-style : italic;
	font-weight : bold;
}

#footer {
	border-top : 1px solid #000000;
	clear : both;
}

#main {
	background-color : #CCCC99;
	border-left : 1px solid #CCCC99;
	margin-left : 22%;
	margin-right : 2%;
	margin-top : 2%;
	padding : 10px;
	position : relative;
}

#window {
	background-color : #CCCC99;
	border-left : 1px solid #CCCC99;
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 2%;
	padding : 10px;
}

#window div.menu {
	margin : 0;
}

#window .class {
	display : block;
	font-weight : bold;
	padding : 0 0 5px 3px;
}

#masthead {
	background-color : #339999;
	margin : 0 0 0 5px;
}

#nav {
	background-color : #CCCC99;
	float : left;
	margin : 2% 0% 0% 1%;
	padding : 0;
	width : 18%;
}

#nav a {
	font-family : Tahoma;
	font-size : 1.3em;
	font-weight : bold;
	text-decoration : none;
}

#nav ul {
	margin : 0;
	padding : 0;
}

#nav ul li {
	background-color : #D8DEB8; /*width : 100%;*/
	border-bottom : 1px solid #339999;
	border-left : 0 solid #FFFFCC;
	border-right : 0 solid #006699;
	border-top : 0 solid #FFFFCC;
	font-family : Arial, Helvetica, sans-serif;
	font-size : .8em;
	list-style : none;
	margin : 0;
	padding : 3px;
	text-align : right;
}

#nav ul li+li {
	border-bottom : 1px solid #339999;
	border-left : 0 solid #FFFFCC;
	border-right : 0 solid #006699;
	margin : 0;
}

#nav li ul li {
	background-color : #E7E7CA; /*width : 100%;*/
	border-bottom : 1px solid #D8DEB8;
	border-left : 0 solid #FFFFCC;
	border-right : 0 solid #006699;
	border-top : 0 solid #FFFFCC;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	list-style : none;
	margin : 0;
	padding : 1px;
	text-align : right;
}

#nav li ul li a {
	color: Blue;
	font-family : Tahoma;
	font-size : .99em;
	font-weight : bold;
	text-decoration : none;
}

#nav li ul li a:link {
	color: #359;
}

#nav li ul li a:visited {
	color: #359;
}

#nav li ul li a:hover {
	color: #CC3333;
}

#results, .results {
	color : #000066;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 80%;
	margin : 0;
	padding : 7px 0 10px 0;
}

#sidebar {
	background-color : #EFF1DC;
	width : 20%;
	border : 1px dashed #CCCC99;
	margin : 20px;
	padding : 5px;
	float : right;
	font-size : 80%;
}

#sidebar h3 {
	color : #000066;
	font-family : arial,helvetica;
	font-size : 110%;
	margin : 0;
	padding : 5px 0 1px 0;
}

#sidebar .submit {
	background-color : #CC6600;
	color : #FEEDDB;
	font-family : verdana,arial,hevetica;
	font-size : 80%;
	font-weight : bold;
	padding : 2px;
}