a {
	font-weight : bold;
}

a:active {
}

a:visited {
}

a:hover {
}

a:link.current {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:hover.current {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:visited.current {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:active.current {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:link.nav {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:hover.nav {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:active.nav {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

a:visited.nav {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

.menu a:link.logout {
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}

.menu a:active.logout {
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}


.menu a:visited.logout {
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}

.menu a:hover.logout {
	font-weight : bold;
	padding : 3px 15px 3px 15px;
	text-decoration : none;
}

body {
	font-family : Arial, Geneva, Helvetica, sans-serif;
	margin : 0;
	padding : 0;
}

caption {
	font-family : arial,helvetica;
	font-size : 140%;
	font-weight : bold;
	margin : 0;
	padding : 5px 0 3px 0;
	text-align : left;
}

div.form, div.details {
	margin : 0 auto;
	padding : 5px;
	width : 95%;
}

div.details ul {
	margin-left : 0;
	text-align : left;
	list-style-type: circle;
}

div.table {
	width : 95%;
}

fieldset {
	border : 0;
	padding : 2px;
	margin : 2px;
}

form {
	display : inline;
	margin : 0;
	padding : 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family : arial, geneva, helvetica, sans-serif;
	margin : 0;
}

h1 {
	font-size : 120%;
	padding : 5px 0 3px 0;
}

h1.logo {
	display : inline;
	margin : 10px 0 0 10px;
}

h1.title {
	font-style : italic;
	padding : 5px 0 3px 0;
}

h2 {
	font-size : 110%;
	padding : 5px 0 3px 0;
}

h3 {
	font-size : 100%;
	padding : 5px 0 3px 0;
}

h3+p {
	margin : .4em 0 .4em 0;
}

p+h3 {
	margin-top : .6em;
}

h3.author {
	padding : 0 0 3px 15px;
}

h4 {
	padding : 5px 0 3px 0;
}

h5 {
	font-size : 100%;
	margin : 0;
	padding : 10px 0 2px 0;
}

p+h5 {
	padding : 3px 0 2px 0;
	margin : 0;
}

h5+p {
	padding-top : 0;
	margin-top : 0;
}

.inline {
	display : inline;
}

p {
	padding : 0 10px 0 10px;
}

p.error, div.error {
	font-size : 1.05em;
	font-weight : normal;
	padding : 5px 20px 5px 20px;
}

p.error strong {
	font-size : 1.05em;
	font-weight : bold;
}

div.error {
	font-size : .9em;
	padding : 3px 10px 3px 10px;
	width : 75%;
}

p.error+p.error, div.error+div.error {
	margin-top : 5px;
}

div.error li {
	margin-bottom : .5em;
}

table {
	border-collapse : collapse;
	margin : 5px 0 5px 0;
	padding : 0;
}

td {
	font-size : .8em;
	padding : 5px 5px 5px 5px;
}

th {
	font-size : .9em;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

th[scope="row"] {
	font-size : 60%;
	font-weight : normal;
	text-align : right;
}

tr.highlight th[scope="row"] {
}

th:last-child {
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

td.input, div.form td, div.details td {
	border-left : 0;
	border-right : 0;
	padding : 2px 2px 2px 4px;
	text-align : right;
}

td.label, div.form th, div.details th {
	border-right : 0;
	border-top : 0;
	font-weight : bold;
	padding : 2px 2px 2px 4px;
	text-align : left;
	vertical-align : top;
}

div.details td.details {
	text-align : left;
}

td.label {
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
}

td:last-child {
	font-size : 12px;
	padding : 5px 5px 5px 5px;
}

tr.highlight {
}

.rejected {
	text-decoration: line-through;
}

.selected {
	text-decoration: none;
}

.content-block {
	margin : 5px;
	padding : 0 5px 2px 5px;
}

.count {
	font-size : .7em;
	font-weight : normal;
}

.current {
	font-size : 12px;
	font-weight : bold;
	padding : 1px 5px 1px 5px;
	text-decoration : none;
}

.ex {
	font-family : "Courier New", Courier, monospace;
}

div.bookcover {
	float: right;
}

.further {
	float: right;
	font-size : 80%;
	margin : 5px;
	width : 30%;
}

.further h4 {
	padding : 2px;
}

.further ul, .further li  {
	margin : 0 0 0 .5em;
	padding : 0;
}

.further li {
	padding : 2px 0;
	}

.detail-sidebar {
	float: right;
	padding: 5px;
	margin-left : 15px;
	text-align: center;
	width : 35%;
}

.detail-sidebar .further {
	float: none;
	text-align: left;
	width : 90%;
}

.operations {
	font-size: 90%;
	text-align: center;
	margin-top: 7px;
	padding-left: 10px;
	width : 100%;
}

.operations ul {
	margin: 0;
	padding : 0;
	width: 90%;
}

.operations li {
	list-style-type: none;
	margin: 0;
	padding-bottom : 2px;
}

.operations li a, .operations li a:visited {
	display: block;
	background-repeat : no-repeat;
	background-position : top left;
	padding: 3px 3px 3px 26px;
	text-decoration: none;
}

.operations li a:hover {
}

.operations li a:active {
	border-style: inset;
}

.item-details {
	display : block;
	margin : 0 0 0 25px;
}

.loggedin {
	font-weight : bold;
}

.marctag {
	font-family : Arial, Geneva, sans-serif;
	margin : 1px;
	padding : 3px;
}

.marcsubfieldletter {
	font-family : Arial, Geneva, sans-serif;
	padding : 3px;
}

.marcsubfieldname {
	font-family : Arial, Geneva, sans-serif;
	font-size: 70%;
	padding : 3px;
	width: 18%;
}

.subfield {
	font-family : Arial, Geneva, sans-serif;
	padding : 3px;
}

.subfieldvalue {
	font-family : Arial, Geneva, sans-serif;
	font-weight : bold;
	padding : 3px;
}

.menu {
	margin-bottom : 5px;
	margin-left : 15px;
	margin-right : 10px;
}

#members a {
	text-decoration : none;
}


#members a.card {
	display : block;
	padding-left : 39px;
	background-image: url(../images/card.gif);	
	background-position: left;
	background-repeat: no-repeat;
}

.menu form {
	font-size : 80%;
}

.menu input {
	font-size : 80%;
}

.menu label {
	font-weight : bold;
}

.menu p {
	margin : 0;
	padding : 0;
}

.menu p+p {
	margin-top : 5px;
}

.opac-detail {
	padding : 4px;
}

em.new {
	font-weight : bold;
	font-style : normal;
}

.login-note {
	width : 35%;
}

.note {
	font-size : 12px;
	margin : 10px auto;
	padding : 4px 4px 4px 4px;
	width : 35%;
}

div.notes {
	text-align: left;
}

.opac-detail dd {
	display : block;
	line-height : 1.5em;
	padding : 4px;
	text-align : right;
}

.submit {
	font-family : verdana,arial,hevetica;
	font-weight : bold;
	padding : 2px;
}

.thumbnail {
	float : left;
	margin : 0 5px 5px 0;
	border : 0;
}

input.icon {
	background-position: left;
	background-repeat: no-repeat;
	font-family : verdana,arial,hevetica;
	font-size : small;
	font-weight : bold;
	padding : 2px 2px 2px 22px;	
}

input.add, a.add {
	background-image: url(../images/add.gif);
}

input.back, a.back {
	background-image: url(../images/back.gif);
}

input.cart, a.cart {
	background-image: url(../images/basket.gif);
}

input.print, a.print {
	background-image: url(../images/print2.gif);
}

input.detail, a.detail {
	background-image: url(../images/detail.gif);
}

input.brief, a.brief {
	background-image: url(../images/brief.gif);
}

input.send, a.send {
	background-image: url(../images/send.gif);
}

input.trash, a.trash {
	background-image: url(../images/trash.gif);
}

input.close, a.close {
	background-image: url(../images/close.gif);
}

input.addchecked, a.addchecked {
	background-image: url(../images/addtobasket.gif);
}

input.clearall, a.clearall {
	background-image: url(../images/clearbasket.gif);
}

input.isbd, a.isbd {
	background-image: url(../images/isbd.gif);
}

input.shelf, a.shelf {
	background-image: url(../images/addtoshelf.gif);
}

input.reserve, a.reserve {
	background-image: url(../images/placereserve.gif);
}

input.remove, a.remove {
	background-image: url(../images/remove.gif);
}

input.delete, a.delete {
	background-image: url(../images/delete.gif);
}

input.edit, a.edit {
	background-image: url(../images/edit.gif);
}

.left {
	float : left;
}

.right {
	float : right;
}

.title {
	font-style : italic;
	font-weight : bold;
}

#breadcrumbs {
	font-size : 70%;
	padding : 3px 0 3px 0;
}

.breadcrumbs {
	background-image : url(../images/nav_sub_bullet.png);
	background-position : center left;
	background-repeat : no-repeat;
	padding-left : 20px;
}

#breadcrumbs a {
	background-image : url(../images/nav_sub_bullet.png);
	background-position : center left;
	background-repeat : no-repeat;
	padding-left : 20px;
	text-decoration : none;
}

#breadcrumbs a.home {
	background-image : none;
	padding-left : 5px;
}

#breadcrumbs a.home+a.home {
	padding-left : 10px;
}

#breadcrumbs a:hover {
}

#footer {
	clear : both;
	padding : 0 5px;
	text-align : center;
}

#main {
	margin-left : 20%;
	margin-right : 0%;
	margin-top : 0%;
	padding : 8px;
	position : relative;
}

#window {
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 2%;
	padding : 10px;
}

#window div.menu {
	margin : 0;
}

#window .class {
	display : block;
	font-weight : bold;
	padding : 0 0 5px 3px;
}

#masthead {
	background-image : url(../images/nbbc_banner.jpg);
	background-position : left;
	background-repeat : no-repeat;
	margin : 0 0 0 0;
	padding-left : 321px;
	height : 80px;
}

#nav {
	float : left;
	margin : 0 0 0 0;
	padding : 0;
	width : 20%;
}

#nav a {
	background-image : url(../images/nav_bullet.png);
	background-position : center left;
	background-repeat : no-repeat;
	display : block;
	font-family : Arial, Geneva, Helvetica, sans-serif;
	font-size : 70%;
	font-weight : bold;
	padding : 4px 0 4px 18px;
	text-decoration : none;
}

#nav a:hover {
	background-image : url(../images/nav_bullet_hover.png);
}

#nav h4 {
	background-image : url(../images/nav_subhead_bg.png);
	background-position : center left;
	background-repeat : repeat-x;
	font-size : 70%;
	font-weight : normal;
	margin : 0;
	padding : 4px 0 3px 4px;
}

#nav ul {
	margin : 0;
	padding : 0;
}

#nav ul li {
	list-style : none;
	margin : 0;
	padding : 0;
	text-align : left;
}

#nav li ul li {
	list-style : none;
	margin : 0;
	padding : 0;
}

#nav li ul li a {
	background-image : url(../images/nav_sub_bullet.png);
	background-position : center left;
	background-repeat : no-repeat;
	display : block;
	font-size : 70%;
	font-weight : bold;
	padding : 2px 0 2px 21px;
	text-decoration : none;
}

#nav li ul li a:link {
}

#nav li ul li a:visited {
}

#nav li ul li a:hover {
	background-image : url(../images/nav_sub_bullet.png);
	background-position : center left;
	background-repeat : no-repeat;
}

#nav li ul li ul li a:link, #nav li ul li ul li a:visited {
	background-image : url(../images/nav_sub_sub_bullet.png);
	background-position : center left;
	background-repeat : no-repeat;
	padding-left : 25px;
}

#nav li ul li ul li a:hover {
}

#results, .results {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 80%;
	margin : 0;
	padding : 7px 0 10px 0;
}

#sidebar {
	width : 20%;
	margin : 20px;
	padding : 5px;
	float : right;
	font-size : 80%;
}

#sidebar h3 {
	font-family : arial,helvetica;
	font-size : 110%;
	margin : 0;
	padding : 5px 0 1px 0;
}

#sidebar .submit {
	font-family : verdana,arial,hevetica;
	font-size : 80%;
	font-weight : bold;
	padding : 2px;
}

#search-sidebar {
	width : 33%;
	margin : 10px;
	padding : 3px;
	float : right;
	font-size : 80%;
}

.sidebar-box {
	margin-bottom : 15px;
}

div.sidebar-box+div.sidebar-box {
	margin-top : 5px;
}

.sidebar-box h3, .sidebar-box h4 {
	margin-left : 10px;
}

.sidebar-box label {
	display : block;
}

.sidebar-box p {
	margin : 3px 10px;
	padding : 0;
}

.issued {
}

tr.overdue td {
}

td.overdue {
	font-weight : bold;
}

span.print {
	font-size : .7em;
	font-weight : normal;
	padding-left : .7em;
	}
	
#members {
	font-size : .80em;
	font-weight : bold;
	margin-right : 3px;
	position : absolute;
	top : 1.7em;
	right : 0;
	}
	
#members ul {
	margin : 0;
	padding : .3em .3em .3em 1.5em;
}

#members a.logout {
	font-weight : bold;
	padding : 0 .3em 0 .3em;
	text-decoration : none;
}

#members a:hover.logout {
}

.loggedinusername {
	display : block;
}	


.clear {
	clear : both;
	line-height : .1em;
}
#itemReviews h4 {
        display: inline;
        margin-right: 15px;
}
#itemReviews p {
        text-align: left;
 }
#itemReviews dl {
        display: block ;
}
#itemReviews dt {
        width: 8em;
}

#starMT {
        position:relative;
        height: 25px;
        width: 100px;
        margin: 0 3px 0 30px;
        padding:0;
        background: url(../images/emptystars.png) top left no-repeat;
}
#starFull {
        height: 25px;
        margin: 0 ; padding: 0;
        background: url(../images/bluestars.png) top left no-repeat;
}

div.tabbloc {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

div.tab {
	display: block;
	float:left;
	margin-right:0px;
	width:100%;
}

div.tab p {
	margin : 0;
	padding : 3px 0;
}

.MARCtag { /* style for tag definition (700 - Statement of responsability) */
	font-weight:bold;
	clear : both;
	margin : 0;
	padding : 2px 0;
}

.labelsubfield { /* style for each subfield (like : a Publication year), just before the biblio subfield */
	clear : both;
	font-weight : bold;
	float:left;
	width: 12em;
	margin-left:30px;
}