<!-- TMPL_INCLUDE NAME="parameters-top.inc" -->

<!-- TMPL_IF NAME=add_form -->
        <script>
	function _(s) { return s } // dummy function for gettext
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function isNotNull(f,noalert) {
                if (f.value.length ==0) {
                    return false;
                }
                return true;
        }
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function toUC(f) {
                var x=f.value.toUpperCase();
                f.value=x;
                return true;
        }
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function isNum(v,maybenull) {
        var n = new Number(v.value);
        if (isNaN(n)) {
                return false;
                }
        if (maybenull==0 && v.value=='') {
                return false;
        }
        return true;
        }
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function isDate(f) {
                var t = Date.parse(f.value);
                if (isNaN(t)) {
                       return false;                       
                }
        }
        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        function Check(f) {
                var ok=1;
                var _alertString="";
                var alertString2;
                if (f.searchfield.value.length==0) {
                        _alertString += "\n- " + _("brak nazwy żródła");
                }
                if (f.host.value.length==0) {
                        _alertString += "\n- " + _("brak hosta");
                }
                if (f.port.value.length==0) {
                        _alertString += "\n- " + _("brak portu");
                }
                if (f.db.value.length==0) {
                        _alertString += "\n- " + _("brak bazy danych");
                }
                if (isNaN(f.port.value)) {
                        _alertString += "\n- " + _("port musi być cyfrą");
                }
                if (isNaN(f.rank.value)) {
                        _alertString += "\n- " + _("ranga musi być cyfrą");
                }
                if (isNaN(f.checked.value) || f.checked.value<0 || f.checked.value>1) {
                        _alertString += "\n- " + _("Zaznaczony musi być albo 0 albo 1");
                }
                if (_alertString.length==0) {
                        document.Aform.submit();
                } else {
                        alertString2  = _("Formularz odrzucono z powodu następujących błędów(u)");
                        alertString2 += "\n------------------------------------------------------------------------------------\n";
                        alertString2 += _alertString;
                        alert(alertString2);
                }
        }
        </SCRIPT>

        <!-- TMPL_IF NAME=searchfield -->
                <h1>Zmieniaj serwer Z39.50</h1>
        <!-- TMPL_ELSE -->
                <h1>Dodaj Serwer Z39.50</h1>
        <!-- /TMPL_IF -->
        <form action="<!-- TMPL_VAR NAME=script_name -->" name=Aform method=post>
        <input type=hidden name=op value='add_validate'>
                
        <table>
        
        <!-- TMPL_IF NAME=searchfield -->
                <tr>
                        <td>Serwer Z39.50</td>
                        <td>
                                <input type=hidden name=searchfield value='<!-- TMPL_VAR NAME=searchfield -->'><!-- TMPL_VAR NAME=searchfield -->
                        </td>
                </tr>
        <!-- TMPL_ELSE -->
                <tr>
                        <td>Serwer Z39.50</td>
                        <td>
                                <input type=text name=searchfield size=100 maxlength=100 onBlur=toUC(this)>
                        </td>
                </tr>
        <!-- /TMPL_IF -->

		<tr>
			<td>Nazwa hosta</td>
			<td>
				<input type=text name=host size=30 value='<!-- TMPL_VAR NAME=host -->'>
			</td>
		</tr>
		<tr>
			<td>Port</td>
			<td>
				<input type=text name=port size=5 value='<!-- TMPL_VAR NAME=port -->' onBlur=isNum(this)>
			</td>
		</tr>
		<tr>
			<td>Baza danych</td>
			<td>
				<input type=text name=db value='<!-- TMPL_VAR NAME=db -->'>
			</td>
		</tr>
		<tr>
			<td>Użytkownik</td>
			<td>
				<input type=text name=userid value='<!-- TMPL_VAR NAME=userid -->'>
			</td>
		</tr>
		<tr>
			<td>Hasło</td>
			<td>
				<input type=text name=password value='<!-- TMPL_VAR NAME=password -->'>
			</td>
		</tr>
		<tr>
			<td>Zaznaczony (używany domyślnie)</td>
			<td>
				<input type=text size=1 name=checked value='<!-- TMPL_VAR NAME=checked -->' onBlur=isNum(this)>  
		<tr>
			<td>Ranga (kolejność występowania)</td>
			<td>
				<input type=text name=rank size=4 value='<!-- TMPL_VAR NAME=rank -->' onBlur=isNum(this)>
			</td>
		</tr>
		<tr>
			<td>Składnia (z3950 może przesyłać rekordy w rozmaitych formatach. Wybierz jeden)</td>
			<td>
				<select name="syntax">
					<option value="MARC21">MARC21</option>
					<option value="UNIMARC">UNIMARC</option>
				</select>
			</td>
		</tr>
		<tr>
			<td> </td>
			<td>
				<INPUT type=button value='OK' onClick='Check(this.form)'>
			</td>
		</tr>
        </table>
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME=add_validate -->
        Dane zapisane
        <form action='<!-- TMPL_VAR NAME=script_name -->' method=post>
        <input type=submit value=OK>
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME=delete_confirm -->
	<!-- TMPL_VAR NAME=reqsel -->
	
        <table border=0 cellspacing=0 cellpadding=5>
                <tr bgcolor='#99cc33'>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'>
                                <b>Źródło</b>
                        </td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'>
                                <!-- TMPL_VAR NAME=searchfield -->
                        </td>
                </tr>
                <form action='<!-- TMPL_VAR NAME=script_name -->' method=post>
                        <input type=hidden name=op value=delete_confirmed>
                        <input type=hidden name=searchfield value=<!-- TMPL_VAR NAME=searchfield -->>
                <tr>
                        <td>Nazwa hosta</td>
                        <td><!-- TMPL_VAR NAME=host --></td>
                </tr>
                <tr>
                        <td>Port</td>
                        <td><!-- TMPL_VAR NAME=port --></td>
                </tr>
                <tr>
                        <td>Baza danych</td>
                        <td><!-- TMPL_VAR NAME=db --></td>
                </tr>
                <tr>
                        <td>Użytkownik</td>
                        <td><!-- TMPL_VAR NAME=userid --></td>
                </tr>
                <tr>
                        <td>Hasło</td>
                        <td><!-- TMPL_VAR NAME=password --></td>
                </tr>
                <tr>
                        <td>Zaznaczony</td>
                        <td><!-- TMPL_VAR NAME=checked --></td>
                </tr>
                <tr>
                        <td>Ranga</td>
                        <td><!-- TMPL_VAR NAME=rank --></td>
                </tr>
                <tr>
                        <td colspan=2 align=center>POTWIERDŹ WYMAZANIE</td>
                </tr>
                <tr>
                        <td><input type=submit value="TAK"></form></td>
                        <td><form action='<!-- TMPL_VAR NAME=script_name -->' method=post><input type=submit value="NIE"></form></td>
                </tr>
	</table>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME=delete_confirmed -->
        Dane wymazane
        <form action='<!-- TMPL_VAR NAME=script_name -->' method=post>
                <input type=submit value=OK>
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME=else -->
        <h2>Serwery Z39.50</h2>
        <form action='<!-- TMPL_VAR NAME=script_name -->' method=post>
                <input type=text name=description value=<!-- TMPL_VAR NAME=searchfield -->>
                <input type=reset name=reset value="wyczyść">
        </form>

        <!-- TMPL_IF NAME=searchfield -->
                Szukano <b><!-- TMPL_VAR NAME=searchfield --></b>
        <!-- /TMPL_IF -->

        <table border=0 cellspacing=0 cellpadding=5>
                <tr bgcolor='#99cc33'>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Źródło</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Nazwa hosta</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Port</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Baza danych</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Użytkownik</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Hasło</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Zaznaczony</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Ranga</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'><b>Składnia</b></td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'> </td>
                        <td background='<!-- TMPL_VAR name="themelang" -->/images/background-mem.gif'> </td>
                </tr>
                <!-- TMPL_LOOP NAME=loop -->
                <tr bgcolor="<!-- TMPL_VAR NAME=toggle -->">
                        <td><!-- TMPL_VAR NAME=name --></td>
                        <td><!-- TMPL_VAR NAME=host --></td>
                        <td><!-- TMPL_VAR NAME=port --></td>
                        <td><!-- TMPL_VAR NAME=db --></td>
                        <td><!-- TMPL_VAR NAME=userid --></td>
                        <td><!-- TMPL_VAR NAME=password --></td>
                        <td><!-- TMPL_VAR NAME=checked --></td>
                        <td><!-- TMPL_VAR NAME=rank --></td>
                        <td><!-- TMPL_VAR NAME=syntax --></td>
                        <td><a href="<!-- TMPL_VAR NAME=script_name -->?op=add_form&searchfield=<!-- TMPL_VAR NAME=name -->"><img src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/fileopen.png" alt="Edytuj" title="edytuj" border=0></a></td>
                        <td><a href="<!-- TMPL_VAR NAME=script_name -->?op=delete_confirm&searchfield=<!-- TMPL_VAR NAME=name -->"><img src="<!-- TMPL_VAR name="interface" -->/<!-- TMPL_VAR name="theme" -->/images/edittrash.png" alt="Wymaż" title="wymaż" border=0></a></td>
			</tr>
                <!-- /TMPL_LOOP -->
	</table>

        <form action='<!-- TMPL_VAR NAME=script_name -->' method=post>
        <input type=hidden name=op value=add_form>
                        
        <!-- TMPL_IF NAME=offsetgtzero -->
                <a href="<!-- TMPL_VAR NAME=script_name -->?offset=<!-- TMPL_VAR NAME=prevpage -->">&lt;&lt; Wstecz</a>
        <!-- /TMPL_IF -->
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <!-- TMPL_IF NAME=ltcount -->
                <a href="<!-- TMPL_VAR NAME=script_name -->?offset=<!-- TMPL_VAR NAME=nextpage -->">Dalej &gt;&gt;</a>
        <!-- /TMPL_iF -->
                
        <br>
        <input type=submit class="button" alt="Dodaj Serwer Z39.50" value="Dodaj Serwer Z39.50">
        <br>
        </form>

<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="parameters-bottom.inc" -->
