.button {
	text-align: center;
	font: 1.2em sans-serif;
	padding: 10px 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-decoration: none;
	color: black;
	border-radius: 6px;
	-moz-border-radius: 6px;
	background-color:#FFFFFF;
	background-image:url("/intranet-tmpl/default/en/images/background-mem.gif");
}

#problem {
	color: red;
	font-weight:bold;
}
#menubar {
	border-top:1px solid #666666;
	font: 1.2em sans-serif;
	background-color:#DDDDDD;
}
#submenu {
	font: 0.5em sans-serif;
	background-color:#EEEEEE;
	border-left:1px solid #000000;
}
a.submenu {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	background-color:#EEEEEE;
	padding:4px;
	font-weight: bold;
	margin:0;
}
a.submenu2 {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	background-color:#CCCCCC;
	padding:4px;
	font-weight: bold;
	margin:0;
}

.koha {
	text-align:center;
	background-image:url("/intranet-tmpl/default/en/images/background-mem.gif");
	}

/*
 * We can't use a.home, etc. for Chinese.
 * Otherwise the screen will be extremely ugly because of the padding
 */
td.home {
	padding:4px;
	}
td.home a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.home a:hover {
	background-color: #339933;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-weight: bold;
	}

td.catalogue {
	padding:4px;
	}
td.catalogue a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	margin:0;
	}
td.catalogue a:hover {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	background-color:#ad11ad;
	color:#FFFFFF;
	font-weight: bold;
	}

td.members {
	padding:4px;
	}
td.members a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.members a:hover {
	background-color: #86c268;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	}

td.acquisition {
	padding:4px;
	}
td.acquisition a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.acquisition a:hover {
	background-color: #ffdf61;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

td.reports {
	padding:4px;
	}
td.reports a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.reports a:hover {
	background-color: #6b7cbe;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

td.circulation {
	padding:4px;
	}
td.circulation a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.circulation a:hover {
	background-color: #be6170;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

td.parameters {
	padding:4px;
	}
td.parameters a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.parameters a:hover {
	background-color: #86c268;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

td.about {
	padding:4px;
	}
td.about a {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	font-weight: bold;
	}
td.about a:hover {
	background-color: #86c268;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

/* Chinese-specific stuff below */
*[lang=en], *[lang=fr], *[lang=de], *[lang=it],
*[lang=mi], *[lang=nl], *[lang=pl],
*.en {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	font-family: "Apple LiGothic Medium", "SimHei", "MS Gothic", "MS Hei", sans-serif;
}

