.button {
	text-align: center;
	font: 1.2em sans-serif;
	padding: 10px 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	text-decoration: none;
	color: black;
	border-radius: 6px;
	-moz-border-radius: 6px;
	background-color:#FFFFFF;
	background-image:url("/intranet-tmpl/default/en/images/background-mem.gif");
}

#menubar {
	border-top:1px solid #666666;
	font: 1.2em sans-serif;
	background-color:#DDDDDD;
}
#submenu {
	font: 0.5em sans-serif;
	background-color:#EEEEEE;
	border-left:1px solid #000000;
}
a.submenu {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	margin:0;
}

.koha {
	text-align:center;
	background-image:url("/intranet-tmpl/default/en/images/background-mem.gif");
	}

a.home {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.home:hover {
	background-color: #339933;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-weight: bold;
	}

a.catalogue {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	margin:0;
	}
a.catalogue:hover {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	background-color:#ad11ad;
	color:#FFFFFF;
	font-weight: bold;
	}

a.members {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.members:hover {
	background-color: #86c268;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	}

a.acquisition {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.acquisition:hover {
	background-color: #ffdf61;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

a.reports {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.reports:hover {
	background-color: #6b7cbe;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

a.circulation {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.circulation:hover {
	background-color: #be6170;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}

a.parameters {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.parameters:hover {
	background-color: #86c268;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}
a.about {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	}
a.about:hover {
	background-color: #86c268;
	color: #000000;
	text-decoration: normal;
	font-weight: bold;
	}
