[% INCLUDE 'help-top.inc' %]

<h1>Course details</h1>

<p>The course reserves module in Koha allows you to temporarily move items to 'reserve' and assign different circulation rules to these items while they are being used for a specific course.</p>

<p>The details page will show you the items you have on reserve for your course. From here you can add/remove items and edit the course.</p>

<p><strong>See the full documentation for Course reserves in the <a href="http://koha-community.org/manual/[% helpVersion | html %]/en/html/course_reserves.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
