<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Online Help: Acquisitions Home Page<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<div id="main-compact">
	<h1>Acquisitions Home Page</h1>
<p>You're on the Acquisitions home page. Everything starts with a bookseller. If you want to create an order, or receive books, you must enter the supplier name or code. If you want to create a new supplier you can enter the name here as well.  You'll be able to create it on the next screen</p>
	<p>You'll also find on this screen:</p>
	<ul>
		<li>The <strong>Exchange Rate</strong> for all currencies. You can change them if needed. Remember that Koha doesn't get them automatically</li>
		<li>In the <strong>Suggestions</strong> box, you can see how many suggestions you have to check (accept or refuse). Of course, if you haven't activated suggestions (in <a href="/cgi-bin/koha/admin/systempreferences.pl">System Preferences</a>), you won't have anything in this box.</li>
		<li>The last box, <strong>Budget and Funds</strong> shows you the budget summary. To appear on this page an entry must be active on today's date. If an expected Book Fund doesn't appear, check <a href="/cgi-bin/koha/admin/aqbookfund.pl">Book Funds</a> in Parameters and check that your budget hasn't expired.</li>
	</ul>
	<h2>Definitions</h2>
	<ul>
		<li>A <b>basket</b> is a group of orders that are sent all at once to a given supplier. Baskets are used when acquiring books.</li>
		<li>A <b>parcel</b> is a group of acquired books that are in the same parcel. Parcel is used when receiving books.</li>
	</ul>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->