<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Error 404: Page Not Found<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="masthead.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-nav.inc" -->

<div id="main">
<h1>An Error has Occurred!</h1>
<h2>Error 404: Page Not Found</h2>

<ul>
<li>This error means that the link was broken and that the page doesn't exist</li>	
<li>To report this error, you can <a href="mailto:<!-- TMPL_VAR NAME="admin" -->">email the Koha Administrator</a>.</li>
<li>Use navigation menu to go to another part of Koha.</li>
</ul>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

