[% INCLUDE 'help-top.inc' %]
<h2>I can log in, what is next?</h2>

<p>If this is your first time logging into Koha, you should now got to Koha Administration and setup all system parameters, especially patron categories.</p>

<p>Once you have set up patron categories, you should create a new user in &quot;Patrons&quot; with super librarian privileges. Then use that user to log in rather than the root user set up as part of installation.</p>

<p>Here are some other suggestions:</p>

<ul>
<li><a href="http://koha-community.org/documentation/">Read Koha documentation</a></li>
<li><a href="http://wiki.koha-community.org">Read/Write to the Koha wiki</a></li>
<li><a href="http://koha-community.org/support/koha-mailing-lists/">Read and contribute to discussions</a></li>
<li><a href="http://bugs.koha-community.org">Report koha bugs</a></li>
<li><a href="http://wiki.koha-community.org/wiki/Version_Control_Using_Git">Submit patches to Koha using git (version control system)</a></li>
<li><a href="http://koha-community.org/get-involved/irc/">Chat with Koha users and developers</a></li>
</ul>

<h2>Can I edit the online help? </h2>

<p>You can edit the online help through the Koha Staff Client by clicking the &quot;Edit Help&quot; button. This feature has been designed so that library workflow and policies can be documented within Koha.</p>

<p><strong>IMPORTANT NOTE: Online help is overwritten during a Koha upgrade.</strong></p>

<p>As part of the upgrade process your online help will be overwritten with the new Help as part of the install. If you want to keep a copy of your online help, you should instruct your System Administrator to upgrade the Online Help directory in the Koha file tree.</p>

<p>The online help directory is: <pre>[% themelang %]/modules/help</pre></p>

<p><strong>See the full documentation for Koha in the <a href="http://manual.koha-community.org/3.12/en/">manual</a> (online).</strong></p>


[% INCLUDE 'help-bottom.inc' %]
