<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Acquisitions Statistics</h1>

<p>   IMPORTANT: The Acquisitions 'Wizard' is designed to be a simple statistical snapshot,&nbsp; In each wizard, you will choose a single category to represent 'row' and another to represent 'column'.</p>
		<ul>
			<li>Go to the 'Reports' module (usually under 'More' in your Global Nav)</li>
			<li>Choose 'Acquisitions' under 'Statistics Wizards'</li>
			<li>Enter in the information you'd like to see in your repor</li>
			<li>Click 'Submit'</li>
			<li>By changing the report from 'Count items' to 'Amount' you will see the total spent</li>
		</ul>
	</div>	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->