<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Add Patrons</h1>

<h2>Adding a New Patron</h2>   
   <p>IMPORTANT: System preferences should be defined before adding new patrons.<p>
	<ul>
		<li>
<em>Get there:</em></span>More &gt; Administration </li>
	</ul>	Add a new patron:<br/>
	<ul>
		<li>Click the 'New' button</li>
		<li>Choose the type of patron you'd like to add:
		<ul>
			<li>Staff = A user that can be configured to perform functions in the staff client.</li>
			<li>Adult = A regular patron (can have child patrons attached to it).</li>
			<li>Child = A patron who can have an adult guarantor. </li>
			<li>Organization = An organization that can have professional patrons attached to it.</li>
			<li>Professional = A patron that can have an organization as a guarantor. </li>
			<li>Statistical =		   
		   A &quot;fake&quot; patron card. When items are scanned on to a Statistical patron card, the items are not checked out, but recorded. 
			<ul>
				<li>
			    <span style="background-color: #ffe599">
TIP: This can be used to record statistics of items that are used, but do not get checked out, such as reference items, magazines, etc. You can then run a report to gather the statistics from this card</span></li>
			</ul></li>
		</ul></li>
	</ul>
	<ul>
		<li>	   
	   	   
	   Each patron type will have slightly different options.</li>	   
		<li>	   
	   	   
	   Fill in the fields related to your patron
		<ul>
			<li>		   
		   		   
		   Note that the Surname (or Last Name) is required for each patron as a default setting. You can define which fields, if any, should be required. 
			<ul>
				<li>			   

<em>Get there</em>: Administration &gt; System Preferences &gt; Patrons &gt; BorrowerMandatoryField.</li>
			</ul></li>		   
			<li>		   
<span style="background-color: #ffe599">
TIP: 'Initials' and 'Other name' are great for internal use when recognizing patrons</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>If you're adding a 'Child' or 'Professional' you will see an additional field, asking you to define a Guarantor.
		<ul>
			<li>		   
		   		   
		   From this menu you must choose the patron record to link to the child or professional.
			<ul>
				<li>			   
			   			   
			   Click 'Find guarantor' and pick a patron from the resulting list.
				<ul>
					<li>
				    <span style="background-color: #ffe599">
TIP: Only patrons of type &quot;A&quot; (adult) are searched for when you look for guarantors through the &quot;find guarantor&quot; interface.  This means that (for example) library staff (type &quot;S&quot;) and other children (type &quot;C&quot;) cannot be found as guarantors</span></li>
					<li style="color: #ff0000">				   
				   				   
				   IMPORTANT: Entering a patron by hand will not work the way you'd expect - you must search</li>
				</ul></li>
			</ul></li>
			<li>		   
		   		   
		   
		    <span style="background-color: #ffe599">
TIP: You can define the terms used in the Guarantor field. 'Mother' and 'Father' are default settings, but you can add &quot;Grandparent&quot; or &quot;Legal Guardian&quot; for instance</span>
			<ul>
				<li>			   
			   			   
			   
			    <span>
<em>Get there: </em></span>Administration &gt; Global system preferences &gt; Patrons &gt;borrowerRelationship</li>
			</ul></li>
		</ul></li>
	</ul>
	<ul>
		<li>	   
	   	   
	   If you're adding an 'Organization' you will see fewer fields in this first section.</li>
		<li>	   
	   	   
	   Enter your patron's main address.
		<ul>
			<li>		   
		   		   
		   The 'Street type' dropdown menu comes from your Patrons and Circulation parameters.
			<ul>
				<li>			   
			   			   
			   
			    <span>
<em>Get there: </em></span>Administration &gt; Patrons and Circulation &gt; Road types</li>
			</ul></li>
			<li>		   
		   		   
		   The City, State dropdown menu comes from your Patrons and Circulation parameters.
			<ul>
				<li>
			    <span>
<em>Get there: </em></span>Administration &gt; Patrons and circulation &gt; Cities</li>
			</ul></li>
		</ul></li>
		<li>Enter additional contact information for your patron.<br/>
		<ul>
			<li>
		    <span style="background-color: #ffe599">
TIP: Encourage your patrons to provide an email address. Koha will use this email address to contact patrons when an item they reserved is available and to send overdue notices.</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Enter an alternate address (if you require one for your library).
		<ul>
			<li>
		    <span style="background-color: #ffe599">
TIP: This is handy if your patron has a PO Box and you want their home address as well.</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Enter in an additional contact (if you require one for your library)</li>
		<li>Enter information necessary for patron management in the library
		<ul>
			<li>The card number can be auto-calculated, scanned in from a barcode scanner or entered in by hand. The auto-calculated card number can be turned ON and OFF in your system preferences.
			<ul>
				<li>
			    <span>
<em>Get there</em></span>: Administration &gt; System Preferences &gt; Patrons &gt;  autoMemberNum.</li>
			</ul></li>
			<li>Library branches are defined in your Basic Parameters.<ul>
				<li>
			    <span>
<em>Get There:</em></span>Administration &gt; Basic Parameters &gt; Libraries, branches and groups</li>
			</ul></li>
			<li>Patron Categories are defined in Patrons and Circulation.<ul>
				<li>
			    <span>
<em>Get There:</em></span>Administration &gt; Patrons and circulation &gt; Patron categories</li>
			</ul></li>
			<li>The sort fields are used for internal use and reports.</li>
		</ul></li>
	</ul>
	<ul>
		<li>Enter information specific to you library policies.

		<ul>
			<li>
		    <span style="background-color: #ffe599">
TIP: Use 'Library note' for notes you'd like your circulation staff to see.</span></li>
			<li>
		    <span style="background-color: #ffe599">
TIP: Use 'OPAC note' for notes you'd like the patron to see.<br/></span></li>
			<li>
		    <span style="background-color: #ffe599">
		   		   
		    <span style="background-color: #ffffff">
IMPORTANT: Make sure your staff understands the difference between these fields. 'Library note' is a private note that ONLY staff can view. 'OPAC note' WILL be viewed by the patron.<br/></span></span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Provide patrons with a login for the OPAC.
		<ul>
			<li>
		    <span style="background-color: #ffe599">
TIP: Patrons will be able to update/change their password via the OPAC</span></li>
		</ul></li>
	</ul>
	<ul>
		<li>Click 'Save' to finish the process.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->