<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Add member help</h1>
<h2>Add Member, person</h2>
<p>This is the form for adding a new single member to the database. There is also a form for organisations, such as other libraries and non profit organisations you might lend to. You should use the Add Organisation tab at the top of the Member page for that.</p>
<p>Every field with an asterisk must be filled out, or you will get an error, and the record will not be added to the database.</p>
<p>If you accidentally have two members with the same card number, the second duplicate will show up as just commas after you confirm the record.</p>
<p>When you are done with the record, click the Save button at the bottom.</p>
<p>The clear all Fields button will reset the page to a blank form in case you made a mistake.</p>

<h2>Add Member, Institutional</h2>
<p>This is the form for adding a group of members. Suppose you had a YMCA group, or lend books to other Libraries. This would be the form to use for that purpose.</p>
<p>Every field with an asterisk must be filled out, or you will get an error, and the record will not be added to the database.</p>
<p>If you accidentally have two members with the same card number, the second duplicate will show up as just commas after you confirm the record.</p>
<p>When you are done with the record, click the Save button at the bottom.</p>
<p>The clear all Fields button will reset the page to a blank form in case you made a mistake.</p>
<p>You can always come back and edit what you enter in the Add Member screen by searching for the patron by using their last name or card number, selecting a user by clicking on the entry in the search list, and then clicking the Modify button on the member information screen.</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->