[% INCLUDE 'help-top.inc' %]

<h1>Patron circulation history</h1>

<p>The circulation history tab will appear if you have set the intranetreadinghistory preference to allow it to appear. If you have the OPACPrivacy system preference set to 'Allow' and the patron has decided that the library cannot keep this information this tab will only show currently checked out items.</p>

<p>If you would like to export a list of barcodes for the items checked in today you can find that option under the More menu on the top right of the page.</p>

<p>This will generate a text file with one barcode per line.</p>

<p><strong>See the full documentation for Circulation History in the <a href="http://koha-community.org/manual/[% helpVersion %]/html/patrons.html#circulation-history">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
