#!/usr/bin/make -f

TMP = $(CURDIR)/debian/tmp

# Make "perl Makefile.PL" be non-interactive.
export PERL_MM_USE_DEFAULT=1

%:
	dh $@ --fail-missing --with bash-completion

override_dh_gencontrol:
	debian/bd-to-depends >> debian/koha-common.substvars
	dh_gencontrol

override_dh_auto_install:
	dh_auto_install
	rm $(TMP)/etc/koha/README.txt
	rm $(TMP)/etc/koha/SIPconfig.xml
	rm -r $(TMP)/usr/share/koha/doc
	rm -r $(TMP)/var/run
	rm -r $(TMP)/var/lock
	rm $(TMP)/var/log/koha/README
	rm -r \
		$(TMP)/usr/share/koha/intranet/htdocs/intranet-tmpl/lib/tiny_mce
	ln -s /usr/share/tinymce/www \
              $(TMP)/usr/share/koha/intranet/htdocs/intranet-tmpl/lib/tiny_mce
	install -d $(TMP)/etc/apache2/sites-available
	install -d $(TMP)/etc/apache2/sites-enabled
	install -d $(TMP)/etc/apache2/conf.d
	ln -s ../../koha/koha-httpd.conf $(TMP)/etc/apache2/sites-available/koha
	ln -s ../sites-available/koha $(TMP)/etc/apache2/sites-enabled/koha
	install -m 0644 debian/koha.apache-ports $(TMP)/etc/apache2/conf.d/koha
	sed -i '/^<VirtualHost 127.0.1.1:/s//<VirtualHost *:/' \
		$(TMP)/etc/koha/koha-httpd.conf
	mv $(TMP)/etc/koha/koha-conf.xml $(TMP)/usr/share/koha/koha-conf.xml.in
	sed -i $(TMP)/usr/share/koha/koha-conf.xml.in \
		-e '/^ <user>/s/>.*</>_DBC_DBUSER_</' \
		-e '/^ <pass>/s/>.*</>_DBC_DBPASS_</'
	mkdir -p $(TMP)/debian/tmp_docbook
	xt/verify-debian-docbook.t
	xsltproc --output $(TMP)/debian/tmp_docbook/ \
	    /usr/share/xml/docbook/stylesheet/docbook-xsl/manpages/docbook.xsl \
	    debian/docs/*.xml

override_dh_compress:
	# exclude history.txt from compression as about.pl needs it uncompressed
	dh_compress --exclude=history.txt
