    <!-- TMPL_INCLUDE NAME="opac-top.inc" -->
<div id="mainbloc">

<h1 class="catalogue">Ricerca nel catalogo</h1>

<form name="f" method="post" action="<!-- TMPL_VAR name="SCRIPT_NAME" -->">
	
	<div id="bloc60">
		<h2 class="catalogue">Cerca su</h2>
		<p>
			<input type="hidden" name="op" value="do_search" />
			<input type="hidden" name="nbstatements" value="<!-- TMPL_VAR NAME="nbstatements" -->" />
			<label class="label20">Qualsiasi parola</label>
			<input type="hidden" name="marclist" value="" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />
			<input type="text" name="value" size="35" />
		</p>
		<p>
			<label class="label20">Titolo</label>
			<input type="hidden" name="marclist" value="biblio.title" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />
			<input type="text" name="value" size="35" />
			<!-- TMPL_UNLESS Name="Disable_Dictionary" -->
				<a href="javascript:Dopop('opac-dictionary.pl?marclist=biblio.title&amp;type=intranet&amp;index=1',1)" class="button catalogue">
					...
				</a>
			<!-- /TMPL_UNLESS -->
		</p>
		<p>
			<label class="label20">Autore</label> <input type="hidden" name="marclist" value="biblio.author" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />
			<input type="text" name="value" size="35" />
			<!-- TMPL_UNLESS Name="Disable_Dictionary" -->
				<a href="javascript:Dopop('opac-dictionary.pl?marclist=biblio.author&amp;type=intranet&amp;index=2',2)" class="button catalogue">
					...
				</a>
			<!-- /TMPL_UNLESS -->
		</p>
		<p>
			<label class="label20">Argomento</label>
			<input type="hidden" name="marclist" value="bibliosubject.subject" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />  
			<input type="text" name="value" size="35" />
			<!-- TMPL_UNLESS Name="Disable_Dictionary" -->
				<a href="javascript:Dopop('opac-dictionary.pl?marclist=bibliosubject.subject&amp;type=intranet&amp;index=3',3)" class="button catalogue">
					...
				</a>
			<!-- /TMPL_UNLESS -->
		</p>
		<p>
			<label class="label20">Titolo del periodico</label>
			<input type="hidden" name="marclist" value="biblio.seriestitle" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />
			<input type="text" name="value" size="35"/>
		</p>
		<p>
			<label class="label20">Tipo di volume</label>
			<input type="hidden" name="marclist" value="biblioitems.itemtype" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="=" />
			<select name="value">
				<option value="">Qualsiasi tipo di articolo</option>
					<!-- TMPL_LOOP name="itemtypeloop" -->
							<option value="<!-- TMPL_VAR name="value" -->"><!-- TMPL_VAR name="description" -->
							</option>
					<!-- /TMPL_LOOP -->
			</select>
		</p>
		<p>
				<label class="label20">Sezione</label>
				<input type="hidden" name="marclist" value="items.holdingbranch" />
				<input type="hidden" name="and_or" value="and" />
				<input type="hidden" name="excluding" value="" />
				<input type="hidden" name="operator" value="=" />  
                 <select name="value">
                    <option value="">Qualsiasi sezione</option>
                        <!-- TMPL_LOOP name="branchloop" -->
                    <option value="<!-- TMPL_VAR name="value" -->" <!--TMPL_IF Name="selected"-->selected<!--/TMPL_IF-->> <!-- TMPL_VAR name="branchname" -->  </option>
                        <!-- /TMPL_LOOP -->
                </select>
		</p>
	</div>
	<div id="bloc20">
		<h2>Altre opzioni</h2>
		<p>
				<label class="label20">Codice a barre del volume</label>
				<input type="hidden" name="marclist" value="items.barcode" />
				<input type="hidden" name="and_or" value="and" />
				<input type="hidden" name="excluding" value="" />
				<input type="hidden" name="operator" value="start" />
				<input type="text" name="value" /> 
		</p>
		<p>
			<label class="label20">Collocazione</label>
			<input type="hidden" name="marclist" value="items.itemcallnumber" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="start" />
			<input type="text" name="value" />
		</p>
		<p>
			<label class="label20">ISBN</label>
			<input type="hidden" name="marclist" value="biblioitems.isbn" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="=" />
			<input type="text" name="value" />
		</p>
		<p>
			<label class="label20">Casa editrice</label>
			<input type="hidden" name="marclist" value="biblioitems.publishercode" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="contains" />
			<input type="text" name="value" />
		</p>
		<p>
			<label class="label20">Pubblicato tra</label>
			<input type="hidden" name="marclist" value="biblioitems.publicationyear" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value=">=" />
			<input type="text" name="value" size="6" maxlength="4" /> e
			<input type="hidden" name="marclist" value="biblioitems.publicationyear" />
			<input type="hidden" name="and_or" value="and" />
			<input type="hidden" name="excluding" value="" />
			<input type="hidden" name="operator" value="<=" />
			<input type="text" name="value" size="6" maxlength="4" />
		</p>
		<p>
			<label class="label20">Risultati per pagina</label>
			<select name="resultsperpage" size="1">
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</p>
		<p>
			<label class="label20">&nbsp;</label><input type="checkbox" value=1 name="exact">Ricerca esatta
		</p>
		<p>
			<label class="label20">Ordinato da</label>
			<select name="orderby" size="1">
				<option value="biblio.title">Titolo</option>
				<option value="biblio.author">Autore</option>
				<option value="biblioitems.dewey">Dewey</option>
				<option value="biblioitems.publicationyear">Anno di pubblicazione</option>
				<option value="biblioitems.publishercode">Casa editrice</option>
				<option value="biblio.timestamp">Data di acquisto</option>
			</select>
		</p>
		<p>
			<label>&nbsp;</label>
			<select name="desc_or_asc" size="1">
				<option value="ASC">Ascesa</option>
				<option value="DESC">Discendente</option>
			</select>
		</p>		

	</div>
	<p>
		<input type="submit" value="Inizia la ricerca" class="button catalogue">
		<input type="reset" value="Cancella tutti" class="button catalogue">
	</p>
	<div id="bloc60">
		<h2>Suggerimenti</h2>
		<h3>Titolo</h3>
		<p>E' possibile selezionare un titolo completo o parte di esso. La ricerca verr&agrave; effettuata anche tra i sottotitoli ed altri campi correlati</p>
		<h3>Autore</h3>
		<p> possibile selezionare un nome o un cognome. La ricerca verr effettuata anche tra gli autori supplementari ed altri campi analoghi (traduttore, illustratore...)</p>
		<p>Si ricorda che un titolo pu essere relativo ad un effettivo autore (Victor Hugo), o ad una collaborazione, gruppo, o collezione di autori (CNRS, Biblioteca del Congresso)</p>
		<h3>Sezioni</h3>
		<p>Seleziona una sezione se desideri limitare la ricerca ad una sezione specifica. Di norma, la ricerca viene effettuata su tutte le sezioni della biblioteca</p>
		<h3>Ricerca parziale</h3>
		<p>Verr effettuata una ricerca su ogni parola immessa. Le stringhe vuote verranno ignorate. Selezionando, ad esempio, "the two towers" nel campo "titolo", la lista dei risultati conterr tutti i volumi contenenti "two" e "tower" nel titolo. La stringa "the" verr ignorata.</p>
		<p>Se desideri specificare l'inizio di una parola, aggiungi un * o un % alla fine della parola. Ad esempio "due torri*" cercher "le due torri", "due torri bianche", "una torre e due citt"</p>
		<h3>Ricerca sul dizionario</h3>
		<p>se fai click su ... sulla destra del titolo/autore/argomento, puoi ricercare i valori esistenti nella biblioteca.</p>
	</div>
</form>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
