<!-- TMPL_INCLUDE name="acquisitions-top.inc" -->

<div id="mainbloc">
	<h1 class="acquisition"><!-- TMPL_UNLESS name="basketno" -->New <!-- /TMPL_UNLESS -->shopping Basket <b><!-- TMPL_VAR NAME="basketno" --> </b>for <a href="supplier.pl?id=<!-- TMPL_VAR NAME="booksellerid" -->"><!-- TMPL_VAR NAME="name" --></a></h1><br />
	<div id="bloc25">
		<h2 class="acquisition">Basket info</h2>
			<p><label class="label100">Basket number<label> <!-- TMPL_VAR NAME="basketno" --></p>
			<p><label class="label100">Managed by<label><!-- TMPL_VAR NAME="authorisedbyname" --></p>
			<p><label class="label100">open on<label> <!-- TMPL_VAR NAME="creationdate" --></p>
			<p><label class="label100">for<label> <!-- TMPL_VAR NAME="booksellerid" --></p>
			<p><label class="label100">Invoice number </label><!-- TMPL_VAR NAME="booksellerinvoicenumber" --></p>
			<a href="/cgi-bin/koha/acqui/order.pl?op=close&amp;basket=<!-- TMPL_VAR NAME="basketno" -->" class="button acquisition">Close</a>
	</div>
	<div id="bloc100">
	<h2 class="acquisition">Order</h2>
	<!-- TMPL_IF name="books_loop" -->
		<table>
			<tr valign="top" bgcolor="#ffdf61">
				<th class="acquisition" width="5%">Order</th>
				<th class="acquisition" width="10%">Publisher</th>
				<th class="acquisition" width="10%">Isbn</th>
				<th class="acquisition" width="30%">Title</th>
				<th class="acquisition" width="20%">Author</th>
				<th class="acquisition" width="5%">$ rrp</th>
				<th class="acquisition" width="7%">$est</th>
				<th class="acquisition" width="7%">Qty</th>
				<th class="acquisition" width="7%">Total</th>
			</tr>
			<!-- TMPL_LOOP NAME="books_loop" -->
				<tr valign="top" bgcolor="<!-- TMPL_VAR NAME="color" -->">
					<td><!-- TMPL_VAR NAME="ordernumber" --></td>
					<td><!-- TMPL_VAR NAME="publishercode" --></td>
					<td><!-- TMPL_VAR NAME="isbn" --></td>
					<td><a href="newbiblio.pl?ordnum=<!-- TMPL_VAR NAME="ordernumber" -->&booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->"><!-- TMPL_VAR NAME="title" --></a></td>
					<td><!-- TMPL_VAR NAME="author" --></td>
					<td><!-- TMPL_VAR NAME="rrp" --></td>
					<td><!-- TMPL_VAR NAME="ecost" --></td>
					<td><!-- TMPL_VAR NAME="quantity" --></td>
					<td><!-- TMPL_VAR NAME="line_total" --></td>
				</tr>
			<!-- /TMPL_LOOP -->
			<input type="hidden" name="number" value=<!-- TMPL_VAR NAME="count" -->>
			<input type="hidden" name="basketno" value="<!-- TMPL_VAR NAME="basketno" -->">
			<tr>
				<td colspan="6" rowspan=3>
					&nbsp;
				</td>
				<td><b>SubTotal</b></td>
				<td><!-- TMPL_VAR NAME="currency" --><!-- TMPL_VAR NAME="sub_total" --></td>
			</tr>
			<tr>
				<td><b>GST</b></td>
				<td><!-- TMPL_VAR NAME="currency" --><!-- TMPL_VAR NAME="gist" --></td>
			</tr>
			<tr>
				<td><b>TOTAL</b></td>
				<td><!-- TMPL_VAR NAME="currency" --><!-- TMPL_VAR NAME="grand_total" --></td>
			</tr>
		</table>
	<!-- TMPL_ELSE -->
		<p>Basket empty</p>
	<!-- /TMPL_IF -->
	</div>
	<div id="bloc25">
		<h2 class="acquisition">Add order line</h2>
		<form action="/cgi-bin/koha/acqui/newbasket2.pl" method="post">
			<input type="hidden" name="booksellerid" value="<!-- TMPL_VAR NAME="booksellerid" -->">
			<input type="hidden" name="basketno" value="<!-- TMPL_VAR NAME="basketno" -->">
			<p>from an existing biblio: </b><input type="text"  size="25"   name="search"><input type="submit" class="button acquisition" value="Search"></p>
			<p>or
				<a href="/cgi-bin/koha/acqui/suggestion-select.pl?booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->" class="button acquisition">
					from a suggestion
				</a>
				<a href="/cgi-bin/koha/acqui/newbiblio.pl?booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->" class="button acquisition">
					New biblio
				</a>
			</p>
		</form>
	</div>
</div>
<!-- TMPL_INCLUDE name="acquisitions-bottom.inc" -->
