[% INCLUDE 'doc-head-open.inc' %]
    <title>Koha &rsaquo; Cataloguing &rsaquo; Batch Overlay</title>
    [% INCLUDE 'doc-head-close.inc' %]
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/jquery.dataTables-1.10.11.min.js"></script>
    <script src="/js/jquery-ui-1.11.4.min.js"></script>
    <script src="/js/jquery.validate-1.15.0.min.js"></script>

    <link rel="stylesheet" href="/css/jquery.dataTables-1.10.11.min.css">
    <link rel="stylesheet" href="/css/jquery-ui-1.11.4/jquery-ui-1.11.4.min.css">
</head>
<body>
    [% INCLUDE 'header.inc' %]
    [% INCLUDE 'cat-search.inc' %]
    <div id="breadcrumbs">
        <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo;
        <a href="/cgi-bin/koha/cataloguing/addbooks.pl">Cataloguing</a> &rsaquo;
        Batch Overlay
    </div>

    <h4 class="hint">&nbsp;&nbsp;See "Help" for usage instructions!</h4>

    <div id="statusesContainer"></div>
    <div id="showAllExceptionsContainer">
        <input type="checkbox" name="showAllExceptions" value="1"[% IF showAllExceptions %] checked="checked"[% END %]/>
        <label for="showAllExceptions">Show all exceptions</label>
    </div>

    <div id="toptabs">
        <ul>
            <li class="ui-tabs-active">
                <a href="#reports">Reports</a>
            </li>
            <li>
                <a href="#manualOverlaying">Manual overlaying</a>
            </li>
        </ul>
        <div id="reports">
            [% INCLUDE reportsView %]
        </div>
        <div id="manualOverlaying">
            [% INCLUDE manualOverlayingTool %]
        </div>
    </div>



[% #***********************************# REPORTS VIEW #***********************************# %]
[% BLOCK reportsView %]
    <table id="reportsTable">
        <thead>
            <td>Id</td>
            <td>User</td>
            <td>Timestamp</td>
            <td>Reports</td>
            <td>Errors</td>
            <td>Operations</td>
        </thead>
        [% FOREACH rc IN reportContainers %]
            <tr id="reportContainer-[% rc.getId() %]">
                <td>[% rc.getId() %]</td>
                <td><a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% rc.getBorrower().borrowernumber %]">[% rc.getBorrower().cardnumber %]</a></td>
                <td>[% rc.getTimestampLocalized() %]</td>
                <td>[% rc.getReportsCount() %]</td>
                <td>[% rc.getErrorsCount() %]</td>
                <td>
<!--NOT IMPLEMENTED                    <a class="btn btn-small deleteReportContainer"><i class="icon-remove-sign"></i></a>-->
                    <a class="btn btn-small showReportContainer"><i class="icon-search"></i></a>
                </td>
            </tr>
        [% END %]
    </table>

[% END %]
[% #***********************************# END OF REPORTS VIEW #***********************************# %]



[% #***********************************# MANUAL OVERLAYING TOOL #***********************************# %]
[% BLOCK manualOverlayingTool %]
    <div id="doc3" class="yui-t2">
        <div id="bd">
            <div class="yui-gb">
                <div class="yui-u first" id="collect-batch-overlay">

                    <form name="overlay_by_code" action="/cgi-bin/koha/cataloguing/batchOverlay.pl" method="post" id="asfasfasf">
                        <input type="hidden" name="op" value="overlay"/>
                        <fieldset class="rows">
                            <legend>Overlay by search term(s):</legend>
                            <ol><li>
                                <label for="codesString">
                                    <p class="hint">One search term per line.<br/>
                                    Search term should be the EAN, ISSN, ISBN, ISMN, Koha biblionumber or Koha barcode, but it can be anything searchable.</p>
                                </label>
                                <textarea rows="5" id="codes" name="codesString" tabindex="1" class="focus">[% codesString %]</textarea>

                                <br /> <input type="submit" value="Overlay us!">
                            </li></ol>
                        </fieldset>
                    </form>
                </div>
                <div class="yui-u middle">
                    <form name="encodingLevelReportForm" action="/cgi-bin/koha/cataloguing/batchOverlay.pl" method="get" id="ffasdafas">
                        <input type="hidden" name="op" value="encodingLevelReport" />

                        <fieldset class="rows">
                            <legend>Get bibliographic records by the encoding level</legend>
                            <ol><li>
                                <span class="hint">One can easily find records pending fully catalogued content using this report and batch overlay them.</span>
                            </li><li>
                                <label for="encodingLevel">Encoding level:</label><input name="encodingLevel" type="text" size="1" maxlength="1" value="[% encodingLevel %]"/>
                            </li><li>
                                <label for="encodingLevelLimit">Limit results:</label><input name="encodingLevelLimit" type="text" size="5" value="[% encodingLevelLimit %]"/>
                            </li><li>
                                <input type="submit" />
                            </li></ol>

                            [% IF biblioResults %]
                                <div id="encodingLevelReportContainer">
                                    <h4 style="margin-left: 1em;">We found [% biblioResultsSize %] records using the encoding level [% encodingLevel %]</h4>
                                    <p class="hint">You can copy the standard identifier [between brackets] from results to the overlay textarea on the left column by clicking the "+"-sign.<br/>
                                    See <a href="http://www.loc.gov/marc/bibliographic/bdleader.html" target="_blank">the MARC21 Manual</a> for valid search values.</p>
                                    <table>
                                    [% FOREACH result IN biblioResults %]
                                        <tr>
                                            <td>
                                                <button type="button" class="btn btn-small importStdIdButton" value="[% result.stdId %]" onclick="importResult(this)"><i class="icon-plus"></i></button>
                                            </td>
                                            <td>
                                                <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% result.biblionumber %]">
                                                    [% result.title %] &nbsp;
                                                    [% result.author %]
                                                </a>
                                            </td>
                                            <td>
                                                [% IF result.stdId %]
                                                    [[% result.stdId %]]
                                                [% END %]
                                            </td>
                                        </tr>
                                    [% END %]
                                    </table>
                                </div>
                            [% END %]
                        </fieldset>
                    </form>
                </div>


            </div> [% #<div class="yui-gb"> %]
        </div> [% #<div id="bd"> %]
    </div> [% #<div id="doc3" class="yui-t2"> %]
[% END %]
[% #***********************************# END OF MANUAL OVERLAYING TOOL #***********************************# %]

[%# signals for the javascript layer%]
<script>
var justExecutedReportContainerId = ("[% reportContainerId %]" != "") ? "[% reportContainerId %]" : null;
var encodingLevelSearchPerfromed = ("[% biblioResults %]") ? 1 : null;
</script>
<script src="[% themelang %]/js/Cataloguing/BatchOverlay.js"></script>
<style type="text/css">
    div.report:nth-child(odd) {background-color: #EEEEEE;}
    .yui-u.middle {width : 66%;}
    fieldset.rows label {float: none;}
    #codes {width: 100%;}

    #diff tbody tr td {
        padding: 0px;
    }
    div.reportRow {background-color: #EEEEEE;}
    .reportRow {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid rgb(170, 213, 233);
        padding: 5px;
        border-radius: 5px;
    }
    .reportRow a {
        color: #004d99;
        text-decoration: initial;
    }

    #statusesContainer {
        float: right;
        padding-right: 10px;
    }
    .rtc-ok {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 5px;
        background-color: green;
    }
    .rtc-server {
        font-weight: bold;
    }
</style>

    [% INCLUDE 'intranet-bottom.inc' %]