[% USE Koha %]
[% INCLUDE 'doc-head-open.inc' %]
<title>[% IF ( LibraryNameTitle ) %][% LibraryNameTitle %][% ELSE %]Koha online[% END %] catalog &rsaquo; Updates submitted</title>
[% INCLUDE 'doc-head-close.inc' %]
[% BLOCK cssinclude %][% END %]
</head>
[% INCLUDE 'bodytag.inc' bodyid='opac-patron-update-submitted' %]
[% INCLUDE 'masthead.inc' %]

    <div class="main">
        <ul class="breadcrumb">
            <li><a href="/cgi-bin/koha/opac-main.pl">Home</a> <span class="divider">&rsaquo;</span></li>
            <li><a href="/cgi-bin/koha/opac-user.pl">[% INCLUDE 'patron-title.inc' patron = logged_in_user %]</a> <span class="divider">&rsaquo;</span></li>
            <li><a href="#">Updates to your record</a></li>
        </ul>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    <div id="navigation">
                        [% INCLUDE 'navigation.inc' IsPatronPage=1 %]
                    </div>
                </div>
                <div class="span10">
                    <div id="update-submitted">
                        <div class="alert alert-success">
                            <h3>Thank you</h3>
                            <p>Your updates have been submitted. A librarian will review your updates before applying them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

[% INCLUDE 'opac-bottom.inc' %]
[% BLOCK jsinclude %][% END %]
