<yazgfs>
  <listen id="public">tcp:localhost:42111</listen>
  <server>
    <cql2rpn>pqf.properties</cql2rpn>
    <explain xmlns="http://explain.z3950.org/dtd/2.0/">
      <retrievalinfo>
        <retrieval syntax="usmarc" name="marc21"/>
        <retrieval syntax="unimarc" name="unimarc"/>
        <retrieval syntax="xml" name="marcxml" identifier="info:srw/schema/1/marcxml-v1.1"/>
      </retrievalinfo>
    </explain>
  </server>
</yazgfs>
