[% INCLUDE 'help-top.inc' %]

<h1>Batches</h1>

<p>A batch is a collection of patrons for whom you want to generate cards.</p>

<h2>Add a Batch</h2>

<p>To add a new batch, you want to click on the 'Batches' button at the top of your page and choose 'New Batch'</p>

<p><strong>See the full documentation for the Patron Card Batches in the <a href="http://koha-community.org/manual/[% helpVersion %]/en/html/tools.html#batches">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
