<TMPL_INCLUDE NAME="cat-top.inc">
<h1>Menu g³ówne</h1>
<ul>
<li><a href=<TMPL_VAR name="SCRIPT_NAME">?menu=z3950>Wyszukiwarka Z39.50</a>
<li><a href=<TMPL_VAR name="SCRIPT_NAME">?menu=uploadmarc>Za³aduj rekordy MARC</a>
</ul>
<TMPL_INCLUDE NAME="cat-bottom.inc">
