body {
	text:"black";
	bgcolor:"red";
	link:"#0000ff";
	vlink:"#0000ff";
	Alink:"#cc3300";
	margin-bottom:0;
	margin-right:0;
	margin-left:0;
	margin-top:0;
	font-size:12pt;
	font-family:Times;
	}

th {
	bgcolor:#cccc99;
	background-image:url(/images/background-mem.gif);
	font-weight:bold;
}
