@import url( /intranet-tmpl/prog/en/lib/yui/reset-fonts-grids.css) all;

a, a:link, a:visited, a:active {
    text-decoration:none;
    color:#027ac6;
}

a:hover {
    text-decoration:underline;
    color:#0072b9;
    }

body {
    text-align : left;
    background-color:#EDF5FA;
    color:#494949;
}

form {
	display : inline;
}

h1 {
    margin-top:0.5em;
    margin-bottom:0.5em;
    font-size : 182%;
    font-weight : bold;
}

h2 {
    margin-top:0.3em;
    margin-bottom:0.3em;
    font-size : 167%;
    font-weight : bold;
}

h3 {
	font-size : 153.9%;
	font-weight : bold;
}

h4 {
	font-size : 138.5%;	
	font-weight : bold;
}

h5 {
	font-size : 123.1%;	
	font-weight : bold;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    background-repeat:repeat-x;
    color:white;}

h6 {
	font-size : 93%;
	font-weight : bold;
}

strong {
	font-weight : bold;
}

em {
	font-style : italic;
}

input[type=submit], input[type=button], input[type=reset] {
    border:0px;
    color: #0072b9;
    font-weight:bold;
    background: url( /intranet-tmpl/prog/img/bg-tab.png );
    font-size : 0.8em;
    padding:3px;
    text-decoration:none;
    display:inline;
    cursor:pointer;
    margin-left:20px;
}

#hd {
}

#navigation {
	border-right : 1px solid #BCBCBC;
}

#navigation li {
	font-weight : bold;
}

#navigation li li {
	font-weight : normal;
}

#navigation input {
	font-size : 85%;
}

#ft {
}

.yui-u {
}

#doc3 {
	padding-top : 1em;
	background-color:white;
}

#login	 {
	position : absolute;
	top : 3px;
	right : .5em;
}

#login a {

}

ul {
	padding-left : 1.1em;
}

li {
	
	list-style-type : disc;
}

#header {
    border-bottom : 1px solid #494949;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    color:#494949;
}
#header a {
    color:white;
}


#header:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

#sitetitle {
/*	background-image : url("../../img/koha-logo-black.png");
	background-position : 5px 2px;
	background-repeat : no-repeat;
	float : left;
	height : 54px;
	padding-left : 50px;*/
	border-bottom : 1px solid #E8E8E8;
}

#sitetitle h1 {
	display : inline;
	line-height : 54px;
}

#sitetitle h1 a {
	text-decoration : none;
}

#toplevelnav {
	float : left;
	line-height : 2em;
}

#submenu {
    margin : 0 0 .5em 0;
    padding : 10px 0 0 0;
    margin-top:10px;
}

#submenu ul {
    margin : 0;
    display:inline;
}

#submenu ul li {
    padding : 0px 5px 0px 5px;
    background-color:#027ac6;
    color:white;
    display:inline;
    background: url( /intranet-tmpl/prog/img/css_header.png );
}

#submenu ul li a {
    color:white;
}

/*#toplevelnav ul {
	margin : 0;
	padding : 0;
}

#toplevelnav li, #submenu li {
	display : inline;
	border-right : 1px solid #E8E8E8;
	padding : 0 .5em;
	white-space : nowrap;
}

#toplevelnav li:last-child, #submenu li:last-child {
	border : 0;
}*/

table {
    border-collapse : collapse;
    border-top : 1px solid #BCBCBC;
    border-right : 1px solid #BCBCBC;
}

th {
    color:white;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    background-repeat:repeat-x;
    border-bottom : 1px solid #BCBCBC;
    border-left : 1px solid #BCBCBC;
    padding : .5em;
}

td {
    background-color : White;
    border-bottom : 1px solid #BCBCBC;
    border-left : 1px solid #BCBCBC;
    padding : .5em;
}

th {
	background-color : #E8E8E8;
	font-weight : bold;
}

td.highlight {
	background-color : #F3F3F3;
}

caption {
	font-size : 153.9%;
	font-weight : bold;
}

span.problem {
	background-color : #FFFFCC;
	color : #990000;
	font-weight : bold;
	line-height : 1.7em;
}

fieldset {
	border : 2px solid #EEEEEE;
	margin : 1em;
	padding : 1em;
}

legend {
	font-size : 138.5%;
	font-weight : bold;
	margin : 0 0 0 -1em;
	padding : 0;
}

#breadcrumbs {
	background-color : #F3F3F3;
	border-bottom : 1px solid #E8E8E8;
	clear : both;
	font-size : 90%;
	padding :.2em .5em .4em .5em;
}

#commonsearch {
	display : inline;
}


div#header_search {
	background-image : url("../../img/koha-logo-medium.gif");
	background-position : .5em .5em;
	background-repeat : no-repeat;
	float: left;
	padding-left : 14.2em;
	margin: 1em 0 1.5em 0;
}

div#header_search input {
	font-size : 1.3em;
}

div#header_search ul.link-tabs {
	font-family : Arial, Geneva, sans-serif;
	margin-bottom : -4px;
}

div#header_search ul.link-tabs li.on a,
div#header_search ul.link-tabs li a,
div#header_search ul.link-tabs li.off a {
	padding : 0.1em .5em .2em .5em;
}

div#circ_search,div#catalog_search,div#patron_search {
	border : 0;
	border-bottom : 1px solid #FF9900;
	padding : 0 0 .2em 0;
}

/* Panel-Switch Tabs */
ul.link-tabs {
	list-style-type: none;
	margin: 1px 0 9px 5px;
	padding: 0;
}

ul.link-tabs li {
	display: inline;
	padding: 0px;
}

ul.link-tabs li a {
	border-bottom: 1px solid #333333;
	border-left : 1px solid #DDDDDD;
	border-right : 1px solid #666666;
	padding: .2em 1.2em .2em 1.2em;
	text-decoration: none;
}

ul.link-tabs li.off a {
	background-color: #FFFFFF;
	border : 0;
	margin-right : 1px;
	text-decoration: underline;
}

ul.link-tabs li.off a:hover {
	background-color: #FFFFEC;
	border : 0;
	margin-right : 0;
	padding: .2em 1.2em .2em 1.2em;
}

ul.link-tabs li.on a {
	background-color: #FFFFCC;
	border-top: 1px solid #FFFFCC;
	border-right: 1px solid #FF9900;
	border-bottom: 1px solid #FF9900;
	border-left: 1px solid #FFCC66;
	font-weight : bold;
}

div#header_search .tip {
	font-size: 93%;
	color : Gray;
}

/* ClickMenu Overrides */

div.cmDiv
{
	border: 0;
	background-color: #F3F3F3;
}


.clickMenu li.more a {
	background-image: url("../../img/more-arrow.gif");
	background-position: right;
	background-repeat: no-repeat;
	padding-right : 13px;
}

.clickMenu li.more li a {
	background-image : none;
	padding-right : 0;
}

.clickMenu
{
	margin: 0;
	padding: 0;
	cursor: default;
}
.clickMenu, .clickMenu ul
{
	list-style: none;
}
.clickMenu ul
{
    margin: 0;
    padding: 2px;
    border: 0;
    background-color: #F3F3F3;
    min-width: 100px; /* ie doesnt know this :/ */
    //float: left;/*ie again*/
    //width: 100%;/*and again*/
}
.clickMenu div.outerbox
{
    display: none;
    min-width: 106px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
    //top: 20px; /* for ie */
    left: 0;
    margin: 0;
}
.clickMenu div.inner div.outerbox
{
    margin: 0;
    left: 98px;
    //left: 90px; /* for ie */
    top: -3px;
}
.clickMenu li
{
    list-style-type : none;
    position: relative;
    padding: 0 20px 0 2px;
    /*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
    float: left;
    padding: 0 10px;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    //height: 20px; /* for ie */
}
.clickMenu li.main li
{
    z-index: 2;
    min-width: 78px;
    background-color: #2e8fcb;
}
.clickMenu li.hover
{
    z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
    background-color : transparent;
}
.clickMenu img.liArrow
{
    position: absolute;
    right: 5px;
    top: 0.41em;
}
.clickMenu ul a {
    cursor: default;
}

ul.innerBox a {
    cursor : pointer;
}

ul.innerBox {
    border: none;
}

div.yui-b {
    border: 1px solid #dddddd;
    padding:10px 0 10px 5px;
    background:#e4eaee;
}

div.yui-b h5 {
	font-size : 100%;
    margin : .5em 0;
}

/*Action button*/
#action {
    float:right;
}

#action a {
    color: #0072b9;
    font-weight:bold;
    background: url( /intranet-tmpl/prog/img/bg-tab.png );
    font-size : 0.8em;
    padding:3px;
    margin-bottom:2px;
    text-decoration:none;
    display:block;
}

#action li {
    list-style:none;
}
/*edit action*/
#action .edit {
    display:inline;
    margin-bottom:10px;
}

#action .edit a {
    background:none;
    background-color : #0072b9;
    color : white;
}

#action .edit a:hover {
    cursor:pointer;
}

#action .view {
	display:inline;
	margin-bottom:5px;
}

#action .view a {
    background:none;
    background-color : #5ab5ee;
    color : white;
    margin-top: 1px;
}

#action .view a:hover {
    cursor:pointer;
}

#action .others {
    display:inline;
    margin-bottom:5px;
}

#action .others a {
    background:none;
    background-color : #2385C2;
    color : white;
    margin-top: 1px;
}

#action .others a:hover {
    cursor:pointer;
}




div#toolbar {
background:url(/intranet-tmpl/prog/img/bg-tab.png) repeat-x;
background-color : #82badd;
padding-bottom:0px;
}

ul.toolbar {
}

ul.toolbar li {
	display : inline;
	float : left;
	list-style : none;
}

ul.toolbar li a {
    background: url( /intranet-tmpl/prog/img/css_header.png );
    background-repeat:repeat-x;
    color:white;
    border : 1px solid #F3F3F3;
	display : block;
	margin : 3px;
	padding : 3px;
	text-decoration : none;
}

ul.toolbar li a:hover {
    background:none;
    background-color : #FFFFCC;
    color:#82badd;
}

ul.toolbar li:last-child a:hover {
}

ul.toolbar ul {
	display : none;
}
