/* addbiblio.css */

/* MARC editor */

/* styles for the 11 buttons that the user can click on */
/* the design of the active tab button (only 1 at a given time)*/
.tab_active {
    color: #6699CC;
    background-color : #CCCCCC;
    font-size : 1em;
    border: 2px inset;
    font-weight : bold;
    text-decoration:none;
    display: inline;
    text-decoration:none;
    margin-left:10px;
}

#onlinehelp {
    float:right;
}

/* the design of the INactives tab buttons (all other tabs) */
.tab_inactive {
    background-color : #6699CC;
    color : #FFFFFF;
    font-size : 1em;
    font-weight : bold;
    display:inline;
    border: 2px outset;
    text-decoration:none;
    margin-left:10px;
}

/* the button of INactive tabs : we need this one to have white color on links, otherwise, default a look will be choosen */
#tabs a {
    color:white;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
}

/* specify that we to do when the mouse is on 1 button */
#tabs a:hover {
    border: 2px inset;
}

#tabs {
    margin-top:45px;
    margin-bottom:5px;
}

/* styles for the 11 content blocks */
/* the property for hidden tabs */
.content_hidden {
    height:0px; /* you propably don't need to change this one */
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    height:0px; /* you propably don't need to change this one */
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}

/* the style of tag description */
p.tag {
    font-weight:bold;
}
/* the style of subfield paragraph */
p.subfield {
    
}