form#illfilter_form div.ms-parent button.ms-choice span.placeholder {
    background-color: transparent;
    cursor: default;
}

form#illfilter_form div.ms-parent button.ms-choice {
    height: calc(1.5em + .75rem + 2px);
}

form#illfilter_form div.ms-parent div.ms-drop input[type="checkbox"] {
    margin-left: -1.25rem
}

form#illfilter_form div.ms-parent div.ms-drop ul > li {
    padding: .25rem 8px;
}