<!-- TMPL_INCLUDE Name="popup-top.inc" -->
<div id="mainbloc" style="padding-bottom:10px;margin:10px;width:95%;">
<h1 class="authority">Assistant champ codé 110a</h1>
<form name="f_pop" onSubmit="javascript:report()">

<p>
	<label style="width:20em;">Type de publication en serie</label>
	<select name="f1" size="1">
		<!-- TMPL_IF name="f1 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f1a" -->
		<option value="a" SELECTED>Périodique</option>
		<!-- TMPL_ELSE -->
		<option value="a">Périodique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f1b" -->
		<option value="b" SELECTED>Collection des monographies</option>
		<!-- TMPL_ELSE -->
		<option value="b">Collection des monographies</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f1c" -->
		<option value="c" SELECTED>Journal</option>
		<!-- TMPL_ELSE -->
		<option value="c">Journal</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f1z" -->
		<option value="z" SELECTED>Autres</option>
		<!-- TMPL_ELSE -->
		<option value="z">Autres</option>
		<!-- /TMPL_IF -->
	</select>
</p>

<p>
	<label style="width:20em;">Périodicité</label>
	<select name="f2" size="1">
		<!-- TMPL_IF name="f2 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2a" -->
		<option value="a" SELECTED>Quotidien</option>
		<!-- TMPL_ELSE -->
		<option value="a">Quotidien</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2b" -->
		<option value="b" SELECTED>Bihebdomadaire</option>
		<!-- TMPL_ELSE -->
		<option value="b">Bihebdomadaire</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2c" -->
		<option value="c" SELECTED>Hebdomadaire</option>
		<!-- TMPL_ELSE -->
		<option value="c">Hebdomadaire</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2d" -->
		<option value="d" SELECTED>Toutes les deux semaines</option>
		<!-- TMPL_ELSE -->
		<option value="d">Toutes les deux semaines</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2e" -->
		<option value="e" SELECTED>Deux fois par mois</option>
		<!-- TMPL_ELSE -->
		<option value="e">Deux fois par mois</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2f" -->
		<option value="f" SELECTED>Mensuel</option>
		<!-- TMPL_ELSE -->
		<option value="f">Mensuel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2g" -->
		<option value="g" SELECTED>Bimestriel</option>
		<!-- TMPL_ELSE -->
		<option value="g">Bimestriel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2h" -->
		<option value="h" SELECTED>Trimestriel</option>
		<!-- TMPL_ELSE -->
		<option value="h">Trimestriel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2i" -->
		<option value="i" SELECTED>Trois fois par an</option>
		<!-- TMPL_ELSE -->
		<option value="i">Trois fois par an</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2j" -->
		<option value="j" SELECTED>Semestriel</option>
		<!-- TMPL_ELSE -->
		<option value="j">Semestriel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2k" -->
		<option value="k" SELECTED>Annuel</option>
		<!-- TMPL_ELSE -->
		<option value="k">Annuel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2l" -->
		<option value="l" SELECTED>Bisanuel</option>
		<!-- TMPL_ELSE -->
		<option value="l">Bisanuel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2m" -->
		<option value="m" SELECTED>Triennal</option>
		<!-- TMPL_ELSE -->
		<option value="m">Triennal</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2n" -->
		<option value="n" SELECTED>Trois fois par semaine</option>
		<!-- TMPL_ELSE -->
		<option value="n">Trois fois par semaine</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2o" -->
		<option value="o" SELECTED>Trois fois par mois</option>
		<!-- TMPL_ELSE -->
		<option value="o">Trois fois par mois</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2u" -->
		<option value="u" SELECTED>Inconnue</option>
		<!-- TMPL_ELSE -->
		<option value="u">Inconnue</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2y" -->
		<option value="y" SELECTED>Sans périodicité</option>
		<!-- TMPL_ELSE -->
		<option value="y">Sans périodicité</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f2i" -->
		<option value="i" SELECTED>Autre</option>
		<!-- TMPL_ELSE -->
		<option value="i">Autre</option>
		<!-- /TMPL_IF -->
	</select>
</p>

<p>
	<label style="width:20em;">Régularité</label>
	<select name="f3" size="1">
		<!-- TMPL_IF name="f3 " -->
			<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
			<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f3u" -->
		<option value="u" SELECTED>Inconnu</option>
		<!-- TMPL_ELSE -->
		<option value="u">Inconnu</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f3a" -->
		<option value="a" SELECTED>Régulier</option>
		<!-- TMPL_ELSE -->
		<option value="a">Régulier</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f3b" -->
		<option value="b" SELECTED>Normalement irrégulier</option>
		<!-- TMPL_ELSE -->
		<option value="b">Normalement irrégulier</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f3y" -->
		<option value="y" SELECTED>Irrégulier</option>
		<!-- TMPL_ELSE -->
		<option value="y">Irrégulier</option>
		<!-- /TMPL_IF -->
	</select>
</p>

<p>
	<label style="width:20em;">Type d'ouvrage de référence</label>
	<select name="f4" size="1">
		<!-- TMPL_IF name="f4 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4a" -->
		<option value="a" SELECTED>Bibliographie</option>
		<!-- TMPL_ELSE -->
		<option value="a">Bibliographie</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4b" -->
		<option value="b" SELECTED>Catalogue</option>
		<!-- TMPL_ELSE -->
		<option value="b">Catalogue</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4c" -->
		<option value="c" SELECTED>Index</option>
		<!-- TMPL_ELSE -->
		<option value="c">Index</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4d" -->
		<option value="d" SELECTED>Résumé ou extraits</option>
		<!-- TMPL_ELSE -->
		<option value="d">Résumé ou extraits</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4e" -->
		<option value="e" SELECTED>Dictionnaire</option>
		<!-- TMPL_ELSE -->
		<option value="e">Dictionnaire</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4f" -->
		<option value="f" SELECTED>Encyclopédie</option>
		<!-- TMPL_ELSE -->
		<option value="f">Encyclopédie</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4g" -->
		<option value="g" SELECTED>Répertoire</option>
		<!-- TMPL_ELSE -->
		<option value="g">Répertoire</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4h" -->
		<option value="h" SELECTED>Annuaire</option>
		<!-- TMPL_ELSE -->
		<option value="h">Annuaire</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4i" -->
		<option value="i" SELECTED>Statistiques</option>
		<!-- TMPL_ELSE -->
		<option value="i">Statistiques</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4j" -->
		<option value="j" SELECTED>Manuel d'enseignement programmé</option>
		<!-- TMPL_ELSE -->
		<option value="j">Manuel d'enseignement programmé</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4k" -->
		<option value="k" SELECTED>Revue critique</option>
		<!-- TMPL_ELSE -->
		<option value="k">Revue critique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4l" -->
		<option value="l" SELECTED>Journal officiel</option>
		<!-- TMPL_ELSE -->
		<option value="l">Journal officiel</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4m" -->
		<option value="m" SELECTED>Jurisprudence</option>
		<!-- TMPL_ELSE -->
		<option value="m">Jurisprudence</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4n" -->
		<option value="n" SELECTED>Article juridique</option>
		<!-- TMPL_ELSE -->
		<option value="n">Article juridique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4o" -->
		<option value="o" SELECTED>Affaire et note juridique</option>
		<!-- TMPL_ELSE -->
		<option value="o">Affaire et note juridique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4p" -->
		<option value="p" SELECTED>Biographie</option>
		<!-- TMPL_ELSE -->
		<option value="p">Biographie</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4r" -->
		<option value="r" SELECTED>Synthèse bibliographique</option>
		<!-- TMPL_ELSE -->
		<option value="r">Synthèse bibliographique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4t" -->
		<option value="t" SELECTED>Dessin humoristique ou B.D.</option>
		<!-- TMPL_ELSE -->
		<option value="t">Dessin humoristique ou B.D.</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f4z" -->
		<option value="z" SELECTED>Autre forme de contenu</option>
		<!-- TMPL_ELSE -->
		<option value="z">Autre forme de contenu</option>
		<!-- /TMPL_IF -->

	</select>
</p>

<p>
	<label style="width:20em;">Nature du contenu</label>
	<input type="text" name="f5" maxlength=3 size=4 value="<!-- TMPL_VAR name="f5" -->">
</p>

<p>
	<label style="width:20em;">Colloque ou congrès</label>
	<select name="f6" size="1">
		<!-- TMPL_IF name="f6 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f60" -->
		<option value="0" SELECTED>Il ne s'agit pas d'une publication de congrès</option>
		<!-- TMPL_ELSE -->
		<option value="0">Il ne s'agit pas d'une publication de congrès</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f61" -->
		<option value="1" SELECTED>Il s'agit d'une publication de congrès</option>
		<!-- TMPL_ELSE -->
		<option value="1">Il s'agit d'une publication de congrès</option>
		<!-- /TMPL_IF -->
	</select>
</p>

<p>
	<label style="width:20em;">Existence de la page de titre</label>
	<select name="f7" size="1">
		<!-- TMPL_IF name="f7 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7a" -->
		<option value="a" SELECTED>Dans le dernier fascicule - volante</option>
		<!-- TMPL_ELSE -->
		<option value="a">Dans le dernier fascicule - volante</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7b" -->
		<option value="b" SELECTED>Dans le dernier fascicule - reliée</option>
		<!-- TMPL_ELSE -->
		<option value="b">Dans le dernier fascicule - reliée</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7c" -->
		<option value="c" SELECTED>Dans le premier fascicule du volume suivant - volante</option>
		<!-- TMPL_ELSE -->
		<option value="c">Dans le premier fascicule du volume suivant - volante</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7d" -->
		<option value="d" SELECTED>Dans le premier fascicule du volume suivant - reliée</option>
		<!-- TMPL_ELSE -->
		<option value="d">Dans le premier fascicule du volume suivant - reliée</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7e" -->
		<option value="e" SELECTED>Editée séparément - gratuitement, sur commande</option>
		<!-- TMPL_ELSE -->
		<option value="e">Editée séparément - gratuitement, sur commande</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7f" -->
		<option value="f" SELECTED>Editée séparément - gratuitement, envoi automatique</option>
		<!-- TMPL_ELSE -->
		<option value="f">Editée séparément - gratuitement, envoi automatique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7g" -->
		<option value="g" SELECTED>Editée séparément - sur commande, à titre onéreux</option>
		<!-- TMPL_ELSE -->
		<option value="g">Editée séparément - sur commande, à titre onéreux</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7u" -->
		<option value="u" SELECTED>Inconnue a la création de la notice</option>
		<!-- TMPL_ELSE -->
		<option value="u">Inconnue a la création de la notice</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7x" -->
		<option value="x" SELECTED>Non applicable</option>
		<!-- TMPL_ELSE -->
		<option value="x">Non applicable</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7y" -->
		<option value="y" SELECTED>Pas de page de titre parue</option>
		<!-- TMPL_ELSE -->
		<option value="y">Pas de page de titre parue</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f7z" -->
		<option value="z" SELECTED>Autre</option>
		<!-- TMPL_ELSE -->
		<option value="z">Autre</option>
		<!-- /TMPL_IF -->
	</select>
</p>

<p>
	<label style="width:20em;">Existence d'un index</label>
	<select name="f8" size="1">
		<!-- TMPL_IF name="f8 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8a" -->
		<option value="a" SELECTED>Chaque fascicule contient son propre index - volant</option>
		<!-- TMPL_ELSE -->
		<option value="a">Chaque fascicule contient son propre index - volant</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8b" -->
		<option value="b" SELECTED>Dans le dernier fascicule - volant - pagination séparée</option>
		<!-- TMPL_ELSE -->
		<option value="b">Dans le dernier fascicule - volant - pagination séparée</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8c" -->
		<option value="c" SELECTED>Dans le dernier fascicule - volant - non paginé</option>
		<!-- TMPL_ELSE -->
		<option value="c">Dans le dernier fascicule - volant - non paginé</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8d" -->
		<option value="d" SELECTED>Dans le dernier fascicule - relié</option>
		<!-- TMPL_ELSE -->
		<option value="d">Dans le dernier fascicule - relié</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8e" -->
		<option value="e" SELECTED>Dans le premier fascicule - volant - pagination séparée</option>
		<!-- TMPL_ELSE -->
		<option value="e">Dans le premier fascicule - volant - pagination séparée</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8f" -->
		<option value="f" SELECTED>Dans le premier fascicule - volant - non paginé</option>
		<!-- TMPL_ELSE -->
		<option value="f">Dans le premier fascicule - volant - non paginé</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8g" -->
		<option value="g" SELECTED>Dans le premier fascicule - relié</option>
		<!-- TMPL_ELSE -->
		<option value="g">Dans le premier fascicule - relié</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8h" -->
		<option value="h" SELECTED>Edité séparément - gratuit - envoi automatique</option>
		<!-- TMPL_ELSE -->
		<option value="h">Edité séparément - gratuit - envoi automatique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8i" -->
		<option value="i" SELECTED>Edité séparément - gratuit sur demande</option>
		<!-- TMPL_ELSE -->
		<option value="i">Edité séparément - gratuit sur demande</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8j" -->
		<option value="j" SELECTED>Edité séparément - reliure d'éditeur - gratuit - envoi automatique</option>
		<!-- TMPL_ELSE -->
		<option value="j">Edité séparément - reliure d'éditeur - gratuit - envoi automatique</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8k" -->
		<option value="k" SELECTED>Edité séparément - reliure d'éditeur - gratuit sur demande</option>
		<!-- TMPL_ELSE -->
		<option value="k">Edité séparément - reliure d'éditeur - gratuit sur demande</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8l" -->
		<option value="l" SELECTED>Edité séparément - reliure d'éditeur - commandé à titre onéreux</option>
		<!-- TMPL_ELSE -->
		<option value="l">Edité séparément - reliure d'éditeur - commandé à titre onéreux</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8m" -->
		<option value="m" SELECTED>Supplément ou sous-série indéxé dans la publication mère</option>
		<!-- TMPL_ELSE -->
		<option value="m">Supplément ou sous-série indéxé dans la publication mère</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8u" -->
		<option value="u" SELECTED>Inconnu</option>
		<!-- TMPL_ELSE -->
		<option value="u">Inconnu</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8x" -->
		<option value="x" SELECTED>Non applicable</option>
		<!-- TMPL_ELSE -->
		<option value="x">Non applicable</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8y" -->
		<option value="y" SELECTED>Index indisponible</option>
		<!-- TMPL_ELSE -->
		<option value="y">Index indisponible</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f8z" -->
		<option value="z" SELECTED>Autre</option>
		<!-- TMPL_ELSE -->
		<option value="z">Autre</option>
		<!-- /TMPL_IF -->
		</select>
</p>

<p>
	<label style="width:20em;">Existence d'un index cumulatif</label>
	<select name="f9" size="1">
		<!-- TMPL_IF name="f9 " -->
		<option value=" " SELECTED>Aucun</option>
		<!-- TMPL_ELSE -->
		<option value=" ">Aucun</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f90" -->
		<option value="0" SELECTED>Pas d'index cumulatif ou de table des matières</option>
		<!-- TMPL_ELSE -->
		<option value="0">Pas d'index cumulatif ou de table des matières</option>
		<!-- /TMPL_IF -->
		<!-- TMPL_IF name="f91" -->
		<option value="1" SELECTED>Index cumulatif ou table des matières</option>
		<!-- TMPL_ELSE -->
		<option value="1">Index cumulatif ou table des matières</option>
		<!-- /TMPL_IF -->
	</select>
</p>

<br>
<p>
	<label style="width:20em;">&nbsp;</label>
	<input type="submit" value="OK" class="button authority">
</p>

</form>
</div>
<script>
	function report() {
document.f_pop.f5.value=document.f_pop.f5.value+'   ';



document.f_pop.f5.value=document.f_pop.f5.value.substring(0,3);


		opener.document.f.field_value[<!-- TMPL_VAR
		name="index" -->].value= document.f_pop.f1.value +document.f_pop.f2.value+document.f_pop.f3.value+document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value+document.f_pop.f9.value;
		self.close();
		return false;
	}
</script>
<!-- TMPL_INCLUDE Name="popup-bottom.inc" -->
