<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title><!-- TMPL_IF NAME="nopermission" -->Koha &rsaquo; Erreur : Accès refusé<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="timed_out" -->Koha &rsaquo; Erreur : La session a pris fin --<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="different_ip" -->Koha &rsaquo; Erreur : changement de l'adresse IP -- <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="invalid_username_or_password" -->Koha &rsaquo; Nom d'utilisateur ou mot de passe invalide -- <!-- /TMPL_IF -->
<!-- TMPL_IF NAME="loginprompt" -->Koha &rsaquo; Bienvenue dans l'installateur Web de Koha<!-- /TMPL_IF --></title>

<!-- TMPL_INCLUDE NAME="installer-doc-head-close.inc" -->
<div id="login">
<h1><a>Installeur de Koha 3.0</a></h1>
<!-- TMPL_IF NAME="nopermission" -->
<div id="login_error"><strong>Erreur</strong>: Utilisateur non autorisé <a href="/cgi-bin/koha/mainpage.pl?logout.x=1">Cliquer pour vous déconnecter</a></div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="timed_out" -->
<div id="login_error"><strong>Erreur</strong>: Désolé, votre session a pris fin.Reconnectez-vous</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="different_ip" -->
<div id="login_error"><strong>Erreur</strong>Désolé, votre adresse IP a changé, Reconnectez-vous </div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="invalid_username_or_password" -->
<div id="login_error"><strong>Erreur</strong>: Nom d'utilisateur ou mot de passe invalide</div>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="loginprompt" -->
<!-- login prompt time-->
<form action="<!-- TMPL_VAR NAME="url" -->" method="post" name="mainform" id="mainform">
<!-- TMPL_LOOP NAME="INPUTS" -->
    <input type="hidden" name="<!-- TMPL_VAR NAME="name" -->" value="<!-- TMPL_VAR NAME="value" -->" />
<!-- /TMPL_LOOP -->
<h3>Bienvenue dans l'installation de Koha</h3>
<p>Avant que nous commencions, merci de vérifier que vous avez les habilitations qu'il faut pour continuer.Merci d'ouvrir une session avec le nom d'utilisateur et le mot de passe qui vous été donnés par votre administrateur système et localisé dans votre
<code>koha.xml</code> Fichier de configuration.</p>
<p>Merci d'entrer vos nom d'utilisateur et mot de passe</p>
<p><label>Nom d'utilisateur : <br />
<input type="text" name="userid" id="userid" class="input" value="<!-- TMPL_VAR NAME="userid" -->" size="20" tabindex="1" /></label>
</p>
<p><label>Mot de passe : <br />
<input type="password" name="password" id="password" class="input" value="" size="20" tabindex="2" /></label>
</p>
<p class="submit"><input id="submit" type="submit" value="Connexion &raquo;" tabindex="4"></p>
</form>

<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE name="intranet-bottom.inc" -->
