<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Serials &rsaquo; Check Expiration</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="calendar.inc" -->
<script type="text/javascript" language="JavaScript">
// <![CDATA[
    
    /**
     *  Function CheckForm
     *  This function checks the form before submit
     */
     function CheckForm(form){
        if(form.date.value){
            return true;
        }
        else {
            alert("You must enter a date !");
            document.f.date.focus();
            return false;
        }
     }
     // ]]>
</script>
<!-- End of additions -->
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Check Expiration </div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h1>Check expiration</h1>

<fieldset>
    <legend>Select record which will expire</legend>
    
    <form name="f" action="/cgi-bin/koha/serials/checkexpiration.pl" method="post" onsubmit="return CheckForm(this);">
         
        <p><label for="title">Filter on title</label>
        <input id="title" type="text" name="title" size="15" value="<!--TMPL_VAR NAME="title"-->" /></p>

        <p><label for="issn">Filter on ISSN</label>
        <input id="issn" type="text" name="issn" size="15" value="<!-- TMPL_VAR NAME="issn"-->" /></p>

        <p><label for="date">with expiration date before</label>
        <input id="date" type="text" name="date" size="10" value="<!-- TMPL_VAR NAME="date"-->" class="focus" />
            <script type="text/javascript">
                Calendar.setup(
                 {
                     inputField : "date",
                     ifFormat : "<!-- TMPL_VAR NAME="DHTMLcalendar_dateformat" -->",
                 }
                );
            </script></p>
        <input type="submit" value="Search" />
    </form>
</fieldset>

<!-- TMPL_IF NAME="subscriptions_loop"-->
<p>
    <b><!-- TMPL_VAR NAME="numsubscription"--></b> subscription(s)
        <!-- TMPL_IF NAME="title"-->
        with title like <b><!-- TMPL_VAR NAME="title"--></b>
        <!-- TMPL_IF NAME="issn"-->and <!-- /TMPL_IF -->
    <!-- /TMPL_IF -->
    <!-- TMPL_IF NAME="issn"-->
        ISSN like <b><!-- TMPL_VAR NAME="issn" --></b>
    <!-- /TMPL_IF -->
        will expire before <b><!-- TMPL_VAR NAME="date" --></b>
</p>
<table>
        <tr>
            <th>ISSN</th>
            <th>Title</th>
            <th>Note</th>
            <th>Expiration date</th>
        </tr>
    <!-- TMPL_LOOP NAME="subscriptions_loop"-->
        <!-- TMPL_IF NAME="toogle"-->
        <tr class="highlight">
        <!-- TMPL_ELSE -->
        <tr>
        <!-- /TMPL_IF -->
            <td>
                <!-- TMPL_VAR NAME="issn" -->
            </td>
            <td>
            <!-- TMPL_IF name="BiblioDefaultViewmarc" -->
                <a class="title" href="/cgi-bin/koha/catalogue/MARCdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" ESCAPE="URL" -->">
                <!-- TMPL_IF NAME="title"-->
                    <!-- TMPL_VAR NAME="title" -->
                <!-- TMPL_ELSE -->
                    |
                <!-- /TMPL_IF -->
                </a>
                <!-- TMPL_ELSE -->
                <!-- TMPL_IF name="BiblioDefaultViewisbd" -->
                <a class="title" href="/cgi-bin/koha/catalogue/ISBDdetail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" ESCAPE="URL" -->">
                <!-- TMPL_IF NAME="title"-->
                    <!-- TMPL_VAR NAME="title" -->
                <!-- TMPL_ELSE -->
                    |
                <!-- /TMPL_IF -->
                </a>
                <!-- TMPL_ELSE -->
                <a class="title" href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=<!-- TMPL_VAR NAME="biblionumber" ESCAPE="URL" -->">
                <!-- TMPL_IF NAME="title"-->
                    <!-- TMPL_VAR NAME="title" -->
                <!-- TMPL_ELSE -->
                    |
                <!-- /TMPL_IF -->
                </a>
                <!-- /TMPL_IF -->
            <!-- /TMPL_IF -->
            </td>
            <td>
                <!-- TMPL_VAR NAME="notes"-->
            </td>
            <td>
                <!-- TMPL_VAR NAME="expirationdate" -->
            </td>
        </tr>
    <!-- /TMPL_LOOP -->
    </table>
<!-- TMPL_ELSE -->
    <p>No results for your query</p>
<!-- /TMPL_IF -->

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->