<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Serials &rsaquo; Preview Routing List</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
<!--

function print_slip(subscriptionid,issue){
    var myurl = 'routing-preview.pl?ok=1&subscriptionid='+subscriptionid+'&issue='+issue;
window.open(myurl,'PrintSlip','width=500,height=500,toolbar=no,scrollbars=yes');
    window.location.href='serials-home.pl';
}
//-->
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="serials-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; <a href="/cgi-bin/koha/serials/subscription-detail.pl?subscriptionid=<!-- TMPL_VAR NAME="subscriptionid" -->"><i><!-- TMPL_VAR NAME="title" escape="html" --></i></a> &rsaquo; Preview routing list</div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<h2>Preview Routing List for <i><!-- TMPL_VAR NAME="title" escape="html" --></i></h2>

<form method="post" action="routing-preview.pl">
<input type="hidden" name="subscriptionid" value="<!-- TMPL_VAR NAME="subscriptionid" -->" />
<fieldset class="rows">
	<ol>
		<li><span class="label">Issue:</span><!-- TMPL_VAR NAME="issue" --></li>
		<li><span class="label">List Member:</span><table style="clear:none;margin:0;">
        <tr><th>Name</th></tr>
<!-- TMPL_LOOP NAME="memberloop" -->
        <tr><td><!-- TMPL_VAR NAME="surname" -->, <!-- TMPL_VAR NAME="firstname" --></td></tr>
<!-- /TMPL_LOOP -->
        </table></li>
		<li><span class="label">Notes:</span><!-- TMPL_VAR NAME="routingnotes" --></li>
	</ol>
</fieldset>

<fieldset class="action">
<input type="submit" name="ok" class="button" value="Save and preview routing slip" onclick="print_slip(<!-- TMPL_VAR NAME="subscriptionid" -->,'<!-- TMPL_VAR NAME="issue_escaped" -->'); return false" />
<input type="submit" name="edit" class="button" value="Edit" />
<input type="submit" name="delete" class="button" value="Delete" /></fieldset>
</form>

</div>
</div>

<div class="yui-b">
<!-- TMPL_INCLUDE NAME="serials-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
