[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Serials [% biblionumber %]</title>
<link rel="stylesheet" type="text/css" href="[% themelang %]/css/datatables.css" />
[% INCLUDE 'doc-head-close.inc' %]
<script type="text/javascript" src="[% themelang %]/lib/jquery/plugins/jquery.dataTables.min.js"></script>
[% INCLUDE 'datatables-strings.inc' %]
<script type="text/javascript" src="[% themelang %]/js/datatables.js"></script>
<script type="text/javascript">
//<![CDATA[
 $(document).ready(function() {
    var srlt = $("#srlt").dataTable($.extend(true, {}, dataTablesDefaults, {
        "aoColumnDefs": [
            { "aTargets": [ -1, -2, -3 ], "bSortable": false, "bSearchable": false },
        ],
        "sPaginationType": "four_button"
    } ) );

    srlt.fnAddFilters("filter", 750);
 });
 //]]>
</script>
</head>
<body> 
[% INCLUDE 'header.inc' %]
[% INCLUDE 'serials-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; [% IF ( done_searched ) %]<a href="/cgi-bin/koha/serials/serials-home.pl">Serials</a> &rsaquo; Search results[% ELSE %]Serials [% END %] </div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">
	[% INCLUDE 'serials-toolbar.inc' %]
	
[% IF ( information ) %]
Serials updated :
<table>
  <tr>
    <th>
      Serialseq
    </th>
    <th>
      Status
    </th>
    <th>
      Publisheddate
    </th>
    <th>
      Planneddate
    </th>
    <th>
      Notes
    </th>
  </tr>  
[% FOREACH informatio IN information %]
  <tr>
    <td>
      [% informatio.serialseq %]
    </td>
    <td>
      [% informatio.status %]
    </td>
    <td>
      [% informatio.publisheddate %]
    </td>
    <td>
      [% informatio.planneddate %]
    </td>
    <td>
      [% informatio.notes %]
    </td>
  </tr>  
[% END %]
</table>
[% END %]
        [% IF ( done_searched ) %]
<h2>Serials subscriptions</h2>

    <table id="srlt">
	<thead>
        <tr>
            <th>ISSN</th>
            <th>Title</th>
            <th> Notes </th>
            <th>
                Library (callnumber)
            </th>
            [% IF ( routing && CAN_user_serials_routing ) %]
              <th>Routing list</th>
            [% END %]        
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
	</thead>
    <tfoot>
        <tr>
            <td><input type="text" class="filter" data-column_num="0" placeholder="Search ISSN" /></td>
            <td><input type="text" class="filter" data-column_num="1" placeholder="Search title" /></td>
            <td><input type="text" class="filter" data-column_num="2" placeholder="Search notes" /></td>
            <td><input type="text" class="filter" data-column_num="3" placeholder="Search library" /></td>
            [% IF ( routing && CAN_user_serials_routing ) %]<td></td>[% END %]
            <td></td>
            <td></td>
        </tr>
    </tfoot>
	<tbody> 
        [% FOREACH subscription IN subscriptions %]
            <tr>
                <td>
                [% IF ( subscription.issn ) %][% subscription.issn %]
                [% END %]
                </td>
                <td><a href="/cgi-bin/koha/serials/subscription-detail.pl?subscriptionid=[% subscription.subscriptionid %]" class="button" title="subscription detail">[% subscription.title |html %]</a>
                </td>
                <td>[% IF ( subscription.notes ) %][% subscription.notes %][% END %]
                [% IF ( subscription.internalnotes ) %]([% subscription.internalnotes %])[% END %]
                </td>
                <td>
                [% IF ( subscription.branchname ) %][% subscription.branchname %][% END %]
                [% IF ( subscription.callnumber ) %]([% subscription.callnumber %])[% END %]
                </td>
                [% IF ( routing && CAN_user_serials_routing ) %]
                <td>
                    [% IF ( subscription.cannotedit ) %]
                        &nbsp;
                    [% ELSE %]
                        [% IF ( subscription.routingedit ) %]
                            <a href="/cgi-bin/koha/serials/routing.pl?subscriptionid=[% subscription.subscriptionid %]">Edit</a>
                        [% ELSE %]
                            <a href="/cgi-bin/koha/serials/routing.pl?subscriptionid=[% subscription.subscriptionid %]&amp;op=new">New</a>
                        [% END %]
                    [% END %]
                </td>
                [% END %]
                <td><a href="/cgi-bin/koha/serials/serials-collection.pl?subscriptionid=[% subscription.subscriptionid %]">Issue history</a>
                </td>
                <td>
                [% IF ( subscription.cannotedit ) %]
                  &nbsp;        
                [% ELSE %]
                  [% IF ( CAN_user_serials_receive_serials ) %]<a href="/cgi-bin/koha/serials/serials-edit.pl?subscriptionid=[% subscription.subscriptionid %]&amp;serstatus=1,3,7">Serial receive</a>[% END %]
                [% END %]
                </td>
            </tr>
        [% END %]
	</tbody>
    </table>
    
        [% END %]

</div>
</div>

<div class="yui-b">
[% INCLUDE 'serials-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
