<!-- TMPL_INCLUDE NAME="doc-head-open.inc" --><!-- TMPL_IF NAME="LibraryNameTitle" --><!-- TMPL_VAR NAME="LibraryNameTitle" --><!-- TMPL_ELSE -->Koha Online<!-- /TMPL_IF --> Catalog &rsaquo;  Serials
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<!-- TMPL_INCLUDE name="masthead.inc" -->

<div id="doc3" class="yui-t1">
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">


<h1>Issues for a subscription</h1>
	<a href="opac-detail.pl?biblionumber=<!-- TMPL_VAR name="biblionumber" -->" class="button">Normal View</a>
	<a href="opac-serial-issues.pl?selectview=full&amp;biblionumber=<!-- TMPL_VAR name="biblionumber" -->" class="button">Full History</a>

<form method="post" name="f">
<!-- TMPL_LOOP name="subscription_LOOP" -->
<h2>Subscription information for <!-- TMPL_VAR name="bibliotitle" --></h2>
		<p>It began on <!-- TMPL_VAR name="startdate" --> and is issued every
		
		<!--TMPL_IF name="periodicity1" -->
				day
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity2" -->
				week
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity3" -->
				2 weeks
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity4" -->
				3 weeks
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity5" -->
				month
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity6" -->
				2 months
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity7" -->
				3 months
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity8" -->
				quarter
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity9" -->
				2 quarters
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity10" -->
				year
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="periodicity11" -->
				2 years
		<!-- /TMPL_IF -->
		
		on
		
		<!--TMPL_IF name="arrival1" -->
			Monday
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival2" -->
				Tuesday
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival3" -->
				Wednesday
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival4" -->
				Thursday
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival5" -->
				Friday
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival6" -->
				Saturday
		<!-- /TMPL_IF -->
		<!--TMPL_IF name="arrival7" -->
				Sunday
		<!-- /TMPL_IF -->
		
		for 
			<!-- TMPL_IF name="numberlength" --><!-- TMPL_VAR name="numberlength" --> issues<!-- /TMPL_IF -->
			<!-- TMPL_IF name="weeklength" --><!-- TMPL_VAR name="weeklength" --> weeks<!-- /TMPL_IF -->
			<!-- TMPL_IF name="monthlength" --><!-- TMPL_VAR name="monthlength" --> months<!-- /TMPL_IF -->
			
		since <!-- TMPl_VAR name="startdate" -->
		</p>
    <h2><!-- TMPL_VAR name="branchcode" --> <!-- TMPL_VAR name="notes" --></h2>
  <!-- TMPL_IF name="recievedlist" -->
    <h3>Available Issues</h3>
    <p>
      <!-- TMPL_VAR name="recievedlist" -->
    </p>
  <!-- /TMPL_IF -->
  <!-- TMPL_IF name="missinglist" -->
    <h3>Unavailable Issues</h3>
    <p>
      <!-- TMPL_VAR name="missinglist" -->
    </p>
  <!-- /TMPL_IF -->
    <!-- TMPL_IF name="opacnote" -->
        <h3>Issues summary</h3>
        <p>
            <!-- TMPL_VAR name="opacnote" -->
        </p>
    <!-- /TMPL_IF -->
<!-- /TMPL_LOOP -->

</div>
</div>
</div>
<div class="yui-b">
<!--TMPL_INCLUDE NAME="navigation.inc" -->
<!-- TMPL_INCLUDE name="usermenu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->