<html>
<TMPL_INCLUDE NAME="reports-top.inc">
<!-------------------------MAIN BODY OF PAGE-------------------------->

<FONT SIZE=6><em>Reporty</em></FONT><br>




<ul><li><a href=/cgi-bin/koha/stats.pl?time=yesterday>Till Reconciliation:</a> Raporty dzienne (wczoraj)
<li><a href=/cgi-bin/koha/stats.pl?time=today>Till Reconciliation:</a> Raporty dzienne (dzisiaj)

</ul>
<TMPL_INCLUDE NAME="reports-bottom.inc">

</html>