[% USE Asset %]
[% USE Price %]
[% USE Branches %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Koha &rsaquo; Delete patron [% patron.firstname %] [% patron.surname %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body id="pat_deletemem" class="pat">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'patron-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a> &rsaquo; Delete patron [% patron.firstname %] [% patron.surname %]</div>
<div id="doc3" class="yui-t2">
   
   <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    [% INCLUDE 'members-toolbar.inc' %]
    [% IF ( ItemsOnIssues || charges || guarantees ) %]
        <div class="dialog alert">
        <h3>Cannot delete patron</h3>
            <ul>
            [% IF ( ItemsOnIssues ) %]
                <li>Patron has [% ItemsOnIssues %] item(s) checked out.</li>
            [% END %]
            [% IF ( charges ) %]
                <li>Patron has [% charges | $Price %] in fines.</li>
            [% END %]
            [% IF ( guarantees ) %]
                <li>Patron's record has guaranteed accounts attached.</li>
            [% END %]
            </ul>
    </div>
    [% ELSIF op == 'delete_confirm' and patron %]
        [%# TODO add "patron does not exist" unless patron %]
        <div class="dialog alert">
            <h3>Are you sure you want to delete the patron [% patron.firstname %] [% patron.surname %]? This cannot be undone.</h3>
            <form action="/cgi-bin/koha/members/deletemem.pl">
                <input type="hidden" name="csrf_token" value="[% csrf_token %]" />
                <input type="hidden" name="member" value="[% patron.borrowernumber %]"/>
                <input type="hidden" name="op" value="delete_confirmed" />
                <button type="submit" class="approve"><i class="fa fa-fw fa-check"></i> Yes, delete</button>
            </form>
            <form action="/cgi-bin/koha/members/moremember.pl">
                <input type="hidden" name="borrowernumber" value="[% patron.borrowernumber %]"/>
                <button type="submit" class="deny"><i class="fa fa-fw fa-remove"></i> No, do not delete</button>
            </form>
        </div>
    [% END %]
    [% IF ( keeplocal ) %]
        <div class="dialog message">
        <h3>Remote record deleted, local record kept</h3>
        <p>Patron was marked for deletion from Norwegian national patron database, but the local record was kept.</p>
        </div>
    [% END %]
</div>
</div>

<div class="yui-b">
[% INCLUDE 'circ-menu.inc' %]
</div>
</div>

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/members-menu.js") %]
    <script>
        /* Set some variables needed in members-menu.js */
        var borrowernumber = "[% patron.borrowernumber %]";
        var advsearch = "[% advsearch %]";
        var dateformat = "[% dateformat %]";
        var NorwegianPatronDBEnable = "[% NorwegianPatronDBEnable %]";
        var CATCODE_MULTI = "[% CATCODE_MULTI %]";
        var catcode = "[% catcode %]";
        var destination = "[% destination %]";
        var CAN_user_borrowers_edit_borrowers = "[% CAN_user_borrowers_edit_borrowers %]";
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
