<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Borrowers &rsaquo; Create Manual Credit</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="menu-members.inc" -->

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b"><div class="yui-g">

<h2>Manual Credit</h2>
<form action="/cgi-bin/koha/members/mancredit.pl" method="post">
<input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR Name="borrowernumber" -->" />

<table>
	<tr><th scope="row">Patron Number</th><td><!-- TMPL_VAR Name="borrowernumber" --></td></tr>
	<tr><th scope="row">Credit Type</th><td><select name="type">
<option value="C">Credit</option>
<option value="F">Forgiven</option>
</select></td></tr>
	<tr><th scope="row">Itemnumber</th><td><input type="text" name="itemnum" /></td></tr>
	<tr><th scope="row">Description</th><td><input type="text" name="desc" size="50" /></td></tr>
	<tr><th scope="row">Amount</th><td>$<input type="text" name="amount" /></td></tr>
</table>

<input type="submit" name="add" value="Add Credit" />
</form>

<form action="/cgi-bin/koha/members/boraccount.pl" method="get"><input type="hidden" value="<!-- TMPL_VAR Name="borrowernumber" -->" name="borrowernumber" /><input type="submit" value="Cancel" /></form>


</div>
</div>
</div>

<!-- TMPL_INCLUDE NAME="mainmenu.inc" -->
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
