<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Print Receipt for <!-- TMPL_VAR NAME="cardnumber" --></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="<!-- TMPL_VAR NAME="themelang" -->/includes/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="<!-- TMPL_VAR NAME="themelang" -->/css/print.css" />
</head>
<body>

<div id="receipt">

<h3><!-- TMPL_VAR name="LibraryName" --></h3>
<!-- TMPL_IF NAME="branchname" --><!-- TMPL_VAR NAME="branchname" --><br /><!-- /TMPL_IF -->
Issued To <a href="/cgi-bin/koha/circ/circulation.pl?findborrower=<!-- TMPL_VAR NAME="cardnumber">"><!-- TMPL_VAR NAME="cardnumber" --></a><br />

<!-- TMPL_VAR NAME="todaysdate" --><br />

<table>
    <caption>Issues</caption>
    <tr>
        <th>Date Due</th>
        <th>Title</th>
        <th>Barcode</th>
    </tr>

    <!-- TMPL_loop name="issueloop" -->
    <!-- TMPL_IF name="red" --><!-- TMPL_ELSE -->
    <tr>
        <td><!-- TMPL_VAR NAME="date_due" --></td>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?item=<!-- TMPL_VAR NAME="itemnumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->"><!-- TMPL_VAR NAME="title" escape="html" --></a></td>
        <td><!-- TMPL_VAR NAME="barcode" --></td>
    </tr>
    <!-- /TMPL_IF -->
    <!-- /TMPL_LOOP -->
</table>

<!-- TMPL_IF NAME="overdues_exist" -->
<table>
    <caption>Overdues</caption>
    <tr>
        <th>Date Due</th>
        <th>Title</th>
        <th>Barcode</th>
    </tr>
    <!-- TMPL_LOOP NAME="issueloop" -->
    <!-- TMPL_IF NAME="red" -->
    <tr>
        <td><!-- TMPL_VAR NAME="date_due" --></td>
        <td><a href="/cgi-bin/koha/catalogue/detail.pl?item=<!-- TMPL_VAR NAME="itemnumber" -->&amp;biblionumber=<!-- TMPL_VAR NAME="biblionumber" -->&amp;bi=<!-- TMPL_VAR NAME="biblioitemnumber" -->"><!-- TMPL_VAR NAME="title" escape="html" --></a></td>
    <td><!-- TMPL_VAR NAME="barcode" --></td>
    </tr>
    <!-- /TMPL_IF -->
    <!-- /TMPL_LOOP -->
</table>
<!-- /TMPL_IF -->

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
