[% USE Koha %]
[% USE AuthorisedValues %]
[% USE Branches %]
[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Sent notices for [% INCLUDE 'patron-title.inc' no_html = 1 %]</title>
[% INCLUDE 'doc-head-close.inc' %]
<link rel="stylesheet" type="text/css" href="[% interface %]/[% theme %]/css/datatables_[% KOHA_VERSION %].css" />
[% INCLUDE 'datatables.inc' %]
<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
    $("#noticestable").dataTable($.extend(true, {}, dataTablesDefaults, {
        "aaSorting": [[ 3, "desc" ]],
        "aoColumns": [ null,null,null,{ "sType": "title-string" } ],
        "sPaginationType": "four_button"
    }));

        $("#noticestable").on("click", ".notice-title", function(e){
            e.preventDefault();
            var rowid = $(this).data("noticeid");
            $("#notice"+rowid).toggle();
            $("#resend_notice"+rowid).toggle();
        });

    });
//]]>
</script>
<style type="text/css">
    .notice { display: none; }
    .notice-title { font-weight: bold; display: block; }
</style>
</head>
<body id="pat_notices" class="pat">
[% INCLUDE 'header.inc' %]
[% INCLUDE 'patron-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/members/members-home.pl">Patrons</a>  &rsaquo; Sent notices for [% INCLUDE 'patron-title.inc' %]</div>

<div id="doc3" class="yui-t2">
    <div id="bd">
    <div id="yui-main">
    <div class="yui-b">
[% INCLUDE 'members-toolbar.inc' %]
<h1>Sent notices for [% INCLUDE 'patron-title.inc' %]</h1>

[% IF ( QUEUED_MESSAGES ) %]
    <table id="noticestable">
	<thead>
	    <tr>
		<th>Notice</th>
		<th>Type</th>
		<th>Status</th>
		<th>Time</th>
	    </tr>
	</thead>
	<tbody>
	    [% FOREACH QUEUED_MESSAGE IN QUEUED_MESSAGES %]
	    <tr>
		<td>
            <a class="notice-title" data-noticeid="[% QUEUED_MESSAGE.message_id %]" href="#">[% QUEUED_MESSAGE.subject %]</a>
            <div id="notice[% QUEUED_MESSAGE.message_id %]" class="notice">
                [% QUEUED_MESSAGE.content FILTER html_line_break %]
            </div>
        </td>
		<td>
            [% IF ( QUEUED_MESSAGE.message_transport_type == 'email' ) %]email
            [% ELSIF ( QUEUED_MESSAGE.message_transport_type == 'print' ) %]print
            [% ELSIF ( QUEUED_MESSAGE.message_transport_type == 'feed' ) %]feed
            [% ELSIF ( QUEUED_MESSAGE.message_transport_type == 'sms' ) %]sms
            [% ELSE %][% QUEUED_MESSAGE.message_transport_type %][% END %]
        </td>
		<td>
            [% IF ( QUEUED_MESSAGE.status == 'sent' ) %]sent
            [% ELSIF ( QUEUED_MESSAGE.status == 'pending' ) %]pending
            [% ELSIF ( QUEUED_MESSAGE.status == 'failed' ) %]failed
            [% ELSIF ( QUEUED_MESSAGE.status == 'deleted' ) %]deleted
            [% ELSE %][% QUEUED_MESSAGE.status %][% END %]
            [% IF ( QUEUED_MESSAGE.status != 'pending' ) %]
            <div id="resend_notice[% QUEUED_MESSAGE.message_id %]"  class="notice">
                <form action="/cgi-bin/koha/members/notices.pl?borrowernumber=[% borrowernumber %]" method="POST">
                    <input type="hidden" name="op" value="resend_notice" />
                    <input type="hidden" name="borrowernumber" value="[% borrowernumber %]" />
                    <input type="hidden" name="message_id" value="[% QUEUED_MESSAGE.message_id %]" />
                    <fieldset class="action">
                        <button class="btn btn-default btn-xs" type="submit">Resend</button>
                    </fieldset>
                </form>
            </div>
            [% END %]
        </td>
        <td><span title="[% QUEUED_MESSAGE.time_queued %]">[% QUEUED_MESSAGE.time_queued | $KohaDates with_hours => 1 %]</span></td>
	    </tr>
	    [% END %]
	</tbody>
    </table>
[% ELSE %]
    <div class="dialog message">There is no record of any messages that have been sent to this patron.</div>
[% END %]

</div>
</div>

<div class="yui-b">
[% INCLUDE 'circ-menu.inc' %]
</div>
</div>
[% INCLUDE 'intranet-bottom.inc' %]
