<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Périodiques</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<!--TMPL_INCLUDE NAME="menus.inc" -->
<!--TMPL_INCLUDE NAME="menu-serials.inc" -->


<script language="JavaScript" type="text/javascript">
showlayer('<!-- TMPL_VAR NAME="yearmax"-->');

function showlayer(numlayer)
{
	var yeardata=document.getElementsByName("yeardata");
    for (i=0; i<yeardata.length; i++ ) {
		ong=yeardata[i].getAttribute('id');
        if (numlayer==ong) {
			yeardata[i].setAttribute("class","content_visible");
            var tabactive=document.getElementById('link'+numlayer);
            tabactive.removeAttribute("class");
            tabactive.setAttribute("class","tab_active");
		} else {
			yeardata[i].removeAttribute("class");
            yeardata[i].setAttribute("class","content_hidden");
            try {
                var tabactive=document.getElementById('link'+ong);
                tabactive.removeAttribute("class");
                tabactive.setAttribute("class","tab_inactive");
            }
            catch(e){};
		}
	}
}
function addsubscriptionid()
{
	var tab=new Array();
    var serialids = document.edition.serialid;
    for (i=0; i<serialids.length; i++){
      if (serialids[i].checked == true){
        var found=false;
        for (var val in tab){
          if (tab[val] == document.getElementsByName("subs")[i].getAttribute('val')){found = true;}
        }
        if (found == false){
          tab=tab.concat((document.getElementsByName("subs")[i].getAttribute('val')));
        }
      }
    }
    var string="";
    for (var val in tab){
      string = string + tab[val] + ",";
    }
    string=string.substring(0,string.length -1);
    document.edition.subscriptionid.value=string;
}
function popup(link) {
    newin=window.open(link,'popup','width=500,height=400,toolbar=false,scrollbars=yes');
}
</script>

<!-- TMPL_UNLESS name="popup" -->

	<h1>Etats de collection pour <br/> <em><!-- TMPL_VAR name="bibliotitle" --></em></h1>
<!-- /TMPL_UNLESS -->

<!--TMPL_IF Name="subscriptions"-->
<font size ="-2">
<table>
<!--TMPL_IF Name="onesubscription"-->
<caption> Etat de collection</caption>
<!--TMPL_ELSE-->
<caption> Récapitulatifs des abonnements</caption>
<!--/TMPL_IF-->
<tr>
  <th>Abt </th>
  <th>Fréquence</th>
  <th>Modèle de numérotation</th>
  <th>Site</th>
  <th>Cote</th>
  <th>Notes</th>
  <th>Renouvellement</th>
</tr>
<!--TMPL_LOOP Name="subscriptions"-->
	<tr>
      <td><a href="subscription-detail.pl?subscriptionid=<!-- TMPL_VAR name="subscriptionid" -->">N° <!-- TMPL_VAR name="subscriptionid" --></a> </td>
      <td>         <!--TMPL_IF name="periodicity1" -->
                        Quotidien
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity2" -->
                        Hebdomadaire
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity3" -->
                        Bimensuel
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity4" -->
                        1/3 semaines
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity5" -->
                        Mensuel
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity6" -->
                        Bimestriel (6/an)
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity7" -->
                        Trimestriel
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity8" -->
                        Trimestriel
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity9" -->
                        Semestriel 
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity10" -->
                        Annuel
                <!-- /TMPL_IF -->
                <!--TMPL_IF name="periodicity11" -->
                        Bisannuel
                <!-- /TMPL_IF --></td>
           <td>
                <!-- TMPL_IF name="numberpattern1" -->
                    Numéro
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern2" -->
                    Volume, Numéro, Fascicule
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern3" -->
                    Volume, Numéro
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern4" -->
                    Volume, Fascicule
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern5" -->
                    Numéro, Fascicule
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern6" -->
                    Seulement saisonnier
                <!-- /TMPL_IF -->
                <!-- TMPL_IF name="numberpattern7" -->
                    Aucun de ci-dessus
                <!-- /TMPL_IF --></td>
            <td> <!-- TMPL_VAR name="branchcode" --></td>
            <td> <!-- TMPL_VAR name="callnumber" --></td>
        <td> <!-- TMPL_VAR name="notes" -->        <!--TMPL_IF name="subscriptionexpired"--><br /><span class="problem"> L'abonnement a expiré</span>
        <!--/TMPL_IF-->
        </td>
        <!--TMPL_IF name="abouttoexpire"--><td class="problem"> <a onclick="javascript:popup('subscription-renew.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->')">Renouvellement</a></td>
        <!--TMPL_ELSE-->
        <!--TMPL_IF name="subscriptionexpired"--><td class="problem"> <a onclick="javascript:popup('subscription-renew.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->')">Renouvellement</a></td>
        <!--TMPL_ELSE-->
        <td> &nbsp;</td>
        <!--/TMPL_IF-->
        <!--/TMPL_IF-->

      </tr>
<!--/TMPL_LOOP -->
<!--TMPL_IF Name="subscr"-->
<tr ><td colspan="7">  <a href="serials-collection.pl?biblionumber=<!--TMPL_VAR Name="biblionumber" -->">Voir les abonnements attachés à ce titre</a></td>
</tr>
<!--/TMPL_IF-->
</table>
</font>
<!--/TMPL_IF -->
    <div class="tabsubs">
    <!-- TMPL_LOOP NAME="years" -->
        <!-- TMPL_IF NAME="year" -->
        <!-- TMPL_IF NAME="first" -->
            <a  id="link<!-- TMPL_VAR NAME="year" -->" class="tab_active" href="javascript:showlayer('<!-- TMPL_VAR NAME="year" -->')"><!-- TMPL_VAR NAME="year" --></a>
        <!-- TMPL_ELSE -->
            <a  id="link<!-- TMPL_VAR NAME="year" -->" class="tab_inactive" href="javascript:showlayer('<!-- TMPL_VAR NAME="year" -->')"><!-- TMPL_VAR NAME="year" --></a>
        <!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
    <!-- /TMPL_LOOP -->
    </div>

<form name="edition" action="serials-edit.pl">
 <!-- TMPL_LOOP NAME="years" -->
 <!--TMPL_IF Name="first" -->
    <div name="yeardata" id="<!-- TMPL_VAR NAME="year" -->" class="content_visible" >
 <!--TMPL_ELSE -->
    <div name="yeardata" id="<!-- TMPL_VAR NAME="year" -->" class="content_hidden">
 <!--/TMPL_IF -->
        <table width="400px">
            <tr>
<!--TMPL_UNLESS Name="onesubscription"-->
                <th> # Abt.
                </th>
<!--/TMPL_UNLESS-->
                <th>Date de publication
                </th>
                <th>Date de réception
                </th>
                <th> Numéro
                </th>
                <th> Etat
                </th>
                <th> Notes
                </th>
                <th>Site
                </th>
                <th>Modifier
                </th>
            </tr>
      <!-- TMPL_LOOP Name="serials" -->
            <tr name="branch <!--TMPL_VAR Name=branchcode"-->">
<!--TMPL_UNLESS Name="onesubscription"-->
                 <td><a href="serials-collection.pl?subscriptionid=<!--TMPL_VAR Name="subscriptionid"-->"><!--TMPL_VAR Name="subscriptionid"--></a></td>
<!--/TMPL_UNLESS-->
                <td>
                    <!-- TMPL_VAR Name="publisheddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="planneddate" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="serialseq" -->
                </td>
                <td>
                    <!-- TMPL_IF Name="status1" -->Attendu<!-- /TMPL_IF -->
                    <!-- TMPL_IF Name="status2" -->Arrivé<!-- /TMPL_IF -->
                    <!-- TMPL_IF Name="status3" -->En retard<!-- /TMPL_IF -->
                    <!-- TMPL_IF Name="status4" -->Manquant<!-- /TMPL_IF -->
                    <!-- TMPL_IF Name="status7" -->Réclamé<!-- /TMPL_IF -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="notes" -->
                </td>
                <td>
                    <!-- TMPL_VAR Name="branchcode" -->
                </td>
                <td>
                  <div visibility="hidden" name="subs" val="<!--TMPL_VAR Name="subscriptionid"-->"></div>
                  <!--TMPL_IF Name="subscriptionexpired"-->
                  <input type="checkbox" name="serialid" value="<!--TMPL_VAR Name="serialid"-->" disabled />
                  <!--TMPL_ELSE-->
                    <!--TMPL_IF Name="status1"-->
                    <input type="checkbox" name="serialid" checked value="<!--TMPL_VAR Name="serialid"-->"/>
                    <!--TMPL_ELSE -->
                    <!--TMPL_IF Name="status3"-->
                    <input type="checkbox" name="serialid" checked value="<!--TMPL_VAR Name="serialid"-->" />
                    <!--TMPL_ELSE -->
                      <!--TMPL_IF Name="status4"-->
                      <input type="checkbox" name="serialid" checked value="<!--TMPL_VAR Name="serialid"-->" />
                      <!--TMPL_ELSE -->
                      <input type="checkbox" name="serialid" value="<!--TMPL_VAR Name="serialid"-->" />
                      <!--/TMPL_IF-->           
                    <!--/TMPL_IF-->           
                    <!--/TMPL_IF-->           
                  <!--/TMPL_IF -->
                </td>
            </tr>
      <!-- /TMPL_LOOP -->
        </table>
      <p><input type="submit" value="Bulletinage"></p>
    </div>
    <!--/TMPL_LOOP -->
  <input type="hidden" name="subscriptionid" value="<!--TMPL_VAR Name="subscriptionidlist"-->">

</form>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
