<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Download cart</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<!-- TMPL_IF NAME="format" -->
    <p>Your download should begin automatically.</p>
<!-- TMPL_ELSE -->
<form method="post" action="/cgi-bin/koha/basket/downloadcart.pl">
<fieldset class="rows">
	<legend>Download cart</legend>
	<ol><li>
	<label for="format">Format:</label>
        <select name="format" id="format">
	    <option value="">-- Choose Format --</option>
	    <option value="iso2709">iso2709</option>
	    <option value="ris">RIS</option>
	    <option value="bibtex">BibTex</option>
	    <!-- TMPL_LOOP NAME="csv_profiles" -->
	    <option value="<!-- TMPL_VAR NAME="export_format_id" -->">CSV - <!-- TMPL_VAR NAME="profile" --></option>
	    <!-- /TMPL_LOOP -->

	</select></li>
	</ol>
	</fieldset>
	<fieldset class="action">
	<input type="hidden" name="bib_list" value="<!-- TMPL_VAR NAME="bib_list" -->" />
	<input type="submit" name="save" value="Save" /> <a class="cancel close" href="#">Cancel</a>
	</fieldset>
    </form>

<!-- /TMPL_IF -->
</body>
</html>
