[% INCLUDE 'help-top.inc' %]

<h2>Batch record deletion</h2>

<p>This tool will take a batch of record numbers for either bibliographic records or authority records and allow you to delete all those records and any items attached to them in a batch.</p>

<p>First you need to tell the tool if you're deleting bibliographic or authority records. Next you can load a file with biblionumbers or authids or enter a list of those numbers in the box provided. Once you submit the form you will be presented with a summary of the records you are trying to delete.</p>

<p>If a record you want to delete can't be deleted it will be highlighted.</p>

<p>Check the records you want to delete and click the 'Delete selected records' button to finish the process.</p>

<p><strong>See the full documentation for Batch Delete Records in the <a href="http://koha-community.org/manual/[% helpVersion %]/en/html/tools.html#batch-record-deletion">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
