[% INCLUDE 'help-top.inc' %]

<h1>Tools</h1>

<p>Tools in Koha all perform some sort of action. Often many of the items listed under Tools in Koha are referred to as 'Reports' in other library management systems.</p>

<p><strong>See the full documentation for Tools in the <a href="http://koha-community.org/manual/[% helpVersion %]/html/tools.html">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
