<!-- TMPL_INCLUDE NAME="opac-top.inc" -->

<form action="/cgi-bin/koha/opac-searchresults.pl" method=get>
<table border="0" align="center">


<tr>
	<td>Mot-clefs</td>
	<td colspan="2"><input type="text"  size="25"   name="keyword"></td>
</tr>

<tr>
	<td colspan="3"><b>OU :</b></td>
</tr>
<tr>
	<td>Sujet</td>
	<td colspan="2"><input type="text"  size="25"   name="subject"></td>
</tr>

<tr>
	<td colspan="3"><b>OU un ou plus de : :</b></td>
</tr>

<tr>
	<td>Titre</td>
	<td><input type="text"  size="25"   name="title"></td>
	<td><input type="radio" name="ttype" value="normal" checked="checked">Normal<input type="radio" name="ttype" value="exact">Exact</td>
</tr>

<tr>
	<td>Auteur</td>
	<td colspan="2"><input type="text" size="25" name="author"></td>
</tr>

<tr>
	<td>Illustrateur</td>
	<td colspan="2"><input type="text" size="25" name="illustrator"></td>
</tr>

<tr>
<td>Classe</td>
	<td colspan="2">
	<select size="1"  name="class">
	<option value="">Tout</option>
	<!-- fetch class list -->
	<!-- TMPL_VAR name="classlist" -->
	<!--#include virtual="/includes/cat-class-list.inc" -->
	</select>
	</td>
</tr>

<tr>
	<td>Code barre</td>
	<td colspan="2"><input type="text"  size="25"   name="itemnumber"></td>
</tr>

<tr>
	<td><input type="submit" value="Lancer recherche"></td>
	<td colspan="2"><input type="reset"  value="Effacer"></td>
</tr>

<tr>
	<td colspan="3">Notez que le mot clef est prioritaire</td>
</tr>

</table>

</form>


<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->
