<TMPL_INCLUDE NAME="opac-top.inc">


<TMPL_LOOP NAME="BIBLIO_RESULTS">
<font SIZE=6><em><TMPL_VAR NAME="title"> (<TMPL_VAR NAME="author">) <TMPL_VAR NAME="class"></em></font>
<TMPL_UNLESS NAME="norequests"><a href=/cgi-bin/koha/opac-reserve.pl?bib=<TMPL_VAR NAME="biblionumber" ESCAPE=URL>>R&eacute;servation</a>
<TMPL_ELSE>
Non r&eacute;servable
</TMPL_UNLESS>
<p>
<table cellspacing="0" cellpadding="5" border="1" align="left" width="220">
<!-----------------BIBLIO RECORD TABLE--------->
<tr valign="top">
	<td bgcolor="#99cccc">
		<b>NOTICE</b> N°<TMPL_VAR NAME="biblionumber">
	</td>
</tr>
<tr valign="top">
	<td>
		<FONT SIZE=2  face="arial, helvetica">
		<TMPL_IF NAME="subtitle"><b>Sous-titre:</b> </TMPL_IF><TMPL_VAR NAME="subtitle"><br>
		<TMPL_IF name="additionalauthors"><b>Autres auteurs:</b> </TMPL_IF><TMPL_VAR NAME="additionalauthors"><br>
		<TMPL_IF name="publishercode"><b>Editeur</b> </TMPL_IF><TMPL_VAR name="publishercode"><br>
		<TMPL_IF name="copyrightdate"><b>Ann&eacute;e:</b> <TMPL_VAR NAME="copyrightdate"></TMPL_IF><br>
		<TMPL_IF name="serial"><b>P&eacute;riodique:</b><TMPL_VAR NAME="serial"></TMPL_IF><br>
		<TMPL_IF name="url"><b>URL :</b> <a hre="<TMPL_VAR name="url"><TMPL_VAR NAME="url"></a></TMPL_IF><br>
		<br>
		<TMPL_IF name="notes"><b>Résumé:</b> </TMPL_IF><TMPL_VAR NAME="Notes"><br>
		<br>
		<TMPL_IF name="subject"><b>Sujet:</b> </TMPL_IF><TMPL_VAR NAME="subject"><br>
		<br>
		<b>Nombre d'exemplaires:</b> <TMPL_VAR NAME="count">
		<p>
		</font>
	</td>
</tr>
</table>
</TMPL_LOOP>
<center>
<table border=0 cellspacing=0 cellpadding=3>
	<tr bgcolor="#99cccc">
		<td>&nbsp;Type&nbsp;&nbsp;</td>
		<td>&nbsp;Cote&nbsp;&nbsp;</td>
		<td>&nbsp;Localisation&nbsp;&nbsp;</td>
		<td>&nbsp;Empruntable&nbsp;&nbsp;</td>
		<td>&nbsp;Date de retour&nbsp;</td>
	</tr>
	<TMPL_LOOP NAME="ITEM_RESULTS">
		<tr>
			<td><TMPL_VAR NAME="description"></td>
			<td><TMPL_VAR NAME="class"></td>
			<td><TMPL_VAR NAME="branchname"></td>
			<td><TMPL_IF NAME="itemnotforloan">Non<TMPL_ELSE>Oui</TMPL_IF></td>
			<TMPL_UNLESS NAME="itemnotforloan"><td><TMPL_VAR NAME="datedue"></td></TMPL_UNLESS>
		</tr>
	</TMPL_LOOP>
	<TMPL_LOOP NAME="WEB_RESULTS">
		<tr>
			<td><TMPL_VAR NAME="itemtype"></td>
			<td>Site web</td>
			<td>En ligne</td>
			<td>Disponible</td>
			<td></td>
			<td><TMPL_VAR NAME="url"></td>
		</tr>
	</TMPL_LOOP>
</table>
<p>
</center>
<br clear=all>
<p />&nbsp;
<TMPL_INCLUDE NAME="opac-bottom.inc">
