.disabled-transfer {
    background-color: #FF8888;
}

#testResulDisplay { width: 20px;
                    height: 22px;
                    background-color: #B9D8D9;
                    vertical-align: middle;
                    display: inline-block;
}

.branchRule select { width: 100%; }
.branchRule select {padding: 0px; margin: 5px 0px;}

.branchRule input {padding: 0px; margin: 0px;}
.branchRule input[type="text"]  { width: 100%; display: none; }
.branchRule input[type="submit"] {display:none}

.branchRule.selected {color: #1b93d3; box-shadow:0px 0px 10px;}
.branchRule.selected input[type="submit"] {display:initial;}
.branchRule.selected input[type="text"] {display:initial;  border: 0px none;}

.failedAjax {box-shadow:0px 0px 30px 20px #ff0000}
.TEMPLATE {display: none; visibility: hidden;}