input.ok  {
  background-color: #d59b61;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;

  text-align: center;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  padding: 4px;
 height : 28px;
}


.search-heading {
   
  margin-bottom: 44px;
  line-height: 60px;
   
}


h1 {
  font-family: ocean sans, garamond, times, serif;
  font-size: 48px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 44px;
  line-height: 60px; 

  }