

body {
  background-color: #FFFFFF;
  font-family: arial,helvetica, san-serif;
  margin: 0px;
  padding: 0px;
}

p,ul,ol,li {
  font-family: arial,helvetica,san-serif;
  font-size: 12px;
  line-height: 20px;
}

td {
  font-family: arial,helvetica,san-serif;
  font-size: 12px;
}



a {
	color: #E36F00;
	font-weight:bold;}

a:visited {
	color: #003CD8;
	font-weight:bold;}



a:hover {
	background:#D6F96A;
	color:#000000;
	padding:4px;
	
	}


h1,h2,h3,h4 {
  color: #55127B;
  font-family: arial,helvetica;}


h1 {
  font-size: 32px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  
}

 
h2 {
 
  font-size: 24px;
  margin-bottom: 8px;
  padding-bottom: 4px;
  
}

h3 {
  
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h4 {
  
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}


table.content {
	padding:opx;
	margin:0px;

}

table.data {padding:opx;
	margin:0px;}

.column-first{
	border-right: 1px;
  	border-color: #55127B;
  	border-style: solid;
        border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding-right:4px; 
	line-height: 20px;
	

}

.column-middle{
	border-right: 1px;
  	border-color: #55127B;
  	border-style: solid;
        border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	padding-right,:4px; 
	padding-left:4px; 
	line-height: 20px;
}


column-last:{
	padding-right:4px; 
	padding-left:4px; 
	line-height: 20px;
	padding-bottom:0px;
	margin-bottom:0px;



.crumb {
  color: #000000;
  font-weight: normal;
}

.crumb a:link {
  color: #CC9966;
  font-weight: normal;
}

.crumb a:visited {
  color: #666666;
  font-weight: normal;
}

.crumb a:hover {
  background-color: #D6F96A;
  color: #000000;
}

.data-header {
	font-weight: bold;

  	
	}


.go {
  color: #FEEDDB;
  background-color: #C57619;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  font-family: arial,hevetica,sans-serif;
  font-size: small;
  font-weight: bold;
  padding: 4px;
 height : 30px;
}



input.field { width:  300px;
        height : 30px;
	border: solid 1px #000000;
	font-family: "arial narrow",arial,helvetica,sans-serif;
	font-size: 21px;
	line-height: 24px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	

}


input.short-field { width:  150px;
	 height : 30px;
	border: solid 1px #000000;
	font-family: "arial narrow",arial,helvetica,sans-serif;
	font-size: 21px;
	line-height: 24px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	

}

input.mid-field { width:  250px;
  height : 30px;
	border: solid 1px #000000;
	font-family: "arial narrow",arial,helvetica,sans-serif;
	font-size: 21px;
	line-height: 24px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	

}


input.checkbox {}

.label {
	font-family: "arial narrow",arial,helvetica,sans-serif;
	font-weight: bold;
}


td.heading {padding-top: 32px;}


.tip { 
color:#AB89BB;}

.tip-big {
     	font-size: 32pt;
        font: ocean-sans, times,serif;
	
}



.top-menu {
  background-color: #8BC638;
border-top: 0px;
border-left: 0px;
border-right: 0px;
  border-bottom: 1px;
  border-color: #000000;
  border-style: solid;
  margin: 0px;  
}


.top-menuitems {
  text-align: right;
 padding-right: 20px;
}

.top-menuitems a {
color:#003CD8;
}



h1.logo {
  margin-left: 20px;
  margin-bottom: 4px;
  margin-top: 4px;
  color: #000000;
  
}

a.logo{
 color: #000000;
 font-size: #24px;
}

a:hover.logo {
	color:000000;
	background:#D6F96A;
	padding:0px;}


a.selected {
	
	color:#FFFFFF;
	
	}

a:hover.selected {
	
	color:#000000;
	
	}





.sidenav-box {
  background-color: #E7F4D8;
  padding-left: 20px;  
  padding-right: 4px;  
  border-bottom: 1px;
  border-top: 1px;
  border-left: 0px;
  border-right: 1px;
  border-color: #A2BB64; 
  border-style: solid;
  width: 150px;
  
  
}

.sidenav ul {
  list-style-image: url(/images/styles/nav-dot.gif);
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 16px;
  margin-top: 2px;
  padding-left: 0px;
  padding-top: 2px;

  font-size: 9pt;
  font-weight: normal;
  line-height: 13px;
  margin-bottom: 3pt;
}


.sidenav a:hover {
  background: #ffffff;
  color: #000000;
}







.button {
  color: #FEEDDB;
  background-color: #C57619;
  border: 1px;
  border-color: #000000;
  border-style: solid;
  font-family: arial,hevetica,sans-serif;
  font-size: small;
  font-weight: bold;
  padding: 4px;
 height : 30px;
	
	
}

#menubar {
	border-top:1px solid #666666;
	font: 1.2em sans-serif;
	background-color:#DDDDDD;
}
#submenu {
	font: 0.5em sans-serif;
	background-color:#EEEEEE;
	border-left:1px solid #000000;
}
a.submenu {
	font-weight: normal;
	text-decoration: none;
	cursor: hand;
	color:#777777;
	padding:4px;
	font-weight: bold;
	margin:0;
}

h2.underline {
	border-style: solid;
	border-color: #55127B;
	border-top: 0px;
border-left: 0px;
border-right: 0px;
  border-bottom: 1px;
line-height:24px;
padding-top:4px;
padding-bottom:4px;
margin-top: 12px;
margin-bottom: 12px;

}
