/* COLORS, BACKGROUNDS, AND BORDERS */

a {
	color : #006699;
}

a:active {
	color : #990033;
}

a:visited {
	color : #006699;
}

a:hover {
	color : #990033;
}

a:link.current {
	background-color : transparent;
	color : #3366CC;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
}

a:visited.current {
	background-color : transparent;
	color : #3366CC;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
}

a:link.nav {
	background-color : #EFF1DC;
	border : 1px solid #CCCC99;
	color : #3366CC;
}

a:hover.nav {
	background-color : #FFFFCC;
	border : 1px solid #CCCC99;
	color : #CC3333;
}

a:active.nav {
	background-color : #FFFFCC;
	border : 1px solid #CCCC99;
	color : #D25500;
}

a:visited.nav {
	background-color : #EFF1DC;
	border : 1px solid #CCCC99;
	color : #3366CC;
}

.menu a:link.logout {
	background-color : #FFDD75;
	color : Black;
}

.menu a:active.logout {
	background-color : #FFDD75;
	color : Black;	
}


.menu a:visited.logout {
	background-color : #FFDD75;
	color : Black;
}

.menu a:hover.logout {
	background-color : #FFCC33;
	color : Black;
}

body {
	background-color : #FFFFFF;
}

caption {
	color : #000066;
}

div.form, div.details {
	background-color : #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
	color : #000066;
}

h1.logo {
	color : #D3DFAD;
}

p.error, div.error {
	background-color : #FFFFCC;
	border : 1px dashed #cc6600;
}

div.error h3 {
	color : #990000;
}

table {
	background-color : #ffffff;
}

td {
	border-bottom : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
}

th {
	background-color : #EFF1DC;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
}

th[scope="row"] {
	background-color : #E7E7CA;
}

tr.highlight th[scope="row"] {
	background-color : #EEEEEE;
}

th:last-child {
	background-color : #EFF1DC;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0 solid #CCCCCC;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #CCCCCC;
	border-left : 0;
	border-right : 0;
	color : #000000;
}

td.label, div.form th, div.details th {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-right : 0;
	border-top : 0;
	color : #000088;
}

td.label {
	border-bottom : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	color : #000088;
}

td:last-child {
	border-bottom : 1px solid #CCCCCC;
	border-right : 0 solid #CCCCCC;
}

tr.highlight {
	background-color : #F8F8EB;
}

.content-block {
	background-color : #FFFFFF;
}

.current {
	background-color : #FFFFFF;
	color : #3366CC;
}

.further {
	color: #CCCC99;
	border: 2px solid #DDDED3;
	background-color : #EEEEEB;
}

.further h4 {
	background-color : #D8DEB8;
}

.further li {
	border-bottom : 1px solid #DDDED3;
	}

.detail-sidebar {
	background-color : #EEEEEB;
}

.operations li a, .operations li a:visited {
	border: 2px solid #D8DEB8;
	color: #FFFFCC;
	background-color : #6699CC;
}

.operations li a:hover {
	color: #FFFF99;
	background-color: #0099FF;
}

.operations li a:active {
	color: : #FFFF99;
	background-color: #0099FF;
}

.loggedin {
	color : #D8DEB8;
}

.marctag {
	color : #000000;
	background-color : #E7E7CA;
}

.marcsubfieldletter {
	background-color: #EFF1DC;
}

.marcsubfieldname {
	background-color: #EFF1DC;
}

.subfield {
	background-color: #EFF1DC;
}

.subfieldvalue {
	background-color : #FFFFFF;
}

.menu {
	color : #000000;
}

#members a {
	text-decoration : none;
}

.menu a:link, #members a:link {
	color : #0099CC;
}

.menu a:visited, #members a:visited {
	color : #0099CC;
}

.menu a:hover, #members a:hover {
	color : #990000;
}

.menu a:active, #members a:active {
	color : #990000;
}

.opac-detail {
	background-color : #FFFFCC;
}

em.new {
	color : #CC3333;
}

.note {
	background-color : #EEEEEB;
	border-left : 1px solid #DDDED3;
	border-top : 1px solid #DDDED3;
	border-right : 1px solid #DDDED3;
	border-bottom : 1px solid #DDDED3;
}
.opac-detail dd {
	border-bottom : 1px solid #E7E7CA;
	color : #000000;
}

.submit {
	background-color : #6699CC;
	color : #FFFFCC;
}

input.icon {
	background-color : #6699CC;
	color : #FFFFCC;
}

#footer {
	border-top : 1px solid #EEEEEE;
}

#main {
	background-color : transparent;
	border-right  : 1px solid #EEEEEE;
}

#window {
	background-color : #E7E7CA;
	border-left : 1px solid #CCCC99;
}

#masthead {
	background-color : White;
	border-bottom : 1px solid #EEEEEE;
}

#nav {
	background-color : #EFF1DC;
}

#nav ul li {
	background-color : #EFF1DC; /*width : 100%;*/
	border-bottom : 1px solid #CCCC99;
	border-left : 0 solid #FFFFCC;
	border-right : 0 solid #006699;
	border-top : 0 solid #FFFFCC;
}

#nav ul li+li {
	border-bottom : 1px solid #CCCC99;
	border-left : 0 solid #FFFFCC;
	border-right : 0 solid #006699;
}

#nav li ul li {
	background-color : #E7E7CA;
	border-bottom : 1px solid #D8DEB8;
	border-left : 0 solid #FFFFCC;
	border-right : 0 solid #006699;
	border-top : 0 solid #FFFFCC;
}

#nav li ul li a {
	color: Blue;
}

#nav li ul li a:link {
	color: #359;
}

#nav li ul li a:visited {
	color: #359;
}

#nav li ul li a:hover {
	color: #CC3333;
}

#results, .results {
	color : #000066;
}

#sidebar {
	background-color : #F8F8EB;
	border : 1px dashed #666666;
}

#sidebar h3 {
	color : #000066;
}

#sidebar .submit {
	background-color : #6699CC;
	color : #FFFFCC;
}

#search-sidebar {
	background-color : #F8F8EB;
}

.sidebar-box {
	border : 1px dashed #cccccc;
}

.issued {
	color : #999999;
}

tr.overdue td {
	background-color : #fea7a7;
}

td.overdue {
	color : #cc0000;
}

	
#members {
	background-color : transparent;
	border : 0px dashed #666666;
	color : #000066;
	}

#members a.logout {
	background-color : #FFDD75;
	color : Black;
}

#members a:hover.logout {
	background-color : #FFCC33;
}

.loggedinusername {
	color : #666666;
}

/* Amazon CSS Stuff */

#itemReviews dt {
        border-bottom: 1px solid #ddd;
}