a:link {
	color : #000066;
	text-decoration: none;
}

a:visited {
	color : #000066;
	text-decoration: none;
}

a:hover {
	color : #993300;
	text-decoration: none;
}

body {
	background-color : #FFF;
	color : #333333;
	font-family : arial, geneva, sans-serif;
	font-size : 14px;
	margin : 0px 0px 0px 0px;
}

caption {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-top : 5px;
	text-align : left;
}

div.table {
	width : 100%;
}

form {
	margin : 0px;
	padding : 0px;
}

h1
	{
	color : #000066;
	font-size : 22px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h2 {
	color : #000066;
	font-size : 20px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h3 {
	color : #000066;
	font-size : 18px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h4 {
	color : #000066;
	font-size : 16px;
	font-weight : bold;
	margin-bottom : 3px;
	margin-top : 3px;
}

h5 {
	color : #000066;
	font-size : 15px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

h6 {
	color : #000066;
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 1px;
	margin-top : 1px;
}

p {
	margin-top : 0px;
}

table {
	background-color : #FFFFFF;
	border-bottom : 0px solid #CCCCCC;
	border-collapse : collapse;
	border-left : 0px solid #CCCCCC;
	margin : 3px 0px 5px 0px;
	padding : 0px;
	width : 99%;
}

td {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
	vertical-align : top;
}

td:last-child {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0px solid #CCCCCC;
	font-size : 12px;
	padding : 5px 5px 5px 5px;
	vertical-align : top;
}

th {
	background-color : #E9E9E9;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

th:last-child {
	background-color : #E9E9E9;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0px solid #CCCCCC;
	font-size : 14px;
	font-weight : bold;
	padding : 5px 5px 5px 5px;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #CCCCCC;
	border-left : 0px;
	border-right : 0px;
	color : #000000;
	line-height : 1.5em;
	padding : 4px;
	text-align : left;
}

td.label, div.form th, div.details th {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-right : 0px;
	border-top : 0px;
	color : #000088;
	font-weight : bold;
	line-height : 1.5em;
	padding : 4px;
	text-align : right;
	vertical-align : top;
}

tr.highlight {
	background-color: #CCCCCC;
}

.class {
	font-weight : bold;
}

.cancel {
	background-color : #993300;
	color : #FFFFCC;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
}

.error {
	font-weight: bold;
}

.ex {
	font-family : "Courier New", Courier, monospace;
}
.inline {
	display : inline;
}

.print {
	display : none;
}

.submit {
	background-color : #669999;
	color : #FFFFCC;
	font-size : 12px;
	font-weight : bold;
	padding : 2px;
}

#main {
	background-color : #FFF;
	border-left : 0px solid #CCCC99;
	margin-left : 2%;
	margin-right : 2%;
	margin-top : 1%;
	padding : 5px;
	position : relative;
}