<!-- TMPL_INCLUDE NAME="bull-top.inc" -->

<div id="mainbloc">
<h1 class="bull">Preview Routing List</h1>

<form method="post" action="routing-preview.pl">
<input type="hidden" name="subscriptionid" value="<!-- TMPL_VAR NAME="subscriptionid" -->" />
<p><b>Serial Title:</b> <!-- TMPL_VAR NAME="title" --></p>
<p><b>Issue:</b> <!-- TMPL_VAR NAME="issue" --></p>

<table border="0" cellspacing="0" cellpadding="0">
<tr valign="top"><td style="padding-top: 5px;"><b>List Member:</b>&nbsp;</td>
    <td><table cellspacing="0" cellpadding="0" border="0" class="collapse">
        <tr><td class="cell-header">Name</td>
            <td class="cell-header">Location</td></tr>
<!-- TMPL_LOOP NAME="memberloop" -->
        <tr><td class="cell"><!-- TMPL_VAR NAME="name" --></td>
            <td class="cell"><!-- TMPL_VAR NAME="location" --></td></tr>
<!-- /TMPL_LOOP -->
        </table></td></tr>
<tr valign="top"><td colspan="2">&nbsp;</td></tr>
<tr valign="top"><td><b>Notes:</b></td>
    <td><!-- TMPL_VAR NAME="routingnotes" --></td></tr>
</table>
<p>
<input type="submit" name="ok" class="button" value="OK, Preview Routing Slip" onclick="print_slip(<!-- TMPL_VAR NAME="subscriptionid" -->,'<!-- TMPL_VAR NAME="issue" -->'); return false" />
<input type="submit" name="edit" class="button" value="Edit" />
<input type="submit" name="delete" class="button" value="Delete" /></p>
</form>
</div>

<script type="text/javascript">
<!--

function print_slip(subscriptionid,issue){
    var myurl = 'routing-preview.pl?ok=1&subscriptionid='+subscriptionid+'&issue='+issue;
window.open(myurl,'PrintSlip','width=400,height=500,toolbar=no,scrollbars=yes');
    window.location.href='serials-home.pl';
}
//-->
</script>
<!-- TMPL_INCLUDE NAME="bull-bottom.inc" -->
