[% INCLUDE 'help-top.inc' %]

<h1>Vendor Contracts</h1>

<p>You can define contracts (with a start and end date) and attach them to a vendor. This is used so that at the end of the year you can see how much you spent on a specific contract with a vendor. In some places, contracts are set up with a minimum and maximum yearly amount.</p>

<h2>Add a Contract</h2>

<p>At the top of a Vendor Information Page, you will see a 'New Contract' button.</p>

<p>The contract form will ask for some very basic information about the contract.</p>

<p style="color: #ff0000">Important: You cannot enter a contract retrospectively. The end date must not be before today's date.</p>

<p>Once the contract is saved it will appear below the vendor information.</p>

<p>It will also be an option when creating a basket.</p>

<p><strong>See the full documentation for Vendor Contracts in the <a href="http://koha-community.org/manual/[% helpVersion | html %]/en/html/acquisitions.html#vendor-contracts">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
