<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Library Branches</h1>

<p>Fill in information about your library service outlets on this page.</p>
<p>Begin by defining your branch categories. If, for example, you have one main library and several branch libraries, you might set up an &quot;M&quot; (Main) category and a &quot;B&quot; (Branch) category, with descriptions &quot;Main Library&quot; and &quot;Branch Library.&quot;</p>
<p>Now add the names and addresses, phone numbers, etc of your libraries in the &quot;Branches&quot; section. (All of your libraries should be described here, not just the branch libraries.) Give each library a unique and easily-remembered code (maximum of four characters). This code will be used in Koha's database to identify each library. When libraries are listed in Koha, they will be listed in alphabetical order by code.</p><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->