[% INCLUDE 'help-top.inc' %]

<h1>Classification Sources</h1>

<p>Source of classification or shelving scheme is an Authorized Values category that is mapped to field 952$2 and 942$2 in Koha's MARC Bibliographic frameworks.</p>

<p>Commonly used values of this field are:</p>

<ul>
    <li>ddc - Dewey Decimal Classification</li>
    <li>lcc - Library of Congress Classification</li>
</ul>

<p>If you chose to install classification sources during Koha's installation, you would see other values too:</p>

<ul>
	<li>ANSCR (sound recordings)</li>
	<li>SuDOC classification</li>
    <li>Universal Decimal Classification</li>
    <li>Other/Generic Classification</li>
</ul>

<h2>Adding/Editing Classification Sources</h2>

<p>You can add your own source of classification by using the New Classification Source button. To edit use the Edit link.</p>

<p>When creating or editing:</p>

<ul>
	<li>You will need to enter a code and a description.</li>
	<li>Check the 'Source in use?' checkbox if you want the value to appear in the drop down list for this category.</li>
	<li>Select the appropriate filing rule from the drop down list.</li>
</ul>

<h2>Classification Filing Rules</h2>

<p>Filing rules determine the order in which items are placed on shelves.</p>

<p>Values that are pre-configured in Koha are:</p>

<ul>
	<li>Dewey</li>
	<li>LCC</li>
	<li>Generic</li>
</ul>

<p>Filing rules are mapped to Classification sources. You can setup new filing rules by using the New Filing Rule button. To edit use the Edit link.</p>

<p>When creating or editing:</p>

<ul>
	<li>Enter a code and a description</li>
	<li>Choose an appropriate filing routine - dewey, generic or lcc</li>
</ul>

<p><strong>See the full documentation for Classification Sources in the <a href="http://koha-community.org/manual/[% helpVersion %]/en/html/administration.html#classification-sources">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
