[% INCLUDE 'help-top.inc' %]

<h1>Keyword to MARC Mapping</h1>

<p>This tool will allow you to map MARC fields to a set of predefined keywords.</p>

<p>At this time the only keyword in use is 'subtitle.'</p>

<p>Using this tool you can define what MARC field prints to the detail screen of the bibliographic record using keywords. The following example will use the subtitle field.</p>

<p>Using the Framework pull down menu, choose the Framework you would like to apply this rule to. For example, the subtitle for books can be found in the 245$b field.</p>

<p>However the subtitle for DVDs appears in 245$p</p>

<p>Using this tool you can tell Koha to print the right field as the subtitle when viewing the bibliographic record in the OPAC.</p>

<p>This tool can be used to chain together pieces of the record as well. If you want the series number to show in the title on your search results you simply have to map 490 $v to 'subtitle' along with the 245 $b.</p>

<p style="background-color: #ffe599">Tip: Chain together the fields you want to show after the item title in the order in which you want them to appear.</p>

<p>Future developments will include additional keyword assigned fields.</p>

<p><strong>See the full documentation for Keyword to MARC Mapping in the <a href="http://koha-community.org/manual/[% helpVersion | html %]/en/html/administration.html#keywords-to-marc-mapping">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
