[% INCLUDE 'help-top.inc' %]

<h1>OAI-PMH Sets Mappings Configuration</h1>

<p>Here you can define how a set will be build (what records will belong to this set) by defining mappings. Mappings are a list of conditions on record content. A record only need to match one condition to belong to the set.</p>

<h2>Defining a mapping</h2>

<ol>
    <li>Fill the fields 'Field', 'Subfield', 'Operator' and 'Value'. For example if you want to include in this set all records that have a 999$9 equal to 'XXX'. Fill 'Field' with 999, 'Subfield' with 9, 'Operator' with is equal to and 'Value' with XXX.</li>
    <li>If you want to add another condition, click on 'OR' button and repeat step 1.</li>
    <li>Click on 'Save'</li>
</ol>

<p>To delete a condition, just leave at least one of 'Field' or 'Subfield' empty and click on 'Save'.</p>

<p>Note: Actually, a condition is true if value in the corresponding subfield is strictly 'equal' or 'not equal' to what is defined if 'Value'. A record having 999$9 = 'XXX YYY' will not belong to a set where condition is 999$9 = 'XXX'.</p>

<p>And it is case sensitive : a record having 999$9 = 'xxx' will not belong to a set where condition is 999$9 = 'XXX'.</p>

<p><strong>See the full documentation for OAI Sets in the <a href="http://koha-community.org/manual/[% helpVersion %]/en/html/administration.html#oai-sets-configuration">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
