[% INCLUDE 'help-top.inc' %]

<h1>Stop words</h1>

<p style="color: #990000">Important: If NoZebra is set to 'Use' this option will not appear on the administration menu</p>

<p>Stop words are words that you want the search system to ignore.</p>

<p>Koha comes with a standard list of stop words that can be edited by visiting the Stop Word administration area.</p>

<p>To add a new stop word to the list, click the 'New stop word' button and add the word you'd like ignored</p>

<p style="color: #990000">Important: If you change something in this table, ask your administrator to run misc/batchRebuildBiblioTables.pl script.</p>

<p><strong>See the full documentation for stop words in the <a href="http://manual.koha-community.org/3.6/en/additionaladmin.html#stopwordsadmin">manual</a> (online).</strong></p>

[% INCLUDE 'help-bottom.inc' %]
