<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>System preferences administration</h1>

<p>This page allows you to set the system preferences that control much of the basic behavior of Koha.</p>
<p>Each of the tabs on the left holds several different preferences:</p>
	<ul>
		<li><strong>Admin: </strong>holds administrative preferences such as admin email address, sessions and timout.</li>
		<li><strong>Acquisitions:</strong> holds preferences related to acquisitions and serials such as handling patron suggestions and taxes.</li>
		<li><strong>Enhanced Content:</strong> holds preferences that will add content from outside sources to your OPAC and Staff Client.  This is where you can turn on cover images, FRBR and tagging.</li>
		<li><strong>Authorities: </strong>holds preference related to handling authority records.</li>
		<li><strong>Cataloging:</strong> holds preferences that control the cataloging functions.  This is where you choose your MARC flavor, set up Z39.50 and barcoding.</li>
		<li><strong>Circulation:</strong> holds preferences that control circulation functions such as holds and  fines.</li>
		<li><strong>I18N/L10N:</strong> holds preferences related to internationalization and localization such as date formats and languages.</li>
		<li><strong>Logs</strong>: turn on/off logging functionality in your system.</li>
		<li><strong>OAI-PMH:</strong> this function is still experimental, so it's best to leave these preferences at their default.</li>
		<li><strong>OPAC: </strong>customize the OPAC and OPAC functions (aside from the Enhanced Content preferences).</li>
		<li><strong>Patrons: </strong>holds preferences that control how your system handles patron functions.  Some preferences include the minimum password length and membership number settings.</li>
		<li><strong>Searching:</strong> holds preference related to advanced search functions such as removing stop words or allowing stemming.</li>
		<li><strong>Staff Client: </strong>customize the staff client by editing the stylesheet and navigation menu.</li>
		<li><strong>Local Use: </strong>this tab will usually be empty unless your library has a preference just for your library.</li>
	</ul><!-- TMPL_INCLUDE NAME="help-bottom.inc" -->