<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Patron Categories &rsaquo; <!-- TMPL_IF NAME="add_form" --><!-- TMPL_IF NAME="categorycode" -->Modify category '<!-- TMPL_VAR NAME="categorycode" -->'<!-- TMPL_ELSE -->New category<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" -->Data recorded<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --><!-- TMPL_IF NAME="totalgtzero" -->Cannot Delete: Category <!-- TMPL_VAR NAME="categorycode" --> in Use<!-- TMPL_ELSE -->Confirm Deletion of Category '<!-- TMPL_VAR NAME="categorycode" -->'<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" -->Category Deleted<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
	//
	function isNotNull(f,noalert) {
		if (f.value.length ==0) {
   return false;
		}
		return true;
	}
	//
	function toUC(f) {
		var x=f.value.toUpperCase();
		f.value=x;
		return true;
	}
	//
	function isNum(v,maybenull) {
	var n = new Number(v.value);
	if (isNaN(n)) {
		return false;
		}
	if (maybenull==0 && v.value=='') {
		return false;
	}
	return true;
	}
	//
	function isDate(f) {
		var t = Date.parse(f.value);
		if (isNaN(t)) {
			return false;
		}
	}
	// to check if the data are correctly entered.
	function Check(ff) {
	    var ok=0;
		var _alertString="Form not submitted because of the following problem(s)\n";
		_alertString +="-------------------------------------------------------------------\n\n";
		if (ff.categorycode.value.length==0) {
		    ok=1;
			_alertString += "- categorycode missing\n";
		}
		if (!(ff.category_type.value)){
		    ok=1;
		    _alertString += "- category type missing\n";
		}
		if (!(isNotNull(ff.description,1))) {
		    ok=1;
			_alertString += "- description missing\n";
		}
		if (!isNum(ff.upperagelimit,0) && ff.category_type.value=='C') {
		    ok=1;
		  	_alertString += "- upperagelimit is not a number\n";
				
		}
		
		if (ok) { // if there is a problem
			alert(_alertString);
             return false;
        }
        // if all is good
		ff.submit();
	}
	//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="patrons-admin-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <!-- TMPL_IF NAME="add_form" --> <a href="/cgi-bin/koha/admin/categorie.pl">Patron Categories</a> &rsaquo; <!-- TMPL_IF NAME="categorycode" -->Modify category '<!-- TMPL_VAR NAME="categorycode" -->'<!-- TMPL_ELSE -->New category<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="add_validate" --> <a href="/cgi-bin/koha/admin/categorie.pl">Patron Categories</a> &rsaquo; Data recorded<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirm" --> <a href="/cgi-bin/koha/admin/categorie.pl">Patron Categories</a> &rsaquo; <!-- TMPL_IF NAME="totalgtzero" -->Cannot Delete: Category <!-- TMPL_VAR NAME="categorycode" --> in Use<!-- TMPL_ELSE -->Confirm Deletion of Category '<!-- TMPL_VAR NAME="categorycode" -->'<!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF NAME="delete_confirmed" --> <a href="/cgi-bin/koha/admin/categorie.pl">Patron Categories</a> &rsaquo; Category Deleted<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="else" -->Patron Categories<!-- /TMPL_IF --></div>

<div id="doc3" class="yui-t2">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-b">

<!-- TMPL_IF NAME="add_form" -->
	


	
	<form name="Aform" action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="op" value="add_validate" />
	<input type="hidden" name="checked" value="0" />
<!-- TMPL_IF NAME="categorycode" -->
		<h1>Modify category <!-- TMPL_VAR NAME="categorycode" --></h1>
	<!-- TMPL_ELSE -->
		<h1>New category</h1>
	<!-- /TMPL_IF -->
	<fieldset class="rows">
	<ol><!-- TMPL_IF NAME="categorycode" -->
	<li><span class="label">Category code</span><!-- TMPL_VAR NAME="categorycode" -->
				<input type="hidden" name="categorycode" value="<!-- TMPL_VAR NAME="categorycode" -->" /><input type="hidden" name="is_a_modif" value="1" /></li>
	<!-- TMPL_ELSE -->
	<li><label for="categorycode">Category code: </label> &nbsp; <input type="text" name="categorycode" id="categorycode" size="10" maxlength="10" onblur="toUC(this)" /></li>
	<!-- /TMPL_IF -->
	<li><label for="description">Description: </label> &nbsp; <input type="text" name="description" id="description" size="40" maxlength="80" value="<!-- TMPL_VAR NAME="description" -->" /></li>
	<li><label for="enrolmentperiod">Enrollment period: </label> &nbsp; <input type="text" name="enrolmentperiod" id="enrolmentperiod" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="enrolmentperiod" -->" /> months</li>
	<li><label for="dateofbirthrequired">Age required: </label> &nbsp; <input type="text" name="dateofbirthrequired" id="dateofbirthrequired" value="<!-- TMPL_VAR NAME="dateofbirthrequired" -->" size="3" maxlength="3" /> years</li>
	<li><label for="upperagelimit">Upperage limit: </label> &nbsp; <input type="text" name="upperagelimit" id="upperagelimit" size="3" maxlength="3" value="<!-- TMPL_VAR NAME="upperagelimit" -->" /> years</li>
	<li><label for="enrolmentfee">Enrollment fee: </label>$<input type="text" name="enrolmentfee" id="enrolmentfee" size="6" value="<!-- TMPL_VAR NAME="enrolmentfee" -->" /></li>
	<li><label for="overduenoticerequired">Overdue notice required: </label> &nbsp; <select name="overduenoticerequired" id="overduenoticerequired">
			<!-- TMPL_IF NAME="overduenoticerequired" -->
						<option value="0">No</option>
						<option value="1" selected="selected">Yes</option>
			<!-- TMPL_ELSE -->
						<option value="0" selected="selected">No</option>
						<option value="1">Yes</option>
			<!-- /TMPL_IF -->
					</select></li>
	<li><label for="reservefee">Hold fee: </label>$<input type="text" name="reservefee" id="reservefee" size="6" value="<!-- TMPL_VAR NAME="reservefee" -->" /></li>
	<li><label for="category_type">Category type: </label> &nbsp; <select name="category_type" id="category_type">
						<!-- TMPL_IF NAME="type_n" --><option value="" selected="selected">Select a Category type</option><!-- TMPL_ELSE --><option value="">Select a Category type</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_A" --><option value="A" selected="selected">Adult</option><!-- TMPL_ELSE --><option value="A">Adult</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_C" --><option value="C" selected="selected">Child</option><!-- TMPL_ELSE --><option value="C">Child</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_S" --><option value="S" selected="selected">Staff</option><!-- TMPL_ELSE --><option value="S">Staff</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_I" --><option value="I" selected="selected">Organisztion</option><!-- TMPL_ELSE --><option value="I">Organization</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NAME="type_P" --><option value="P" selected="selected">Professional</option><!-- TMPL_ELSE --><option value="P">Professional</option><!-- /TMPL_IF -->
					<!-- TMPL_IF NXME="type_X" --><option value="X" selected="selected">Statistical</option><!-- TMPL_ELSE --><option value="X">Statistical</option><!-- /TMPL_IF -->
					</select>
	</li></ol>
</fieldset>

	<fieldset class="action"><input type="button" value="Save" onclick="Check(this.form);" /> </fieldset>
	</form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="add_validate" -->
<h3>Data recorded</h3>
	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
		<input type="submit" value="OK" />
	</form>

<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->
	
    	<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<fieldset><legend>    	
	<!-- TMPL_IF NAME="totalgtzero" -->
	Category <!-- TMPL_VAR NAME="categorycode" --> is in use.  Deletion not possible!<!-- TMPL_ELSE -->
Confirm Deletion of Category <!-- TMPL_VAR NAME="categorycode" --><!-- /TMPL_IF --></legend>

<!-- TMPL_IF NAME="totalgtzero" --><div class="dialog alert"><strong>This category is used <!-- TMPL_VAR NAME="total" --> times</strong>. Deletion not possible</div><!-- /TMPL_IF -->
	<table>
	<tr><th scope="row">Category code: </th><td><!-- TMPL_VAR NAME="categorycode" --></td></tr>
	<tr><th scope="row">Description: </th><td><!-- TMPL_VAR NAME="description" --></td></tr>
	<tr><th scope="row">Enrollment period: </th><td><!-- TMPL_VAR NAME="enrolmentperiod" --> months</td></tr>
	<tr><th scope="row">Age required: </th><td><!-- TMPL_VAR NAME="dateofbirthrequired" --> years</td></tr>
	<tr><th scope="row">Upperage limit: </th><td><!-- TMPL_VAR NAME="upperagelimit" --> years</td></tr>
	<tr><th scope="row">Enrollment fee: </th><td>$<!-- TMPL_VAR NAME="enrolmentfee" --></td></tr>
	<tr><th scope="row">Receives overdue notices: </th><td><!-- TMPL_IF NAME="overduenoticerequired" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td></tr>
	<tr><th scope="row">Hold fee: </th><td>$<!-- TMPL_VAR NAME="reservefee" --></td></tr>
</table>
		<fieldset class="action"><!-- TMPL_IF NAME="totalgtzero" -->
<input type="submit" value="OK" /></form>
		<!-- TMPL_ELSE -->
			<input type="hidden" name="op" value="delete_confirmed" />
			<input type="hidden" name="categorycode" value="<!-- TMPL_VAR NAME="categorycode" -->" /> <input type="submit" value="Delete this Category" /> <a class="cancel" href="/cgi-bin/koha/admin/categorie.pl">Cancel</a> 
		<!-- /TMPL_IF --></fieldset></fieldset></form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->
<h3>Category Deleted</h3>

        <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
        <input type="submit" value="OK" />
        </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="else" -->

<div id="toolbar">
	<script type="text/javascript">
	//<![CDATA[

	// prepare DOM for YUI Toolbar

	 $(document).ready(function() {
	    yuiToolbar();
	 });

	// YUI Toolbar Functions

	function yuiToolbar() {
	    new YAHOO.widget.Button("newcategory");
	}

	//]]>
	</script>
	<ul class="toolbar">
	<li><a id="newcategory" href="/cgi-bin/koha/admin/categorie.pl?op=add_form">New Category</a></li>
</ul></div>

<h2>Patron Category Administration</h2>
<!-- TMPL_IF NAME="searchfield" -->
		You Searched for <!-- TMPL_VAR NAME="searchfield" --></span>
	<!-- /TMPL_IF -->

        <table>
		<tr>
			<th scope="col">Code:</th>
			<th scope="col">Category name:</th>
			<th scope="col">Type:</th>
			<th scope="col">Enrollment period:</th>
			<th scope="col">Age required:</th>
			<th scope="col">Upper age limit:</th>
			<th scope="col">Enrollment fee:</th>
			<th scope="col">Overdue:</th>
 			<th scope="col">Hold fee:</th>
			<th scope="col" colspan="2">&nbsp; </th>
		</tr>
		<!-- TMPL_LOOP NAME="loop" -->
		<!-- TMPL_IF NAME="toggle" --><tr class="highlight"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
                        <td><!-- TMPL_VAR NAME="categorycode" --></td>
                        <td>
                            <a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->"><!-- TMPL_VAR NAME="description" --></a>
                        </td>
                        <td>
                            <!-- TMPL_IF NAME="type_A" -->Adult<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_C" -->Child<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_P" -->Prof.<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_I" -->Org.<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_S" -->Staff<!-- /TMPL_IF -->
                            <!-- TMPL_IF NAME="type_X" -->Statistical<!-- /TMPL_IF -->
                        </td>
                        <td><!-- TMPL_VAR NAME="enrolmentperiod" --> months</td>
                        <td><!-- TMPL_VAR NAME="dateofbirthrequired" --> years</td>
			<td><!-- TMPL_VAR NAME="upperagelimit" --> years</td>
                        <td><!-- TMPL_VAR NAME="enrolmentfee" --></td>
                        <td><!-- TMPL_IF NAME="overduenoticerequired" -->Yes<!-- TMPL_ELSE -->No<!-- /TMPL_IF --></td>
                        <td><!-- TMPL_VAR NAME="reservefee" --></td>
                        <td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=add_form&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Edit</a></td>
						<td><a href="<!-- TMPL_VAR NAME="script_name" -->?op=delete_confirm&amp;categorycode=<!-- TMPL_VAR NAME="categorycode" -->">Delete</a></td>
		</tr>
		<!-- /TMPL_LOOP -->
	</table>
<!-- /TMPL_IF -->

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
