<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Fines</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	$('#selectlibrary').find("input:submit").hide();
	$('#branch').change(function() {
		$('#selectlibrary').submit();
	});
});
//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; Fines</div>

<div id="doc3" class="yui-t1">

<div id="bd">
    <div id="yui-main">
    <div class="yui-b">
    
    <h1>Defining <!-- TMPL_IF NAME="branch" -->fining rules for <!-- TMPL_VAR NAME="branch" --><!-- TMPL_ELSE -->default fining rules<!-- /TMPL_IF --></h1>
            
    <div class="help">
        <h3>HINT for fines</h3>
        <p>Each box needs to be filled in with fine,time to start charging,charging cycle</p>
        <p>eg 1,7,7 = 1 [USD,EUR,etc] fine after 7 days, every 7 days</p>
        <p>Fines are calculated by the fines2.pl script, located in misc directory.  Ask your administrator to put this script in crontab, after midnight, to have fines calculated every night</p>
        <p>The rules are applied from most specific to less specific, the 1st who is filled :</p>
        <ul>
            <li>same branch, same category</li>
            <li>same branch, default category</li>
            <li>default branch, same category</li>
            <li>default branch, default category</li>
        </ul>
    </div>
        <form method="post" id="selectlibrary" action="/cgi-bin/koha/admin/finesrules.pl">
        <label for="branch">Select a library :</label>
            <select id="branch" name="branch">
                <option value="">Default</option>
                <!-- TMPL_LOOP NAME="branchloop" -->
                    <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option>
                    <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
                    <!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </select>
            <input type="submit" value="Select" />
        </form>
        <form method="post" action="/cgi-bin/koha/admin/finesrules.pl">
            <input type="hidden" name="op" value="save" />
            <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
            
            <table>
            <caption>Defining fines rules for <!-- TMPL_VAR NAME="branch" --></caption>
            <tr>
                <th>&nbsp;</th><!-- TMPL_LOOP NAME="title" --><th scope="col"><!-- TMPL_IF EXPR="in_title eq '*'" -->Default<!-- TMPL_ELSE --><!-- TMPL_VAR NAME="in_title" --><!-- /TMPL_IF --></th><!-- /TMPL_LOOP -->
            </tr>
            <!-- TMPL_LOOP NAME="row" -->
                <tr>
                    <th scope="row"><!-- TMPL_IF name="total" -->Total <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="categorycode" --><!-- /TMPL_IF --></th>
                    <!-- TMPL_LOOP NAME="cell" -->
                        <!-- TMPL_IF NAME="toggle" -->
                            <td class="highlight">
                        <!-- TMPL_ELSE -->
                            <td>
                        <!-- /TMPL_IF -->
                            <input name="<!-- TMPL_VAR NAME="finesname" -->" value="<!-- TMPL_VAR NAME="finesvalue" -->" size="6" maxlength="10" />
                        </td>
                    <!-- /TMPL_LOOP -->
                </tr>
            <!-- /TMPL_LOOP -->
        </table>
        <fieldset class="action"><input type="submit" value="Save Changes" /> <a class="cancel" href="/cgi-bin/koha/admin/admin-home.pl">Cancel</a></fieldset>
    </form>

</div>
</div>
<div class="yui-b noprint">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
