<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo; Circulation Rules</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	$('#selectlibrary').find("input:submit").hide();
	$('#branch').change(function() {
		$('#selectlibrary').submit();
	});
});
//]]>
</script>

</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo;  Circulation Rules</div>

<div id="doc3" class="yui-t1">

<div id="bd">
    <div id="yui-main">
    <div class="yui-b">

    <h1>Defining <!-- TMPL_IF NAME="branch" -->circulation rules for <!-- TMPL_VAR NAME="branch" --><!-- TMPL_ELSE -->default circulation rules<!-- /TMPL_IF --></h1>
    <div class="help">
        <h3>HINT</h3>
        <p>Each box needs to be filled in with <span class="ex">checkout-length,maxissues</span>. For example: 21,5 enables 5 checkouts for 21 days</p>
    </div>

    <div class="help">
        <h3>Default values</h3>
        <ul>
            <li>If a cell is not filled, the value in the default column (top right) is used</li>
            <li>If a total is filled (last line), the patron must fit both itemtype and total rule</li>
            <li>If a rule is filled for a given branch, it is used, otherwise, it's the rule of the "default" branch</li>
		</ul>
    </div>
        <form method="post" id="selectlibrary" action="/cgi-bin/koha/admin/issuingrules.pl">
        <label for="branch">Select a library :</label>
            <select id="branch" name="branch">
                <option value="">Default</option>
                <!-- TMPL_LOOP NAME="branchloop" -->
                    <!-- TMPL_IF NAME="selected" -->
                        <option value="<!-- TMPL_VAR NAME="value" -->" selected="selected"><!-- TMPL_VAR NAME="branchname" --></option>
                    <!-- TMPL_ELSE -->
                        <option value="<!-- TMPL_VAR NAME="value" -->"><!-- TMPL_VAR NAME="branchname" --></option>
                    <!-- /TMPL_IF -->
                <!-- /TMPL_LOOP -->
            </select>
            <input type="submit" value="Select" />
        </form>
        <form method="post" action="/cgi-bin/koha/admin/issuingrules.pl">
            <input type="hidden" name="op" value="save" />
            <input type="hidden" name="branch" value="<!-- TMPL_VAR NAME="branch" -->" />
            
            <table>
                <caption>Defining circulation rules for <!-- TMPL_VAR NAME="branch" --></caption>
                <tr>
                    <th>&nbsp;</th><!-- TMPL_LOOP NAME="title" --><th scope="col"><!-- TMPL_IF EXPR="in_title eq '*'" -->Default<!-- TMPL_ELSE --><!-- TMPL_VAR NAME="in_title" --><!-- /TMPL_IF --></th><!-- /TMPL_LOOP -->
                </tr>
                <!-- TMPL_LOOP NAME="row" -->
                    <tr>
                        <th scope="row"><!-- TMPL_IF name="total" -->Total <!-- TMPL_ELSE --><!-- TMPL_VAR NAME="categorycode" --><!-- /TMPL_IF --></th>
                        <!-- TMPL_LOOP NAME="cell" -->
                            <!-- TMPL_IF NAME="toggle" -->
                                <td class="highlight">
                            <!-- TMPL_ELSE -->
                                <td>
                            <!-- /TMPL_IF -->
                                <input name="<!-- TMPL_VAR NAME="issuingname" -->" value="<!-- TMPL_VAR NAME="issuingvalue" -->" size="6" maxlength="10" />
                            </td>
                        <!-- /TMPL_LOOP -->
                    </tr>
                <!-- /TMPL_LOOP -->
            </table>
            <fieldset class="action"><input type="submit" value="Save Changes" /> <a class="cancel" href="/cgi-bin/koha/admin/admin-home.pl">Cancel</a></fieldset>
        </form>

</div>
</div>
<div class="yui-b">
<!-- TMPL_INCLUDE NAME="admin-menu.inc" -->
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
