<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha &rsaquo; Administration &rsaquo;<!-- TMPL_IF name="add_form" --><!-- TMPL_IF NAME="use-heading-flags-p" --><!-- TMPL_IF NAME="heading-edit-subfields-p" --> MARC Subfield Structure &rsaquo; Edit MARC subfields constraints<!-- /TMPL_IF --><!-- TMPL_ELSE --> MARC Subfield Structure &rsaquo; <!-- TMPL_VAR NAME="action" --><!-- /TMPL_IF --><!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> MARC Subfield Structure &rsaquo; Confirm Deletion of Subfield <!-- TMPL_VAR NAME="tagsubfield" --><!-- /TMPL_IF --><!-- TMPL_IF name="delete_confirmed" --> MARC Subfield Structure &rsaquo; Subfield Deleted<!-- /TMPL_IF --><!-- TMPL_IF name="else" -->MARC Subfield Structure<!-- /TMPL_IF --></title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<script type="text/javascript">
//<![CDATA[

	 $(document).ready(function() {
 		$('#subfieldtabs > ul').tabs();
	 });

function displayMoreConstraint(numlayer){
    var thisdiv = document.getElementById(numlayer);
    if(thisdiv.getAttribute("class") == "content_hidden"){
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_visible");
    } else {
        thisdiv.removeAttribute('class');
        thisdiv.setAttribute("class","content_hidden");
    }
}

//]]>
</script>
</head>
<body>
<!-- TMPL_INCLUDE NAME="header.inc" -->
<!-- TMPL_INCLUDE NAME="cat-search.inc" -->

<div id="breadcrumbs">
  <a href="/cgi-bin/koha/mainpage.pl">Home</a> &rsaquo; <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a> &rsaquo; <a href="/cgi-bin/koha/admin/biblio_framework.pl">MARC Frameworks</a> &rsaquo; <a href="/cgi-bin/koha/admin/marctagstructure.pl?frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->&searchfield=<!-- TMPL_VAR name="tagfield" -->"><!-- TMPL_VAR NAME="frameworkcode" --> Framework Structure</a> &rsaquo;
  <!-- TMPL_IF name="add_form" -->
  <!-- TMPL_IF NAME="use-heading-flags-p" -->
  <!-- TMPL_IF NAME="heading-edit-subfields-p" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Subfield Structure</a> &rsaquo; Edit subfields constraints
  <!-- /TMPL_IF -->
  <!-- TMPL_ELSE --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Subfield Structure</a> &rsaquo; <!-- TMPL_VAR NAME="action" -->
  <!-- /TMPL_IF -->
  <!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirm" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Subfield Structure</a> &rsaquo; Confirm Deletion of Subfield <!-- TMPL_VAR NAME="tagsubfield" -->
<!-- /TMPL_IF -->
<!-- TMPL_IF name="delete_confirmed" --> <a href="/cgi-bin/koha/admin/marc_subfields_structure.pl?tagfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Tag <!-- TMPL_VAR NAME="tagfield" --> Subfield Structure</a> &rsaquo; Subfield Deleted
<!-- /TMPL_IF -->
<!-- TMPL_IF name="else" -->Tag <!-- TMPL_VAR NAME="tagfield" --> Subfield Structure<!-- /TMPL_IF -->
</div>

<div id="doc" class="yui-t7">
   
   <div id="bd">
	<div id="yui-main">
	<div class="yui-g">

<!-- TMPL_IF NAME="add_form" -->
    <h1>
        <!-- TMPL_IF NAME="use-heading-flags-p" -->
            <!-- TMPL_IF NAME="heading-edit-subfields-p" -->Tag <!-- TMPL_VAR NAME="tagfield" --> Subfield Constraints<!-- /TMPL_IF -->
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="action" -->
        <!-- /TMPL_IF -->
    </h1>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" name="Aform" method="post">
    <input type="hidden" name="op" value="add_validate" />
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
    <input type="submit" value="Save Changes" />
    
    <div id="subfieldtabs" class="toptabs numbered">
   <ul>
        <!-- TMPL_LOOP NAME="loop" -->
            <!-- TMPL_IF NAME="new_subfield" -->
                <!-- TMPL_IF EXPR="tagfield >=10" --><!-- display new only for > 10 fields -->
                <li><a href="/cgi-bin/koha/admin/marc_subfields_structure.pl#sub<!-- TMPL_VAR NAME="subfieldcode" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">New</a></li>
                <!-- /TMPL_IF -->
            <!-- TMPL_ELSE -->
                <li><a href="/cgi-bin/koha/admin/marc_subfields_structure.pl#sub<!-- TMPL_VAR NAME="subfieldcode" -->field" title="<!-- TMPL_VAR NAME="liblibrarian" -->">
                    <!-- TMPL_VAR NAME="subfieldcode" -->
               </a></li>
            <!-- /TMPL_IF --></li>
        <!-- /TMPL_LOOP -->
    </ul>
    
    <!-- TMPL_LOOP NAME="loop" --> 
        <div id="sub<!-- TMPL_VAR NAME="subfieldcode" -->field">
        
               <fieldset class="rows"><legend>Basic constraints</legend>
                	<ol>
                		<!-- TMPL_IF name="subfieldcode" -->
                		<li><span class="label">Subfield code:</span> <!-- TMPL_VAR NAME="subfieldcode" --> <input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></li>
                		<!-- TMPL_ELSE -->
                		<li><span class="label">Subfield code:</span> <input type="text" name="tagsubfield" value="<!-- TMPL_VAR NAME="subfieldcode" -->" /></li>
                		<!-- /TMPL_IF -->
                		<li><label for="liblibrarian<!-- TMPL_VAR NAME="row" -->">Text for librarian: </label><input id="liblibrarian<!-- TMPL_VAR NAME="row" -->" type="text" name="liblibrarian" value="<!-- TMPL_VAR NAME="liblibrarian" -->" size="40" maxlength="80" /></li>
                		<li><label for="libopac<!-- TMPL_VAR NAME="row" -->">Text for OPAC: </label><input type="text" id="libopac<!-- TMPL_VAR NAME="row" -->" name="libopac" value="<!-- TMPL_VAR NAME="libopac" -->" size="40" maxlength="80" /></li>
                		<li><label for="repeatable<!-- TMPL_VAR NAME="row" -->">Repeatable: </label><!-- TMPL_VAR NAME="repeatable" --></li>
                		<li><label for="mandatory<!-- TMPL_VAR NAME="row" -->">Mandatory: </label><!-- TMPL_VAR NAME="mandatory" --></li>
                		<li><label for="tab<!-- TMPL_VAR NAME="row" -->">Managed in tab: </label><!-- TMPL_VAR NAME="tab" --> (ignore means that the subfield does not display in the record editor)</li>
                	</ol>
            </fieldset>
			
            <a href="javascript:displayMoreConstraint('more<!-- TMPL_VAR NAME="subfieldcode" -->')">display more constraints</a>
            <div id="more<!-- TMPL_VAR NAME="subfieldcode" -->" class="content_hidden" style="clear: both">
             <fieldset class="rows" id="advanced-constraints">
				<legend>Advanced constraints:</legend>
                <ol><li><label for="defaultvalue">Default value:</label>
                    <input type="text" name="defaultvalue" id="defaultvalue" value="<!-- TMPL_VAR NAME="defaultvalue" -->" /></li>
                <li><label for="hidden<!-- TMPL_VAR NAME="row" -->">hidden</label><input type="text" id="hidden<!-- TMPL_VAR NAME="row" -->" name="hidden" value="<!-- TMPL_VAR name="hidden" -->" size="2" /> (see online help)</li>
                <li><label for="isurl<!-- TMPL_VAR NAME="row" -->">Is a URL:</label><!-- TMPL_VAR NAME="isurl" --> (if checked, it means that the subfield is a URL and can be clicked)</li>
                <li><label for="link">Link:</label><input type="text" id="link" name="link" value="<!-- TMPL_VAR NAME="link" -->" size="10" maxlength="80" /> (e.g., Title or Local-Number) <span class="error"><em>Warning: This value should not change after data has been added to your catalog</em></span></li>
                <li><span class="label">Others Options:</span> (choose one)
                    	<ol>
                    		<li><label for="authorised_value">Authorized value:</label><!-- TMPL_VAR NAME="authorised_value" --></li>
                    		<li><label for="authtypecode">Thesaurus:</label><!-- TMPL_VAR NAME="authtypes" --></li>
                    		<li><label for="value_builder">Plugin:</label><!-- TMPL_VAR NAME="value_builder" --></li>
                    	</ol>
                </li>
                <li><label for="kohafield<!-- TMPL_VAR NAME="row" -->">Koha link:</label><!-- TMPL_VAR NAME="kohafield" --></li>
				</ol>
				</fieldset>
            </div><br class="clear" /><!-- /more  -->
        </div><!-- /content_sub -->
        <!-- /TMPL_LOOP -->
		</div><!-- /content -->
    </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirm" -->

<h3>Confirm Deletion of Subfield <!-- TMPL_VAR NAME="tagsubfield" -->?</h3>
    <p>Subfield: <!-- TMPL_VAR NAME="tagsubfield" --></p>
    <p>Description<!-- TMPL_VAR NAME="liblibrarian" --></p>

            <form action="<!-- TMPL_VAR NAME="delete_link" -->" method="post"><input type="hidden" name="op" value="delete_confirmed" />
                <input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
                <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
				<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
				<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
				<input type="submit" value="Yes, Delete this Subfield" />
            </form>
			
			<form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
			<input type="hidden" name="searchfield" value="<!-- TMPL_VAR NAME="searchfield" -->" />
			<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
			<input type="hidden" name="tagsubfield" value="<!-- TMPL_VAR NAME="tagsubfield" -->" />
			<input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="frameworkcode" -->" />
			<input type="submit" value="No, Do Not Delete" />
            </form>
<!-- /TMPL_IF -->

<!-- TMPL_IF NAME="delete_confirmed" -->

    <h3>Data deleted</h3>
    <form action="<!-- TMPL_VAR NAME="script_name" -->" method="post">
	<input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="tagfield" -->" />
    <input type="submit" value="OK" />
    </form>
<!-- /TMPL_IF -->


<!-- TMPL_IF NAME="else" -->
<h1>MARC subfield structure admin for <!-- TMPL_VAR NAME="tagfield" --> (framework <!--TMPL_VAR NAME="frameworkcode" -->)</h1>
<p>This screen shows the subfields associated with the selected tag. You can edit subfields or add a new one by clicking on edit. </p>
<p>The column Koha field shows that the subfield is linked with a Koha field. Koha can manage a MARC interface, or a Koha interface. This link ensures that both DB are synchronized, thus you can change from a MARC to a Koha interface easily.</p>

<table>
<tr>
    <th>Subfield</th>
    <th>Text</th>
    <th>Constraints</th>
    <th>Delete</th>
</tr>
<!-- TMPL_LOOP NAME="loop" -->
<!-- TMPL_IF NAME="toggle" --><tr class="highlighted"><!-- TMPL_ELSE --><tr><!-- /TMPL_IF -->
    <td><!-- TMPL_VAR NAME="tagsubfield" --></td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i><!-- TMPL_VAR NAME="liblibrarian" --></i>
        <!-- TMPL_ELSE -->
            <!-- TMPL_VAR NAME="liblibrarian" -->
        <!-- /TMPL_IF -->
    </td>
    <td>
        <!-- TMPL_IF NAME="subfield_ignored" -->
            <i>subfield ignored</i>
        <!-- TMPL_ELSE -->
            Tab:<!-- TMPL_VAR NAME="tab" -->,
            <!-- TMPL_IF NAME="kohafield" --> | Koha field: <!-- TMPL_VAR NAME="kohafield" -->, <!--/TMPL_IF -->
            <!-- TMPL_IF NAME="repeatable" -->Repeatable, <!-- TMPL_ELSE -->Not repeatable,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="mandatory" -->Mandatory, <!-- TMPL_ELSE -->Not mandatory,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="seealso" --> | See Also: <!-- TMPL_VAR NAME="seealso" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="hidden" -->hidden,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="isurl" -->is a URL,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authorised_value" --> | Auth value:<!-- TMPL_VAR NAME="authorised_value" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="authtypecode" --> | Authority:<!-- TMPL_VAR NAME="authtypecode" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="value_builder" --> | Plugin:<!-- TMPL_VAR NAME="value_builder" -->,<!-- /TMPL_IF -->
            <!-- TMPL_IF NAME="link" --> | Link:<!-- TMPL_VAR NAME="link" -->,<!-- /TMPL_IF -->
        <!-- /TMPL_IF -->
    </td>
    <td><a href="<!-- TMPL_VAR NAME="delete" -->">Delete</a></td>
</tr>
<!-- /TMPL_LOOP -->
</table>

<form action="<!-- TMPL_VAR NAME="script_name" -->" method="get">
    <fieldset class="action"><input type="hidden" name="op" value="add_form" />
    <input type="hidden" name="tagfield" value="<!-- TMPL_VAR NAME="edit_tagfield" -->" />
    <input type="hidden" name="frameworkcode" value="<!-- TMPL_VAR NAME="edit_frameworkcode" -->" />
    <input type="submit" value="Edit Subfields" />
	<a class="cancel" href="marctagstructure.pl?searchfield=<!-- TMPL_VAR NAME="tagfield" -->&amp;frameworkcode=<!-- TMPL_VAR NAME="frameworkcode" -->">Cancel</a>
	</fieldset>
</form>

<!-- TMPL_IF NAME="previous" -->
    <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1leftarrow.png" title="previous" alt="previous" border="0" />
<!-- /TMPL_IF -->
<!-- TMPL_IF NAME="next" -->
    <!-- TMPL_VAR NAME="next" -->
        <input type="image" src="<!-- TMPL_VAR NAME="interface" -->/<!-- TMPL_VAR NAME="theme" -->/images/1rightarrow.png" title="next" alt="next" border="0" />
<!-- /TMPL_IF -->
<!-- /TMPL_IF -->



</div>
</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
