<!-- TMPL_INCLUDE NAME="cat-top.inc" -->

<div id="mainbloc">
	<h1 class="catalogue">Ajouter une nouvelle notice</h1>
	
	<div id="bloc60">
		<h2 class="catalogue">section un : Information sur le copyright </h2>
	
		<!-- TMPL_IF NAME="ERROR" -->
			<p class="problem">Précisez le Titre SVP</p>
		<!-- /TMPL_IF -->
		
		<form action="savebiblio.pl" method="post">
		<p><label class="label100">Titre : *</label><input name="title" size="40" /></p>
		<p><label class="label100">Sous Titre :</label><input name="subtitle" size="40" /></p>
		<p><label class="label100">Auteur:</label><input name="author" size="40" /></p>
		<p>Auteurs secondaires <i>Un Auteur par ligne</i></p>
		<p><label class="label100">&nbsp;</label>
			<textarea class="form-box-textarea2" name="additionalauthors" cols="30" rows="6"></textarea>
		</p>
		</p>
		<p>Titre de collection <i>(si applicable)</i></p>
		<p><label class="label100">&nbsp;</label><input name="seriestitle" size="40" /></p>
		<p>Vedette sujet <i>Un sujet par ligne</i></p>
		<p><label class="label100">&nbsp;</label>
			<textarea class="form-box-textarea2" name="subjectheadings" cols="30" rows="6"></textarea>
		</p>
		<label class="label100">Date de copyright</label><input name="copyrightdate" size="40" /></p>
		<label class="label100">Résumé:</label><textarea cols="30" rows="6" name="abstract"></textarea></p>
		<label class="label100">Notes :</label><textarea cols="30" rows="6" name="notes"></textarea></p>
		<p><input type="submit" value="Soumettre" class="button catalogue"></p>
		</form>
		* Obligatoire
	</div>
</div>
<!-- TMPL_INCLUDE NAME="acquisitions-bottom.inc" -->
