<!-- TMPL_INCLUDE name="acquisitions-top.inc" -->

<div id="mainbloc">
	<h1 class="acquisition"><!-- TMPL_UNLESS name="basketno" -->Nouveau <!-- /TMPL_UNLESS -->Panier de commande <b><!-- TMPL_VAR NAME="basketno" --> </b> pour <a href="supplier.pl?supplierid=<!-- TMPL_VAR NAME="booksellerid" -->"><!-- TMPL_VAR NAME="name" --></a></h1><br />
	<!-- TMPL_UNLESS name="closedate" -->
		<div id="bloc25">
			<h2 class="acquisition">Information Panier</h2>
			<p><label class="label100">Numéro de Panier<label> <!-- TMPL_VAR NAME="basketno" --></p>
			<p><label class="label100">Géré par<label><!-- TMPL_VAR NAME="authorisedbyname" --></p>
			<p><label class="label100">ouvert le<label> <!-- TMPL_VAR NAME="creationdate" --></p>
			<p><label class="label100">pour<label> <!-- TMPL_VAR NAME="booksellerid" --></p>
			<p><label class="label100">Numéro facture/BL </label><!-- TMPL_VAR NAME="booksellerinvoicenumber" --></p>
			<!-- TMPL_IF name="closedate" -->
				fermé le <!-- TMPL_VAR name="closedate" -->
			<!-- TMPL_ELSE -->
				<a href="/cgi-bin/koha/acqui/order.pl?op=close&amp;basket=<!-- TMPL_VAR NAME="basketno" -->&supplier=<!-- TMPL_VAR name="booksellerid" -->" class="button acquisition">Fermer</a>
			<!-- /TMPL_IF -->
		</div>
	<!-- /TMPL_UNLESS -->
	<div id="bloc25" style="align:right">
		<p><!-- TMPL_VAR name="name" --></p>
		<p><!-- TMPL_VAR name="address1" --></p>
		<p><!-- TMPL_VAR name="address2" --></p>
		<p><!-- TMPL_VAR name="address3" --></p>
		<p><!-- TMPL_VAR name="address4" --></p>
	</div>
	<div id="bloc100">
	<h2 class="acquisition">Commande</h2>
	<!-- TMPL_IF name="books_loop" -->
		<table>
			<tr valign="top" bgcolor="#ffdf61">
				<th class="acquisition doNotPrint">Commande</th>
				<th class="acquisition">Editeur<a href="basket.pl?basket=<!-- TMPL_VAR name="basketno" -->&order=biblioitems.publishercode" class="acquisition">[Trier]</a></th>
				<th class="acquisition">Titre</th>
				<th class="acquisition doNotPrint">prix rempl.</th>
				<th class="acquisition">estimé</th>
				<th class="acquisition">QTé</th>
				<th class="acquisition">Total</th>
				<th class="acquisition doNotPrint">Budget <a href="basket.pl?basket=<!-- TMPL_VAR name="basketno" -->&order=aqorderbreakdown.bookfundid,biblioitems.publishercode">[Trier]</a></th>
				<!-- TMPL_IF name="active" -->
				<th class="acquisition doNotPrint">Retirer</th>
				<th class="acquisition doNotPrint">Editer</th>
				<!-- /TMPL_IF -->
			</tr>
			<!-- TMPL_LOOP NAME="books_loop" -->
				<!-- TMPL_IF name="odd" -->
				<tr class="hilighted">
				<!-- TMPL_ELSE -->
				<tr>
				<!-- /TMPL_IF -->
					<td class="doNotPrint"><!-- TMPL_VAR NAME="ordernumber" --></td>
					<td><!-- TMPL_VAR NAME="publishercode" --></td>
					<!-- TMPL_IF name="closedate" -->
						<td>
							<b><!-- TMPL_VAR NAME="title" --></b><br/>
								<!-- TMPL_VAR NAME="author" -->
								<!-- TMPL_IF name="isbn"-->- <!-- TMPL_VAR name="isbn" --><!-- /TMPL_IF -->
								<!-- TMPL_IF name="notes" --><p class="doNotPrint"><i><!--TMPL_VAR name="notes" --></i></p><!-- /TMPL_IF -->
						</td>
					<!-- TMPL_ELSE -->
						<td>
							<a href="newbiblio.pl?ordnum=<!-- TMPL_VAR NAME="ordernumber" -->&booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->"><!-- TMPL_VAR NAME="title" --></a><br/>
								<!-- TMPL_VAR NAME="author" -->
								<!-- TMPL_IF name="isbn"-->- <!-- TMPL_VAR name="isbn" --><!-- /TMPL_IF -->
								<!-- TMPL_IF name="notes" --></p><p class="doNotPrint"><i><!--TMPL_VAR name="notes" --></i><!-- /TMPL_IF -->
						</td>
					<!-- /TMPL_IF -->
					<td class="doNotPrint number"><p><!-- TMPL_VAR NAME="rrp" --></p></td>
					<td class="number"><p><!-- TMPL_VAR NAME="ecost" --></p></td>
					<td class="number"><p><!-- TMPL_VAR NAME="quantity" --></p></td>
					<td class="number"><p><!-- TMPL_VAR NAME="line_total" --></p></td>
					<td class="doNotPrint"><p><!-- TMPL_VAR NAME="bookfundid" --></p></td>
					<!-- TMPL_IF name="active" -->
						<td class="doNotPrint">
							<a href="addorder.pl?ordnum=<!-- TMPL_VAR NAME="ordernumber" -->&basketno=<!-- TMPL_VAR NAME="basketno" -->&quantity=0&biblio=<!-- TMPL_VAR NAME="biblionumber" -->">
								<img src="/intranet-tmpl/default/images/edittrash.png" alt="Supprimer du panier" title="Supprimer du panier" width="32" hspace="0" vspace="0" border="0">
							</a>
						</td>
						<td class="doNotPrint">
							<a href="newbiblio.pl?sub=&booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&basketno=<!-- TMPL_VAR NAME="basketno" -->&biblio=<!-- TMPL_VAR NAME="biblionumber" -->&ordnum=<!-- TMPL_VAR NAME="ordernumber" --><!--TMPL_IF name="closedate"-->&close=1<!--/TMPL_IF -->">
								<img src="/intranet-tmpl/default/images/fileopen.png" alt="Editer" title="Supprimer du panier" width="32" hspace="0" vspace="0" border="0">
							</a>
						</td>
					<!-- /TMPL_IF -->
				</tr>
			<!-- /TMPL_LOOP -->
			<input type="hidden" name="number" value=<!-- TMPL_VAR NAME="count" -->>
			<input type="hidden" name="basketno" value="<!-- TMPL_VAR NAME="basketno" -->">
			<tr>
				<td colspan="2" class="acquisition">
					&nbsp;
				</td>
				<td class="acquisition number">
					<p>Sous-Total</p>
					<p>TVA</p>
					<p>TOTAL (<!-- TMPL_VAR NAME="currency" -->)</p>
				</td>
				<td class="acquisition number">
					<p><!-- TMPL_VAR NAME="sub_total_est" --></p>
					<p><!-- TMPL_VAR NAME="gist_est" --></p>
					<p><!-- TMPL_VAR NAME="grand_total_est" --></p>
				</td>
				<td class="acquisition">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</td>
				<td class="acquisition number">
					<p><!-- TMPL_VAR name="qty_total" --></p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</td>
				<td class="acquisition number">
					<p><!-- TMPL_VAR NAME="sub_total" --></p>
					<p><!-- TMPL_VAR NAME="gist" --></p>
					<p><!-- TMPL_VAR NAME="grand_total" --></p>
				</td>
				<td class="acquisition">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</td>
			</tr>
		</table>
	<!-- TMPL_ELSE -->
		<p>Panier vide</p>
	<!-- /TMPL_IF -->
	</div>
	<!-- TMPL_IF name="active" -->
		<!-- TMPL_UNLESS name="closedate" -->
		<div id="bloc25">
			<h2 class="acquisition">Ajouter une ligne de commande</h2>
			<form action="/cgi-bin/koha/acqui/newbasket2.pl" method="post">
				<input type="hidden" name="booksellerid" value="<!-- TMPL_VAR NAME="booksellerid" -->">
				<input type="hidden" name="basketno" value="<!-- TMPL_VAR NAME="basketno" -->">
				<p>A partir d'une notice existante </b><input type="text"  size="25"   name="search"><input type="submit" class="button acquisition" value="Recherche"></p>
				<p>ou <a href="/cgi-bin/koha/acqui/suggestion-select.pl?booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->" class="button acquisition"> d'après une suggestion </a> <a href="/cgi-bin/koha/acqui/newbiblio.pl?booksellerid=<!-- TMPL_VAR NAME="booksellerid" -->&amp;basketno=<!-- TMPL_VAR NAME="basketno" -->" class="button acquisition">Nouvelle notice </a>
				</p>
			</form>
		</div>
		<!-- /TMPL_UNLESS -->
	<!-- /TMPL_IF -->
</div>
<!-- TMPL_INCLUDE name="acquisitions-bottom.inc" -->
