<!-- TMPL_INCLUDE name="acquisitions-top.inc" -->

<div id="mainbloc">
	<h1 class="acquisition">
			Réception colis pour <i><!-- TMPL_VAR NAME="name" --></i>
	</h1>
	
	<div id="bloc25">
		<p><label>Facture/BL</label><!-- TMPL_VAR NAME="invoice" --></p>
        <p><label>Date</label> <!-- TMPL_VAR name="formatteddatereceived"--></p>
	</div>
	
	<div id="bloc25">
	<h2 class="acquisition"> Documents dans le colis</h2>
	<p>
	<!-- TMPL_VAR NAME="countreceived" --> documents reçus
	</p>
	<table>
		<tr>
			<th class="acquisition">Panier</th>
			<th class="acquisition">Titre</th>
			<th class="acquisition">Cout net</th>
			<th class="acquisition">Qté Commandée</th>
			<th class="acquisition">P&P</th>
			<th class="acquisition">Effectif</th>
			<th class="acquisition">QTé</th>
			<th class="acquisition">Total</th>
		</tr>
		<!-- TMPL_LOOP NAME="loop_received" -->
			<tr bgcolor="<!-- TMPL_VAR NAME="color" -->">
				<td class="number"><!-- TMPL_VAR NAME="basketno" --></td>
				<td><a href="acquire.pl?recieve=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblio=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;gst=<!-- TMPL_VAR NAME="gst" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->&amp;supplierid=<!-- TMPL_VAR NAME="supplierid" -->&catview=yes&datereceived=<!-- TMPL_VAR name="datereceived" -->"><!-- TMPL_VAR NAME="title" --></a></td>
				<td class="number"><!-- TMPL_VAR NAME="ecost" --></td>
				<td class="number"><!-- TMPL_VAR NAME="quantity" --></td>
				<td></td>
				<td class="number"><!-- TMPL_VAR NAME="unitprice" --></td>
				<td class="number"><!-- TMPL_VAR NAME="quantityrecieved" --></td>
				<td class="number"><!-- TMPL_VAR NAME="total" --></td>
			</tr>
		<!-- /TMPL_LOOP -->
		<tr>
			<td colspan="5" rowspan=3  bgcolor="#ffdf61">
			<b>AIDE</b>
				<p>Le total en bas de la page devra être proche de quelques centimes du total de la facture.</p>
			</td>
			<td colspan="2"  class="acquisition number"><b>TVA</b></td>
			<td class="acquisition number"><!-- TMPL_VAR NAME="gst" --></td>
		</tr>
		<tr>
			<td colspan="2" class="acquisition number"><b>PORT</b></td>
			<td class="acquisition number"><!-- TMPL_VAR NAME="freight" --></td>
		</tr>
		<tr>
			<td colspan="2" class="acquisition number"><b>TOTAL</b></td>
			<td class="acquisition number"><!-- TMPL_VAR NAME="grandtot" --></td>
		</tr>
	</table>
	</div>
	
	<div id="bloc25">
	<h2 class="acquisition"> Commandes en attente </h2>
		<form action="/cgi-bin/koha/acqui/acquire.pl">
			<input type="hidden" name="supplierid" value="<!-- TMPL_VAR NAME="supplierid" -->">
			<input type="hidden" name="gst" value="<!-- TMPL_VAR NAME="gst" -->">
			<input type="hidden" name="freight" value="<!-- TMPL_VAR NAME="freight" -->">
			<input type="hidden" name="invoice" value="<!-- TMPL_VAR NAME="invoice" -->">
			
			<b>Cherche ISBN ou Titre :</b> <input type="text" size="25" name="recieve">
		</form>
	<p>
	<form action="" method="get" name="orderform">
	
	<table class="small">
		<tr>
			<th class="acquisition">Panier</th>
			<th class="acquisition">Titre</th>
			<th class="acquisition">Commandé</th>
			<th class="acquisition">Reçu</th>
			<th class="acquisition"></th>
		</tr>
		<!-- TMPL_VAR NAME="countpending" --> lignes
		<!-- TMPL_LOOP NAME="loop_orders" -->
			<tr bgcolor="<!-- TMPL_VAR NAME="color" -->">
				<td class="number"><!-- TMPL_VAR NAME="basketno" --></td>
				<td><!-- TMPL_VAR NAME="title" --></td>
				<td class="number"><!-- TMPL_VAR NAME="quantity" --></td>
				<td class="number"><!-- TMPL_VAR NAME="quantityrecieved" --></td>
                <td><a href="acquire.pl?recieve=<!-- TMPL_VAR NAME="ordernumber" -->&amp;biblio=<!-- TMPL_VAR NAME="biblionumber" -->&amp;invoice=<!-- TMPL_VAR NAME="invoice" -->&amp;gst=<!-- TMPL_VAR NAME="gst" -->&amp;freight=<!-- TMPL_VAR NAME="freight" -->&amp;supplierid=<!-- TMPL_VAR NAME="supplierid" -->&amp;datereceived=<!-- TMPL_VAR name="datereceived"-->&catview=yes" class="button acquisition">Réception</td>
			</tr>
		<!-- /TMPL_LOOP -->
	</table>
	</div>
</div>
<!-- TMPL_INCLUDE name="acquisitions-bottom.inc" -->
