<TMPL_INCLUDE NAME="members-top.inc">

<TMPL_IF NAME="loggedinuser">
    <p align=left>Logged in as: <TMPL_VAR NAME="loggedinuser"> [<a href=/cgi-bin/koha/opac-main.pl?logout.x=1>Log Out</a>]</p>
<TMPL_ELSE>
    <p align=left><a href=/cgi-bin/koha/opac-user.pl>Log In</a> to Koha</p>
</TMPL_IF>

<i>Please, change what's needed. <b>Note</b> that a <b>mail</b> will be sent to the library, that will <b>validate</b> changes.<br/>
So, the changes you will do won't appear immediatly.</i><br/><br/>

<TMPL_LOOP NAME="BORROWER_INFO">

<CENTER>
<FORM ACTION="/cgi-bin/koha/opac-userupdate.pl" method=get>
<TABLE >

<TR VALIGN=TOP>
<TD>Surname</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='surname'>"  NAME="surname"></TD></TR>

<TR VALIGN=TOP> 
<TD>Title</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='title'>"  NAME="title"></TD></TR>

<TR VALIGN=TOP> 
<TD>Firstname</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='firstname'>"  NAME="firstname"></TD></TR>

<TR VALIGN=TOP> 
<TD>Street address</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='streetaddress'>"  NAME="streetaddress"></TD></TR>

<TR VALIGN=TOP> 
<TD>City</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='city'>"  NAME="city"></TD></TR>


<TR VALIGN=TOP> 
<TD>Home phone</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='phone'>"  NAME="phone"></TD></TR>

<TR VALIGN=TOP> 
<TD>Work/Fax phone</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='faxnumber'>"  NAME="faxnumber"></TD></TR>

<TR VALIGN=TOP> 
<TD>Email</TD> <TD><INPUT TYPE="text"  SIZE="25" value="<TMPL_VAR NAME='emailaddress'>"  NAME="emailaddress"></TD></TR>



<TR VALIGN=TOP>
<td><font size=4 face="arial,helvetica"><INPUT type="submit" value="Submit"></font></td>
<TD><font size=4 face="arial,helvetica">
</font></td></tr>

</TABLE>
</FORM>
</CENTER>

</TMPL_LOOP>

<TMPL_INCLUDE NAME="opac-bottom.inc">
