<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->Koha -- Acquisitions<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="menus.inc" -->
<!-- TMPL_INCLUDE NAME="menu-acqui.inc" -->

<h1 ><!-- TMPL_IF name="Supplier" --><!-- TMPL_VAR name="Supplier" --> : <!--/TMPL_IF -->Late issues</h1>
	<div id="acqui_lateorders">
		<form action="lateorders.pl" method="post">
		<table>
			<tr>
				<th>Supplier</th>
				<th>Order Date</th>
				<th>Ordered for</th>
				<th>Including Basket</th>
				<th>Book information</th>
				<th>Branch</th>
				<th>Estimated Unit Price</th>
				<th>Retailer Catalogue Unit Price</th>
				<th>Quantity</th>
				<th>Total cost</th>
				<th>Budget</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
					<td class="doNotPrint">
						<!-- TMPL_VAR name="CGIsupplier" -->
					</td>
					<td> &nbsp;</td>
					<td align="center" class="doNotPrint">
						<input align="right" size="4" maxlength="3" type="text" name="delay" value="<!--TMPL_VAR Name="delay" -->" /> days
					</td>
					<td colspan="2">
						&nbsp;
					</td>
					<td class="doNotPrint">
						<select name="branch">
						<!-- TMPL_LOOP name="branchloop" -->
							<option value="<!-- TMPL_VAR name="value" -->"><!-- TMPL_VAR name="branchname" --></option>
						<!-- /TMPL_LOOP -->
						</select>
					</td>
					<td colspan="5">
						&nbsp;
					</td>
					
					<td class="doNotPrint">
						<input type="submit" value="filter" />
					</td>
			</tr>
			<!-- TMPL_LOOP name="lateorders" -->
				<!--TMPL_IF Name="hilighted" --> <tr class="hilighted"> <!--TMPL_ELSE--> <tr> <!-- /TMPL_IF -->
					<td class="doNotPrint">
						<!-- TMPL_VAR name="supplier" -->
					</td>
					<td>
						<!-- TMPL_VAR name="orderdate" -->
					</td>
					<td class="number" align="right">
						<!-- TMPL_VAR name="latesince" -->
					</td>
					<td align="center" class="doNotPrint">
						<!-- TMPL_VAR name="basketno" -->
					</td>
					<td >
						<b><!-- TMPL_VAR name="title" --></b>
					<!-- TMPL_IF name="author" --><br/><i>Author:</i> <!-- TMPL_VAR NAME="author" --><!-- /TMPL_IF -->
					<!-- TMPL_IF name="publisher" --><br/><i>Published by:</i> <!-- TMPL_VAR NAME="publisher" --><!-- TMPL_IF name="publicationyear" --><i> in </i><!-- TMPL_VAR name="publicationyear" --><!-- /TMPL_IF --><!-- /TMPL_IF -->
					</td>
					<td class="doNotPrint">
						<!-- TMPL_VAR name="branch" -->
					</td>
					<td align="right" class="doNotPrint">
						<!-- TMPL_VAR name="unitpricelib" -->
					</td>
					<td align="right">
						<!-- TMPL_VAR name="unitpricesupplier" -->
					</td>
					<td align="right">
						<!-- TMPL_VAR name="quantity" -->
					</td>
					<td align="right">
						<!-- TMPL_VAR name="subtotal" -->
					</td>
					<td class="doNotPrint">
						<!-- TMPL_VAR name="budget" -->
					</td>
					<td class="doNotPrint">
						&nbsp;
					</td>
				</tr>
			<!-- /TMPL_LOOP -->
			<tr> 
					<th>
						Total
					</th>
					<th colspan="2">
						&nbsp;
					</th>
					<th class="doNotPrint"> &nbsp;</th>
					<th colspan="5">
						&nbsp;
					</th>
					
					<th>
						<!-- TMPL_VAR name="total" -->
					</th>
			</tr>
		</table>
		</form>
	</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->

