<html>
<head><title>Результати пошуку</title>
</head>
<body>
<!-- TMPL_INCLUDE NAME="searchheader.tmpl" -->
<table border="0" cellspacing="0" cellpadding="0">
<tr bgcolor="#ccccff"><th>Заголовок</th><th>Автор</th><th>Індекс Дьюї (ДДК)</th></tr>
<!-- TMPL_LOOP NAME="SEARCH_RESULTS" -->
  <tr>
  <td><!-- TMPL_VAR NAME="title" --></td>
  <td><!-- TMPL_VAR NAME="author" --></td>
  <td align="right"><!-- TMPL_VAR NAME="dewey" --></td>
  </tr>
<!-- /TMPL_LOOP -->
<tr><td colspan="3" bgcolor="#ccccff">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr><td align="left">
    <a href="search.pl?template=<!-- TMPL_VAR NAME="template" -->&amp;startfrom=<!-- TMPL_VAR NAME="prevstartfrom" -->">Попередні записи</a>
    </td><td align="right">
    <a href="search.pl?template=<!-- TMPL_VAR NAME="template" -->&amp;startfrom=<!-- TMPL_VAR NAME="nextstartfrom" -->">Наступні записи</a>
    </td></tr>
    </table>
</td></tr>
</table>
<br>
Результати пошуку з <i><!-- TMPL_VAR NAME="startfrom" --></i> по <i><!-- TMPL_VAR NAME="endat" --></i> зі <i><!-- TMPL_VAR NAME="numrecords" --></i> записів.
<hr>
</body>
</html>
