<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Quick Spine Label Creator</h1>

<p>This tool allows you to enter a barcode to generate a printable spine label</p>

<p>To use this tool you simply need the barcode for the book you'd like to print the spine label for.</p>

<ul><li>Define the fields you want to print on the spine label in the SpineLabelFormat system preference</li>
<ul><li>Get there: More > Administration > Global System Preferences > Cataloging > SpineLabelFormat</li></ul>
<li>Format your label printing by editing spinelabel.css found in koha-tmpl/intranet-tmpl/prog/en/css/</li></ul> 	<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->