<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	<h1>Випуски періодичних видань та короткий звіт</h1>
	<p>Цей екран ділиться на 2 частини</p>
	<h2>The 1st part, waited or late issues</h2>
	<p>The first part deals with issues. When you create a new subscription, the 1st issue is automatically calculated. When you want/need, you can define issues that have a new status:</p>
	<ul>
		<li>Прибуває: коли книга прибуває, Ви можете встановити її стан до "прибуває". Потім випуск зникає з цього списку, і номер випуску додається до "списку прибуття" (блок з лівого боку)</li>
		<li>Запізнюється: означає, що книга спізнюється але повинна прибути. Стан книги змінюється на "запізнюється" у списку випусків, і генерується наступний очікуючий номер</li>
		<li>Missing : means the book is not in the library but has been published (it has been lost for example). The issue disappear from the list, and the number of the issue is added to the "missing list" (on the 2nd box)</li>
		<li>Not published : means the book will never arrive because it has not been published. The issue disappear from the list, and the number of the issue is added to the "missing list" (on the 2nd box)</li>
		<li>Delete : this issue will be deleted from the database. It is usefull when 2 issues are merged in only 1 : change the issue number of the 1st and delete the 2nd issue.</li>
	</ul>
	<p>When you change a "waited" issue to something else, the next waited issue is automatically calculated. The issue list contains only waited/ late issues and the last 5 issues.</p>
	<p>Published on and planned for : for new issues, those values are automatically calculated. The 1st one is the published date. It is usually never modified. The 2nd one is the date where you expect to recieve the issue or have recieved it. Late issues depends on planned dates, while the published date is usefull to order issues in serials summary : for a monthly issue, you can recieve the february issue in april, but still need to know that the february issue has been published before the march one.</p>
	<h2>The second part</h2>
	<p>the second part contains 6 differents informations, that are automatically calculated for some of them, but that you can change<p>
	<ul>
		<li>Дата початку передплати: дата початку 1-шої передплати. Не повинно бути змінено і не змінюється автоматично відновленнями передплат</li>
		<li>Кінцева дата передплати: повинна бути введена вручну, коли передплата визначається закритою</li>
		<li>Номери, що прибувають: список випусків, які Ви маєте у своїй бібліотеці. Автоматично заповнюється, коли новий номер відмічений як "прибулий". Ви можете вручну змінити це поле, якщо хочете, наприклад, щоб замінити довгий список (1,2,3,4...,51) на коротший (1-51)</li>
		<li>Відсутні номери: список випусків, які Ви не маєте у своїй бібліотеці, і вони ніколи не прибули (або були втрачені). Автоматично заповнюється, коли новий номер відмічений "відсутнє". Ви можете вручну змінити це поле, якщо хочете, наприклад, щоб замінити довгий список (1,2,3,4...,51) на коротший (1-51)</li>
		<li>Примітка для електронічного каталогу: поле, яке з'являється в ЕК (з деякою іншою передплатною інформацією, наприклад початковою та кінцевою датою. Це поле повинне бути заповнене вручну. Нічого не поміщується тут автоматично</li>
		<li>Примітка для електронічного каталогу: поле, яке з'являється у інтерфейсі бібліотекаря (з деякою іншою підписною інформацією на зразок дати початку та кінця. Це поле повинне бути заповнене вручну. Нічого не поміщується тут автоматично.</li>
	</ul>
	<h2>Відновлення передплат</h2>
	<p>Коха автоматично обраховує кінець передплати (на основі дати початку та числі отриманих випусків). Коли передплата закінчилася, Ви не зможете змінити статус останнього "очікуючого номера" (оскільки він фактично не очікується). Щоб могти "отримати" цей номер, Ви повинні відновити свою передплату.</p>
	<p>Відновлення передплати означає, що Ви визначаєте деяку інформацію для відновлення. Коли та інформація буде заповнена, пропозиція автоматично створюється у Коха. Цією пропозицією може управляти бібліотекар, який замовляє книги, як і будь-яке інше замовлення (= витрати та книгопродавець визначені тут).</p>
	<p><i>Відзначте, що передплатне відновлення, зроблене  "бібліотекарем з періодичних видань", є невідкладним. Ми вирішили зберігати Коху такою простою, наскільки це можливо. Фактично, передплатне відновлення не буде невідкладним, але ми не хотіли додавати більшу складність.</i></p>
	</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->