<!-- TMPL_INCLUDE NAME="help-top.inc" -->
	<h1>Випуски періодичних видань та короткий звіт</h1>
	<p>Цей екран ділиться на 2 частини</p>
	<h2>1-ша частина, очікувані випуски або випуски, що запізнюються</h2>
	<p>Перша частина пов'язана з випусками. Коли Ви створюєте нову передплату, 1-ий випуск автоматично обраховується. Коли Ви бажаєте/потребуєте, то можете визначити випуски, що мають новий стан:</p>
	<ul>
		<li>Прибуває: коли книга прибуває, Ви можете встановити її стан до "прибуває". Потім випуск зникає з цього списку, і номер випуску додається до "списку прибуття" (блок з лівого боку)</li>
		<li>Запізнюється: означає, що книга спізнюється але повинна прибути. Стан книги змінюється на "запізнюється" у списку випусків, і генерується наступний очікуючий номер</li>
		<li>Відсутня: означає що книга не є у біблілтеці але була опублікована (вона було втрачена, наприклад). Випуск зникає зі списку, і номер випуску додається до "списку відсутніх" (на 2-му блоці)</li>
		<li>Не опублікована: означає, що книга ніколи не прибуватиме, вона не була видана. Випуск зникає зі списку, і номер випуску додається до "списку відсутніх" (на 2-му блоці)</li>
		<li>Видалення: цей випуск буде видалений з бази даних. Це корисно, коли 2 випуски злилися в один: змініть номер першого випуску та видаліть другий випуск.</li>
	</ul>
	<p>Коли Ви змінюєте "очікуваний" випуск на що-небудь інше, то автоматично обраховується наступний очікуваний випуск. Список випусків містить тільки очікувані/запізнюючі випуски та останніх 5 випусків.</p>
	<p>Опубліковано і планується на: для нових випусків ці значення автоматично обраховуються. 1-ше це дата видання. Вона зазвичай ніколи не змінюється. 2-ге це дата коли Ви сподіваєтеся отримати випуск або маєте отримати його. Запізнілі випуски залежить від планових дат, тоді як дата видання корисна для замовлення випусків у зведенні періодичних видань: для щомісячного випуску, Ви можете отримати випуск за лютий у квітні, але все ще потрібно знати, що випуск за лютий був опублікований перед березнем.</p>
	<h2>Друга частина</h2>
	<p>друга частина містить 6 різних кусків інформації, що автоматично обраховуються для деяких з них, але які Ви можете змінювати<p>
	<ul>
		<li>Дата початку передплати: дата початку 1-шої передплати. Не повинно бути змінено і не змінюється автоматично відновленнями передплат</li>
		<li>Кінцева дата передплати: повинна бути введена вручну, коли передплата визначається закритою</li>
		<li>Номери, що прибувають: список випусків, які Ви маєте у своїй бібліотеці. Автоматично заповнюється, коли новий номер відмічений як "прибулий". Ви можете вручну змінити це поле, якщо хочете, наприклад, щоб замінити довгий список (1,2,3,4...,51) на коротший (1-51)</li>
		<li>Відсутні номери: список випусків, які Ви не маєте у своїй бібліотеці, і вони ніколи не прибули (або були втрачені). Автоматично заповнюється, коли новий номер відмічений "відсутнє". Ви можете вручну змінити це поле, якщо хочете, наприклад, щоб замінити довгий список (1,2,3,4...,51) на коротший (1-51)</li>
		<li>Примітка для електронічного каталогу: поле, яке з'являється в ЕК (з деякою іншою передплатною інформацією, наприклад початковою та кінцевою датою. Це поле повинне бути заповнене вручну. Нічого не поміщується тут автоматично</li>
		<li>Примітка для електронічного каталогу: поле, яке з'являється у інтерфейсі бібліотекаря (з деякою іншою підписною інформацією на зразок дати початку та кінця. Це поле повинне бути заповнене вручну. Автоматично нічого тут не вставляється.</li>
	</ul>
	<h2>Відновлення передплат</h2>
	<p>Коха автоматично обраховує кінець передплати (на основі дати початку та числі отриманих випусків). Коли передплата закінчилася, Ви не зможете змінити статус останнього "очікуючого номера" (оскільки він фактично не очікується). Щоб могти "отримати" цей номер, Ви повинні відновити свою передплату.</p>
	<p>Відновлення передплати означає, що Ви визначаєте деяку інформацію для відновлення. Коли та інформація буде заповнена, пропозиція автоматично створюється у Коха. Цією пропозицією може управляти бібліотекар, який замовляє книги, як і будь-яке інше замовлення (= витрати та книгопродавець визначені тут).</p>
	<p><i>Відзначте, що передплатне відновлення, зроблене  "бібліотекарем з періодичних видань", є невідкладним. Ми вирішили зберігати Коху такою простою, наскільки це можливо. Фактично, передплатне відновлення не буде невідкладним, але ми не хотіли додавати більшу складність.</i></p>
	</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->