<!-- TMPL_INCLUDE NAME="acquisitions-top.inc" -->

 <H1><!-- TMPL_VAR name="bookselname" --> 的購物籃</H1>

<!-- TMPL_IF name ="testdonation" -->
	<a href="newbiblio.pl?id=<!-- TMPL_VAR ESCAPE=URL name="id" -->&basket=<!-- TMPL_VAR name="basket" -->&sub=<!-- TMPL_VAR ESCAPE=URL name="parsub" -->">
	<img src="<!-- TMPL_VAR ESCAPE=URL name="interface" -->/<!-- TMPL_VAR ESCAPE=URL name="theme" -->/images/filenew.png" border=0 align=right alt="新增書目"></a>
<!-- TMPL_ELSE -->
	<a href="newdonation.pl?id=<!-- TMPL_VAR ESCAPE=URL name="id" -->&basket=<!-- TMPL_VAR ESCAPE=URL name="basket" -->&sub=<!-- TMPL_VAR ESCAPE=URL name="parsub" -->">
	<img src="<!-- TMPL_VAR ESCAPE=URL name="interface" -->/<!-- TMPL_VAR ESCAPE=URL name="theme" -->/images/filenew.png" border=0 align=right alt="新增書目"></a>
<!-- /TMPL_IF -->

<a href="basket.pl?basket=<!-- TMPL_VAR ESCAPE=URL name="basket" -->">
<img src="<!-- TMPL_VAR ESCAPE=URL name="interface" -->/<!-- TMPL_VAR ESCAPE=URL name="theme" -->/images/1uparrow.png" border=0 align=right alt="查看購物籃"></a>
<FORM ACTION="/cgi-bin/koha/acqui/newbasket2.pl">
<input type=hidden name=id value=<!-- TMPL_VAR name="id" -->>
<input type=hidden name=basket value=<!-- TMPL_VAR name="basket" -->>
<b>新查詢： </b><INPUT TYPE="text"  SIZE="25"   NAME="search"></form>
<br clear=all>

<CENTER>

您的查詢是按
<B>
<!-- TMPL_LOOP name="loopsearch" -->
	<!-- TMPL_VAR name="key" --> <!-- TMPL_VAR name="value" -->
<!-- /TMPL_LOOP -->
</B>
<BR>
找到 <!-- TMPL_VAR name="count" --> 筆結果。

<br> 在顯示第<b><!-- TMPL_VAR name="dispnum" --></b>至<b><!-- TMPL_VAR name="offset2" --></b>項結果。

<TABLE  CELLSPACING=0  CELLPADDING=6 border=0>
	<TR  VALIGN=TOP bgcolor="#ffdf61">
		<TD><b>題名</b></TD>
		<TD><b>著者</b></TD>
		<TD><b>&copy;</b></TD>
		<TD><b>數量</b></TD>
		<TD><b>LOCATION</b></TD>
	</TR>

<!-- TMPL_LOOP name="loopresult" -->
	<TR VALIGN=TOP bgcolor="<!-- TMPL_VAR name="toggle" -->">
		<TD>
			<!-- TMPL_IF name="testdonation" -->
				<A HREF="/cgi-bin/koha/acqui/newbiblio.pl?sub=<!-- TMPL_VAR name="sub" -->&author=<!-- TMPL_VAR name="author2" -->&copyright=<!-- TMPL_VAR name="copyright" -->&id=<!-- TMPL_VAR name="id" -->&basket=<!-- TMPL_VAR name="basket" -->&biblio=<!-- TMPL_VAR name="biblionumber" -->&title=<!-- TMPL_VAR name="title2" -->">
				<!-- TMPL_VAR name="title" -->
				</A>
			<!-- TMPL_ELSE -->
				<A HREF="/cgi-bin/koha/acqui/newdonation.pl?author=<!-- TMPL_VAR name="author2" -->&copyright=<!-- TMPL_VAR name="copyright" -->&id=<!-- TMPL_VAR name="id" -->&basket=<!-- TMPL_VAR name="basket" -->&biblio=<!-- TMPL_VAR name="biblionumber" -->&title=<!-- TMPL_VAR name="title2" -->">
				<!-- TMPL_VAR name="title" -->
				</A>
			<!-- /TMPL_IF -->
		</TD>
		<TD>
			<A HREF="/cgi-bin/koha/search.pl?author=<!-- TMPL_VAR name="word" -->&type=<!-- TMPL_VAR name="type" -->">
			<!-- TMPL_VAR name="author" -->
			</A>
		</TD>
		<TD>
			<!-- TMPL_VAR name="copyright" -->
		</TD>
		<TD>
			<!-- TMPL_VAR name="itemcount" -->
		</TD>
		<TD>
			<!-- TMPL_VAR name="location" -->
		</TD>
	</TR>

<!-- /TMPL_LOOP -->

	<TR VALIGN=TOP bgcolor="#ffdf61">
		<TD>
			&nbsp;
		</TD>
		<TD>
			&nbsp;
		</TD>
		<TD>
			&nbsp;
		</TD>
		<TD>
			&nbsp;
		</TD>
		<TD>
			&nbsp;
		</TD>
	</TR>
</TABLE>

<!-- TMPL_IF name="offsetover" -->
<A HREF="/cgi-bin/koha/acqui/newbasket2.pl?num=<!-- TMPL_VAR name="num" -->&offset=<!-- TMPL_VAR name="offset" -->&type=<!-- TMPL_VAR name="type" -->&id=<!-- TMPL_VAR name="id" -->&basket=<!-- TMPL_VAR name="basket" -->&search=<!-- TMPL_VAR name="title" -->&author=<!-- TMPL_VAR name="author" -->">
下一頁
</A>
<!-- /TMPL_IF -->
</CENTER>

<!-- TMPL_INCLUDE NAME="acquisitions-bottom.inc" -->
