<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIMARC_Field 100 builder</title>
</head>
<body>
<form name="f_pop">
<table>
    <tr>
        <td>Date entered on file</td>
        <td><input type="text" name="f1" maxlength="8" size="9" value="<!-- TMPL_VAR name="f1" -->"></td>
    </tr>
    <tr>
        <td>Type of Publication Date: Publication Dates 1 and 2</td>
        <td>
            <select name="f2" size="1">
            <!-- TMPL_IF name="f2 " -->
                <option value=" " selected="selected">Non required value</option>
            <!-- TMPL_ELSE -->
                <option value=" ">Non required value</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f2a" -->
                <option value="a" selected="selected">a - currently published continuing resource</option>
            <!-- TMPL_ELSE -->
                <option value="a">a - currently published continuing resource</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f2b" -->
                <option value="b" selected="selected">b - continuing resource no longer being published</option>
            <!-- TMPL_ELSE -->
                <option value="b">b - continuing resource no longer being published</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f2c" -->
                <option value="c" selected="selected">c - continuing resource of unknown status</option>
            <!-- TMPL_ELSE -->
                <option value="c">c - continuing resource of unknown status</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f2d" -->
                <option value="d" selected="selected">d - monograph complete when issued, or issued within one calendar year</option>
            <!-- TMPL_ELSE -->
                <option value="d">d - monograph complete when issued, or issued within one calendar year</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f2e" -->
                <option value="e" selected="selected">e - reproduction of a document</option>
            <!-- TMPL_ELSE -->
                <option value="e">e - reproduction of a document</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f2f" -->
                <option value="f"
                selected="selected">f - monograph, date of
                publication uncertain</option>
            <!-- TMPL_ELSE -->
                <option value="f">f - monograph, date of
                publication uncertain</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f2g" -->
                <option value="g"
                selected="selected">g - monograph whose publication continues for more than a
year</option>
            <!-- TMPL_ELSE -->
                <option value="g">g - monograph whose publication continues for more than a
year</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f2h" -->
                <option value="h"
                selected="selected">h - monograph with both actual and copyright/privilege date</option>
            <!-- TMPL_ELSE -->
                <option value="h">h - monograph with both actual and copyright/privilege date</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f2i" -->
                <option value="i"
                selected="selected">i - monograph with both release/issue date and production date</option>
            <!-- TMPL_ELSE -->
                <option value="i">i - monograph with both release/issue date and production date</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f2j" -->
                <option value="j"
                selected="selected">j - document with detailed date of publication</option>
            <!-- TMPL_ELSE -->
                <option value="j">j - document with detailed date of publication</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f2u" -->
                <option value="u" selected="selected">u - Unknown publication date</option>
            <!-- TMPL_ELSE -->
                <option value="u">u - Unknown publication date</option>
            <!-- /TMPL_IF -->

            </select>
        </td>
    </tr>
    <tr>
        <td>Publication Date 1</td>
        <td><input id="pubdate1" type="text" name="f3" maxlength="4" size="5" value="<!-- TMPL_VAR name="f3" -->" /></td>
    </tr>
    <tr>
    <td>Publication Date 2</td>
    <td><input id="pubdate2" type="text" name="f4" maxlength="4" size="5" value="<!-- TMPL_VAR name="f4" -->" /></td>
    </tr>
    <tr>
        <td>Target Audience Code</td>
        <td>
            <select name="f5" size="1">
            <!-- TMPL_IF name="f5|" -->
                <option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
                <option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f5a" -->
                <option value="a" selected="selected">a- juvenile, general</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- juvenile, general</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f5b" -->
                <option value="b"
    selected="selected">b- pre-primary, ages 0-5</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- pre-primary, ages 0-5</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f5c" -->
                <option value="c" selected="selected">c- primary, ages 5-10</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- primary, ages 5-10</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f5d" -->
                <option value="d" selected="selected">d- children, ages 9-14</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- children, ages 9-14</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f5e" -->
                <option value="e" selected="selected">e- young adult, ages 14-20</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- young adult, ages 14-20</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f5k" -->
                <option value="k"
                selected="selected">k- adult, serious</option>
            <!-- TMPL_ELSE -->
                <option value="k">k- adult, serious</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f5m" -->
                <option value="m"
                selected="selected">m- adult, general</option>
            <!-- TMPL_ELSE -->
                <option value="m">m- adult, general</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f5u" -->
                <option value="u"
                selected="selected">u- unknown</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- unknown</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td>Target Audience Code 2</td>
        <td>
            <select name="f6" size="1">
            
            <!-- TMPL_IF name="f6|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f6a" -->
                <option value="a" selected="selected">a- juvenile, general </option>
            <!-- TMPL_ELSE -->
                <option value="a">a- juvenile, general</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6b" -->
                <option value="b"  selected="selected">b- pre-primary, ages 0-5</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- pre-primary, ages 0-5</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6c" -->
                <option value="c" selected="selected">c- primary, ages 5-10</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- primary, ages 5-10</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6d" -->
                <option value="d" selected="selected">d- children, ages 9-14</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- children, ages 9-14</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f6e" -->
                <option value="e" selected="selected">e- young adult, ages 14-20</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- young adult, ages 14-20</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f6k" -->
                <option value="k"
                selected="selected">k- adult, serious</option>
            <!-- TMPL_ELSE -->
                <option value="k">k- adult, serious</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f6m" -->
                <option value="m"
                selected="selected">m- adult, general</option>
            <!-- TMPL_ELSE -->
                <option value="m">m- adult, general</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f6u" -->
                <option value="u"
                selected="selected">u- unknown</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- unknown</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td>Target Audience Code 3</td>
        <td>
            <select name="f7" size="1">
            <!-- TMPL_IF name="f7|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f7a" -->
                <option value="a" selected="selected">a- juvenile, general </option>
            <!-- TMPL_ELSE -->
                <option value="a">a- juvenile, general</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7b" -->
                <option value="b"
    selected="selected">b- pre-primary, ages 0-5</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- pre-primary, ages 0-5</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7c" -->
                <option value="c" selected="selected">c- primary, ages 5-10</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- primary, ages 5-10</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7d" -->
                <option value="d" selected="selected">d- children, ages 9-14</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- children, ages 9-14</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f7e" -->
                <option value="e" selected="selected">e- young adult, ages 14-20</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- young adult, ages 14-20</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f7k" -->
                <option value="k"
                selected="selected">k- adult, serious</option>
            <!-- TMPL_ELSE -->
                <option value="k">k- adult, serious</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f7m" -->
                <option value="m"
                selected="selected">m- adult, general</option>
            <!-- TMPL_ELSE -->
                <option value="m">m- adult, general</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f7u" -->
                <option value="u"
                selected="selected">u- unknown</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- unknown</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
        <td>Government Publication</td>
        <td>
            <select name="f8" size="1">
            
            <!-- TMPL_IF name="f8u" -->
            	<option value="u" selected="selected">u- unknown</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- unknown</option>
            <!-- /TMPL_IF -->
       		<!-- TMPL_IF name="f8a" -->
                <option value="a" selected="selected">a- federal/national</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- federal/national</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8b" -->
                <option value="b" selected="selected">b- state/province</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- state/province</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8c" -->
                <option value="c" selected="selected">c- county/department</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- county/department</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8d" -->
                <option value="d"
                selected="selected">d- local(municipal, etc.)</option>
            <!-- TMPL_ELSE -->
                <option value="d">d- local(municipal, etc.)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8e" -->
                <option value="e"
                selected="selected">e- multi-local (interstate departments, etc. below the national
level)</option>
            <!-- TMPL_ELSE -->
                <option value="e">e- multi-local (interstate departments, etc. below the national
level)</option>
            <!-- /TMPL_IF -->
    
            <!-- TMPL_IF name="f8f" -->
                <option value="f"
                selected="selected">f- intergovernmental</option>
            <!-- TMPL_ELSE -->
                <option value="f">f- intergovernmental</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f8g" -->
                <option value="g"
                selected="selected">g- government in exile or clandestine</option>
            <!-- TMPL_ELSE -->
                <option value="g">g- government in exile or clandestine</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f8h" -->
                <option value="h"
                selected="selected">h- level not determined</option>
            <!-- TMPL_ELSE -->
                <option value="h">h- level not determined</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8u" -->
                <option value="u"
                selected="selected">u- unknown</option>
            <!-- TMPL_ELSE -->
                <option value="u">u- unknown</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8y" -->
                <option value="y"
                selected="selected">y- not a government publication</option>
            <!-- TMPL_ELSE -->
                <option value="y">y- not a government publication</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f8z" -->
                <option value="z"
                selected="selected">z- Other</option>
            <!-- TMPL_ELSE -->
                <option value="z">z- Other</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>

    <tr>
        <td>Modified Record Code</td>
        <td>
            <select name="f9" size="1">
            
            <!-- TMPL_IF name="f90" -->
                <option value="0" selected="selected">0- unmodified record</option>
            <!-- TMPL_ELSE -->
                <option value="0">0- unmodified record</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f91" -->
                <option value="1" selected="selected">1- modified record</option>
            <!-- TMPL_ELSE -->
                <option value="1">1- modified record</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>


    <tr>
    <td>Language of Cataloguing (Mandatory)</td>
    <td><input type="text" name="f10" maxlength="3" size="4" value="<!-- TMPL_VAR name="f10" -->" /></td>
    </tr>

    <tr>
        <td>Transliteration Code</td>
        <td>
            <select name="f11" size="1">
            
            <!-- TMPL_IF name="f11a" -->
                <option value="a" selected="selected">a- ISO transliteration scheme</option>
            <!-- TMPL_ELSE -->
                <option value="a">a- ISO transliteration scheme</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11b" -->
                <option value="b" selected="selected">b- other</option>
            <!-- TMPL_ELSE -->
                <option value="b">b- other</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11c" -->
                <option value="c"
        selected="selected">c- multiple transliterations: ISO or other schemes</option>
            <!-- TMPL_ELSE -->
                <option value="c">c- multiple transliterations: ISO or other schemes</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f11y" -->
                <option value="y" selected="selected">y- no transliteration scheme used</option>
            <!-- TMPL_ELSE -->
                <option value="y">y- no transliteration scheme used</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>
    <tr>
    <td>Character Sets (Mandatory) 1 </td>
        <td>
            <select name="f12" size="1">
            
            <!-- TMPL_IF name="f1201" -->
                <option value="01" selected="selected">01- ISO 646, IRV version (basic Latin set)</option>
            <!-- TMPL_ELSE -->
                <option value="01">01- ISO 646, IRV version (basic Latin set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1202" -->
                <option value="02" selected="selected">02- ISO Registration # 37 (basic Cyrillic set)</option>
            <!-- TMPL_ELSE -->
                <option value="02">02- ISO Registration # 37 (basic Cyrillic set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1203" -->
                <option value="03" selected="selected">03- ISO 5426 (extended Latin set)</option>
            <!-- TMPL_ELSE -->
                <option value="03">03- ISO 5426 (extended Latin set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1204" -->
                <option value="04" selected="selected">04- ISO 5427 (extended Cyrillic set)</option>
            <!-- TMPL_ELSE -->
                <option value="04">04- ISO 5427 (extended Cyrillic set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1205" -->
                <option value="05" selected="selected">05- ISO 5428 (Greek set)</option>
            <!-- TMPL_ELSE -->
                <option value="05">05- ISO 5428 (Greek set)</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f1206" -->
                <option value="06" selected="selected">06- ISO 6438 (African coded character set)</option>
            <!-- TMPL_ELSE -->
                <option value="06">06- ISO 6438 (African coded character set)</option>
            <!-- /TMPL_IF -->
            
             <!-- TMPL_IF name="f1207" -->
                <option value="07" selected="selected">07- ISO 10586 (Georgian set)</option>
            <!-- TMPL_ELSE -->
                <option value="07">07- ISO ISO 10586 (Georgian set)</option>
            <!-- /TMPL_IF -->

             <!-- TMPL_IF name="f1208" -->
                <option value="08" selected="selected">08- ISO 8957 (Hebrew set) Table 1</option>
            <!-- TMPL_ELSE -->
                <option value="08">08- ISO 8957 (Hebrew set) Table 1</option>
            <!-- /TMPL_IF -->

             <!-- TMPL_IF name="f1209" -->
                <option value="09" selected="selected">09- ISO 8957 (Hebrew set) Table 2</option>
            <!-- TMPL_ELSE -->
                <option value="09">09- ISO 8957 (Hebrew set) Table 2</option>
            <!-- /TMPL_IF -->
            
             <!-- TMPL_IF name="f1211 -->
                <option value="11"  selected="selected">11- ISO 5426-2 (Latin characters used in minor European
languages and obsolete typography)
</option>
            <!-- TMPL_ELSE -->
                <option value="11">11- ISO 5426-2 (Latin characters used in minor European
languages and obsolete typography)
</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f1250" -->
                <option value="50" selected="selected">50- ISO 10646 Level 3 (Unicode, UTF-8)
                </option>
            <!-- TMPL_ELSE -->
                <option value="50">50- ISO 10646 Level 3 (Unicode, UTF-8)</option>
            <!-- /TMPL_IF -->
            </select>
        </td>

    </tr>
    <tr>
    <td>Character Sets (Mandatory) 2</td>
        <td>
            <select name="f13" size="1">
            
            <!-- TMPL_IF name="f13  " -->
                    <option value="  " selected="selected">non required value</option>
            <!-- TMPL_ELSE -->
                    <option value="  ">non required value</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f1301" -->
                <option value="01" selected="selected">01- ISO 646, IRV version (basic Latin set)</option>
            <!-- TMPL_ELSE -->
                <option value="01">01- ISO 646, IRV version (basic Latin set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1302" -->
                <option value="02" selected="selected">02- ISO Registration # 37 (basic Cyrillic set)</option>
            <!-- TMPL_ELSE -->
                <option value="02">02- ISO Registration # 37 (basic Cyrillic set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1303" -->
                <option value="03"
        selected="selected">03- ISO 5426 (extended Latin set)</option>
            <!-- TMPL_ELSE -->
                <option value="03">03- ISO 5426 (extended Latin set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1304" -->
                <option value="04" selected="selected">04- ISO 5427 (extended Cyrillic set)</option>
            <!-- TMPL_ELSE -->
                <option value="04">04- ISO 5427 (extended Cyrillic set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1305" -->
                <option value="05" selected="selected">05- ISO 5428 (Greek set)</option>
            <!-- TMPL_ELSE -->
                <option value="05">05- ISO 5428 (Greek set)</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f1306" -->
                <option value="06" selected="selected">06- ISO 6438 (African coded character set)</option>
            <!-- TMPL_ELSE -->
                <option value="06">06- ISO 6438 (African coded character set)</option>
            <!-- /TMPL_IF -->
	    
	    <!-- TMPL_IF name="f1307" -->
                <option value="07" selected="selected">07- ISO 10586 (Georgian set)</option>
            <!-- TMPL_ELSE -->
                <option value="07">07- ISO ISO 10586 (Georgian set)</option>
            <!-- /TMPL_IF -->

             <!-- TMPL_IF name="f1308" -->
                <option value="08" selected="selected">08- ISO 8957 (Hebrew set) Table 1</option>
            <!-- TMPL_ELSE -->
                <option value="08">08- ISO 8957 (Hebrew set) Table 1</option>
            <!-- /TMPL_IF -->

             <!-- TMPL_IF name="f1309" -->
                <option value="09" selected="selected">09- ISO 8957 (Hebrew set) Table 2</option>
            <!-- TMPL_ELSE -->
                <option value="09">09- ISO 8957 (Hebrew set) Table 2</option>
            <!-- /TMPL_IF -->
            
             <!-- TMPL_IF name="f1311 -->
                <option value="11"  selected="selected">11- ISO 5426-2 (Latin characters used in minor European
languages and obsolete typography)</option>
            <!-- TMPL_ELSE -->
                <option value="11">11- ISO 5426-2 (Latin characters used in minor European
languages and obsolete typography)</option>
            <!-- /TMPL_IF -->
	    
            <!-- TMPL_IF name="f1350" -->
                <option value="50" selected="selected">50- ISO 10646 Level 3 (Unicode, UTF-8)</option>
            <!-- TMPL_ELSE -->
                <option value="50">ISO 10646 Level 3 (Unicode, UTF-8)</option>
            <!-- /TMPL_IF -->
            </select>
        </td>
    </tr>

    <tr>
        <td>Additional Character Sets</td>
        <td>
            <input type="text" name="f14" maxlength="4" size="5" value="<!-- TMPL_VAR name="f14" -->" />
        </td>
    </tr>

    <tr>
    <td>Script of Title</td>
    <td>
    <select name="f15" size="1">
            <!-- TMPL_IF name="f15 " -->
                    <option value=" " selected="selected">Non required value</option>
            <!-- TMPL_ELSE -->
                    <option value=" ">Non required value</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f15ba" -->
                <option value="ba" selected="selected">ba- Latin</option>
            <!-- TMPL_ELSE -->
                <option value="ba">ba- Latin</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ca" -->
                <option value="ca" selected="selected">ca- Cyrillic</option>
            <!-- TMPL_ELSE -->
                <option value="ca">ca- Cyrillic</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f15da" -->
                <option value="da" selected="selected">da- Japanese - script unspecified</option>
            <!-- TMPL_ELSE -->
                <option value="da">da- Japanese - script unspecified</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f15db" -->
                <option value="db" selected="selected">db- Japanese -
                Kanji</option>
            <!-- TMPL_ELSE -->
                <option value="db">db- Japanese - Kanji</option>
            <!-- /TMPL_IF -->

            <!-- TMPL_IF name="f15dc" -->
                <option value="dc" selected="selected">dc- Japanese -
                Kana</option>
            <!-- TMPL_ELSE -->
                <option value="dc">dc- Japanese - Kana</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ea" -->
                <option value="ea" selected="selected">ea- Chinese</option>
            <!-- TMPL_ELSE -->
                <option value="ea">ea- Chinese</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15fa" -->
                <option value="fa" selected="selected">fa- Arabic</option>
            <!-- TMPL_ELSE -->
                <option value="fa">fa- Arabic</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ga" -->
                <option value="ga" selected="selected">ga- Greek</option>
            <!-- TMPL_ELSE -->
                <option value="ga">ga- Greek</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ha" -->
                <option value="ha" selected="selected">ha- Hebrew</option>
            <!-- TMPL_ELSE -->
                <option value="ha">ha- Hebrew</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ia" -->
                <option value="ia" selected="selected">ia- Thai</option>
            <!-- TMPL_ELSE -->
                <option value="ia">ia- Thai</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ja" -->
                <option value="ja" selected="selected">ja- Devanagari</option>
            <!-- TMPL_ELSE -->
                <option value="ja">ja- Devanagari</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15ka" -->
                <option value="ka" selected="selected">ka- Korean</option>
            <!-- TMPL_ELSE -->
                <option value="ka">ka- Korean</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15la" -->
                <option value="la" selected="selected">la- Tamil</option>
            <!-- TMPL_ELSE -->
                <option value="la">la- Tamil</option>
            <!-- /TMPL_IF -->
            <!-- TMPL_IF name="f15zz" -->
                <option value="zz" selected="selected">zz- Other</option>
            <!-- TMPL_ELSE -->
                <option value="zz">zz- Other</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f15ma" -->
                <option value="ma" selected="selected">ma- Georgian</option>
            <!-- TMPL_ELSE -->
                <option value="ma">ma- Georgian</option>
            <!-- /TMPL_IF -->
            
            <!-- TMPL_IF name="f15mb" -->
                <option value="mb" selected="selected">mb- Armenian</option>
            <!-- TMPL_ELSE -->
                <option value="mb">mb- Armenian</option>
            <!-- /TMPL_IF -->                        
            </select>
    </td>
    </tr>
    
    <tr><td colspan="2"><input type="button" value="OK"  onclick="report();" /></td></tr>
</table>
</form>
<script type="text/javascript" language="javascript">

//     GetPublicationDate(); // running directly.
// 
//     /**
//      *  GetPublicationDate.
//      *  This function get the publication date if it's writen on 210d
//      */
//     function GetPublicationDate() {
//         var PublicationDate = null;
//         
//         for (i=0 ; i<NbFields ; i++) {
//             if (doc.f.tag[i].value == '210' && doc.f.subfield[i].value == 'd') {
//                 if (doc.f.field_value[i].value != ""){
//                     PublicationDate = doc.f.field_value[i].value;
//                     document.getElementById('pubdate1').value = PublicationDate;
//                 }
//                 return;
//             }
//         }
//     }
//     
//     /**
//      *  SetPublicationDate.
//      *  This function set the publication date here
//      */
//     function SetPublicationDate() {
//         var PublicationDate = document.getElementById('pubdate1').value;
//         if (PublicationDate == "    " || !PublicationDate){
//             return ;
//         }
//         for (i=0 ; i<NbFields ; i++) {
//             if (doc.f.tag[i].value == '210' && doc.f.subfield[i].value == 'd') {
//                 doc.f.field_value[i].value = PublicationDate;
//                 break;
//             }
//         }
//     }
    
    function report() {
        var doc   = opener.document;
        var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
        document.f_pop.f1.value=document.f_pop.f1.value+'        ';
        document.f_pop.f3.value=document.f_pop.f3.value+'    ';
        document.f_pop.f4.value=document.f_pop.f4.value+'    ';
        document.f_pop.f10.value=document.f_pop.f10.value+'   ';
        document.f_pop.f14.value=document.f_pop.f14.value+'    ';

        document.f_pop.f1.value=document.f_pop.f1.value.substring(0,8);
        document.f_pop.f3.value=document.f_pop.f3.value.substring(0,4);
        document.f_pop.f4.value=document.f_pop.f4.value.substring(0,4);
        document.f_pop.f10.value=document.f_pop.f10.value.substring(0,3);
        document.f_pop.f14.value=document.f_pop.f14.value.substring(0,4);

        field.value= document.f_pop.f1.value +
        document.f_pop.f2.value +document.f_pop.f3.value
        +document.f_pop.f4.value+document.f_pop.f5.value+document.f_pop.f6.value+document.f_pop.f7.value+document.f_pop.f8.value+document.f_pop.f9.value+document.f_pop.f10.value+document.f_pop.f11.value+document.f_pop.f12.value+document.f_pop.f13.value+document.f_pop.f14.value+document.f_pop.f15.value;
        
//         SetPublicationDate();
        self.close();
        return false;
    }
</script>
</body>
</html>
