<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Leader building</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body>
<form name="f_pop" action="">
<table>
	<tr>
		<td>1-4 Record length</td>
		<td>(auto-calculated)</td>
	</tr>
	<tr>
		<td>5- Record status</td>
		<td>
			<select name="f5" size="1">
			<!-- TMPL_IF name="f5|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f5c" -->
				<option value="c" selected="selected">c - Corrected or updated record</option>
			<!-- TMPL_ELSE -->
				<option value="c">c - Corrected record</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5d" -->
				<option value="d" selected="selected">d - Deleted record</option>
			<!-- TMPL_ELSE -->
				<option value="d">d - Deleted record</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5n" -->
				<option value="n" selected="selected">n - New record</option>
			<!-- TMPL_ELSE -->
				<option value="n">n - New record</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5o" -->
				<option value="o" selected="selected">o - Previously issued higher level record</option>
			<!-- TMPL_ELSE -->
				<option value="o">o - Previously issued higher level record</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f5p" -->
				<option value="p" selected="selected">p - Previously issued as an incomplete, pre-publication record</option>
			<!-- TMPL_ELSE -->
				<option value="p">p - Previously issued as an incomplete, pre-publication record</option>
			<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	<tr>
		<td>6- Type of record</td>
		<td>
			<select name="f6" size="1">
			<!-- TMPL_IF name="f6|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
			<!-- TMPL_IF name="f6a" -->
				<option value="a" selected="selected">a - Language materials, printed</option>
			<!-- TMPL_ELSE -->
				<option value="a">a - Language materials, printed</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6b" -->
				<option value="b" selected="selected">b - Language materials, manuscript</option>
			<!-- TMPL_ELSE -->
				<option value="b">b - Language materials, manuscript</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6c" -->
				<option value="c" selected="selected">c - Music scores, printed</option>
			<!-- TMPL_ELSE -->
				<option value="c">c - Music scores, printed</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6d" -->
				<option value="d" selected="selected">d - Music scores, manuscript</option>
			<!-- TMPL_ELSE -->
				<option value="d">d - Music scores, manuscript</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6e" -->
				<option value="e" selected="selected">e - Cartographic materials, printed</option>
			<!-- TMPL_ELSE -->
				<option value="e">e - Cartographic materials, printed</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6f" -->
				<option value="f" selected="selected">f - Cartographic materials, manuscript</option>
			<!-- TMPL_ELSE -->
				<option value="f">f - Cartographic materials, manuscript</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6g" -->
				<option value="g" selected="selected">g - Projected and video material</option>
			<!-- TMPL_ELSE -->
				<option value="g">g - Projected and video material</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6i" -->
				<option value="i" selected="selected">i - Sound recordings, nonmusical performance</option>
			<!-- TMPL_ELSE -->
				<option value="i">i - Sound recordings, nonmusical performance</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6j" -->
				<option value="j" selected="selected">j - Sound recordings, musical performance</option>
			<!-- TMPL_ELSE -->
				<option value="j">j - Sound recordings, musical performance</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6k" -->
				<option value="k" selected="selected">k - Two-dimensional graphics</option>
			<!-- TMPL_ELSE -->
				<option value="k">k - Two-dimensional graphics</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6l" -->
				<option value="l" selected="selected">l - Electronic resources</option>
			<!-- TMPL_ELSE -->
				<option value="l">l - Electronic resources</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6m" -->
				<option value="m" selected="selected">m - Multimedia</option>
			<!-- TMPL_ELSE -->
				<option value="m">m - Multimedia</option>
			<!-- /TMPL_IF -->
			
			<!-- TMPL_IF name="f6r" -->
				<option value="r" selected="selected">r - Three-dimensional artefacts and realia</option>
			<!-- TMPL_ELSE -->
				<option value="r">r - Three-dimensional artefacts and realia</option>
			<!-- /TMPL_IF -->
			
			</select>
		</td>
	</tr>
	<tr>
		<td>7- Bibliographic level</td>
		<td>
			<select name="f7" size="1">
			<!-- TMPL_IF name="f7|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
				<!-- TMPL_IF name="f7a" -->
					<option value="a" selected="selected">a - Analytic (component part)</option>
				<!-- TMPL_ELSE -->
					<option value="a">a - Analytic (component part)</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7i" -->
					<option value="i" selected="selected">i - Integrating resource</option>
				<!-- TMPL_ELSE -->
					<option value="i">i - Integrating resource</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7c" -->
					<option value="c" selected="selected">c - Collection - bibliographic item that is a made-up collection</option>
				<!-- TMPL_ELSE -->
					<option value="c">c - Collection - bibliographic item that is a made-up collection</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7m" -->
					<option value="m" selected="selected">m - Monographic - Bibliographic item</option>
				<!-- TMPL_ELSE -->
					<option value="m">m - Monographic - Bibliographic item</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f7s" -->
					<option value="s" selected="selected">s - Serial - Bibliographic item</option>
				<!-- TMPL_ELSE -->
					<option value="s">s - Serial - Bibliographic item</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td>8- Hierarchical level code</td>
		<td>
			<select name="f8" size="1">
			<!-- TMPL_IF name="f8|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
				<!-- TMPL_IF name="f8 " -->
					<option value=" " selected="selected"> - Hierarchical relationship undefined</option>
				<!-- TMPL_ELSE -->
					<option value=" "> - Hierarchical relationship undefined</option>
				<!-- /TMPL_IF -->
				
				<!-- TMPL_IF name="f80" -->
					<option value="0" selected="selected">0 - No hierarchical relationship</option>
				<!-- TMPL_ELSE -->
					<option value="0">0 - No hierarchical relationship</option>
				<!-- /TMPL_IF -->
				
				<!-- TMPL_IF name="f81" -->
					<option value="1" selected="selected">1 - Highest level record</option>
				<!-- TMPL_ELSE -->
					<option value="1">1 - Highest level record</option>
				<!-- /TMPL_IF -->
				
				<!-- TMPL_IF name='f82' -->
					<option value="2" selected="selected">2 - Record below highest level (all levels below)</option>
				<!-- TMPL_ELSE -->
					<option value="2">2 - Record below highest level (all levels below)</option>
				<!-- /TMPL_IF -->
				
			</select>
		</td>
	</tr>

	<tr>
		<td>9-16 Indicator/Subfields/Size</td>
		<td>(auto-filled)</td>
	</tr>
	<tr>
		<td>17- Encoding level</td>
		<td>
			<select name="f17" size="1">
			<!-- TMPL_IF name="f17|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
				<!-- TMPL_IF name="f17 " -->
					<option value=" " selected="selected"> Full level ("item in hand")</option>
				<!-- TMPL_ELSE -->
					<option value=" "> Full level ("item in hand")</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f171" -->
					<option value="1" selected="selected">1 - Sublevel 1 (not "item in hand")</option>
				<!-- TMPL_ELSE -->
					<option value="1">1 - Sublevel 1 (not "item in hand")</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f172" -->
					<option value="2" selected="selected">2 - Sublevel 2. The record is a prepublication (Cataloguing In Publication) record</option>
				<!-- TMPL_ELSE -->
					<option value="2">2 - Sublevel 2. The record is a prepublication (Cataloguing In Publication) record</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f173" -->
					<option value="3" selected="selected">3 - Sublevel 3. Incomplete record</option>
				<!-- TMPL_ELSE -->
					<option value="3">3 - Sublevel 3. Incomplete record</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>

	<tr>
		<td>18- Descriptive cataloging form</td>
		<td>
			<select name="f18" size="1">
			<!-- TMPL_IF name="f18|" -->
            	<option value="|" selected="selected">|- Filling character</option>
            <!-- TMPL_ELSE -->
            	<option value="|">|- Filling character</option>
            <!-- /TMPL_IF -->
            
				<!-- TMPL_IF name="f18 " -->
					<option value=" " selected="selected"> - In full ISBD form</option>
				<!-- TMPL_ELSE -->
					<option value=" "> - In full ISBD form</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f18i" -->
					<option value="i" selected="selected">i - In partial or incomplete ISBD form</option>
				<!-- TMPL_ELSE -->
					<option value="i">i - In partial or incomplete ISBD form</option>
				<!-- /TMPL_IF -->
				<!-- TMPL_IF name="f18n" -->
					<option value="n" selected="selected">n - In non-ISBD form</option>
				<!-- TMPL_ELSE -->
					<option value="n">n - In non-ISBD form</option>
				<!-- /TMPL_IF -->
			</select>
		</td>
	</tr>
	
	<tr>
		<td>19-24 Entry map &amp; lengths</td>
		<td>(auto-filled)</td>
	</tr>

	<tr><td colspan="2"><input type="button" value="OK"  onclick="javascript:report()" /></td></tr>
</table>
</form>
<script type="text/javascript">
function report() {
	    var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
        
            field.value =  '     '+document.f_pop.f5.value +
			document.f_pop.f6.value+ document.f_pop.f7.value+
			document.f_pop.f8.value+ '        '+
			document.f_pop.f17.value+ document.f_pop.f18.value+' 4500';
		window.close();
		return false;
	}
</script>
</body>
</html>

