<!DOCTYPE html PUBLIC "-//W3C//DTD Xhtml 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>UNIMARC_Field 225a builder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="[% yuipath %]/utilities/utilities.js"></script> 
    <script type="text/javascript" src="[% yuipath %]/datasource/datasource.js"></script> 
    <script type="text/javascript" src="[% yuipath %]/autocomplete/autocomplete-min.js"></script>
    <link rel="stylesheet" type="text/css" href="[% themelang %]/css/staff-global.css" />

</head>
<body id="cat_unimarc_field_210c_bis" class="cat">
<div id="header_search">
<script type="text/javascript">
//<![CDATA[
YAHOO.util.Event.onContentReady("header_search", function() {
    new function() {
        // Define a custom formatter function
        this.fnCustomFormatter = function(oResultItem, sQuery) {
            var name        = oResultItem[0];
            var aMarkup = [
                "<div class=\"sample-result\">",
                name,
                "<\/div>"];
            return (aMarkup.join(""));
        };

        // Instantiate one XHR DataSource and define schema as an array:
        //     ["Record Delimiter",
        //     "Field Delimiter"]
        this.oACDS = new YAHOO.widget.DS_XHR("/cgi-bin/koha/cataloguing/ysearch.pl", ["\n", "\t"]);
        this.oACDS.scriptQueryAppend = "table=biblioitems&field=publishercode";
        this.oACDS.responseType = YAHOO.widget.DS_XHR.TYPE_FLAT;
        this.oACDS.maxCacheEntries = 60;
        this.oACDS.queryMatchSubset = false;
    
        // Instantiate first AutoComplete
        var myInput = document.getElementById('findvalue');
        var myContainer = document.getElementById('yvaluecontainer');
        this.oAutoComp = new YAHOO.widget.AutoComplete(myInput,myContainer,this.oACDS);
        //this.oAutoComp.delimChar = ";";
        this.oAutoComp.queryDelay = 1;
        this.oAutoComp.formatResult = this.fnCustomFormatter;
        this.oAutoComp.maxResultsDisplayed = 1000;
}
});    
//]]>
</script>
    <div id="mainbloc">

<div id="plugin">
<div class="autocomplete">
        <form name="f_pop" onsubmit="javascript:report()" action="">
            <div id="borrowerautocomplete" class="autocomplete">
                <input autocomplete="off" id="findvalue" name="findvalue" size="40" class="focus" type="text" /><br /><br /> 
		<input id="ysearchsubmit" type="submit" class="submit" value="Submit" />
                <div id="yvaluecontainer"></div>
            </div>
        </form>
    </div>
</div>    
</div>
    <script type="text/javascript">
        function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("[% index %]");
            field.value =  document.f_pop.findvalue.value;

            window.close();
            return false;
        }
    </script>
</body>
</html>
