<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>UNIMARC Field 125a builder</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
</head>
<body style="padding:1em;">
<h3>UNIMARC Field 125a builder</h3>
<form name="f_pop" action="">
<table>
	<tr>
		<td><label for="f1">Type of Score:</label></td>
		<td>
			<select name="f1" id="f1" size="1">
			<!-- TMPL_IF name="f1a" -->
				<option value="a" selected="selected">full score, graphic score</option>
			<!-- TMPL_ELSE -->
				<option value="a">full score, graphic score</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1b" -->
				<option value="b" selected="selected">score (miniature or study size)</option>
			<!-- TMPL_ELSE -->
				<option value="b">score (miniature or study size)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1c" -->
				<option value="c" selected="selected">vocal score, accompaniment reduced for keyboard</option>
			<!-- TMPL_ELSE -->
				<option value="c">vocal score, accompaniment reduced for keyboard</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1d" -->
				<option value="d" selected="selected">voice score, chorus score, accompaniment has been dropped</option>
			<!-- TMPL_ELSE -->
				<option value="d">voice score, chorus score, accompaniment has been dropped</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1e" -->
				<option value="e" selected="selected">condensed score, pianoconductor score</option>
			<!-- TMPL_ELSE -->
				<option value="e">condensed score, pianoconductor score</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1f" -->
				<option value="f" selected="selected">graphic score</option>
			<!-- TMPL_ELSE -->
				<option value="f">graphic score</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1g" -->
				<option value="g" selected="selected">close score (e.g. hymnals)</option>
			<!-- TMPL_ELSE -->
				<option value="g">close score (e.g. hymnals)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1h" -->
				<option value="h" selected="selected">tablature</option>
			<!-- TMPL_ELSE -->
				<option value="h">tablature</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1i" -->
				<option value="i" selected="selected">choir-book</option>
			<!-- TMPL_ELSE -->
				<option value="i">choir-book</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1j" -->
				<option value="j" selected="selected">compressed score</option>
			<!-- TMPL_ELSE -->
				<option value="j">compressed score</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1k" -->
				<option value="k" selected="selected">pseudo-score</option>
			<!-- TMPL_ELSE -->
				<option value="k">pseudo-score</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1l" -->
				<option value="l" selected="selected">solo part</option>
			<!-- TMPL_ELSE -->
				<option value="l">solo part</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1m" -->
				<option value="m" selected="selected">multiple formats</option>
			<!-- TMPL_ELSE -->
				<option value="m">multiple formats</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1u" -->
				<option value="u" selected="selected">unknown</option>
			<!-- TMPL_ELSE -->
				<option value="u">unknown</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1x" -->
				<option value="x" selected="selected">not applicable, not a score</option>
			<!-- TMPL_ELSE -->
				<option value="x">not applicable, not a score</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f1z" -->
				<option value="z" selected="selected">other</option>
			<!-- TMPL_ELSE -->
				<option value="z">other</option>
			<!-- /TMPL_IF -->
			</select>
		</td></tr>
	<tr>
		<td><label for="f2">Parts Indicator:</label></td>
		<td>
			<select name="f2" id="f2" size="1">

			<!-- TMPL_IF name="f2a" -->
				<option value="a" selected="selected">parts exist (vocal and instrumental)</option>
			<!-- TMPL_ELSE -->
				<option value="a">parts exist (vocal and instrumental)</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2b" -->
				<option value="b" selected="selected">instrumental parts</option>
			<!-- TMPL_ELSE -->
				<option value="b">instrumental parts</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2c" -->
				<option value="c" selected="selected">vocal parts</option>
			<!-- TMPL_ELSE -->
				<option value="c">vocal parts</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2u" -->
				<option value="u" selected="selected">unknown</option>
			<!-- TMPL_ELSE -->
				<option value="u">unknown</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2x" -->
				<option value="x" selected="selected">not applicable</option>
			<!-- TMPL_ELSE -->
				<option value="x">not applicable</option>
			<!-- /TMPL_IF -->
			<!-- TMPL_IF name="f2y" -->
				<option value="y" selected="selected">parts not present</option>
			<!-- TMPL_ELSE -->
				<option value="y">parts not present</option>
			<!-- /TMPL_IF -->
			</select>
		</td></tr>
</table>
<fieldset class="action"><input type="button" value="OK" onclick="report();" /> <a href="#" class="cancel close">Cancel</a></fieldset>
</form>

<script type="text/javascript">
//<![CDATA[
	function report() {
            var doc   = opener.document; 
            var field = doc.getElementById("<!-- TMPL_VAR NAME='index'-->");
            field.value =  document.f_pop.f1.value+document.f_pop.f2.value;
	    window.close();
	    return false;
	}
//]]>
</script>


<!-- TMPL_INCLUDE NAME="popup-bottom.inc" -->
