<!-- TMPL_INCLUDE name="help-top.inc" -->
<h1>Правила видачі</h1>
<p>Правила видачі охоплюють 2 теми: </p>
<ul>
	<li>Тривалість позики та кількість: це означає, скільки одиниць певного типу і як надовго можна видати для даної категорії позичальників </li>
	<li>Плати за прострочення: вони засновані на типі одиниці та типі позичальника. Ці плати визначаються на цій сторінці.</li>
</ul>
<p>Типи одиниць та категорії позичальника повинні бути визначені перед тим як визначені правила видачі. Ваші означені типи одиниць та категорії позичальників тоді відображаться у сітці на цій сторінці.</p>

<h2>Тривалість та кількість позики</h2>
<p>Кожен блок у сітці містить 2 числа, відокремлені комами, що визначають на скільки днів даному типу позичальника можна видати та скільки матеріалу. Наприклад: 21,5 означає, що позичальник може взяти аж до 5 книг і тримати аж до 21 дня</p>
<p><b>*</b> має специфічне значення. Це означає "будь-який". Якщо Ви задаєте 21,5 для типу_одиниці=*, категорії позичальника=student, підрозділ=golovna, то студент не може отримати більш ніж 5 елементів БУДЬ-ЯКОГО типу одиниці. Цей "будь-який" блок об'єднується іншими блоками. Це означає, що 21,5 для типу_одиниці=knyga, 14,2 для типу_одиниці=CD і 30,6 для типу_одиниці=* (з категорією=student) - означає, що студент може отримати аж до 5 книг, аж до 2 компакт-дисків але максимум 6 одиниць (книг або компакт-дисків). У даному випадку "30 днів" у типу_одиниці=* відкидається і тривалість видачі обчислена для точного типу одиниці</p>

<h2>Плати за прострочення</h2>
<p>Кожен блок у сітці містить три числа, відокремлені комами, і визначають пеню, скільки днів прострочення для одиниці повинно бути перед тим, як пеня буде оцінена і створиться перше сповіщення ("термін відстрочення платежів"), і скільки днів після того, як, що пеня оцінена знову і  послане друге сповіщення. Наприклад, якщо Ви стягуєте з дорослих 1 гривню (рубель чи будь-яку валюту) за прострочене на 3 дні відео і додаєте інші гривневі стягнення після наступних п'яти днів, вставте "1,3,5" у блок в сітці, де сходяться "дорослі" та "відео". Якщо Ви стягуєте з дорослих за книги белетристики 25 копійок після терміну відстрочення 7 днів і повторюєте стягнення через сім днів пізніше, то запис у відповідному блоці в сітці повинен бути ".25,7,7". Після першого і другого сповіщень, Коха готує "завершальне сповіщення" після числа днів, встановлених завершальним числом у сітці, і встановлює стягнення до максимуму, який є 5.</p>

<p>(Примітка: пеню нараховує скрипт fines2.pl, що розташовується у теці [misc]. Попросіть свого системного адміністратора помістити цей скрипт у crontab, після опівночі, щоб мати пені, обчислені щоночі.)</p>

<!-- TMPL_INCLUDE name="help-bottom.inc" -->