<!-- TMPL_INCLUDE name="help-top.inc" -->
<p>Якщо Ви збираєтеся використовувати друкарку (або декілька друкарок), що прикріплені до Вашого Коха-сервера для створення статистики та повідомлення про операції, то Вам потрібно надати кожноій друкарці ім'я та сказати Коха, як звернутися до цього. Ви робите це, вказуючи Коха яку чергу друку використовувати.</p>

<p>(У Linux, кожна конфігурація друкарки у Вашому файлі printcap визначає чергу друку. Черга друку, заданого по умовчанню, - "lp", але якщо Ви використовуєте більш аніж одну друкарку, Ви матимете інші черги, ймовірно з іменами на зразок "text" чи "postscript". Вкажіть Коха, яку(і) чергу(и) друкарки(ок) Ви хочете використовувати для друку повідомлень безпосередньо з сервера.)</p>

<p>Відзначте, що Ви можете завжди надрукувати екрани з Коха безпосередньо на друкарку, приєднану до Вашої робочої станції, лише використавши функцію друку Вашого браузера.</p>
<!-- TMPL_INCLUDE name="help-bottom.inc" -->
