<!-- TMPL_INCLUDE NAME="opac-top.inc" -->
<div id="mainbloc">
		<h2>Reading History of <!-- TMPL_VAR NAME="firstname" --> <!-- TMPL_VAR NAME="surname" --></h2>
<!-- TMPL_UNLESS NAME="count" -->
You have never borrowed anything from the library.
<!-- TMPL_ELSE -->
<!-- TMPL_IF NAME="showfulllink" -->
Showing All Items | <a class="button" href="opac-readingrecord.pl?limit=">Show Last 50 Items Only</a> <!-- TMPL_ELSE --> Showing Last 50 Items | <a class="button" href="opac-readingrecord.pl?limit=full">Show All Items</a>
<!-- /TMPL_IF --><table>
<tr>
<tr><th><!-- TMPL_UNLESS NAME="orderbytitle" --><a class="transparent" href="/cgi-bin/koha/opac-readingrecord.pl?order=title">Title</a><!-- TMPL_ELSE -->Title<!-- /TMPL_UNLESS NAME="orderbyauthor"--></th>
<th><!-- TMPL_UNLESS --><a class="transparent" href="/cgi-bin/koha/opac-readingrecord.pl?order=author">Author</a><!-- TMPL_ELSE -->Author<!-- /TMPL_UNLESS --></th>
<th><!-- TMPL_UNLESS NAME="orderbydate" --><a class="transparent" href="/cgi-bin/koha/opac-readingrecord.pl">Date</a><!-- TMPL_ELSE -->Date<!-- /TMPL_UNLESS --></th></tr>

<!-- TMPL_LOOP NAME="READING_RECORD" -->

<tr>
<!-- TMPL_IF NAME="toggle" --><td><!-- TMPL_ELSE --><td class="hilighted"><!-- /TMPL_IF --><a class="transparent" href="/cgi-bin/koha/opac-detail.pl?bib=<!-- TMPL_VAR NAME="biblionumber" -->"><!-- TMPL_VAR NAME="title" --></a></td>
<!-- TMPL_IF NAME="toggle" --><td><!-- TMPL_ELSE --><td class="hilighted"><!-- /TMPL_IF --><!-- TMPL_VAR NAME="author" --></td>
<!-- TMPL_IF NAME="toggle" --><td><!-- TMPL_ELSE --><td class="hilighted"><!-- /TMPL_IF --><!-- TMPL_IF NAME="returndate" --><!-- TMPL_VAR NAME="returndate" --><!-- TMPL_ELSE --><em>(Checked out)</em><!-- /TMPL_IF --></td>
</tr>

<!-- /TMPL_LOOP -->
</table>

<!-- /TMPL_UNLESS -->
</div>
<!-- TMPL_INCLUDE NAME="opac-bottom.inc" -->

