<!-- TMPL_INCLUDE NAME="members-top.inc" -->
<div id="mainbloc">
	<h1>Додавання нового юного відвідувача </h1><br>
	<form action="/cgi-bin/koha/members/newjmember.pl" method="post">
		<input type="hidden" name="branchcode" value="<!-- TMPL_VAR NAME="branchcode" -->">
		<input type="hidden" name="expiry" value="<!-- TMPL_VAR NAME="expiry" -->">
		<input type="hidden" name="zipcode" value="<!-- TMPL_VAR NAME="zipcode" -->">
		<input type="hidden" name="borrowernumber" value="<!-- TMPL_VAR NAME="member" -->">
		<input type="hidden" name="updtype" value="I">
		<input type="hidden" name="area" value="<!-- TMPL_VAR NAME="area" -->">
		<input type="hidden" name="city" value="<!-- TMPL_VAR NAME="city" -->">
		<input type="hidden" name="physstreet" value="<!-- TMPL_VAR NAME="physstreet" -->">
		<input type="hidden" name="streetaddress" value="<!-- TMPL_VAR NAME="streetaddress" -->">
		<input type="hidden" name="streetcity" value="<!-- TMPL_VAR NAME="streetcity" -->">
		<input type="hidden" name="phone" value="<!-- TMPL_VAR NAME="phone" -->">
		<input type="hidden" name="phoneday" value="<!-- TMPL_VAR NAME="phoneday" -->">
		<input type="hidden" name="faxnumber" value="<!-- TMPL_VAR NAME="faxnumber" -->">
		<input type="hidden" name="emailaddress" value="<!-- TMPL_VAR NAME="emailaddress" -->">
		<input type="hidden" name="contactname" value="<!-- TMPL_VAR NAME="contactname" -->">
		<input type="hidden" name="altphone" value"<!-- TMPL_VAR NAME="altphone" -->">
	
		<table border="0" cellspacing="0" cellpadding="5" >
		<tr>
			<th  colspan="5">
				БАТЬКО/МАТИ ЧИ ОПІКУН 
			</th>
		</tr>
		<tr valign="top" bgcolor="white">
			<td>Вітання</td>
			<td>Імена*</td>
			<td colspan="2">Прізвище*</td>
			<td>Номер приналежності відвідувача</td>
		</tr>
		<tr>
			<td>
				<select name="title" size="1">
					<option value=" ">Без заголовку
					<!-- TMPL_LOOP NAME="titleloop" -->
					<option value="<!-- TMPL_VAR NAME="title" -->" <!-- TMPL_VAR NAME="selected" -->><!-- TMPL_VAR NAME="title" -->
					<!-- /TMPL_LOOP -->
				</select>
			</td>
			<td><input type="text" name="firstname_guardian" size="20" value="<!-- TMPL_VAR NAME="firstname" -->"></td>
			<td colspan="2"><input type="text" name="surname_guardian" size="20" value="<!-- TMPL_VAR NAME="surname" -->"></td>
			<td><input type="text" name="guardian_number" size="20" value="<!-- TMPL_VAR NAME="cardnumber" -->"></td>
		</tr>
		<!-- TMPL_LOOP NAME="cmemloop" -->
		<tr>
			<tH colspan="5">
				ДИТИНА <!-- TMPL_VAR NAME="count" -->
			</tH>
		</tr>
		<tr>
			<td colspan="5">
				Відвідувач № <!-- TMPL_VAR NAME="cmember" -->, номер квитка* <input type="text" name="cardnumber_child_<!-- TMPL_VAR NAME="i" -->" size="20" value="<!-- TMPL_VAR NAME="jcardnumber" -->"><br>
				<input type="hidden" name="bornumber_child_<!-- TMPL_VAR NAME="i" -->" value="<!-- TMPL_VAR NAME="cmember" -->">
			</td>
		</tr>
		<tr>
			<td>Ім'я*</td>
			<td>Прізвище*</td>
			<td>Дата народження (<!-- TMPL_VAR NAME="dateformat" -->)*</td>
			<td>&nbsp;</td>
			<td>Школа</td>
		</tr>
		<tr>
			<td><input type="text" name="firstname_child_<!-- TMPL_VAR NAME="i" -->" size="20" value=""></td>
			<td><input type="text" name="surname_child_<!-- TMPL_VAR NAME="i" -->" size="20" value=""></td>
			<td><input type="text" name="dateofbirth_child_<!-- TMPL_VAR NAME="i" -->" size="10" value=""></td>
			<td>
				<input type="radio" name="sex_child_<!-- TMPL_VAR NAME="i" -->" value="F"><b>Ж</b> <input type="radio" name="sex_child_<!-- TMPL_VAR NAME="i" -->" value="M"><b>М*</b>
			</td>
			<td><input type="text" name="school_child_<!-- TMPL_VAR NAME="i" -->" size="20" value=""></td>
		</tr>
                <tr>
                        <th colspan="5" >БІБЛІОТЕЧНЕ ВИКОРИСТАННЯ</th>
                </tr>
                <tr>
                    <td>Дата приєднання (якщо сьогодні, то залишіть пустим)</td>
                    <td><input type="text" name="joining_child_<!-- TMPL_VAR NAME="i" -->" size="12" maxlength="10" value="<!-- TMPL_VAR name="joining" -->"></td>
                    <td>Дата закінчення терміну (для автоматичного обрахунку залишіть пустим)</td>
                    <td><input type="text" name="expiry_child_<!-- TMPL_VAR NAME="i" -->" size="12" maxlength="10" value="<!-- TMPL_VAR name="expiry" -->"></td>
                </tr>
		<tr>
			<td colspan="5">2 наступні поля доступні для Вашого власного використання. Вони можуть бути корисними для цілей статистики</td>
		<tr>
			<td>Поле 1 (для сортування) </td>
			<td colspan="4">
				<input type="text" name="sort1" value="<!-- TMPL_VAR NAME="sort1" -->">
			</td>
		</tr>
		<tr>
			<td>Поле 2 (для сортування) </td>
			<td colspan="4">
				<input type="text" name="sort2" value="<!-- TMPL_VAR NAME="sort2" -->">
			</td>
		</tr>
		<tr>
			<td>Нотатки </td>
		</tr>
		<tr>
			<td colspan="5"><textarea name="altnotes_child_<!-- TMPL_VAR NAME="i" -->" wrap="physical" cols="70" rows="3"></textarea></td>
		</tr>
		<!-- /TMPL_LOOP -->
		<tr>
			<td>
				<input type="submit" class="button members" value="Гаразд">
			</td>
			<td><input type="reset" class="button members" value="Очистити усі поля"></td>
		</tr>
	
		</table>
	</form>
</div>

<!-- TMPL_INCLUDE NAME="members-bottom.inc" -->
