<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->

MARC biblio export
<!-- TMPL_INCLUDE NAME="menus.inc" -->
<!-- TMPL_INCLUDE NAME="menu-admin.inc" -->
	<div id="bloc25">
		<h2 class="parameters">Select biblios to export</h2>
		<form method="post">
			<p>from biblio number : <input type="text" name="start_bib">
			to biblio number : <input type="text" name="end_bib"></p>
			<p>Document type : <!--TMPL_VAR Name="CGIitemtype"--></p>
			<p>Branch :  <select name="branch">
			<option value="">Default</option>
                        <!-- TMPL_LOOP name="branchloop" -->
                                <option value="<!-- TMPL_VAR name="value" -->" <!-- TMPL_IF name="selected" -->selected<!-- /TMPL_IF -->><!-- TMPL_VAR name
="branchname" --></option>
                        <!-- /TMPL_LOOP -->
                        </select>
</p>
			<p>from itemcallnumber : <input type="text" name="start_callnumber">
			to itemcallnumber : <input type="text" name="end_callnumber"></p>
			<p>Limit to <input type="text" name="limit"> first biblio</p>
			<p>Note : the items are NOT exported by this tool</p>
			<input type="hidden" name="op" value="export">
			<input type="submit" value="Export" class="button">
		</form>
	</div>
</div>
<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
