/* COLORS, BACKGROUNDS, AND BORDERS */

a {
	color : #3366CC;
}

a:visited {
	color : #3366CC;
}

a:hover {
	color : #003399;
}

a:active {
	color : #003399;
}

a:link.current {
	background-color : transparent;
	color : #990000;
}

a:visited.current {
	background-color : transparent;
	color : #990000;
}

a:hover.current {
	background-color : #CCFF00;
	color : #CC3333;
}

a:active.current {
	background-color : #99CC00;
	color : #FFFF99;
}

a:link.nav {
	background-color : #EEEEEE;
	border : 0px solid #CCCC99;
	color : #000066;
}

a:visited.nav {
	background-color : #EEEEEE;
	border : 0px solid #CCCC99;
	color : #000066;
}

a:hover.nav {
	background-color : #FFFFCC;
	border : 0px solid #CCCC99;
	color : #CC3333;
}

a:active.nav {
	background-color : #FFFFCC;
	border : 0px solid #CCCC99;
	color : #D25500;
}

.menu a:link.logout {
	background-color : #FFDD75;
	color : Black;
}

.menu a:visited.logout {
	background-color : #FFDD75;
	color : Black;
}

.menu a:hover.logout {
	background-color : #FFCC33;
	color : Black;
}

.menu a:active.logout {
	background-color : #FFDD75;
	color : Black;	
}

body {
	background-color : #FFFFFF;
}

caption {
	color : Black;
}

div.form, div.details {
	background-color : #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
	color : #3366CC;
}

h1 {
	color : Black;
}

h1.logo {
	color : #D3DFAD;
}

h3.author {
	color : Black;
}

p.error, div.error {
	background-color : #FFFFCC;
	border : 1px dashed #cc6600;
}

div.error h3 {
	color : #990000;
}

table {
	background-color : #ffffff;
}

td {
	border-bottom : 1px solid #DDDDDD;
	border-right : 1px solid #DDDDDD;
}

th {
	background-color : #D8DCE0;
	border-bottom : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
}

th[scope="row"] {
	background-color : #E7E7CA;
}

tr.highlight th[scope="row"] {
	background-color : #EEEEEE;
}

th:last-child {
	background-color : #D8DCE0;
	border-bottom : 1px solid #CCCCCC;
	border-right : 0 solid #CCCCCC;
}

td.input, div.form td, div.details td {
	border-bottom : 1px solid #CCCCCC;
	border-left : 0;
	border-right : 0;
	color : #000000;
}

td.label, div.form th, div.details th {
	background-color : #FFF;
	border-bottom : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	border-right : 0;
	border-top : 0;
	color : Black;
}

td.label {
	border-bottom : 1px solid #CCCCCC;
	border-left : 1px solid #CCCCCC;
	color : Black;
}

td:last-child {
	border-bottom : 1px solid #CCCCCC;
	border-right : 0 solid #CCCCCC;
}

tr.highlight {
	background-color : #F4F5F7;
}

.content-block {
	background-color : #FFFFFF;
	border : 1px solid #CCCCCC;
}

.current {
	background-color : #FFFFE8;
	color : #990000;
}

.further {
	color: #CCCCCC;
	border: 2px solid #DDDDDD;
	background-color : #F4F5F7;
}

.further h4 {
	background-color : #DDDDDD;
}

.further li {
	border-bottom : 1px solid #DDDDDD;
	}

.detail-sidebar {
	background-color : #EEEEEB;
}

.operations li a, .operations li a:visited {
	border: 2px solid #CCCCCC;
	color: #FFFFCC;
	background-color : #D25500;
}

.operations li a:hover {
	color: #FFFF99;
	background-color: #CC0033;
}

.operations li a:active {
	color: : #FFFF99;
	background-color: #CC0033;
}

.loggedin {
	color : #D8DEB8;
}

.marctag {
	color : #000000;
	background-color : #EEEEEB;
}

.marcsubfieldletter {
	background-color: #D8DCE0;
}

.marcsubfieldname {
	background-color: #D8DCE0;
}

.subfield {
	background-color: #D8DCE0;
}

.subfieldvalue {
	background-color : #FFFFFF;
}

.menu {
	color : #000000;
}

.menu label {
	border-left : 1px solid black;
}

#members a {
	text-decoration : none;
}

.menu a:link, #members a:link {
}

.menu a:visited, #members a:visited {
}

.menu a:hover, #members a:hover {
}

.menu a:active, #members a:active {
}

.opac-detail {
	background-color : #FFFFCC;
}

em.new {
	color : #CC3333;
}

.note {
	background-color : #EEEEEB;
	border-left : 1px solid #DDDED3;
	border-top : 1px solid #DDDED3;
	border-right : 1px solid #DDDED3;
	border-bottom : 1px solid #DDDED3;
}
.opac-detail dd {
	border-bottom : 1px solid #E7E7CA;
	color : #000000;
}

.submit {
}

input.icon {

	color : Black;
}

#footer {
}

#footer a.termsofuse {
	background-color : #CCCCCC;
}

#main {
	background-color : transparent;
	/*border-right  : 1px solid #EEEEEE;*/
}

#window {
	background-color : #EEEEEB;
	/*border-left : 1px solid #CCCC99;*/
}

#masthead {
	background-color : White;
	/*border-bottom : 1px solid #EEEEEE;*/
}

#nav {
	background-color : White;
	border-left : 10px solid #CCCCCC;
}

#nav ul li {
	/*background-color : #EFF1DC; width : 100%;
	border-bottom : 1px solid #EEEEEB;
border-right : 1px solid #EEEEEB;*/
}

#nav ul li+li {
	/*border-bottom : 1px solid #EEEEEB;*/
}

#nav li ul li {
/*	background-color : #E7E7CA;
	border-bottom : 1px solid #EEEEEB;*/
}

#nav li ul li a {
/*	color: Blue;*/
}

#nav li ul li a:link {
/*	color: #359;*/
}

#nav li ul li a:visited {
/*	color: #359;*/
}

#nav li ul li a:hover {
/*	color: #CC3333;*/
}

#results, .results {
	color : Black;
}

#sidebar {
	background-color : #E8EBF0;
	border : 1px solid #CCCCCC;
}

#sidebar h3 {
}

#sidebar .submit {
}

#search-sidebar {
}

.sidebar-box {
	background-color : #E8EBF0;
	border : 1px solid #cccccc;
}

.issued {
	color : #999999;
}

tr.overdue td {
	background-color : #fea7a7;
}

td.overdue {
	color : #cc0000;
}

	
#members {
	background-color : transparent;
	border : 0px dashed #666666;
	color : Black;
	}

#members a.logout {
	background-color : #FFDD75;
	color : Black;
}

#members a:hover.logout {
	background-color : #FFCC33;
}

.loggedinusername {
	color : #666666;
}

/* Amazon CSS Stuff */

#itemReviews dt {
	border-bottom: 1px solid #ddd;
}