[%# duplicates circ-menu.inc but assumes all borrower attributes are in a borrower variable rather than
in the global namespace %]
[% IF borrower %]
<div class="patroninfo"><h5>[% borrower.firstname %] [% borrower.surname %] ([% borrower.cardnumber %])</h5>
<!--[if IE 6]>
<style type="tex/css">img { width: expression(this.width > 140 ? 140: true);
}</style>
<![endif]-->
<ul class="patronbriefinfo">
[% IF ( patronimages ) %]
[% IF borrower.has_picture %]
<li><img src="/cgi-bin/koha/members/patronimage.pl?crdnum=[% borrower.cardnumber %]" id="patronimage" alt="[% borrower.firstname %] [% borrower.surname %] ([% borrower.cardnumber %])" border="0" style="max-width : 140px; margin: .3em 0 .3em .3em; padding: .2em; border: 1px solid #CCCCCC; width:auto !important; width:130px;" /></li>
[% ELSE %]
<li id="patronbasics"><img src="[% interface %]/[% theme %]/img/patron-blank.png" alt="[% borrower.firstname %] [% borrower.surname %] ([% borrower.cardnumber %])" border="0" style="margin: .3em 0 .3em .3em; padding: .2em; border: 1px solid #CCCCCC;" /></li>
[% END %]
[% END %]
    [% IF ( borrower.address or borrower.address2 ) %]
        [% IF ( borrower.address ) %]
            <li class="patronaddress1">[% borrower.address %]</li>
        [% END %]
        [% IF ( borrower.address2 ) %]
            <li class="patronaddress2">[% borrower.address2 %]</li>
        [% END %]
    [% ELSE %]
            <li><span class="empty" id="noaddressstored">No address stored.</span></li>
    [% END %]
    <li class="patroncity">
    [% IF borrower.city %]
            [% borrower.city %][% IF borrower.state %], [% borrower.state %][% END %]
	    [% borrower.zipcode %][% IF ( borrower.country ) %], [% borrower.country %][% END %]
    [% ELSE %]
        <span class="empty" id="nocitystored">No city stored.</span>
    [% END %]</li>
    <li class="patronphone">[% IF borrower.phone %]
        [% borrower.phone %]
    [% ELSE %]
        [% IF borrower.mobile %]
            [% borrower.mobile %]
        [% ELSE %]
            [% IF borrower.phonepro %]
                [% borrower.phonepro %]
            [% ELSE %]
                <span class="empty" id="nophonestored">No phone stored.</span>
            [% END %]
        [% END %]
    [% END %]</li>
    [% IF borrower.email %]
        <li class="email"> <a href="mailto:[% borrower.email %]" title="[% borrower.email %]">[% borrower.email %]</a></li>
    [% ELSE %]
        [% IF borrower.emailpro %]
            <li class="email"> <a href="mailto:[% borrower.emailpro %]" title="[% borrower.emailpro %]">[% borrower.emailpro %]</a></li>
        [% ELSE %]
            <li> <span class="empty">No email stored.</span>    </li>
        [% END %]
    [% END %]
    [% IF ( ExtendedPatronAttributes ) %][% FOREACH extendedattribute IN borrower.extendedattributes %]
        [% IF ( extendedattribute.display_checkout ) %]
            [% IF ( extendedattribute.value ) %]
                <li class="patronattribute"><span class="patronattributelabel">[% extendedattribute.description %]</span> : [% IF ( extendedattribute.value_description ) %][% extendedattribute.value_description %][% ELSE %][% extendedattribute.value %][% END %]</li>
            [% END %]
        [% END %]
    [% END %][% END %]
    <li class="patroncategory">Category: [% borrower.description %] ([% borrower.categorycode %])</li>
    <li class="patronlibrary">Home library: [% IF ( borrower.branchname ) %][% borrower.branchname %][% ELSE %][% borrower.branch %][% END %]</li>
</ul></div>
<div id="menu">
<ul>
    [% IF ( circview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/circ/circulation.pl?borrowernumber=[% borrower.borrowernumber %]">Check out</a></li>
	[% IF ( CAN_user_borrowers ) %]
	[% IF ( detailview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/moremember.pl?borrowernumber=[% borrower.borrowernumber %]">Details</a></li>
	[% END %]
	 [% IF ( CAN_user_updatecharges ) %]
	[% IF ( finesview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/boraccount.pl?borrowernumber=[% borrower.borrowernumber %]">Fines</a></li>
	[% END %]
    [% IF ( RoutingSerials ) %][% IF ( routinglistview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/routing-lists.pl?borrowernumber=[% borrower.borrowernumber %]">Routing lists</a></li>[% END %]
    [% IF ( intranetreadinghistory ) %][% IF ( readingrecordview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/readingrec.pl?borrowernumber=[% borrower.borrowernumber %]">Circulation history</a></li>[% END %]
    [% IF ( CAN_user_parameters ) %][% IF ( logview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/tools/viewlog.pl?do_it=1&amp;modules=MEMBERS&amp;modules=circulation&amp;object=[% borrower.borrowernumber %]&amp;src=circ">Modification log</a></li>[% END %]
    [% IF ( EnhancedMessagingPreferences ) %]
    [% END %]
    [% IF ( sentnotices ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/notices.pl?borrowernumber=[% borrower.borrowernumber %]">Notices</a></li>
    [% IF (  statisticsview ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/statistics.pl?borrowernumber=[% borrower.borrowernumber %]">Statistics</a></li>
    [% IF EnableBorrowerFiles %]
        [% IF ( borrower_files ) %]<li class="active">[% ELSE %]<li>[% END %]<a href="/cgi-bin/koha/members/files.pl?borrowernumber=[% borrower.borrowernumber %]">Files</a></li>
    [% END %]
</ul></div>
[% END %]

