body {
	font-family : Verdana, Geneva, Arial, sans-serif;
	font-size : .7em;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	margin : 1em 0;
}

caption {
	font-size : 140%;
	text-align : left;
	font-weight : bold;
}

td,th {
	border-left : 1px solid #CCCCCC;
	border-bottom : 1px solid #CCCCCC;
	padding : 5px;
}

th {
	background-color : #CCCCCC;
	border-left : 1px solid #999999;
	border-bottom : 1px solid #999999;
}

th[scope=row] {
	background-color : #EEEEEE;
	text-align : right;
}

input[type=submit], input[type=button] {
	background-color : #6699cc;
	color : #FFFFFF;
	font-size : 1em;
	font-weight : bold;
}

tr.highlight td, tr.highlight th {
	background-color : #EEEEEE;
}

