body {
    font-family : Verdana, Geneva, Arial, sans-serif;
    font-size : .9em;
    color:#494949;
    background: url( /intranet-tmpl/prog/img/css_header.png );
    background-repeat:repeat-x;
    background-color:#EDF5FA;
}

h1 {
    margin:0px;
}
h2 {
    display:block;
    clear:left;
    margin:0px 0px 10px 10px;
}

h3 {
    display:block;
    clear:left;
    margin:0px 0px 0px 10px;
}

table {
    border-collapse : inherit;
    border : 1px solid #CCCCCC;
    margin : 1em 0 1em 20px;
    margin-right : 5%;
    border-collapse:collapse;
}

caption {
    font-size : 140%;
    text-align : left;
    font-weight : bold;
}

td,th {
    /*border-left : 1px solid #CCCCCC;
    border-bottom : 1px solid #CCCCCC;*/
    border : 1px solid #CCCCCC;
    padding : 5px;
}

th {
    background-color : #CCCCCC;
    border-left : 1px solid #999999;
    border-bottom : 1px solid #999999;
}

th[scope=row] {
    background-color : #EEEEEE;
    text-align : right;
}

p {
    margin:0px 0px 0px 20px;
}
input {
    font-size:0.9em;
}

select {
    font-size:0.9em;
}

fieldset {
    border : 1px solid #bbb;
    display: inline;
    vertical-align: top;
}

input[type=submit], input[type=button], input[type=reset] {
    border:0px;
    color: #0072b9;
    font-weight:bold;
    background: url( /intranet-tmpl/prog/img/bg-tab.png );
    font-size : 0.8em;
    padding:3px;
    text-decoration:none;
    display:inline;
    cursor:pointer;
    margin-left:20px;
}

label {
    font-style:italic;
    vertical-align:top;
    display:block;
    float:left;
    width:10em;
    margin-right:0.2em;
}

p {
clear:left;
}

a {
    text-decoration:none;
    color:#027ac6;
}
a:hover {
    text-decoration:underline;
    color:#0072b9;
}
.searchresults table tr:hover{
    background-color: #CCFFFF;
}

tr.highlight td, tr.highlight th {
    background-color : #EEEEEE;
}

.here {
    color: black;
    text-decoration:none;
}

.click{
    cursor:pointer;
    color: #027ac6;/*blue*/
}
.click:hover{   
    text-decoration:underline;
}

#problem {
    color: red;
    background-color:white;
    font-weight : bold;
    margin:10px;
}

#admin_stopwords_select UL {
   width: 600px;
}

#admin_stopwords_select UL LI {
   white-space: nowrap;
}

legend {
    font-size:120%;
    font-weight:bold;
}

.problem {
    color: white;
    background-color:red;
    font-weight : bold;
    margin:10px;
}

.toogle{
	background-color:#ffffcc;
}

.pages{
	margin:.7em;
}
/* css styles for reserves color alerts */
.onloan {
    background-color: #FFED3D;
}

.reserved {
    background-color: #8EBAFF;
}

.transfered {
    background-color: #F9FF9A;
}

.inwait {
    background-color: #33CC99;
}

.other {
    background-color: #FF0000;
}

.available {
    font-size:0.75em;
}

.unavailable {
    background-color: #FFED3D;
    font-size:0.75em;
}

.hasexpirated {
    text-decoration: line-through;
}

/* style for search terms in catalogsearch */
.term {
    background-color:yellow;
}

/* end of css styles for reserves color alerts */

/* the Koha logo (top left) */
#kohalogo {
    position:fixed;
    left:20px;
    top:10px;
}

#kohalogo h3 {
    padding-top:5px;
    margin-left:0px;
}
#kohalogo h3 a {
    color:white;
}
/* MAIN MENU STYLES */
#mainmenu {
    display:block;
    position:fixed;
    font-weight : normal;
    margin-top:30px;
    margin-right: 5px;
    padding-right: 5px;
    font-size:0.9em;
}

#mainmenu a {
    display:block;
    margin-bottom:0px;
    padding-left :5px;
    text-decoration:none;
    font-weight:bold;
    color:#027ac6;
}


#mainmenu a:hover {
    display:block;
    margin-bottom:0px;
    padding-left :5px;
    text-decoration:none;
    font-weight:bold;
    background-color:#027ac6;
    color:white;
}

#mainmenu ul a {
    display:block;
    margin-bottom:5px;
    padding-left :5px;
    text-decoration:none;
    font-weight:normal;
    color:#027ac6;
}

#mainmenu ul a:hover {
    display:block;
    margin-bottom:5px;
    padding-left :5px;
    text-decoration:none;
    font-weight:normal;
    background-color:#027ac6;
    color:white;
}

#mainmenu ul {
    list-style-type: none;
    padding-left:20px;
    margin-bottom:0px;
    margin-top:0px;
    color:#027ac6;
}

#mainmenu li {
    list-style-type: none;
    padding-left:0px;
    margin-left:0px;
    margin-bottom:0px;
    margin-top:0px;
    color:#027ac6;
}

#mainmenu label {
    width:4em;
}

#mainmenu h3 {
    color:white;
    font-size:1.2em;
    margin:10px 0px 10px 0px ;
}

#mainmenu input {
    border:0px;
    border-bottom:1px solid #027ac6;
}
#mainmenu input[type=submit], input[type=button], input[type=reset] {
    margin-left:0px;
    border-bottom:0px;
}


/* submenus styles */
#submenu {
    position:absolute;
    top:10px;
    left:220px;
}

#submenu a {
    margin:5px;
    text-decoration:none;
    color:white;
}

#submenu a:hover {
    margin:5px;
    background-color:white;
    color:#027ac6;
}

/*Action button*/
#action {
    float:right;
}

#action a {
    color: #0072b9;
    font-weight:bold;
    background: url( /intranet-tmpl/prog/img/bg-tab.png );
    font-size : 0.8em;
    padding:3px;
    margin-bottom:2px;
    text-decoration:none;
    display:block;
}

/*edit action*/
#action .edit {
    display:inline;
    margin-bottom:10px;
}

#action .edit a {
    background:none;
    background-color : #0072b9;
    color : white;
}

#action .edit a:hover {
    cursor:pointer;
}

#action .view {
	display:inline;
	margin-bottom:5px;
}

#action .view a {
    background:none;
    background-color : #5ab5ee;
    color : white;
    margin-top: 1px;
}

#action .view a:hover {
    cursor:pointer;
}

#action .others {
    display:inline;
    margin-bottom:5px;
}

#action .others a {
    background:none;
    background-color : #2385C2;
    color : white;
    margin-top: 1px;
}

#action .others a:hover {
    cursor:pointer;
}

/* Main body style */
#main {
    margin-left:220px;
    margin-top:75px;
    padding:5px;
    padding-bottom:100px;
    background-color:white;
    border:1px solid #bbb;
}

/* facets bloc */
#facets {
    position:absolute;
    right:1em;
}

#facets dl {
    background-color:white;
    margin:0px;
}

#facets dt {
    text-align:right;
    font-weight:bold;
}

#facets dd {
    border:1px solid #CCCCCC;
}

/* the USER information block */
#librarian_information {
/*     position:absolute; */
    float:right;
    font-size:10pt;
}

/* css style for reregistration alert */

.reregistrinfo {
    color: #6699cc;
    font-weight : bold;
    background-color : #eeeeee;
}
/* MARC editor */

/* styles for the 11 buttons that the user can click on */
/* the design of the active tab button (only 1 at a given time)*/
.tab_active {
    color: #6699CC;
    background-color : #CCCCCC;
    font-size : 1em;
    border: 2px inset;
    font-weight : bold;
    text-decoration:none;
    display: inline;
    text-decoration:none;
    margin-left:10px;
}


/* the online help button */
#onlinehelp {
    position:absolute;
    top:0px;
    right:0px;
}
#onlinehelp a {
        color:white;
}

/* the login box */
#login {
    font-size:0.7em;
}

/* the design of the INactives tab buttons (all other tabs) */
.tab_inactive {
    background-color : #6699CC;
    color : #FFFFFF;
    font-size : 1em;
    font-weight : bold;
    display:inline;
    border: 2px outset;
    text-decoration:none;
    margin-left:10px;
}

/* the button of INactive tabs : we need this one to have white color on links, otherwise, default a look will be choosen */
#tabs a {
    color:white;
    text-decoration:none;
    padding-right:1.2em;
    padding-left:1.2em;
    -moz-border-radius:4px;
}

/* specify that we to do when the mouse is on 1 button */
#tabs a:hover {
    border: 2px inset;
}

#tabs {
    margin-top:35px;
    margin-bottom:10px;
}

/* styles for the 11 content blocks */
/* the property for hidden tabs */
.content_hidden {
    visibility:hidden; /* you propably don't need to change this one */
    display:none;
}

/* the property for the displayed tab */
.content_visible {
    visibility:visible; /* you propably don't need to change this one */
    display:block;
}

.lineSelected {
    background-color:yellow;
}

/* display more informations with css layer */
a.info {
    position: relative;
    text-decoration: none;
    color: black;
    border-bottom: 1px gray dotted;
}

a.info span {
    display: none;
    width:300px;
}

a.info:hover {
    background: none; /* correcting IE bug*/
    z-index: 500;
}
a.info:hover span {
    display: inline;
    position: absolute;
    top: 2em;
    right: 1em;
    background: orange;
    text-align: center;
    color: white;
    padding: 2px;
}

/* the itemtype list (in adv search) */
#itemtypelist {
    width:700px;
}
#itemtypelist td {
    border : 0px;
    margin : 0px;
    padding: 5px;
    border-collapse:collapse;
    border: 1px solid white;
    background-color:#CCCCCC;
    vertical-align:top;
}

#itemtypelist p {
    margin:0px;
}

/* MARC Editor stylesheet */

/* the style of tag description */
div.tag_title {
    font-weight:bold;
    cursor:pointer;
}

div.tag_title span {
    display:inline;
    font-size:1em;
    color : #027ac6;
}

div.tag_title a:hover{
    text-decoration:none;
}


.subfield_line{
    margin-left:1.1em;
}

.CursorHelp{
    cursor:help;
}

.buttonDot{
    cursor:help;
}

.buttonUp {
    cursor: crosshair;
    color: grey;
    font-size: .8em;
}

.labelsubfield{
    min-width:210px;
    display:inline;
}

.subfield_mandatory{
    color:red;
}

.subfield_not_filled {
    width:506px;
    color:darkblue;
    background-color:#ffe5ed;
    border:1px solid #ffe5ed;
    border-bottom:1px solid red;
    padding:0.15em;
}

.line_not_filled{
    margin-left:1.1em;
    background-color:#ffe5ed;
    border:1px solid red;
}

.indicator{
    width:20px;
    color:darkblue;
    background-color: #ffffff;
    border:1px dotted #a4cde6;
    padding:0.15em;
}

.indicator:focus {
    background-color:#fdfde3;
    border-bottom:1px solid darkblue;
    width:20px;
    color:darkblue;
}

.input_marceditor {
    width:506px;
    color:darkblue;
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-bottom:1px solid lightgray;
    padding:0.15em;
}

.input_marceditor:focus{
    background-color:#fdfde3;
    border-bottom:1px solid darkblue;
    width:506px;
    color:darkblue;
}

.tag{
    padding-bottom:1.1em;
/*     border-bottom:1px dotted #a4cde6; */
}

.buttonPlus {
    cursor: crosshair;
    color: grey; 
    font-size: 80%;
}

/*.flat{
    border:0px;
}*/

/* End of Marc Editor stylesheet */
