body {
	font-family : Verdana, Geneva, Arial, sans-serif;
	font-size : .9em;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	margin : 1em 0;
}

caption {
	font-size : 140%;
	text-align : left;
	font-weight : bold;
}

td,th {
	border-left : 1px solid #CCCCCC;
	border-bottom : 1px solid #CCCCCC;
	padding : 5px;
}

th {
	background-color : #CCCCCC;
	border-left : 1px solid #999999;
	border-bottom : 1px solid #999999;
}

th[scope=row] {
	background-color : #EEEEEE;
	text-align : right;
}

input {
	font-size:0.9em;
}

select {
	font-size:0.9em;
}

input[type=submit], input[type=button], input[type=reset] {
	background-color : #6699cc;
	color : #FFFFFF;
	font-size : 1em;
	font-weight : bold;
}

tr.highlight td, tr.highlight th {
	background-color : #EEEEEE;
}

#admin_stopwords_select UL {
   width: 600px;
}

#admin_stopwords_select UL LI {
   white-space: nowrap;
}

legend {
	font-size:120%;
	font-weight:bold;
}

.problem {
	color: white;
	background-color:red;
}

/* css styles for reserves color alerts */
.onloan {
	background-color: #FFED3D;
}

.reserved {
	background-color: #8EBAFF;
}

.transfered {
	background-color: #F9FF9A;
}

.inwait {
	background-color: #33CC99;
}

.other {
	background-color: #FF0000;
}

/* end of css styles for reserves color alerts */

/* MAIN MENU STYLES */
#mainmenu {
    display:block;
    float:left;
    margin-right:2px;
    border-right:1px solid black;
}

#mainmenu a {
    display:block;
    margin:5px;
    text-decoration:none;
    color:black;
}
#mainmenu a:hover {
    display:block;
    margin:5px;
    background-color:#6699cc;
    color:white;
}

/* submenus styles */
#submenu {
    margin-left:10%;
}
#submenu a {
    margin:5px;
    text-decoration:none;
    color:black;
}
#submenu a:hover {
    margin:5px;
    background-color:#6699cc;
    color:white;
}

/* the USER information block */
#librarian_information {
/*     position:absolute; */
    float:right;
    font-size:10pt;
}

#main {
	background-color : #C2CED3;
	border-left : 1px solid #000000;
	margin-left : 20%;
	margin-right : 1%;
	margin-top : 2%;
	padding : 10px;
}

#facetsmenu {
position : absolute;
left : 1px;
width : 15%;
    display:block;
    float:left;
    margin-right:2px;
    margin-top:2%;
    border-right:1px solid black;
}
#facetsmenu ul {
	background-color : #C4C6C7;
	border-bottom : 1px solid #FFFFCC;
	border-left : 0px solid #FFFFCC;
	border-right : 0px solid #006699;
	border-top : 0px solid #FFFFCC;
	font-size : .8em;
	list-style : none;
	padding : 2px;
	text-align : left;
	width : 100%;
}
#facetsmenu ul li {
	
	list-style : none;
	padding : 1px;
	text-align : right;
	
}
