body {
	font-family : Verdana, Geneva, Arial, sans-serif;
	font-size : .9em;
}

table {
	border-collapse : collapse;
	border-top : 1px solid #CCCCCC;
	border-right : 1px solid #CCCCCC;
	margin : 1em 0;
}

caption {
	font-size : 140%;
	text-align : left;
	font-weight : bold;
}

td,th {
	border-left : 1px solid #CCCCCC;
	border-bottom : 1px solid #CCCCCC;
	padding : 5px;
}

th {
	background-color : #CCCCCC;
	border-left : 1px solid #999999;
	border-bottom : 1px solid #999999;
}

th[scope=row] {
	background-color : #EEEEEE;
	text-align : right;
}

input {
	font-size:0.9em;
}

select {
	font-size:0.9em;
}

input[type=submit], input[type=button], input[type=reset] {
	background-color : #6699cc;
	color : #FFFFFF;
	font-size : 1em;
	font-weight : bold;
}

tr.highlight td, tr.highlight th {
	background-color : #EEEEEE;
}

#admin_stopwords_select UL {
   width: 600px;
}

#admin_stopwords_select UL LI {
   white-space: nowrap;
}

A.button {
  background-color: #69c;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid #eee;
  border-right-color: gray;
  border-bottom-color: gray;
  padding: 2px;
}

legend {
	font-size:120%;
	font-weight:bold;
}
