<html>
<head>
<title>UNIMARC constructeur champ 700-4</title>
</head>
<body>
<p>Sélectionnez la valeur pour le champ 700 $4. Elle sera automatiquement reportée dans la zone 700 $8 qui suit.</p>
<form name="f_pop" onSubmit="javascript:report()">
<table>
	<tr>
		<td>Code date publication </td><td><select name="f1" size="1">
		<option value="075 - postface" <TMPL_IF name="f1_075">SELECTED</TMPL_IF>>postface</option>
			<option value="651 - dir. de publication" <TMPL_IF name="f1_651">SELECTED</TMPL_IF>>dir. de publication</option>
			<option value="440 - illustrateur" <TMPL_IF name="f1_440">SELECTED</TMPL_IF>>illustrateur</option>
			<option value="080 - préface, notes" <TMPL_IF name="f1_080">SELECTED</TMPL_IF>>préface, notes</option>
			<option value="730 - traducteur" <TMPL_IF name="f1_730">SELECTED</TMPL_IF>>traducteur</option>
			</select>
		</td>
	</tr>
	<tr><td colspan=2><input type="submit" value="OK"></td></tr>
</table>
</form>
<script>
	function report() {
		x = document.f_pop.f1.value.split(' - ');
		opener.document.f.field_value[<TMPL_VAR name="index">].value= x[0];
		if (<TMPL_VAR name="index2">>0) {
			opener.document.f.field_value[<TMPL_VAR name="index2">].value= x[1];
		}
		self.close();
		return false;
	}
</script>
</body>
</html>
