<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Circulation Transfers</h1>

<p>   
   This tool allows temporary reassignment of an item to another branch.</p>
	<ul>
		<li>	   
	   Click 'Transfer' on the Circulation menu</li>
		<li>	   
	   Choose the library you want to transfer the book to from the pull down</li>
		<li>	   
	   Scan to type the barcode for the book you want to transfer into the barcode field
		<ul>
			<li>		   
		   If you try to transfer and item the library it's already at you will be presented with a message to the right of the transfer form telling you that the item is already at the library</li>
		</ul></li>
		<li>	   
	   You will be presented with a confirmation of transfer requests below the transfer form after hitting 'Submit'</li>
		<li>	   
	   When looking at the item record, the 'Home Library' will still remain, but the 'Current Location' has changed</li>
	</ul>
	
<!-- TMPL_INCLUDE NAME="help-bottom.inc" -->
