<!-- TMPL_INCLUDE NAME="help-top.inc" -->

<h1>Circulation Check Out (Issues)</h1>

<h2>Q: How do I check out an item to a patron?</h2> <p> A: Start by scanning the patron&rsquo;s barcode or type in their name to find their account. Once Koha has found the patron, you will see a new form for scanning or typing the item&rsquo;s identifying number (usually a barcode). If the item can be checked out without problems, it will be done immediately and shown with other patron checkouts at bottom. </p> 
<h2>Q: How do I set up a sticky date?</h2><p>A: If you wish to have this item and all subsequent items in this transaction to have a date due other than the default date due defined for the item type, use the &ldquo;Sticky Due Date&rdquo; to set the date due before scanning the first item. </p> 
<h2>Q: What to do I do if there is a problem with a checkout?</h2> <p>A: If there is a problem with an checkout, then a box will appear and ask for confirmation, if possible. Confirming will override the system and check out the item. </p> 
<h2>Q: What can I do with a blocked checkout?</h2> <p> A:  If the checking out is really impossible (for example, the barcode does not exist), then you can&rsquo;t confirm the checkout.    </p>  
<h2>Q: What happens if an item is checked out to another patron?</h2><p> A: Confirming will checkout the check out and automatically check in the item from the other patron account.   </p>
<h3>INFORMATION: BRANCH AND PRINTER SETTINGS.
</h3> <p>Before you begin, it is very important that you take note of the branch and printer settings and change them if necessary. This should only have to be done the first time you do circulations from a workstation, after which a browser cookie will remember the correct settings. If you do circulations under the wrong branch settings then Koha will reset the location of all items scanned to the incorrect branch and the statistical reports will credit all circulations to the wrong branch. </p>  

<!-- TMPL_INCLUDE name="help-bottom.inc" -->