<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">

<HTML>


	<TMPL_INCLUDE NAME="general-top.inc">

	<TMPL_INCLUDE NAME="cat-top.inc">

	<TMPL_INCLUDE NAME="general-first-column-divider.inc">

	
<div class="chumbs"><a href="/cgi-bin/koha/mainpage.pl">Home</a> > <a href="/cgi-bin/koha/catalogue-home.pl">Catalogue Search</a> > <a
href=/cgi-bin/koha/detail.pl?bib=<TMPL_VAR NAME="biblionumber">&type=intra>Biblio Details</a> > Group and Item Details</div>




<TMPL_LOOP NAME="BIBITEM_DATA">
	<table align="right"><tr><td>
<a class="button" href=/cgi-bin/koha/request.pl?bib=<TMPL_VAR NAME="biblionumber">>Requests</a></td></tr></table>


<h1>Group and Item Details For<br>
<a
href=/cgi-bin/koha/detail.pl?bib=<TMPL_VAR NAME="biblionumber">&type=intra><TMPL_VAR NAME="title">
(<TMPL_VAR NAME="author">)</a></h1>

<form action=/cgi-bin/koha/modbibitem.pl>
<input type=hidden name=bibitem value=<TMPL_VAR NAME="biblioitemnumber">>
<input type=hidden name=biblio value=<TMPL_VAR NAME="biblionumber">>


<!-------------------BIBLIO ITEM TABLE
is set up to only display those fields that a record has data for
------------>


<TABLE  class="more-details-group" align="left">
<TR class="more-details">
<td  class="more-details-header">
<H3> GROUP <TMPL_VAR NAME="biblioitemnumber"> - <TMPL_VAR NAME="description"></h3> </TD>
</TR>
<tr>
<TD class="more-details-data">
<INPUT TYPE="submit" name="submit"  VALUE="Edit" >
<INPUT TYPE="submit" name="delete"  VALUE="Delete">
<br>
<b>Biblionumber:</b> <TMPL_VAR NAME="biblionumber"><br>
<b>Item Type:</b> <TMPL_VAR NAME="itemtype"><br>
<b>Classification:</b> <TMPL_VAR NAME="classification"><TMPL_VAR NAME="dewey"><TMPL_VAR NAME="subclass"><br>

<TMPL_IF NAME="url"><b>URL:</b> <TMPL_VAR NAME="url"><br>	</TMPL_IF>
<TMPL_IF NAME="isbn"><b>ISBN:</b> <TMPL_VAR NAME="isbn"><br>	</TMPL_IF>
<TMPL_IF NAME="issn"><b>ISSN:</b> <TMPL_VAR NAME="issn"><br>	</TMPL_IF>
<TMPL_IF NAME="lccn"><b>LCCN:</b> <TMPL_VAR NAME="lccn"><br>	</TMPL_IF>

<TMPL_IF NAME="publishercode"><b>Publisher:</b> <TMPL_VAR NAME="publishercode"> <br>	</TMPL_IF>
<TMPL_IF NAME="place"><b>Place:</b> <TMPL_VAR NAME="place"><br>	</TMPL_IF>
<TMPL_IF NAME="publicationyear"><b>Date:</b> <TMPL_VAR NAME="publicationyear"><br>	</TMPL_IF>
<TMPL_IF NAME="volume"><b>Volume:</b> <TMPL_VAR NAME="volume"><br>	</TMPL_IF>
<TMPL_IF NAME="number"><b>Volume Number:</b> <TMPL_VAR NAME="number"><br>	</TMPL_IF>
<TMPL_IF NAME="volumeddesc"><b>Volume Description:</b> <TMPL_VAR NAME="volumeddesc"><br></TMPL_IF>
<TMPL_IF NAME="pages"><b>Pages:</b> <TMPL_VAR NAME="pages"><br>	</TMPL_IF>
<TMPL_IF NAME="size"><b>Size:</b> <TMPL_VAR NAME="size"><br>	</TMPL_IF>
<TMPL_IF NAME="loanlength"><b>Loan Length:</b> <TMPL_VAR NAME="loanlength"><br>	</TMPL_IF>
<TMPL_IF NAME="rentalcharge"><b>Rental Charge:</b> <TMPL_VAR NAME="rentalcharge"><br>	</TMPL_IF>
<TMPL_IF NAME="bnotes"><b>Notes:</b> <TMPL_VAR NAME="bnotes"><br>	</TMPL_IF>
<b>No. of Items:</b> <TMPL_VAR NAME="count">
</TD>
</tr>
</table>
</form>
</TMPL_LOOP>
<TMPL_LOOP NAME="ITEM_DATA">


<!--HOlder image between the tables when they display side by side-->

<img src="<TMPL_VAR name="themelang">/images/holder.gif" width=16 height=300 align=left>


<!-- Item table, showeing details of the item since it came into the library-->


<TABLE class="more-details-item" align="left">
<TR VALIGN=TOP>
<td  class="more-details-header"><h3>Item - Barcode
<TMPL_VAR NAME="barcode"></h3></TD>
</TR>
<tr class="more-details">
<TD class="more-details-data">
<form action=/cgi-bin/koha/moditem.pl method=post>
<input type=hidden name=bibitem value=<TMPL_VAR NAME="biblioitemnumber">>
<input type=hidden name=item value=<TMPL_VAR NAME="itemnumber">>
<input type=hidden name=type value=<TMPL_VAR NAME="type">>
<INPUT TYPE="submit" name="submit"  VALUE="Edit">
<INPUT TYPE="submit" name="delete"  VALUE="Delete">
<br>
<TMPL_IF NAME="homebranch"><b>Home Branch:</b> <TMPL_VAR NAME="homebranch"><br></TMPL_IF>
<TMPL_IF NAME="datelastseen"><b>Last seen:</b> <TMPL_VAR NAME="datelastseen"><br></TMPL_IF>
<TMPL_IF NAME="timestamp0"><b>Last borrowed:</b> <TMPL_VAR NAME="timestamp0"><br></TMPL_IF>
<!-- on issue bit -->
<TMPL_IF NAME="card0"><b>Last Borrower 1:</b> <a href="/cgi-bin/koha/moremember.pl?bornum=<TMPL_VAR NAME="card0">"><TMPL_VAR NAME="card0"></a><br></TMPL_IF>
<TMPL_IF NAME="card1"><b>Last Borrower 2:</b> <a href="/cgi-bin/koha/moremember.pl?bornum=<TMPL_VAR NAME="card1">"><TMPL_VAR NAME="card1"></a><br></TMPL_IF>
<TMPL_IF NAME="holdingbranch"><b>Current Branch:</b> <TMPL_VAR NAME="holdingbranch"><br></TMPL_IF>
<TMPL_IF NAME="replacementprice"><b>Replacement Price:</b> <TMPL_VAR NAME="replacementprice"><br></TMPL_IF>
<TMPL_IF NAME="itemlost"><b>Item lost:</b> <TMPL_VAR NAME="itemlost"><br></TMPL_IF>
<TMPL_IF NAME="paidfor"><b>Paid for:</b> <TMPL_VAR NAME="paidfor"><br></TMPL_IF>
<TMPL_IF NAME="itemnotes"><b>Notes:</b> <TMPL_VAR NAME="itemnotes"><br></TMPL_IF>
<TMPL_IF NAME="renewals"><b>Renewals:</b> <TMPL_VAR NAME="renewals"><br></TMPL_IF>
<a href="/cgi-bin/koha/acqui/acquire.pl?recieve=<TMPL_VAR NAME="ordernumber">&biblio=<TMPL_VAR NAME="biblionumber">&invoice=<TMPL_VAR NAME="booksellerinvoicenumber">&catview=yes">
<b>Accession Date:</b> <TMPL_VAR NAME="dateaccessioned"></a><br>
<TMPL_IF NAME="withdrawn"><b>Cancelled: <TMPL_VAR NAME="wthdrawn"><br></TMPL_IF>
<b><a
href=/cgi-bin/koha/bookcount.pl?&bib=<TMPL_VAR NAME="biblionumber">&bi=<TMPL_VAR NAME="biblioitemnumber">&itm=<TMPL_VAR NAME="itemnumber">>Total
Issues:</a></b> <TMPL_VAR NAME="issues"><br>
<b>Group Number:</b> <TMPL_VAR NAME="biblioitemnumber"> <br>
<b>Biblio number:</b> <TMPL_VAR NAME="biblionumber"> <br>



</TD>
</tr>
</table>
</form>
</TMPL_LOOP>

<p>
</form>

<TMPL_INCLUDE NAME="general-end.inc">
	

</BODY>

