<!-- TMPL_INCLUDE NAME="doc-head-open.inc" -->
<title>Koha staff client</title>
<!-- TMPL_INCLUDE NAME="doc-head-close.inc" -->
<!-- TMPL_INCLUDE NAME="menus.inc" -->

<div id="main">
    <h1>Welcome to Koha</h1>
    
        <!-- TMPL_IF name="koha_news_count" -->
            <p><!-- TMPL_VAR name="koha_news_count" --> recent news</p>
            <table>
            <!-- TMPL_LOOP name="koha_news" -->
                <tr>
                <th>
                    on <!-- TMPL_VAR name="newdate" -->, <!-- TMPL_VAR name="title" -->
                </th>
                <tr><td>
                    <p><!-- TMPL_VAR name="new" --></p>
                </td></tr>
            <!-- /TMPL_LOOP -->
            </table>
        <!-- /TMPL_IF -->
</div>

<!-- TMPL_INCLUDE NAME="intranet-bottom.inc" -->
